Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üìã PHPUnit Unit (PHPStan rules), üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üì¶ Yarn install on minimum Node.js version

üìã PHPUnit Unit (PHPStan rules):
  stage: ‚ö°Ô∏è Tests
  needs: []
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - docker-php-ext-enable pcov
  - cd core/tests/PHPStan
  - composer install
  - vendor/bin/phpunit tests --testdox --coverage-text --colors=always --coverage-cobertura=coverage.cobertura.xml --log-junit junit.xml
  artifacts:
  ...

üßπ JavaScript linting (eslint):
  before_script:
  - cd core
  - corepack enable
  - yarn install
  - cd ..
  cache:
    key:
    - .yarn-install-from-cache
    - cache
    - key
    paths:
    - .yarn-install-from-cache
    - cache
    - paths
    policy: pull-push
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
    CACHE_FILE: core/.eslintcache
  ...

üßπ CSS linting (stylelint):
  before_script:
  - cd core
  - corepack enable
  - yarn install
  - cd ..
  cache:
    key:
      files:
      - ./core/package.json
      - ./core/yarn.lock
    paths:
    - ./core/.yarn/cache
    policy: pull
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
    CACHE_FILE: core/.stylelintcache
  script:
  ...

üì¶ Yarn install on minimum Node.js version:
  stage: ü™Ñ Lint
  image: node:20
  variables:
    KUBERNETES_CPU_REQUEST: '1'
  script:
  - cd core
  - corepack enable
  - echo -e "Node version $(node --version)\nYarn version $(corepack yarn --version)"
  - yarn install

docs: #3623242 Drupal\Core\Config\StorageInterface::readMultiple() @return docs don't say what the array is keyed by
  core/lib/Drupal/Core/Config/StorageInterface.php
Due: none

feat: #3446354 Create a simple class to allow discovering recipes in the file system
  core/lib/Drupal/Core/Recipe/Finder.php
  core/tests/Drupal/KernelTests/Core/Recipe/RecipeFinderTest.php
Due: none

task: #3626470 Review Drupal 12 and 11.x composer dependencies for allowed versions with CVEs
  composer.json
  composer.lock
  composer/Metapackage/DevDependencies/composer.json
  core/composer.json
Due: none

task: #3626470 Review Drupal 12 and 11.x composer dependencies for allowed versions with CVEs
  composer.json
  composer.lock
  composer/Metapackage/DevDependencies/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  core/composer.json
Due: üìã PHPUnit Unit (PHPStan rules)

Drupal 12.0.0-beta1
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: none

Back to dev.
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: none

task: #3627134 Delete WorkspacesRequirements
  core/modules/workspaces/src/Install/Requirements/WorkspacesRequirements.php
Due: none

fix: #3626122 Remove return type from OptionsWidgetBase::massageFormValues()
  core/lib/Drupal/Core/Field/Plugin/Field/FieldWidget/OptionsWidgetBase.php
Due: none

fix: #2265487 ConfigEntity based lists with items containing non-ascii characters are not sorted correctly
  composer.lock
  core/composer.json
  core/lib/Drupal/Core/Config/Entity/ConfigEntityBase.php
  core/lib/Drupal/Core/Datetime/Entity/DateFormat.php
  core/lib/Drupal/Core/Entity/EntityDisplayModeBase.php
  core/lib/Drupal/Core/Language/Language.php
  core/lib/Drupal/Core/Utility/NaturalSort.php
  core/modules/block/src/Entity/Block.php
  core/modules/system/src/Entity/Action.php
  core/tests/Drupal/Tests/Core/Config/Entity/ConfigEntityBaseUnitTest.php
  core/tests/Drupal/Tests/Core/Utility/NaturalSortTest.php
Due: none

task: #3081025 Remove technical debt and complication from when doTrustedCallback() could either trigger errors or throw exceptions
  core/lib/Drupal/Core/Render/Renderer.php
  core/lib/Drupal/Core/Security/DoTrustedCallbackTrait.php
  core/lib/Drupal/Core/Security/StaticTrustedCallbackHelper.php
  core/lib/Drupal/Core/Security/TrustedCallbackInterface.php
  core/tests/Drupal/Tests/Core/Security/DoTrustedCallbackTraitTest.php
Due: none

task: #2079245 Provide better explanation of plugin configuration array for the PluginBase constructor, and reference plugin API docs
  core/lib/Drupal/Component/Plugin/PluginBase.php
Due: none

Drupal 11.5.x-dev
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: üìã PHPUnit Unit (PHPStan rules)

fix: #3627455 Branch 11.5.x and fix branch aliasing for PinnedDevDependencies
  composer/Generator/Builder/DrupalPinnedDevDependenciesBuilder.php
Due: none

fix: #3627455 Branch 11.5.x and fix branch aliasing for PinnedDevDependencies
  composer/Generator/Builder/DrupalPinnedDevDependenciesBuilder.php
  composer/Metapackage/PinnedDevDependencies/composer.json
Due: üìã PHPUnit Unit (PHPStan rules)

task: #3516706 Disallow dangerous filenames e.g. command injection characters
  core/modules/file/tests/src/Functional/FileFieldDisplayTest.php
  core/modules/file/tests/src/Functional/SaveUploadTest.php
  core/modules/system/src/EventSubscriber/SecurityFileUploadEventSubscriber.php
  core/modules/system/tests/src/Unit/Event/SecurityFileUploadEventSubscriberTest.php
Due: none

fix: #3507570 Use expectExceptionMessage()
  core/modules/ckeditor5/tests/src/Kernel/ConfigAction/AddItemToToolbarConfigActionTest.php
Due: none

fix: #3622958 Target can be null in htmx-assets.js
  core/misc/htmx/htmx-assets.js
  core/modules/system/tests/modules/test_htmx/src/Controller/HtmxFragmentController.php
  core/modules/system/tests/modules/test_htmx/src/Form/HtmxTestForm.php
  core/tests/Drupal/FunctionalJavascriptTests/Core/Htmx/HtmxDynamicFormTest.php
Due: üßπ JavaScript linting (eslint)

task: #3627057 Remove the navigation_top_bar module from core
  core/modules/navigation/modules/navigation_top_bar/navigation_top_bar.info.yml
Due: üßπ JavaScript linting (eslint)

fix: #3626740 AccessManager should (once again) bail out early to save resources and avoid adding cacheable metadata for no reason
  core/lib/Drupal/Core/Access/AccessManager.php
  core/modules/ckeditor5/tests/src/Functional/MediaEntityMetadataApiTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryPerformanceTestAssertions/administratorNodePage.yml
Due: üßπ JavaScript linting (eslint)

task: #3585957 Prevent the navigation sidebar being rendered via big pipe
  core/modules/navigation/src/NavigationRenderer.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/AssetAggregationAcrossPagesTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryAuthenticatedPerformanceTest.php
Due: none

fix: #3626548 Fix RunInSeparateProcesses typos
  core/tests/Drupal/Tests/Core/Test/BrowserTestBaseTest.php
  core/tests/PHPStan/Rules/TestClassClassMetadata.php
  core/tests/PHPStan/tests/TestClassClassMetadataTest.php
Due: üìã PHPUnit Unit (PHPStan rules)

task: #3625015 Convert final test .modules
  core/.phpstan-baseline.php
  core/modules/package_manager/tests/fixtures/build_test_projects/updated_module/1.0.0/updated_module.module
  core/modules/package_manager/tests/fixtures/build_test_projects/updated_module/1.1.0/updated_module.module
  core/modules/system/tests/modules/deprecation_hook_attribute_test/deprecation_hook_attribute_test.info.yml
  core/modules/system/tests/modules/deprecation_test/deprecation_test.module
  core/modules/system/tests/modules/deprecation_test/src/DeprecatedController.php
  core/modules/system/tests/modules/deprecation_test/src/Hook/DeprecationTestHooks.php
  core/modules/system/tests/modules/system_test/src/Controller/SystemTestController.php
  core/modules/system/tests/modules/system_test/system_test.module
  core/tests/Drupal/FunctionalTests/BrowserTestBaseTest.php
  core/tests/Drupal/KernelTests/Core/Extension/ModuleHandlerDeprecatedHookTest.php
Due: üßπ JavaScript linting (eslint)

task: #3563359 Explore why PHP 8.4 polyfill is not loaded for test runs on PHP 8.3
  core/lib/Drupal/Core/Entity/Sql/SqlContentEntityStorage.php
  core/modules/package_manager/tests/src/Build/TemplateProjectTestBase.php
Due: none

Path conditions:
  üìã PHPUnit Unit (PHPStan rules): any of: core/tests/PHPStan/**/*, composer/Metapackage/PinnedDevDependencies/composer.json
  üßπ JavaScript linting (eslint): any of: core/.eslint*, core/.prettier*, core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/.stylelintrc.json, core/.prettier*, core/package.json, core/yarn.lock, **/*.css
  üì¶ Yarn install on minimum Node.js version: any of: core/package.json, core/yarn.lock
