Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

üßπ JavaScript linting (eslint):
  needs:
  - üì¶Ô∏è Yarn
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - cd core
  - corepack enable
  - yarn run check:ckeditor5
  - yarn run lint:core-js-passing --format gitlab
  artifacts:
    reports:
      codequality: eslint-quality-report.json

üßπ CSS linting (stylelint):
  needs:
  - üì¶Ô∏è Yarn
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - corepack enable
  - cd core
  - yarn run build:css --check
  - yarn run lint:css --color --custom-formatter=node_modules/stylelint-formatter-gitlab
  artifacts:
    reports:
      codequality: stylelint-quality-report.json

üìî Validatable config:
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  artifacts:
    expire_in: 1 week
    expose_as: validatable-config
    paths:
    - HEAD.json
    - MR.json
  allow_failure:
    exit_codes:
    - 100
    - 101
    - 1
  script:
  - git checkout -f $CI_MERGE_REQUEST_DIFF_BASE_SHA
  ...

Issue #3403641 by omarlopesino, smustgrave, quietone, kristiaanvandeneynde: Unable to generate canonical, edit, and update URLs for entity test multilanguage with bundle
  core/modules/system/tests/modules/entity_test/src/Entity/EntityTestMulWithBundle.php
Due: none

Issue #3461318 by mstrelan, smustgrave, bbrala, catch, kingdutch, longwave, quietone, spokje, xjm, larowlan: Enforce return types in all new methods and functions
  core/.phpstan-baseline.php
  core/phpstan.neon.dist
Due: none

Issue #3469792 by amateescu, antonnavi, smustgrave, djdevin, quietone: Workspaces with thousands of items can't be published
  core/modules/workspaces/src/WorkspaceMerger.php
  core/modules/workspaces/src/WorkspacePublisher.php
Due: none

Issue #3475916 by spokje, longwave: Bump phpstan/phpstan to 1.12.4 to make daily "updated deps" QA run pass again
  composer.json
  composer.lock
  composer/Metapackage/DevDependencies/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  core/tests/PHPStan/composer.json
Due: none

Issue #3475916 by spokje, longwave: Bump phpstan/phpstan to 1.12.4 to make daily "updated deps" QA run pass again
  core/.phpstan-baseline.php
Due: none

Issue #3479912 by phenaproxima, alexpott: The content_editor_role recipe assigns a permission that might not exist
  core/recipes/content_editor_role/recipe.yml
Due: üßπ JavaScript linting (eslint)

Issue #3479665 by thejimbirch, danny englander, phenaproxima, pameeela: Add views.view.taxonomy_term.yml to tag_taxonomy recipe
  core/recipes/tags_taxonomy/recipe.yml
Due: üßπ JavaScript linting (eslint)

Issue #3446433 by sanket.tale, ahsannazir, nayana_mvr, gauravvvv, finnsky: Navigation: Theme aside layout builder section on navigation block page
  core/modules/navigation/css/base/layout-builder.css
  core/modules/navigation/css/base/layout-builder.pcss.css
Due: üßπ CSS linting (stylelint)

Issue #3303127 by phenaproxima, thejimbirch, alexpott, Wim Leers, nedjo, b_sharpe, laura.j.johnson@gmail.com: Determine which core config entity methods should be config actions
  core/lib/Drupal/Core/Config/Action/Attribute/ActionMethod.php
  core/lib/Drupal/Core/Config/Action/Plugin/ConfigAction/Deriver/EntityMethodDeriver.php
  core/lib/Drupal/Core/Config/Entity/ConfigEntityBase.php
  core/lib/Drupal/Core/Entity/EntityDisplayBase.php
  core/lib/Drupal/Core/Field/FieldConfigBase.php
  core/modules/block/src/Entity/Block.php
  core/modules/block/tests/src/Kernel/ConfigActionsTest.php
  core/modules/contact/src/Entity/ContactForm.php
  core/modules/contact/tests/src/Kernel/ConfigActionsTest.php
  core/modules/field/tests/src/Kernel/ConfigActionsTest.php
  core/modules/image/src/Entity/ImageStyle.php
  core/modules/image/tests/src/Kernel/ConfigActionsTest.php
  core/modules/language/src/Entity/ConfigurableLanguage.php
  core/modules/language/tests/src/Kernel/ConfigActionsTest.php
  core/modules/media/src/Entity/MediaType.php
  core/modules/media/tests/src/Kernel/ConfigActionsTest.php
  core/modules/node/src/Entity/NodeType.php
  core/modules/node/tests/src/Kernel/ConfigActionsTest.php
  core/modules/system/tests/modules/entity_test/config/schema/entity_test.schema.yml
  core/modules/system/tests/modules/entity_test/src/Entity/EntityTestWithBundle.php
  core/tests/Drupal/KernelTests/Core/Recipe/EntityMethodConfigActionsTest.php
  core/tests/Drupal/Tests/Core/Config/Action/ActionMethodAttributeTest.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #3302833 by akhil babu, b_sharpe, alexpott, oily, smustgrave: Improve PluginNotFound exception to include possible shorthand action IDs
  core/modules/block/tests/src/Kernel/ConfigActionsTest.php
Due: none

Issue #3227335 by mondrake, quietone, smustgrave, longwave: Deprecate unused kernel test assertions in AssertContentTrait
  core/tests/Drupal/KernelTests/AssertContentTrait.php
Due: none

Issue #3480180 by alexpott: Recipe validation error in 10.4.x
  core/lib/Drupal/Core/Recipe/Recipe.php
  core/tests/Drupal/KernelTests/Core/Recipe/RecipeValidationTest.php
Due: none

Issue #3438769 by vinmayiswamy, amateescu, catch, antonnavi, michelle: Sub workspace does not clear
  core/modules/workspaces/src/WorkspaceAssociation.php
  core/modules/workspaces/tests/src/Kernel/WorkspaceAssociationTest.php
Due: none

SA-CORE-2024-002 by prudloff, catch, larowlan, benjifisher, kim.pepper, wim leers, xjm
  core/modules/ckeditor5/src/Controller/CKEditor5ImageController.php
Due: none

Drupal 10.2.10
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  core/lib/Drupal.php
Due: none

Back to dev.
  core/lib/Drupal.php
Due: none

Issue #3480919 by mondrake: Method getMockForAbstractClass() is deprecated - replace in Drupal\Tests\views\Unit\Plugin\argument_validator\EntityTest
  core/.phpstan-baseline.php
  core/modules/views/tests/src/Unit/Plugin/argument_validator/EntityTest.php
  core/tests/Drupal/Tests/Core/Entity/EntityUnitTest.php
  core/tests/Drupal/Tests/Core/Entity/EntityUrlTest.php
  core/tests/Drupal/Tests/Core/Entity/StubEntityBase.php
Due: none

Issue #3479153 by phenaproxima, b_sharpe: InputConfigurator::collectAll() should use an internal passed-in recursion tracker, not a static variable
  core/lib/Drupal/Core/Recipe/InputConfigurator.php
Due: none

Issue #3464550 by phenaproxima, a.dmitriiev, b_sharpe, alexpott: Create config action which can create an entity for every bundle of another entity type
  core/lib/Drupal/Core/Config/Action/Plugin/ConfigAction/CreateForEachBundle.php
  core/lib/Drupal/Core/Config/Action/Plugin/ConfigAction/Deriver/CreateForEachBundleDeriver.php
  core/lib/Drupal/Core/Config/Action/Plugin/ConfigAction/EntityCreate.php
  core/tests/Drupal/KernelTests/Core/Recipe/WildcardConfigActionsTest.php
Due: none

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/package.json, core/yarn.lock, **/*.css
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module
