Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üìã PHPUnit Unit (PHPStan rules), üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üì¶ Yarn install on minimum Node.js version

üìã PHPUnit Unit (PHPStan rules):
  stage: ‚ö°Ô∏è Tests
  needs: []
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - docker-php-ext-enable pcov
  - cd core/tests/PHPStan
  - composer install
  - vendor/bin/phpunit tests --testdox --coverage-text --colors=always --coverage-cobertura=coverage.cobertura.xml --log-junit junit.xml
  artifacts:
  ...

üßπ JavaScript linting (eslint):
  before_script:
  - cd core
  - corepack enable
  - yarn install
  - cd ..
  cache:
    key:
    - .yarn-install-from-cache
    - cache
    - key
    paths:
    - .yarn-install-from-cache
    - cache
    - paths
    policy: pull-push
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
    CACHE_FILE: core/.eslintcache
  ...

üßπ CSS linting (stylelint):
  before_script:
  - cd core
  - corepack enable
  - yarn install
  - cd ..
  cache:
    key:
      files:
      - ./core/package.json
      - ./core/yarn.lock
    paths:
    - ./core/.yarn/cache
    policy: pull
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
    CACHE_FILE: core/.stylelintcache
  script:
  ...

üì¶ Yarn install on minimum Node.js version:
  stage: ü™Ñ Lint
  image: node:20
  variables:
    KUBERNETES_CPU_REQUEST: '1'
  script:
  - cd core
  - corepack enable
  - echo -e "Node version $(node --version)\nYarn version $(corepack yarn --version)"
  - yarn install

fix: #2781815 Content authored views relationship should be provided by node.module, not user.module
  core/modules/node/src/Hook/NodeViewsHooks.php
  core/modules/node/tests/modules/node_test_views/test_views/views.view.test_groupwise_user.yml
  core/modules/node/tests/src/Kernel/Views/RelationshipRepresentativeNodeTest.php
  core/modules/user/src/UserViewsData.php
Due: üßπ JavaScript linting (eslint)

feat: #3481627 Update user creation form to hide password and status fields when user is notified
  core/modules/user/src/AccountForm.php
  core/modules/user/src/RegisterForm.php
  core/modules/user/tests/src/Functional/UserCreateTest.php
  core/modules/user/tests/src/Functional/UserRolesAssignmentTest.php
  core/modules/user/tests/src/Kernel/UserAccountFormFieldsTest.php
  core/tests/Drupal/Nightwatch/Commands/drupalCreateUser.js
Due: üßπ JavaScript linting (eslint)

fix: #3610005 Styling not applied to Umami search form
  core/profiles/demo_umami/themes/umami/css/components/blocks/search/search.css
Due: üßπ CSS linting (stylelint)

task: #2831617 Deprecate global constants in locale module
  core/modules/config_translation/tests/src/Functional/ConfigTranslationListUiTest.php
  core/modules/config_translation/tests/src/Functional/ConfigTranslationUiTest.php
  core/modules/locale/locale.bulk.inc
  core/modules/locale/locale.install
  core/modules/locale/locale.module
  core/modules/locale/locale.translation.inc
  core/modules/locale/src/File/LocaleFileManager.php
  core/modules/locale/src/Form/ImportForm.php
  core/modules/locale/src/Form/LocaleSettingsForm.php
  core/modules/locale/src/Form/TranslateFormBase.php
  core/modules/locale/src/Form/TranslationStatusForm.php
  core/modules/locale/src/Gettext.php
  core/modules/locale/src/Hook/LocaleRequirements.php
  core/modules/locale/src/LocaleDefaultOptions.php
  core/modules/locale/src/LocaleFetch.php
  core/modules/locale/src/LocaleImportBatch.php
  core/modules/locale/src/LocaleJs.php
  core/modules/locale/src/LocaleProjectChecker.php
  core/modules/locale/src/LocaleSource.php
  core/modules/locale/src/LocaleTranslationSource.php
  core/modules/locale/src/Model/Overwrite.php
  core/modules/locale/src/Model/SourceType.php
  core/modules/locale/src/Model/TranslationUpdateMode.php
  core/modules/locale/src/PoDatabaseReader.php
  core/modules/locale/src/PoDatabaseWriter.php
  core/modules/locale/src/TranslationString.php
  core/modules/locale/tests/src/Functional/LocaleConfigTranslationImportTest.php
  core/modules/locale/tests/src/Functional/LocaleConfigTranslationTest.php
  core/modules/locale/tests/src/Functional/LocaleFileHashTest.php
  core/modules/locale/tests/src/Functional/LocaleImportFunctionalTest.php
  core/modules/locale/tests/src/Functional/LocaleTranslationChangeProjectVersionTest.php
  core/modules/locale/tests/src/Functional/LocaleUpdateBase.php
  core/modules/locale/tests/src/Functional/LocaleUpdateTest.php
  core/modules/locale/tests/src/Kernel/LocaleBatchTest.php
  core/modules/locale/tests/src/Kernel/LocaleStringTest.php
  core/tests/Drupal/FunctionalTests/Installer/InstallerExistingConfigSyncDirectoryMultilingualTest.php
Due: none

task: #2831617 Deprecate global constants in locale module
  core/modules/config_translation/tests/src/Functional/ConfigTranslationListUiTest.php
  core/modules/config_translation/tests/src/Functional/ConfigTranslationUiTest.php
  core/modules/contact/tests/src/Functional/ConfigTranslationListUiTest.php
  core/modules/locale/locale.bulk.inc
  core/modules/locale/locale.install
  core/modules/locale/locale.module
  core/modules/locale/locale.translation.inc
  core/modules/locale/src/File/LocaleFileManager.php
  core/modules/locale/src/Form/ImportForm.php
  core/modules/locale/src/Form/LocaleSettingsForm.php
  core/modules/locale/src/Form/TranslateFormBase.php
  core/modules/locale/src/Form/TranslationStatusForm.php
  core/modules/locale/src/Gettext.php
  core/modules/locale/src/Hook/LocaleRequirements.php
  core/modules/locale/src/LocaleDefaultOptions.php
  core/modules/locale/src/LocaleFetch.php
  core/modules/locale/src/LocaleImportBatch.php
  core/modules/locale/src/LocaleJs.php
  core/modules/locale/src/LocaleProjectChecker.php
  core/modules/locale/src/LocaleSource.php
  core/modules/locale/src/LocaleTranslationSource.php
  core/modules/locale/src/Model/Overwrite.php
  core/modules/locale/src/Model/SourceType.php
  core/modules/locale/src/Model/TranslationUpdateMode.php
  core/modules/locale/src/PoDatabaseReader.php
  core/modules/locale/src/PoDatabaseWriter.php
  core/modules/locale/src/TranslationString.php
  core/modules/locale/tests/src/Functional/LocaleConfigTranslationImportTest.php
  core/modules/locale/tests/src/Functional/LocaleConfigTranslationTest.php
  core/modules/locale/tests/src/Functional/LocaleFileHashTest.php
  core/modules/locale/tests/src/Functional/LocaleImportFunctionalTest.php
  core/modules/locale/tests/src/Functional/LocaleTranslationChangeProjectVersionTest.php
  core/modules/locale/tests/src/Functional/LocaleUpdateBase.php
  core/modules/locale/tests/src/Functional/LocaleUpdateTest.php
  core/modules/locale/tests/src/Kernel/LocaleBatchTest.php
  core/modules/locale/tests/src/Kernel/LocaleStringTest.php
  core/modules/shortcut/tests/src/Functional/ConfigTranslationListUiTest.php
  core/tests/Drupal/FunctionalTests/Installer/InstallerExistingConfigSyncDirectoryMultilingualTest.php
Due: none

refactor: #3532930 Make Drupal\Core\Database\Database type strict and PHPStan L10 compliant
  core/.phpstan-baseline.php
  core/lib/Drupal/Core/Database/Connection.php
  core/lib/Drupal/Core/Database/Database.php
  core/lib/Drupal/Core/Database/Log.php
  core/lib/Drupal/Core/Extension/DatabaseDriver.php
  core/tests/Drupal/KernelTests/Core/Database/ConnectionTest.php
  core/tests/Drupal/Tests/Core/Database/ConnectionTest.php
  core/tests/Drupal/Tests/Core/Site/SettingsTest.php
Due: none

task: #3375423 Deprecate file_managed_file_save_upload(), file_save_upload() and _file_save_upload_from_form() and replace with a service
  core/modules/file/file.api.php
  core/modules/file/file.module
  core/modules/file/file.services.yml
  core/modules/file/src/Element/ManagedFile.php
  core/modules/file/src/FileAccessControlHandler.php
  core/modules/file/src/FileRepositoryInterface.php
  core/modules/file/src/Plugin/Field/FieldType/FileItem.php
  core/modules/file/src/Upload/FormFileUploader.php
  core/modules/file/src/Upload/ManagedFileElementHelper.php
  core/modules/file/src/Validation/FileValidatorSettingsTrait.php
  core/modules/file/tests/file_test/src/Form/FileTestForm.php
  core/modules/file/tests/file_test/src/Form/FileTestSaveUploadFromForm.php
  core/modules/file/tests/src/Functional/SaveUploadFormTest.php
  core/modules/file/tests/src/Functional/SaveUploadTest.php
  core/modules/file/tests/src/Kernel/FileSaveUploadTest.php
  core/modules/locale/src/Form/ImportForm.php
  core/modules/navigation/src/Form/SettingsForm.php
  core/modules/system/src/Form/ThemeSettingsForm.php
Due: üßπ JavaScript linting (eslint)

task: #3613629 It should be easier to test Drupal in a different language
  core/modules/help/tests/src/Functional/HelpTopicTranslatedTestBase.php
  core/modules/locale/tests/src/Functional/LocaleNonInteractiveInstallTest.php
  core/modules/locale/tests/src/Functional/LocaleThemeInstallTest.php
  core/modules/node/tests/src/Functional/NodeTypeTranslationTest.php
  core/tests/Drupal/Tests/Traits/Core/Locale/InstallerLanguageTrait.php
Due: none

task: #3613629 It should be easier to test Drupal in a different language
  core/modules/help/tests/src/Functional/HelpTopicTranslatedTestBase.php
  core/modules/locale/tests/src/Functional/LocaleThemeInstallTest.php
  core/modules/node/tests/src/Functional/NodeTypeTranslationTest.php
  core/tests/Drupal/Tests/Traits/Core/Locale/InstallerLanguageTrait.php
Due: none

fix: #3389715 Diffs with different line endings leads to Invalid $mode 3 specified
  core/lib/Drupal/Component/Diff/DiffOpOutputBuilder.php
  core/tests/Drupal/Tests/Component/Diff/DiffFormatterTest.php
  core/tests/Drupal/Tests/Component/Diff/DiffOpOutputBuilderTest.php
Due: none

fix: #3614993 AjaxRenderer::renderResponse() should handle a render array with no attachments
  core/lib/Drupal/Core/Render/MainContent/AjaxRenderer.php
  core/tests/Drupal/Tests/Core/Controller/AjaxRendererTest.php
Due: none

task: #3620228 Remove text_with_summary
  core/modules/text/src/Plugin/Field/FieldFormatter/TextSummaryOrTrimmedFormatter.php
  core/modules/text/src/Plugin/Field/FieldType/TextWithSummaryItem.php
  core/modules/text/src/Plugin/Field/FieldWidget/TextareaWithSummaryWidget.php
  core/modules/text/tests/fixtures/update/add-text-with-summary-field.php
  core/modules/text/tests/src/Functional/Update/TextWithSummaryUpdatePathTest.php
  core/modules/text/text.install
  core/modules/text/text.libraries.yml
  core/modules/text_with_summary/config/schema/text_with_summary.schema.yml
  core/modules/text_with_summary/js/text.js
  core/modules/text_with_summary/src/Hook/TextWithSummaryHooks.php
  core/modules/text_with_summary/src/Plugin/Field/FieldFormatter/TextSummaryOrTrimmedFormatter.php
  core/modules/text_with_summary/src/Plugin/Field/FieldType/TextWithSummaryItem.php
  core/modules/text_with_summary/src/Plugin/Field/FieldWidget/TextareaWithSummaryWidget.php
  core/modules/text_with_summary/tests/modules/text_summary_test/js/text-summary-override.js
  core/modules/text_with_summary/tests/modules/text_summary_test/src/Hook/TextSummaryTestHooks.php
  core/modules/text_with_summary/tests/modules/text_summary_test/text_summary_test.info.yml
  core/modules/text_with_summary/tests/modules/text_summary_test/text_summary_test.libraries.yml
  core/modules/text_with_summary/tests/src/Functional/GenericTest.php
  core/modules/text_with_summary/tests/src/Functional/TextSummaryNodeFieldsTokenTest.php
  core/modules/text_with_summary/tests/src/Functional/TextareaWithSummaryTest.php
  core/modules/text_with_summary/tests/src/FunctionalJavascript/TextareaWithSummaryTest.php
  core/modules/text_with_summary/tests/src/Kernel/TextFormatterTest.php
  core/modules/text_with_summary/tests/src/Kernel/TextSummaryTest.php
  core/modules/text_with_summary/tests/src/Kernel/TextWithSummaryFileUsageTest.php
  core/modules/text_with_summary/tests/src/Kernel/TextWithSummaryItemTest.php
  core/modules/text_with_summary/tests/src/Kernel/TextWithSummaryTokenReplaceTest.php
  core/modules/text_with_summary/text_with_summary.info.yml
  core/modules/text_with_summary/text_with_summary.libraries.yml
Due: üßπ JavaScript linting (eslint)

task: #3583153 Allow to invoke multiple implementations of a specific module with ModuleHandler::invoke()
  core/lib/Drupal/Core/Extension/ModuleHandler.php
  core/lib/Drupal/Core/Extension/ModuleHandlerInterface.php
  core/modules/system/tests/modules/hook_single_invoke/hook_single_invoke.info.yml
  core/modules/system/tests/modules/hook_single_invoke/src/Hook/TestHookInvoke.php
  core/modules/system/tests/src/Kernel/Extension/ModuleHandlerTest.php
Due: üßπ JavaScript linting (eslint)

task: #3426303 Move login performance testing to Umami
  core/profiles/demo_umami/tests/src/FunctionalJavascript/MultipleRequestsPerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/MultipleRequestsPerformanceTestAssertions/umamiFrontAndRecipePages.yml
  core/profiles/demo_umami/tests/src/FunctionalJavascript/MultipleRequestsPerformanceTestAssertions/umamiFrontAndRecipePagesAuthenticated.yml
  core/profiles/demo_umami/tests/src/FunctionalJavascript/MultipleRequestsPerformanceTestAssertions/umamiFrontAndRecipePagesEditor.yml
  core/profiles/demo_umami/tests/src/FunctionalJavascript/MultipleRequestsPerformanceTestAssertions/umamiLogin.sql
  core/profiles/demo_umami/tests/src/FunctionalJavascript/MultipleRequestsPerformanceTestAssertions/umamiLogin.yml
  core/profiles/demo_umami/tests/src/FunctionalJavascript/MultipleRequestsPerformanceTestAssertions/umamiNodeAddEditor.yml
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryPerformanceTest.php
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTest.php
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTestAssertions/standardBlockLogin.sql
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTestAssertions/standardBlockLogin.yml
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTestAssertions/standardLogin.sql
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTestAssertions/standardLogin.yml
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTestAssertions/testAdmin.yml
Due: üßπ JavaScript linting (eslint)

task: #3619240 Do not automatically update existing Stylesheet/ScriptBytes in performance test metrics if it is within accepted range
  core/tests/Drupal/Tests/PerformanceTestTrait.php
Due: none

fix: #3610122 Field data for multiple cardinality fields are not populated on entity load
  core/lib/Drupal/Core/Entity/Sql/SqlContentEntityStorage.php
  core/modules/node/tests/src/Kernel/NodeStorageLoadFieldDataTest.php
Due: none

Drupal 12.0.0-alpha1
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/DevDependencies/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: üìã PHPUnit Unit (PHPStan rules)

Back to dev.
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/DevDependencies/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: üìã PHPUnit Unit (PHPStan rules)

task: #3426303 Move login performance testing to Umami
  core/profiles/demo_umami/tests/src/FunctionalJavascript/MultipleRequestsPerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/MultipleRequestsPerformanceTestAssertions/umamiFrontAndRecipePages.yml
  core/profiles/demo_umami/tests/src/FunctionalJavascript/MultipleRequestsPerformanceTestAssertions/umamiFrontAndRecipePagesAuthenticated.yml
  core/profiles/demo_umami/tests/src/FunctionalJavascript/MultipleRequestsPerformanceTestAssertions/umamiFrontAndRecipePagesEditor.yml
  core/profiles/demo_umami/tests/src/FunctionalJavascript/MultipleRequestsPerformanceTestAssertions/umamiLogin.sql
  core/profiles/demo_umami/tests/src/FunctionalJavascript/MultipleRequestsPerformanceTestAssertions/umamiLogin.yml
  core/profiles/demo_umami/tests/src/FunctionalJavascript/MultipleRequestsPerformanceTestAssertions/umamiNodeAddEditor.yml
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryPerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryPerformanceTestAssertions/administratorNodePage.yml
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryPerformanceTestAssertions/authenticatedFrontPage.yml
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryPerformanceTestAssertions/umamiFrontAndRecipePages.yml
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryPerformanceTestAssertions/umamiFrontAndRecipePagesAuthenticated.yml
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryPerformanceTestAssertions/umamiFrontAndRecipePagesEditor.yml
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryPerformanceTestAssertions/umamiFrontPageColdCache.yml
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryPerformanceTestAssertions/umamiFrontPageCoolCache.yml
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryPerformanceTestAssertions/umamiFrontPageHotCache.yml
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryPerformanceTestAssertions/umamiNodeAddEditor.yml
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryPerformanceTestAssertions/umamiNodePageColdCache.yml
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryPerformanceTestAssertions/umamiNodePageCoolCache.yml
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryPerformanceTestAssertions/umamiNodePageHotCache.yml
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryPerformanceTestAssertions/umamiNodePageWarmCache.yml
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTest.php
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTestAssertions/standardBlockLogin.sql
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTestAssertions/standardBlockLogin.yml
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTestAssertions/standardLogin.sql
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTestAssertions/standardLogin.yml
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTestAssertions/testAdmin.yml
Due: üßπ JavaScript linting (eslint)

task: #3549134 Move text_with_summary to its own module
  core/modules/text/text.install
Due: none

Drupal 10.6.16
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: üìã PHPUnit Unit (PHPStan rules)

Back to dev.
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: üìã PHPUnit Unit (PHPStan rules)

Drupal 11.4.6
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/DevDependencies/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: üìã PHPUnit Unit (PHPStan rules)

fix: #3610122 Field data for multiple cardinality fields are not populated on entity load
  core/lib/Drupal/Core/Entity/Sql/SqlContentEntityStorage.php
  core/modules/node/tests/src/FunctionalJavascript/NodePerformanceTestAssertions/nodePromotedContentPage.sql
  core/modules/node/tests/src/Kernel/NodeStorageLoadFieldDataTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/MultipleRequestsPerformanceTestAssertions/umamiLogin.sql
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryPerformanceTestAssertions/umamiNodePageWarmCache.sql
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTestAssertions/standardNodePage.sql
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTestAssertions/standardUserPage.sql
Due: none

feat: #3555916 Update to htmx 4
  core/assets/vendor/htmx/htmx.js
  core/assets/vendor/htmx/htmx.min.js
  core/core.libraries.yml
  core/lib/Drupal/Core/Form/FormBuilder.php
  core/lib/Drupal/Core/Form/FormBuilderInterface.php
  core/lib/Drupal/Core/Htmx/Htmx.php
  core/lib/Drupal/Core/Htmx/HtmxRequestInfoTrait.php
  core/misc/htmx/htmx-assets.js
  core/misc/htmx/htmx-behaviors.js
  core/modules/big_pipe/js/big_pipe.commands.js
  core/modules/system/tests/modules/js_testing_ajax_request_test/js/js_testing_ajax_request_test.js
  core/modules/system/tests/modules/js_testing_ajax_request_test/js_testing_ajax_request_test.libraries.yml
  core/modules/system/tests/modules/test_htmx/js/behavior.js
  core/modules/system/tests/modules/test_htmx/src/Controller/HtmxTestAttachmentsController.php
  core/modules/system/tests/modules/test_htmx/src/Form/HtmxTestForm.php
  core/modules/system/tests/modules/test_htmx/test_htmx.routing.yml
  core/package.json
  core/profiles/demo_umami/tests/src/FunctionalJavascript/MultipleRequestsPerformanceTestAssertions/umamiFrontAndRecipePages.yml
  core/profiles/demo_umami/tests/src/FunctionalJavascript/MultipleRequestsPerformanceTestAssertions/umamiFrontAndRecipePagesAuthenticated.yml
  core/profiles/demo_umami/tests/src/FunctionalJavascript/MultipleRequestsPerformanceTestAssertions/umamiFrontAndRecipePagesEditor.yml
  core/profiles/demo_umami/tests/src/FunctionalJavascript/MultipleRequestsPerformanceTestAssertions/umamiNodeAddEditor.yml
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryPerformanceTestAssertions/administratorNodePage.yml
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryPerformanceTestAssertions/authenticatedFrontPage.yml
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryPerformanceTestAssertions/umamiFrontPageColdCache.yml
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryPerformanceTestAssertions/umamiFrontPageCoolCache.yml
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryPerformanceTestAssertions/umamiFrontPageHotCache.yml
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryPerformanceTestAssertions/umamiNodePageColdCache.yml
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryPerformanceTestAssertions/umamiNodePageCoolCache.yml
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryPerformanceTestAssertions/umamiNodePageHotCache.yml
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryPerformanceTestAssertions/umamiNodePageWarmCache.yml
  core/tests/Drupal/FunctionalJavascriptTests/Core/Htmx/HtmxDynamicFormTest.php
  core/tests/Drupal/KernelTests/Core/Htmx/HtmxRendererTest.php
  core/tests/Drupal/KernelTests/Core/Htmx/HtmxRequestTest.php
  core/tests/Drupal/Nightwatch/Tests/htmx/htmxTest.js
  core/tests/Drupal/TestSite/HtmxAssetLoadTestSetup.php
  core/tests/Drupal/Tests/Core/Htmx/HtmxAttributesTest.php
  core/tests/Drupal/Tests/Core/Htmx/HtmxHeadersTest.php
  core/tests/Drupal/Tests/Core/Htmx/HtmxRequestInfoTest.php
  core/yarn.lock
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üì¶ Yarn install on minimum Node.js version

Path conditions:
  üìã PHPUnit Unit (PHPStan rules): any of: core/tests/PHPStan/**/*, composer/Metapackage/PinnedDevDependencies/composer.json
  üßπ JavaScript linting (eslint): any of: core/.eslint*, core/.prettier*, core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/.stylelintrc.json, core/.prettier*, core/package.json, core/yarn.lock, **/*.css
  üì¶ Yarn install on minimum Node.js version: any of: core/package.json, core/yarn.lock
