Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

üßπ JavaScript linting (eslint):
  needs:
  - üì¶Ô∏è Yarn
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - cd core
  - corepack enable
  - yarn run check:ckeditor5
  - yarn run lint:core-js-passing --format gitlab
  artifacts:
    reports:
      codequality: eslint-quality-report.json

üßπ CSS linting (stylelint):
  needs:
  - üì¶Ô∏è Yarn
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - corepack enable
  - cd core
  - yarn run build:css --check
  - yarn run lint:css --color --custom-formatter=node_modules/stylelint-formatter-gitlab
  artifacts:
    reports:
      codequality: stylelint-quality-report.json

üìî Validatable config:
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  artifacts:
    expire_in: 1 week
    expose_as: validatable-config
    paths:
    - HEAD.json
    - MR.json
  allow_failure:
    exit_codes:
    - 100
    - 101
    - 1
  script:
  - git checkout -f $CI_MERGE_REQUEST_DIFF_BASE_SHA
  ...

Revert "Issue #3521621 by mstrelan: [random test failure] jQuery Events Deprecation Tests (Tests/dialogDeprecations)"
  core/tests/Drupal/FunctionalJavascriptTests/Dialog/DialogDeprecationsTest.php
  core/tests/Drupal/Nightwatch/Tests/dialogDeprecations.js
Due: üßπ JavaScript linting (eslint)

Issue #3519602 by mondrake, smustgrave: Bump PHPStan and family to latest versions
  composer.lock
  composer/Metapackage/PinnedDevDependencies/composer.json
  core/lib/Drupal/Core/File/MimeType/ExtensionMimeTypeGuesser.php
  core/lib/Drupal/Core/Password/PhpassHashedPasswordBase.php
  core/lib/Drupal/Core/Theme/Component/ComponentMetadata.php
  core/tests/PHPStan/composer.json
Due: none

Issue #3520944 by phenaproxima, wim leers, borisson_, longwave: Make menu blocks (block.settings.system_menu_block:*) fully validatable
  core/lib/Drupal/Core/Menu/Plugin/Validation/Constraint/MenuLinkDepthConstraint.php
  core/lib/Drupal/Core/Menu/Plugin/Validation/Constraint/MenuLinkDepthConstraintValidator.php
  core/modules/block/block.post_update.php
  core/modules/block/migrations/d6_block.yml
  core/modules/block/src/Plugin/migrate/process/BlockSettings.php
  core/modules/block/tests/fixtures/update/add-menu-block-with-zero-depth.php
  core/modules/block/tests/src/Functional/Update/MenuBlockDepthTest.php
  core/modules/block/tests/src/Kernel/BlockValidationTest.php
  core/modules/block/tests/src/Kernel/Migrate/d6/MigrateBlockContentTranslationTest.php
  core/modules/block/tests/src/Kernel/Migrate/d6/MigrateBlockTest.php
  core/modules/block/tests/src/Unit/Plugin/migrate/process/BlockSettingsTest.php
  core/modules/menu_ui/tests/src/Functional/MenuUiTest.php
  core/modules/system/config/schema/system.schema.yml
  core/modules/system/src/Plugin/Block/SystemMenuBlock.php
  core/modules/system/tests/src/Kernel/Block/SystemMenuBlockTest.php
  core/profiles/demo_umami/config/install/block.block.umami_footer.yml
  core/profiles/minimal/config/install/block.block.stark_admin.yml
  core/profiles/minimal/config/install/block.block.stark_tools.yml
  core/tests/fixtures/config_install/multilingual/block.block.stark_admin.yml
  core/tests/fixtures/config_install/multilingual/block.block.stark_tools.yml
  core/tests/fixtures/config_install/testing_config_install/block.block.stark_admin.yml
  core/tests/fixtures/config_install/testing_config_install/block.block.stark_tools.yml
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #3508196 by mcdruid, smustgrave, longwave, benjifisher, greggles, larowlan, jenlampton, xjm, quicksketch: Add tests for SA-CORE-2024-006
  core/tests/Drupal/KernelTests/Core/File/FileDeleteGadgetChainTest.php
Due: none

Issue #3514197 by acbramley, nicxvan: ModuleHandler::resetImplementations should reset $this->invokeMap
  core/lib/Drupal/Core/Extension/ModuleHandler.php
  core/tests/Drupal/KernelTests/Core/Extension/ModuleHandlerTest.php
Due: none

Issue #3506931 by mondrake, brandonlira, adwivedi008, daffie, charlliequadros, smustgrave: Deprecate passing $root to \Drupal\Core\Database\Connection::createConnectionOptionsFromUrl
  core/lib/Drupal/Core/Database/Connection.php
  core/lib/Drupal/Core/Database/Database.php
  core/modules/sqlite/src/Driver/Database/sqlite/Connection.php
  core/modules/sqlite/tests/src/Unit/ConnectionTest.php
Due: none

Issue #3517023 by acbramley, mstrelan: Convert ckEditor5CodeSyntaxTest to WebDriver test
  core/.phpstan-baseline.php
  core/modules/ckeditor5/tests/src/FunctionalJavascript/CKEditor5CodeSyntaxTest.php
  core/modules/ckeditor5/tests/src/Nightwatch/Tests/ckEditor5CodeSyntaxTest.js
  core/modules/ckeditor5/tests/src/Traits/CKEditor5TestTrait.php
Due: üßπ JavaScript linting (eslint)

Issue #3029729 followup by mondrake: Restore documentation on variable arguments in Drupal\Core\Database\Query\AlterableInterface::hasAllTags() and hasAnyTag()
  core/.deprecation-ignore.txt
Due: none

Issue #3513129 by quietone, longwave, mstrelan: Remove uses of FormattableMarkup in Functional test assertion messages
  core/modules/content_translation/tests/src/Functional/ContentTranslationWorkflowsTest.php
  core/modules/file/tests/src/Functional/FileFieldTestBase.php
  core/modules/help/tests/src/Functional/HelpTest.php
  core/modules/shortcut/tests/src/Functional/ShortcutLinksTest.php
  core/modules/views_ui/tests/src/Functional/FilterEntityReferenceWebTest.php
Due: none

Issue #3519381 by mstrelan: Unskip ScaffoldUpgradeTest
  core/tests/Drupal/Tests/Composer/Plugin/Scaffold/Functional/ScaffoldUpgradeTest.php
Due: none

Issue #3520103 by andypost: Update CI label as the base image for mysql-9 now is 9.3
  .gitlab-ci.yml
Due: üßπ JavaScript linting (eslint)

Issue #3478408 by jaydev bhatt, quietone, goonerw: Fix errors in update-countries.sh
  core/scripts/update-countries.sh
Due: none

Revert "Issue #3478408 by jaydev bhatt, quietone, goonerw: Fix errors in update-countries.sh"
  core/scripts/update-countries.sh
Due: none

Revert "Issue #3514197 by acbramley, nicxvan: ModuleHandler::resetImplementations should reset $this->invokeMap"
  core/lib/Drupal/Core/Extension/ModuleHandler.php
  core/tests/Drupal/KernelTests/Core/Extension/ModuleHandlerTest.php
Due: none

Revert "Issue #3521621 by mstrelan: [random test failure] jQuery Events Deprecation Tests (Tests/dialogDeprecations)"
  core/tests/Drupal/Nightwatch/Tests/dialogDeprecations.js
Due: üßπ JavaScript linting (eslint)

Revert "Issue #3517217 by maxwhitehead, fjgarlin: CI: Using stale drupalci chromedriver image (`chromedriver` is stale, `webdriver-chromedriver` gets updates)"
  .gitlab-ci/pipeline.yml
Due: üßπ JavaScript linting (eslint)

Revert "Issue #3424720 by vidorado, douggreen, immaculatexavier, smustgrave, uri_frazier: LanguageNegotiationUrl unnecessarily adds domain to outbound URL's"
  core/modules/block/tests/src/Functional/BlockUiTest.php
  core/modules/language/src/Plugin/LanguageNegotiation/LanguageNegotiationUrl.php
  core/modules/language/tests/src/Unit/LanguageNegotiationUrlTest.php
Due: none

Issue #3411185 by govind_giri_goswami, brandonlira, santhosh@21, rodrigoaguilera, joachim, smustgrave, borisson_: docs for return values from various EntityDisplayRepositoryInterface() are unclear
  core/lib/Drupal/Core/Entity/EntityDisplayRepositoryInterface.php
Due: none

Issue #3518952 by avpaderno, prabha1997, smustgrave: Fix grammar in FormattableMarkup::placeholderFormat() comments
  core/lib/Drupal/Component/Render/FormattableMarkup.php
Due: none

Issue #3511186 by grimreaper: Media Library currentSelection not reset properly
  core/modules/media_library/js/media_library.ui.js
Due: üßπ JavaScript linting (eslint)

Issue #3265945 by berdir, duadua, catch, godotislate, quietone, andypost, dww, larowlan: Deprecate plugins using annotations and plugin types not supporting attributes
  core/lib/Drupal/Core/Plugin/DefaultPluginManager.php
  core/lib/Drupal/Core/Plugin/Discovery/AttributeDiscoveryWithAnnotations.php
  core/modules/ckeditor5/tests/src/Kernel/CKEditor5PluginManagerTest.php
  core/modules/migrate/src/Plugin/Discovery/AnnotatedDiscoveryAutomatedProvidersTrait.php
  core/modules/migrate/src/Plugin/Discovery/AttributeDiscoveryWithAnnotationsAutomatedProviders.php
  core/modules/system/tests/modules/lazy_route_provider_install_test/src/PluginManager.php
  core/tests/Drupal/KernelTests/Core/Plugin/DefaultPluginManagerTest.php
  core/tests/Drupal/Tests/Core/Layout/LayoutPluginManagerTest.php
Due: none

Issue #3470895 by quietone, longwave: Add blacklist and whitelist to the list of flagwords
  .gitlab-ci/pipeline.yml
  composer/Plugin/Scaffold/AllowedPackages.php
  core/.cspell.json
  core/misc/autocomplete.js
  core/modules/locale/locale.compare.inc
  core/modules/path_alias/path_alias.services.yml
  core/modules/path_alias/src/AliasManager.php
  core/modules/path_alias/src/AliasWhitelist.php
  core/modules/path_alias/src/AliasWhitelistInterface.php
  core/modules/system/system.install
Due: üßπ JavaScript linting (eslint)

Issue #3512835 by nicxvan: [11.1.x] Add BC stubs for Hook ordering
  core/lib/Drupal/Core/Hook/Attribute/Hook.php
  core/lib/Drupal/Core/Hook/Attribute/HookAttributeInterface.php
  core/lib/Drupal/Core/Hook/Attribute/LegacyModuleImplementsAlter.php
  core/lib/Drupal/Core/Hook/Attribute/RemoveHook.php
  core/lib/Drupal/Core/Hook/Attribute/ReorderHook.php
  core/lib/Drupal/Core/Hook/Order/Order.php
  core/lib/Drupal/Core/Hook/Order/OrderAfter.php
  core/lib/Drupal/Core/Hook/Order/OrderBefore.php
  core/lib/Drupal/Core/Hook/Order/OrderInterface.php
  core/lib/Drupal/Core/Hook/Order/RelativeOrderBase.php
  core/lib/Drupal/Core/Hook/OrderOperation/BeforeOrAfter.php
  core/lib/Drupal/Core/Hook/OrderOperation/FirstOrLast.php
  core/lib/Drupal/Core/Hook/OrderOperation/OrderOperation.php
Due: none

Issue #3520242 by grimreaper, pdureau: Incorrect render structure in Navigation PageContext
  core/modules/navigation/src/Plugin/TopBarItem/PageContext.php
Due: none

Revert "Issue #3512835 by nicxvan: [11.1.x] Add BC stubs for Hook ordering"
  core/lib/Drupal/Core/Hook/Attribute/Hook.php
  core/lib/Drupal/Core/Hook/Attribute/HookAttributeInterface.php
  core/lib/Drupal/Core/Hook/Attribute/LegacyModuleImplementsAlter.php
  core/lib/Drupal/Core/Hook/Attribute/RemoveHook.php
  core/lib/Drupal/Core/Hook/Attribute/ReorderHook.php
  core/lib/Drupal/Core/Hook/Order/Order.php
  core/lib/Drupal/Core/Hook/Order/OrderAfter.php
  core/lib/Drupal/Core/Hook/Order/OrderBefore.php
  core/lib/Drupal/Core/Hook/Order/OrderInterface.php
  core/lib/Drupal/Core/Hook/Order/RelativeOrderBase.php
  core/lib/Drupal/Core/Hook/OrderOperation/BeforeOrAfter.php
  core/lib/Drupal/Core/Hook/OrderOperation/FirstOrLast.php
  core/lib/Drupal/Core/Hook/OrderOperation/OrderOperation.php
Due: none

Issue #3474292 by phenaproxima, iamcorekhan, catch, tedbow: Package Manager should disallow cweagans/composer-patches by default
  core/assets/schemas/v1/metadata-full.schema.json
  core/assets/schemas/v1/metadata.schema.json
  core/tests/Drupal/Tests/Core/Theme/Component/ComponentValidatorTest.php
Due: none

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/package.json, core/yarn.lock, **/*.css
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module
