Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

üßπ JavaScript linting (eslint):
  needs:
  - üì¶Ô∏è Yarn
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - cd core
  - corepack enable
  - yarn run check:ckeditor5
  - yarn run lint:core-js-passing --format gitlab
  artifacts:
    reports:
      codequality: eslint-quality-report.json

üßπ CSS linting (stylelint):
  needs:
  - üì¶Ô∏è Yarn
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - corepack enable
  - cd core
  - yarn run build:css --check
  - yarn run lint:css --color --custom-formatter=node_modules/stylelint-formatter-gitlab
  artifacts:
    reports:
      codequality: stylelint-quality-report.json

üìî Validatable config:
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  artifacts:
    expire_in: 1 week
    expose_as: validatable-config
    paths:
    - HEAD.json
    - MR.json
  allow_failure:
    exit_codes:
    - 100
    - 101
    - 1
  script:
  - git checkout -f $CI_MERGE_REQUEST_DIFF_BASE_SHA
  ...

Issue #3439832 by pooja_sharma, solimanharkas, smustgrave, quietone, vensires: Fix Content Moderation tests that rely on UID1's super user behavior
  core/modules/content_moderation/tests/src/Functional/ModerationContentTranslationTest.php
  core/modules/content_moderation/tests/src/Functional/ModerationFormTest.php
  core/modules/content_moderation/tests/src/Functional/ModerationLocaleTest.php
  core/modules/content_moderation/tests/src/Functional/ModerationStateBlockTest.php
  core/modules/content_moderation/tests/src/Functional/WorkspaceContentModerationIntegrationTest.php
  core/modules/content_moderation/tests/src/Kernel/EntityStateChangeValidationTest.php
Due: none

Issue #3481539 by mondrake: Method getMockForAbstractClass() is deprecated - replace in EntityUrlTest
  core/.phpstan-baseline.php
  core/tests/Drupal/Tests/Core/Entity/EntityUrlTest.php
  core/tests/Drupal/Tests/Core/Entity/StubRevisionableEntity.php
Due: none

Issue #3473608 by amateescu, plach, ajits: Workspace association does not work with entities with non-numeric IDs
  core/modules/workspaces/src/EntityQuery/QueryTrait.php
  core/modules/workspaces/src/EntityQuery/Tables.php
  core/modules/workspaces/src/ViewsQueryAlter.php
  core/modules/workspaces/src/WorkspaceAssociation.php
  core/modules/workspaces/tests/fixtures/update/workspaces.php
  core/modules/workspaces/tests/modules/workspaces_test/src/Entity/EntityTestMulRevPubStringId.php
  core/modules/workspaces/tests/modules/workspaces_test/workspaces_test.info.yml
  core/modules/workspaces/tests/src/Functional/Update/WorkspaceAssociationStringIdsUpdatePathTest.php
  core/modules/workspaces/tests/src/Kernel/WorkspaceAssociationTest.php
  core/modules/workspaces/tests/src/Kernel/WorkspaceTestTrait.php
  core/modules/workspaces/workspaces.install
  core/tests/Drupal/Tests/UpdatePathTestTrait.php
Due: üßπ JavaScript linting (eslint)

Issue #3486981 by phenaproxima, thejimbirch: Allow recipes to enable Layout Builder via config actions
  core/modules/layout_builder/src/Entity/LayoutBuilderEntityViewDisplay.php
  core/modules/layout_builder/tests/src/Kernel/ConfigActionsTest.php
Due: none

Issue #3483481 by quietone, dww, catch: Hide and restrict package_manager (and update_manager) behind a dev/prod toggle so that they can be alpha stability in tagged releases
  core/modules/package_manager/package_manager.info.yml
  core/modules/package_manager/package_manager.install
  core/modules/package_manager/tests/src/Build/TemplateProjectTestBase.php
  core/modules/package_manager/tests/src/Functional/ComposerRequirementTest.php
  core/modules/package_manager/tests/src/Functional/FailureMarkerRequirementTest.php
  core/modules/package_manager/tests/src/Functional/PackageManagerTestBase.php
Due: üßπ JavaScript linting (eslint)

Issue #3480442 by mstrelan, alexpott, smustgrave: Add return types to UserCreationTrait
  core/.phpstan-baseline.php
  core/modules/system/tests/src/Functional/Entity/EntityOperationsTest.php
  core/modules/user/tests/src/Traits/UserCreationTrait.php
Due: none

Issue #3478621 by catch, longwave, nicxvan: Add filecache to OOP hook attribute parsing
  core/lib/Drupal/Core/Hook/HookCollectorPass.php
Due: none

Revert "Issue #3478621 by catch, longwave, nicxvan: Add filecache to OOP hook attribute parsing"
  core/lib/Drupal/Core/Hook/HookCollectorPass.php
Due: none

Issue #3487482 by amateescu, catch, benjifisher, ekes, finn lewis, fabianx, larowlan: Creating a published moderated entity in a workspace shouldn't make it published in Live
  core/modules/content_moderation/tests/src/Functional/WorkspaceContentModerationIntegrationTest.php
  core/modules/workspaces/src/EntityOperations.php
  core/modules/workspaces/workspaces.module
Due: üìî Validatable config

Issue #2972622 by amateescu, catch, gábor hojtsy, fabianx, lauriii: Split the workspaces UI into a separate module
  core/modules/workspaces/src/Hook/WorkspacesHooks.php
  core/modules/workspaces/tests/src/Functional/PathWorkspacesTest.php
  core/modules/workspaces/tests/src/Functional/WorkspaceBypassTest.php
  core/modules/workspaces/tests/src/Functional/WorkspaceCacheContextTest.php
  core/modules/workspaces/tests/src/Functional/WorkspaceConcurrentEditingTest.php
  core/modules/workspaces/tests/src/Functional/WorkspaceEntityDeleteTest.php
  core/modules/workspaces/tests/src/Functional/WorkspaceMenuLinkContentIntegrationTest.php
  core/modules/workspaces/tests/src/Functional/WorkspacePermissionsTest.php
  core/modules/workspaces/tests/src/Functional/WorkspaceSwitcherTest.php
  core/modules/workspaces/tests/src/Functional/WorkspaceTest.php
  core/modules/workspaces/tests/src/Functional/WorkspaceViewTest.php
  core/modules/workspaces/tests/src/Functional/WorkspaceViewsBulkFormTest.php
  core/modules/workspaces/tests/src/Functional/WorkspacesUninstallTest.php
  core/modules/workspaces/tests/src/FunctionalJavascript/WorkspacesLayoutBuilderIntegrationTest.php
  core/modules/workspaces/workspaces.info.yml
  core/modules/workspaces/workspaces.install
  core/modules/workspaces/workspaces.routing.yml
  core/modules/workspaces_ui/src/Hook/WorkspacesUiHooks.php
  core/modules/workspaces_ui/src/Routing/RouteSubscriber.php
  core/modules/workspaces_ui/tests/src/Functional/GenericTest.php
  core/modules/workspaces_ui/tests/src/FunctionalJavascript/WorkspaceToolbarIntegrationTest.php
  core/modules/workspaces_ui/workspaces_ui.info.yml
  core/modules/workspaces_ui/workspaces_ui.services.yml
Due: üßπ JavaScript linting (eslint)

Issue #2972622 by amateescu, catch, gábor hojtsy, fabianx, lauriii: Split the workspaces UI into a separate module
  core/.phpstan-baseline.php
Due: none

Drupal 11.1.0-beta1
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: none

Back to dev.
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: none

Issue #3487088 by lavanyatalwar, nicxvan: Fix trailing comma in entity type Attribute declarations
  core/lib/Drupal/Core/Datetime/Entity/DateFormat.php
  core/lib/Drupal/Core/Entity/Entity/EntityFormDisplay.php
  core/lib/Drupal/Core/Entity/Entity/EntityFormMode.php
  core/lib/Drupal/Core/Entity/Entity/EntityViewDisplay.php
  core/lib/Drupal/Core/Entity/Entity/EntityViewMode.php
  core/modules/config/tests/config_test/src/Entity/ConfigTest.php
  core/modules/language/src/Entity/ContentLanguageSettings.php
  core/modules/media/src/Entity/Media.php
  core/modules/media/src/Entity/MediaType.php
  core/modules/menu_link_content/src/Entity/MenuLinkContent.php
Due: none

Issue #3483341 by mstrelan, smustgrave: Add array return type to all hook_schema implementations
  core/.phpstan-baseline.php
  core/lib/Drupal/Core/Database/database.api.php
  core/modules/ban/ban.install
  core/modules/comment/comment.install
  core/modules/dblog/dblog.install
  core/modules/file/file.install
  core/modules/help/help.install
  core/modules/history/history.install
  core/modules/layout_builder/layout_builder.install
  core/modules/locale/locale.install
  core/modules/node/node.install
  core/modules/search/search.install
  core/modules/shortcut/shortcut.install
  core/modules/system/system.install
  core/modules/system/tests/modules/database_test/database_test.install
  core/modules/system/tests/modules/entity_test/entity_test.install
  core/modules/system/tests/modules/module_test/module_test.install
  core/modules/system/tests/modules/pgsql_test/pgsql_test.install
  core/modules/system/tests/modules/update_test_schema/update_test_schema.install
  core/modules/user/user.install
  core/modules/views/tests/modules/views_test_data/views_test_data.install
  core/modules/workspaces/workspaces.install
Due: none

Issue #3462973 by mattlc, ultimike, smustgrave, dww, larowlan, alexpott: Provide details of where core tests, not in core modules, should live
  core/tests/Drupal/BuildTests/Framework/BuildTestBase.php
  core/tests/Drupal/FunctionalJavascriptTests/WebDriverTestBase.php
  core/tests/Drupal/KernelTests/KernelTestBase.php
  core/tests/Drupal/Tests/BrowserTestBase.php
  core/tests/Drupal/Tests/UnitTestCase.php
Due: none

Revert "Issue #3405277 by scott_euser, anybody: Add vertical-align: top as default for table cells"
  core/themes/claro/css/components/tables.css
  core/themes/claro/css/components/tables.pcss.css
Due: üßπ CSS linting (stylelint)

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/package.json, core/yarn.lock, **/*.css
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module
