Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/package.json, core/yarn.lock, **/*.css
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module

Issue #1630576 by nexusnovaz, jhodgdon, catch: Cron reports it's done long before it really is done
  core/lib/Drupal/Core/Cron.php
Due: none

Issue #3469309 by mstrelan, smustgrave, moshe weitzman: Use one-time login link instead of user login form in BrowserTestBase tests
  core/modules/locale/tests/src/Functional/LocaleTranslationUiTest.php
Due: none

Issue #3465826 by arunkumark, andypost: Remove deprecated in PHP 8.4 the \E_STRICT usage
  core/includes/errors.inc
  core/lib/Drupal/Core/DrupalKernel.php
Due: none

Revert "Issue #3438769 by vinmayiswamy, antonnavi, michelle, amateescu: Sub workspace does not clear"
  core/modules/workspaces/src/WorkspaceAssociation.php
  core/modules/workspaces/tests/src/Kernel/WorkspaceAssociationTest.php
Due: none

Issue #3469687 by catch, fjgarlin: Reduce CPU requirements for core gitlab pipelines
  .gitlab-ci/pipeline.yml
Due: üßπ JavaScript linting (eslint)

Issue #3474108 by smustgrave, tomomi: Replace eslint-plugin-jquery with eslint-plugin-no-jquery
  core/.eslintrc.jquery.json
  core/misc/ajax.js
  core/modules/system/tests/modules/js_testing_ajax_request_test/js/js_testing_ajax_request_test.js
  core/package.json
  core/yarn.lock
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint)

Issue #3470179 by catch, quietone: Account for test type, number of methods, and data providers in test ordering
  core/modules/block_content/tests/src/Kernel/BlockContentAccessHandlerTest.php
  core/modules/ckeditor5/tests/src/Kernel/CKEditor5PluginManagerTest.php
  core/modules/ckeditor5/tests/src/Kernel/ValidatorsTest.php
  core/modules/contact/tests/src/Kernel/ContactFormValidationTest.php
  core/modules/content_moderation/tests/src/Kernel/ContentModerationStateTest.php
  core/modules/datetime/tests/src/Kernel/DateTimeItemTest.php
  core/modules/editor/tests/src/Kernel/EditorValidationTest.php
  core/modules/field/tests/src/Kernel/Entity/FieldConfigValidationTest.php
  core/modules/field/tests/src/Kernel/Entity/FieldStorageConfigValidationTest.php
  core/modules/field/tests/src/Kernel/Number/NumberItemTest.php
  core/modules/filter/tests/src/Kernel/FilterFormatValidationTest.php
  core/modules/image/tests/src/Kernel/ImageStyleValidationTest.php
  core/modules/language/tests/src/Kernel/ConfigurableLanguageValidationTest.php
  core/modules/language/tests/src/Kernel/ContentLanguageSettingsValidationTest.php
  core/modules/media/tests/src/Kernel/MediaAccessControlHandlerTest.php
  core/modules/media/tests/src/Kernel/MediaEmbedFilterTest.php
  core/modules/media/tests/src/Kernel/MediaTypeValidationTest.php
  core/modules/media_library/tests/src/Kernel/MediaLibraryStateTest.php
  core/modules/responsive_image/tests/src/Kernel/ResponsiveImageStyleValidationTest.php
  core/modules/rest/tests/src/Kernel/Entity/RestResourceConfigValidationTest.php
  core/modules/rest/tests/src/Kernel/EntityResource/EntityResourceRestTestCoverageTest.php
  core/modules/search/tests/src/Kernel/SearchPageValidationTest.php
  core/modules/shortcut/tests/src/Kernel/ShortcutSetValidationTest.php
  core/modules/system/tests/src/Kernel/Entity/MenuValidationTest.php
  core/modules/user/tests/src/Kernel/RoleValidationTest.php
  core/modules/views/tests/src/Kernel/Entity/ViewValidationTest.php
  core/modules/workflows/tests/src/Kernel/WorkflowValidationTest.php
  core/modules/workspaces/tests/src/Kernel/WorkspaceIntegrationTest.php
  core/scripts/run-tests.sh
  core/tests/Drupal/KernelTests/Core/Asset/ResolvedLibraryDefinitionsFilesMatchTest.php
  core/tests/Drupal/KernelTests/Core/Config/SimpleConfigValidationTest.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityViewDisplayValidationTest.php
  core/tests/Drupal/KernelTests/Core/Image/ToolkitGdTest.php
  core/tests/Drupal/KernelTests/Core/Routing/RouteProviderTest.php
  core/tests/Drupal/KernelTests/Core/Theme/Stable9TemplateOverrideTest.php
  core/tests/Drupal/KernelTests/Core/Theme/ThemeInstallerTest.php
Due: none

Issue #3465154 by yujiman85, n-m-daz, nod_: Update run-tests.sh help output to match current test organization
  core/scripts/run-tests.sh
Due: none

Issue #3470179 by catch, longwave, quietone: Account for test type, number of methods, and data providers in test ordering
  core/modules/block_content/tests/src/Kernel/BlockContentAccessHandlerTest.php
  core/modules/ckeditor5/tests/src/Kernel/CKEditor5PluginManagerTest.php
  core/modules/ckeditor5/tests/src/Kernel/ValidatorsTest.php
  core/modules/contact/tests/src/Kernel/ContactFormValidationTest.php
  core/modules/content_moderation/tests/src/Kernel/ContentModerationStateTest.php
  core/modules/datetime/tests/src/Kernel/DateTimeItemTest.php
  core/modules/editor/tests/src/Kernel/EditorValidationTest.php
  core/modules/field/tests/src/Kernel/Entity/FieldConfigValidationTest.php
  core/modules/field/tests/src/Kernel/Entity/FieldStorageConfigValidationTest.php
  core/modules/field/tests/src/Kernel/Number/NumberItemTest.php
  core/modules/filter/tests/src/Kernel/FilterFormatValidationTest.php
  core/modules/image/tests/src/Kernel/ImageStyleValidationTest.php
  core/modules/language/tests/src/Kernel/ConfigurableLanguageValidationTest.php
  core/modules/language/tests/src/Kernel/ContentLanguageSettingsValidationTest.php
  core/modules/media/tests/src/Kernel/MediaAccessControlHandlerTest.php
  core/modules/media/tests/src/Kernel/MediaEmbedFilterTest.php
  core/modules/media/tests/src/Kernel/MediaTypeValidationTest.php
  core/modules/media_library/tests/src/Kernel/MediaLibraryStateTest.php
  core/modules/responsive_image/tests/src/Kernel/ResponsiveImageStyleValidationTest.php
  core/modules/rest/tests/src/Kernel/Entity/RestResourceConfigValidationTest.php
  core/modules/rest/tests/src/Kernel/EntityResource/EntityResourceRestTestCoverageTest.php
  core/modules/search/tests/src/Kernel/SearchPageValidationTest.php
  core/modules/shortcut/tests/src/Kernel/ShortcutSetValidationTest.php
  core/modules/system/tests/src/Kernel/Entity/MenuValidationTest.php
  core/modules/user/tests/src/Kernel/RoleValidationTest.php
  core/modules/views/tests/src/Kernel/Entity/ViewValidationTest.php
  core/modules/workflows/tests/src/Kernel/WorkflowValidationTest.php
  core/modules/workspaces/tests/src/Kernel/WorkspaceIntegrationTest.php
  core/scripts/run-tests.sh
  core/tests/Drupal/KernelTests/Core/Asset/ResolvedLibraryDefinitionsFilesMatchTest.php
  core/tests/Drupal/KernelTests/Core/Config/SimpleConfigValidationTest.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityViewDisplayValidationTest.php
  core/tests/Drupal/KernelTests/Core/Image/ToolkitGdTest.php
  core/tests/Drupal/KernelTests/Core/Routing/RouteProviderTest.php
  core/tests/Drupal/KernelTests/Core/Theme/Stable9TemplateOverrideTest.php
  core/tests/Drupal/KernelTests/Core/Theme/ThemeInstallerTest.php
Due: none

Issue #3469687 by catch, fjgarlin, longwave: Reduce CPU requirements for core gitlab pipelines
  .gitlab-ci/pipeline.yml
Due: üßπ JavaScript linting (eslint)

Issue #3475512 by daffie: Replace hardcoded database queries with dynamic queries
  core/lib/Drupal/Core/Batch/BatchStorage.php
  core/lib/Drupal/Core/Queue/Batch.php
  core/modules/dblog/src/Controller/DbLogController.php
  core/modules/dblog/src/Plugin/rest/resource/DbLogResource.php
  core/modules/dblog/tests/src/Functional/DbLogTest.php
  core/modules/history/history.module
  core/modules/history/tests/src/Functional/HistoryTest.php
  core/modules/locale/locale.module
  core/modules/shortcut/src/ShortcutSetStorage.php
  core/tests/Drupal/FunctionalTests/Entity/RevisionDeleteFormTest.php
  core/tests/Drupal/FunctionalTests/Entity/RevisionRevertFormTest.php
Due: üìî Validatable config

Issue #3179199 by ekes, acrazyanimal, adriancid, smustgrave, sam152, amateescu, ravi.shankar, alexj12, s_leu, renatog: Content Moderation prevents workspace deployment
  core/modules/content_moderation/src/EventSubscriber/WorkspaceSubscriber.php
  core/modules/content_moderation/tests/src/Kernel/WorkspacesContentModerationStateTest.php
Due: none

Issue #3470203 by mstrelan, smustgrave: Add (more) bool return typehints to protected test helper methods
  core/modules/comment/tests/src/Functional/CommentTestBase.php
  core/modules/jsonapi/tests/src/Functional/ResourceResponseTestTrait.php
  core/modules/jsonapi/tests/src/Functional/ResourceTestBase.php
  core/modules/settings_tray/tests/src/FunctionalJavascript/SettingsTrayTestBase.php
  core/modules/system/tests/modules/entity_test/src/Plugin/Field/FieldType/FieldTestItem.php
  core/modules/system/tests/src/Functional/Cache/CacheTestBase.php
  core/modules/user/tests/src/Traits/UserCreationTrait.php
  core/modules/views/tests/src/FunctionalJavascript/Plugin/views/Handler/FilterTest.php
  core/tests/Drupal/BuildTests/Framework/BuildTestBase.php
  core/tests/Drupal/FunctionalJavascriptTests/JSWebAssert.php
  core/tests/Drupal/KernelTests/AssertContentTrait.php
  core/tests/Drupal/TestSite/Commands/TestSiteTearDownCommand.php
  core/tests/Drupal/Tests/UiHelperTrait.php
Due: none

Issue #3472319 by prashant.c, f0ns, bebalachandra, markconroy: Header is always shown in Claro even when regions in it are empty
  core/themes/claro/templates/page.html.twig
Due: none

Issue #3470114 by quietone, smustgrave: Change string 'Modules to enable' that are not in comments
  core/lib/Drupal/Core/Installer/Exception/NoProfilesException.php
Due: none

Issue #3467860 by googletorp, catch, smustgrave, alexpott, swentel: Ensure consistent ordering when calculating library asset order
  core/core.libraries.yml
  core/lib/Drupal/Core/Asset/AssetResolver.php
  core/modules/ckeditor5/ckeditor5.libraries.yml
  core/tests/Drupal/Tests/Core/Asset/AssetResolverTest.php
Due: üßπ JavaScript linting (eslint)

Issue #3403535 by mlncn, tobiasb, nayana_mvr, pameeela: Claro removes default styling from abbreviations (<abbr> tag)
  core/themes/claro/css/base/elements.css
  core/themes/claro/css/base/elements.pcss.css
Due: üßπ CSS linting (stylelint)

Issue #3457863 by grimreaper, catch, pdureau, maboy, longwave: YAML discovery does not take theme inheritance into account
  core/lib/Drupal/Core/Extension/ThemeHandler.php
  core/modules/system/tests/themes/test_child_theme/test_child_theme.info.yml
  core/modules/system/tests/themes/test_child_theme/test_child_theme.layouts.yml
  core/modules/system/tests/themes/test_parent_theme/test_parent_theme.info.yml
  core/modules/system/tests/themes/test_parent_theme/test_parent_theme.layouts.yml
  core/tests/Drupal/KernelTests/Core/Layout/LayoutPluginManagerTest.php
  core/tests/Drupal/KernelTests/Core/Theme/ThemeInstallerTest.php
Due: üßπ JavaScript linting (eslint)
