Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üìã PHPUnit Unit (PHPStan rules), üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üì¶ Yarn install on minimum Node.js version

Path conditions:
  üìã PHPUnit Unit (PHPStan rules): any of: core/tests/PHPStan/**/*, composer/Metapackage/PinnedDevDependencies/composer.json
  üßπ JavaScript linting (eslint): any of: core/.eslint*, core/.prettier*, core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/.stylelintrc.json, core/.prettier*, core/package.json, core/yarn.lock, **/*.css
  üì¶ Yarn install on minimum Node.js version: any of: core/package.json, core/yarn.lock

task: #3563359 Explore why PHP 8.4 polyfill is not loaded for test runs on PHP 8.3
  core/lib/Drupal/Core/Entity/Sql/SqlContentEntityStorage.php
  core/modules/package_manager/tests/src/Build/TemplateProjectTestBase.php
Due: none

task: #3568767 Deprecate Media::getRequestTime()
  core/.phpstan-baseline.php
  core/modules/media/src/Entity/Media.php
Due: none

Revert "fix: #3626548 Fix RunInSeparateProcesses typos"
  core/tests/Drupal/Tests/Core/Test/BrowserTestBaseTest.php
  core/tests/PHPStan/Rules/TestClassClassMetadata.php
  core/tests/PHPStan/tests/TestClassClassMetadataTest.php
Due: üìã PHPUnit Unit (PHPStan rules)

task: #3626105 Release runtime theme registries after destruction
  core/lib/Drupal/Core/Theme/Registry.php
  core/tests/Drupal/KernelTests/Core/Theme/RegistryTest.php
Due: none

fix: #3626740 AccessManager should (once again) bail out early to save resources and avoid adding cacheable metadata for no reason
  core/lib/Drupal/Core/Access/AccessManager.php
  core/modules/ckeditor5/tests/src/Functional/MediaEntityMetadataApiTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryPerformanceTestAssertions/administratorNodePage.yml
Due: üßπ JavaScript linting (eslint)

fix: #3344629 Passing null to parameter #1 ($haystack) of type string is deprecated
  core/lib/Drupal/Core/EventSubscriber/ActiveLinkResponseFilter.php
  core/lib/Drupal/Core/EventSubscriber/RssResponseRelativeUrlFilter.php
  core/modules/jsonapi/tests/modules/jsonapi_response_validator/src/EventSubscriber/ResourceResponseValidator.php
  core/modules/jsonapi/tests/modules/jsonapi_response_validator/tests/src/Unit/EventSubscriber/ResourceResponseValidatorTest.php
  core/tests/Drupal/Tests/Core/EventSubscriber/ActiveLinkResponseFilterTest.php
Due: none

task: #1411074 Allow kernel tests to share the test environment
  core/modules/block/tests/src/Kernel/BlockValidationTest.php
  core/modules/block_content/tests/src/Kernel/BlockContentTypeValidationTest.php
  core/modules/comment/tests/src/Kernel/CommentTypeValidationTest.php
  core/modules/config/tests/config_test/tests/src/Kernel/ConfigTestValidationTest.php
  core/modules/editor/tests/src/Kernel/EditorValidationTest.php
  core/modules/field/tests/src/Kernel/Entity/FieldConfigValidationTest.php
  core/modules/field/tests/src/Kernel/Entity/FieldStorageConfigValidationTest.php
  core/modules/filter/tests/src/Kernel/FilterFormatValidationTest.php
  core/modules/image/tests/src/Kernel/ImageStyleValidationTest.php
  core/modules/language/tests/src/Kernel/ConfigurableLanguageValidationTest.php
  core/modules/language/tests/src/Kernel/ContentLanguageSettingsValidationTest.php
  core/modules/layout_builder/tests/src/Kernel/LayoutBuilderEntityViewDisplayValidationTest.php
  core/modules/media/tests/src/Kernel/MediaTypeValidationTest.php
  core/modules/node/tests/src/Kernel/NodeTypeValidationTest.php
  core/modules/responsive_image/tests/src/Kernel/ResponsiveImageStyleValidationTest.php
  core/modules/rest/tests/src/Kernel/Entity/RestResourceConfigValidationTest.php
  core/modules/system/tests/src/Kernel/Entity/ActionValidationTest.php
  core/modules/system/tests/src/Kernel/Entity/MenuValidationTest.php
  core/modules/taxonomy/tests/src/Kernel/VocabularyValidationTest.php
  core/modules/user/tests/src/Kernel/RoleValidationTest.php
  core/modules/views/tests/src/Kernel/Entity/ViewValidationTest.php
  core/modules/workflows/tests/src/Kernel/WorkflowValidationTest.php
  core/tests/Drupal/KernelTests/Core/Config/ConfigEntityValidationTestBase.php
  core/tests/Drupal/KernelTests/Core/Config/ConfigEntityValidationTestBaseUnsharedTest.php
  core/tests/Drupal/KernelTests/Core/Entity/BaseFieldOverrideValidationTest.php
  core/tests/Drupal/KernelTests/Core/Entity/DateFormatValidationTest.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityFormDisplayValidationTest.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityFormModeValidationTest.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityViewDisplayValidationTest.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityViewModeValidationTest.php
  core/tests/Drupal/KernelTests/Core/Theme/DesignToken/DesignTokenValidationTest.php
  core/tests/Drupal/KernelTests/KernelTestBase.php
  core/tests/Drupal/KernelTests/SharedDatabaseStateTest.php
  core/tests/Drupal/KernelTests/SharedDatabaseStateViolationTest.php
  core/tests/Drupal/TestTools/Attribute/ShareEnvironment.php
  core/tests/Drupal/Tests/TestTools/Attribute/ShareEnvironmentTest.php
Due: none

task: #1411074 Allow kernel tests to share the test environment
  core/modules/block/tests/src/Kernel/BlockValidationTest.php
  core/modules/block_content/tests/src/Kernel/BlockContentTypeValidationTest.php
  core/modules/comment/tests/src/Kernel/CommentTypeValidationTest.php
  core/modules/config/tests/config_test/tests/src/Kernel/ConfigTestValidationTest.php
  core/modules/contact/tests/src/Kernel/ContactFormValidationTest.php
  core/modules/editor/tests/src/Kernel/EditorValidationTest.php
  core/modules/field/tests/src/Kernel/Entity/FieldConfigValidationTest.php
  core/modules/field/tests/src/Kernel/Entity/FieldStorageConfigValidationTest.php
  core/modules/filter/tests/src/Kernel/FilterFormatValidationTest.php
  core/modules/image/tests/src/Kernel/ImageStyleValidationTest.php
  core/modules/language/tests/src/Kernel/ConfigurableLanguageValidationTest.php
  core/modules/language/tests/src/Kernel/ContentLanguageSettingsValidationTest.php
  core/modules/layout_builder/tests/src/Kernel/LayoutBuilderEntityViewDisplayValidationTest.php
  core/modules/media/tests/src/Kernel/MediaTypeValidationTest.php
  core/modules/node/tests/src/Kernel/NodeTypeValidationTest.php
  core/modules/responsive_image/tests/src/Kernel/ResponsiveImageStyleValidationTest.php
  core/modules/rest/tests/src/Kernel/Entity/RestResourceConfigValidationTest.php
  core/modules/search/tests/src/Kernel/SearchPageValidationTest.php
  core/modules/shortcut/tests/src/Kernel/ShortcutSetValidationTest.php
  core/modules/system/tests/src/Kernel/Entity/ActionValidationTest.php
  core/modules/system/tests/src/Kernel/Entity/MenuValidationTest.php
  core/modules/taxonomy/tests/src/Kernel/VocabularyValidationTest.php
  core/modules/user/tests/src/Kernel/RoleValidationTest.php
  core/modules/views/tests/src/Kernel/Entity/ViewValidationTest.php
  core/modules/workflows/tests/src/Kernel/WorkflowValidationTest.php
  core/tests/Drupal/KernelTests/Core/Config/ConfigEntityValidationTestBase.php
  core/tests/Drupal/KernelTests/Core/Config/ConfigEntityValidationTestBaseUnsharedTest.php
  core/tests/Drupal/KernelTests/Core/Entity/BaseFieldOverrideValidationTest.php
  core/tests/Drupal/KernelTests/Core/Entity/DateFormatValidationTest.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityFormDisplayValidationTest.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityFormModeValidationTest.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityViewDisplayValidationTest.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityViewModeValidationTest.php
  core/tests/Drupal/KernelTests/Core/Theme/DesignToken/DesignTokenValidationTest.php
  core/tests/Drupal/KernelTests/KernelTestBase.php
  core/tests/Drupal/KernelTests/SharedDatabaseStateTest.php
  core/tests/Drupal/KernelTests/SharedDatabaseStateViolationTest.php
  core/tests/Drupal/TestTools/Attribute/ShareEnvironment.php
  core/tests/Drupal/Tests/TestTools/Attribute/ShareEnvironmentTest.php
Due: none

task: #3625895 Deprecate and remove Query::__wakeup() and ::__sleep()
  core/lib/Drupal/Core/Database/Query/Query.php
  core/tests/Drupal/KernelTests/Core/Database/SerializeQueryTest.php
Due: none

task: #3625998 Update CKEditor5 version for Drupal core 10.6, 11.3, 11.4, 11.5
  core/assets/vendor/ckeditor5/ckeditor5-dll/ckeditor5-dll.js
  core/core.libraries.yml
  core/profiles/demo_umami/tests/src/FunctionalJavascript/MultipleRequestsPerformanceTestAssertions/umamiNodeAddEditor.yml
Due: üßπ JavaScript linting (eslint)

task: #3625998 Update CKEditor5 version for Drupal core 10.6, 11.3, 11.4, 11.5
  core/assets/vendor/ckeditor5/ckeditor5-dll/ckeditor5-dll.js
  core/core.libraries.yml
  core/profiles/demo_umami/tests/src/FunctionalJavascript/AssetAggregationAcrossPagesTest.php
Due: üßπ JavaScript linting (eslint)

task: #3613394 PHPUnit 13.2 - Replace expectExceptionMessage() with expectExceptionMessageIs*() in Component tests
  core/modules/views/tests/src/Unit/Plugin/HandlerBaseTest.php
  core/tests/Drupal/TestTools/PhpUnitCompatibility/ForwardCompatibilityTrait.php
  core/tests/Drupal/Tests/Component/Annotation/Doctrine/DocParserTest.php
  core/tests/Drupal/Tests/Component/Datetime/DateTimePlusTest.php
  core/tests/Drupal/Tests/Component/Discovery/YamlDirectoryDiscoveryTest.php
  core/tests/Drupal/Tests/Component/Discovery/YamlDiscoveryTest.php
  core/tests/Drupal/Tests/Component/FileCache/FileCacheFactoryTest.php
  core/tests/Drupal/Tests/Component/FrontMatter/FrontMatterTest.php
  core/tests/Drupal/Tests/Component/Gettext/PoStreamReaderTest.php
  core/tests/Drupal/Tests/Component/Gettext/PoStreamWriterTest.php
  core/tests/Drupal/Tests/Component/Plugin/Context/ContextTest.php
  core/tests/Drupal/Tests/Component/Plugin/DefaultFactoryTest.php
  core/tests/Drupal/Tests/Component/Plugin/PluginManagerBaseTest.php
  core/tests/Drupal/Tests/Component/Serialization/YamlTest.php
  core/tests/Drupal/Tests/Component/Utility/ArgumentsResolverTest.php
  core/tests/Drupal/Tests/Component/Utility/EmailValidatorTest.php
  core/tests/Drupal/Tests/Component/Utility/ImageTest.php
  core/tests/Drupal/Tests/Component/Utility/NestedArrayTest.php
  core/tests/Drupal/Tests/Composer/Plugin/Scaffold/Functional/ScaffoldTest.php
  core/tests/Drupal/Tests/Composer/Plugin/Unpack/SemVerTest.php
  core/tests/Drupal/Tests/DrupalTestCaseTrait.php
Due: none

task: #3575642 Always free up old container on rebuild, not only in the installer
  core/lib/Drupal/Component/DependencyInjection/Container.php
  core/lib/Drupal/Core/DependencyInjection/ContainerBuilder.php
  core/lib/Drupal/Core/DrupalKernel.php
  core/lib/Drupal/Core/Extension/ModuleInstaller.php
  core/lib/Drupal/Core/Installer/InstallerKernel.php
  core/tests/Drupal/FunctionalTests/Installer/InstallerRouterTest.php
Due: none

Drupal 11.4.9
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: üìã PHPUnit Unit (PHPStan rules)

Back to dev.
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: üìã PHPUnit Unit (PHPStan rules)

task: #3081025 Remove technical debt and complication from when doTrustedCallback() could either trigger errors or throw exceptions
  core/lib/Drupal/Core/Render/Renderer.php
  core/lib/Drupal/Core/Security/DoTrustedCallbackTrait.php
  core/lib/Drupal/Core/Security/StaticTrustedCallbackHelper.php
  core/lib/Drupal/Core/Security/TrustedCallbackInterface.php
  core/tests/Drupal/Tests/Core/Security/DoTrustedCallbackTraitTest.php
Due: none

task: #3625015 Convert final test .modules
  core/.phpstan-baseline.php
  core/modules/package_manager/tests/fixtures/build_test_projects/updated_module/1.0.0/updated_module.module
  core/modules/package_manager/tests/fixtures/build_test_projects/updated_module/1.1.0/updated_module.module
  core/modules/system/tests/modules/deprecation_hook_attribute_test/deprecation_hook_attribute_test.info.yml
  core/modules/system/tests/modules/deprecation_test/deprecation_test.module
  core/modules/system/tests/modules/deprecation_test/src/DeprecatedController.php
  core/modules/system/tests/modules/deprecation_test/src/Hook/DeprecationTestHooks.php
  core/modules/system/tests/modules/system_test/src/Controller/SystemTestController.php
  core/modules/system/tests/modules/system_test/system_test.module
  core/tests/Drupal/FunctionalTests/BrowserTestBaseTest.php
  core/tests/Drupal/KernelTests/Core/Extension/ModuleHandlerDeprecatedHookTest.php
Due: üßπ JavaScript linting (eslint)

feat: #3594336 Add a command to list modules and themes on a site
  core/lib/Drupal/Core/Command/OutputFormat.php
  core/lib/Drupal/Core/Extension/Command/ExtensionListCommand.php
  core/modules/system/tests/src/Kernel/Command/ExtensionListCommandTest.php
Due: none

feat: #3594337 Add a command to export configuration
  core/.phpstan-baseline.php
  core/lib/Drupal/Core/Config/Command/ConfigExportCommand.php
  core/tests/Drupal/KernelTests/Core/Config/ConfigExportCommandTest.php
Due: none

task: #3613347 Re-use container in kernel tests
  core/.phpstan-baseline.php
  core/lib/Drupal/Core/DrupalKernel.php
  core/lib/Drupal/Core/Test/KernelTestDrupalKernel.php
  core/modules/mysql/tests/src/Kernel/mysql/DbDumpTest.php
  core/tests/Drupal/KernelTests/Core/Database/DriverSpecificSchemaTestBase.php
  core/tests/Drupal/KernelTests/Core/Installer/InstallerTranslationDownloadTest.php
  core/tests/Drupal/KernelTests/KernelTestBase.php
  core/tests/Drupal/KernelTests/KernelTestSharedContainerTest.php
Due: none
