Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/package.json, core/yarn.lock, **/*.css
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module

Issue #3015631 by liam morland, smustgrave, alberto56, amateescu, batkor: Improve documentation of MenuLinkTreeInterface
  core/lib/Drupal/Core/Menu/MenuLinkTreeInterface.php
Due: none

Issue #3496438 by spokje: [random test failure] LanguageNegotiationInfoTest::testInfoAlterations
  core/modules/comment/tests/src/Functional/CommentLanguageTest.php
  core/modules/language/tests/language_test/src/Hook/LanguageTestHooks.php
  core/modules/language/tests/src/Functional/LanguageNegotiationInfoTest.php
Due: none

Issue #3461838 by marcgk, narendrar: Convert Constraint plugin discovery to attribute for MediaMappingsConstraint
  core/modules/media/src/Plugin/Validation/Constraint/MediaMappingsConstraint.php
Due: none

Issue #3495733 by deepali sardana, idebr, knyshuk.vova: ManagedFile #accept overwrites existing attributes
  core/modules/file/src/Element/ManagedFile.php
  core/modules/image/tests/src/Functional/ImageFieldWidgetTest.php
Due: none

Issue #3495508 by nicxvan: Mark Media and Media Library modules' procedural hooks as converted
  core/.phpstan-baseline.php
  core/modules/media/media.install
  core/modules/media/media.module
  core/modules/media/src/Hook/MediaThemeSuggestionsHooks.php
  core/modules/media_library/media_library.module
  core/modules/media_library/media_library.services.yml
  core/modules/media_library/src/Hook/MediaLibraryHooks.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #3495577 by nikolay shapovalov, nicxvan: Move helpers in menu_test.module and delete it
  core/modules/system/tests/modules/menu_test/menu_test.module
  core/modules/system/tests/modules/menu_test/src/Hook/MenuTestHooks.php
  core/modules/system/tests/modules/menu_test/src/MenuTestHelper.php
  core/modules/system/tests/src/Functional/Menu/MenuRouterTest.php
Due: üìî Validatable config

Issue #3495509 by nicxvan: Mark Locale module procedural hooks as converted
  core/modules/locale/locale.batch.inc
  core/modules/locale/locale.bulk.inc
  core/modules/locale/locale.compare.inc
  core/modules/locale/locale.fetch.inc
  core/modules/locale/locale.install
  core/modules/locale/locale.module
  core/modules/locale/locale.pages.inc
  core/modules/locale/locale.translation.inc
Due: üìî Validatable config

Issue #3495506 by nicxvan, deepali sardana, dww, bramdriesen: Mark Update module procedural hooks as converted
  core/modules/update/update.authorize.inc
  core/modules/update/update.compare.inc
  core/modules/update/update.fetch.inc
  core/modules/update/update.install
  core/modules/update/update.manager.inc
  core/modules/update/update.module
  core/modules/update/update.report.inc
Due: üìî Validatable config

Issue #3495091 by nikolay shapovalov: Use BufferingLogger at SmartDefaultSettingsTest
  core/modules/ckeditor5/tests/src/Kernel/SmartDefaultSettingsTest.php
Due: none

Issue #3478172 by quietone, larowlan, smustgrave: Add MissingParamType for views
  core/modules/views/src/Plugin/views/HandlerBase.php
  core/modules/views/src/Plugin/views/PluginBase.php
  core/modules/views/src/Plugin/views/ViewsHandlerInterface.php
  core/modules/views/src/Plugin/views/argument/ArgumentPluginBase.php
  core/modules/views/src/Plugin/views/cache/CachePluginBase.php
  core/modules/views/src/Plugin/views/field/FieldHandlerInterface.php
  core/modules/views/src/Plugin/views/field/FieldPluginBase.php
  core/modules/views/src/Plugin/views/filter/InOperator.php
  core/modules/views/src/Plugin/views/join/JoinPluginInterface.php
  core/modules/views/src/Plugin/views/pager/PagerPluginBase.php
  core/modules/views/src/Plugin/views/pager/SqlBase.php
  core/modules/views/src/Plugin/views/query/CastSqlInterface.php
  core/modules/views/src/Plugin/views/query/QueryPluginBase.php
  core/modules/views/src/Plugin/views/query/Sql.php
  core/modules/views/src/Plugin/views/relationship/GroupwiseMax.php
  core/modules/views/src/Plugin/views/row/OpmlFields.php
  core/modules/views/src/Plugin/views/row/RowPluginBase.php
  core/modules/views/src/Plugin/views/row/RssFields.php
  core/modules/views/src/Plugin/views/style/StylePluginBase.php
  core/modules/views/src/Plugin/views/style/Table.php
  core/modules/views/src/Plugin/views/wizard/WizardPluginBase.php
  core/modules/views/tests/src/Kernel/Plugin/CastedIntFieldJoinTestBase.php
  core/modules/views/tests/src/Kernel/Plugin/FieldOrLanguageJoinTest.php
  core/modules/views/tests/src/Unit/Plugin/field/FieldTest.php
  core/modules/views/tests/src/Unit/ViewExecutableTest.php
  core/modules/views/views.module
  core/modules/views_ui/views_ui.module
  core/phpcs.xml.dist
Due: üìî Validatable config

Issue #3276845 by shalini_jha, chris burge, smustgrave, bramdriesen, larowlan: MediaSourceBase::getSourceFieldName() doesn't check character max
  core/modules/media/src/MediaSourceBase.php
  core/modules/media/tests/modules/media_test_source/config/schema/media_test_source.schema.yml
  core/modules/media/tests/modules/media_test_source/src/Plugin/media/Source/TestSourceWithAReallyLongName.php
  core/modules/media/tests/src/Kernel/MediaSourceTest.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #3444152 by m4olivei, smustgrave: Add test coverage to ensure navigation isn't rendered for users that don't have access
  core/modules/navigation/tests/src/FunctionalJavascript/TopBarPerformanceTest.php
Due: none

Issue #3477634 by mondrake, daffie: Ensure run-tests.sh and PHPUnit CLI run with the same list of tests to be executed
  core/.phpstan-baseline.php
  core/modules/jsonapi/tests/src/Functional/RestExportJsonApiUnsupportedTest.php
  core/modules/jsonapi/tests/src/Functional/RestJsonApiUnsupportedTest.php
  core/modules/migrate_drupal_ui/tests/src/Functional/d6/Upgrade6WithContentModerationTest.php
  core/modules/migrate_drupal_ui/tests/src/Functional/d7/Upgrade7WithContentModerationTest.php
  core/modules/node/tests/src/Functional/NodeAccessCacheabilityWithNodeGrantsTest.php
  core/modules/taxonomy/tests/src/Kernel/Migrate/d6/MigrateTermNodeCompleteTest.php
  core/phpunit.xml.dist
  core/tests/Drupal/FunctionalTests/Asset/AssetOptimizationUmamiTest.php
  core/tests/Drupal/FunctionalTests/Installer/InstallerExistingConfigProfileHookInstallTest.php
  core/tests/Drupal/FunctionalTests/Installer/InstallerExistingConfigSyncDirectoryProfileHookInstallTest.php
  core/tests/Drupal/FunctionalTests/Installer/TestingProfileHooksTest.php
  core/tests/Drupal/KernelTests/Core/Test/PhpUnitTestDiscoveryTest.php
  core/tests/Drupal/Tests/Core/Test/PhpUnitCliTest.php
  core/tests/Drupal/Tests/Core/Theme/CoreThemesAutoloadedForTestsTest.php
Due: none

Issue #3496259 by spokje: [random test failure] LayoutSectionTest::testLayoutSectionFormatterAccess
  core/modules/block/tests/modules/block_test/src/Plugin/Block/TestAccessBlock.php
  core/modules/block/tests/src/Functional/BlockTest.php
  core/modules/layout_builder/tests/src/Functional/LayoutSectionTest.php
Due: none

Issue #3485410 by niklan, andypost: \Drupal\Core\KeyValueStore\DatabaseStorage::doSetIfNotExists should be protected
  core/lib/Drupal/Core/KeyValueStore/DatabaseStorage.php
Due: none

Issue #3484008 by bradjones1, smustgrave, alexpott: Add bradjones1 as Serialization subsystem maintainer
  core/MAINTAINERS.txt
Due: none

Issue #3497241 by longwave, jurgenhaas: FormValidatorInterface::validateForm has wrong type for $form_id
  core/lib/Drupal/Core/Form/FormValidatorInterface.php
Due: none

Issue #2990234 by ranjit1032002, quietone, smustgrave, tstoeckler: Removed unused class property $translationFilesDirectory
  core/lib/Drupal/Core/Test/FunctionalTestSetupTrait.php
  core/tests/Drupal/TestSite/Commands/TestSiteInstallCommand.php
  core/tests/Drupal/Tests/BrowserTestBase.php
Due: none

Drupal 11.1.1
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: none

Back to dev.
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: none

Drupal 11.0.10
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: none

Drupal 10.4.1
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: none

Drupal 10.3.11
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: none
