Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

üßπ JavaScript linting (eslint):
  needs:
  - üì¶Ô∏è Yarn
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - cd core
  - corepack enable
  - yarn run check:ckeditor5
  - yarn run lint:core-js-passing --format gitlab
  artifacts:
    reports:
      codequality: eslint-quality-report.json

üßπ CSS linting (stylelint):
  needs:
  - üì¶Ô∏è Yarn
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - corepack enable
  - cd core
  - yarn run build:css --check
  - yarn run lint:css --color --custom-formatter=node_modules/stylelint-formatter-gitlab
  artifacts:
    reports:
      codequality: stylelint-quality-report.json

üìî Validatable config:
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  artifacts:
    expire_in: 1 week
    expose_as: validatable-config
    paths:
    - HEAD.json
    - MR.json
  allow_failure:
    exit_codes:
    - 100
    - 101
    - 1
  script:
  - git checkout -f $CI_MERGE_REQUEST_DIFF_BASE_SHA
  ...

Issue #3257725 by catch, gapple, andypost, kingdutch, alexpott, kristiaanvandeneynde, smustgrave, neclimdul, larowlan, donquixote, daffie, fabianx: Add a cache prewarm API
  core/core.services.yml
  core/lib/Drupal/Core/CoreServiceProvider.php
  core/lib/Drupal/Core/Entity/EntityFieldManager.php
  core/lib/Drupal/Core/Plugin/PreWarmablePluginManagerTrait.php
  core/lib/Drupal/Core/PreWarm/CachePreWarmer.php
  core/lib/Drupal/Core/PreWarm/CachePreWarmerInterface.php
  core/lib/Drupal/Core/PreWarm/PreWarmableInterface.php
  core/lib/Drupal/Core/Render/ElementInfoManager.php
  core/misc/cspell/dictionary.txt
  core/modules/views/src/Plugin/ViewsHandlerManager.php
  core/modules/views/src/Plugin/ViewsPluginManager.php
  core/tests/Drupal/KernelTests/Core/PreWarm/PreWarmerTest.php
  core/tests/Drupal/Tests/Core/PreWarm/CachePreWarmerTest.php
Due: üßπ JavaScript linting (eslint)

Issue #3437499 by catch, kristiaanvandeneynde, oily, berdir: Use placeholdering for more blocks
  core/lib/Drupal/Core/Block/BlockPluginInterface.php
  core/lib/Drupal/Core/Block/BlockPluginTrait.php
  core/lib/Drupal/Core/Menu/Plugin/Block/LocalActionsBlock.php
  core/lib/Drupal/Core/Menu/Plugin/Block/LocalTasksBlock.php
  core/modules/block/src/BlockViewBuilder.php
  core/modules/block_content/src/Plugin/Block/BlockContentBlock.php
  core/modules/system/src/Plugin/Block/SystemBreadcrumbBlock.php
  core/modules/system/src/Plugin/Block/SystemMenuBlock.php
  core/modules/views/src/Plugin/Block/ViewsBlock.php
  core/modules/views/src/Plugin/Block/ViewsBlockBase.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/AssetAggregationAcrossPagesTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryAuthenticatedPerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryNodePagePerformanceTest.php
  core/profiles/standard/tests/src/FunctionalJavascript/StandardJavascriptTest.php
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTest.php
Due: none

Issue #3513053 by mglaman, phenaproxima: Allow specifying account to switch to when importing default content
  core/lib/Drupal/Core/DefaultContent/Importer.php
  core/tests/Drupal/FunctionalTests/DefaultContent/ContentImportTest.php
Due: none

Issue #3506743 by tomislav.matokovic, rinku jacob 13, smustgrave, ckrina: Increase the color contrast of the navigation block title
  core/modules/navigation/css/components/toolbar-block.css
  core/modules/navigation/css/components/toolbar-block.pcss.css
Due: üßπ CSS linting (stylelint)

SA-CORE-2025-004 by samuel.mortenson, xjm, larowlan, pandaski, effulgentsia, jenlampton, mcdruid, longwave, benjifisher, bramdriesen, phenaproxima
  core/modules/link/src/AttributeXss.php
  core/modules/link/src/Plugin/Field/FieldFormatter/LinkFormatter.php
  core/modules/menu_link_content/src/Entity/MenuLinkContent.php
  core/modules/system/tests/fixtures/linkset/linkset-menu-main.json
  core/modules/system/tests/src/Functional/Menu/LinksetControllerTest.php
Due: none

Drupal 11.1.5
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  core/lib/Drupal.php
Due: none

Drupal 11.0.13
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  core/lib/Drupal.php
Due: none

Drupal 10.4.5
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  core/lib/Drupal.php
Due: none

Drupal 10.3.14
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  core/lib/Drupal.php
Due: none

Issue #3484845 by mstrelan, acbramley: [random test failure] ImageUrlProviderTest::testResize
  core/modules/ckeditor5/tests/src/FunctionalJavascript/ImageTestProviderTrait.php
Due: none

Issue #3351516 by mstrelan, catch: [random test failure] Drupal\Tests\media\FunctionalJavascript\MediaSourceFileTest
  core/modules/media/tests/src/FunctionalJavascript/MediaSourceFileTest.php
Due: none

Issue #3504559 by berdir: AssetResolver may load the same cache several time on a single page with bigpipe
  core/core.services.yml
  core/modules/navigation/tests/src/FunctionalJavascript/PerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryAuthenticatedPerformanceTest.php
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTest.php
Due: üßπ JavaScript linting (eslint)

Issue #3513211 by quietone: Fix 'Drupal.Commenting.ClassComment.Missing' in core/tests
  core/phpcs.xml.dist
  core/tests/Drupal/FunctionalTests/Rest/BaseFieldOverrideResourceTestBase.php
  core/tests/Drupal/FunctionalTests/Rest/EntityFormDisplayResourceTestBase.php
  core/tests/Drupal/FunctionalTests/Rest/EntityFormModeResourceTestBase.php
  core/tests/Drupal/FunctionalTests/Rest/EntityViewDisplayResourceTestBase.php
  core/tests/Drupal/FunctionalTests/Rest/EntityViewModeResourceTestBase.php
  core/tests/Drupal/KernelTests/Core/Plugin/Context/ContextAwarePluginTraitTest.php
  core/tests/Drupal/KernelTests/Core/Routing/RouteProviderTest.php
  core/tests/Drupal/Tests/Component/FileCache/FileCacheFactoryTest.php
  core/tests/Drupal/Tests/Component/HttpFoundation/SecuredRedirectResponseTest.php
  core/tests/Drupal/Tests/Component/Plugin/Discovery/AttributeBridgeDecoratorTest.php
  core/tests/Drupal/Tests/Component/ProxyBuilder/ProxyBuilderTest.php
  core/tests/Drupal/Tests/Component/Utility/ArgumentsResolverTest.php
  core/tests/Drupal/Tests/Component/Utility/VariableTest.php
  core/tests/fixtures/database_drivers/core/CoreFake/Connection.php
  core/tests/fixtures/database_drivers/core/CoreFake/Install/Tasks.php
  core/tests/fixtures/database_drivers/custom/CoreFake/Connection.php
  core/tests/fixtures/database_drivers/custom/CoreFake/Install/Tasks.php
  core/tests/fixtures/database_drivers/custom/fake/Install/Tasks.php
Due: none

Issue #3323574 by lobodakyrylo, the_g_bomb, phthlaap, oily, vinmayiswamy, smustgrave, codebymikey, lendude: Pager not working correctly in AJAX view with exposed filters
  core/modules/views/js/ajax_view.js
  core/modules/views/tests/modules/views_test_config/test_views/views.view.test_content_ajax.yml
  core/modules/views/tests/src/FunctionalJavascript/PaginationAJAXTest.php
Due: üßπ JavaScript linting (eslint)

Issue #3512194 by catch, smustgrave, nod_: Move resize CSS into its own library
  core/core.libraries.yml
  core/lib/Drupal/Core/Render/Element/Textarea.php
  core/misc/components/resize.module.css
  core/modules/navigation/tests/src/FunctionalJavascript/PerformanceTest.php
  core/modules/system/system.libraries.yml
  core/profiles/demo_umami/tests/src/FunctionalJavascript/AssetAggregationAcrossPagesTest.php
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTest.php
  core/themes/stable9/css/core/components/resize.module.css
  core/themes/stable9/stable9.info.yml
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint)

Issue #3503912 by quietone, nod_, borisson_, catch: Fix Drupal.Commenting.FunctionComment.Missing in Plugins
  core/.phpstan-baseline.php
  core/modules/comment/src/Plugin/views/row/Rss.php
  core/modules/filter/src/Plugin/Filter/FilterHtml.php
  core/modules/node/src/Plugin/views/row/Rss.php
  core/modules/system/src/Plugin/Condition/ResponseStatus.php
  core/modules/system/tests/modules/plugin_test/src/Plugin/plugin_test/custom_annotation/ExtendingNonInstalledClass.php
  core/modules/system/tests/modules/plugin_test/src/Plugin/plugin_test/custom_annotation/UsingNonInstalledTraitClass.php
  core/modules/system/tests/modules/plugin_test/src/Plugin/plugin_test/mock_block/MockComplexContextBlock.php
  core/modules/system/tests/modules/plugin_test/src/Plugin/plugin_test/mock_block/MockUserLoginBlock.php
  core/modules/system/tests/modules/plugin_test/src/Plugin/plugin_test/mock_block/MockUserNameBlock.php
  core/modules/system/tests/modules/plugin_test/src/Plugin/plugin_test/mock_block/TypedDataStringBlock.php
  core/modules/taxonomy/src/Plugin/views/relationship/NodeTermData.php
  core/modules/views/src/Plugin/views/argument_validator/None.php
  core/modules/views/src/Plugin/views/argument_validator/NumericArgumentValidator.php
  core/modules/views/src/Plugin/views/row/Fields.php
  core/modules/views/src/Plugin/views/row/RssFields.php
  core/phpcs.xml.dist
Due: none

Issue #3105950 by spokje, quietone, peterkokot, ankithashetty, longwave: [meta] Fix 'Drupal.Commenting.ClassComment.Missing' coding standard
  core/lib/Drupal/Component/Plugin/Discovery/DiscoveryCachedTrait.php
  core/lib/Drupal/Core/Batch/BatchStorage.php
  core/lib/Drupal/Core/Cache/ApcuBackendFactory.php
  core/lib/Drupal/Core/Cache/CacheFactory.php
  core/lib/Drupal/Core/Cache/DatabaseBackendFactory.php
  core/lib/Drupal/Core/Cache/MemoryBackendFactory.php
  core/lib/Drupal/Core/Cache/MemoryCache/MemoryCacheFactory.php
  core/lib/Drupal/Core/Cache/MemoryCounterBackendFactory.php
  core/lib/Drupal/Core/Cache/NullBackendFactory.php
  core/lib/Drupal/Core/Cache/PhpBackendFactory.php
  core/lib/Drupal/Core/ClassLoader/BackwardsCompatibilityClassLoader.php
  core/lib/Drupal/Core/Config/ConfigImporterEvent.php
  core/lib/Drupal/Core/Config/ConfigInstaller.php
  core/lib/Drupal/Core/Config/Plugin/Validation/Constraint/LangcodeRequiredIfTranslatableValuesConstraint.php
  core/lib/Drupal/Core/Entity/EntityAutocompleteMatcherInterface.php
  core/lib/Drupal/Core/Recipe/InputCollectorInterface.php
  core/lib/Drupal/Core/Routing/LazyRouteCollection.php
  core/lib/Drupal/Core/Validation/Plugin/Validation/Constraint/CountryCodeConstraint.php
  core/phpcs.xml.dist
  core/themes/starterkit_theme/src/StarterKit.php
Due: none

Issue #3513317 by annmarysruthy, larowlan, wim leers: ImageItem::defaultStorageSettings() should override display_default
  core/modules/image/src/Plugin/Field/FieldType/ImageItem.php
  core/modules/image/tests/src/Kernel/ImageItemTest.php
Due: none

Issue #3510939 by mikelutz, balazswmann, godotislate, mxr576: Avoid registering multiple batch sets with node_access_rebuild()'s batch mode
  core/lib/Drupal/Core/Batch/BatchBuilder.php
  core/modules/node/node.module
  core/modules/node/tests/src/Kernel/NodeAccessTest.php
  core/tests/Drupal/Tests/Core/Batch/BatchBuilderTest.php
Due: üìî Validatable config

Issue #3507866 by plopesc, m4olivei, ckrina, berdir, catch: Enable the Navigation Top Bar when Navigation is enabled
  core/modules/navigation/modules/navigation_top_bar/navigation_top_bar.info.yml
  core/modules/navigation/modules/navigation_top_bar/src/Hook/NavigationTopBarHooks.php
  core/modules/navigation/modules/navigation_top_bar/tests/src/Functional/GenericTest.php
  core/modules/navigation/navigation.post_update.php
  core/modules/navigation/src/NavigationRenderer.php
  core/modules/navigation/tests/src/Functional/NavigationShortcutsBlockTest.php
  core/modules/navigation/tests/src/Functional/NavigationTopBarContentModerationTest.php
  core/modules/navigation/tests/src/Functional/NavigationTopBarPageContextTest.php
  core/modules/navigation/tests/src/Functional/NavigationTopBarTest.php
  core/modules/navigation/tests/src/FunctionalJavascript/PerformanceTest.php
  core/modules/navigation/tests/src/FunctionalJavascript/TopBarPerformanceTest.php
  core/phpunit.xml.dist
Due: üßπ JavaScript linting (eslint)

Issue #3512284 by catch, jacine, feuerwagen: Remove details.css since it is no longer needed
  core/modules/system/css/components/details.module.css
  core/modules/system/system.libraries.yml
  core/themes/stable9/css/system/components/details.module.css
  core/themes/stable9/stable9.info.yml
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint)

Issue #3497341 by berdir: Add caching to ConfigurableLanguageManager::getLanguages()
  core/modules/language/src/ConfigurableLanguageManager.php
  core/modules/language/src/LanguageServiceProvider.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryAuthenticatedPerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryNodePagePerformanceTest.php
Due: none

Issue #3400150 by mstrelan, quietone: [random test failure] TimestampFormatterWithTimeDiffTest::testTimestampFormatterWithTimeDiff
  core/tests/Drupal/FunctionalJavascriptTests/Core/Field/TimestampFormatterWithTimeDiffTest.php
  core/tests/Drupal/FunctionalJavascriptTests/Core/Field/TimestampFormatterWithTimeDiffViewsTest.php
Due: none

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/package.json, core/yarn.lock, **/*.css
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module
