Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/package.json, core/yarn.lock, **/*.css
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module

Issue #3439909 by SolimanHarkas, vensires: Fix Taxonomy tests that rely on UID1's super user behavior
  core/modules/taxonomy/tests/src/Kernel/Views/TaxonomyFieldVidTest.php
Due: none

Issue #3445224 by catch, Gábor Hojtsy: Update composer metapackages
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: none

Issue #3421175 by quietone, catch, Gábor Hojtsy, alexpott, smustgrave, longwave, daffie: Update INSTALL.txt and hook_requirements() etc. with remaining Drupal 11 platform requirements
  .gitlab-ci.yml
  core/INSTALL.txt
  core/assets/scaffold/files/default.settings.php
  core/modules/migrate/src/Plugin/migrate/source/SqlBase.php
  core/modules/mysql/mysql.install
  core/modules/mysql/src/Driver/Database/mysql/Connection.php
  core/modules/mysql/src/Driver/Database/mysql/Install/Tasks.php
  core/modules/mysql/tests/src/Functional/InstallerIsolationLevelExistingSettingsTest.php
  core/modules/mysql/tests/src/Functional/InstallerIsolationLevelNoDatabaseSettingsTest.php
  core/modules/pgsql/src/Driver/Database/pgsql/Install/Tasks.php
  sites/default/default.settings.php
Due: üßπ JavaScript linting (eslint)

Issue #3440223 by bronzehedwick, ahsannazir, jwitkowski79, adwivedi008: Incorrect padding on child menu items
  core/modules/navigation/css/components/toolbar-button.css
  core/modules/navigation/css/components/toolbar-button.pcss.css
Due: üßπ CSS linting (stylelint)

Issue #3282598 by Gauravvvv, amit.mall, lalitware, pradhumanjain2311, Wim Leers: Claro should not hardcode decimal list style type for <ol>
  core/themes/claro/css/base/elements.css
  core/themes/claro/css/base/elements.pcss.css
Due: üßπ CSS linting (stylelint)

Issue #3441920 by scott_euser, catch, smustgrave, quietone: Support #attached settings in ViewAjaxController
  core/modules/views/src/Controller/ViewAjaxController.php
  core/modules/views/tests/src/Unit/Controller/ViewAjaxControllerTest.php
Due: none

Revert "Issue #3396536 by fjgarlin, catch, kim.pepper: [random test failure] Re-enable AjaxTest::testAjaxFocus()"
  core/tests/Drupal/FunctionalJavascriptTests/Ajax/AjaxTest.php
Due: none

Issue #3443959: DialogRenderer::getTitleAsStringable() does not support all return types of TitleResolverInterface::getTitle()
  core/lib/Drupal/Core/Render/MainContent/DialogRenderer.php
Due: none

Issue #3444264 by andypost, alexpott, longwave: [PHP 8.4] ReflectionMethod constructor deprecated with one argument
  core/.phpstan-baseline.php
  core/lib/Drupal/Component/Utility/ArgumentsResolver.php
Due: none

Issue #3444264 by andypost, alexpott, longwave: [PHP 8.4] ReflectionMethod constructor deprecated with one argument
  core/lib/Drupal/Component/Utility/ArgumentsResolver.php
Due: none

Issue #3445791 by balsama, phenaproxima: Language module hook_modules_installed should account for sites with no installation profile now that it is possible to install a site from a recipe
  core/modules/language/language.module
Due: üìî Validatable config

Issue #3445833 by catch: Performance test gitlab job is failing on 11.x
  .gitlab-ci/pipeline.yml
Due: üßπ JavaScript linting (eslint)

Issue #3444978 by catch, Berdir: UserAuth BC layer is not working for modules that use it to provide email based logins
  core/modules/user/src/Form/UserLoginForm.php
  core/modules/user/src/UserAuthentication.php
  core/modules/user/user.services.yml
Due: üßπ JavaScript linting (eslint)
