Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Unit tests PHPStan rules, üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

Unit tests PHPStan rules:
  stage: ‚ö°Ô∏è Unit tests
  needs: []
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - docker-php-ext-enable pcov
  - cd core/tests/PHPStan
  - composer install
  - vendor/bin/phpunit tests --testdox --coverage-text --colors=always --coverage-cobertura=coverage.cobertura.xml --log-junit junit.xml
  ...

üßπ JavaScript linting (eslint):
  before_script:
  - cd core
  - corepack enable
  - yarn install
  - cd ..
  cache:
    key:
    - .yarn-install-from-cache
    - cache
    - key
    paths:
    - .yarn-install-from-cache
    - cache
    - paths
    policy: pull-push
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
    CACHE_FILE: core/.eslintcache
  ...

üßπ CSS linting (stylelint):
  before_script:
  - cd core
  - corepack enable
  - yarn install
  - cd ..
  cache:
    key:
      files:
      - ./core/package.json
      - ./core/yarn.lock
    paths:
    - ./core/.yarn/cache
    policy: pull
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
    CACHE_FILE: core/.stylelintcache
  script:
  ...

üìî Validatable config:
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  artifacts:
    expire_in: 1 week
    expose_as: validatable-config
    paths:
    - HEAD.json
    - MR.json
  allow_failure:
    exit_codes:
    - 100
    - 101
    - 1
  script:
  - git checkout -f $CI_MERGE_REQUEST_DIFF_BASE_SHA
  ...

fix: #3566261 [regression] custom field twig for second comment fields has null value in comment after 11.3.0 upgrade
  core/modules/comment/src/Hook/CommentThemeHooks.php
  core/modules/comment/tests/src/Kernel/CommentFieldPreprocessTest.php
  core/modules/system/tests/themes/test_theme/templates/field--comment-other.html.twig
  core/modules/system/tests/themes/test_theme/templates/field--comment.html.twig
Due: üìî Validatable config

fix: #3565703 block_content post update fails if views module is disabled
  core/modules/block_content/block_content.post_update.php
Due: none

task: #3562214 Upgrade glob because of CVE-2025-64756
  core/package.json
  core/yarn.lock
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint)

task: #3565943 [backport 11.2/10.5] [security hardening] Update composer to 2.9.3
  composer.json
  composer.lock
  composer/Metapackage/DevDependencies/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
Due: Unit tests PHPStan rules

task: #3533584 Deprecate Migrate Drupal
  core/modules/migrate_drupal/migrate_drupal.info.yml
  core/modules/migrate_drupal/tests/src/Functional/GenericTest.php
Due: üßπ JavaScript linting (eslint)

fix: #3061838 Email element does not have default #ajax event
  core/.phpstan-baseline.php
  core/lib/Drupal/Core/Render/Element/RenderElementBase.php
  core/modules/system/tests/modules/ajax_forms_test/src/Form/AjaxFormsTestSimpleForm.php
  core/tests/Drupal/FunctionalJavascriptTests/Ajax/AjaxTest.php
Due: none

task: #3556936 Outdated todo in EarlyRenderingControllerWrapperSubscriber
  core/lib/Drupal/Core/EventSubscriber/EarlyRenderingControllerWrapperSubscriber.php
Due: none

task: #3557053 Stop passing null as
  core/modules/jsonapi/src/ResourceType/ResourceType.php
  core/modules/jsonapi/src/Serializer/Serializer.php
  core/modules/jsonapi/tests/src/Kernel/Controller/EntityResourceTest.php
  core/modules/jsonapi/tests/src/Kernel/Query/FilterTest.php
  core/modules/jsonapi/tests/src/Unit/EventSubscriber/ResourceResponseValidatorTest.php
  core/modules/jsonapi/tests/src/Unit/Normalizer/JsonApiDocumentTopLevelNormalizerTest.php
  core/modules/jsonapi/tests/src/Unit/Normalizer/ResourceIdentifierNormalizerTest.php
Due: none

Revert "task: #3557053 Stop passing null as"
  core/modules/jsonapi/src/ResourceType/ResourceType.php
  core/modules/jsonapi/src/Serializer/Serializer.php
  core/modules/jsonapi/tests/src/Kernel/Controller/EntityResourceTest.php
  core/modules/jsonapi/tests/src/Kernel/Query/FilterTest.php
  core/modules/jsonapi/tests/src/Unit/EventSubscriber/ResourceResponseValidatorTest.php
  core/modules/jsonapi/tests/src/Unit/Normalizer/JsonApiDocumentTopLevelNormalizerTest.php
  core/modules/jsonapi/tests/src/Unit/Normalizer/ResourceIdentifierNormalizerTest.php
Due: none

task: #3557053 Stop passing null as $deserialization_target_class
  core/modules/jsonapi/src/ResourceType/ResourceType.php
  core/modules/jsonapi/src/Serializer/Serializer.php
  core/modules/jsonapi/tests/src/Kernel/Controller/EntityResourceTest.php
  core/modules/jsonapi/tests/src/Kernel/Query/FilterTest.php
  core/modules/jsonapi/tests/src/Unit/EventSubscriber/ResourceResponseValidatorTest.php
  core/modules/jsonapi/tests/src/Unit/Normalizer/JsonApiDocumentTopLevelNormalizerTest.php
  core/modules/jsonapi/tests/src/Unit/Normalizer/ResourceIdentifierNormalizerTest.php
Due: none

fix: #3557014 PageDisplayVariant does not transmit cache metadata
  core/lib/Drupal/Core/Render/Plugin/DisplayVariant/SimplePageVariant.php
  core/modules/block/src/Plugin/DisplayVariant/BlockPageVariant.php
  core/modules/block/tests/src/Unit/Plugin/DisplayVariant/BlockPageVariantTest.php
  core/tests/Drupal/Tests/Core/Render/Plugin/DisplayVariant/SimplePageVariantTest.php
Due: none

task: #3530841 Update SourcePluginBase property type hints
  core/modules/migrate/src/Plugin/migrate/source/SourcePluginBase.php
Due: none

fix: #2828556 Display meaningful error messages according to the link type
  core/modules/link/src/Plugin/Field/FieldWidget/LinkWidget.php
  core/modules/link/tests/src/Functional/LinkFieldTest.php
  core/modules/menu_link_content/tests/src/Functional/MenuLinkContentFormTest.php
Due: none

fix: #3566429 Update to 10.6.0 fails due to nodejs version incompatibility
  core/package.json
  core/yarn.lock
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint)

fix: #3468180 Undefined array key "view_mode" in block_content_theme_suggestions_block_alter
  core/modules/block_content/block_content.module
  core/modules/block_content/tests/modules/block_content_theme_suggestions_test/block_content_theme_suggestions_test.info.yml
  core/modules/block_content/tests/modules/block_content_theme_suggestions_test/block_content_theme_suggestions_test.module
  core/modules/block_content/tests/modules/block_content_theme_suggestions_test/templates/block--block-content--view-type--basic--full.html.twig
  core/modules/block_content/tests/src/Functional/BlockContentThemeSuggestionsTest.php
  core/modules/block_content/tests/src/Kernel/BlockTemplateSuggestionsTest.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

fix: #3526908 Fix issues with ConfigEntityValidationTestBase
  core/modules/config/tests/config_test/src/Entity/ConfigTest.php
  core/modules/config/tests/config_test/tests/src/Kernel/ConfigTestValidationTest.php
  core/tests/Drupal/KernelTests/Core/Config/ConfigEntityValidationTestBase.php
  core/tests/Drupal/KernelTests/Core/Entity/ConfigEntityAdapterTest.php
Due: none

fix: #1522154 Saving non-default revisions shouldn't trigger a search reindex
  core/modules/node/src/Hook/NodeSearchHooks.php
  core/modules/node/tests/src/Kernel/NodeSearchTest.php
Due: üìî Validatable config

fix: #3505182 An entity without a label causes an uncaught exception for the navigation:title component
  core/modules/navigation/src/Plugin/TopBarItem/PageContext.php
  core/modules/navigation/tests/src/Unit/PageContextTest.php
Due: none

fix: #3549107 Escape or strip control characters in JSON:API
  core/misc/cspell/dictionary.txt
  core/modules/jsonapi/tests/src/Unit/Encoder/JsonEncoderTest.php
  core/modules/serialization/src/Encoder/JsonEncoder.php
  core/modules/serialization/tests/src/Unit/Encoder/JsonEncoderTest.php
Due: none

task: #3554579 Optimize database writes when re-saving a pending revision as the default one
  core/.phpstan-baseline.php
  core/lib/Drupal/Core/Entity/Sql/SqlContentEntityStorage.php
Due: none

fix: #3566845 [random test failure] ImageTest::testLinkability
  core/modules/ckeditor5/tests/src/FunctionalJavascript/ImageTestBaselineTrait.php
Due: none

fix: #3566844 [random test failure] MediaTest::testTranslationAlt
  core/modules/ckeditor5/tests/src/FunctionalJavascript/MediaTest.php
Due: none

task: Open main branch for Drupal 12.
  composer.json
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/DevDependencies/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Plugin/ProjectMessage/composer.json
  composer/Plugin/RecipeUnpack/composer.json
  composer/Plugin/Scaffold/composer.json
  composer/Plugin/VendorHardening/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
  core/tests/Drupal/Tests/Composer/Generator/BuilderTest.php
Due: Unit tests PHPStan rules

ci: Set COMPOSER_ROOT_VERSION to dev-main.
  .gitlab-ci.yml
Due: üßπ JavaScript linting (eslint)

fix: #3567459 Fix test failures on main branch
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/modules/announcements_feed/tests/src/Kernel/AnnounceRendererTest.php
  core/modules/system/tests/modules/legacy_hook_test/legacy_hook_test.info.yml
Due: üßπ JavaScript linting (eslint)

ci: #3567679 Make the validatable config job manual
  .gitlab-ci.yml
Due: üßπ JavaScript linting (eslint)

Path conditions:
  Unit tests PHPStan rules: any of: core/tests/PHPStan/**/*, composer/Metapackage/PinnedDevDependencies/composer.json
  üßπ JavaScript linting (eslint): any of: core/.eslint*, core/.prettier*, core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/.stylelintrc.json, core/.prettier*, core/package.json, core/yarn.lock, **/*.css
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module, **/src/Hook/*.php
