Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Unit tests PHPStan rules, üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

Unit tests PHPStan rules:
  stage: ‚ö°Ô∏è Unit tests
  needs: []
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - docker-php-ext-enable pcov
  - cd core/tests/PHPStan
  - composer install
  - vendor/bin/phpunit tests --testdox --coverage-text --colors=always --coverage-cobertura=coverage.cobertura.xml --log-junit junit.xml
  ...

üßπ JavaScript linting (eslint):
  before_script:
  - cd core
  - corepack enable
  - yarn install
  - cd ..
  cache:
    key:
    - .yarn-install-from-cache
    - cache
    - key
    paths:
    - .yarn-install-from-cache
    - cache
    - paths
    policy: pull-push
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
    CACHE_FILE: core/.eslintcache
  ...

üßπ CSS linting (stylelint):
  before_script:
  - cd core
  - corepack enable
  - yarn install
  - cd ..
  cache:
    key:
      files:
      - ./core/package.json
      - ./core/yarn.lock
    paths:
    - ./core/.yarn/cache
    policy: pull
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
    CACHE_FILE: core/.stylelintcache
  script:
  ...

üìî Validatable config:
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  artifacts:
    expire_in: 1 week
    expose_as: validatable-config
    paths:
    - HEAD.json
    - MR.json
  allow_failure:
    exit_codes:
    - 100
    - 101
    - 1
  script:
  - git checkout -f $CI_MERGE_REQUEST_DIFF_BASE_SHA
  ...

task: #3567980 Remove unneeded parameter $requestStack from EntityController
  core/lib/Drupal/Core/Entity/Controller/EntityController.php
Due: none

task: #3566052 Add dww as a maintainer of the Content Moderation subsystem
  core/MAINTAINERS.txt
Due: none

docs: #3568330 Minor doc tweaks after #3536470
  core/lib/Drupal/Core/Hook/HookCollectorPass.php
  core/lib/Drupal/Core/Hook/OrderOperation/OrderOperation.php
Due: none

task: #3566424 Deprecate Views::pluginManager() and Views::handlerManager() and replace with service locator
  core/modules/content_moderation/src/Plugin/views/ModerationStateJoinViewsHandlerTrait.php
  core/modules/content_moderation/src/Plugin/views/filter/ModerationStateFilter.php
  core/modules/content_moderation/tests/src/Kernel/ViewsModerationStateFilterTest.php
  core/modules/rest/tests/src/Unit/CollectRoutesTest.php
  core/modules/search/src/Plugin/views/argument/Search.php
  core/modules/search/src/Plugin/views/filter/Search.php
  core/modules/taxonomy/src/TaxonomyIndexDepthQueryTrait.php
  core/modules/views/src/Entity/View.php
  core/modules/views/src/Hook/ViewsThemeHooks.php
  core/modules/views/src/Plugin/views/HandlerBase.php
  core/modules/views/src/Plugin/views/argument/ArgumentPluginBase.php
  core/modules/views/src/Plugin/views/display/DisplayPluginBase.php
  core/modules/views/src/Plugin/views/display/PathPluginBase.php
  core/modules/views/src/Plugin/views/exposed_form/InputRequired.php
  core/modules/views/src/Plugin/views/join/JoinPluginBase.php
  core/modules/views/src/Plugin/views/relationship/GroupwiseMax.php
  core/modules/views/src/Plugin/views/relationship/RelationshipPluginBase.php
  core/modules/views/src/Plugin/views/row/RowPluginBase.php
  core/modules/views/src/Plugin/views/sort/GroupByNumeric.php
  core/modules/views/src/Plugin/views/wizard/WizardPluginBase.php
  core/modules/views/src/ViewExecutable.php
  core/modules/views/src/Views.php
  core/modules/views/tests/src/Unit/Plugin/display/PathPluginBaseTest.php
  core/modules/views/tests/src/Unit/ViewExecutableTest.php
  core/modules/views/tests/src/Unit/ViewsTest.php
  core/modules/views/views.module
  core/modules/views/views.services.yml
  core/modules/views_ui/src/Form/Ajax/ConfigHandler.php
  core/modules/views_ui/src/Form/Ajax/ConfigHandlerGroup.php
  core/modules/views_ui/src/ViewUI.php
  core/modules/views_ui/tests/src/Functional/DisplayTest.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

perf: #3537962 EntityFieldManager::getFieldDefinitions() per-bundle caching can be expensive
  core/lib/Drupal/Core/Entity/EntityFieldManager.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryAuthenticatedPerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryFrontPagePerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryNodePagePerformanceTest.php
  core/tests/Drupal/Tests/Core/Entity/EntityFieldManagerTest.php
Due: none

fix: #3569778 Fix link in \Drupal\Tests\package_manager\Kernel\TestSandboxManager::__sleep doc
  core/modules/package_manager/tests/src/Kernel/PackageManagerKernelTestBase.php
Due: none

task: #3505370 Remove 'filter tips' page and deprecate the long format API
  core/.deprecation-ignore.txt
  core/modules/filter/filter.links.menu.yml
  core/modules/filter/filter.module
  core/modules/filter/filter.routing.yml
  core/modules/filter/src/Controller/FilterController.php
  core/modules/filter/src/Element/TextFormat.php
  core/modules/filter/src/Hook/FilterThemeHooks.php
  core/modules/filter/src/Plugin/FilterBase.php
  core/modules/filter/src/Plugin/FilterInterface.php
  core/modules/filter/tests/src/Functional/FilterAdminTest.php
  core/modules/filter/tests/src/Functional/FilterFormatAccessTest.php
  core/modules/user/tests/src/Functional/UserBlocksTest.php
  core/modules/views_ui/tests/src/Functional/DisplayPathTest.php
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTest.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

fix: #3566568 The short description for the \Drupal\user\AccountForm class is not correct
  core/modules/user/src/AccountForm.php
Due: none

docs: #3569752 RoleStorage is described as controller class
  core/modules/user/src/RoleStorage.php
Due: none

task: #3570447 Fix documentation grammar and structure in TableMappingInterface
  core/lib/Drupal/Core/Entity/Sql/TableMappingInterface.php
Due: none

task: #3570133 PHPUnit security update
  composer.json
  composer.lock
  composer/Metapackage/DevDependencies/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  core/tests/PHPStan/composer.json
Due: Unit tests PHPStan rules

task: #3566888 Move contact module form callbacks from procedural to hook class
  core/modules/contact/contact.module
  core/modules/contact/src/Hook/ContactFormHooks.php
Due: üìî Validatable config

docs: #3566616 Improve typehinting of \Drupal\Core\Entity\EntityStorageInterface::getEntityClass return type
  core/lib/Drupal/Core/Entity/EntityStorageInterface.php
Due: none

task: #3571063 Remove Deprecated methods in ModuleHandler and ModuleHandlerInterface slated for removal in 12
  core/.phpstan-baseline.php
  core/lib/Drupal/Core/Extension/ModuleHandler.php
  core/lib/Drupal/Core/Extension/ModuleHandlerInterface.php
  core/lib/Drupal/Core/Hook/HookCollectorPass.php
  core/tests/Drupal/KernelTests/Core/Extension/ModuleHandlerTest.php
Due: none

task: #3569022 Add dvh, svh, lvh, dvw, svw, lvw as allowed units in .stylelintrc.json
  core/.stylelintrc.json
Due: üßπ CSS linting (stylelint)

task: #3469843 Fix getExpectedUnauthorizedEntityAccessCacheability PHPStan-0 issues
  core/.phpstan-baseline.php
  core/modules/rest/tests/src/Functional/BasicAuthResourceTestTrait.php
  core/modules/rest/tests/src/Functional/CookieResourceTestTrait.php
Due: none

feat: #3339905 Add page_top and page_bottom to #attached to get rid of NodeThemeHooks::pageTop()
  core/.phpstan-baseline.php
  core/lib/Drupal/Core/Render/AttachmentsInterface.php
  core/lib/Drupal/Core/Render/HtmlResponseAttachmentsProcessor.php
  core/lib/Drupal/Core/Render/MainContent/HtmlRenderer.php
  core/modules/node/src/Controller/NodePreviewController.php
  core/modules/node/src/Hook/NodeThemeHooks.php
Due: üìî Validatable config

task: #3568101 Remove editor.module underscore functions. Move the logic in EditorHooks
  core/lib/Drupal/Core/Entity/entity.api.php
  core/modules/editor/editor.module
  core/modules/editor/src/Hook/EditorHooks.php
Due: üìî Validatable config

task: #3571111 Remove item_attributes deprecations
  core/modules/image/src/Hook/ImageThemeHooks.php
  core/modules/image/tests/src/Kernel/ImageThemeFunctionTest.php
  core/modules/responsive_image/src/Hook/ResponsiveImageThemeHooks.php
  core/modules/responsive_image/tests/src/Functional/ResponsiveImageFieldDisplayTest.php
Due: üìî Validatable config

feat: #3529464 Make menu trail behaviour in SystemMenuBlock optional
  core/modules/system/config/schema/system.schema.yml
  core/modules/system/src/Plugin/Block/SystemMenuBlock.php
  core/modules/system/src/Plugin/Validation/Constraint/IgnoreActiveTrailConstraint.php
  core/modules/system/src/Plugin/Validation/Constraint/IgnoreActiveTrailConstraintValidator.php
  core/modules/system/tests/src/FunctionalJavascript/Block/SystemMenuBlockUiTest.php
  core/modules/system/tests/src/Kernel/Block/SystemMenuBlockTest.php
  core/profiles/demo_umami/config/install/block.block.umami_account_menu.yml
  core/profiles/demo_umami/config/install/block.block.umami_footer.yml
  core/profiles/demo_umami/config/install/block.block.umami_main_menu.yml
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryAuthenticatedPerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryFrontPagePerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryNodePagePerformanceTest.php
  core/tests/Drupal/KernelTests/Config/Schema/MappingTest.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

task: #3563051 Remove unnecessary status messages from file_save_upload() on file rename
  core/modules/file/file.module
  core/modules/file/tests/src/Functional/SaveUploadFormTest.php
  core/modules/file/tests/src/Functional/SaveUploadTest.php
Due: üìî Validatable config

Path conditions:
  Unit tests PHPStan rules: any of: core/tests/PHPStan/**/*, composer/Metapackage/PinnedDevDependencies/composer.json
  üßπ JavaScript linting (eslint): any of: core/.eslint*, core/.prettier*, core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/.stylelintrc.json, core/.prettier*, core/package.json, core/yarn.lock, **/*.css
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module, **/src/Hook/*.php
