Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üìã PHPUnit Unit (PHPStan rules), üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üì¶ Yarn install on minimum Node.js version

Path conditions:
  üìã PHPUnit Unit (PHPStan rules): any of: core/tests/PHPStan/**/*, composer/Metapackage/PinnedDevDependencies/composer.json
  üßπ JavaScript linting (eslint): any of: core/.eslint*, core/.prettier*, core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/.stylelintrc.json, core/.prettier*, core/package.json, core/yarn.lock, **/*.css
  üì¶ Yarn install on minimum Node.js version: any of: core/package.json, core/yarn.lock

task: #3616553 replace usage of spl_object_hash() with spl_object_id()
  core/lib/Drupal/Component/DependencyInjection/ReverseContainer.php
  core/lib/Drupal/Core/Entity/Sql/SqlContentEntityStorageSchema.php
  core/lib/Drupal/Core/TypedData/Validation/RecursiveContextualValidator.php
  core/modules/file/tests/src/Kernel/Formatter/FileEntityFormatterTest.php
  core/modules/user/tests/src/Kernel/Field/UserNameFormatterTest.php
  core/modules/views/tests/src/Kernel/Plugin/DisplayKernelTest.php
  core/modules/views/tests/src/Kernel/ViewExecutableTest.php
  core/modules/views/tests/src/Unit/ViewsTest.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityTranslationTest.php
  core/tests/Drupal/KernelTests/Core/Routing/RouteProviderTest.php
  core/tests/Drupal/Tests/Core/Entity/TypedData/EntityAdapterUnitTest.php
Due: none

task: #2934063 Remove the workaround in \Drupal\Core\Installer\ExtensionListTrait::setPathname()
  core/includes/install.core.inc
  core/lib/Drupal/Core/Config/ConfigInstaller.php
  core/lib/Drupal/Core/Config/ExtensionInstallStorage.php
  core/lib/Drupal/Core/Config/InstallStorage.php
  core/lib/Drupal/Core/Extension/ExtensionList.php
  core/lib/Drupal/Core/Extension/ModuleExtensionList.php
  core/lib/Drupal/Core/Installer/ExtensionListTrait.php
  core/lib/Drupal/Core/Installer/InstallerModuleExtensionList.php
  core/lib/Drupal/Core/Installer/InstallerThemeEngineExtensionList.php
  core/lib/Drupal/Core/Installer/InstallerThemeExtensionList.php
  core/lib/Drupal/Core/Installer/NormalInstallerServiceProvider.php
  core/modules/system/tests/src/Kernel/Extension/ModuleHandlerTest.php
  core/modules/system/tests/src/Kernel/Installer/InstallerDependenciesResolutionTest.php
  core/tests/Drupal/KernelTests/Core/Installer/InstallerLanguageTest.php
  core/tests/Drupal/Tests/Core/Extension/ExtensionListTest.php
  core/tests/Drupal/Tests/Core/Installer/InstallerExtensionListDeprecationTest.php
Due: none

fix: #3615256 Performance tests job fails on main: Chrome runs without --disable-dev-shm-usage
  .gitlab-ci.yml
Due: üßπ JavaScript linting (eslint)

task: #3593581 Add MariaDB 12.3 LTS to the test matrix
  .gitlab-ci.yml
  core/modules/mysql/tests/src/Kernel/mysql/SchemaTest.php
Due: üßπ JavaScript linting (eslint)

fix: #2672340 user_user_role_insert should not exist
  core/modules/user/src/Hook/UserHooks.php
  core/modules/user/src/RoleForm.php
  core/modules/user/tests/src/Functional/Views/BulkFormTest.php
  core/modules/user/tests/src/Kernel/UserActionConfigSchemaTest.php
  core/profiles/demo_umami/config/install/system.action.user_add_role_action.administrator.yml
  core/profiles/demo_umami/config/install/system.action.user_add_role_action.author.yml
  core/profiles/demo_umami/config/install/system.action.user_add_role_action.editor.yml
  core/profiles/demo_umami/config/install/system.action.user_remove_role_action.administrator.yml
  core/profiles/demo_umami/config/install/system.action.user_remove_role_action.author.yml
  core/profiles/demo_umami/config/install/system.action.user_remove_role_action.editor.yml
  core/profiles/standard/config/install/system.action.user_add_role_action.administrator.yml
  core/profiles/standard/config/install/system.action.user_add_role_action.content_editor.yml
  core/profiles/standard/config/install/system.action.user_remove_role_action.administrator.yml
  core/profiles/standard/config/install/system.action.user_remove_role_action.content_editor.yml
  core/recipes/administrator_role/config/system.action.user_add_role_action.administrator.yml
  core/recipes/administrator_role/config/system.action.user_remove_role_action.administrator.yml
  core/recipes/content_editor_role/config/system.action.user_add_role_action.content_editor.yml
  core/recipes/content_editor_role/config/system.action.user_remove_role_action.content_editor.yml
Due: üßπ JavaScript linting (eslint)

task: #3615396 Update PHP_CodeSniffer to 3.13.6
  composer.lock
  composer/Metapackage/PinnedDevDependencies/composer.json
Due: üìã PHPUnit Unit (PHPStan rules)

task: #3570466 Reduce severity of GD library supported image file formats warning
  core/modules/system/src/Plugin/ImageToolkit/GDToolkit.php
Due: none

task: #3582506 Connection::open() should have SensitiveParameter
  core/lib/Drupal/Core/Database/Connection.php
  core/modules/mysql/src/Driver/Database/mysql/Connection.php
  core/modules/mysqli/src/Driver/Database/mysqli/Connection.php
  core/modules/pgsql/src/Driver/Database/pgsql/Connection.php
  core/modules/sqlite/src/Driver/Database/sqlite/Connection.php
Due: none

fix: #3615576 FileExistsException thrown in FileSystem::prepareDestination does not show destination path
  core/lib/Drupal/Core/File/FileSystem.php
  core/tests/Drupal/KernelTests/Core/File/FileSystemTest.php
Due: none

fix: #3465020 CKEditor 5 overrides dialogSettings objects provided by CKEditor plugins
  core/modules/ckeditor5/js/ckeditor5.js
  core/modules/ckeditor5/tests/src/FunctionalJavascript/CKEditor5DialogTest.php
Due: üßπ JavaScript linting (eslint)

test: #3613253 Split up MediaAccessControlHandlerTest
  core/modules/media/tests/src/Kernel/MediaAccessControlHandlerCreateTest.php
  core/modules/media/tests/src/Kernel/MediaAccessControlHandlerTest.php
Due: none

task: #3592672 Remove the who's new and who's online views
  core/modules/user/config/optional/views.view.who_s_new.yml
  core/modules/user/config/optional/views.view.who_s_online.yml
  core/modules/user/tests/src/Kernel/WhoIsOnlineBlockTest.php
  core/modules/views_ui/tests/src/FunctionalJavascript/FilterCriteriaTest.php
  core/modules/views_ui/tests/src/FunctionalJavascript/ViewsListingTest.php
  core/recipes/standard/recipe.yml
  core/tests/Drupal/FunctionalJavascriptTests/Theme/ClaroViewsUiTest.php
  core/tests/Drupal/FunctionalTests/Installer/InstallerExistingConfigSyncDirectoryMultilingualTest.php
  core/tests/fixtures/config_install/multilingual/language/es/views.view.watchdog.yml
  core/tests/fixtures/config_install/multilingual/language/es/views.view.who_s_new.yml
  core/tests/fixtures/config_install/multilingual/language/es/views.view.who_s_online.yml
  core/tests/fixtures/config_install/multilingual/views.view.who_s_new.yml
  core/tests/fixtures/config_install/multilingual/views.view.who_s_online.yml
Due: üßπ JavaScript linting (eslint)

fix: #3607797 Potential XSS in block.admin.js
  core/modules/block/js/block.admin.js
  core/modules/block/tests/modules/block_test/src/Plugin/Block/TestXssBlock.php
  core/modules/block/tests/src/FunctionalJavascript/BlockFilterTest.php
Due: üßπ JavaScript linting (eslint)

fix: #3605792 SQL injection via unvalidated operator in case-insensitive entity query array conditions
  core/lib/Drupal/Core/Entity/Query/Sql/pgsql/Condition.php
  core/modules/pgsql/tests/src/Unit/EntityQuery/ConditionTest.php
Due: none

fix: #3575821 locale.check_translation route is not protected against CSRF
  core/modules/locale/locale.routing.yml
  core/modules/locale/tests/src/Functional/LocaleConfigTranslationImportTest.php
  core/modules/locale/tests/src/Functional/LocaleUpdateCronTest.php
  core/modules/locale/tests/src/Functional/LocaleUpdateTest.php
Due: üßπ JavaScript linting (eslint)

fix: #3469280 Handle NULL mime types in template_preprocess_file_link()
  core/modules/file/src/Hook/FileThemeHooks.php
  core/modules/file/tests/src/Kernel/Formatter/FileEntityFormatterTest.php
Due: none

task: #3575492 Add [#NoDiscard] to CacheableMetadata::merge()
  core/lib/Drupal/Core/Cache/Cache.php
  core/lib/Drupal/Core/Cache/CacheableMetadata.php
  core/lib/Drupal/Core/Render/BubbleableMetadata.php
Due: none

docs: #3616720 Fix change record links
  core/lib/Drupal/Core/Asset/LibraryDiscoveryParser.php
  core/lib/Drupal/Core/Extension/ModuleInstaller.php
  core/lib/Drupal/Core/Render/HtmlResponseAttachmentsProcessor.php
  core/lib/Drupal/Core/Routing/YamlRouteDiscovery.php
  core/modules/big_pipe/src/Render/BigPipeResponseAttachmentsProcessor.php
  core/modules/help/src/Plugin/Search/HelpSearch.php
  core/tests/Drupal/FunctionalTests/Installer/InstallerTestBase.php
Due: none

perf: #3615187 Set names to UTF8 takes an extra round trip to the database
  core/modules/pgsql/src/Driver/Database/pgsql/Connection.php
  core/modules/pgsql/tests/src/Kernel/pgsql/ConnectionTest.php
  core/modules/pgsql/tests/src/Unit/ConnectionTest.php
Due: none

task: #3617668 Redundant argument in HtaccessWriter::ensure()
  core/lib/Drupal/Core/File/HtaccessWriter.php
Due: none
