Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üìã PHPUnit Unit (PHPStan rules), üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üì¶ Yarn install on minimum Node.js version

Path conditions:
  üìã PHPUnit Unit (PHPStan rules): any of: core/tests/PHPStan/**/*, composer/Metapackage/PinnedDevDependencies/composer.json
  üßπ JavaScript linting (eslint): any of: core/.eslint*, core/.prettier*, core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/.stylelintrc.json, core/.prettier*, core/package.json, core/yarn.lock, **/*.css
  üì¶ Yarn install on minimum Node.js version: any of: core/package.json, core/yarn.lock

fix: #3572171 Persist is_syncing across container rebuilds
  core/lib/Drupal/Core/DrupalKernel.php
  core/lib/Drupal/Core/Extension/ModuleInstaller.php
  core/modules/block/tests/src/Kernel/BlockConfigSyncTest.php
Due: none

task: #3309169 hook_entity_create() should clearly state the entity is not yet stored
  core/lib/Drupal/Core/Entity/entity.api.php
Due: none

task: #3573464 Package Manager should warn, not error, about being enabled for early testing
  core/modules/package_manager/src/Hook/PackageManagerRequirementsHooks.php
Due: none

task: #3574117 Improve commit-code-check.sh
  core/scripts/dev/commit-code-check.sh
Due: none

task: #3567121 Convert expectation-less test mocks to stubs - batch 1
  core/modules/announcements_feed/tests/src/Unit/AnnounceFetcherUnitTest.php
  core/modules/big_pipe/tests/src/Unit/Render/FiberPlaceholderTest.php
  core/modules/breakpoint/tests/src/Unit/BreakpointTest.php
  core/modules/content_moderation/tests/src/Unit/ContentModerationRouteSubscriberTest.php
  core/modules/jsonapi/tests/src/Unit/JsonApiResource/LinkTest.php
  core/modules/media_library/tests/src/Unit/MediaLibrarySelectFormTest.php
  core/modules/menu_link_content/tests/src/Unit/MenuLinkContentEntityAccessTest.php
  core/modules/mysql/tests/src/Unit/ConnectionTest.php
  core/modules/navigation/tests/src/Unit/NavigationMenuLinkTreeManipulatorsTest.php
  core/modules/responsive_image/tests/src/Unit/ResponsiveImageStyleConfigEntityUnitTest.php
  core/modules/shortcut/tests/src/Unit/Menu/ShortcutLocalTasksTest.php
  core/modules/sqlite/tests/src/Unit/ConnectionTest.php
  core/modules/workspaces/tests/src/Kernel/WorkspacePublisherTest.php
Due: none

refactor: #3398534 Allow form service wiring via constructor parameter attributes
  core/.phpstan-baseline.php
  core/lib/Drupal/Core/Form/ConfigFormBase.php
  core/lib/Drupal/Core/Form/FormBase.php
  core/modules/node/src/Form/NodePreviewForm.php
  core/modules/system/src/Form/CronForm.php
Due: none

task: #3575231 Add return types to AssertPageCacheContextsAndTagsTrait
  core/.phpstan-baseline.php
  core/modules/system/tests/src/Functional/Cache/AssertPageCacheContextsAndTagsTrait.php
Due: none

task: #3469143 MainContentViewSubscriber should use a service locator
  core/core.api.php
  core/core.services.yml
  core/lib/Drupal/Core/CoreServiceProvider.php
  core/lib/Drupal/Core/EventSubscriber/MainContentViewSubscriber.php
  core/lib/Drupal/Core/Render/MainContent/MainContentRenderersPass.php
Due: üßπ JavaScript linting (eslint)

refactor: #3571143 Convert BlockHooks::pageTop to attachment in BlockController::demo
  core/modules/block/src/Controller/BlockController.php
  core/modules/block/src/Hook/BlockHooks.php
Due: none

refactor: #3515544 The simpleConfigUpdate config action should throw an exception if you try to use it on a config entity
  core/lib/Drupal/Core/Config/Action/Plugin/ConfigAction/SimpleConfigUpdate.php
  core/tests/Drupal/KernelTests/Core/Recipe/EntityMethodConfigActionsTest.php
Due: none

task: #3570077 Update to Symfony 8
  composer.json
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/DevDependencies/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  core/composer.json
  core/lib/Drupal/Component/DependencyInjection/composer.json
  core/lib/Drupal/Component/EventDispatcher/composer.json
  core/lib/Drupal/Component/HttpFoundation/composer.json
  core/lib/Drupal/Component/Plugin/composer.json
  core/lib/Drupal/Component/Serialization/composer.json
  core/lib/Drupal/Core/Extension/Plugin/Validation/Constraint/ExtensionNameConstraint.php
  core/lib/Drupal/Core/Update/UpdateCompilerPass.php
  core/lib/Drupal/Core/Validation/Plugin/Validation/Constraint/CountConstraint.php
  core/lib/Drupal/Core/Validation/Plugin/Validation/Constraint/LengthConstraint.php
  core/modules/system/tests/modules/system_test/src/Controller/SystemTestController.php
  core/modules/system/tests/modules/system_test/system_test.routing.yml
  core/tests/Drupal/FunctionalTests/HttpKernel/RequestSanitizerTest.php
  core/tests/Drupal/Tests/Core/Security/RequestSanitizerTest.php
Due: üìã PHPUnit Unit (PHPStan rules), üßπ JavaScript linting (eslint)

test: #3576043 Delete zombie test modules
  core/.phpstan-baseline.php
  core/modules/content_moderation/tests/modules/content_moderation_test_local_task/content_moderation_test_local_task.info.yml
  core/modules/content_moderation/tests/modules/content_moderation_test_local_task/content_moderation_test_local_task.links.task.yml
  core/modules/content_moderation/tests/modules/content_moderation_test_local_task/content_moderation_test_local_task.routing.yml
  core/modules/content_moderation/tests/modules/content_moderation_test_local_task/src/Controller/TestLocalTaskController.php
  core/modules/system/tests/modules/pgsql_test/pgsql_test.info.yml
  core/modules/system/tests/modules/pgsql_test/pgsql_test.install
  core/modules/taxonomy/tests/modules/vocabulary_serialization_test/src/VocabularyResponse.php
  core/modules/taxonomy/tests/modules/vocabulary_serialization_test/src/VocabularySerializationTestController.php
  core/modules/taxonomy/tests/modules/vocabulary_serialization_test/vocabulary_serialization_test.info.yml
  core/modules/taxonomy/tests/modules/vocabulary_serialization_test/vocabulary_serialization_test.routing.yml
Due: üßπ JavaScript linting (eslint)

ci: #3575080 [CI] Enhance PHPStan ErrorFormatter
  core/phpstan.neon.dist
  core/tests/PHPStan/ErrorFormatter/FileOutput.php
  core/tests/PHPStan/ErrorFormatter/MultiplexErrorFormatter.php
Due: üìã PHPUnit Unit (PHPStan rules)

fix: #3577953 Remove "Sorry" from the codebase
  core/.cspell.json
  core/modules/media/src/Plugin/Validation/Constraint/OEmbedResourceConstraint.php
  core/modules/settings_tray/tests/modules/settings_tray_test/src/Plugin/Block/ValidationErrorBlock.php
  core/modules/settings_tray/tests/src/FunctionalJavascript/SettingsTrayBlockFormTest.php
  core/modules/system/tests/modules/new_dependency_test/src/ServiceWithDependency.php
  core/modules/system/tests/src/Functional/System/AccessDeniedTest.php
  core/modules/system/tests/src/Functional/System/SiteMaintenanceTest.php
  core/modules/user/src/Controller/UserAuthenticationController.php
  core/modules/user/tests/src/Functional/UserLoginHttpTest.php
  core/tests/Drupal/KernelTests/Core/KeyValueStore/DatabaseStorageExpirableTest.php
Due: none

fix: #3285176 Warning message links to "available updates" even if user does not have permission for that page
  core/modules/update/src/Hook/UpdateHooks.php
  core/modules/update/src/Hook/UpdateRequirements.php
  core/modules/update/tests/src/Functional/UpdateSemverCoreTest.php
  core/modules/update/update.module
Due: none

feat: #3547353 Move HIDDEN, CLOSED and OPEN constants in CommentItemInterface to new CommentingStatus enum
  core/modules/comment/src/CommentAccessControlHandler.php
  core/modules/comment/src/CommentForm.php
  core/modules/comment/src/CommentLazyBuilders.php
  core/modules/comment/src/CommentLinkBuilder.php
  core/modules/comment/src/CommentingStatus.php
  core/modules/comment/src/Controller/CommentController.php
  core/modules/comment/src/Hook/CommentHooks.php
  core/modules/comment/src/Plugin/Field/FieldFormatter/CommentDefaultFormatter.php
  core/modules/comment/src/Plugin/Field/FieldType/CommentItem.php
  core/modules/comment/src/Plugin/Field/FieldType/CommentItemInterface.php
  core/modules/comment/src/Plugin/Field/FieldWidget/CommentWidget.php
  core/modules/comment/src/Plugin/views/filter/NodeComment.php
  core/modules/comment/src/Tests/CommentTestTrait.php
  core/modules/comment/tests/modules/comment_base_field_test/src/Entity/CommentTestBaseField.php
  core/modules/comment/tests/src/Functional/CommentFieldsTest.php
  core/modules/comment/tests/src/Functional/CommentInterfaceTest.php
  core/modules/comment/tests/src/Functional/CommentLanguageTest.php
  core/modules/comment/tests/src/Functional/CommentLinksTest.php
  core/modules/comment/tests/src/Functional/CommentNonNodeTest.php
  core/modules/comment/tests/src/Functional/CommentRssTest.php
  core/modules/comment/tests/src/Functional/CommentTokenReplaceTest.php
  core/modules/comment/tests/src/Functional/CommentTranslationUITest.php
  core/modules/comment/tests/src/Functional/CommentTypeTest.php
  core/modules/comment/tests/src/Functional/Rest/CommentResourceTestBase.php
  core/modules/comment/tests/src/Functional/Views/CommentAdminTest.php
  core/modules/comment/tests/src/Kernel/CommentBaseFieldTest.php
  core/modules/comment/tests/src/Kernel/CommentFieldAccessTest.php
  core/modules/comment/tests/src/Kernel/CommentItemTest.php
  core/modules/comment/tests/src/Unit/CommentLinkBuilderTest.php
  core/modules/content_translation/tests/src/Functional/ContentTranslationSettingsTest.php
  core/modules/jsonapi/tests/src/Functional/CommentTest.php
  core/modules/jsonapi/tests/src/Functional/JsonApiFilterRegressionTest.php
  core/modules/jsonapi/tests/src/Functional/JsonApiPatchRegressionTest.php
  core/modules/jsonapi/tests/src/Functional/JsonApiRegressionTest.php
  core/modules/search/tests/src/Functional/SearchCommentCountToggleTest.php
  core/modules/search/tests/src/Functional/SearchCommentTest.php
  core/modules/search/tests/src/Functional/SearchRankingTest.php
  core/modules/system/tests/src/Functional/Theme/EntityFilteringThemeTest.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityCrudHookTest.php
Due: none

Revert "feat: #3547353 Move HIDDEN, CLOSED and OPEN constants in CommentItemInterface to new CommentingStatus enum"
  core/modules/comment/src/CommentAccessControlHandler.php
  core/modules/comment/src/CommentForm.php
  core/modules/comment/src/CommentLazyBuilders.php
  core/modules/comment/src/CommentLinkBuilder.php
  core/modules/comment/src/CommentingStatus.php
  core/modules/comment/src/Controller/CommentController.php
  core/modules/comment/src/Hook/CommentHooks.php
  core/modules/comment/src/Plugin/Field/FieldFormatter/CommentDefaultFormatter.php
  core/modules/comment/src/Plugin/Field/FieldType/CommentItem.php
  core/modules/comment/src/Plugin/Field/FieldType/CommentItemInterface.php
  core/modules/comment/src/Plugin/Field/FieldWidget/CommentWidget.php
  core/modules/comment/src/Plugin/views/filter/NodeComment.php
  core/modules/comment/src/Tests/CommentTestTrait.php
  core/modules/comment/tests/modules/comment_base_field_test/src/Entity/CommentTestBaseField.php
  core/modules/comment/tests/src/Functional/CommentFieldsTest.php
  core/modules/comment/tests/src/Functional/CommentInterfaceTest.php
  core/modules/comment/tests/src/Functional/CommentLanguageTest.php
  core/modules/comment/tests/src/Functional/CommentLinksTest.php
  core/modules/comment/tests/src/Functional/CommentNonNodeTest.php
  core/modules/comment/tests/src/Functional/CommentRssTest.php
  core/modules/comment/tests/src/Functional/CommentTokenReplaceTest.php
  core/modules/comment/tests/src/Functional/CommentTranslationUITest.php
  core/modules/comment/tests/src/Functional/CommentTypeTest.php
  core/modules/comment/tests/src/Functional/Rest/CommentResourceTestBase.php
  core/modules/comment/tests/src/Functional/Views/CommentAdminTest.php
  core/modules/comment/tests/src/Kernel/CommentBaseFieldTest.php
  core/modules/comment/tests/src/Kernel/CommentFieldAccessTest.php
  core/modules/comment/tests/src/Kernel/CommentItemTest.php
  core/modules/comment/tests/src/Unit/CommentLinkBuilderTest.php
  core/modules/content_translation/tests/src/Functional/ContentTranslationSettingsTest.php
  core/modules/jsonapi/tests/src/Functional/CommentTest.php
  core/modules/jsonapi/tests/src/Functional/JsonApiFilterRegressionTest.php
  core/modules/jsonapi/tests/src/Functional/JsonApiPatchRegressionTest.php
  core/modules/jsonapi/tests/src/Functional/JsonApiRegressionTest.php
  core/modules/search/tests/src/Functional/SearchCommentCountToggleTest.php
  core/modules/search/tests/src/Functional/SearchCommentTest.php
  core/modules/search/tests/src/Functional/SearchRankingTest.php
  core/modules/system/tests/src/Functional/Theme/EntityFilteringThemeTest.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityCrudHookTest.php
Due: none

refactor: #3538177 Remove jQuery UI _focusedElement and _focusTabbable from dialog Ajax
  core/misc/dialog/dialog.ajax.js
Due: üßπ JavaScript linting (eslint)

fix: #2985400 Url::createFromRequest ignores query parameters
  core/lib/Drupal/Core/Url.php
  core/tests/Drupal/Tests/Core/UrlTest.php
Due: none

fix: #3572050 plugin.manager.icon_extractor has incorrect service alias
  core/core.services.yml
Due: üßπ JavaScript linting (eslint)
