Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), ‚úÖÔ∏è PHPStan rules tests, üìî Validatable config

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/.eslint*, core/.prettier*, core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/.stylelintrc.json, core/.prettier*, core/package.json, core/yarn.lock, **/*.css
  ‚úÖÔ∏è PHPStan rules tests: any of: core/tests/PHPStan/**/*, composer/Metapackage/PinnedDevDependencies/composer.json
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module

Issue #3533290 by berdir, smustgrave, nicxvan, quietone: Convert template_preprocess functions in image module
  core/modules/image/image.admin.inc
  core/modules/image/image.field.inc
  core/modules/image/image.module
  core/modules/image/image.services.yml
  core/modules/image/src/Hook/ImageHooks.php
  core/modules/image/src/Hook/ImageThemeHooks.php
  core/modules/image/templates/image-anchor.html.twig
  core/modules/image/templates/image-formatter.html.twig
  core/modules/image/templates/image-style-preview.html.twig
  core/modules/image/templates/image-style.html.twig
  core/modules/image/templates/image-widget.html.twig
  core/modules/image/tests/src/Functional/ImageAdminStylesTest.php
  core/profiles/demo_umami/themes/umami/templates/classy/content-edit/image-widget.html.twig
  core/themes/claro/templates/content-edit/image-widget.html.twig
  core/themes/stable9/templates/admin/image-anchor.html.twig
  core/themes/stable9/templates/admin/image-style-preview.html.twig
  core/themes/stable9/templates/content-edit/image-widget.html.twig
  core/themes/stable9/templates/field/image-formatter.html.twig
  core/themes/stable9/templates/field/image-style.html.twig
  core/themes/starterkit_theme/templates/content-edit/image-widget.html.twig
  core/themes/starterkit_theme/templates/field/image-formatter.html.twig
  core/themes/starterkit_theme/templates/field/image-style.html.twig
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #3549380 by catch, godotislate: Fiber entity multiple loading tweaks
  core/lib/Drupal/Core/Entity/EntityStorageBase.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryNodePagePerformanceTest.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityApiTest.php
Due: none

Issue #3112704 by berdir, longwave: Move user_user_presave() to User entity class
  core/modules/user/src/Entity/User.php
  core/modules/user/src/Hook/UserHooks.php
Due: none

Issue #3496369 by catch, berdir, oily, darvanen, alexpott: Multiple load path aliases without the preload cache
  core/.phpstan-baseline.php
  core/modules/path/tests/src/Functional/PathAliasTest.php
  core/modules/path_alias/path_alias.services.yml
  core/modules/path_alias/src/AliasManager.php
  core/modules/path_alias/src/EventSubscriber/PathAliasSubscriber.php
  core/modules/path_alias/tests/src/Unit/AliasManagerTest.php
  core/modules/workspaces/src/WorkspacesAliasManager.php
  core/modules/workspaces/src/WorkspacesServiceProvider.php
  core/modules/workspaces/tests/src/Functional/PathWorkspacesTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryAuthenticatedPerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryFrontPagePerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryNodePagePerformanceTest.php
Due: üßπ JavaScript linting (eslint)

Issue #2601030 by alexpott, catch, longwave, bbrala: Views RSS view mode settings are completely broken
  core/modules/comment/src/Plugin/views/row/Rss.php
  core/modules/config_translation/tests/src/Unit/ConfigNamesMapperTest.php
  core/modules/node/src/Plugin/views/row/Rss.php
  core/modules/system/config/install/system.rss.yml
  core/modules/system/config/schema/system.schema.yml
  core/modules/system/migrations/system_rss.yml
  core/modules/system/src/Form/RssFeedsForm.php
  core/modules/system/system.config_translation.yml
  core/modules/system/system.links.menu.yml
  core/modules/system/system.links.task.yml
  core/modules/system/system.post_update.php
  core/modules/system/system.routing.yml
  core/modules/system/tests/src/Functional/Update/SystemRssDeleteTest.php
  core/modules/system/tests/src/Kernel/Migrate/d6/MigrateSystemConfigurationTest.php
  core/modules/system/tests/src/Kernel/Migrate/d7/MigrateSystemConfigurationTest.php
  core/modules/taxonomy/config/optional/views.view.taxonomy_term.yml
  core/modules/views/src/Plugin/views/row/RssPluginBase.php
  core/modules/views/src/ViewsConfigUpdater.php
  core/modules/views/tests/fixtures/update/rss-default-view-mode.php
  core/modules/views/tests/fixtures/update/views.view.test_display_feed.yml
  core/modules/views/tests/fixtures/update/views.view.test_display_feed_no_update.yml
  core/modules/views/tests/src/Functional/Update/RssDefaultRowViewModeUpdateTest.php
  core/modules/views/tests/src/Kernel/ViewsConfigUpdaterTest.php
  core/profiles/demo_umami/config/install/views.view.taxonomy_term.yml
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Drupal 11.2.5
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: ‚úÖÔ∏è PHPStan rules tests

Back to dev.
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: ‚úÖÔ∏è PHPStan rules tests

Drupal 10.5.4
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: ‚úÖÔ∏è PHPStan rules tests

Issue #3548762 by smustgrave, dcam: Stop automatic storage creation of body field for block_content
  core/modules/block/tests/src/Kernel/Migrate/d6/MigrateBlockContentTranslationTest.php
  core/modules/block/tests/src/Kernel/Migrate/d6/MigrateBlockTest.php
  core/modules/block/tests/src/Kernel/Migrate/d7/MigrateBlockContentTranslationTest.php
  core/modules/block/tests/src/Kernel/Migrate/d7/MigrateBlockTest.php
  core/modules/block_content/migrations/block_content_body_field.yml
  core/modules/block_content/migrations/block_content_body_field_storage.yml
  core/modules/block_content/modules/block_content_storage_body_field/block_content_storage_body_field.info.yml
  core/modules/block_content/modules/block_content_storage_body_field/config/install/field.storage.block_content.body.yml
  core/modules/block_content/modules/block_content_storage_body_field/src/Hook/BlockContentStorageBodyFieldHook.php
  core/modules/block_content/modules/block_content_storage_body_field/tests/modules/block_content_storage_body_field_test/block_content_storage_body_field_test.info.yml
  core/modules/block_content/modules/block_content_storage_body_field/tests/modules/block_content_storage_body_field_test/config/install/block_content.type.basic.yml
  core/modules/block_content/modules/block_content_storage_body_field/tests/modules/block_content_storage_body_field_test/config/install/field.field.block_content.basic.body.yml
  core/modules/block_content/modules/block_content_storage_body_field/tests/src/Functional/BlockContentStorageBodyFieldTest.php
  core/modules/block_content/tests/src/Kernel/Migrate/MigrateBlockContentBodyFieldTest.php
  core/modules/block_content/tests/src/Kernel/Migrate/MigrateBlockContentEntityDisplayTest.php
  core/modules/block_content/tests/src/Kernel/Migrate/MigrateBlockContentEntityFormDisplayTest.php
  core/modules/block_content/tests/src/Kernel/Migrate/d6/MigrateBlockContentTest.php
  core/modules/block_content/tests/src/Kernel/Migrate/d6/MigrateCustomBlockContentTranslationTest.php
  core/modules/block_content/tests/src/Kernel/Migrate/d7/MigrateCustomBlockContentTranslationTest.php
  core/modules/block_content/tests/src/Kernel/Migrate/d7/MigrateCustomBlockTest.php
  core/modules/config_translation/tests/src/Functional/ConfigTranslationListUiTest.php
  core/modules/migrate_drupal_ui/tests/src/Functional/d6/Upgrade6Test.php
  core/modules/migrate_drupal_ui/tests/src/Functional/d7/Upgrade7Test.php
  core/profiles/standard/config/install/field.storage.block_content.body.yml
  core/recipes/basic_block_type/config/field.storage.block_content.body.yml
Due: üßπ JavaScript linting (eslint)

Issue #3537801 by duaelfr, smustgrave, pdureau: Fatal error when using a Twig defined variable as Attribute value
  core/lib/Drupal/Core/Template/Attribute.php
  core/tests/Drupal/Tests/Core/Template/AttributeTest.php
Due: none

Issue #3536072 by aaronbauman, smustgrave, mstrelan: CurrentRouteMatch::getCurrentRouteMatch throws TypeError when current request is null
  core/lib/Drupal/Core/Routing/CurrentRouteMatch.php
  core/tests/Drupal/Tests/Core/Routing/CurrentRouteMatchTest.php
Due: none

Issue #3263208 by larowlan, lendude, jordik, kasey_mk, smustgrave, quietone, lamp5, v.dovhaliuk, john.oltman: Missing schema on views with aggregation
  core/modules/views/config/schema/views.field.schema.yml
  core/modules/views/src/ViewsConfigUpdater.php
  core/modules/views/tests/fixtures/update/format-plural.php
  core/modules/views/tests/fixtures/update/views.view.test_format_plural_update.yml
  core/modules/views/tests/modules/views_test_aggregation/config/install/views.view.test_aggregation.yml
  core/modules/views/tests/modules/views_test_aggregation/views_test_aggregation.info.yml
  core/modules/views/tests/src/Functional/Update/FormatPluralUpdateTest.php
  core/modules/views/tests/src/Kernel/AggregationTest.php
  core/modules/views/views.post_update.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #3385746 by acbramley, catch, longwave, danielveza, anybody, smustgrave, alexpott, larowlan, tim.plunkett: Automatically clear out the content key in view display when enabling Layout builder
  core/modules/layout_builder/src/Entity/LayoutBuilderEntityViewDisplay.php
  core/modules/layout_builder/tests/src/Functional/Jsonapi/LayoutBuilderEntityViewDisplayTest.php
  core/modules/layout_builder/tests/src/Functional/LayoutBuilderViewModeTest.php
  core/modules/layout_builder/tests/src/Functional/Rest/LayoutBuilderEntityViewDisplayResourceTestBase.php
  core/modules/layout_builder/tests/src/FunctionalJavascript/LayoutBuilderOptInTest.php
  core/modules/layout_builder/tests/src/Kernel/LayoutBuilderEntityViewDisplayTest.php
Due: none

Revert "Issue #3263208 by larowlan, lendude, jordik, kasey_mk, smustgrave, quietone, lamp5, v.dovhaliuk, john.oltman: Missing schema on views with aggregation"
  core/modules/views/config/schema/views.field.schema.yml
  core/modules/views/src/ViewsConfigUpdater.php
  core/modules/views/tests/fixtures/update/format-plural.php
  core/modules/views/tests/fixtures/update/views.view.test_format_plural_update.yml
  core/modules/views/tests/modules/views_test_aggregation/config/install/views.view.test_aggregation.yml
  core/modules/views/tests/modules/views_test_aggregation/views_test_aggregation.info.yml
  core/modules/views/tests/src/Functional/Update/FormatPluralUpdateTest.php
  core/modules/views/tests/src/Kernel/AggregationTest.php
  core/modules/views/views.post_update.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #3538637 by dww: Fix problems with UpdateMailTest: only test valid cases, use correct paths, remove dead code
  core/modules/update/tests/src/Unit/UpdateMailTest.php
Due: none

Issue #3263208 by larowlan, lendude, jordik, kasey_mk, smustgrave, quietone, lamp5, v.dovhaliuk, john.oltman, dcam: Missing schema on views with aggregation
  core/modules/views/config/schema/views.field.schema.yml
  core/modules/views/src/ViewsConfigUpdater.php
  core/modules/views/tests/fixtures/update/format-plural.php
  core/modules/views/tests/fixtures/update/views.view.test_format_plural_update.yml
  core/modules/views/tests/modules/views_test_aggregation/config/install/views.view.test_aggregation.yml
  core/modules/views/tests/modules/views_test_aggregation/views_test_aggregation.info.yml
  core/modules/views/tests/src/Functional/Update/FormatPluralUpdateTest.php
  core/modules/views/tests/src/Kernel/AggregationTest.php
  core/modules/views/views.post_update.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #3549717 by drcolossos, luismagr, cilefen: ckeditor5.api.php fix @encode
  core/modules/ckeditor5/ckeditor5.api.php
Due: none

Issue #3527408 by prudloff, smustgrave, xjm, benjifisher, catch, kim.pepper, larowlan: Add test for SA-CORE-2024-002
  core/modules/ckeditor5/tests/src/Unit/CKEditor5ImageControllerTest.php
Due: none

Issue #2411767 by smustgrave, mile23, mohit_aghera, pritish.kumar: locale_translation_check_projects() should return batch or NULL.
  core/modules/locale/locale.compare.inc
Due: none

Issue #3532520 by joachim, immaculatexavier, smustgrave, xjm, divyansh.gupta: check for update_free_access is done twice
  core/lib/Drupal/Core/Update/UpdateKernel.php
  core/modules/system/src/Access/DbUpdateAccessCheck.php
Due: none

Issue #3126761 by puddyglum, longwave, smustgrave, acbramley: $parameters not reassigned with array_replace in Frontpage PathProcessor
  core/lib/Drupal/Core/PathProcessor/PathProcessorFront.php
  core/tests/Drupal/Tests/Core/PathProcessor/PathProcessorFrontTest.php
Due: none

Issue #3550479 by mondrake: Bump PHPUnit to ^11.5.42 with all dependencies for testing with PHP 8.5
  composer.json
  composer.lock
  composer/Metapackage/DevDependencies/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
Due: ‚úÖÔ∏è PHPStan rules tests

Issue #3544308 by mstrelan, dcam: Deprecate unused properties in CommentLinkBuilder
  core/modules/comment/comment.services.yml
  core/modules/comment/src/CommentLinkBuilder.php
  core/modules/comment/tests/src/Unit/CommentLinkBuilderTest.php
  core/modules/history/tests/src/Unit/HistoryCommentLinkBuilderTest.php
Due: üßπ JavaScript linting (eslint)

Issue #3502302 by nicxvan, berdir, justin2pin, catch, ghost of drupal past, clayfreeman, oily: HookCollectorPass fails to register hooks for the correct module in some contexts
  core/lib/Drupal/Core/Hook/HookCollectorPass.php
  core/tests/Drupal/Tests/Core/Hook/HookCollectorPassTest.php
Due: none

Issue #3502749 by quietone, heddn: Deprecate migrate field plugins
  core/.deprecation-ignore.txt
  core/.phpstan-baseline.php
  core/modules/field/src/Plugin/migrate/process/FieldType.php
  core/modules/field/src/Plugin/migrate/process/ProcessField.php
  core/modules/field/tests/src/Unit/Plugin/migrate/process/ProcessFieldTest.php
  core/modules/migrate_drupal/migrate_drupal.services.yml
  core/modules/migrate_drupal/src/Plugin/MigrateFieldPluginManager.php
  core/modules/migrate_drupal/tests/src/Kernel/MigrateFieldPluginManagerTest.php
  core/modules/migrate_drupal/tests/src/Kernel/Plugin/MigrationProvidersExistTest.php
  core/modules/migrate_drupal/tests/src/Unit/MigrateFieldPluginManagerTest.php
Due: üßπ JavaScript linting (eslint)

Issue #3540786 by tstoeckler, smustgrave, catch: Test site may be destroyed while an (automated) cron is still running
  core/tests/Drupal/Tests/BrowserTestBase.php
Due: none

Issue #3550388 by mfb, catch, nod_: 11.3 regression: Uncaught (in promise) TypeError: can't access property "dispatchEvent", e is null
  core/modules/big_pipe/js/big_pipe.commands.js
Due: üßπ JavaScript linting (eslint)

Issue #3539565 by catch, godotislate, nicxvan: block--bundle--banner-block.html.twig uses invalid duplicate block names
  core/profiles/demo_umami/themes/umami/components/banner/banner.twig
  core/profiles/demo_umami/themes/umami/templates/components/banner-block/block--bundle--banner-block.html.twig
Due: none

Issue #3551109 by andypost: Remove last usage of setAccessible()
  core/tests/Drupal/Tests/Core/Theme/Icon/IconPackManagerTest.php
Due: none

Issue #3546616 by mondrake, catch: Update justinrainbow/json-schema to 6.5.2 for PHP 8.5 compatibility
  composer.json
  composer.lock
  composer/Metapackage/DevDependencies/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
Due: ‚úÖÔ∏è PHPStan rules tests
