Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), ‚úÖÔ∏è PHPStan rules tests, üìî Validatable config

üßπ JavaScript linting (eslint):
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - - mkdir /build;
    - cp -Ria $CI_PROJECT_DIR/* /build/
    - cd /build
  ...

üßπ CSS linting (stylelint):
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - - mkdir /build;
    - cp -Ria $CI_PROJECT_DIR/* /build/
    - cd /build
  ...

‚úÖÔ∏è PHPStan rules tests:
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - docker-php-ext-enable pcov
  - cd core/tests/PHPStan
  - composer install
  - vendor/bin/phpunit tests --testdox --coverage-text --colors=always --coverage-cobertura=coverage.cobertura.xml --log-junit junit.xml
  artifacts:
    when: always
  ...

üìî Validatable config:
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
    _TARGET_PHP: 8.3-ubuntu
  artifacts:
    expire_in: 1 week
    expose_as: validatable-config
    paths:
    - HEAD.json
    - MR.json
  allow_failure:
    exit_codes:
    - 100
    - 101
    - 1
  script:
  - git checkout -f $CI_MERGE_REQUEST_DIFF_BASE_SHA
  ...

fix: #3557135 Calling \Drupal\Core\Entity\EntityTypeBundleInfo::getBundleInfo() with a NULL causes a deprecation in PHP 8.5
  core/lib/Drupal/Core/Entity/EntityTypeBundleInfo.php
  core/lib/Drupal/Core/Entity/EntityTypeBundleInfoInterface.php
  core/modules/views/src/Plugin/views/wizard/WizardPluginBase.php
  core/tests/Drupal/Tests/Core/Entity/EntityTypeBundleInfoTest.php
Due: none

fix: #3458923 StaticMap documents that NULL is a supported map value but causes an error
  .gitlab-ci.yml
  core/modules/migrate/src/Plugin/migrate/process/StaticMap.php
  core/modules/migrate/tests/src/Unit/process/StaticMapTest.php
Due: üßπ JavaScript linting (eslint)

fix: #3557142 \Drupal\views\FieldViewsDataProvider::defaultFieldImplementation creates a join for a non-existing table causing deprecations on PHP 8.5
  core/modules/views/src/FieldViewsDataProvider.php
Due: none

fix: #3557357 \Drupal\Component\Plugin\Discovery\DerivativeDiscoveryDecorator triggers deprecations on PHP 8.5
  core/lib/Drupal/Component/Plugin/Discovery/DerivativeDiscoveryDecorator.php
  core/modules/system/tests/modules/plugin_test/src/Plugin/plugin_test/mock_block/MockLayoutBlockDeriver.php
Due: none

fix: #3557270 \Drupal\filter\Element\TextFormat::processFormat() triggers deprecations on PHP 8.5
  core/modules/filter/src/Element/TextFormat.php
Due: none

fix: #3557273 Fix deprecations due to kernel tests in \Drupal\language\EventSubscriber\ConfigSubscriber::onConfigSave()
  core/modules/ckeditor5/tests/src/Kernel/LanguageTest.php
  core/modules/language/tests/src/Kernel/LanguageTestBase.php
Due: none

fix: #3557153 \Drupal\language\LanguageNegotiator::negotiateLanguage() causes deprecation on PHP 8.5
  core/modules/language/src/LanguageNegotiator.php
Due: none

docs: #3554676 Fix more incorrect phpdoc type hints (part 3)
  core/lib/Drupal/Core/Database/Connection.php
  core/modules/menu_ui/tests/src/Functional/MenuUiTest.php
  core/modules/migrate/src/Plugin/MigrationPluginManager.php
  core/modules/migrate/src/Plugin/migrate/source/SourcePluginBase.php
  core/modules/migrate/tests/src/Unit/MigrateSqlIdMapEnsureTablesTest.php
  core/modules/migrate_drupal/tests/src/Unit/MigrateFieldPluginManagerTest.php
  core/modules/package_manager/tests/src/Unit/ValidationResultTest.php
  core/modules/shortcut/src/ShortcutSetStorageInterface.php
  core/modules/views/tests/src/Unit/ViewExecutableTest.php
Due: none

fix: #3557174 Fix use of NULL as array key in \Drupal\user\Plugin\migrate\process\d6\UserUpdate7002::transform() triggers deprecations on PHP 8.5
  core/modules/user/src/Plugin/migrate/process/d6/UserUpdate7002.php
Due: none

fix: #3557268 \Drupal\block\Entity\Block::preSave() triggers deprecations on PHP 8.5
  core/modules/block/src/Entity/Block.php
Due: none

feat: #3557181 \Drupal\content_translation\Hook\ContentTranslationHooks::viewsDataAlter() causes deprecations on PHP 8.5
  core/modules/content_translation/src/Hook/ContentTranslationHooks.php
Due: none

fix: #3557346 \Drupal\Core\Plugin\DefaultSingleLazyPluginCollection::addInstanceId() can cause deprecations on PHP 8.5
  core/modules/block/src/BlockPluginCollection.php
Due: none

fix: #3557579 Drupal\jsonapi\Normalizer\FieldItemNormalizer->checkForSerializedStrings()() (Line: 32) triggers deprecations on PHP 8.5
  core/modules/jsonapi/src/Normalizer/FieldItemNormalizer.php
Due: none

fix: #3557384 \Drupal\Core\Field\Plugin\Field\FieldFormatter\EntityReferenceFormatterBase::prepareView() triggers deprecations on PHP 8.5
  core/lib/Drupal/Core/Field/Plugin/Field/FieldFormatter/EntityReferenceFormatterBase.php
Due: none

fix: #3557459 Tests trigger deprecations in \Drupal\views\Plugin\views\field\FieldPluginBase::getRenderTokens on PHP 8.5
  core/modules/views/tests/src/Functional/Handler/FieldWebTest.php
  core/modules/views/tests/src/Kernel/Handler/FieldDropbuttonTest.php
  core/modules/views/tests/src/Kernel/Handler/FieldKernelTest.php
  core/modules/views/tests/src/Kernel/Handler/FieldSelfTokensTest.php
Due: none

fix: #3557157 \Drupal\views\Entity\Render\TranslationLanguageRenderer::getLangcodeTable() causes deprecations on PHP 8.5
  core/modules/views/src/Entity/Render/TranslationLanguageRenderer.php
Due: none

fix: #3557333 Deprecations in \Drupal\Core\Entity\EntityStorageBase::mapFromStorageRecords() on PHP 8.5
  core/lib/Drupal/Core/Entity/EntityStorageBase.php
  core/lib/Drupal/Core/Entity/KeyValueStore/KeyValueEntityStorage.php
  core/tests/Drupal/KernelTests/Core/KeyValueStore/KeyValueContentEntityStorageTest.php
Due: none

fix: #3557639 Update to Symfony 7.4.0-RC1
  composer.json
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/DevDependencies/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  core/composer.json
  core/lib/Drupal/Component/DependencyInjection/composer.json
  core/lib/Drupal/Component/EventDispatcher/composer.json
  core/lib/Drupal/Component/HttpFoundation/composer.json
  core/lib/Drupal/Component/Plugin/composer.json
  core/lib/Drupal/Component/Serialization/composer.json
  core/tests/Drupal/BuildTests/Composer/Template/ComposerProjectTemplatesTest.php
  core/tests/Drupal/Tests/Core/DrupalKernel/ValidateHostnameTest.php
Due: ‚úÖÔ∏è PHPStan rules tests

fix: #3517719 Deprecate the Field Layout module
  core/modules/field_layout/field_layout.info.yml
  core/modules/field_layout/tests/src/Functional/FieldLayoutTest.php
  core/modules/field_layout/tests/src/Functional/GenericTest.php
  core/modules/field_layout/tests/src/FunctionalJavascript/FieldLayoutTest.php
  core/modules/field_layout/tests/src/Kernel/FieldLayoutEntityDisplayTest.php
  core/modules/field_layout/tests/src/Kernel/FieldLayoutUninstallTest.php
  core/modules/field_layout/tests/src/Kernel/LayoutBuilderFieldLayoutCompatibilityTest.php
  core/modules/field_layout/tests/src/Unit/FieldLayoutBuilderTest.php
Due: üßπ JavaScript linting (eslint)

task: #3463321 Deprecate Migrate Drupal UI
  core/modules/migrate_drupal_ui/migrate_drupal_ui.info.yml
  core/modules/migrate_drupal_ui/tests/src/Functional/CredentialFormTest.php
  core/modules/migrate_drupal_ui/tests/src/Functional/GenericTest.php
  core/modules/migrate_drupal_ui/tests/src/Functional/MigrateAccessTest.php
  core/modules/migrate_drupal_ui/tests/src/Functional/MigrateControllerTest.php
  core/modules/migrate_drupal_ui/tests/src/Functional/MigrateUpgradeFormStepsTest.php
  core/modules/migrate_drupal_ui/tests/src/Functional/SourceProviderTest.php
  core/modules/migrate_drupal_ui/tests/src/Functional/d6/IdConflictTest.php
  core/modules/migrate_drupal_ui/tests/src/Functional/d6/MultilingualReviewPageTest.php
  core/modules/migrate_drupal_ui/tests/src/Functional/d6/NoMultilingualReviewPageTest.php
  core/modules/migrate_drupal_ui/tests/src/Functional/d6/NodeClassicTest.php
  core/modules/migrate_drupal_ui/tests/src/Functional/d6/Upgrade6Test.php
  core/modules/migrate_drupal_ui/tests/src/Functional/d6/Upgrade6WithContentModerationTest.php
  core/modules/migrate_drupal_ui/tests/src/Functional/d7/DoubleSlashTest.php
  core/modules/migrate_drupal_ui/tests/src/Functional/d7/FilePathTest.php
  core/modules/migrate_drupal_ui/tests/src/Functional/d7/IdConflictTest.php
  core/modules/migrate_drupal_ui/tests/src/Functional/d7/MultilingualReviewPageTest.php
  core/modules/migrate_drupal_ui/tests/src/Functional/d7/NoMultilingualReviewPageTest.php
  core/modules/migrate_drupal_ui/tests/src/Functional/d7/Upgrade7Test.php
  core/modules/migrate_drupal_ui/tests/src/Functional/d7/Upgrade7WithContentModerationTest.php
  core/modules/migrate_drupal_ui/tests/src/FunctionalJavascript/SettingsTest.php
  core/modules/migrate_drupal_ui/tests/src/Kernel/MigrationLabelExistTest.php
  core/tests/Drupal/KernelTests/Core/Asset/ResolvedLibraryDefinitionsFilesMatchTest.php
Due: üßπ JavaScript linting (eslint)

feat: #3536470 TypeError if #[ReOrderHook] targets hook that has no implementations anywhere in enabled modules.
  core/lib/Drupal/Core/Hook/HookCollectorPass.php
  core/lib/Drupal/Core/Hook/OrderOperation/BeforeOrAfter.php
  core/lib/Drupal/Core/Hook/OrderOperation/FirstOrLast.php
  core/lib/Drupal/Core/Hook/OrderOperation/OrderOperation.php
  core/modules/system/tests/modules/HookOrder/aaa_hook_order_test/src/Hook/ACrossHookReorderAlter.php
  core/modules/system/tests/modules/HookOrder/aaa_hook_order_test/src/Hook/AMissingTargetAlter.php
  core/modules/system/tests/modules/HookOrder/aaa_hook_order_test/src/Hook/AMissingTargetHooks.php
  core/modules/system/tests/modules/HookOrder/bbb_hook_order_test/src/Hook/BCrossHookReorderAlter.php
  core/modules/system/tests/modules/HookOrder/bbb_hook_order_test/src/Hook/BMissingTargetAlter.php
  core/modules/system/tests/modules/HookOrder/bbb_hook_order_test/src/Hook/BMissingTargetHooks.php
  core/modules/system/tests/modules/HookOrder/xyz_hook_order_test/src/Hook/XyzMissingTargetAlter.php
  core/modules/system/tests/modules/HookOrder/xyz_hook_order_test/src/Hook/XyzMissingTargetHooks.php
  core/modules/system/tests/modules/HookOrder/xyz_hook_order_test/xyz_hook_order_test.info.yml
  core/tests/Drupal/KernelTests/Core/Hook/HookAlterOrderTest.php
  core/tests/Drupal/KernelTests/Core/Hook/HookOrderTest.php
Due: üßπ JavaScript linting (eslint)

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/.eslint*, core/.prettier*, core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/.stylelintrc.json, core/.prettier*, core/package.json, core/yarn.lock, **/*.css
  ‚úÖÔ∏è PHPStan rules tests: any of: core/tests/PHPStan/**/*, composer/Metapackage/PinnedDevDependencies/composer.json
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module
