Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/package.json, core/yarn.lock, **/*.css
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module

Issue #3463111 by sanket.tale, jaydeep_patel, yujiman85, sheetal.pathak, rachel_norfolk, sagarmohite0031, rduterte, binssss, smustgrave: Spacing issue between Checkbox label and button
  core/themes/claro/css/components/form.css
  core/themes/claro/css/components/form.pcss.css
  core/themes/olivero/css/components/form.css
  core/themes/olivero/css/components/form.pcss.css
Due: üßπ CSS linting (stylelint)

Issue #3425114 follow-up by alexpott: Add revolt/event-loop dependency to core
  composer.json
  composer.lock
Due: none

Issue #3477600 by quietone, annmarysruthy, larowlan: Remove 7 unused class properties in tests
  core/modules/block/tests/src/Functional/BlockUiTest.php
  core/modules/locale/tests/src/Functional/LocaleUpdateCronTest.php
  core/modules/system/tests/src/Functional/System/PageTitleTest.php
  core/modules/user/tests/src/Kernel/Views/HandlerFilterPermissionTest.php
  core/modules/views_ui/src/ViewUI.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityCrudHookTest.php
  core/tests/Drupal/Tests/Core/Batch/PercentagesTest.php
Due: none

Issue #3477346 by mondrake, smustgrave, larowlan: ExtensionMimeTypeGuesser::guessMimeType returns less accurate MIME type when file extensions have multiple parts
  core/lib/Drupal/Core/File/MimeType/ExtensionMimeTypeGuesser.php
  core/modules/file/tests/file_test/file_test.module
  core/tests/Drupal/KernelTests/Core/File/MimeTypeTest.php
Due: üìî Validatable config

Issue #3476011 by mondrake: Change run-tests.sh to use Symfony Process instead of proc_open
  core/scripts/run-tests.sh
Due: none

Issue #3461896 by clayfreeman, quietone, smustgrave, nod_: Overridden view block title should be set on the view itself
  core/modules/block/tests/modules/block_test_views/test_views/views.view.test_view_block.yml
  core/modules/block/tests/src/Functional/Views/DisplayBlockTest.php
  core/modules/views/src/Plugin/Block/ViewsBlock.php
Due: üßπ JavaScript linting (eslint)

Issue #3293926 by kingdutch, geekygnr, godotislate, m4olivei, longwave: Error decorating non-existent service when inner service's module not installed
  core/lib/Drupal/Core/DependencyInjection/YamlFileLoader.php
  core/tests/Drupal/Tests/Core/DependencyInjection/YamlFileLoaderTest.php
Due: none

Issue #3482783 by phenaproxima, alexpott: Consider making the cloneAs config action optionally fail if the clone already exists
  core/lib/Drupal/Core/Config/Action/Plugin/ConfigAction/EntityClone.php
  core/tests/Drupal/KernelTests/Core/Recipe/EntityCloneConfigActionTest.php
Due: none

Issue #3479205 by alexpott, phenaproxima, catch: Wire Composer Stager into Package Manager's services.yml
  core/modules/package_manager/package_manager.services.yml
  core/modules/package_manager/src/PackageManagerServiceProvider.php
  core/tests/Drupal/KernelTests/Core/DependencyInjection/AutowireTest.php
Due: üßπ JavaScript linting (eslint)

Issue #3474978 by mondrake, quietone: Method getMockForAbstractClass() is deprecated - replace in class KeyValueEntityStorageTest
  core/.phpstan-baseline.php
  core/tests/Drupal/Tests/Core/Entity/KeyValueStore/KeyValueEntityStorageTest.php
Due: none

Issue #3478200 by quietone, alexpott: Fix MissingParamType in core/lib/Drupal/Component
  core/lib/Drupal/Component/Gettext/PoStreamInterface.php
  core/lib/Drupal/Component/Gettext/PoStreamReader.php
  core/lib/Drupal/Component/Gettext/PoWriterInterface.php
  core/lib/Drupal/Component/Graph/Graph.php
  core/lib/Drupal/Component/PhpStorage/FileReadOnlyStorage.php
  core/lib/Drupal/Component/PhpStorage/MTimeProtectedFastFileStorage.php
  core/lib/Drupal/Component/Render/HtmlEscapedText.php
  core/lib/Drupal/Component/Transliteration/PhpTransliteration.php
  core/lib/Drupal/Component/Utility/Color.php
  core/lib/Drupal/Component/Utility/Crypt.php
  core/lib/Drupal/Component/Utility/DeprecatedArray.php
  core/lib/Drupal/Component/Utility/Environment.php
  core/lib/Drupal/Component/Utility/Timer.php
  core/phpcs.xml.dist
Due: none

Issue #3445993 by plopesc, m4olivei, quietone, gauravvvv, catch, finnsky, larowlan, nod_: Provide a NavigationLinkBlock Plugin and use Help as an usage example
  core/modules/navigation/config/install/navigation.block_layout.yml
  core/modules/navigation/config/schema/navigation.schema.yml
  core/modules/navigation/css/components/admin-toolbar.css
  core/modules/navigation/css/components/admin-toolbar.pcss.css
  core/modules/navigation/navigation.module
  core/modules/navigation/navigation.services.yml
  core/modules/navigation/src/Plugin/Block/NavigationLinkBlock.php
  core/modules/navigation/src/UserLazyBuilder.php
  core/modules/navigation/templates/menu-region--footer.html.twig
  core/modules/navigation/tests/src/Functional/NavigationLinkBlockTest.php
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

Issue #3479887 by bradjones1, mcdruid: CommentUserNameTest::testUsername() failure due to missing comment type
  core/modules/comment/tests/src/Kernel/Views/CommentUserNameTest.php
Due: none

Issue #3474640 by benjifisher, joachim: Drupal\Tests\migrate\Unit\destination\EntityRevisionTest uses weird mocking pattern
  core/modules/migrate/tests/src/Unit/destination/EntityRevisionTest.php
Due: none

Issue #3180505 by arunkumark, abhijith s, pcambra, anmolgoyal74, smustgrave, alexpott, lendude, catch: Allow token replacement for array URLs on views custom URLs
  core/modules/views/src/Plugin/views/display/DisplayPluginBase.php
  core/modules/views/tests/src/Functional/Plugin/DisplayTest.php
Due: none

Issue #3323702 by spokje, _pratik_, quietone: Fix PHPStan L2 error "Variable $foo in PHPDoc tag @var does not exist. " - Low Hanging Fruit Edition
  core/lib/Drupal/Core/Form/ConfigFormBaseTrait.php
  core/modules/block/src/Plugin/migrate/source/d7/BlockTranslation.php
  core/modules/block/tests/src/Kernel/NewDefaultThemeBlocksTest.php
  core/modules/field/src/Plugin/migrate/source/d6/FieldOptionTranslation.php
  core/modules/field/tests/src/Functional/EntityReference/EntityReferenceAutoCreateTest.php
  core/modules/field/tests/src/Functional/FieldDefaultValueCallbackTest.php
  core/modules/filter/tests/src/Functional/FilterAdminTest.php
  core/modules/media_library/src/Plugin/Field/FieldWidget/MediaLibraryWidget.php
  core/modules/taxonomy/src/TermStorage.php
  core/modules/user/tests/src/Kernel/Migrate/d7/UserMigrationClassTest.php
  core/modules/views/tests/src/Kernel/FieldApiDataTest.php
  core/modules/views/tests/src/Unit/Plugin/area/ViewTest.php
  core/modules/views/tests/src/Unit/Plugin/pager/SqlBaseTest.php
  core/modules/workflows/tests/src/Functional/WorkflowUiTest.php
  core/tests/Drupal/FunctionalTests/HttpKernel/CorsIntegrationTest.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityDefinitionUpdateTest.php
  core/tests/Drupal/KernelTests/Core/Field/FieldItemTest.php
  core/tests/Drupal/KernelTests/Core/Field/FieldMissingTypeTest.php
Due: none

Issue #3481418 by tomdearden, longwave: Typo in error message when MySQL socket connection fails
  core/modules/mysql/src/Driver/Database/mysql/Connection.php
  core/tests/Drupal/FunctionalTests/Installer/InstallerBrokenDatabaseCredentialsTest.php
Due: none

Issue #3483515 by megakeegman, mlncn: D7 node_revision table is referred to as node_revisions
  core/modules/node/src/Plugin/migrate/source/d7/Node.php
Due: none

Issue #3483057 by mstrelan, bbrala, smustgrave: Add void return type to all hook_install and hook_uninstall implementations
  core/.phpstan-baseline.php
  core/lib/Drupal/Core/Extension/module.api.php
  core/modules/block/block.install
  core/modules/comment/comment.install
  core/modules/contact/tests/modules/contact_storage_test/contact_storage_test.install
  core/modules/content_moderation/tests/modules/content_moderation_test_resave/content_moderation_test_resave.install
  core/modules/content_translation/content_translation.install
  core/modules/field_layout/field_layout.install
  core/modules/image/image.install
  core/modules/jsonapi/jsonapi.install
  core/modules/layout_builder/layout_builder.install
  core/modules/locale/locale.install
  core/modules/locale/tests/modules/locale_test/locale_test.install
  core/modules/media/media.install
  core/modules/media_library/media_library.install
  core/modules/migrate_drupal_ui/migrate_drupal_ui.install
  core/modules/node/node.install
  core/modules/settings_tray/settings_tray.install
  core/modules/shortcut/shortcut.install
  core/modules/syslog/syslog.install
  core/modules/system/system.install
  core/modules/system/tests/modules/entity_test/entity_test.install
  core/modules/system/tests/modules/hold_test/hold_test.install
  core/modules/system/tests/modules/module_handler_test_multiple/module_handler_test_multiple.install
  core/modules/system/tests/modules/module_handler_test_multiple/module_handler_test_multiple_child/module_handler_test_multiple_child.install
  core/modules/system/tests/modules/module_test/module_test.install
  core/modules/system/tests/modules/router_test_directory/router_test.install
  core/modules/system/tests/modules/system_module_test/system_module_test.install
  core/modules/system/tests/modules/test_batch_test/test_batch_test.install
  core/modules/update/update.install
  core/modules/user/user.install
  core/modules/views/tests/modules/views_test_data/views_test_data.install
  core/modules/views/views.install
  core/modules/workspaces/workspaces.install
  core/profiles/demo_umami/demo_umami.install
  core/profiles/demo_umami/modules/demo_umami_content/demo_umami_content.install
  core/profiles/standard/standard.install
  core/profiles/testing_site_config/testing_site_config.install
Due: none

Issue #3476420 by goz, catch: Add assertions to OpenTelemetryNodePagePerformanceTest::testNodePageHotCache()
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryNodePagePerformanceTest.php
Due: none

Issue #3477529 by mondrake: [CI] Remove the 'with-database' requirement for unit tests
  .gitlab-ci/pipeline.yml
  core/tests/Drupal/KernelTests/Components/ComponentInvalidReplacementTest.php
  core/tests/Drupal/KernelTests/Components/ComponentKernelTestBase.php
  core/tests/Drupal/KernelTests/Components/ComponentNegotiatorTest.php
  core/tests/Drupal/KernelTests/Components/ComponentNodeVisitorTest.php
  core/tests/Drupal/KernelTests/Components/ComponentPluginManagerTest.php
  core/tests/Drupal/KernelTests/Components/ComponentRenderInvalidTest.php
  core/tests/Drupal/KernelTests/Components/ComponentRenderTest.php
  core/tests/Drupal/KernelTests/Scripts/TestSiteApplicationTest.php
  core/tests/Drupal/TestSite/TestSiteClaroInstallTestScript.php
  core/tests/Drupal/TestSite/TestSiteInstallTestScript.php
  core/tests/Drupal/TestSite/TestSiteMultilingualInstallTestScript.php
  core/tests/Drupal/TestSite/TestSiteOliveroInstallTestScript.php
  core/tests/Drupal/Tests/Core/Test/TestDiscoveryTest.php
Due: üßπ JavaScript linting (eslint)

Issue #3484728 by andypost: update behat/mink to 1.12.0 for PHP 8.4
  composer.json
  composer.lock
  composer/Metapackage/PinnedDevDependencies/composer.json
Due: none

Issue #3484728 by andypost: update behat/mink to 1.12.0 for PHP 8.4
  composer.lock
  composer/Metapackage/PinnedDevDependencies/composer.json
Due: none

Issue #3483978 by spokje, longwave, andypost: Update to Symfony 7.2.0-BETA1
  composer.json
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/DevDependencies/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  core/.deprecation-ignore.txt
  core/assets/scaffold/files/default.services.yml
  core/composer.json
  core/core.services.yml
  core/lib/Drupal/Component/DependencyInjection/composer.json
  core/lib/Drupal/Component/EventDispatcher/composer.json
  core/lib/Drupal/Component/HttpFoundation/composer.json
  core/lib/Drupal/Component/Plugin/composer.json
  core/lib/Drupal/Component/Serialization/composer.json
  core/lib/Drupal/Core/CoreServiceProvider.php
  core/lib/Drupal/Core/Session/SessionConfiguration.php
  core/tests/Drupal/BuildTests/Composer/Template/ComposerProjectTemplatesTest.php
  core/tests/Drupal/Tests/Core/Session/SessionConfigurationTest.php
  sites/default/default.services.yml
Due: üßπ JavaScript linting (eslint)

Drupal 11.1.x-dev
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: none

Drupal 10.5.x-dev
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: none
