Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/package.json, core/yarn.lock, **/*.css
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module

Issue #3487150 by alexpott, oily, ptmkenny: \Drupal::VERSION on 11.x not correct
  core/lib/Drupal.php
  core/tests/Drupal/BuildTests/Composer/Template/ComposerProjectTemplatesTest.php
Due: none

Issue #3483353 by a.dmitriiev, phenaproxima, atul_ghate, alexpott, roderik: Remove the createCopy action from EntityDisplayBase, and make cloneAs compatible with wildcards
  core/lib/Drupal/Core/Config/Action/Plugin/ConfigAction/EntityClone.php
  core/lib/Drupal/Core/Entity/EntityDisplayBase.php
  core/tests/Drupal/KernelTests/Core/Recipe/EntityCloneConfigActionTest.php
Due: none

Issue #3487908 by spokje, quietone, smustgrave: Update cspell to latest
  core/misc/cspell/dictionary.txt
  core/package.json
  core/yarn.lock
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint)

Issue #3487816 by catch, berdir, smustgrave, quietone: Ensure tests don't run twice
  core/scripts/run-tests.sh
Due: none

Issue #3471490 by nayana_mvr, smustgrave, larowlan: field:not(:last-child) does not work with layout builder in olivero
  core/themes/olivero/css/components/layout-field.css
  core/themes/olivero/css/components/layout-field.pcss.css
  core/themes/olivero/olivero.libraries.yml
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint)

Issue #3484564 by plopesc, finnsky, m4olivei, ckrina, catch, larowlan: Define the 3 areas the Top Bar will provide
  core/modules/navigation/css/components/admin-toolbar.css
  core/modules/navigation/css/components/admin-toolbar.pcss.css
  core/modules/navigation/css/components/toolbar-popover.css
  core/modules/navigation/css/components/toolbar-popover.pcss.css
  core/modules/navigation/css/components/tooltip.css
  core/modules/navigation/css/components/tooltip.pcss.css
  core/modules/navigation/css/components/top-bar.css
  core/modules/navigation/css/components/top-bar.pcss.css
  core/modules/navigation/layouts/navigation.html.twig
  core/modules/navigation/navigation.module
  core/modules/navigation/navigation.services.yml
  core/modules/navigation/src/Attribute/TopBarItem.php
  core/modules/navigation/src/Element/TopBar.php
  core/modules/navigation/src/Hook/NavigationHooks.php
  core/modules/navigation/src/NavigationRenderer.php
  core/modules/navigation/src/Plugin/TopBarItem/PageActions.php
  core/modules/navigation/src/TopBarItemBase.php
  core/modules/navigation/src/TopBarItemManager.php
  core/modules/navigation/src/TopBarItemManagerInterface.php
  core/modules/navigation/src/TopBarItemPluginInterface.php
  core/modules/navigation/src/TopBarRegion.php
  core/modules/navigation/templates/top-bar.html.twig
  core/modules/navigation/tests/navigation_test/src/Plugin/TopBarItem/TopBarItemInstantiation.php
  core/modules/navigation/tests/src/Functional/NavigationTopBarTest.php
  core/modules/navigation/tests/src/Unit/TopBarItemBaseTest.php
  core/modules/navigation/tests/src/Unit/TopBarItemManagerTest.php
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

Issue #3489915 by phenaproxima: RecipeInputFormTrait forces you to check all checkboxes
  core/lib/Drupal/Core/Recipe/RecipeInputFormTrait.php
  core/modules/system/tests/src/Functional/Form/RecipeFormInputTest.php
  core/tests/fixtures/recipes/input_test/recipe.yml
Due: üßπ JavaScript linting (eslint)

Issue #3473374 by mxr576, bbrala, kristiaanvandeneynde: Improve Dynamic Page Cache header assertions in JSON:API tests
  core/.phpstan-baseline.php
  core/modules/jsonapi/tests/src/Functional/ResourceTestBase.php
  core/modules/jsonapi/tests/src/Functional/UserTest.php
  core/modules/jsonapi/tests/src/Traits/CommonCollectionFilterAccessTestPatternsTrait.php
Due: none

Issue #3489329 by mfb, casey: symfony/http-foundation commit 32310ff breaks PathValidator
  core/lib/Drupal/Core/Path/PathValidator.php
  core/tests/Drupal/Tests/Core/Path/PathValidatorTest.php
Due: none

Issue #3478621 by catch, nicxvan, longwave: Add filecache to OOP hook attribute parsing
  core/lib/Drupal/Core/Hook/HookCollectorPass.php
  core/modules/system/tests/modules/hook_collector_on_behalf/hook_collector_on_behalf.info.yml
  core/modules/system/tests/modules/hook_collector_on_behalf/src/Hook/OnBehalfOfOtherModuleHook.php
  core/modules/system/tests/modules/hook_collector_on_behalf_procedural/hook_collector_on_behalf_procedural.info.yml
  core/modules/system/tests/modules/hook_collector_on_behalf_procedural/hook_collector_on_behalf_procedural.module
  core/tests/Drupal/KernelTests/Core/Hook/HookCollectorPassTest.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #3488365 by andypost: Upgrade twig/twig to 3.15.0
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  core/composer.json
  core/lib/Drupal/Core/Template/ComponentNodeVisitor.php
  core/lib/Drupal/Core/Template/TwigNodeTrans.php
  core/lib/Drupal/Core/Template/TwigNodeVisitor.php
  core/lib/Drupal/Core/Template/TwigNodeVisitorCheckDeprecations.php
  core/modules/system/tests/modules/sdc_other_node_visitor/src/Twig/NodeVisitor/TestNodeVisitor.php
Due: none

Revert "Issue #3478621 by catch, nicxvan, longwave: Add filecache to OOP hook attribute parsing"
  core/lib/Drupal/Core/Hook/HookCollectorPass.php
  core/modules/system/tests/modules/hook_collector_on_behalf/hook_collector_on_behalf.info.yml
  core/modules/system/tests/modules/hook_collector_on_behalf/src/Hook/OnBehalfOfOtherModuleHook.php
  core/modules/system/tests/modules/hook_collector_on_behalf_procedural/hook_collector_on_behalf_procedural.info.yml
  core/modules/system/tests/modules/hook_collector_on_behalf_procedural/hook_collector_on_behalf_procedural.module
  core/tests/Drupal/KernelTests/Core/Hook/HookCollectorPassTest.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Revert "Issue #3488365 by andypost: Upgrade twig/twig to 3.15.0"
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  core/composer.json
  core/lib/Drupal/Core/Template/ComponentNodeVisitor.php
  core/lib/Drupal/Core/Template/TwigNodeTrans.php
  core/lib/Drupal/Core/Template/TwigNodeVisitor.php
  core/lib/Drupal/Core/Template/TwigNodeVisitorCheckDeprecations.php
  core/modules/system/tests/modules/sdc_other_node_visitor/src/Twig/NodeVisitor/TestNodeVisitor.php
Due: none

Issue #3489538 by mondrake, daffie, alexpott: StatementPrefetchIterator::fetchField fails silently if the column index is out of range
  core/lib/Drupal/Core/Database/FetchModeTrait.php
  core/lib/Drupal/Core/Database/StatementInterface.php
  core/lib/Drupal/Core/Database/StatementPrefetchIterator.php
  core/tests/Drupal/KernelTests/Core/Database/FetchTest.php
Due: none

Issue #3229647 by rpayanm, kentr, xjm, gauravvvv, mherchel, mgifford, lauriii: Use focus-within in hidden.module.css
  core/modules/system/css/components/hidden.module.css
  core/themes/stable9/css/system/components/hidden.module.css
Due: üßπ CSS linting (stylelint)

Issue #3490222 by alexpott, nicxvan: Reinstate drupal_common_theme() and deprecate it
  core/includes/theme.inc
Due: none
