Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Unit tests PHPStan rules, üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

Path conditions:
  Unit tests PHPStan rules: any of: core/tests/PHPStan/**/*, composer/Metapackage/PinnedDevDependencies/composer.json
  üßπ JavaScript linting (eslint): any of: core/.eslint*, core/.prettier*, core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/.stylelintrc.json, core/.prettier*, core/package.json, core/yarn.lock, **/*.css
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module, **/src/Hook/*.php

task: #3570133 PHPUnit security update
  composer.json
  composer.lock
  composer/Metapackage/DevDependencies/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  core/tests/PHPStan/composer.json
Due: Unit tests PHPStan rules

Revert "task: #3571196 Update symfony/process constraint"
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  core/composer.json
Due: none

Reapply "task: #3571196 Update symfony/process constraint"
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  core/composer.json
Due: none

task: #3570133 PHPUnit security update
  composer.json
  composer.lock
  composer/Metapackage/DevDependencies/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
Due: Unit tests PHPStan rules

See how builds is mounted in the service
  .gitlab-ci/pipeline.yml
Due: üßπ JavaScript linting (eslint)

Debug services
  .gitlab-ci/pipeline.yml
Due: üßπ JavaScript linting (eslint)

Use different log filename
  .gitlab-ci/pipeline.yml
Due: üßπ JavaScript linting (eslint)

More info
  .gitlab-ci/pipeline.yml
Due: üßπ JavaScript linting (eslint)

Revert logging preferences
  core/tests/Drupal/Tests/PerformanceTestTrait.php
Due: none

fix: #3463524 editor_post_update_sanitize_image_upload_settings fails on missing text format
  core/modules/editor/src/Entity/Editor.php
  core/modules/editor/tests/src/Unit/EditorConfigEntityUnitTest.php
Due: none

fix: #3463524 editor_post_update_sanitize_image_upload_settings fails on missing text format
  core/modules/editor/src/Entity/Editor.php
Due: none

test: #3571492 Several tests fail on PHP 8.1 on 10.6.x because of requirements issues
  core/modules/system/tests/src/Functional/UpdateSystem/EquivalentUpdateTest.php
  core/tests/Drupal/FunctionalTests/Core/Recipe/StandardRecipeInstallTest.php
  core/tests/Drupal/FunctionalTests/Installer/InstallerBrokenDatabaseCredentialsTest.php
  core/tests/Drupal/FunctionalTests/Installer/InstallerBrokenDatabasePortSettingsTest.php
  core/tests/Drupal/FunctionalTests/Installer/InstallerExistingConfigNoProfileTest.php
Due: none

task: #3566049 Add amateescu as a maintainer of the Workflows subsystem
  core/MAINTAINERS.txt
Due: none

task: #3566053 Add heddn as a maintainer of the Authentication and Authorization subsystem
  core/MAINTAINERS.txt
Due: none

task: #3566054 Add heddn as a maintainer of the Image subsystem
  core/MAINTAINERS.txt
Due: none

Drupal 11.3.3
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: Unit tests PHPStan rules

Back to dev.
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: Unit tests PHPStan rules

Drupal 10.6.3
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: Unit tests PHPStan rules

task: #3566052 Add dww as a maintainer of the Content Moderation subsystem
  core/MAINTAINERS.txt
Due: none

task: #3471199 Remove sid_length and sid_bits_per_character deprecation from CoreServiceProvider
  core/lib/Drupal/Core/CoreServiceProvider.php
Due: none

task: #3571609 Remove Field Layout module from core
  core/.phpstan-baseline.php
  core/modules/field_layout/config/schema/field_layout.schema.yml
  core/modules/field_layout/field_layout.info.yml
  core/modules/field_layout/field_layout.install
  core/modules/field_layout/field_layout.services.yml
  core/modules/field_layout/src/Display/EntityDisplayWithLayoutInterface.php
  core/modules/field_layout/src/Entity/FieldLayoutEntityDisplayTrait.php
  core/modules/field_layout/src/Entity/FieldLayoutEntityFormDisplay.php
  core/modules/field_layout/src/Entity/FieldLayoutEntityViewDisplay.php
  core/modules/field_layout/src/FieldLayoutBuilder.php
  core/modules/field_layout/src/Form/FieldLayoutEntityDisplayFormTrait.php
  core/modules/field_layout/src/Form/FieldLayoutEntityFormDisplayEditForm.php
  core/modules/field_layout/src/Form/FieldLayoutEntityViewDisplayEditForm.php
  core/modules/field_layout/src/Hook/FieldLayoutHooks.php
  core/modules/field_layout/tests/modules/field_layout_test/config/schema/field_layout_test.schema.yml
  core/modules/field_layout/tests/modules/field_layout_test/field_layout_test.info.yml
  core/modules/field_layout/tests/modules/field_layout_test/field_layout_test.routing.yml
  core/modules/field_layout/tests/modules/field_layout_test/src/Form/EmbeddedForm.php
  core/modules/field_layout/tests/modules/field_layout_test/src/Hook/FieldLayoutTestHooks.php
  core/modules/field_layout/tests/modules/field_layout_test/src/Plugin/Layout/TestLayoutContentFooter.php
  core/modules/field_layout/tests/modules/field_layout_test/src/Plugin/Layout/TestLayoutMainFooter.php
  core/modules/field_layout/tests/src/Functional/FieldLayoutTest.php
  core/modules/field_layout/tests/src/Functional/GenericTest.php
  core/modules/field_layout/tests/src/FunctionalJavascript/FieldLayoutTest.php
  core/modules/field_layout/tests/src/Kernel/FieldLayoutEntityDisplayTest.php
  core/modules/field_layout/tests/src/Kernel/FieldLayoutUninstallTest.php
  core/modules/field_layout/tests/src/Kernel/LayoutBuilderFieldLayoutCompatibilityTest.php
  core/modules/field_layout/tests/src/Unit/FieldLayoutBuilderTest.php
  core/modules/system/src/Install/Requirements/SystemRequirements.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

task: #3566792 Deprecate remaining ckeditor5.module procedural code
  core/lib/Drupal/Core/Recipe/RecipeConfigInstaller.php
  core/modules/ckeditor5/ckeditor5.module
  core/modules/ckeditor5/src/Hook/Ckeditor5Hooks.php
  core/modules/ckeditor5/tests/src/Kernel/CKEditor5StylesheetsTest.php
  core/modules/ckeditor5/tests/src/Unit/CKEditor5Test.php
Due: üìî Validatable config
