Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/package.json, core/yarn.lock, **/*.css
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module

Issue #3468502 by Spokje, mondrake: sebastianbergmann/comparator:5.0.2 Introduces (for Drupal) breaking changes
  composer.lock
  composer/Metapackage/PinnedDevDependencies/composer.json
  core/lib/Drupal/Core/Cache/Cache.php
Due: none

Issue #2885413: follow-up to correct the condition that skips the update.
  core/modules/system/system.install
Due: none

Issue #3470235 by Spokje: open-telemetry/sem-conv:1.27.0 introduces new deprecation, breaks daily updated deps run
  composer.lock
  composer/Metapackage/PinnedDevDependencies/composer.json
  core/tests/Drupal/Tests/PerformanceTestTrait.php
Due: none

Issue #3151086 by quietone, neclimdul, webchick, KapilV, alexpott, smustgrave: Replace use of whitelist/blacklist in the path_alias module
  core/modules/path/tests/src/Functional/PathAliasTest.php
  core/modules/path_alias/path_alias.services.yml
  core/modules/path_alias/src/AliasManager.php
  core/modules/path_alias/src/AliasManagerInterface.php
  core/modules/path_alias/src/AliasPrefixList.php
  core/modules/path_alias/src/AliasPrefixListInterface.php
  core/modules/path_alias/src/AliasWhitelist.php
  core/modules/path_alias/src/AliasWhitelistInterface.php
  core/modules/path_alias/tests/src/Kernel/AliasTest.php
  core/modules/path_alias/tests/src/Unit/AliasManagerTest.php
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTest.php
Due: üßπ JavaScript linting (eslint)

Issue #3458878 by andypost, MaxWhitehead: Add core testing with Mysql 8.4 LTS and 9.0
  .gitlab-ci.yml
Due: üßπ JavaScript linting (eslint)

Issue #3470235 by Spokje, catch: open-telemetry/sem-conv:1.27.0 introduces new deprecation, breaks daily updated deps run
  composer.lock
  composer/Metapackage/PinnedDevDependencies/composer.json
  core/tests/Drupal/Tests/PerformanceTestTrait.php
Due: none

Revert "Issue #2885413: follow-up to correct the condition that skips the update."
  core/modules/system/system.install
Due: none

Issue #3452181 by kristiaanvandeneynde, smustgrave, mxr576, catch: VariationCache needs to be more defensive about cache context manipulation to avoid broken redirects
  core/lib/Drupal/Core/Cache/VariationCache.php
  core/tests/Drupal/Tests/Core/Cache/VariationCacheTest.php
Due: none

Issue #3471104: Nightwatch and Functional JavaScript fails since selenium/standalone-chrome:128
  .gitlab-ci/pipeline.yml
Due: üßπ JavaScript linting (eslint)

Issue #3459496 by scott_euser, catch, smustgrave, quietone: Views content language field default configuration should use field_language plugin
  core/modules/node/config/optional/views.view.content.yml
  core/modules/views/config/schema/views.field.schema.yml
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #3470694 by tom konda: Remove deprecated document.all in /misc/tabledrag.js
  core/misc/tabledrag.js
Due: üßπ JavaScript linting (eslint)

Issue #2524408 by alexpott, tim.plunkett, catch, effulgentsia: Remove $form_state immutability
  core/lib/Drupal/Core/Form/FormCache.php
  core/modules/page_cache/tests/modules/page_cache_form_test.info.yml
  core/modules/page_cache/tests/modules/page_cache_form_test.install
  core/modules/page_cache/tests/modules/page_cache_form_test.module
  core/modules/page_cache/tests/modules/page_cache_form_test.routing.yml
  core/modules/page_cache/tests/modules/src/Form/TestForm.php
  core/modules/page_cache/tests/src/Functional/PageCacheTest.php
  core/modules/system/system.module
  core/modules/system/tests/modules/form_test/src/Form/FormTestStorageForm.php
  core/modules/system/tests/src/Functional/Form/StorageTest.php
  core/tests/Drupal/Tests/Core/Form/FormCacheTest.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #3455342 by vladimiraus, bharath-kondeti, smustgrave: Improve Drupal\Core\Ajax\MessageCommand API documentation
  core/lib/Drupal/Core/Ajax/MessageCommand.php
Due: none

Issue #3467405 by quietone, smustgrave: Missing @var annotation for properties that provide default values
  core/lib/Drupal/Component/Datetime/DateTimePlus.php
  core/lib/Drupal/Component/Transliteration/PhpTransliteration.php
  core/lib/Drupal/Core/Access/CheckProvider.php
  core/lib/Drupal/Core/Cache/MemoryBackend.php
  core/lib/Drupal/Core/Cache/PhpBackend.php
  core/lib/Drupal/Core/Database/Query/Condition.php
  core/lib/Drupal/Core/Flood/MemoryBackend.php
  core/lib/Drupal/Core/Menu/MenuLinkTreeElement.php
  core/modules/help/tests/src/Functional/HelpTest.php
  core/modules/help/tests/src/Functional/NoHelpTest.php
  core/modules/locale/tests/src/Functional/LocaleExportTest.php
  core/modules/migrate/tests/src/Functional/MigrateMessageTestBase.php
  core/modules/migrate_drupal/tests/src/Unit/source/DrupalSqlBaseTest.php
  core/modules/migrate_drupal/tests/src/Unit/source/d6/Drupal6SqlBaseTest.php
  core/modules/node/tests/src/Functional/NodeAccessBaseTableTest.php
  core/modules/node/tests/src/Functional/NodeAccessGrantsCacheContextTest.php
  core/modules/node/tests/src/Functional/NodeEntityViewModeAlterTest.php
  core/modules/node/tests/src/Functional/NodeQueryAlterTest.php
  core/modules/pgsql/src/Driver/Database/pgsql/Connection.php
  core/modules/responsive_image/tests/src/Functional/ViewsIntegrationTest.php
  core/modules/rest/tests/src/Functional/Views/StyleSerializerEntityTest.php
  core/modules/rest/tests/src/Functional/Views/StyleSerializerTest.php
  core/modules/sqlite/src/Driver/Database/sqlite/Connection.php
  core/modules/system/tests/src/Functional/Datetime/DrupalDateTimeTest.php
  core/modules/user/src/Plugin/views/wizard/Users.php
  core/modules/views/src/Plugin/views/cache/CachePluginBase.php
  core/modules/views/src/Plugin/views/filter/FilterPluginBase.php
  core/modules/views/src/Plugin/views/query/MysqlDateSql.php
  core/modules/views/src/Plugin/views/query/Sql.php
  core/modules/views/src/Plugin/views/style/StylePluginBase.php
  core/tests/Drupal/FunctionalTests/Installer/InstallerConfigDirectoryTestBase.php
  core/tests/Drupal/FunctionalTests/Update/UpdatePathTestBase.php
  core/tests/Drupal/Tests/Core/Asset/AssetResolverTest.php
Due: none

Issue #3334045 by yash.rode, joachim, quietone: Drupal\Core\Template\Attribute doesn't support adding attributes with array syntax if attribute name not already initialised
  core/lib/Drupal/Core/Template/Attribute.php
  core/tests/Drupal/Tests/Core/Template/AttributeTest.php
Due: none

Issue #3470890 by quietone: Remove misc usage of whitelist in tests and comments
  core/core.api.php
  core/modules/path/tests/src/Functional/PathAliasTest.php
  core/modules/views/tests/src/Functional/Plugin/DisplayFeedTranslationTest.php
  core/modules/workspaces/tests/src/Functional/PathWorkspacesTest.php
  core/tests/Drupal/KernelTests/Core/Theme/TwigAllowListTest.php
  core/tests/Drupal/Tests/Component/Utility/XssTest.php
  core/tests/Drupal/Tests/Core/Security/RequestSanitizerTest.php
  core/tests/Drupal/Tests/Core/Template/TwigSandboxTest.php
Due: none

Issue #3400434 by mstrelan: Enforce strict types in tests
  core/modules/comment/src/Tests/CommentTestTrait.php
  core/modules/contact/tests/drupal-7.contact.database.php
  core/modules/filter/tests/filter_test_plugin/src/Plugin/Filter/FilterSparkles.php
  core/modules/filter/tests/filter_test_plugin/src/Plugin/Filter/FilterTestStatic.php
  core/modules/menu_link_content/tests/menu_link_content_dynamic_route/src/Routes.php
  core/modules/migrate_drupal/src/Tests/StubTestTrait.php
  core/modules/node/tests/node_access_test_auto_bubbling/src/Controller/NodeAccessTestAutoBubblingController.php
  core/modules/system/tests/http.php
  core/modules/system/tests/https.php
  core/modules/system/tests/themes/engines/nyan_cat/nyan_cat.engine
  core/modules/system/tests/themes/test_basetheme/test_basetheme.theme
  core/modules/system/tests/themes/test_subsubtheme/test_subsubtheme.theme
  core/modules/system/tests/themes/test_subtheme/test_subtheme.theme
  core/modules/system/tests/themes/test_theme/src/ThemeClass.php
  core/modules/system/tests/themes/test_theme/test_theme.theme
  core/modules/system/tests/themes/test_theme_depending_on_modules/test_module_required_by_theme/test_module_required_by_theme.module
  core/modules/system/tests/themes/test_theme_depending_on_modules/test_theme_depending_on_modules.post_update.php
  core/modules/system/tests/themes/test_theme_nyan_cat_engine/test_theme_nyan_cat_engine.theme
  core/modules/system/tests/themes/test_theme_settings/theme-settings.php
  core/modules/system/tests/themes/test_theme_theme/test_theme_theme.theme
  core/modules/system/tests/themes/test_theme_updates/test_theme_updates.post_update.php
  core/modules/views/src/Tests/AssertViewsCacheTagsTrait.php
  core/modules/views/src/Tests/TestHelperPlugin.php
  core/modules/views/src/Tests/ViewResultAssertionTrait.php
  core/modules/views/src/Tests/ViewTestData.php
  core/modules/views/tests/src/Kernel/Handler/SortDateTest.php
  core/modules/views/tests/themes/views_test_checkboxes_theme/views_test_checkboxes_theme.theme
  core/modules/views_ui/tests/themes/views_ui_test_theme/views_ui_test_theme.theme
  core/phpcs.xml.dist
  core/tests/Drupal/Tests/Component/DependencyInjection/Fixture/container_test_file_service_test_service_function.php
  core/tests/Drupal/Tests/Core/DependencyInjection/Fixture/FinalTestHttpMiddlewareClass.php
  core/tests/Drupal/Tests/Core/DependencyInjection/Fixture/FinalTestNonTerminableHttpMiddlewareClass.php
  core/tests/bootstrap.php
Due: üìî Validatable config

Issue #3465836 by andypost: PHP 8.4 session.sid_length and session.sid_bits_per_character are deprecated
  core/lib/Drupal/Core/Session/SessionConfiguration.php
  core/tests/Drupal/Tests/Core/Session/SessionConfigurationTest.php
Due: none

Issue #3471080 by andypost: Update mikey179/vfsstream to v1.6.12 for PHP 8.4
  composer.lock
  composer/Metapackage/PinnedDevDependencies/composer.json
Due: none

Issue #3470075 by andypost, ankitv18: PHP 8.4 GET/POST sessions are deprecated
  core/lib/Drupal/Core/DrupalKernel.php
Due: none

Issue #973772 by drupal_was_my_past, avpaderno, joachim, tstoeckler, quietone, EvanDonovan, zirvap: Hard to translate: "Required if you want to change the %mail or %pass below."
  core/modules/user/src/AccountForm.php
Due: none
