Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), ‚úÖÔ∏è PHPStan rules tests, üìî Validatable config

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/.eslint*, core/.prettier*, core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/.stylelintrc.json, core/.prettier*, core/package.json, core/yarn.lock, **/*.css
  ‚úÖÔ∏è PHPStan rules tests: any of: core/tests/PHPStan/**/*, composer/Metapackage/PinnedDevDependencies/composer.json
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module

Issue #3337882 by dcam, enaznin, tirupati_singh, pameeela, catch, smustgrave: Deleted menus are not removed from content type config
  core/modules/menu_ui/src/Hook/MenuUiHooks.php
  core/modules/menu_ui/tests/src/Kernel/MenuDeleteTest.php
Due: none

Issue #3513879 by nicxvan: Convert experimental_module_requirements_test_requirements to new Class
  core/modules/system/tests/modules/experimental_module_requirements_test/experimental_module_requirements_test.install
  core/modules/system/tests/modules/experimental_module_requirements_test/src/Install/Requirements/ExperimentalModuleRequirementsTestRequirements.php
Due: none

Issue #3525170 by benjifisher, catch, greggles, larowlan, mcdruid: Clean up unserialize() in the migration modules
  core/modules/migrate/migrate.api.php
  core/modules/migrate/src/Plugin/Discovery/AnnotatedClassDiscoveryAutomatedProviders.php
  core/modules/migrate/src/Plugin/migrate/source/ConfigEntity.php
  core/modules/migrate_drupal/src/Plugin/migrate/source/DrupalSqlBase.php
  core/modules/migrate_drupal/src/Plugin/migrate/source/Variable.php
  core/modules/migrate_drupal/src/Plugin/migrate/source/VariableMultiRow.php
  core/modules/migrate_drupal/src/Plugin/migrate/source/d6/VariableTranslation.php
  core/modules/migrate_drupal/src/Plugin/migrate/source/d7/VariableTranslation.php
  core/modules/migrate_drupal/src/Plugin/migrate/source/d8/Config.php
  core/modules/migrate_drupal_ui/src/Form/ReviewForm.php
  core/modules/migrate_drupal_ui/tests/src/Functional/MigrateUpgradeTestBase.php
Due: none

Issue #2787273 by mstrelan, _utsavsharma, chi, ameymudras, smustgrave, catch, quietone: Drupal\system\Tests\Theme\FastTest does not test anything
  core/.phpstan-baseline.php
  core/modules/system/tests/modules/theme_test/src/EventSubscriber/ThemeTestSubscriber.php
  core/modules/system/tests/src/Functional/Theme/FastTest.php
Due: none

Issue #3309334 by el7cosmos, smustgrave: Service collector won't collect child services
  core/lib/Drupal/Core/DependencyInjection/Compiler/TaggedHandlersPass.php
  core/tests/Drupal/Tests/Core/DependencyInjection/Compiler/TaggedHandlersPassTest.php
Due: none

Issue #3533413 by mondrake, godotislate: Convert test annotations to attributes in modules' BuildTests
  core/modules/package_manager/tests/src/Build/PackageInstallSubmoduleTest.php
  core/modules/package_manager/tests/src/Build/PackageInstallTest.php
  core/modules/package_manager/tests/src/Build/PackageUpdateTest.php
Due: none

Issue #3532187 by sleitner, immaculatexavier, alexpott, catch, adrianm6254, xjm, sharif.elshobkshy: Composer issue when dealerdirect/phpcodesniffer-composer-installer update from v1.0.0 to v1.1.0
  composer.lock
  core/composer.json
Due: none

Issue #3532704 by griffynh, yoroy: Remove yoroy as maintainer for Usability
  core/MAINTAINERS.txt
Due: none

Issue #3533310 by nicxvan, mondrake, berdir: Convert mysqli_requirements to oop hook_runtime_requirements
  core/modules/mysqli/mysqli.install
  core/modules/mysqli/src/Hook/MysqliHooks.php
Due: none

Issue #3531687 by immaculatexavier, xjm, sam152: Remove Sam152 as maintainer for Content Moderation and Workflows
  core/MAINTAINERS.txt
Due: none

Issue #3358533 by mcdruid, smustgrave, mstrelan, larowlan, longwave, bramdriesen: Add test(s) for SA-CORE-2023-004
  core/modules/system/tests/src/Functional/System/StatusTest.php
Due: none

Issue #3524738 by berdir, xjm, godotislate, oily, catch, penyaskito, larowlan, kristiaanvandeneynde: Fatal error when passing NULL to Renderer::render()
  core/lib/Drupal/Core/Render/Renderer.php
  core/lib/Drupal/Core/Render/RendererInterface.php
  core/modules/node/node.module
Due: üìî Validatable config

Issue #3520065 by john.oltman, benjifisher: The migrate Row class API is incomplete
  core/modules/migrate/src/Row.php
  core/modules/migrate/tests/src/Kernel/RowTest.php
  core/modules/migrate/tests/src/Unit/RowTest.php
Due: none

Issue #3512116 by annmarysruthy, juandhr, larowlan, mstrelan, quietone: \Drupal\system\Controller\DbUpdateController::helpfulLinks checks hard-coded permissions but should check access on the url
  core/modules/system/src/Controller/DbUpdateController.php
Due: none

Issue #3527655 by nicxvan: Convert getSourceFilterType to use match instead of switch
  core/modules/filter/src/Plugin/migrate/process/FilterID.php
Due: none

Issue #3519513 by julio_retkwa, andy-blum, quietone: Remove remaining IE11 support from Olivero
  core/themes/olivero/css/components/button.css
  core/themes/olivero/css/components/button.pcss.css
  core/themes/olivero/css/components/header-search-narrow.css
  core/themes/olivero/css/components/header-search-narrow.pcss.css
  core/themes/olivero/css/components/header-search-wide.css
  core/themes/olivero/css/components/header-search-wide.pcss.css
  core/themes/olivero/css/components/navigation/nav-primary-no-js.css
  core/themes/olivero/css/components/navigation/nav-primary-no-js.pcss.css
  core/themes/olivero/css/components/navigation/nav-primary-wide.css
  core/themes/olivero/css/components/navigation/nav-primary-wide.pcss.css
  core/themes/olivero/css/components/node.css
  core/themes/olivero/css/components/node.pcss.css
  core/themes/olivero/css/components/search-results.css
  core/themes/olivero/css/components/search-results.pcss.css
Due: üßπ CSS linting (stylelint)

Issue #3532489 by alexpott, neptune-dc: Remove unused properties from DateTimePlus
  core/lib/Drupal/Component/Datetime/DateTimePlus.php
Due: none

Issue #3534354 by znerol, nicxvan, larowlan, longwave: Add KeyValueFactoryInterface and KeyValueExpirableFactoryInterface alias to core services
  core/core.services.yml
Due: üßπ JavaScript linting (eslint)

Issue #3533030 by catch, mondrake: Move QuickStart tests to build tests
  core/tests/Drupal/BuildTests/QuickStart/QuickStartTest.php
  core/tests/Drupal/BuildTests/QuickStart/RecipeQuickStartTest.php
Due: none

Issue #3532914 by catch, mondrake: Try to reduce Unit test CPU requests
  .gitlab-ci.yml
Due: üßπ JavaScript linting (eslint)
