Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

üßπ JavaScript linting (eslint):
  needs:
  - üì¶Ô∏è Yarn
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - cd core
  - corepack enable
  - yarn run check:ckeditor5
  - yarn run lint:core-js-passing --format gitlab
  artifacts:
    reports:
      codequality: eslint-quality-report.json

üßπ CSS linting (stylelint):
  needs:
  - üì¶Ô∏è Yarn
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - corepack enable
  - cd core
  - yarn run build:css --check
  - yarn run lint:css --color --custom-formatter=node_modules/stylelint-formatter-gitlab
  artifacts:
    reports:
      codequality: stylelint-quality-report.json

üìî Validatable config:
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  artifacts:
    expire_in: 1 week
    expose_as: validatable-config
    paths:
    - HEAD.json
    - MR.json
  allow_failure:
    exit_codes:
    - 100
    - 101
    - 1
  script:
  - git checkout -f $CI_MERGE_REQUEST_DIFF_BASE_SHA
  ...

Issue #3427171 by samit.310@gmail.com, mondrake, longwave, smustgrave, Spokje, catch, quietone: Replace calls to ::expectWarning*() in Drupal\Tests\user\Kernel\Views\HandlerFilterRolesTest
  core/.phpstan-baseline.php
  core/modules/user/src/Plugin/views/filter/Roles.php
  core/modules/user/tests/src/Kernel/Views/HandlerFilterRolesTest.php
Due: none

Issue #3437566 by mondrake, longwave, catch, smustgrave, alexpott: Refactor trigger_error in TypedConfigManager
  core/lib/Drupal/Core/Config/TypedConfigManager.php
  core/tests/Drupal/KernelTests/Config/TypedConfigTest.php
Due: none

Issue #3221516 by quietone, himanshu_jhaloya, smustgrave, Lendude, joachim: Improve documentation for $old_destination_id_values in MigrateDestinationInterface
  core/modules/migrate/src/Plugin/MigrateDestinationInterface.php
Due: none

Issue #2827897 by quietone, danflanagan8, mikelutz, smustgrave, mikeryan, osopolar, xurizaemon, benjifisher: Update documentation for handling dots in the static_map plugin
  core/modules/migrate/src/Plugin/migrate/process/StaticMap.php
  core/modules/migrate/tests/src/Unit/process/StaticMapTest.php
Due: none

Issue #3271688 by smustgrave, larowlan, phenaproxima, borisson_, ravi.shankar, dianacastillo, TimoZura: Remove source from media mappings
  core/modules/media/media.post_update.php
  core/modules/media/src/Entity/MediaType.php
  core/modules/media/src/MediaTypeForm.php
  core/modules/media/src/Plugin/Validation/Constraint/MediaMappingsConstraint.php
  core/modules/media/src/Plugin/Validation/Constraint/MediaMappingsConstraintValidator.php
  core/modules/media/tests/src/Functional/Update/MediaMappingUpdateTest.php
  core/modules/media/tests/src/FunctionalJavascript/MediaTypeCreationTest.php
  core/modules/media/tests/src/Kernel/MediaMappingsConstraintValidatorTest.php
Due: none

Issue #3439932 by phenaproxima, narendraR, Wim Leers, larowlan: Add validation constraints to system.image and system.image.gd
  core/modules/system/config/schema/system.schema.yml
  core/tests/Drupal/KernelTests/Core/Config/SimpleConfigValidationTest.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #3324560 by alexpott, mstrelan, dimitriskr, xjm, longwave, catch: Replace strpos/substr with str_starts_with() / str_contains() / str_ends_with()
  core/lib/Drupal/Component/Diff/Engine/HWLDFWordAccumulator.php
  core/lib/Drupal/Core/Config/Entity/Query/Condition.php
  core/lib/Drupal/Core/Config/Entity/Query/Query.php
  core/lib/Drupal/Core/Entity/Plugin/EntityReferenceSelection/PhpSelection.php
  core/lib/Drupal/Core/EventSubscriber/ActiveLinkResponseFilter.php
  core/lib/Drupal/Core/ParamConverter/EntityConverter.php
  core/lib/Drupal/Core/Plugin/Context/LazyContextRepository.php
  core/lib/Drupal/Core/Test/TestDiscovery.php
  core/modules/image/src/PathProcessor/PathProcessorImageStyles.php
  core/modules/migrate_drupal/tests/src/Traits/NodeMigrateTypeTestTrait.php
  core/modules/user/src/Plugin/Validation/Constraint/UserNameConstraintValidator.php
Due: none

Issue #3323317 by amateescu, vladimir_kriukov, smustgrave, alexpott: Revision metadata is not updated when a workspace is merged into its parent
  core/modules/workspaces/src/WorkspaceMerger.php
  core/modules/workspaces/src/WorkspaceOperationFactory.php
  core/modules/workspaces/tests/src/Kernel/WorkspaceAssociationTest.php
  core/modules/workspaces/workspaces.services.yml
Due: üßπ JavaScript linting (eslint)

Issue #3432874 by acbramley, catch, alexpott: Replace "Expose all fields as blocks to Layout Builder" configuration with a feature flag module
  core/modules/layout_builder/config/install/layout_builder.settings.yml
  core/modules/layout_builder/config/schema/layout_builder.schema.yml
  core/modules/layout_builder/layout_builder.info.yml
  core/modules/layout_builder/layout_builder.links.menu.yml
  core/modules/layout_builder/layout_builder.permissions.yml
  core/modules/layout_builder/layout_builder.post_update.php
  core/modules/layout_builder/layout_builder.routing.yml
  core/modules/layout_builder/layout_builder.services.yml
  core/modules/layout_builder/modules/layout_builder_expose_all_field_blocks/layout_builder_expose_all_field_blocks.info.yml
  core/modules/layout_builder/modules/layout_builder_expose_all_field_blocks/layout_builder_expose_all_field_blocks.module
  core/modules/layout_builder/modules/layout_builder_expose_all_field_blocks/tests/src/Functional/GenericTest.php
  core/modules/layout_builder/src/Entity/LayoutBuilderEntityViewDisplay.php
  core/modules/layout_builder/src/EventSubscriber/LayoutBuilderConfigSubscriber.php
  core/modules/layout_builder/src/Form/LayoutBuilderSettingsForm.php
  core/modules/layout_builder/src/Plugin/Derivative/ExtraFieldBlockDeriver.php
  core/modules/layout_builder/src/Plugin/Derivative/FieldBlockDeriver.php
  core/modules/layout_builder/tests/src/Functional/SettingsFormTest.php
  core/modules/layout_builder/tests/src/Functional/Update/LayoutBuilderSettingsUpdateTest.php
  core/modules/layout_builder/tests/src/FunctionalJavascript/BlockFilterTest.php
  core/modules/layout_builder/tests/src/FunctionalJavascript/FieldBlockTest.php
  core/modules/layout_builder/tests/src/Kernel/FieldBlockDeriverTest.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #3420972 by quietone, andypost, smustgrave, catch, daffie: Add testing wtih SQLite 3.45
  .gitlab-ci.yml
  core/modules/sqlite/src/Driver/Database/sqlite/Install/Tasks.php
  core/tests/Drupal/BuildTests/TestSiteApplication/InstallTest.php
Due: üßπ JavaScript linting (eslint)

Issue #3440038 by longwave, quietone, mondrake, catch: ImageItem logs an warning instead of triggering an E_USER_WARNING
  core/modules/image/src/Plugin/Field/FieldType/ImageItem.php
  core/modules/image/tests/src/Kernel/ImageItemTest.php
Due: none

Issue #3440039 by samit.310@gmail.com, quietone, smustgrave, catch, mondrake: Log warning when relatable resource type references a missing entity type / bundle instead triggering E_USER_WARNING
  core/modules/jsonapi/src/ResourceType/ResourceTypeRepository.php
  core/modules/jsonapi/tests/src/Kernel/ResourceType/RelatedResourceTypesTest.php
Due: none

Issue #3427174 by longwave, quietone, dineshkumarbollu, mondrake, alexpott: Throw exception when calling NestedArray::setValue() when parents reference a non-array value instead of causing a PHP error
  core/.phpstan-baseline.php
  core/lib/Drupal/Component/Utility/NestedArray.php
  core/tests/Drupal/Tests/Component/Utility/NestedArrayTest.php
  core/tests/Drupal/Tests/Core/Config/ConfigTest.php
Due: none

Issue #3439904 by thebumik, pradhumanjain2311, smustgrave, kristiaanvandeneynde, vensires, alexpott, larowlan: Fix Path tests that rely on UID1's super user behavior
  core/modules/path/tests/src/Functional/PathContentModerationTest.php
Due: none

Issue #3440878 by adwivedi008, mondrake: Fix return typehinting for LangcodeRequiredIfTranslatableValuesConstraintValidator::validate()
  core/lib/Drupal/Core/Config/Plugin/Validation/Constraint/LangcodeRequiredIfTranslatableValuesConstraintValidator.php
Due: none

Issue #3436936 by SandeepMahlawat, Gauravvvv, smustgrave, catch: Claro should use libraries-extend for views_ui.css
  core/themes/claro/claro.info.yml
  core/themes/claro/claro.libraries.yml
Due: üßπ JavaScript linting (eslint)

Issue #3439844 by ivnish, KrakenBite, larowlan, smustgrave: Add setting to move comment form after comments
  core/themes/olivero/config/install/olivero.settings.yml
  core/themes/olivero/config/schema/olivero.schema.yml
  core/themes/olivero/olivero.post_update.php
  core/themes/olivero/olivero.theme
  core/themes/olivero/templates/field/field--comment.html.twig
  core/themes/olivero/theme-settings.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #3439830 by thebumik, alexpott, pradhumanjain2311, vensires, smustgrave, kristiaanvandeneynde, larowlan: Fix Comments tests that rely on UID1's super user behavior
  core/modules/comment/tests/src/Functional/CommentStatisticsTest.php
Due: none

Revert "Issue #3439844 by ivnish, KrakenBite, larowlan, smustgrave: Add setting to move comment form after comments"
  core/themes/olivero/config/install/olivero.settings.yml
  core/themes/olivero/config/schema/olivero.schema.yml
  core/themes/olivero/olivero.post_update.php
  core/themes/olivero/olivero.theme
  core/themes/olivero/templates/field/field--comment.html.twig
  core/themes/olivero/theme-settings.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #3158130 by longwave, Berdir, voleger, mayurjadhav, ranjith_kumar_k_u, _pratik_, smustgrave, acbramley: Many calls to ContextRepository::getAvailableContexts() due to entity upcasting
  core/lib/Drupal/Core/Entity/EntityRepository.php
  core/lib/Drupal/Core/Entity/EntityRepositoryInterface.php
  core/lib/Drupal/Core/ParamConverter/EntityConverter.php
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTest.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityRepositoryTest.php
  core/tests/Drupal/Tests/Core/ParamConverter/EntityConverterTest.php
Due: none

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/package.json, core/yarn.lock, **/*.css
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module
