Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üìã PHPUnit Unit (PHPStan rules), üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üì¶ Yarn install on minimum Node.js version

Path conditions:
  üìã PHPUnit Unit (PHPStan rules): any of: core/tests/PHPStan/**/*, composer/Metapackage/PinnedDevDependencies/composer.json
  üßπ JavaScript linting (eslint): any of: core/.eslint*, core/.prettier*, core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/.stylelintrc.json, core/.prettier*, core/package.json, core/yarn.lock, **/*.css
  üì¶ Yarn install on minimum Node.js version: any of: core/package.json, core/yarn.lock

task: #3566048 Add darvanen as a maintainer of the Token subsystem
  core/MAINTAINERS.txt
Due: none

task: #3566051 Add darvanen as a maintainer of the Menu UI subsystem
  core/MAINTAINERS.txt
Due: none

refactor: #3566890 Deprecate and remove procedural code from content_translation.module
  core/.phpstan-baseline.php
  core/modules/comment/src/CommentLazyBuilders.php
  core/modules/comment/src/Form/CommentAdminOverview.php
  core/modules/content_translation/content_translation.module
  core/modules/content_translation/content_translation.services.yml
  core/modules/content_translation/src/Access/ContentTranslationOverviewAccess.php
  core/modules/content_translation/src/ContentTranslationEnableTranslationPerBundle.php
  core/modules/content_translation/src/ContentTranslationManager.php
  core/modules/content_translation/src/ContentTranslationManagerInterface.php
  core/modules/content_translation/src/Hook/ContentTranslationFormHooks.php
  core/modules/content_translation/src/Hook/ContentTranslationHooks.php
  core/modules/content_translation/tests/src/Functional/ContentTranslationOperationsTest.php
  core/modules/content_translation/tests/src/Functional/Views/TranslationLinkTest.php
  core/modules/user/src/AccountSettingsForm.php
Due: üßπ JavaScript linting (eslint)

refactor: #3570839 Deprecate remaining underscore functions in media_library.module
  core/modules/media_library/media_library.install
  core/modules/media_library/media_library.module
  core/modules/media_library/src/Hook/MediaLibraryHooks.php
  core/modules/media_library/src/MediaLibraryDisplayManager.php
Due: none

fix: #3577001 LocaleConfigManager::updateConfigTranslations() unconditionally re-saves unchanged config overrides
  core/modules/locale/src/LocaleConfigManager.php
  core/modules/locale/tests/src/Kernel/LocaleConfigSubscriberForeignTest.php
  core/modules/locale/tests/src/Kernel/LocaleConfigSubscriberTest.php
Due: none

task: #3580403 Add a 'is temporary' flag to WorkspaceSwitchEvent
  core/modules/workspaces/src/Event/WorkspaceSwitchEvent.php
  core/modules/workspaces/src/WorkspaceManager.php
  core/modules/workspaces/tests/src/Kernel/WorkspaceIntegrationTest.php
Due: none

task: #3579673 Remove lazy declaration and proxy class for MIME type guessers
  core/.phpstan-baseline.php
  core/core.services.yml
  core/lib/Drupal/Core/File/MimeType/MimeTypeGuesser.php
  core/lib/Drupal/Core/ProxyClass/File/MimeType/ExtensionMimeTypeGuesser.php
  core/lib/Drupal/Core/ProxyClass/File/MimeType/MimeTypeGuesser.php
Due: üßπ JavaScript linting (eslint)

task: #3579899 Remove remaining claro.theme functions
  core/modules/file/tests/src/FunctionalJavascript/FileFieldWidgetClaroThemeTest.php
  core/modules/system/src/Hook/SystemHooks.php
  core/modules/system/src/Hook/SystemThemeHooks.php
  core/modules/system/system.module
  core/modules/toolbar/src/Hook/ToolbarThemeHooks.php
  core/themes/claro/claro.theme
  core/themes/claro/src/ClaroLinkActionTrait.php
  core/themes/claro/src/Hook/ClaroFormHooks.php
  core/themes/claro/src/Hook/ClaroHooks.php
Due: none

task: #3580662 Deprecate _filter_tips()
  core/modules/filter/filter.module
  core/modules/filter/src/Hook/FilterThemeHooks.php
Due: none

feat: #3559156 Support Twig's CVA function
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  core/composer.json
  core/core.services.yml
  core/lib/Drupal/Core/Template/TwigSandboxPolicy.php
  core/modules/system/tests/themes/sdc_theme_test/components/cva/cva.component.yml
  core/modules/system/tests/themes/sdc_theme_test/components/cva/cva.twig
  core/tests/Drupal/KernelTests/Core/Theme/CvaTest.php
Due: üßπ JavaScript linting (eslint)

task: #3572243 Deprecate several views functions
  core/modules/views/src/Hook/ViewsHooks.php
  core/modules/views/src/Plugin/views/query/Sql.php
  core/modules/views/src/Plugin/views/relationship/GroupwiseMax.php
  core/modules/views/src/ViewExecutable.php
  core/modules/views/src/Views.php
  core/modules/views/tests/src/Kernel/ModuleTest.php
  core/modules/views/views.module
  core/modules/views_ui/src/Form/BasicSettingsForm.php
Due: none

refactor: #3555670 Deprecate user_load_by_mail & user_load_by_name
  core/modules/dblog/tests/src/Functional/DbLogTest.php
  core/modules/system/tests/modules/url_alter_test/src/PathProcessorTest.php
  core/modules/update/update.fetch.inc
  core/modules/user/tests/src/Functional/UserCreateTest.php
  core/modules/user/tests/src/Functional/UserLanguageCreationTest.php
  core/modules/user/tests/src/Functional/UserRegistrationRestTest.php
  core/modules/user/tests/src/Functional/UserRolesAssignmentTest.php
  core/modules/user/user.module
  core/tests/Drupal/FunctionalTests/DefaultContent/ContentExportTest.php
Due: none

test: #3562142 Fix PHPStan errors in Link tests
  core/.phpstan-baseline.php
  core/modules/link/tests/src/Functional/LinkFieldTest.php
  core/modules/link/tests/src/Functional/LinkFieldUITest.php
  core/modules/link/tests/src/Functional/Views/LinkViewsTokensTest.php
  core/modules/link/tests/src/FunctionalJavascript/LinkFieldFormStatesTest.php
  core/modules/link/tests/src/Kernel/LinkFormatterTest.php
  core/modules/link/tests/src/Kernel/LinkItemUrlValidationTest.php
  core/modules/link/tests/src/Traits/LinkInputValuesTraits.php
  core/modules/link/tests/src/Unit/AttributeXssTest.php
  core/modules/link/tests/src/Unit/Plugin/Validation/Constraint/LinkAccessConstraintValidatorTest.php
  core/modules/link/tests/src/Unit/Plugin/Validation/Constraint/LinkExternalProtocolsConstraintValidatorTest.php
  core/tests/Drupal/Tests/Traits/Core/PathAliasTestTrait.php
Due: none

perf: #3580109 Optimise CacheTagsCheckSumTrait::calculateChecksum()
  core/lib/Drupal/Core/Cache/CacheTagsChecksumTrait.php
Due: none

perf: #3581116 Speed up DependencyTest
  core/modules/system/tests/src/Functional/Module/DependencyTest.php
Due: none

task: #3578486 Check aliases match interfaces in AutowireTest
  core/modules/block_content/block_content.services.yml
  core/tests/Drupal/KernelTests/Core/DependencyInjection/AutowireTest.php
Due: üßπ JavaScript linting (eslint)

Revert "task: #3578486 Check aliases match interfaces in AutowireTest"
  core/modules/block_content/block_content.services.yml
  core/tests/Drupal/KernelTests/Core/DependencyInjection/AutowireTest.php
Due: üßπ JavaScript linting (eslint)

fix: #3560719 Add [#NoDiscard] to AccessResult methods or make them chainable
  core/modules/media/src/MediaAccessControlHandler.php
  core/modules/media/tests/src/Functional/MediaAccessTest.php
Due: none

test: #3578694 Fix additional incorrect usages of ConstraintViolation instead of ConstraintViolationInterface
  core/modules/ckeditor5/tests/src/Traits/CKEditor5ValidationTestTrait.php
  core/profiles/demo_umami/tests/src/Functional/DemoUmamiProfileTest.php
  core/profiles/standard/tests/src/Traits/StandardTestTrait.php
Due: none

task: #3573359 Add funding key to composer.json
  composer.lock
  core/composer.json
Due: none

fix: #3575096 Remove callable type from BatchBuilder ::addOperation and ::setFinishCallback
  core/lib/Drupal/Core/Batch/BatchBuilder.php
  core/modules/system/tests/modules/batch_test/src/BatchTestDefinitions.php
  core/tests/Drupal/Tests/Core/Batch/BatchBuilderTest.php
Due: none

fix: #3569172 Weird language negotiation behavior inside getLanguageSwitchLinks leading to incorrect languages being used
  core/modules/language/src/ConfigurableLanguageManager.php
  core/modules/language/tests/src/Unit/ConfigurableLanguageManagerSwitchLinksTest.php
Due: none

feat: #3086655 Add composer instructions to INSTALL.txt
  core/INSTALL.txt
Due: none

feat: #3574012 Add a getFieldValue() method to bypass typed data overhead for specific use cases
  core/lib/Drupal/Core/Entity/ContentEntityDeleteForm.php
  core/lib/Drupal/Core/Entity/EntityFieldValueTrait.php
  core/modules/user/src/Entity/User.php
  core/modules/user/tests/src/Kernel/UserFieldValueTest.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityFieldValueTraitTest.php
Due: none

fix: #3578193 CommentTokensHooks passes NULL to UrlHelper::stripDangerousProtocols() when comment homepage is not set
  core/modules/comment/src/Hook/CommentTokensHooks.php
  core/modules/comment/tests/src/Kernel/CommentTokenReplaceTest.php
Due: none

chore: #3581530 Update google/protobuf to >= 4.33.6
  composer.lock
  composer/Metapackage/PinnedDevDependencies/composer.json
Due: üìã PHPUnit Unit (PHPStan rules)

docs: #3576233 Correct documentation for ::getChangedTimeAcrossTranslations()
  core/lib/Drupal/Core/Entity/EntityChangedInterface.php
  core/lib/Drupal/Core/Entity/EntityChangedTrait.php
Due: none
