Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

üßπ JavaScript linting (eslint):
  needs:
  - üì¶Ô∏è Yarn
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - cd core
  - corepack enable
  - yarn run check:ckeditor5
  - yarn run lint:core-js-passing --format gitlab
  artifacts:
    reports:
      codequality: eslint-quality-report.json

üßπ CSS linting (stylelint):
  needs:
  - üì¶Ô∏è Yarn
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - corepack enable
  - cd core
  - yarn run build:css --check
  - yarn run lint:css --color --custom-formatter=node_modules/stylelint-formatter-gitlab
  artifacts:
    reports:
      codequality: stylelint-quality-report.json

üìî Validatable config:
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  artifacts:
    expire_in: 1 week
    expose_as: validatable-config
    paths:
    - HEAD.json
    - MR.json
  allow_failure:
    exit_codes:
    - 100
    - 101
    - 1
  script:
  - git checkout -f $CI_MERGE_REQUEST_DIFF_BASE_SHA
  ...

Issue #3432134 by andypost, catch: Remove Action UI module
  core/.phpstan-baseline.php
  core/MAINTAINERS.txt
  core/modules/action/action.info.yml
  core/modules/action/action.links.menu.yml
  core/modules/action/action.links.task.yml
  core/modules/action/action.module
  core/modules/action/action.post_update.php
  core/modules/action/action.routing.yml
  core/modules/action/config/schema/action.schema.yml
  core/modules/action/help_topics/action.creating.html.twig
  core/modules/action/help_topics/action.overview.html.twig
  core/modules/action/src/ActionListBuilder.php
  core/modules/action/src/Form/ActionAddForm.php
  core/modules/action/src/Form/ActionAdminManageForm.php
  core/modules/action/src/Form/ActionDeleteForm.php
  core/modules/action/src/Form/ActionEditForm.php
  core/modules/action/src/Form/ActionFormBase.php
  core/modules/action/src/Plugin/Action/AssignOwnerNode.php
  core/modules/action/src/Plugin/Action/UnpublishByKeywordComment.php
  core/modules/action/src/Plugin/Action/UnpublishByKeywordNode.php
  core/modules/action/tests/action_form_ajax_test/action_form_ajax_test.info.yml
  core/modules/action/tests/action_form_ajax_test/config/schema/action_form_ajax_test.schema.yml
  core/modules/action/tests/action_form_ajax_test/src/Plugin/Action/ActionAjaxTest.php
  core/modules/action/tests/src/Functional/ActionListTest.php
  core/modules/action/tests/src/Functional/ActionUninstallTest.php
  core/modules/action/tests/src/Functional/ConfigurationTest.php
  core/modules/action/tests/src/Functional/GenericTest.php
  core/modules/action/tests/src/Functional/Node/NodeActionsConfigurationTest.php
  core/modules/action/tests/src/FunctionalJavascript/ActionFormAjaxTest.php
  core/modules/action/tests/src/Kernel/Migrate/d6/MigrateActionsTest.php
  core/modules/action/tests/src/Kernel/Migrate/d7/MigrateActionsTest.php
  core/modules/action/tests/src/Kernel/UnpublishByKeywordActionTest.php
  core/modules/action/tests/src/Kernel/UnpublishByKeywordCommentTest.php
  core/modules/action/tests/src/Unit/Menu/ActionLocalTasksTest.php
  core/modules/system/tests/src/Functional/UpdateSystem/UpdatePathTestBaseFilledTest.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #3419186 by Ruturaj Chaubey, phthlaap, balintpekker, smustgrave: Add a hook_ENTITY_TYPE_form_mode_alter()
  core/lib/Drupal/Core/Entity/Entity/EntityFormDisplay.php
  core/lib/Drupal/Core/Entity/entity.api.php
  core/modules/system/tests/modules/entity_test/entity_test.module
  core/modules/system/tests/src/Functional/Entity/EntityFormTest.php
Due: üìî Validatable config

Issue #3442172 by pradhumanjain2311, catch: Remove the 9.4 database dump fixtures from 11.x
  core/modules/system/tests/fixtures/update/drupal-9.4.0.bare.standard.php.gz
  core/modules/system/tests/fixtures/update/drupal-9.4.0.filled.standard.php.gz
  core/modules/system/tests/fixtures/update/drupal-9.4.0.phpass.standard.php.gz
  core/modules/system/tests/src/Kernel/Scripts/DbImportCommandTest.php
Due: none

Issue #3413917 by quietone, smustgrave, catch, andypost: Deprecate the Statistics module
  core/modules/statistics/statistics.info.yml
  core/modules/statistics/tests/src/Functional/GenericTest.php
  core/modules/statistics/tests/src/Functional/StatisticsAdminTest.php
  core/modules/statistics/tests/src/Functional/StatisticsAttachedTest.php
  core/modules/statistics/tests/src/Functional/StatisticsLoggingTest.php
  core/modules/statistics/tests/src/Functional/StatisticsReportsTest.php
  core/modules/statistics/tests/src/Functional/StatisticsTokenReplaceTest.php
  core/modules/statistics/tests/src/Functional/Views/IntegrationTest.php
  core/modules/statistics/tests/src/Functional/migrate_drupal/d6/NoMultilingualReviewPageTest.php
  core/modules/statistics/tests/src/Functional/migrate_drupal/d6/UpgradeTest.php
  core/modules/statistics/tests/src/Functional/migrate_drupal/d7/NoMultilingualReviewPageTest.php
  core/modules/statistics/tests/src/Functional/migrate_drupal/d7/UpgradeTest.php
  core/modules/statistics/tests/src/Functional/search/SearchRankingTest.php
  core/modules/statistics/tests/src/FunctionalJavascript/StatisticsLoggingTest.php
  core/modules/statistics/tests/src/Kernel/Migrate/d6/MigrateNodeCounterTest.php
  core/modules/statistics/tests/src/Kernel/Migrate/d6/MigrateStatisticsConfigsTest.php
  core/modules/statistics/tests/src/Kernel/Migrate/d7/MigrateNodeCounterTest.php
  core/modules/statistics/tests/src/Kernel/Migrate/d7/MigrateStatisticsConfigsTest.php
  core/modules/statistics/tests/src/Kernel/Plugin/migrate/source/NodeCounterTest.php
  core/modules/statistics/tests/src/Unit/StatisticsViewsResultTest.php
Due: üßπ JavaScript linting (eslint)

Issue #3439925 by simonbaese, smustgrave, vensires: Fix Core tests that rely on UID1's super user behavior
  core/tests/Drupal/FunctionalTests/Theme/ClaroTest.php
  core/tests/Drupal/KernelTests/Core/Entity/RouteProviderTest.php
  core/tests/Drupal/KernelTests/Core/Render/RenderCacheTest.php
Due: none

Issue #3208390 by amateescu, s_leu, Fabianx, tim.plunkett, xjm, smustgrave, alexpott, catch, joachim, EclipseGc: Add an API for allowing modules to mark their forms as workspace-safe
  core/lib/Drupal/Core/Form/WorkspaceDynamicSafeFormInterface.php
  core/lib/Drupal/Core/Form/WorkspaceSafeFormInterface.php
  core/modules/layout_builder/src/Form/ConfigureBlockFormBase.php
  core/modules/layout_builder/src/Form/ConfigureSectionForm.php
  core/modules/layout_builder/src/Form/DiscardLayoutChangesForm.php
  core/modules/layout_builder/src/Form/LayoutBuilderDisableForm.php
  core/modules/layout_builder/src/Form/LayoutRebuildConfirmFormBase.php
  core/modules/layout_builder/src/Form/MoveBlockForm.php
  core/modules/layout_builder/src/Form/OverridesEntityForm.php
  core/modules/layout_builder/src/Form/RevertOverridesForm.php
  core/modules/layout_builder/src/Form/WorkspaceSafeFormTrait.php
  core/modules/search/src/Form/SearchBlockForm.php
  core/modules/search/src/Form/SearchPageForm.php
  core/modules/views/src/Form/ViewsExposedForm.php
  core/modules/workspaces/src/Form/SwitchToLiveForm.php
  core/modules/workspaces/src/Form/WorkspaceActivateForm.php
  core/modules/workspaces/src/Form/WorkspaceDeleteForm.php
  core/modules/workspaces/src/Form/WorkspaceForm.php
  core/modules/workspaces/src/Form/WorkspaceFormInterface.php
  core/modules/workspaces/src/Form/WorkspaceMergeForm.php
  core/modules/workspaces/src/Form/WorkspacePublishForm.php
  core/modules/workspaces/src/Form/WorkspaceSwitcherForm.php
  core/modules/workspaces/src/FormOperations.php
Due: none

Issue #3442189 by catch: Update the list of removed modules in system.install
  core/modules/system/system.install
Due: none

Issue #3441660 by longwave: [PHPUnit 10] Provide a static alternative to @dataproviders using PHPUnit mocks in MailHandlerTest
  core/modules/contact/tests/src/Unit/MailHandlerTest.php
Due: none

Issue #3440424 by alexpott: Inconsistent behaviour with drupalGet() when site is installed in a subdirectory
  core/tests/Drupal/FunctionalTests/BrowserTestBaseTest.php
  core/tests/Drupal/Tests/UiHelperTrait.php
Due: none

Issue #3442303 by mondrake: Fix return typehinting for MediaMappingsConstraintValidator::validate()
  core/modules/media/src/Plugin/Validation/Constraint/MediaMappingsConstraintValidator.php
Due: none

Issue #3442295 by mondrake: Change @dataprovider to static in YamlTestBase
  core/tests/Drupal/Tests/Component/Serialization/YamlTestBase.php
Due: none

Issue #3442176 by catch, dww: DateRangeFieldTest should not use a data provider
  core/modules/datetime_range/tests/src/Functional/DateRangeFieldTest.php
Due: none

Issue #3307519 by amateescu, Darren Oh, s_leu, catch: The toolbar workspace switcher is not redirecting to the current page
  core/modules/workspaces/src/WorkspacesLazyBuilders.php
  core/modules/workspaces/tests/src/Functional/WorkspaceSwitcherTest.php
  core/modules/workspaces/workspaces.module
  core/modules/workspaces/workspaces.services.yml
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #3438771 by amateescu, Michelle, smustgrave: Newly added menu links are invisible until published
  core/modules/workspaces/src/EntityOperations.php
  core/modules/workspaces/tests/src/Functional/WorkspaceMenuLinkContentIntegrationTest.php
  core/modules/workspaces/workspaces.module
Due: üìî Validatable config

Issue #3442286 by catch, quietone, alexpott: Deprecate shepherd.js
  core/.deprecation-ignore.txt
  core/core.libraries.yml
Due: üßπ JavaScript linting (eslint)

Issue #3442399 by catch: Remove deprecated code/bc layers from workspaces module
  core/modules/workspaces/src/Form/WorkspaceFormInterface.php
  core/modules/workspaces/src/WorkspaceAssociation.php
  core/modules/workspaces/src/WorkspaceAssociationInterface.php
  core/modules/workspaces/src/WorkspaceManager.php
  core/modules/workspaces/src/WorkspaceManagerInterface.php
  core/modules/workspaces/src/WorkspaceMerger.php
  core/modules/workspaces/src/WorkspaceOperationFactory.php
  core/modules/workspaces/src/WorkspacePublisher.php
  core/modules/workspaces/tests/src/Kernel/WorkspaceAssociationDeprecationTest.php
Due: none

Issue #3442297 by mondrake: Change @dataprovider to static in DrupalComponentTest
  core/tests/Drupal/Tests/Component/DrupalComponentTest.php
Due: none

Issue #3425294 by thhomas, longwave, saurabh rawat, quietone, mstrelan: Remove deprecations for UrlGenerator methods
  core/lib/Drupal/Core/Render/MetadataBubblingUrlGenerator.php
  core/lib/Drupal/Core/Routing/UrlGenerator.php
  core/lib/Drupal/Core/Routing/UrlGeneratorInterface.php
  core/tests/Drupal/Tests/Core/Routing/UrlGeneratorTest.php
Due: none

Issue #3442286 by catch, longwave, quietone, alexpott: Deprecate and remove shepherd.js
  core/COPYRIGHT.txt
  core/assets/vendor/shepherd/shepherd.min.js
  core/assets/vendor/shepherd/shepherd.min.js.map
  core/core.libraries.yml
  core/package.json
  core/scripts/js/vendor-update.js
  core/themes/olivero/css/components/button.css
  core/themes/olivero/css/components/button.pcss.css
  core/yarn.lock
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint)

Issue #3343153 by samit.310@gmail.com, andypost, smustgrave, alexpott: Remove deprecated code from \Drupal\Core\Url
  core/lib/Drupal/Core/Url.php
  core/tests/Drupal/Tests/Core/UrlTest.php
Due: none

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/package.json, core/yarn.lock, **/*.css
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module
