Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Unit tests PHPStan rules, üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

Path conditions:
  Unit tests PHPStan rules: any of: core/tests/PHPStan/**/*, composer/Metapackage/PinnedDevDependencies/composer.json
  üßπ JavaScript linting (eslint): any of: core/.eslint*, core/.prettier*, core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/.stylelintrc.json, core/.prettier*, core/package.json, core/yarn.lock, **/*.css
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module, **/src/Hook/*.php

fix: #2722307 Move translation based conditions into database query on revisions overview page
  core/lib/Drupal/Core/Entity/Controller/VersionHistoryController.php
  core/modules/node/src/Controller/NodeController.php
  core/modules/node/tests/src/Functional/NodeRevisionsUiTest.php
  core/modules/system/tests/modules/entity_test/src/Entity/EntityTestMulRev.php
  core/tests/Drupal/FunctionalTests/Entity/RevisionVersionHistoryTest.php
Due: none

task: #3572244 Add smustgrave as a maintainer of the Options subsystem
  core/MAINTAINERS.txt
Due: none

task: #3568888 Remove Wim Leers as maintainer for CKEditor 5, Editor, JSON:API, and REST
  core/MAINTAINERS.txt
Due: none

task: #3570570 Remove lazy declaration and proxy class for ConfigInstaller and ModuleInstaller
  core/.phpstan-baseline.php
  core/core.services.yml
  core/lib/Drupal/Core/ProxyClass/Config/ConfigInstaller.php
  core/lib/Drupal/Core/ProxyClass/Extension/ModuleInstaller.php
Due: üßπ JavaScript linting (eslint)

fix: #3568635 [random test failure] InlineBlock::testInlineBlocksRevisioning fails with TypeError in WebDriverTestBase::115
  core/modules/layout_builder/tests/src/Functional/LayoutBuilderRevisionTest.php
  core/modules/layout_builder/tests/src/FunctionalJavascript/InlineBlockTest.php
Due: none

task: #3571860 [12.x] Remove deprecated template_preprocess functions from update.module
  core/modules/update/update.module
Due: üìî Validatable config

task: #3570141 Add void return type to Symfony Console ::configure() implementations
  composer/Plugin/Scaffold/ComposerScaffoldCommand.php
  core/lib/Drupal/Core/Command/GenerateProxyClassCommand.php
  core/lib/Drupal/Core/Command/InstallCommand.php
  core/lib/Drupal/Core/Command/QuickStartCommand.php
  core/lib/Drupal/Core/Command/ServerCommand.php
  core/tests/Drupal/TestSite/Commands/TestSiteInstallCommand.php
  core/tests/Drupal/TestSite/Commands/TestSiteReleaseLocksCommand.php
  core/tests/Drupal/TestSite/Commands/TestSiteTearDownCommand.php
  core/tests/Drupal/TestSite/Commands/TestSiteUserLoginCommand.php
Due: none

fix: #3540105 Capture access cacheability in getDefaultOperations() methods for all relevant entity list builders
  core/lib/Drupal/Core/Config/Entity/ConfigEntityListBuilder.php
  core/modules/block/src/BlockListBuilder.php
  core/modules/block_content/src/BlockContentListBuilder.php
  core/modules/block_content/src/BlockContentTypeListBuilder.php
  core/modules/comment/src/CommentTypeListBuilder.php
  core/modules/config_translation/src/Controller/ConfigTranslationEntityListBuilder.php
  core/modules/field_ui/src/EntityDisplayModeListBuilder.php
  core/modules/field_ui/src/FieldConfigListBuilder.php
  core/modules/filter/src/FilterFormatListBuilder.php
  core/modules/image/src/ImageStyleListBuilder.php
  core/modules/menu_link_content/src/MenuLinkListBuilder.php
  core/modules/menu_ui/src/MenuListBuilder.php
  core/modules/node/src/NodeTypeListBuilder.php
  core/modules/responsive_image/src/ResponsiveImageStyleListBuilder.php
  core/modules/search/src/SearchPageListBuilder.php
  core/modules/shortcut/src/ShortcutSetListBuilder.php
  core/modules/system/tests/src/Kernel/Entity/EntityOperationsCacheabilityTest.php
  core/modules/taxonomy/src/VocabularyListBuilder.php
  core/modules/user/src/RoleListBuilder.php
  core/modules/user/src/UserListBuilder.php
  core/modules/views_ui/src/ViewListBuilder.php
  core/modules/workspaces_ui/src/WorkspaceListBuilder.php
Due: none

task: #3566801 Helper to check if the entity type's ID is integer
  core/lib/Drupal/Core/DefaultContent/Exporter.php
  core/lib/Drupal/Core/Entity/ContentEntityStorageBase.php
  core/lib/Drupal/Core/Entity/ContentEntityType.php
  core/lib/Drupal/Core/Entity/EntityType.php
  core/lib/Drupal/Core/Entity/EntityTypeInterface.php
  core/lib/Drupal/Core/Entity/Routing/DefaultHtmlRouteProvider.php
  core/lib/Drupal/Core/Field/Plugin/Field/FieldType/EntityReferenceItem.php
  core/modules/comment/comment.module
  core/modules/comment/src/CommentTypeForm.php
  core/modules/comment/src/Hook/CommentHooks.php
  core/modules/content_moderation/src/Entity/Routing/EntityModerationRouteProvider.php
  core/modules/jsonapi/tests/src/Functional/ResourceTestBase.php
  core/modules/layout_builder/src/Plugin/SectionStorage/OverridesSectionStorage.php
  core/modules/layout_builder/tests/src/Unit/OverridesSectionStorageTest.php
  core/modules/workspaces/src/WorkspaceTracker.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityTypedDataDefinitionTest.php
  core/tests/Drupal/Tests/Core/Config/Entity/ConfigEntityTypeTest.php
  core/tests/Drupal/Tests/Core/Entity/Routing/DefaultHtmlRouteProviderTest.php
  core/tests/Drupal/Tests/Core/Entity/Sql/SqlContentEntityStorageTest.php
Due: üìî Validatable config

task: #3571296 Remove plaintext $account->password
  core/modules/user/src/Entity/User.php
  core/modules/user/src/RegisterForm.php
  core/modules/user/tests/src/Kernel/UserEntityTest.php
Due: none

task: #3571148 Mark RevisionableStorageInterface::loadRevision as @not-deprecated
  core/lib/Drupal/Core/Entity/RevisionableStorageInterface.php
Due: none

fix: #1894286 System updates are executed without priority
  core/includes/update.inc
  core/tests/Drupal/Tests/Core/Update/UpdateOrderingTest.php
  core/tests/fixtures/test_update_ordering/test_update_ordering.php
Due: none

task: #3571095 Remove deprecated code from menu_ui and text
  core/modules/menu_ui/menu_ui.libraries.yml
  core/modules/menu_ui/src/Plugin/Menu/LocalAction/MenuLinkAdd.php
  core/modules/menu_ui/tests/modules/menu_link_add_test/menu_link_add_test.info.yml
  core/modules/menu_ui/tests/modules/menu_link_add_test/menu_link_add_test.links.action.yml
  core/modules/menu_ui/tests/src/Kernel/MenuLinkAddTest.php
  core/modules/text/text.libraries.yml
Due: üßπ JavaScript linting (eslint)

task: #3571382 Remove deprecations from Layout Builder & Layout Discovery
  core/modules/layout_builder/tests/src/FunctionalJavascript/LayoutBuilderDisableInteractionsTest.php
  core/modules/layout_discovery/layout_discovery.module
Due: üìî Validatable config

task: #3571067 [12.x] Remove hook_hook_info and support in HookCollectorPass
  core/.phpstan-baseline.php
  core/core.api.php
  core/lib/Drupal/Core/Extension/ModuleHandler.php
  core/lib/Drupal/Core/Extension/module.api.php
  core/lib/Drupal/Core/Hook/Attribute/Hook.php
  core/lib/Drupal/Core/Hook/Attribute/ProceduralHookScanStop.php
  core/lib/Drupal/Core/Hook/HookCollectorPass.php
  core/modules/system/system.module
  core/modules/system/tests/modules/module_implements_alter_test/module_implements_alter_test.implementations.inc
  core/modules/system/tests/modules/module_implements_alter_test/module_implements_alter_test.module
  core/modules/system/tests/modules/module_test/module_test.module
  core/modules/system/tests/modules/module_test/module_test.tokens.inc
  core/modules/system/tests/src/Kernel/Extension/ModuleHandlerTest.php
  core/modules/views/views.module
  core/tests/Drupal/KernelTests/Core/Extension/ModuleImplementsAlterTest.php
  core/tests/Drupal/Tests/Core/Extension/ModuleHandlerTest.php
  core/tests/Drupal/Tests/Core/Extension/modules/module_handler_test/module_handler_test.module
  core/tests/Drupal/Tests/Core/Extension/modules/module_handler_test_added/module_handler_test_added.hook.inc
  core/tests/Drupal/Tests/Core/GroupIncludesTestTrait.php
  core/tests/Drupal/Tests/Core/Hook/HookCollectorPassTest.php
Due: üìî Validatable config

task: #3570863 Deprecate _menu_link_content_update_path_alias
  core/modules/menu_link_content/menu_link_content.module
  core/modules/menu_link_content/src/Hook/MenuLinkContentHooks.php
Due: üìî Validatable config

fix: #2982853 Menu settings and path alias details should be closed even with values
  core/modules/menu_ui/src/Hook/MenuUiHooks.php
  core/modules/menu_ui/tests/src/Functional/MenuUiNodeTest.php
  core/modules/path/src/Plugin/Field/FieldWidget/PathWidget.php
  core/modules/path/tests/src/Functional/PathAliasTest.php
Due: üìî Validatable config

task: #3497124 Deprecate expectDeprecation(), use PHPUnit's expectUserDeprecationMessage*() instead
  core/.deprecation-ignore.txt
  core/.phpstan-baseline.php
  core/modules/migrate/tests/src/Unit/Exception/MigrateSkipProcessExceptionTest.php
  core/modules/views/tests/src/Unit/ViewsTest.php
  core/tests/Drupal/BuildTests/Framework/BuildTestBase.php
  core/tests/Drupal/FunctionalJavascriptTests/DrupalSelenium2Driver.php
  core/tests/Drupal/FunctionalJavascriptTests/WebDriverTestBase.php
  core/tests/Drupal/KernelTests/KernelTestBase.php
  core/tests/Drupal/TestTools/ErrorHandler/BootstrapErrorHandler.php
  core/tests/Drupal/TestTools/ErrorHandler/TestErrorHandler.php
  core/tests/Drupal/TestTools/Extension/DeprecationBridge/DeprecationHandler.php
  core/tests/Drupal/TestTools/Extension/DeprecationBridge/ExpectDeprecationTrait.php
  core/tests/Drupal/Tests/BrowserTestBase.php
  core/tests/Drupal/Tests/Component/Assertion/InspectorTest.php
  core/tests/Drupal/Tests/Component/DependencyInjection/ContainerTest.php
  core/tests/Drupal/Tests/Component/DependencyInjection/Dumper/OptimizedPhpArrayDumperTest.php
  core/tests/Drupal/Tests/Component/PhpStorage/FileStorageReadOnlyTest.php
  core/tests/Drupal/Tests/Component/PhpStorage/FileStorageTest.php
  core/tests/Drupal/Tests/Component/Render/FormattableMarkupTest.php
  core/tests/Drupal/Tests/Component/Utility/BytesTest.php
  core/tests/Drupal/Tests/Component/Utility/NumberTest.php
  core/tests/Drupal/Tests/Component/Utility/UnicodeTest.php
  core/tests/Drupal/Tests/Core/Ajax/AjaxCommandsTest.php
  core/tests/Drupal/Tests/Core/Entity/Routing/DefaultHtmlRouteProviderTest.php
  core/tests/Drupal/Tests/Core/EventSubscriber/CustomPageExceptionHtmlSubscriberTest.php
  core/tests/Drupal/Tests/Core/Form/FormTestBase.php
  core/tests/Drupal/Tests/Core/Test/PhpUnitBridgeIsolatedTest.php
  core/tests/Drupal/Tests/Core/Test/PhpUnitBridgeTest.php
  core/tests/Drupal/Tests/DrupalTestCaseTrait.php
  core/tests/Drupal/Tests/ExpectDeprecationTest.php
  core/tests/Drupal/Tests/UnitTestCase.php
Due: none

test: #3497124 followup to fix WebDriverTestBaseTest.
  core/tests/Drupal/Tests/Core/Test/WebDriverTestBaseTest.php
Due: none

task: #3560118 In Umami, replace Toolbar with Navigation
  core/profiles/demo_umami/config/install/user.role.author.yml
  core/profiles/demo_umami/config/install/user.role.editor.yml
  core/profiles/demo_umami/demo_umami.info.yml
  core/profiles/demo_umami/tests/src/Functional/DemoUmamiProfileTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/AssetAggregationAcrossPagesTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryFrontPagePerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryNodePagePerformanceTest.php
Due: üßπ JavaScript linting (eslint)

fix: #3573856 SiteConfigureForm properties need to be reset after module install in submitForm()
  core/lib/Drupal/Core/Installer/Form/SiteConfigureForm.php
  core/profiles/tests/testing_site_config/src/Hook/TestingSiteConfigHooks.php
  core/tests/Drupal/FunctionalTests/Installer/InstallerSiteConfigProfileTest.php
Due: üìî Validatable config
