Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

üßπ JavaScript linting (eslint):
  needs:
  - üì¶Ô∏è Yarn
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - cd core
  - corepack enable
  - yarn run check:ckeditor5
  - yarn run lint:core-js-passing --format gitlab
  artifacts:
    reports:
      codequality: eslint-quality-report.json

üßπ CSS linting (stylelint):
  needs:
  - üì¶Ô∏è Yarn
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - corepack enable
  - cd core
  - yarn run build:css --check
  - yarn run lint:css --color --custom-formatter=node_modules/stylelint-formatter-gitlab
  artifacts:
    reports:
      codequality: stylelint-quality-report.json

üìî Validatable config:
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  artifacts:
    expire_in: 1 week
    expose_as: validatable-config
    paths:
    - HEAD.json
    - MR.json
  allow_failure:
    exit_codes:
    - 100
    - 101
    - 1
  script:
  - git checkout -f $CI_MERGE_REQUEST_DIFF_BASE_SHA
  ...

Issue #3504204 by murz: Nightwatch command drupalInstall doesn't set the user_agent environment variable with the simpletest site instance
  core/tests/Drupal/Nightwatch/Commands/drupalInstall.js
Due: üßπ JavaScript linting (eslint)

Drupal 11.1.6
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: none

Back to dev.
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: none

Drupal 10.4.6
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: none

Issue #3516954 by maxwhitehead, fjgarlin: CI: Switch drupalci image registry from dockerhub to gitlab.com (mitigate rate limit errors)
  .gitlab-ci.yml
Due: üßπ JavaScript linting (eslint)

Issue #3493958 by jquijano, kim.pepper, dcam, adwivedi008: Remove File token hook dead code
  core/modules/file/src/Hook/TokenHooks.php
Due: none

Issue #3515406 by adwivedi008, kwame-acquah, alison: Wrong return type in Xss::attributes() docblock
  core/lib/Drupal/Component/Utility/Xss.php
Due: none

Issue #3501457 by the_g_bomb, smustgrave: Incorrect path used in a A11y Test Admin
  core/tests/Drupal/Nightwatch/Tests/a11yTestAdmin.js
Due: üßπ JavaScript linting (eslint)

Issue #3485202 by rkoller, oily, mgifford, smustgrave: Change the element wrapping the title in dialogs from span to heading element
  core/misc/dialog/dialog.js
  core/tests/Drupal/FunctionalJavascriptTests/Ajax/DialogTest.php
  core/themes/claro/css/components/dialog.css
  core/themes/claro/css/components/dialog.pcss.css
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint)

Issue #3449181 by mxr576, morvaim, larowlan, quietone, smustgrave, lendude, benjifisher: The Content overview page filters out unpublished nodes when a node access module is enabled
  core/modules/node/node.install
  core/modules/node/src/NodeViewsData.php
  core/modules/node/src/Plugin/views/filter/Status.php
  core/modules/node/tests/src/Functional/NodeAdminTest.php
  core/modules/node/tests/src/Functional/Views/StatusExtraTest.php
  core/modules/node/tests/src/Kernel/NodeRequirementsStatusFilterWarningTest.php
Due: none

Issue #3517317 by penyaskito, larowlan: SDC slots not being validated against json config schema
  core/assets/schemas/v1/metadata-full.schema.json
  core/assets/schemas/v1/metadata.schema.json
  core/tests/Drupal/Tests/Core/Theme/Component/ComponentValidatorTest.php
Due: none

Issue #3176386 by tom konda, bnjmnm: Replace Array.prototype.forEach.call usages that aren't needed
  core/misc/message.js
  core/modules/layout_builder/js/layout-builder.js
Due: üßπ JavaScript linting (eslint)

Issue #3460979 by finnsky, smustgrave, nod_, catch: Reduce jQuery usage in dialog.ajax.js
  core/misc/dialog/dialog-deprecation.js
  core/misc/dialog/dialog.ajax.js
  core/modules/views_ui/js/views-admin.js
  core/tests/Drupal/Nightwatch/Tests/dialogDeprecations.js
Due: üßπ JavaScript linting (eslint)

Issue #3029729 by quietone, longwave, smustgrave, gábor hojtsy, nod_: Restore documentation on variable arguments in Drupal\Core\Database\Query\AlterableInterface::hasAllTags() and hasAnyTag()
  core/.deprecation-ignore.txt
  core/lib/Drupal/Core/Database/Query/AlterableInterface.php
Due: none

Issue #3514748 by catch: Remove legacy browser support from js.module.css
  core/modules/system/css/components/js.module.css
Due: üßπ CSS linting (stylelint)

Issue #3484038 by quietone: [meta] Fix Drupal.Commenting.FunctionComment.MissingReturnComment
  core/modules/layout_builder/src/Element/LayoutBuilder.php
  core/phpcs.xml.dist
Due: none

Issue #3513443 by tom konda, smustgrave: Loose checking for calling JavaScript theme function
  core/misc/drupal.js
Due: üßπ JavaScript linting (eslint)

Issue #3517070 by bbrala: Remove system.file.path config from system.schema.yml
  core/modules/system/config/schema/system.schema.yml
  core/modules/system/system.post_update.php
  core/modules/system/tests/src/Functional/Update/RemovePathKeyTest.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #2980952 by dcam, arunkumark, tanuj., guypaddock, Yogesh Sahu, aaronmchale, smustgrave: Wrong message on cancelling account with e-mail confirmation request
  core/modules/user/src/Form/UserCancelForm.php
  core/modules/user/tests/src/Functional/UserCancelTest.php
Due: none

Issue #3515188 by ishani patel, smustgrave: Wrong type for $project argument in locale.batch.inc functions
  core/modules/locale/locale.batch.inc
Due: none

Issue #3514780 by quietone: Fix Drupal.Commenting.FunctionComment.Missing in KernelTests tests
  core/phpcs.xml.dist
  core/tests/Drupal/KernelTests/Core/Cache/BackendChainTest.php
  core/tests/Drupal/KernelTests/Core/Cache/DatabaseBackendTagTest.php
  core/tests/Drupal/KernelTests/Core/Config/ConfigEntityNormalizeTest.php
  core/tests/Drupal/KernelTests/Core/Config/ConfigImportRecreateTest.php
  core/tests/Drupal/KernelTests/Core/Config/ConfigModuleOverridesTest.php
  core/tests/Drupal/KernelTests/Core/Config/ConfigOverridesPriorityTest.php
  core/tests/Drupal/KernelTests/Core/Config/ConfigSchemaTest.php
  core/tests/Drupal/KernelTests/Core/Config/MailerDsnConfigValidationTest.php
  core/tests/Drupal/KernelTests/Core/Config/SchemaCheckTraitTest.php
  core/tests/Drupal/KernelTests/Core/Config/SimpleConfigValidationTest.php
  core/tests/Drupal/KernelTests/Core/Config/Storage/Checkpoint/CheckpointStorageTest.php
  core/tests/Drupal/KernelTests/Core/Config/Storage/ConfigStorageTestBase.php
  core/tests/Drupal/KernelTests/Core/Config/Storage/DatabaseStorageTest.php
  core/tests/Drupal/KernelTests/Core/Config/Storage/FileStorageTest.php
  core/tests/Drupal/KernelTests/Core/DefaultContent/AdminAccountSwitcherTest.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityAccessControlHandlerTest.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityHasFieldConstraintValidatorTest.php
  core/tests/Drupal/KernelTests/Core/Entity/RouteProviderTest.php
  core/tests/Drupal/KernelTests/Core/EventSubscriber/ExceptionLoggingSubscriberTest.php
  core/tests/Drupal/KernelTests/Core/File/UrlTransformRelativeTest.php
  core/tests/Drupal/KernelTests/Core/Layout/IconBuilderTest.php
  core/tests/Drupal/KernelTests/Core/Path/PathValidatorTest.php
  core/tests/Drupal/KernelTests/Core/Path/UrlAlterTest.php
  core/tests/Drupal/KernelTests/Core/Recipe/ConfigConfiguratorTest.php
  core/tests/Drupal/KernelTests/Core/Recipe/EntityMethodConfigActionsTest.php
  core/tests/Drupal/KernelTests/Core/Recipe/InputTest.php
  core/tests/Drupal/KernelTests/Core/Recipe/InstallConfiguratorTest.php
  core/tests/Drupal/KernelTests/Core/Recipe/RecipeConfiguratorTest.php
  core/tests/Drupal/KernelTests/Core/Recipe/RecipeEventsTest.php
  core/tests/Drupal/KernelTests/Core/Recipe/RecipeRunnerTest.php
  core/tests/Drupal/KernelTests/Core/Recipe/RecipeTest.php
  core/tests/Drupal/KernelTests/Core/Render/Element/ActionsTest.php
  core/tests/Drupal/KernelTests/Core/Routing/RouteProviderTest.php
  core/tests/Drupal/KernelTests/Core/Session/AccountSwitcherTest.php
  core/tests/Drupal/KernelTests/Core/Test/PhpUnitBridgeTest.php
  core/tests/Drupal/KernelTests/RequestProcessing/RedirectOnExceptionTest.php
Due: none

Issue #3516359 by larowlan, smustgrave, longwave, lauriii, wim leers, mstrelan: ComponentValidator ignores the set validator and creates a new one
  core/lib/Drupal/Core/Theme/Component/ComponentValidator.php
  core/tests/Drupal/Tests/Core/Theme/Component/ComponentValidatorTest.php
Due: none

Issue #3512254 by sayan_k_dutta, catch, smustgrave: Deprecate #type fieldgroup
  core/lib/Drupal/Core/Installer/Form/SiteConfigureForm.php
  core/lib/Drupal/Core/Render/Element/Fieldgroup.php
Due: none

Issue #3151097 by quietone, nod_, deepakaryan1988, smustgrave, alexpott, tinarey: Replace use of whitelist/blacklist in core/misc/autocomplete.js and LinkWidget.php
  core/misc/autocomplete.js
  core/modules/link/src/Plugin/Field/FieldWidget/LinkWidget.php
  core/modules/navigation/src/Plugin/Block/NavigationLinkBlock.php
  core/modules/system/tests/modules/form_test/src/FormTestAutocompleteForm.php
  core/tests/Drupal/Nightwatch/Tests/claroAutocompleteTest.js
Due: üßπ JavaScript linting (eslint)

Issue #3493617 by mogtofu33: Add mogtofu33 as a SDC and new theme system's Icon API maintainer
  core/MAINTAINERS.txt
Due: none

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/package.json, core/yarn.lock, **/*.css
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module
