Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üìã PHPUnit Unit (PHPStan rules), üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üì¶ Yarn install on minimum Node.js version

üìã PHPUnit Unit (PHPStan rules):
  stage: ‚ö°Ô∏è Tests
  needs: []
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - docker-php-ext-enable pcov
  - cd core/tests/PHPStan
  - composer install
  - vendor/bin/phpunit tests --testdox --coverage-text --colors=always --coverage-cobertura=coverage.cobertura.xml --log-junit junit.xml
  artifacts:
  ...

üßπ JavaScript linting (eslint):
  before_script:
  - cd core
  - corepack enable
  - yarn install
  - cd ..
  cache:
    key:
    - .yarn-install-from-cache
    - cache
    - key
    paths:
    - .yarn-install-from-cache
    - cache
    - paths
    policy: pull-push
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
    CACHE_FILE: core/.eslintcache
  ...

üßπ CSS linting (stylelint):
  before_script:
  - cd core
  - corepack enable
  - yarn install
  - cd ..
  cache:
    key:
      files:
      - ./core/package.json
      - ./core/yarn.lock
    paths:
    - ./core/.yarn/cache
    policy: pull
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
    CACHE_FILE: core/.stylelintcache
  script:
  ...

üì¶ Yarn install on minimum Node.js version:
  stage: ü™Ñ Lint
  image: node:20
  variables:
    KUBERNETES_CPU_REQUEST: '1'
  script:
  - cd core
  - corepack enable
  - echo -e "Node version $(node --version)\nYarn version $(corepack yarn --version)"
  - yarn install

task: #3584238 Deprecate implicit commit-on-destruct
  core/.phpstan-baseline.php
  core/lib/Drupal/Core/Database/Connection.php
  core/lib/Drupal/Core/Database/Database.php
  core/lib/Drupal/Core/Database/Transaction.php
  core/lib/Drupal/Core/Database/Transaction/TransactionManagerBase.php
  core/lib/Drupal/Core/Database/database.api.php
  core/lib/Drupal/Core/Entity/Sql/SqlContentEntityStorage.php
  core/tests/Drupal/KernelTests/Core/Database/DriverSpecificTransactionTestBase.php
  core/tests/Drupal/KernelTests/Core/Database/TransactionTest.php
Due: none

task: #3612413 Workspaces tests use createNodeThroughUi excessively
  core/modules/workspaces/tests/src/Functional/WorkspaceBypassTest.php
  core/modules/workspaces/tests/src/Functional/WorkspaceConcurrentEditingTest.php
  core/modules/workspaces/tests/src/Functional/WorkspaceEntityDeleteTest.php
  core/modules/workspaces/tests/src/Functional/WorkspaceTest.php
Due: none

task: #3560920 Start unit tests after lint jobs in gitlab CI
  .gitlab-ci.yml
Due: üßπ JavaScript linting (eslint)

task: #3613063 Consolidate methods in WorkspaceTest
  core/modules/workspaces/tests/src/Functional/WorkspaceTest.php
Due: none

task: #3612409 Split ComposerPatchesValidatorTest in two
  core/modules/package_manager/tests/src/Kernel/ComposerPatchesValidatorPreCreateTest.php
  core/modules/package_manager/tests/src/Kernel/ComposerPatchesValidatorTest.php
Due: none

fix: #3600777 Redirects can be used to bypass AJAX trusted URLs
  core/misc/ajax.js
  core/modules/system/tests/modules/ajax_test/ajax_test.routing.yml
  core/modules/system/tests/modules/ajax_test/src/Controller/AjaxTestController.php
  core/tests/Drupal/FunctionalJavascriptTests/Ajax/AjaxTest.php
Due: üßπ JavaScript linting (eslint)

task: #3593472 Insecure Direct Object Reference in Private File Uploads
  core/modules/file/src/Element/ManagedFile.php
  core/modules/file/tests/src/Functional/ManagedFileFidValidationTest.php
  core/modules/image/tests/src/Functional/ImageFieldDefaultImagesTest.php
Due: none

fix: #3595497 Collapsed Details Element causes JS Error for required textarea and select fields
  core/.phpstan-baseline.php
  core/misc/details.js
  core/modules/system/tests/modules/form_test/form_test.routing.yml
  core/modules/system/tests/modules/form_test/src/Form/FormTestDetailsContainsRequiredFieldsForm.php
  core/tests/Drupal/FunctionalJavascriptTests/Core/Form/FormGroupingElementsTest.php
Due: üßπ JavaScript linting (eslint)

task: #3613243 Convert block.module routes to attributes
  core/modules/block/block.routing.yml
  core/modules/block/src/Controller/BlockAddController.php
  core/modules/block/src/Controller/BlockController.php
  core/modules/block/src/Controller/BlockLibraryController.php
  core/modules/block/src/Controller/BlockListController.php
  core/modules/block/src/Controller/CategoryAutocompleteController.php
Due: üßπ JavaScript linting (eslint)

test: #3480051 Add return typehints to file test methods
  core/.deprecation-ignore.txt
  core/.phpstan-baseline.php
  core/modules/file/tests/file_test/src/Form/FileTestSaveUploadFromForm.php
  core/modules/file/tests/file_test/src/StreamWrapper/DummyReadOnlyStreamWrapper.php
  core/modules/file/tests/file_test/src/StreamWrapper/DummyStreamWrapper.php
  core/modules/file/tests/src/Functional/FileFieldTestBase.php
  core/modules/file/tests/src/Functional/FileManagedTestBase.php
  core/modules/file/tests/src/Functional/Rest/FileResourceTestBase.php
  core/modules/file/tests/src/Kernel/FileManagedUnitTestBase.php
Due: none

task: #3592112 Fix usage of with*() without expects() in mocks - round 2
  core/modules/language/tests/src/Unit/ContentLanguageSettingsUnitTest.php
  core/modules/views/tests/src/Unit/Controller/ViewAjaxControllerTest.php
  core/tests/Drupal/Tests/Core/Asset/CssOptimizerUnitTest.php
  core/tests/Drupal/Tests/Core/Entity/BaseFieldDefinitionTest.php
  core/tests/Drupal/Tests/Core/Entity/ContentEntityBaseUnitTest.php
  core/tests/Drupal/Tests/Core/Entity/EntityUrlTest.php
  core/tests/Drupal/Tests/Core/Entity/KeyValueStore/KeyValueEntityStorageTest.php
  core/tests/Drupal/Tests/Core/Language/LanguageUnitTest.php
  core/tests/Drupal/Tests/Core/Menu/MenuActiveTrailTest.php
  core/tests/Drupal/Tests/Core/ParamConverter/EntityConverterTest.php
  core/tests/Drupal/Tests/Core/ParamConverter/ParamConverterManagerTest.php
  core/tests/Drupal/Tests/Core/Recipe/RecipeConfigStorageWrapperTest.php
Due: none

task: #3612172 Merge Umami performance tests
  core/profiles/demo_umami/tests/src/FunctionalJavascript/AssetAggregationAcrossPagesTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryAuthenticatedPerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryFrontPagePerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryPerformanceTest.php
Due: none

fix: #3441061 ListItemBase::storageSettingsForm() 'allowed_values' form element is missing a #type
  core/modules/options/src/Plugin/Field/FieldType/ListItemBase.php
Due: none

refactor: #3562477 Drop support for justinrainbow/json-schema:^5
  core/lib/Drupal/Core/Theme/Component/ComponentValidator.php
  core/modules/jsonapi/tests/modules/jsonapi_response_validator/src/EventSubscriber/ResourceResponseValidator.php
Due: none

test: #3614142 Skip SettingsTrayBlockFormTest::testBlocks() on 11.x
  core/modules/settings_tray/tests/src/FunctionalJavascript/SettingsTrayBlockFormTest.php
Due: none

ci: #3601321 Allow all modern CSS units in our stylelint
  core/.stylelintrc.json
Due: üßπ CSS linting (stylelint)

task: #3607968 Promote defaults._title to top level in route attributes
  core/lib/Drupal/Core/Controller/TitleResolver.php
  core/lib/Drupal/Core/Routing/Attribute/Route.php
  core/lib/Drupal/Core/Routing/AttributeRouteDiscovery.php
  core/modules/block_content/block_content.routing.yml
  core/modules/block_content/src/Controller/BlockContentController.php
  core/modules/block_content/tests/src/Functional/BlockContentTypeTest.php
  core/modules/system/src/Controller/AdminController.php
  core/modules/system/src/Controller/Http4xxController.php
  core/modules/system/src/Controller/PerformanceController.php
  core/modules/system/src/Controller/SystemController.php
  core/modules/system/src/Controller/SystemInfoController.php
  core/modules/system/src/Controller/ThemeController.php
  core/modules/system/src/Form/SiteInformationForm.php
  core/modules/system/tests/modules/router_test_directory/src/Controller/TestAttributes.php
  core/tests/Drupal/KernelTests/Core/Routing/TitleClosureTest.php
  core/tests/Drupal/Tests/Core/Controller/TitleResolverTest.php
  core/tests/Drupal/Tests/Core/Routing/AttributeRouteDiscoveryTest.php
Due: üßπ JavaScript linting (eslint)

task: #3515403 Update to selenium/standalone-chrome:133
  .gitlab-ci.yml
  core/modules/ckeditor5/tests/src/FunctionalJavascript/CKEditor5AllowedTagsTest.php
  core/modules/ckeditor5/tests/src/FunctionalJavascript/CKEditor5Test.php
  core/modules/ckeditor5/tests/src/FunctionalJavascript/ImageTestProviderTrait.php
  core/modules/layout_builder/tests/src/FunctionalJavascript/LayoutBuilderDisableInteractionsTest.php
  core/tests/Drupal/FunctionalJavascriptTests/BrowserWithJavascriptTest.php
  core/tests/Drupal/Nightwatch/Commands/drupalCreateRole.js
  core/themes/olivero/js/second-level-navigation.js
Due: üßπ JavaScript linting (eslint)

fix: #3600904 Shipped configuration entities that do not have translatable elements are not set to the site default langcode
  core/lib/Drupal/Core/Config/Plugin/Validation/Constraint/LangcodeRequiredIfTranslatableValuesConstraint.php
  core/lib/Drupal/Core/Config/Plugin/Validation/Constraint/LangcodeRequiredIfTranslatableValuesConstraintValidator.php
  core/modules/locale/src/LocaleConfigManager.php
  core/tests/Drupal/FunctionalTests/Installer/InstallerTranslationMultipleLanguageTest.php
Due: none

Revert "task: #3607968 Promote defaults._title to top level in route attributes"
  core/lib/Drupal/Core/Controller/TitleResolver.php
  core/lib/Drupal/Core/Routing/Attribute/Route.php
  core/lib/Drupal/Core/Routing/AttributeRouteDiscovery.php
  core/modules/block_content/block_content.routing.yml
  core/modules/block_content/src/Controller/BlockContentController.php
  core/modules/block_content/tests/src/Functional/BlockContentTypeTest.php
  core/modules/system/src/Controller/AdminController.php
  core/modules/system/src/Controller/Http4xxController.php
  core/modules/system/src/Controller/PerformanceController.php
  core/modules/system/src/Controller/SystemController.php
  core/modules/system/src/Controller/SystemInfoController.php
  core/modules/system/src/Controller/ThemeController.php
  core/modules/system/src/Form/SiteInformationForm.php
  core/modules/system/tests/modules/router_test_directory/src/Controller/TestAttributes.php
  core/tests/Drupal/KernelTests/Core/Routing/TitleClosureTest.php
  core/tests/Drupal/Tests/Core/Controller/TitleResolverTest.php
  core/tests/Drupal/Tests/Core/Routing/AttributeRouteDiscoveryTest.php
Due: üßπ JavaScript linting (eslint)

Revert "task: #3588584 run-tests.sh - move suite determination from WorkAllocator to PhpUnitTestDiscovery"
  core/tests/Drupal/TestTools/TestRunner/WorkAllocator.php
  core/tests/fixtures/test_runner/work_allocator/complex_in.json
  core/tests/fixtures/test_runner/work_allocator/complex_two_of_eight_out.json
  core/tests/fixtures/test_runner/work_allocator/simple_in.json
  core/tests/fixtures/test_runner/work_allocator/simple_one_of_two_out.json
  core/tests/fixtures/test_runner/work_allocator/simple_out.json
Due: none

fix: #3614445 [random test failure] CKEditor5MarkupTest::testStylesAndScripts
  core/modules/ckeditor5/tests/src/FunctionalJavascript/CKEditor5MarkupTest.php
Due: none

task: #3581218 Deprecate .theme file extension
  core/lib/Drupal/Core/Extension/Theme.php
  core/lib/Drupal/Core/Extension/ThemeHandlerInterface.php
  core/lib/Drupal/Core/Hook/Attribute/ExtensionFileIsConverted.php
  core/lib/Drupal/Core/Hook/ThemeHookCollectorPass.php
  core/lib/Drupal/Core/Render/theme.api.php
  core/lib/Drupal/Core/Theme/ThemeManagerInterface.php
  core/modules/system/tests/src/Kernel/Theme/ThemeDeprecationTest.php
  core/modules/system/tests/themes/HookCollector/procedural_hook_theme/procedural_hook_theme.theme
  core/modules/system/tests/themes/HookCollector/test_theme_discovery_deprecation/test_theme_discovery_deprecation.info.yml
  core/modules/system/tests/themes/HookCollector/test_theme_discovery_deprecation/test_theme_discovery_deprecation.theme
  core/tests/Drupal/BuildTests/Command/GenerateThemeTest.php
  core/tests/Drupal/KernelTests/Core/Hook/ThemeHookCollectorPassTest.php
Due: üßπ JavaScript linting (eslint)

Path conditions:
  üìã PHPUnit Unit (PHPStan rules): any of: core/tests/PHPStan/**/*, composer/Metapackage/PinnedDevDependencies/composer.json
  üßπ JavaScript linting (eslint): any of: core/.eslint*, core/.prettier*, core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/.stylelintrc.json, core/.prettier*, core/package.json, core/yarn.lock, **/*.css
  üì¶ Yarn install on minimum Node.js version: any of: core/package.json, core/yarn.lock
