Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üìã PHPUnit Unit (PHPStan rules), üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üì¶ Yarn install on minimum Node.js version

Path conditions:
  üìã PHPUnit Unit (PHPStan rules): any of: core/tests/PHPStan/**/*, composer/Metapackage/PinnedDevDependencies/composer.json
  üßπ JavaScript linting (eslint): any of: core/.eslint*, core/.prettier*, core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/.stylelintrc.json, core/.prettier*, core/package.json, core/yarn.lock, **/*.css
  üì¶ Yarn install on minimum Node.js version: any of: core/package.json, core/yarn.lock

task: #3607216 Add GitLab user names to MAINTAINERS.txt
  core/MAINTAINERS.txt
Due: none

fix: #3611594 [regression] Recursion detected when merging duplicate #attached page_top/page_bottom attachments on node preview
  core/lib/Drupal/Core/Render/BubbleableMetadata.php
  core/tests/Drupal/Tests/Core/Render/BubbleableMetadataTest.php
Due: none

task: #3612932 Optimize build tests
  core/modules/package_manager/tests/src/Build/TemplateProjectTestBase.php
  core/tests/Drupal/BuildTests/Framework/BuildTestBase.php
Due: none

task: #3615570 Optimize GenericModuleTestBase
  core/modules/system/tests/src/Functional/Module/GenericModuleTestBase.php
Due: none

task: #3517430 Add an attribute for skipping PHPUnit tests
  core/modules/editor/tests/src/Kernel/EditorValidationTest.php
  core/tests/Drupal/TestTools/Attribute/Skip.php
  core/tests/Drupal/Tests/Core/Site/SettingsTest.php
  core/tests/Drupal/Tests/DrupalTestCase.php
Due: none

task: #3587565 Static cache entities that aren't loaded
  core/lib/Drupal/Core/Entity/EntityStorageBase.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryPerformanceTest.php
  core/tests/Drupal/Tests/Core/Entity/Sql/SqlContentEntityStorageTest.php
Due: none

task: #3614948 Remove use of Shortcut from BigPipePlaceholderTestCases
  core/modules/big_pipe/tests/modules/big_pipe_test/src/BigPipePlaceholderTestCases.php
  core/modules/big_pipe/tests/src/Functional/BigPipeTest.php
Due: none

task: #3611351 Remove use of search module from tests
  core/modules/layout_builder/tests/src/FunctionalJavascript/LayoutBuilderDisableInteractionsTest.php
  core/modules/search/tests/modules/search_test_views/search_test_views.info.yml
  core/modules/search/tests/modules/search_test_views/test_views/views.view.test_search.yml
  core/modules/search/tests/src/Functional/views/ViewsIntegrationTest.php
  core/modules/search/tests/src/Functional/views/ViewsMultilingualTest.php
  core/modules/settings_tray/tests/src/FunctionalJavascript/SettingsTrayBlockFormTest.php
  core/modules/toolbar/tests/src/Functional/ToolbarAdminMenuTest.php
  core/modules/views/tests/modules/views_test_config/test_views/views.view.test_argument_dependency.yml
  core/modules/views/tests/src/Kernel/Entity/ViewEntityDependenciesTest.php
  core/modules/views/tests/src/Kernel/TestViewsTest.php
  core/modules/views/tests/src/Kernel/ViewExecutableTest.php
  core/tests/Drupal/KernelTests/Core/Recipe/RecipeTest.php
Due: üßπ JavaScript linting (eslint)

task: #3611762 Move toolbar hook implementations to the toolbar module
  core/modules/announcements_feed/src/Hook/AnnouncementsFeedToolbarHooks.php
  core/modules/contextual/src/Hook/ContextualHooks.php
  core/modules/toolbar/src/Hook/ToolbarHooks.php
  core/modules/user/src/Hook/UserHooks.php
  core/modules/workspaces_ui/src/Hook/WorkspacesUiHooks.php
  core/profiles/demo_umami/src/Hook/DemoUmamiHooks.php
Due: none

task: #3614340 Update to Twig 3.28
  composer.lock
  core/composer.json
  core/lib/Drupal/Core/Template/TwigSandboxPolicy.php
Due: none

task: #3517430 Add an attribute for skipping PHPUnit tests
  core/modules/editor/tests/src/Kernel/EditorValidationTest.php
  core/tests/Drupal/Tests/DrupalTestCaseTrait.php
Due: none

task: #3517430 Add missing Skip attribute.
  core/tests/Drupal/TestTools/Attribute/Skip.php
Due: none

fix: #3587995 Default admin theme settings form color pickers missing accessible names
  core/themes/default_admin/src/Settings.php
Due: none

task: #3614996 Remove/move/update search mentions in api.php files
  core/core.api.php
  core/lib/Drupal/Core/Entity/entity.api.php
  core/lib/Drupal/Core/Render/theme.api.php
  core/modules/node/node.api.php
  core/modules/search/modules/search_node/search_node.api.php
Due: none

fix: #3607794 Potential XSS in jquery.form.js
  core/misc/jquery.form.js
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryPerformanceTest.php
Due: üßπ JavaScript linting (eslint)

task: #2171397 Deprecate remaining options.module functions
  core/includes/bootstrap.inc
  core/modules/field/field.api.php
  core/modules/options/options.api.php
  core/modules/options/options.module
  core/modules/options/options.services.yml
  core/modules/options/src/Hook/OptionsHooks.php
  core/modules/options/src/OptionsAllowedValues.php
  core/modules/options/src/OptionsAllowedValuesInterface.php
  core/modules/options/src/Plugin/Field/FieldType/ListItemBase.php
  core/modules/options/src/Plugin/views/argument/NumberListField.php
  core/modules/options/src/Plugin/views/argument/StringListField.php
  core/modules/options/src/Plugin/views/filter/ListField.php
  core/modules/options/tests/options_test/src/OptionsAllowedValues.php
  core/modules/options/tests/src/Kernel/OptionsAllowedValuesTest.php
  core/modules/options/tests/src/Kernel/OptionsDynamicValuesApiTest.php
Due: üßπ JavaScript linting (eslint)

fix: #3608172 Claro table cells should have minimum height
  core/themes/claro/css/components/tables.css
  core/themes/claro/css/components/tables.pcss.css
Due: üßπ CSS linting (stylelint)

task: #3615138 Add mstrelan to the core leadership team as a provisional general committer
  core/MAINTAINERS.txt
Due: none

test: #3611749 Remove toolbar from tests where it is not needed
  core/modules/announcements_feed/tests/src/Functional/AnnouncementsCacheTest.php
  core/modules/announcements_feed/tests/src/Kernel/AnnounceFetcherUserTest.php
  core/modules/config_translation/tests/src/Functional/ConfigTranslationListUiTest.php
  core/modules/shortcut/tests/src/Functional/ConfigTranslationListUiTest.php
  core/modules/shortcut/tests/src/Kernel/ShortcutCacheTagsTest.php
  core/modules/system/tests/src/Functional/Menu/MenuAccessTest.php
  core/modules/views_ui/tests/src/Functional/DisplayPathTest.php
Due: none

fix: #3587678 Ensure status message ARIA landmarks are unique
  core/modules/big_pipe/tests/modules/big_pipe_test/src/BigPipePlaceholderTestCases.php
  core/modules/system/templates/status-messages.html.twig
  core/modules/system/tests/src/Functional/Form/ModulesListFormWebTest.php
  core/modules/system/tests/src/Functional/Render/PlaceholderMessageTest.php
  core/modules/system/tests/themes/test_messages/templates/status-messages.html.twig
  core/profiles/demo_umami/themes/umami/templates/components/messages/status-messages.html.twig
  core/themes/claro/templates/misc/status-messages.html.twig
  core/themes/default_admin/templates/misc/status-messages.html.twig
  core/themes/olivero/templates/misc/status-messages.html.twig
  core/themes/starterkit_theme/templates/misc/status-messages.html.twig
Due: none

task: #3581218 Deprecate .theme file extension
  core/lib/Drupal/Core/Extension/Theme.php
  core/lib/Drupal/Core/Extension/ThemeHandlerInterface.php
  core/lib/Drupal/Core/Hook/Attribute/ExtensionFileIsConverted.php
  core/lib/Drupal/Core/Hook/ThemeHookCollectorPass.php
  core/lib/Drupal/Core/Render/theme.api.php
  core/lib/Drupal/Core/Theme/ThemeManagerInterface.php
  core/modules/system/tests/src/Kernel/Theme/ThemeDeprecationTest.php
  core/modules/system/tests/themes/HookCollector/procedural_hook_theme/procedural_hook_theme.theme
  core/modules/system/tests/themes/HookCollector/test_theme_discovery_deprecation/test_theme_discovery_deprecation.info.yml
  core/modules/system/tests/themes/HookCollector/test_theme_discovery_deprecation/test_theme_discovery_deprecation.theme
  core/modules/system/tests/themes/test_installer_theme/test_installer_theme.theme
  core/modules/views/tests/themes/views_test_checkboxes_theme/views_test_checkboxes_theme.theme
  core/tests/Drupal/BuildTests/Command/GenerateThemeTest.php
  core/tests/Drupal/KernelTests/Core/Hook/ThemeHookCollectorPassTest.php
  core/themes/olivero/olivero.theme
  core/themes/stable9/stable9.theme
Due: üßπ JavaScript linting (eslint)

fix: #3610934 Fatal error on edit forms of entities without bundle configuration entity (but a bundle key)
  core/themes/default_admin/src/Hook/PreprocessHooks.php
  core/themes/default_admin/tests/src/Kernel/BreadcrumbPreprocessTest.php
Due: none

task: #3581218 Deprecate .theme file extension
  core/lib/Drupal/Core/Hook/ThemeHookCollectorPass.php
  core/modules/system/tests/src/Kernel/Theme/ThemeDeprecationTest.php
  core/tests/Drupal/KernelTests/Core/Hook/ThemeHookCollectorPassTest.php
Due: none

task: #3615596 Reduce http requests in DependencyTest
  core/modules/system/tests/src/Functional/Module/DependencyTest.php
Due: none
