Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

üßπ JavaScript linting (eslint):
  needs:
  - üì¶Ô∏è Yarn
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - cd core
  - corepack enable
  - yarn run check:ckeditor5
  - yarn run lint:core-js-passing --format gitlab
  artifacts:
    reports:
      codequality: eslint-quality-report.json

üßπ CSS linting (stylelint):
  needs:
  - üì¶Ô∏è Yarn
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - corepack enable
  - cd core
  - yarn run build:css --check
  - yarn run lint:css --color --custom-formatter=node_modules/stylelint-formatter-gitlab
  artifacts:
    reports:
      codequality: stylelint-quality-report.json

üìî Validatable config:
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  artifacts:
    expire_in: 1 week
    expose_as: validatable-config
    paths:
    - HEAD.json
    - MR.json
  allow_failure:
    exit_codes:
    - 100
    - 101
    - 1
  script:
  - git checkout -f $CI_MERGE_REQUEST_DIFF_BASE_SHA
  ...

Issue #3477324 by andypost, alexpott: Fix usage of str_getcsv() and fgetcsv() for PHP 8.4
  core/lib/Drupal/Core/Mail/Plugin/Mail/PhpMail.php
  core/lib/Drupal/Core/Mail/Plugin/Mail/SymfonyMailer.php
  core/modules/migrate_drupal/tests/src/Traits/ValidateMigrationStateTestTrait.php
  core/profiles/demo_umami/modules/demo_umami_content/src/InstallHelper.php
Due: none

Issue #3486741 by spokje, smustgrave, markconroy: CSS linting (stylelint): npx update-browserslist-db@latest
  core/yarn.lock
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint)

Issue #3487449 by tom konda: Prefer to replace some of typeof obj !== 'undefined' with optional chaining
  core/misc/drupal.js
  core/modules/block/js/block.js
  core/modules/system/tests/modules/js_testing_log_test/js/js_testing_log.js
  core/modules/views_ui/js/views-admin.js
Due: üßπ JavaScript linting (eslint)

Issue #3488179 follow-up by alexpott: RecipeConfigurator::getIncludedRecipe() should statically cache recipe objects to avoid performance problems
  core/lib/Drupal/Core/Recipe/InputConfigurator.php
Due: none

SA-CORE-2024-005 by cm0dit, greggles, GrandmaGlassesRopeMan, wim leers, mcdruid, ram4nd, fabianx, poker10
  modules/overlay/overlay-parent.js
Due: üßπ JavaScript linting (eslint)

SA-CORE-2024-008 by mcdruid, fabianx, poker10, larowlan, longwave, alexpott
  includes/bootstrap.inc
  includes/database/mysql/query.inc
  includes/database/pgsql/query.inc
  includes/database/prefetch.inc
  includes/database/query.inc
  includes/database/sqlite/database.inc
  modules/system/system.install
  modules/system/system.module
Due: üìî Validatable config

Drupal 7.102
  CHANGELOG.txt
  includes/bootstrap.inc
Due: none

Back to dev.
  includes/bootstrap.inc
Due: none

SA-CORE-2024-003 by jrb, larowlan, catch, mingsong, poker10, longwave, benjifisher
  core/lib/Drupal/Core/Ajax/MessageCommand.php
Due: none

SA-CORE-2024-006 by mcdruid, larowlan
  core/lib/Drupal/Core/Config/StorageComparer.php
Due: none

SA-CORE-2024-007 by mcdruid, larowlan
  core/modules/views/src/ViewExecutable.php
Due: none

SA-CORE-2024-004 by zengenuity, cilefen, kristiaanvandeneynde, mcdruid, larowlan
  core/lib/Drupal/Core/Validation/Plugin/Validation/Constraint/UniqueFieldConstraint.php
  core/lib/Drupal/Core/Validation/Plugin/Validation/Constraint/UniqueFieldValueValidator.php
  core/modules/file/src/Plugin/Validation/Constraint/FileUriUnique.php
  core/modules/user/user.install
Due: none

Drupal 11.0.8
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  core/lib/Drupal.php
Due: none

Back to dev.
  core/lib/Drupal.php
Due: none

SA-CORE-2024-008 by mcdruid, fabianx, poker10, larowlan, longwave, alexpott
  core/lib/Drupal/Core/Database/Query/Select.php
  core/lib/Drupal/Core/Database/Query/Update.php
  core/lib/Drupal/Core/Database/StatementPrefetch.php
  core/lib/Drupal/Core/DependencyInjection/DependencySerializationTrait.php
  core/lib/Drupal/Core/Template/Attribute.php
  core/modules/sqlite/src/Driver/Database/sqlite/Connection.php
Due: none

Drupal 10.3.9
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  core/lib/Drupal.php
Due: none

Drupal 10.2.11
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  core/lib/Drupal.php
Due: none

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/package.json, core/yarn.lock, **/*.css
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module
