Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Unit tests PHPStan rules, üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

Unit tests PHPStan rules:
  stage: ‚ö°Ô∏è Unit tests
  needs: []
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - docker-php-ext-enable pcov
  - cd core/tests/PHPStan
  - composer install
  - vendor/bin/phpunit tests --testdox --coverage-text --colors=always --coverage-cobertura=coverage.cobertura.xml --log-junit junit.xml
  ...

üßπ JavaScript linting (eslint):
  before_script:
  - cd core
  - corepack enable
  - yarn install
  - cd ..
  cache:
    key:
    - .yarn-install-from-cache
    - cache
    - key
    paths:
    - .yarn-install-from-cache
    - cache
    - paths
    policy: pull-push
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
    CACHE_FILE: core/.eslintcache
  ...

üßπ CSS linting (stylelint):
  before_script:
  - cd core
  - corepack enable
  - yarn install
  - cd ..
  cache:
    key:
      files:
      - ./core/package.json
      - ./core/yarn.lock
    paths:
    - ./core/.yarn/cache
    policy: pull
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
    CACHE_FILE: core/.stylelintcache
  script:
  ...

üìî Validatable config:
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  artifacts:
    expire_in: 1 week
    expose_as: validatable-config
    paths:
    - HEAD.json
    - MR.json
  allow_failure:
    exit_codes:
    - 100
    - 101
    - 1
  script:
  - git checkout -f $CI_MERGE_REQUEST_DIFF_BASE_SHA
  ...

fix: #3570219 BlockListBuilder::submitForm() should not load config overrides
  core/modules/block/src/BlockListBuilder.php
Due: none

feat: #3505776 Retain asset aggregates for 45 days by default to reduce generation of identical files
  core/assets/scaffold/files/default.settings.php
  core/lib/Drupal/Core/Asset/CssCollectionOptimizerLazy.php
  core/lib/Drupal/Core/Asset/JsCollectionOptimizerLazy.php
  core/tests/Drupal/FunctionalTests/Asset/AssetOptimizationTest.php
  sites/default/default.settings.php
Due: none

perf: #3564973 Optimize field views data building
  core/modules/views/src/FieldViewsDataProvider.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryAuthenticatedPerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryFrontPagePerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryNodePagePerformanceTest.php
Due: none

fix: #3570220 RoleSettingsForm::submitForm() should not load config overrides
  core/modules/user/src/Form/RoleSettingsForm.php
Due: none

fix: #3564510 TypeError: Drupal\Core\Utility\ThemeRegistry::getGlobalPreprocess(): Return value must be of type array
  core/lib/Drupal/Core/Utility/ThemeRegistry.php
Due: none

task: #3569877 Add PHP 8.4 and 8.5 end of life dates to PhpRequirements
  core/lib/Drupal/Core/Utility/PhpRequirements.php
Due: none

perf: #3560633 Load content language settings in bulk when rebuilding bundle and extra fields info
  core/modules/content_translation/src/Hook/ContentTranslationHooks.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryAuthenticatedPerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryFrontPagePerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryNodePagePerformanceTest.php
Due: üìî Validatable config

perf: #3564969 Static cache field storage definitions
  core/lib/Drupal/Core/Entity/EntityLastInstalledSchemaRepository.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryAuthenticatedPerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryFrontPagePerformanceTest.php
Due: none

fix: #3565581 Non-test class ending in Test triggers phpunit warning
  core/.phpstan-baseline.php
  core/modules/syslog/tests/modules/syslog_test/src/Logger/SysLogFile.php
  core/modules/syslog/tests/modules/syslog_test/syslog_test.services.yml
Due: üßπ JavaScript linting (eslint)

fix: #3115188 Routes fail validation in link field widgets
  core/modules/link/src/Plugin/Field/FieldWidget/LinkWidget.php
  core/modules/link/tests/src/Functional/LinkFieldTest.php
Due: none

perf: #3564923 Static cache image style config entities
  core/modules/image/src/Entity/ImageStyle.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryFrontPagePerformanceTest.php
Due: none

chore: #3570713 Bump PHPStan to 2.1.38
  composer.json
  composer.lock
  composer/Metapackage/DevDependencies/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  core/.phpstan-baseline.php
  core/tests/PHPStan/composer.json
Due: Unit tests PHPStan rules

fix: #3516264 CKEditor 5 loads all plugin translations on AJAX operations
  core/modules/ckeditor5/src/Hook/Ckeditor5Hooks.php
  core/modules/ckeditor5/tests/src/Unit/CKEditor5Test.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/AssetAggregationAcrossPagesTest.php
Due: üìî Validatable config

test: #3570848 AssetAggregationAcrossPagesTest::testNodeAddPagesAuthor fails locally on main
  core/profiles/demo_umami/tests/src/FunctionalJavascript/AssetAggregationAcrossPagesTest.php
Due: none

fix: #3570857 PHPStan fails if pdo_mysql is not installed
  core/modules/mysql/src/Driver/Database/mysql/Connection.php
Due: none

task: #3568087 Deprecate procedural code from contextual.module
  core/.phpstan-baseline.php
  core/modules/contextual/contextual.module
  core/modules/contextual/contextual.services.yml
  core/modules/contextual/src/ContextualController.php
  core/modules/contextual/src/ContextualLinksSerializer.php
  core/modules/contextual/src/Element/ContextualLinksPlaceholder.php
  core/modules/contextual/src/Hook/ContextualThemeHooks.php
  core/modules/contextual/src/Plugin/views/field/ContextualLinks.php
  core/modules/contextual/tests/src/Kernel/ContextualUnitTest.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

refactor: #3566768 Change \Drupal\system\Form\CronForm to use ConfigFormBase and use #config_target
  core/.phpstan-baseline.php
  core/modules/automated_cron/automated_cron.module
  core/modules/automated_cron/src/Hook/AutomatedCronHooks.php
  core/modules/system/src/Form/CronForm.php
Due: üìî Validatable config

task: #3520730 Fix PHPStan arguments.count error related to interface argument additions in the next major
  core/.deprecation-ignore.txt
  core/.phpstan-baseline.php
  core/lib/Drupal/Component/Plugin/CategorizingPluginManagerInterface.php
  core/lib/Drupal/Core/Action/ActionBase.php
  core/lib/Drupal/Core/Entity/Sql/SqlContentEntityStorageSchema.php
  core/lib/Drupal/Core/Executable/ExecutableInterface.php
  core/lib/Drupal/Core/Plugin/CategorizingPluginManagerTrait.php
Due: none

task: #3555532 Since symfony/http-foundation 7.4: Request::get() is deprecated, use properties ->attributes, query or request directly instead.
  core/.deprecation-ignore.txt
  core/.phpstan-baseline.php
  core/lib/Drupal/Core/Ajax/AjaxHelperTrait.php
  core/lib/Drupal/Core/Ajax/AjaxResponseAttachmentsProcessor.php
  core/lib/Drupal/Core/Asset/CssCollectionOptimizerLazy.php
  core/lib/Drupal/Core/Asset/JsCollectionOptimizerLazy.php
  core/lib/Drupal/Core/EventSubscriber/AjaxResponseSubscriber.php
  core/lib/Drupal/Core/EventSubscriber/MaintenanceModeSubscriber.php
  core/lib/Drupal/Core/Form/FormBuilder.php
  core/lib/Drupal/Core/Pager/PagerPreprocess.php
  core/lib/Drupal/Core/Render/HtmlResponseAttachmentsProcessor.php
  core/lib/Drupal/Core/StackMiddleware/AjaxPageState.php
  core/lib/Drupal/Core/Theme/AjaxBasePageNegotiator.php
  core/modules/big_pipe/src/Render/BigPipe.php
  core/modules/content_moderation/src/Form/ContentModerationConfigureEntityTypesForm.php
  core/modules/content_translation/tests/modules/content_translation_test/src/Hook/ContentTranslationTestHooks.php
  core/modules/jsonapi/src/Controller/EntityResource.php
  core/modules/package_manager/tests/modules/package_manager_test_api/src/ApiController.php
  core/modules/system/src/Controller/CssAssetController.php
  core/modules/system/src/Controller/JsAssetController.php
  core/modules/system/tests/modules/form_test/src/Form/FormTestStorageForm.php
  core/modules/views/src/Controller/ViewAjaxController.php
  core/tests/Drupal/Tests/Core/StackMiddleware/AjaxPageStateTest.php
  core/tests/Drupal/Tests/Core/Theme/AjaxBasePageNegotiatorTest.php
Due: üìî Validatable config

Path conditions:
  Unit tests PHPStan rules: any of: core/tests/PHPStan/**/*, composer/Metapackage/PinnedDevDependencies/composer.json
  üßπ JavaScript linting (eslint): any of: core/.eslint*, core/.prettier*, core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/.stylelintrc.json, core/.prettier*, core/package.json, core/yarn.lock, **/*.css
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module, **/src/Hook/*.php
