Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üìã PHPUnit Unit (PHPStan rules), üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üì¶ Yarn install on minimum Node.js version

Path conditions:
  üìã PHPUnit Unit (PHPStan rules): any of: core/tests/PHPStan/**/*, composer/Metapackage/PinnedDevDependencies/composer.json
  üßπ JavaScript linting (eslint): any of: core/.eslint*, core/.prettier*, core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/.stylelintrc.json, core/.prettier*, core/package.json, core/yarn.lock, **/*.css
  üì¶ Yarn install on minimum Node.js version: any of: core/package.json, core/yarn.lock

fix: #3584277 [random test failure] ComposerRequirementTest::testComposerInfoShown
  core/modules/package_manager/tests/modules/package_manager_test_validation/package_manager_test_validation.services.yml
  core/modules/package_manager/tests/modules/package_manager_test_validation/src/TestExecutableFinder.php
Due: üßπ JavaScript linting (eslint)

task: #3582690 Remove or replace usages of Shortcut from themes
  core/modules/shortcut/css/backport-themes/claro/shortcut.css
  core/modules/shortcut/css/backport-themes/claro/shortcut.pcss.css
  core/modules/shortcut/css/backport-themes/olivero/page-title.css
  core/modules/shortcut/css/backport-themes/olivero/page-title.pcss.css
  core/modules/shortcut/images/backport-themes/claro/favstar-rtl.svg
  core/modules/shortcut/images/backport-themes/claro/favstar.svg
  core/modules/shortcut/shortcut.install
  core/modules/shortcut/shortcut.libraries.yml
  core/modules/shortcut/src/Hook/ShortcutThemeHooks.php
  core/themes/claro/claro.info.yml
  core/themes/claro/claro.libraries.yml
  core/themes/default_admin/css/base/icons.css
  core/themes/default_admin/css/base/icons.pcss.css
  core/themes/default_admin/css/components/page-title.css
  core/themes/default_admin/css/components/page-title.pcss.css
  core/themes/default_admin/css/components/shortcut.css
  core/themes/default_admin/css/components/shortcut.pcss.css
  core/themes/default_admin/default_admin.info.yml
  core/themes/default_admin/default_admin.libraries.yml
  core/themes/default_admin/images/shortcut/favstar-rtl.svg
  core/themes/default_admin/images/shortcut/favstar.svg
  core/themes/default_admin/migration/css/components/toolbar.css
  core/themes/default_admin/migration/css/components/toolbar.pcss.css
  core/themes/default_admin/migration/css/layout/navigation.css
  core/themes/default_admin/migration/css/layout/navigation.pcss.css
  core/themes/default_admin/migration/media/icons/toolbar-meta/shortcut-filled.svg
  core/themes/default_admin/migration/media/icons/toolbar-meta/shortcut.svg
  core/themes/default_admin/templates/navigation/menu-region--top.html.twig
  core/themes/olivero/config/install/olivero.settings.yml
  core/themes/olivero/config/schema/olivero.schema.yml
  core/themes/olivero/olivero.libraries.yml
  core/themes/olivero/olivero.post_update.php
  core/themes/olivero/src/Hook/OliveroHooks.php
  core/themes/olivero/tests/src/Functional/Update/OliveroPostUpdateTest.php
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint)

task: #3549208 Set memory limit for command
  composer.json
Due: none

task: #3591509 Remove Migrate Drupal settings from settings.php
  core/assets/scaffold/files/default.settings.php
  sites/default/default.settings.php
Due: none

fix: #3591750 Drupal uses lowercase http method when making a guzzle request
  core/modules/locale/src/File/LocaleFileManager.php
Due: none

task: #3592506 Bump PHPStan to 2.2.0
  composer.json
  composer.lock
  composer/Metapackage/DevDependencies/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  core/.phpstan-baseline.php
  core/tests/PHPStan/composer.json
Due: üìã PHPUnit Unit (PHPStan rules)

task: #3586951 Remove Settings Tray integration in Default Admin, keep in Stable 9
  core/themes/default_admin/default_admin.libraries.yml
  core/themes/default_admin/migration/css/components/settings_tray.css
  core/themes/default_admin/migration/css/components/settings_tray.pcss.css
  core/themes/default_admin/migration/css/components/settings_tray_edit.css
  core/themes/default_admin/migration/css/components/settings_tray_edit.pcss.css
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint)

task: #3503843 Remove automatic preloading of all "public" routes, cache routes in fast chained bin
  core/core.services.yml
  core/lib/Drupal/Core/Routing/RouteProvider.php
  core/modules/jsonapi/tests/src/FunctionalJavascript/JsonApiPerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryAuthenticatedPerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryNodePagePerformanceTest.php
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTest.php
  core/tests/Drupal/KernelTests/Core/Routing/RouteProviderTest.php
Due: üßπ JavaScript linting (eslint)

fix: #3593008 AccessPolicyProcessor::processAccessPolicies() creates unnecessary Fibers when checking permissions for the current user
  core/lib/Drupal/Core/Session/AccessPolicyProcessor.php
Due: none

fix: #3592887 AttributeRouteDiscovery does not cleanly handle invalid classes
  core/lib/Drupal/Core/Routing/AttributeRouteDiscovery.php
  core/modules/system/tests/modules/router_test_directory/src/Controller/TestInvalidController.php
  core/modules/system/tests/modules/router_test_directory/src/Controller/TestMissingDependency.php
  core/phpstan.neon.dist
  core/tests/Drupal/Tests/Core/Routing/AttributeRouteDiscoveryTest.php
Due: none

perf: #2875033 Optimize joins and table selection in SQL entity query implementation
  core/lib/Drupal/Core/Entity/Query/ConditionFundamentals.php
  core/lib/Drupal/Core/Entity/Query/ConditionInterface.php
  core/lib/Drupal/Core/Entity/Query/Sql/Condition.php
  core/lib/Drupal/Core/Entity/Query/Sql/Query.php
  core/lib/Drupal/Core/Entity/Query/Sql/Tables.php
  core/lib/Drupal/Core/Entity/Query/Sql/TablesInterface.php
  core/modules/jsonapi/tests/src/FunctionalJavascript/JsonApiPerformanceTest.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityQueryAggregateTest.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityQueryTest.php
Due: none

feat: #3549601 Allow --directory and @group to work together in run-tests.sh
  core/lib/Drupal/Core/Test/PhpUnitTestDiscovery.php
  core/scripts/run-tests.sh
  core/tests/Drupal/KernelTests/Core/Test/PhpUnitApiFindAllClassFilesTest.php
  core/tests/Drupal/KernelTests/Core/Test/PhpUnitApiGetTestClassesTest.php
  core/tests/Drupal/TestTools/TestRunner/Configuration.php
Due: none

task: #3593098 Update CKEditor5 to 47.6.2
  core/assets/vendor/ckeditor5/ckeditor5-dll/ckeditor5-dll.js
  core/core.libraries.yml
  core/package.json
  core/yarn.lock
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üì¶ Yarn install on minimum Node.js version

task: #3538002 run-tests.sh - separate test allocation to bins into a WorkAllocator class
  core/lib/Drupal/Core/Test/PhpUnitTestDiscovery.php
  core/scripts/run-tests.sh
  core/tests/Drupal/TestTools/TestRunner/WorkAllocator.php
  core/tests/Drupal/Tests/Core/Test/WorkAllocatorTest.php
  core/tests/fixtures/test_runner/work_allocator/complex_in.json
  core/tests/fixtures/test_runner/work_allocator/complex_two_of_eight_out.json
  core/tests/fixtures/test_runner/work_allocator/simple_in.json
  core/tests/fixtures/test_runner/work_allocator/simple_one_of_two_out.json
  core/tests/fixtures/test_runner/work_allocator/simple_out.json
Due: none

task: #3591220 Convert functional tests in taxonomy module to kernel tests
  core/.phpstan-baseline.php
  core/modules/taxonomy/tests/src/Functional/Views/TaxonomyDefaultArgumentTest.php
  core/modules/taxonomy/tests/src/Functional/Views/TaxonomyTermArgumentDepthTest.php
  core/modules/taxonomy/tests/src/Kernel/RssTest.php
  core/modules/taxonomy/tests/src/Kernel/TaxonomyRevisionTest.php
  core/modules/taxonomy/tests/src/Kernel/TaxonomyRevisionVersionHistoryTest.php
  core/modules/taxonomy/tests/src/Kernel/TaxonomyTermPageVariableDeprecationTest.php
  core/modules/taxonomy/tests/src/Kernel/TaxonomyTestBase.php
  core/modules/taxonomy/tests/src/Kernel/TermContextualLinksTest.php
  core/modules/taxonomy/tests/src/Kernel/TermTranslationFieldViewTest.php
  core/modules/taxonomy/tests/src/Kernel/TermTranslationTest.php
  core/modules/taxonomy/tests/src/Kernel/Views/TaxonomyDefaultArgumentTest.php
  core/modules/taxonomy/tests/src/Kernel/Views/TaxonomyFieldAllTermsTest.php
  core/modules/taxonomy/tests/src/Kernel/Views/TaxonomyRelationshipTest.php
  core/modules/taxonomy/tests/src/Kernel/Views/TaxonomyTermArgumentDepthTest.php
  core/modules/taxonomy/tests/src/Kernel/Views/TaxonomyTermArgumentTidFromNodeTest.php
  core/modules/taxonomy/tests/src/Kernel/Views/TaxonomyVocabularyArgumentTest.php
  core/modules/taxonomy/tests/src/Kernel/Views/TermDisplayConfigurableTest.php
  core/modules/taxonomy/tests/src/Kernel/Views/TermNameFieldTest.php
  core/modules/taxonomy/tests/src/Kernel/Views/TermTranslationViewsTest.php
  core/tests/Drupal/Tests/HttpKernelUiHelperTrait.php
Due: none

fix: #1499532 Respect explicitly set node path alias langcode on save
  core/modules/path/src/Plugin/Field/FieldType/PathItem.php
  core/modules/path/src/Plugin/Field/FieldWidget/PathWidget.php
  core/modules/path/tests/src/Kernel/PathItemTest.php
Due: none
