Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/package.json, core/yarn.lock, **/*.css
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module

Issue #3460257 by Grimreaper, smustgrave, quietone: Have a dedicated category for blocks provided by the Navigation module
  core/modules/navigation/src/Plugin/Block/NavigationMenuBlock.php
Due: none

Issue #3463569 by alexpott, catch: ToolbarStoredStateTest needs wait after resizing window
  core/modules/toolbar/tests/src/FunctionalJavascript/ToolbarStoredStateTest.php
Due: none

Issue #3308432 by devkinetic, BramDriesen, Shifali Baghel, cilefen, smustgrave, quietone, bnjmnm: The link on the Image tag is redirecting to an undefined page from the node preview screen
  core/modules/node/node.preview.js
  core/modules/node/tests/src/FunctionalJavascript/NodePreviewLinkTest.php
Due: üßπ JavaScript linting (eslint)

Issue #2890023 by mcdruid, quietone, ricardoamaro: clarify db settings for run-tests.sh example command
  core/scripts/run-tests.sh
Due: none

Issue #3119513 by Prem Suthar, imclean, smustgrave: Parameters doc for views "row" should be at the top level of the array
  core/modules/views/views.theme.inc
Due: none

Issue #3463351 by catch, heddn: Consolidate Umami performance tests
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryFrontPagePerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryNodePagePerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/PerformanceTest.php
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTest.php
  core/tests/Drupal/Tests/PerformanceTestTrait.php
Due: none

Issue #3462549 by catch, ankitv18: Optimize TelephoneFieldTest
  core/modules/telephone/tests/src/Functional/TelephoneFieldTest.php
Due: none

Issue #3462098 by Prem Suthar, joachim, quietone: hook_local_tasks_alter() and hook_menu_local_tasks_alter() need mutual @see links
  core/lib/Drupal/Core/Menu/menu.api.php
Due: none

Issue #3464020 by Spokje, catch, longwave: Update to ckeditor 42.0.2
  core/assets/vendor/ckeditor5/ckeditor5-dll/ckeditor5-dll.js
  core/assets/vendor/ckeditor5/table/table.js
  core/core.libraries.yml
  core/package.json
  core/yarn.lock
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint)

Issue #3463548 by catch, smustgrave: Consolidate methods on FormElementsLabelsTest
  core/modules/system/tests/src/Functional/Form/ElementsLabelsTest.php
Due: none

Issue #3463479 by catch, Spokje, larowlan: Merge the build and lint stages in core MR pipelines
  .gitlab-ci.yml
  .gitlab-ci/pipeline.yml
Due: üßπ JavaScript linting (eslint)

Issue #3464020 by Spokje, catch, longwave, nod_: Update to ckeditor 42.0.2
  core/assets/vendor/ckeditor5/ckeditor5-dll/ckeditor5-dll.js
  core/assets/vendor/ckeditor5/table/table.js
  core/core.libraries.yml
  core/package.json
  core/yarn.lock
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint)

Issue #3142928 by ivnish, neclimdul, Wiktor7, mitrpaka, Chi, keha3912, smustgrave, andypost, catch: Status report wrongly warns of APCu memory limit when admin language is not English
  core/modules/system/system.install
Due: none

Issue #3463594 by alexpott: ImageAdminStylesTest::testAjaxEnabledEffectForm() fails because statusMessageExists() does not wait
  core/tests/Drupal/FunctionalJavascriptTests/JSWebAssert.php
Due: none
