Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üìã PHPUnit Unit (PHPStan rules), üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üì¶ Yarn install on minimum Node.js version

üìã PHPUnit Unit (PHPStan rules):
  stage: ‚ö°Ô∏è Tests
  needs: []
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - docker-php-ext-enable pcov
  - cd core/tests/PHPStan
  - composer install
  - vendor/bin/phpunit tests --testdox --coverage-text --colors=always --coverage-cobertura=coverage.cobertura.xml --log-junit junit.xml
  artifacts:
  ...

üßπ JavaScript linting (eslint):
  before_script:
  - cd core
  - corepack enable
  - yarn install
  - cd ..
  cache:
    key:
    - .yarn-install-from-cache
    - cache
    - key
    paths:
    - .yarn-install-from-cache
    - cache
    - paths
    policy: pull-push
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
    CACHE_FILE: core/.eslintcache
  ...

üßπ CSS linting (stylelint):
  before_script:
  - cd core
  - corepack enable
  - yarn install
  - cd ..
  cache:
    key:
      files:
      - ./core/package.json
      - ./core/yarn.lock
    paths:
    - ./core/.yarn/cache
    policy: pull
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
    CACHE_FILE: core/.stylelintcache
  script:
  ...

üì¶ Yarn install on minimum Node.js version:
  stage: ü™Ñ Lint
  image: node:20
  variables:
    KUBERNETES_CPU_REQUEST: '1'
  script:
  - cd core
  - corepack enable
  - echo -e "Node version $(node --version)\nYarn version $(corepack yarn --version)"
  - yarn install

fix: #3576431 Mark new admin theme as experimental
  core/themes/admin/admin.info.yml
Due: üßπ JavaScript linting (eslint)

fix: #3576563 Fix permissions on admin theme files
  core/themes/admin/screenshot.png
Due: none

refactor: #3575542 Remove deprecations related to the theme preprocess discovery and theme.inc
  core/.phpstan-baseline.php
  core/core.services.yml
  core/includes/theme.inc
  core/lib/Drupal/Core/Installer/InstallerRouteProviderLazyBuilder.php
  core/lib/Drupal/Core/Render/Element/Dropbutton.php
  core/lib/Drupal/Core/Render/theme.api.php
  core/lib/Drupal/Core/Theme/Registry.php
  core/lib/Drupal/Core/Theme/ThemeManager.php
  core/modules/shortcut/src/Hook/ShortcutThemeHooks.php
  core/modules/system/templates/links.html.twig
  core/modules/system/tests/modules/module_test_procedural_preprocess/module_test_procedural_preprocess.additional.inc
  core/modules/system/tests/modules/module_test_procedural_preprocess/module_test_procedural_preprocess.module
  core/modules/system/tests/modules/module_test_procedural_preprocess/module_test_procedural_preprocess.theme.inc
  core/modules/system/tests/src/Functional/Theme/ThemeTest.php
  core/modules/system/tests/src/Kernel/Theme/ThemeDeprecationTest.php
  core/profiles/demo_umami/themes/umami/templates/classy/content/links--node.html.twig
  core/profiles/demo_umami/themes/umami/templates/classy/media-library/links--media-library-menu.html.twig
  core/tests/Drupal/KernelTests/Core/Theme/RegistryTest.php
  core/tests/Drupal/KernelTests/Core/Theme/Stable9TemplateOverrideTest.php
  core/tests/Drupal/Tests/Core/Theme/RegistryTest.php
  core/themes/claro/templates/classy/content/links--node.html.twig
  core/themes/claro/templates/classy/media-library/links--media-library-menu.html.twig
  core/themes/stable9/templates/navigation/links.html.twig
  core/themes/starterkit_theme/templates/content/links--node.html.twig
  core/themes/starterkit_theme/templates/navigation/links.html.twig
Due: üßπ JavaScript linting (eslint)

test: #3576180 Tweak kernel test running
  .gitlab-ci.yml
  core/modules/package_manager/tests/src/Kernel/ComposerValidatorTest.php
  core/modules/package_manager/tests/src/Kernel/DuplicateInfoFileValidatorTest.php
  core/modules/package_manager/tests/src/Kernel/EnabledExtensionsValidatorTest.php
  core/modules/package_manager/tests/src/Kernel/PathExcluder/SiteConfigurationExcluderTest.php
  core/modules/package_manager/tests/src/Kernel/StagedDBUpdateValidatorTest.php
Due: üßπ JavaScript linting (eslint)

Revert "refactor: #3228209 Move hasRole() method from UserInterface to AccountInterface"
  core/lib/Drupal/Core/Session/AccountInterface.php
  core/lib/Drupal/Core/Session/AccountProxy.php
  core/lib/Drupal/Core/Session/UserSession.php
  core/modules/user/src/Entity/User.php
  core/modules/user/src/UserInterface.php
Due: none

Reapply "refactor: #3228209 Move hasRole() method from UserInterface to AccountInterface"
  core/lib/Drupal/Core/Session/AccountInterface.php
  core/lib/Drupal/Core/Session/AccountProxy.php
  core/lib/Drupal/Core/Session/UserSession.php
  core/modules/user/src/Entity/User.php
  core/modules/user/src/UserInterface.php
Due: none

Revert "feat: #3575171 Add Navigation to the Standard profile and recipes"
  core/profiles/standard/config/install/user.role.content_editor.yml
  core/profiles/standard/standard.info.yml
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTest.php
  core/recipes/standard/recipe.yml
Due: üßπ JavaScript linting (eslint)

feat: #3561564 Support the same block being used for page title & main content
  core/modules/block/src/Plugin/DisplayVariant/BlockPageVariant.php
  core/modules/block/tests/modules/block_test/src/Plugin/Block/TestPageTitleMainContentAndMessagesBlock.php
  core/modules/block/tests/src/Functional/BlockTest.php
Due: none

fix: #3319212 Entities without labels cause TypeError in EntityController title callbacks
  core/lib/Drupal/Core/Entity/Controller/EntityController.php
  core/tests/Drupal/Tests/Core/Entity/Controller/EntityControllerTest.php
Due: none

feat: #3202329 Outbound path processors miss the route name and parameters
  core/lib/Drupal/Core/PathProcessor/OutboundPathProcessorInterface.php
  core/lib/Drupal/Core/Routing/UrlGenerator.php
  core/tests/Drupal/Tests/Core/Routing/UrlGeneratorTest.php
Due: none

fix: #3572047 "Last" pager links inside a modal do not open in the modal
  core/lib/Drupal/Core/Pager/PagerPreprocess.php
  core/modules/system/tests/src/Unit/Pager/PreprocessPagerTest.php
Due: none

refactor: #3574859 Remove deprecated code from lib/menu, lib/routing, lib/session, lib/StackMiddleWare, and lib/Validation
  core/.phpstan-baseline.php
  core/lib/Drupal/Core/Form/FormErrorHandler.php
  core/lib/Drupal/Core/Menu/Form/MenuLinkDefaultForm.php
  core/lib/Drupal/Core/Menu/MenuActiveTrail.php
  core/lib/Drupal/Core/Render/BareHtmlPageRenderer.php
  core/lib/Drupal/Core/Render/Element/CompositeFormElementTrait.php
  core/lib/Drupal/Core/Render/Element/Fieldgroup.php
  core/lib/Drupal/Core/Render/Element/FormElement.php
  core/lib/Drupal/Core/Render/Element/RenderElement.php
  core/lib/Drupal/Core/Render/Element/StatusReport.php
  core/lib/Drupal/Core/Render/Renderer.php
  core/lib/Drupal/Core/Render/RendererInterface.php
  core/lib/Drupal/Core/Routing/BcRoute.php
  core/lib/Drupal/Core/Routing/MatchingRouteNotFoundException.php
  core/lib/Drupal/Core/Session/SessionManager.php
  core/lib/Drupal/Core/Session/UserSession.php
  core/lib/Drupal/Core/StackMiddleware/StackedHttpKernel.php
  core/lib/Drupal/Core/Validation/ConstraintFactory.php
  core/lib/Drupal/Core/Validation/ConstraintManager.php
  core/modules/system/tests/modules/element_info_test/src/Element/DeprecatedExtendsFormElement.php
  core/modules/system/tests/modules/element_info_test/src/Element/DeprecatedExtendsRenderElement.php
  core/modules/system/tests/modules/session_test/session_test.routing.yml
  core/modules/system/tests/modules/session_test/src/Controller/LegacySessionTestController.php
  core/modules/system/tests/src/Functional/Session/LegacySessionTest.php
  core/tests/Drupal/KernelTests/Core/Render/Element/DeprecatedElementTest.php
  core/tests/Drupal/KernelTests/Core/Render/Element/LegacyStatusReportTest.php
  core/tests/Drupal/KernelTests/Core/Render/RenderTest.php
  core/tests/Drupal/KernelTests/Core/Validation/ConstraintFactoryTest.php
  core/tests/Drupal/Tests/Core/Session/UserSessionTest.php
  core/tests/Drupal/Tests/Core/StackMiddleware/StackedHttpKernelTest.php
Due: üßπ JavaScript linting (eslint)

refactor: #3571069 Remove hook_module_implements_alter and support in HookCollectorPass
  core/core.api.php
  core/lib/Drupal/Core/Extension/ModuleHandler.php
  core/lib/Drupal/Core/Extension/module.api.php
  core/lib/Drupal/Core/Hook/Attribute/Hook.php
  core/lib/Drupal/Core/Hook/Attribute/LegacyModuleImplementsAlter.php
  core/lib/Drupal/Core/Hook/Attribute/ProceduralHookScanStop.php
  core/lib/Drupal/Core/Hook/HookCollectorPass.php
  core/modules/content_translation/content_translation.install
  core/modules/layout_builder/src/Hook/LayoutBuilderHooks.php
  core/modules/system/tests/modules/HookOrder/aaa_hook_order_test/aaa_hook_order_test.module
  core/modules/system/tests/modules/HookOrder/aaa_hook_order_test/src/Hook/ModuleImplementsAlter.php
  core/modules/system/tests/modules/common_test/src/Hook/CommonTestHooks.php
  core/modules/system/tests/modules/module_implements_alter_test/module_implements_alter_test.info.yml
  core/modules/system/tests/modules/module_implements_alter_test/module_implements_alter_test.module
  core/modules/system/tests/src/Kernel/Common/AlterTest.php
  core/tests/Drupal/KernelTests/Core/Extension/ModuleImplementsAlterTest.php
  core/tests/Drupal/KernelTests/Core/Hook/HookAlterOrderTest.php
  core/tests/Drupal/KernelTests/Core/Hook/HookCollectorPassTest.php
  core/tests/Drupal/KernelTests/Core/Hook/HookOrderTest.php
  core/tests/Drupal/Tests/Core/Extension/modules/module_handler_test_all1/module_handler_test_all1.module
  core/tests/Drupal/Tests/Core/Extension/modules/module_implements_alter_test_legacy/module_implements_alter_test_legacy.info.yml
  core/tests/Drupal/Tests/Core/Extension/modules/module_implements_alter_test_legacy/module_implements_alter_test_legacy.module
Due: üßπ JavaScript linting (eslint)

refactor: #3575467 Remove deprecations related to the theme engine
  core/.phpstan-baseline.php
  core/core.services.yml
  core/includes/common.inc
  core/lib/Drupal/Component/Render/MarkupInterface.php
  core/lib/Drupal/Core/Extension/ExtensionDiscovery.php
  core/lib/Drupal/Core/Extension/ExtensionList.php
  core/lib/Drupal/Core/Extension/ExtensionPathResolver.php
  core/lib/Drupal/Core/Extension/ThemeEngineExtensionList.php
  core/lib/Drupal/Core/Extension/ThemeExtensionList.php
  core/lib/Drupal/Core/Installer/InstallerThemeEngineExtensionList.php
  core/lib/Drupal/Core/Installer/NormalInstallerServiceProvider.php
  core/lib/Drupal/Core/Template/Loader/StringLoader.php
  core/lib/Drupal/Core/Theme/ActiveTheme.php
  core/lib/Drupal/Core/Theme/Registry.php
  core/lib/Drupal/Core/Theme/ThemeInitialization.php
  core/lib/Drupal/Core/Theme/ThemeManager.php
  core/modules/filter/filter.module
  core/modules/package_manager/src/Validator/DuplicateInfoFileValidator.php
  core/modules/system/src/Controller/SystemController.php
  core/modules/system/src/Form/ThemeSettingsForm.php
  core/modules/system/tests/engines/test_theme_engine/test_theme_engine.engine
  core/modules/system/tests/engines/test_theme_engine/test_theme_engine.info.yml
  core/modules/system/tests/src/Functional/Theme/BcEngineTest.php
  core/modules/system/tests/src/Kernel/Theme/ThemeEngineTest.php
  core/modules/system/tests/src/Kernel/Theme/ThemeTest.php
  core/modules/system/tests/themes/test_theme_engine_theme/test_theme_engine_theme.info.yml
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryAuthenticatedPerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryFrontPagePerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryNodePagePerformanceTest.php
  core/tests/Drupal/KernelTests/Core/Bootstrap/ExtensionPathResolverTest.php
  core/tests/Drupal/KernelTests/Core/Extension/ThemeEngineExtensionListTest.php
  core/tests/Drupal/Tests/Core/Extension/ExtensionDiscoveryTest.php
  core/tests/Drupal/Tests/Core/Extension/ThemeExtensionListTest.php
  core/themes/engines/twig/twig.engine
  core/themes/engines/twig/twig.info.yml
Due: üßπ JavaScript linting (eslint)

refactor: #3575575 Remove deprecations around File component and module
  core/core.services.yml
  core/lib/Drupal/Core/File/EventSubscriber/LegacyMimeTypeMapLoadedSubscriber.php
  core/lib/Drupal/Core/File/FileExists.php
  core/lib/Drupal/Core/File/FileSystem.php
  core/lib/Drupal/Core/File/FileSystemInterface.php
  core/lib/Drupal/Core/File/HtaccessWriter.php
  core/lib/Drupal/Core/File/MimeType/ExtensionMimeTypeGuesser.php
  core/lib/Drupal/Core/File/MimeType/MimeTypeMap.php
  core/lib/Drupal/Core/File/file.api.php
  core/modules/file/file.libraries.yml
  core/modules/file/file.module
  core/modules/file/file.services.yml
  core/modules/file/src/FileRepository.php
  core/modules/file/src/FileRepositoryInterface.php
  core/modules/file/src/Upload/FileUploadHandler.php
  core/modules/file/src/Upload/FileUploadHandlerInterface.php
  core/modules/file/tests/file_deprecated_test/file_deprecated_test.info.yml
  core/modules/file/tests/file_deprecated_test/src/Hook/FileDeprecatedTestThemeHooks.php
  core/modules/migrate/src/Plugin/migrate/process/FileCopy.php
  core/tests/Drupal/KernelTests/Core/File/ExtensionMimeTypeGuesserDeprecationTest.php
  core/tests/Drupal/KernelTests/Core/File/LegacyFileSystemTest.php
  core/tests/Drupal/KernelTests/Core/File/MimeType/ExtensionMimeTypeGuesserLegacyTest.php
  core/tests/Drupal/KernelTests/Core/File/MimeType/LegacyMimeTypeTest.php
Due: üßπ JavaScript linting (eslint)

task: #3570908 Fix signatures of ExecutableInterface and CategorizingPluginManagerInterface
  core/.deprecation-ignore.txt
  core/lib/Drupal/Component/Plugin/CategorizingPluginManagerInterface.php
  core/lib/Drupal/Core/Action/ActionBase.php
  core/lib/Drupal/Core/Condition/ConditionPluginBase.php
  core/lib/Drupal/Core/Executable/ExecutableInterface.php
  core/lib/Drupal/Core/Layout/LayoutPluginManager.php
  core/modules/views/tests/modules/action_bulk_test/src/Plugin/Action/TestAction.php
Due: none

feat: #3575171 Add Navigation to the Standard profile and recipes
  core/modules/contact/tests/src/Functional/migrate_drupal_ui/d6/Upgrade6Test.php
  core/modules/contact/tests/src/Functional/migrate_drupal_ui/d7/Upgrade7Test.php
  core/modules/migrate_drupal_ui/tests/src/Functional/d6/Upgrade6Test.php
  core/modules/migrate_drupal_ui/tests/src/Functional/d7/Upgrade7Test.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/AssetAggregationAcrossPagesTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryAuthenticatedPerformanceTest.php
  core/profiles/standard/config/install/user.role.content_editor.yml
  core/profiles/standard/standard.info.yml
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTest.php
  core/recipes/standard/recipe.yml
Due: üßπ JavaScript linting (eslint)

task: #3576556 Deprecate CachePluginBase::cacheExpire
  core/modules/views/src/Plugin/views/cache/CachePluginBase.php
  core/modules/views/src/Plugin/views/cache/Tag.php
  core/modules/views/src/Plugin/views/cache/Time.php
Due: none

Drupal 11.3.4
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: üìã PHPUnit Unit (PHPStan rules)

Back to dev.
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: üìã PHPUnit Unit (PHPStan rules)

task: #3568444 Simplify PostCSS config
  core/scripts/css/compile.js
Due: üßπ JavaScript linting (eslint)

Drupal 10.6.4
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: üìã PHPUnit Unit (PHPStan rules)

Path conditions:
  üìã PHPUnit Unit (PHPStan rules): any of: core/tests/PHPStan/**/*, composer/Metapackage/PinnedDevDependencies/composer.json
  üßπ JavaScript linting (eslint): any of: core/.eslint*, core/.prettier*, core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/.stylelintrc.json, core/.prettier*, core/package.json, core/yarn.lock, **/*.css
  üì¶ Yarn install on minimum Node.js version: any of: core/package.json, core/yarn.lock
