Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üìã PHPUnit Unit (PHPStan rules), üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üì¶ Yarn install on minimum Node.js version

üìã PHPUnit Unit (PHPStan rules):
  stage: ‚ö°Ô∏è Tests
  needs: []
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - docker-php-ext-enable pcov
  - cd core/tests/PHPStan
  - composer install
  - vendor/bin/phpunit tests --testdox --coverage-text --colors=always --coverage-cobertura=coverage.cobertura.xml --log-junit junit.xml
  artifacts:
  ...

üßπ JavaScript linting (eslint):
  before_script:
  - cd core
  - corepack enable
  - yarn install
  - cd ..
  cache:
    key:
    - .yarn-install-from-cache
    - cache
    - key
    paths:
    - .yarn-install-from-cache
    - cache
    - paths
    policy: pull-push
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
    CACHE_FILE: core/.eslintcache
  ...

üßπ CSS linting (stylelint):
  before_script:
  - cd core
  - corepack enable
  - yarn install
  - cd ..
  cache:
    key:
      files:
      - ./core/package.json
      - ./core/yarn.lock
    paths:
    - ./core/.yarn/cache
    policy: pull
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
    CACHE_FILE: core/.stylelintcache
  script:
  ...

üì¶ Yarn install on minimum Node.js version:
  stage: ü™Ñ Lint
  image: node:20
  variables:
    KUBERNETES_CPU_REQUEST: '1'
  script:
  - cd core
  - corepack enable
  - echo -e "Node version $(node --version)\nYarn version $(corepack yarn --version)"
  - yarn install

fix: #3380334 user_update_10000 fails on role with no data
  core/modules/user/tests/src/Functional/Update/UserUpdateRoleMigrateTest.php
  core/modules/user/user.install
Due: none

task: #3610503 Optimize StorageCopyTrait::replaceStorageContents()
  core/lib/Drupal/Core/Config/MemoryStorage.php
  core/lib/Drupal/Core/Config/StorageCopyTrait.php
Due: none

task: #2012976 Deprecate user_logout() and user_login_finalize() and replace with a service
  core/modules/user/src/Controller/UserAuthenticationController.php
  core/modules/user/src/Controller/UserController.php
  core/modules/user/src/Form/UserCancelForm.php
  core/modules/user/src/Form/UserLoginForm.php
  core/modules/user/src/Form/UserLogoutConfirm.php
  core/modules/user/src/Form/UserPasswordForm.php
  core/modules/user/src/Plugin/rest/resource/UserRegistrationResource.php
  core/modules/user/src/RegisterForm.php
Due: none

task: #2012976 Deprecate user_logout() and user_login_finalize() and replace with a service
  core/includes/install.core.inc
  core/misc/cspell/dictionary.txt
  core/modules/user/src/Controller/UserAuthenticationController.php
  core/modules/user/src/Controller/UserController.php
  core/modules/user/src/EventSubscriber/MaintenanceModeSubscriber.php
  core/modules/user/src/Form/UserCancelForm.php
  core/modules/user/src/Form/UserLoginForm.php
  core/modules/user/src/Form/UserLogoutConfirm.php
  core/modules/user/src/Form/UserPasswordForm.php
  core/modules/user/src/LoginFinalizer.php
  core/modules/user/src/LogoutFinalizer.php
  core/modules/user/src/Plugin/rest/resource/UserRegistrationResource.php
  core/modules/user/src/RegisterForm.php
  core/modules/user/tests/src/Kernel/LoginFinalizerTest.php
  core/modules/user/tests/src/Kernel/LogoutFinalizerTest.php
  core/modules/user/user.module
  core/modules/user/user.services.yml
Due: üßπ JavaScript linting (eslint)

task: #3618955 Reduce necessary directory traversing in HookCollectorPass
  core/lib/Drupal/Core/Hook/HookCollectorBase.php
  core/lib/Drupal/Core/Hook/HookCollectorPass.php
  core/lib/Drupal/Core/Hook/ThemeHookCollectorPass.php
  core/tests/Drupal/Tests/Core/Hook/HookCollectorPassTest.php
Due: none

perf: #3591680 Use the YAML parsing cache collector for config file storage
  core/core.services.yml
  core/lib/Drupal/Core/Config/FileStorage.php
  core/lib/Drupal/Core/Config/InstallStorage.php
  core/lib/Drupal/Core/Config/SyncFactory.php
  core/lib/Drupal/Core/Extension/ModuleInstaller.php
  core/lib/Drupal/Core/Recipe/RecipeRunner.php
  core/lib/Drupal/Core/Utility/FileParsingCacheCollectorBase.php
  core/lib/Drupal/Core/Utility/YamlCacheCollector.php
Due: üßπ JavaScript linting (eslint)

fix: #3580733 Views status field triggers a PHP 8.5 deprecation on /admin/people
  core/themes/default_admin/src/Hook/PreprocessHooks.php
  core/themes/default_admin/templates/views/views-view-field--status.html.twig
  core/themes/default_admin/tests/src/Kernel/ViewsViewFieldStatusTest.php
Due: none

fix: #3615331 Invalid ARIA attribute aria-toolbar-link__labelledby on toolbar menus strips their accessible name
  core/themes/default_admin/templates/navigation/menu-region--middle.html.twig
  core/themes/default_admin/templates/navigation/menu-region--top.html.twig
Due: none

task: #3584347 Deprecate and replace system_admin_compact_mode()
  core/lib/Drupal/Core/Render/Element/SystemCompactLink.php
  core/modules/system/config/install/system.site.yml
  core/modules/system/config/schema/system.schema.yml
  core/modules/system/css/system.admin_compact.css
  core/modules/system/js/system.admin_compact.js
  core/modules/system/migrations/system_site.yml
  core/modules/system/src/Controller/SystemController.php
  core/modules/system/src/Theme/SystemAdminThemePreprocess.php
  core/modules/system/system.libraries.yml
  core/modules/system/system.module
  core/modules/system/system.post_update.php
  core/modules/system/templates/admin-block-content.html.twig
  core/modules/system/tests/src/Functional/System/AdminTest.php
  core/modules/system/tests/src/FunctionalJavascript/AdminCompactModeTest.php
  core/modules/system/tests/src/Kernel/Migrate/d6/MigrateSystemConfigurationTest.php
  core/modules/system/tests/src/Kernel/Migrate/d7/MigrateSystemConfigurationTest.php
  core/modules/user/src/Form/UserPermissionsForm.php
  core/profiles/demo_umami/config/install/system.site.yml
  core/profiles/standard/config/install/system.site.yml
  core/profiles/tests/testing_config_overrides/config/install/system.site.yml
  core/tests/Drupal/KernelTests/Core/Render/Element/RenderElementTypesTest.php
  core/tests/Drupal/Tests/Core/Form/ConfigTargetTest.php
  core/tests/fixtures/config_install/multilingual/system.site.yml
  core/tests/fixtures/config_install/testing_config_install/system.site.yml
  core/themes/claro/templates/admin/admin-block-content.html.twig
  core/themes/default_admin/templates/admin/admin-block-content.html.twig
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint)

fix: #3618127 Navigation top bar action buttons in dark mode have low color contrast
  core/themes/default_admin/css/components/button.css
  core/themes/default_admin/css/components/button.pcss.css
Due: üßπ CSS linting (stylelint)

task: #3549134 Move text_with_summary to its own module
  core/modules/system/tests/modules/olivero_test/config/install/core.entity_view_display.node.article.teaser.yml
  core/modules/text/config/schema/text.schema.yml
  core/modules/text/src/Hook/TextHooks.php
  core/modules/text/src/Plugin/Field/FieldFormatter/TextDefaultFormatter.php
  core/modules/text/src/Plugin/Field/FieldFormatter/TextTrimmedFormatter.php
  core/modules/text/tests/fixtures/update/add-text-with-summary-field.php
  core/modules/text/tests/src/Functional/TextFieldTest.php
  core/modules/text/tests/src/Functional/Update/TextWithSummaryUpdatePathTest.php
  core/modules/text/tests/src/Kernel/TextSummaryTest.php
  core/modules/text/text.install
  core/modules/text/text.libraries.yml
  core/modules/text/text.post_update.php
  core/modules/text_with_summary/config/schema/text_with_summary.schema.yml
  core/modules/text_with_summary/js/text.js
  core/modules/text_with_summary/src/Hook/TextWithSummaryHooks.php
  core/modules/text_with_summary/src/Plugin/Field/FieldFormatter/TextSummaryOrTrimmedFormatter.php
  core/modules/text_with_summary/src/Plugin/Field/FieldType/TextWithSummaryItem.php
  core/modules/text_with_summary/src/Plugin/Field/FieldWidget/TextareaWithSummaryWidget.php
  core/modules/text_with_summary/tests/modules/text_summary_test/js/text-summary-override.js
  core/modules/text_with_summary/tests/modules/text_summary_test/src/Hook/TextSummaryTestHooks.php
  core/modules/text_with_summary/tests/modules/text_summary_test/text_summary_test.info.yml
  core/modules/text_with_summary/tests/modules/text_summary_test/text_summary_test.libraries.yml
  core/modules/text_with_summary/tests/src/Functional/GenericTest.php
  core/modules/text_with_summary/tests/src/Functional/TextSummaryNodeFieldsTokenTest.php
  core/modules/text_with_summary/tests/src/Functional/TextareaWithSummaryTest.php
  core/modules/text_with_summary/tests/src/FunctionalJavascript/TextareaWithSummaryTest.php
  core/modules/text_with_summary/tests/src/Kernel/TextFormatterTest.php
  core/modules/text_with_summary/tests/src/Kernel/TextSummaryTest.php
  core/modules/text_with_summary/tests/src/Kernel/TextWithSummaryFileUsageTest.php
  core/modules/text_with_summary/tests/src/Kernel/TextWithSummaryItemTest.php
  core/modules/text_with_summary/tests/src/Kernel/TextWithSummaryTokenReplaceTest.php
  core/modules/text_with_summary/text_with_summary.info.yml
  core/modules/text_with_summary/text_with_summary.libraries.yml
Due: üßπ JavaScript linting (eslint)

task: #3580703 Deprecate update.module functions
  core/modules/locale/locale.api.php
  core/modules/package_manager/src/EventSubscriber/UpdateDataSubscriber.php
  core/modules/package_manager/src/PackageManagerUpdateProcessor.php
  core/modules/package_manager/src/ProjectInfo.php
  core/modules/package_manager/src/Validator/SupportedReleaseValidator.php
  core/modules/package_manager/tests/src/Kernel/ProjectInfoTest.php
  core/modules/system/src/Controller/DbUpdateController.php
  core/modules/update/src/Controller/UpdateController.php
  core/modules/update/src/Hook/UpdateCronHooks.php
  core/modules/update/src/Hook/UpdateExtensionHooks.php
  core/modules/update/src/Hook/UpdateHooks.php
  core/modules/update/src/Hook/UpdateRequirements.php
  core/modules/update/src/Hook/UpdateThemeHooks.php
  core/modules/update/src/ProjectRelease.php
  core/modules/update/src/ProjectSecurityData.php
  core/modules/update/src/UpdateFetcherInterface.php
  core/modules/update/src/UpdateManager.php
  core/modules/update/src/UpdateManagerInterface.php
  core/modules/update/src/UpdateMessageTrait.php
  core/modules/update/src/UpdateProcessorInterface.php
  core/modules/update/src/UpdateSettingsForm.php
  core/modules/update/tests/src/Functional/UpdateContribTest.php
  core/modules/update/tests/src/Functional/UpdateMiscTest.php
  core/modules/update/tests/src/Functional/UpdateSemverCoreTest.php
  core/modules/update/tests/src/Kernel/DevReleaseTest.php
  core/modules/update/tests/src/Kernel/UpdateCalculateProjectDataTest.php
  core/modules/update/tests/src/Kernel/UpdateStorageTest.php
  core/modules/update/tests/src/Unit/UpdateFetcherTest.php
  core/modules/update/update.api.php
  core/modules/update/update.compare.inc
  core/modules/update/update.module
Due: none

fix: #3616663 ElementInfoManager overwrites a form element's own #value_callback declaration
  core/lib/Drupal/Core/Render/Element/File.php
  core/lib/Drupal/Core/Render/ElementInfoManager.php
  core/tests/Drupal/Tests/Core/Render/ElementInfoManagerTest.php
Due: none

task: #3616645 Form #value_callback does not support CallableResolver-style callables
  core/lib/Drupal/Core/Form/FormBuilder.php
  core/tests/Drupal/KernelTests/Core/Form/FormDefaultHandlersTest.php
  core/tests/Drupal/KernelTests/Core/Form/ValueCallbackTestHelper.php
  core/tests/Drupal/Tests/Core/Form/FormBuilderTest.php
Due: none

task: #3612498 PhpUnitApiFindAllClassFilesTest not finding namespace errors
  core/modules/search/modules/search_node/tests/src/Kernel/NodeSearchTest.php
  core/tests/Drupal/KernelTests/Core/Test/PhpUnitApiFindAllClassFilesTest.php
Due: none

Revert "fix: #3616663 ElementInfoManager overwrites a form element's own #value_callback declaration"
  core/lib/Drupal/Core/Render/Element/File.php
  core/lib/Drupal/Core/Render/ElementInfoManager.php
  core/tests/Drupal/Tests/Core/Render/ElementInfoManagerTest.php
Due: none

fix: #3619688 Button misaligned in exposed filters within Admin theme
  core/themes/default_admin/default_admin.libraries.yml
Due: üßπ JavaScript linting (eslint)

task: #3151555 Deprecate user_picture_enabled()
  core/modules/system/src/Form/ThemeSettingsForm.php
  core/modules/user/src/Hook/UserHooks.php
  core/modules/user/user.module
Due: none

Revert "fix: #3556506 Respect allowed_formats settings in \Drupal\text\Plugin\Field\FieldType\TextItemBase::applyDefaultValue"
  core/modules/field/tests/src/Kernel/FieldKernelTestBase.php
  core/modules/menu_ui/tests/src/Kernel/MenuUiNodeTypeTest.php
  core/modules/migrate/tests/src/Kernel/MigrateBundleTest.php
  core/modules/migrate/tests/src/Kernel/MigrateLookupTest.php
  core/modules/migrate/tests/src/Kernel/MigrateRollbackTest.php
  core/modules/migrate/tests/src/Kernel/Plugin/EntityRevisionTest.php
  core/modules/migrate/tests/src/Kernel/Plugin/source/ContentEntityTest.php
  core/modules/system/tests/src/Kernel/Entity/EntityReferenceSelection/EntityReferenceSelectionAccessTest.php
  core/modules/taxonomy/tests/src/Kernel/PendingRevisionTest.php
  core/modules/taxonomy/tests/src/Kernel/TaxonomyRevisionVersionHistoryTest.php
  core/modules/taxonomy/tests/src/Kernel/TermEntityReferenceTest.php
  core/modules/text/src/Plugin/Field/FieldType/TextItemBase.php
  core/modules/text/tests/src/Kernel/TextItemBaseTest.php
Due: none

task: #3549134 Move text_with_summary to its own module
  core/modules/text_with_summary/tests/src/Kernel/TextFormatterTest.php
  core/modules/text_with_summary/tests/src/Kernel/TextWithSummaryFileUsageTest.php
Due: none

ci: #3614817 Reduce functional test job CPU and concurrency
  .gitlab-ci.yml
  core/modules/field/tests/src/Functional/EntityReference/EntityReferenceAutoCreateTest.php
  core/modules/field_ui/tests/src/FunctionalJavascript/ManageFieldsTest.php
  core/modules/jsonapi/tests/src/Functional/JsonApiRegressionTest.php
  core/modules/system/tests/src/Functional/Theme/ThemeUiTest.php
  core/modules/views_ui/tests/src/Functional/DisplayTest.php
  core/modules/workspaces/tests/src/FunctionalJavascript/WorkspacesMediaLibraryIntegrationTest.php
  core/tests/Drupal/FunctionalTests/Entity/RevisionDeleteFormTest.php
  core/tests/Drupal/FunctionalTests/Entity/RevisionRevertFormTest.php
Due: üßπ JavaScript linting (eslint)

task: #3619193 Remove search from starterkit_theme
  core/themes/starterkit_theme/css/components/search-results.css
  core/themes/starterkit_theme/starterkit_theme.libraries.yml
  core/themes/starterkit_theme/templates/block/block--search-form-block.html.twig
  core/themes/starterkit_theme/templates/content/search-result.html.twig
  core/themes/starterkit_theme/templates/dataset/item-list--search-results.html.twig
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint)

task: #3619751 Remove links from filter permission descriptions
  core/modules/filter/src/FilterPermissions.php
  core/modules/filter/tests/src/Kernel/FilterDefaultConfigTest.php
Due: none

Path conditions:
  üìã PHPUnit Unit (PHPStan rules): any of: core/tests/PHPStan/**/*, composer/Metapackage/PinnedDevDependencies/composer.json
  üßπ JavaScript linting (eslint): any of: core/.eslint*, core/.prettier*, core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/.stylelintrc.json, core/.prettier*, core/package.json, core/yarn.lock, **/*.css
  üì¶ Yarn install on minimum Node.js version: any of: core/package.json, core/yarn.lock
