Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

üßπ JavaScript linting (eslint):
  needs:
  - üì¶Ô∏è Yarn
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - cd core
  - corepack enable
  - yarn run check:ckeditor5
  - yarn run lint:core-js-passing --format gitlab
  artifacts:
    reports:
      codequality: eslint-quality-report.json

üßπ CSS linting (stylelint):
  needs:
  - üì¶Ô∏è Yarn
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - corepack enable
  - cd core
  - yarn run build:css --check
  - yarn run lint:css --color --custom-formatter=node_modules/stylelint-formatter-gitlab
  artifacts:
    reports:
      codequality: stylelint-quality-report.json

üìî Validatable config:
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  artifacts:
    expire_in: 1 week
    expose_as: validatable-config
    paths:
    - HEAD.json
    - MR.json
  allow_failure:
    exit_codes:
    - 100
    - 101
    - 1
  script:
  - git checkout -f $CI_MERGE_REQUEST_DIFF_BASE_SHA
  ...

Revert "Issue #3482464 by nicxvan, berdir: Backport Hook and LegacyHook Attribute"
  core/lib/Drupal/Core/Hook/Attribute/Hook.php
  core/lib/Drupal/Core/Hook/Attribute/LegacyHook.php
Due: none

Issue #3355485 by alexpott, robert-arias, phenaproxima, b_sharpe, yonas.legesse, sonfd, larowlan, longwave: Dependencies should be 'unpacked' to the root composer.json and merged/resolved
  composer.json
  composer.lock
  composer/Plugin/RecipeUnpack/CommandProvider.php
  composer/Plugin/RecipeUnpack/Plugin.php
  composer/Plugin/RecipeUnpack/README.md
  composer/Plugin/RecipeUnpack/RootComposer.php
  composer/Plugin/RecipeUnpack/SemVer.php
  composer/Plugin/RecipeUnpack/UnpackCollection.php
  composer/Plugin/RecipeUnpack/UnpackCommand.php
  composer/Plugin/RecipeUnpack/UnpackManager.php
  composer/Plugin/RecipeUnpack/UnpackOptions.php
  composer/Plugin/RecipeUnpack/Unpacker.php
  composer/Plugin/RecipeUnpack/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/.phpstan-baseline.php
  core/modules/package_manager/src/Validator/ComposerPluginsValidator.php
  core/tests/Drupal/BuildTests/Composer/Template/ComposerProjectTemplatesTest.php
  core/tests/Drupal/Tests/Composer/Plugin/ExecTrait.php
  core/tests/Drupal/Tests/Composer/Plugin/FixturesBase.php
  core/tests/Drupal/Tests/Composer/Plugin/Scaffold/Fixtures.php
  core/tests/Drupal/Tests/Composer/Plugin/Scaffold/Functional/ComposerHookTest.php
  core/tests/Drupal/Tests/Composer/Plugin/Scaffold/Functional/ManageGitIgnoreTest.php
  core/tests/Drupal/Tests/Composer/Plugin/Scaffold/Functional/ScaffoldUpgradeTest.php
  core/tests/Drupal/Tests/Composer/Plugin/Unpack/Fixtures.php
  core/tests/Drupal/Tests/Composer/Plugin/Unpack/Functional/UnpackRecipeTest.php
  core/tests/Drupal/Tests/Composer/Plugin/Unpack/SemVerTest.php
  core/tests/Drupal/Tests/Composer/Plugin/Unpack/fixtures/composer-root/composer.json.tmpl
  core/tests/Drupal/Tests/Composer/Plugin/Unpack/fixtures/modules/composer-module-a/composer.json
  core/tests/Drupal/Tests/Composer/Plugin/Unpack/fixtures/modules/composer-module-b/composer.json
  core/tests/Drupal/Tests/Composer/Plugin/Unpack/fixtures/recipes/composer-recipe-a/composer.json
  core/tests/Drupal/Tests/Composer/Plugin/Unpack/fixtures/recipes/composer-recipe-a/recipe.yml
  core/tests/Drupal/Tests/Composer/Plugin/Unpack/fixtures/recipes/composer-recipe-b/composer.json
  core/tests/Drupal/Tests/Composer/Plugin/Unpack/fixtures/recipes/composer-recipe-b/recipe.yml
  core/tests/Drupal/Tests/Composer/Plugin/Unpack/fixtures/recipes/composer-recipe-c/composer.json
  core/tests/Drupal/Tests/Composer/Plugin/Unpack/fixtures/recipes/composer-recipe-c/recipe.yml
  core/tests/Drupal/Tests/Composer/Plugin/Unpack/fixtures/recipes/composer-recipe-d/composer.json
  core/tests/Drupal/Tests/Composer/Plugin/Unpack/fixtures/recipes/composer-recipe-d/recipe.yml
  core/tests/Drupal/Tests/Composer/Plugin/Unpack/fixtures/themes/composer-theme-a/composer.json
Due: üßπ JavaScript linting (eslint)

Issue #3513410 by nicxvan, dww, larowlan: Convert hook_requirements() that do interact with install time that are not system
  core/.phpstan-baseline.php
  core/modules/layout_discovery/layout_discovery.install
  core/modules/layout_discovery/src/Install/Requirements/LayoutDiscoveryRequirements.php
  core/modules/media/media.install
  core/modules/media/src/Hook/MediaRequirementsHooks.php
  core/modules/media/src/Install/Requirements/MediaRequirements.php
  core/modules/package_manager/package_manager.install
  core/modules/package_manager/src/Hook/PackageManagerRequirementsHooks.php
  core/modules/package_manager/src/Install/Requirements/PackageManagerRequirements.php
  core/modules/pgsql/pgsql.install
  core/modules/pgsql/src/Hook/PgsqlRequirementsHooks.php
  core/modules/pgsql/src/Install/Requirements/PgsqlRequirements.php
  core/modules/system/tests/modules/requirements1_test/requirements1_test.install
  core/modules/workspaces/src/Install/Requirements/WorkspacesRequirements.php
  core/modules/workspaces/workspaces.install
  core/profiles/tests/testing_requirements/src/Install/Requirements/TestingRequirementsRequirements.php
  core/profiles/tests/testing_requirements/testing_requirements.install
Due: none

Issue #3520946 by phenaproxima, wim leers, longwave, penyaskito, larowlan: Make View blocks (block.settings.view_block:*) fully validatable
  core/modules/views/config/schema/views.schema.yml
  core/modules/views/src/Hook/ViewsHooks.php
  core/modules/views/src/Plugin/views/display/Block.php
  core/modules/views/tests/fixtures/update/views-block-items-per-page.php
  core/modules/views/tests/src/Functional/Plugin/ContextualFiltersBlockContextTest.php
  core/modules/views/tests/src/Functional/Update/BlockItemsPerPageUpdateTest.php
  core/modules/views/tests/src/Functional/Wizard/ItemsPerPageTest.php
  core/modules/views/tests/src/Kernel/Plugin/ViewsBlockTest.php
  core/modules/views/tests/src/Unit/Plugin/views/display/BlockTest.php
  core/modules/views/views.post_update.php
  core/profiles/demo_umami/config/install/block.block.umami_views_block__articles_aside_block_1.yml
  core/profiles/demo_umami/config/install/block.block.umami_views_block__promoted_items_block_1.yml
  core/profiles/demo_umami/config/install/block.block.umami_views_block__recipe_collections_block.yml
  core/profiles/demo_umami/config/install/core.entity_view_display.node.recipe.full.yml
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #3523378 by longwave: Bump twig/twig minimum version
  composer.lock
  core/composer.json
Due: none

Issue #2511330 by catch, wim leers, larowlan, godotislate, fabianx: Deprecate RendererInterface::render()'s sole $is_root_call parameter
  core/.phpstan-baseline.php
  core/lib/Drupal/Core/Render/Renderer.php
  core/lib/Drupal/Core/Render/RendererInterface.php
Due: none

Issue #1578832 by dcam, oily, vidorado, ttiurani, joseph.olstad, legolasbo, jenlampton, lpeabody, pdenooijer, lukassykora, adamtong: <front> menu links are missing active trail classes
  core/core.services.yml
  core/lib/Drupal/Core/Menu/MenuActiveTrail.php
  core/lib/Drupal/Core/Menu/MenuActiveTrailInterface.php
  core/modules/system/tests/src/Kernel/Block/StubPathMatcher.php
  core/modules/system/tests/src/Kernel/Block/SystemMenuBlockTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryFrontPagePerformanceTest.php
  core/profiles/standard/tests/src/FunctionalJavascript/StandardJavascriptTest.php
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTest.php
  core/tests/Drupal/Tests/Core/Menu/MenuActiveTrailTest.php
Due: üßπ JavaScript linting (eslint)

Issue #3471675 by amateescu, smustgrave, rkoller: RuntimeException when trying to add a new language
  core/.phpstan-baseline.php
  core/modules/workspaces/src/Hook/EntityOperations.php
  core/modules/workspaces/src/Hook/FormOperations.php
  core/modules/workspaces/tests/src/Functional/WorkspaceFormValidationTest.php
Due: none

Issue #3494634 by grimreaper, larowlan, pdureau, catch, godotislate: Compatibility between SDC and the Form API
  core/lib/Drupal/Core/Render/Element/ComponentElement.php
  core/tests/Drupal/KernelTests/Components/ComponentInFormTest.php
Due: none

Issue #3519917 by penyaskito, pdureau, larowlan: Disable additionalProperties in slots in SDC json schema
  core/assets/schemas/v1/metadata-full.schema.json
  core/assets/schemas/v1/metadata.schema.json
  core/tests/Drupal/Tests/Core/Theme/Component/ComponentValidatorTest.php
Due: none

Issue #3522354 by longwave, quietone: Update Composer dependencies for 10.5.0
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  core/lib/Drupal/Core/Cache/CacheTagsChecksumTrait.php
  core/lib/Drupal/Core/FileTransfer/FTP.php
  core/lib/Drupal/Core/FileTransfer/SSH.php
  core/phpstan.neon.dist
  core/tests/Drupal/Tests/Core/DependencyInjection/YamlFileLoaderTest.php
  core/tests/Drupal/Tests/Core/Form/ConfigFormBaseTraitTest.php
Due: none

Issue #3523284 by andypost: Update remaining Composer dependencies for 11.2.0
  composer.json
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/DevDependencies/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  core/composer.json
  core/modules/package_manager/tests/src/Build/TemplateProjectTestBase.php
Due: none

Issue #3203920 by larowlan, nod_, bnjmnm, vsujeetkumar, smustgrave, nicxvan, longwave: Replace Contextual Links BackboneJS usage with VanillaJS equivalent
  core/.phpstan-baseline.php
  core/modules/contextual/contextual.libraries.yml
  core/modules/contextual/css/contextual.theme.css
  core/modules/contextual/js/contextual.js
  core/modules/contextual/js/contextual.toolbar.js
  core/modules/contextual/js/contextualModelView.js
  core/modules/contextual/js/models/StateModel.js
  core/modules/contextual/js/toolbar/contextualToolbarModelView.js
  core/modules/contextual/js/toolbar/models/StateModel.js
  core/modules/contextual/js/toolbar/views/AuralView.js
  core/modules/contextual/js/toolbar/views/VisualView.js
  core/modules/contextual/js/views/AuralView.js
  core/modules/contextual/js/views/KeyboardView.js
  core/modules/contextual/js/views/RegionView.js
  core/modules/contextual/js/views/VisualView.js
  core/modules/contextual/tests/src/FunctionalJavascript/EditModeTest.php
  core/modules/navigation/tests/src/FunctionalJavascript/PerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/AssetAggregationAcrossPagesTest.php
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint)

Issue #3085781 by davps, bnjmnm, kentr, Kumar Kundan, abhisekmazumdar, kunalgautam, claudiu.cristea, anu.a_95, andrewmacpherson, smustgrave: aria-pressed attribute isn't updated correctly
  core/modules/toolbar/js/views/ToolbarVisualView.js
  core/modules/toolbar/tests/src/FunctionalJavascript/ToolbarIntegrationTest.php
Due: üßπ JavaScript linting (eslint)

Issue #3277262 by kentr, bnjmnm, sandip: Dialog close icon has poor contrast with forced-colors
  core/themes/claro/css/components/dialog.css
  core/themes/claro/css/components/dialog.pcss.css
  core/themes/claro/images/icons/buttonText/ex.svg
Due: üßπ CSS linting (stylelint)

Issue #3515093 by sandip, catch, smustgrave: Olivero table.css should be in its own library and #attached to tables
  core/themes/olivero/olivero.libraries.yml
  core/themes/olivero/olivero.theme
Due: üßπ JavaScript linting (eslint)

Issue #3432244 by catch, lauriii, smustgrave, nicxvan: Follow-up Split tablesort.module.css out to its own library and attach it via tablesort
  core/themes/claro/css/classy/components/tablesort.css
Due: üßπ CSS linting (stylelint)

Drupal 11.2.x-dev
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: none

Drupal 11.2.0-alpha1
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: none

Back to dev.
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: none

Drupal 11.3.x-dev
  core/lib/Drupal.php
Due: none

Issue #3379794 by znerol, alexpott, adamps, berdir, larowlan, andypost, longwave, dpi, catch: Add symfony mailer transports to Dependency Injection Container (mail delivery layer)
  core/lib/Drupal/Core/Mailer/Transport/SendmailCommandValidationTransportFactory.php
  core/lib/Drupal/Core/Mailer/TransportServiceFactory.php
  core/lib/Drupal/Core/Mailer/TransportServiceFactoryInterface.php
  core/lib/Drupal/Core/Mailer/TransportServiceFactoryTrait.php
  core/modules/mailer/mailer.info.yml
  core/modules/mailer/mailer.services.yml
  core/modules/mailer/src/Hook/MailerHooks.php
  core/modules/mailer/tests/modules/mailer_transport_factory_functional_test/mailer_transport_factory_functional_test.info.yml
  core/modules/mailer/tests/modules/mailer_transport_factory_functional_test/mailer_transport_factory_functional_test.routing.yml
  core/modules/mailer/tests/modules/mailer_transport_factory_functional_test/src/Controller/TransportInfoController.php
  core/modules/mailer/tests/modules/mailer_transport_factory_kernel_test/mailer_transport_factory_kernel_test.info.yml
  core/modules/mailer/tests/modules/mailer_transport_factory_kernel_test/mailer_transport_factory_kernel_test.services.yml
  core/modules/mailer/tests/modules/mailer_transport_factory_kernel_test/src/Transport/CanaryTransport.php
  core/modules/mailer/tests/modules/mailer_transport_factory_kernel_test/src/Transport/CanaryTransportFactory.php
  core/modules/mailer/tests/src/Functional/GenericTest.php
  core/modules/mailer/tests/src/Functional/TransportServiceFactoryTest.php
  core/modules/mailer/tests/src/Kernel/TransportTest.php
Due: üßπ JavaScript linting (eslint)

Issue #3517481 by mradcliffe, smustgrave: askHidden prompt fails with "Unknown named parameter $default"
  core/lib/Drupal/Core/Recipe/ConsoleInputCollector.php
  core/tests/Drupal/KernelTests/Core/Recipe/InputTest.php
Due: none

Issue #3500683 by berdir, nod_, kristiaanvandeneynde, catch: Backport interface to allow access policies to opt out of caching
  core/lib/Drupal/Core/Cache/CacheOptionalInterface.php
Due: none

Issue #3516520 by larowlan, wim leers, penyaskito: LanguageItem lacks a schema for its default values
  core/config/schema/core.data_types.schema.yml
  core/tests/Drupal/KernelTests/Config/Schema/MappingTest.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #3456676 by reinfate, grimreaper, pdureau, alexpott: Single Directory Components templates are not auto reloaded after change
  core/lib/Drupal/Core/Template/Loader/ComponentLoader.php
  core/tests/Drupal/Tests/Core/Theme/Component/ComponentLoaderTest.php
Due: none

Issue #3518527 by znerol, andypost, smustgrave, catch: Deprecate custom keys in $_SESSION
  core/.phpstan-baseline.php
  core/lib/Drupal/Core/Session/SessionManager.php
  core/modules/system/tests/modules/session_test/session_test.routing.yml
  core/modules/system/tests/modules/session_test/src/Controller/LegacySessionTestController.php
  core/modules/system/tests/modules/session_test/src/Controller/SessionTestController.php
  core/modules/system/tests/src/Functional/Session/LegacySessionTest.php
Due: üßπ JavaScript linting (eslint)

Issue #3516477 by catch, ericgsmith, acbramley, kristiaanvandeneynde, mxr576: Avoid cache redirect error when using 'view own unpublished content' permission alongside node grants
  core/modules/node/src/NodeAccessControlHandler.php
  core/modules/node/tests/src/Functional/NodeAccessCacheRedirectWarningTest.php
Due: none

Issue #3516348 by bbrala, longwave, andypost, larowlan, jackfoust, mlubbers: Allow 6.x version of justinrainbow/json-schema
  composer.json
  composer.lock
  composer/Metapackage/DevDependencies/composer.json
  core/lib/Drupal/Core/Theme/Component/ComponentValidator.php
  core/tests/Drupal/Tests/Core/Theme/Component/ComponentValidatorTest.php
Due: none

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/package.json, core/yarn.lock, **/*.css
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module
