Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üìã PHPUnit Unit (PHPStan rules), üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üì¶ Yarn install on minimum Node.js version

Path conditions:
  üìã PHPUnit Unit (PHPStan rules): any of: core/tests/PHPStan/**/*, composer/Metapackage/PinnedDevDependencies/composer.json
  üßπ JavaScript linting (eslint): any of: core/.eslint*, core/.prettier*, core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/.stylelintrc.json, core/.prettier*, core/package.json, core/yarn.lock, **/*.css
  üì¶ Yarn install on minimum Node.js version: any of: core/package.json, core/yarn.lock

Drupal 11.2.14
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  core/lib/Drupal.php
Due: üìã PHPUnit Unit (PHPStan rules)

fix: #3599842 guzzlehttp/psr7 needs to be updated to >2.10.2 to fix 2 security issues
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  core/composer.json
Due: none

SA-CORE-2026-005 by michaelmaturi, bbrala, berdir, larowlan, longwave, mcdruid, akalata, benjifisher, damienmckenna, david strauss, drumm, greggles, hestenet, poker10, ram4nd, xjm
  core/modules/jsonapi/src/Controller/EntityResource.php
  core/modules/serialization/src/Normalizer/PrimitiveDataNormalizer.php
Due: none

SA-CORE-2026-006 by michaelmaturi, larowlan, mohit_aghera, akalata, benjifisher, cilefen, greggles, longwave, mcdruid, poker10, xjm
  core/lib/Drupal/Component/Datetime/DateTimePlus.php
Due: none

SA-CORE-2026-007 by melih-acikoz, michaelwinser, willempje2, larowlan, catch, cilefen, greggles, neclimdul, poker10
  core/rebuild.php
Due: none

SA-CORE-2026-009 by cantina_security, bbrala, kim.pepper, larowlan, damienmckenna, greggles, poker10
  core/modules/file/src/Plugin/rest/resource/FileUploadResource.php
  core/modules/jsonapi/src/Controller/FileUpload.php
Due: none

Drupal 10.6.11
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  core/lib/Drupal.php
Due: üìã PHPUnit Unit (PHPStan rules)

Drupal 10.5.12
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  core/lib/Drupal.php
Due: üìã PHPUnit Unit (PHPStan rules)

Back to dev.
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/DevDependencies/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: üìã PHPUnit Unit (PHPStan rules)

fix: #3599189 Some deprecation messages are missing E_USER_DEPRECATED
  core/lib/Drupal/Core/Entity/TypedData/EntityDataDefinition.php
  core/lib/Drupal/Core/Field/BaseFieldDefinition.php
  core/lib/Drupal/Core/Field/FieldConfigBase.php
Due: none

fix: #3601433 Fix local_status deprecation by clearing source in a post update
  core/modules/locale/locale.module
  core/modules/locale/locale.post_update.php
Due: none

fix: #3597406 [regression] DrupalApplication (for 'dr') needs to support DRUPAL_DEV_SITE_PATH env var
  core/lib/Drupal/Core/Command/DrupalApplication.php
  core/tests/Drupal/FunctionalTests/Core/Recipe/RecipeTestTrait.php
Due: none

task: #3594426 Use local variable over object in \Drupal\Core\Entity\Sql\SqlContentEntityStorage::loadFromDedicatedTables() for column names
  core/lib/Drupal/Core/Entity/Sql/SqlContentEntityStorage.php
  core/modules/jsonapi/tests/src/Functional/ResourceTestBase.php
  core/modules/rest/tests/src/Functional/EntityResource/EntityResourceTestBase.php
Due: none

task: #3590536 Add a MAINTAINERS.txt entry for Drupal CLI with Moshe and dww as co-maintainers
  core/MAINTAINERS.txt
Due: none

fix: #3585723 #date_year_range does not support years < 1000
  core/lib/Drupal/Core/Datetime/Element/DateElementBase.php
  core/tests/Drupal/Tests/Core/Datetime/Element/DateElementBaseTest.php
Due: none

task: #3514748 (11.x revert) Remove legacy browser support from js.module.css
  core/modules/system/css/components/js.module.css
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTest.php
Due: üßπ CSS linting (stylelint)
