Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Unit tests PHPStan rules, üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

Unit tests PHPStan rules:
  stage: ‚ö°Ô∏è Unit tests
  needs: []
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - docker-php-ext-enable pcov
  - cd core/tests/PHPStan
  - composer install
  - vendor/bin/phpunit tests --testdox --coverage-text --colors=always --coverage-cobertura=coverage.cobertura.xml --log-junit junit.xml
  ...

üßπ JavaScript linting (eslint):
  before_script:
  - cd core
  - corepack enable
  - yarn install
  - cd ..
  cache:
    key:
    - .yarn-install-from-cache
    - cache
    - key
    paths:
    - .yarn-install-from-cache
    - cache
    - paths
    policy: pull-push
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
    CACHE_FILE: core/.eslintcache
  ...

üßπ CSS linting (stylelint):
  before_script:
  - cd core
  - corepack enable
  - yarn install
  - cd ..
  cache:
    key:
      files:
      - ./core/package.json
      - ./core/yarn.lock
    paths:
    - ./core/.yarn/cache
    policy: pull
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
    CACHE_FILE: core/.stylelintcache
  script:
  ...

üìî Validatable config:
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  artifacts:
    expire_in: 1 week
    expose_as: validatable-config
    paths:
    - HEAD.json
    - MR.json
  allow_failure:
    exit_codes:
    - 100
    - 101
    - 1
  script:
  - git checkout -f $CI_MERGE_REQUEST_DIFF_BASE_SHA
  ...

perf: #3551308 Combine single cardinality fields into a single database query when loading entities
  core/lib/Drupal/Core/Entity/Sql/SqlContentEntityStorage.php
  core/modules/jsonapi/tests/src/Functional/ResourceTestBase.php
  core/modules/jsonapi/tests/src/FunctionalJavascript/JsonApiPerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryAuthenticatedPerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryFrontPagePerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryNodePagePerformanceTest.php
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTest.php
Due: none

fix: #3562319 [regression] The installer does not properly load the theme
  core/includes/install.core.inc
  core/lib/Drupal/Core/Installer/InstallerKernel.php
  core/modules/system/tests/themes/test_installer_theme/test_installer_theme.info.yml
  core/modules/system/tests/themes/test_installer_theme/test_installer_theme.theme
  core/tests/Drupal/FunctionalTests/Installer/DistributionProfileTest.php
  core/tests/Drupal/FunctionalTests/Installer/InstallerTest.php
Due: üßπ JavaScript linting (eslint)

fix: #3127026 Not possible to override an entity type class multiple times
  core/lib/Drupal/Core/Entity/EntityType.php
  core/lib/Drupal/Core/Entity/EntityTypeInterface.php
  core/lib/Drupal/Core/Entity/EntityTypeRepository.php
  core/modules/layout_builder/tests/modules/layout_builder_override/layout_builder_override.info.yml
  core/modules/layout_builder/tests/modules/layout_builder_override/src/Entity/EntityViewDisplay.php
  core/modules/layout_builder/tests/modules/layout_builder_override/src/Hook/LayoutBuilderOverrideHook.php
  core/modules/layout_builder/tests/modules/layout_builder_override/src/LayoutBuilderEntityViewDisplay.php
  core/modules/layout_builder/tests/modules/layout_builder_override_dependency/layout_builder_override_dependency.info.yml
  core/modules/layout_builder/tests/modules/layout_builder_override_dependency/src/Hook/LayoutBuilderOverrideHook.php
  core/modules/layout_builder/tests/modules/layout_builder_override_dependency/src/LayoutBuilderEntityViewDisplay.php
  core/modules/layout_builder/tests/src/Kernel/LayoutBuilderOverrideTest.php
  core/tests/Drupal/Tests/Core/Entity/EntityTypeRepositoryTest.php
  core/tests/Drupal/Tests/Core/Entity/EntityTypeTest.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

fix: #3562009 Off canvas on the right is now always full-width
  core/misc/dialog/off-canvas/css/wrapper.css
  core/misc/dialog/off-canvas/css/wrapper.pcss.css
Due: üßπ CSS linting (stylelint)

fix: #2550977 FileItem::generateSampleValue() should generate files with the actual allowed extensions
  core/modules/file/src/Plugin/Field/FieldType/FileItem.php
  core/modules/file/tests/src/Kernel/FileItemTest.php
  core/modules/workspaces/tests/src/Kernel/WorkspacesFileItemTest.php
Due: none

fix: #3562627 Move justinrainbow/json-schema to core/composer.json
  composer.json
  composer.lock
  core/composer.json
Due: none

task: #3502752 Deprecate migrate destination plugins needed only for site upgrades
  core/.deprecation-ignore.txt
  core/.phpstan-baseline.php
  core/modules/block/src/Plugin/migrate/destination/EntityBlock.php
  core/modules/comment/src/Plugin/migrate/destination/EntityComment.php
  core/modules/migrate/src/Plugin/Derivative/MigrateEntityComplete.php
  core/modules/migrate/src/Plugin/migrate/destination/EntityContentComplete.php
  core/modules/node/src/Plugin/migrate/destination/EntityNodeType.php
  core/modules/search/src/Plugin/migrate/destination/EntitySearchPage.php
  core/modules/shortcut/src/Plugin/migrate/destination/EntityShortcutSet.php
  core/modules/system/src/Plugin/migrate/destination/d7/ThemeSettings.php
  core/modules/user/src/Plugin/migrate/destination/EntityUserRole.php
Due: none

revert: #3365985 Promote justinrainbow/json-schema from dev-dependency to full dependency
  composer.json
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/DevDependencies/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
Due: Unit tests PHPStan rules

fix: #3274635 [upstream] Use CKEditor 5's native <ol type> and <ul type> UX
  core/modules/ckeditor5/ckeditor5.post_update.php
  core/modules/ckeditor5/src/Hook/Ckeditor5Hooks.php
  core/modules/ckeditor5/tests/fixtures/update/remove-source-editing-from-full-html-editor.php
  core/modules/ckeditor5/tests/src/Functional/Update/AddListPluginStylesTest.php
  core/modules/ckeditor5/tests/src/FunctionalJavascript/CKEditor5Test.php
Due: üìî Validatable config

Drupal 11.3.0-rc2
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: Unit tests PHPStan rules

Back to dev.
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: Unit tests PHPStan rules

task: #3549727 Fix LongLineDeclaration in module Controller, Hook and Database directories
  core/modules/big_pipe/src/Controller/BigPipeController.php
  core/modules/block/src/Hook/BlockHooks.php
  core/modules/block_content/src/Hook/BlockContentHooks.php
  core/modules/ckeditor5/src/Hook/Ckeditor5Hooks.php
  core/modules/comment/src/Hook/CommentThemeHooks.php
  core/modules/config/tests/config_test/src/Hook/ConfigTestHooks.php
  core/modules/contact/src/Hook/ContactHooks.php
  core/modules/content_moderation/src/Hook/ContentModerationHooks.php
  core/modules/content_translation/src/Hook/ContentTranslationFormHooks.php
  core/modules/content_translation/src/Hook/ContentTranslationFormLanguageHooks.php
  core/modules/content_translation/src/Hook/ContentTranslationHooks.php
  core/modules/history/src/Controller/HistoryController.php
  core/modules/image/src/Controller/ImageStyleDownloadController.php
  core/modules/jsonapi/src/Controller/EntityResource.php
  core/modules/locale/src/Hook/LocaleRequirements.php
  core/modules/menu_ui/src/Hook/MenuUiHooks.php
  core/modules/mysql/src/Driver/Database/mysql/Install/Tasks.php
  core/modules/node/src/Controller/NodeController.php
  core/modules/node/src/Hook/NodeThemeHooks.php
  core/modules/path/src/Hook/PathHooks.php
  core/modules/pgsql/src/Driver/Database/pgsql/Install/Tasks.php
  core/modules/pgsql/src/Driver/Database/pgsql/Schema.php
  core/modules/sqlite/src/Driver/Database/sqlite/Connection.php
  core/modules/sqlite/src/Driver/Database/sqlite/Install/Tasks.php
  core/modules/sqlite/src/Driver/Database/sqlite/Schema.php
  core/modules/taxonomy/src/Hook/TaxonomyTokensHooks.php
  core/modules/update/src/Hook/UpdateHooks.php
  core/modules/update/src/Hook/UpdateRequirements.php
  core/modules/user/src/Controller/UserAuthenticationController.php
  core/modules/user/src/Controller/UserController.php
  core/modules/views/src/Hook/ViewsTokensHooks.php
  core/modules/views/src/Hook/ViewsViewsHooks.php
  core/modules/views_ui/src/Hook/ViewsUiThemeHooks.php
  core/modules/workspaces_ui/src/Hook/WorkspacesUiHooks.php
  core/phpcs.xml.dist
Due: üìî Validatable config

task: #3549727 Fix LongLineDeclaration in module Controller, Hook and Database directories
  core/modules/big_pipe/src/Controller/BigPipeController.php
  core/modules/block/src/Hook/BlockHooks.php
  core/modules/block_content/src/Hook/BlockContentHooks.php
  core/modules/ckeditor5/src/Hook/Ckeditor5Hooks.php
  core/modules/comment/src/Hook/CommentThemeHooks.php
  core/modules/config/tests/config_test/src/Hook/ConfigTestHooks.php
  core/modules/contact/src/Hook/ContactHooks.php
  core/modules/content_moderation/src/Hook/ContentModerationHooks.php
  core/modules/content_translation/src/Hook/ContentTranslationHooks.php
  core/modules/history/src/Controller/HistoryController.php
  core/modules/image/src/Controller/ImageStyleDownloadController.php
  core/modules/jsonapi/src/Controller/EntityResource.php
  core/modules/locale/src/Hook/LocaleRequirements.php
  core/modules/menu_ui/src/Hook/MenuUiHooks.php
  core/modules/mysql/src/Driver/Database/mysql/Install/Tasks.php
  core/modules/node/src/Controller/NodeController.php
  core/modules/node/src/Hook/NodeThemeHooks.php
  core/modules/path/src/Hook/PathHooks.php
  core/modules/pgsql/src/Driver/Database/pgsql/Install/Tasks.php
  core/modules/pgsql/src/Driver/Database/pgsql/Schema.php
  core/modules/sqlite/src/Driver/Database/sqlite/Connection.php
  core/modules/sqlite/src/Driver/Database/sqlite/Install/Tasks.php
  core/modules/sqlite/src/Driver/Database/sqlite/Schema.php
  core/modules/taxonomy/src/Hook/TaxonomyTokensHooks.php
  core/modules/update/src/Hook/UpdateHooks.php
  core/modules/update/src/Hook/UpdateRequirements.php
  core/modules/user/src/Controller/UserAuthenticationController.php
  core/modules/user/src/Controller/UserController.php
  core/modules/views/src/Hook/ViewsTokensHooks.php
  core/modules/views/src/Hook/ViewsViewsHooks.php
  core/modules/views_ui/src/Hook/ViewsUiThemeHooks.php
  core/modules/workspaces_ui/src/Hook/WorkspacesUiHooks.php
  core/phpcs.xml.dist
Due: üìî Validatable config

fix: #3551308 Followup to hotfix PHP 8.3
  core/lib/Drupal/Core/Entity/Sql/SqlContentEntityStorage.php
Due: none

docs: #3496417 Fix PHPStan missingType.generics for FieldItemListInterface not specifying its type
  core/.phpstan-baseline.php
  core/lib/Drupal/Core/Entity/ContentEntityBase.php
  core/lib/Drupal/Core/Entity/ContentEntityStorageBase.php
  core/lib/Drupal/Core/Field/FieldItemList.php
  core/lib/Drupal/Core/Field/FieldItemListInterface.php
  core/lib/Drupal/Core/Field/FieldTypePluginManagerInterface.php
  core/lib/Drupal/Core/TypedData/ListInterface.php
  core/lib/Drupal/Core/TypedData/Plugin/DataType/ItemList.php
  core/lib/Drupal/Core/TypedData/TraversableTypedDataInterface.php
  core/modules/jsonapi/src/JsonApiResource/ResourceObject.php
  core/modules/serialization/tests/src/Unit/Normalizer/ContentEntityNormalizerTest.php
  core/tests/Drupal/Tests/Core/Entity/EntityConstraintViolationListTest.php
Due: none

fix: #3559059 Add UserAuthenticationInterface alias to user.auth service
  core/modules/user/user.services.yml
Due: üßπ JavaScript linting (eslint)

fix: #3558939 options_config_install_test has unnecessary Body field
  core/modules/options/tests/options_config_install_test/config/install/core.entity_form_display.node.options_install_test.default.yml
  core/modules/options/tests/options_config_install_test/config/install/core.entity_view_display.node.options_install_test.default.yml
  core/modules/options/tests/options_config_install_test/config/install/core.entity_view_display.node.options_install_test.teaser.yml
  core/modules/options/tests/options_config_install_test/config/install/field.field.node.options_install_test.body.yml
  core/modules/options/tests/options_config_install_test/config/install/field.storage.node.body.yml
Due: üßπ JavaScript linting (eslint)

fix: #3446368 SymfonyMailer RfcComplianceException when sending to multiple comma-separated addresses
  core/lib/Drupal/Core/Mail/Plugin/Mail/SymfonyMailer.php
  core/tests/Drupal/Tests/Core/Mail/Plugin/Mail/SymfonyMailerTest.php
Due: none

fix: #3463592 Require label and category properties for layout plugins
  core/lib/Drupal/Core/Layout/Attribute/Layout.php
  core/lib/Drupal/Core/Layout/LayoutPluginManager.php
  core/tests/Drupal/Tests/Core/Layout/LayoutAttributeTest.php
  core/tests/Drupal/Tests/Core/Layout/LayoutPluginManagerTest.php
Due: none

Drupal 10.6.0
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: Unit tests PHPStan rules

Drupal 11.3.0
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: Unit tests PHPStan rules

feat: #3563642 Drupal 10.6 incompatible with doctrine/lexer 3
  composer.lock
  core/composer.json
  core/lib/Drupal/Component/Annotation/composer.json
Due: none

fix: #3563876 TypeError: trigger_error(): Argument #2 () must be of type int, string given in trigger_error()
  core/modules/comment/src/CommentManager.php
Due: none

fix: #3562753 History module triggers ServiceNotFoundException for comment.manager when Comment module is not enabled
  core/modules/history/src/Hook/HistoryTokensHooks.php
  core/modules/history/tests/src/Unit/HistoryTokensHooksTest.php
Due: üìî Validatable config

Path conditions:
  Unit tests PHPStan rules: any of: core/tests/PHPStan/**/*, composer/Metapackage/PinnedDevDependencies/composer.json
  üßπ JavaScript linting (eslint): any of: core/.eslint*, core/.prettier*, core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/.stylelintrc.json, core/.prettier*, core/package.json, core/yarn.lock, **/*.css
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module, **/src/Hook/*.php
