Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/package.json, core/yarn.lock, **/*.css
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module

Issue #3396099 by Utkarsh_33, nod_, Gauravvvv, bnjmnm, tedbow, smustgrave, Anybody, Rob230: The core/drupal.message library requires a status_messages render element
  core/misc/message.js
  core/modules/system/src/Controller/BatchController.php
Due: üßπ JavaScript linting (eslint)

Issue #3155411 by quietone, smustgrave, jungle, longwave: Add "writeable" to the "flagWords" in core/.cspell.json
  core/.cspell.json
  core/tests/Drupal/Tests/StreamCapturer.php
Due: none

Issue #3455110 by jagraj_singh_gill, joachim: HandlerStackConfigurator has @see to class that no longer exists
  core/lib/Drupal/Core/Http/HandlerStackConfigurator.php
Due: none

Issue #3441010 by catch, longwave, larowlan, dpi, dqd, geek-merlin, el7cosmos: Container compile crash when a service decorates a destructable service
  core/lib/Drupal/Core/Extension/ModuleHandler.php
  core/lib/Drupal/Core/Extension/ModuleHandlerInterface.php
Due: none

Issue #3432595 follow-up by mikelutz: Use a tagged service iterator for uninstall validators instead of individual lazy proxies
  core/lib/Drupal/Core/Extension/ModuleInstallerInterface.php
Due: none

Issue #3401255 by znerol, smustgrave, borisson_, phenaproxima, penyaskito, kunal.sachdev: Tighten config validation schema of system.mail mailer_dsn
  core/config/schema/core.data_types.schema.yml
  core/lib/Drupal/Core/Validation/Plugin/Validation/Constraint/UriHostConstraint.php
  core/lib/Drupal/Core/Validation/Plugin/Validation/Constraint/UriHostConstraintValidator.php
  core/misc/cspell/dictionary.txt
  core/modules/config/tests/config_test/config/install/config_test.validation.yml
  core/modules/config/tests/config_test/config/schema/config_test.schema.yml
  core/modules/system/config/schema/system.schema.yml
  core/tests/Drupal/KernelTests/Config/TypedConfigTest.php
  core/tests/Drupal/KernelTests/Core/Config/MailerDsnConfigValidationTest.php
  core/tests/Drupal/KernelTests/Core/Validation/ConstraintsTest.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #3436164 by omkar.podey, kunal.sachdev, pradhumanjain2311, smustgrave, Wim Leers, narendraR, alexpott, larowlan, borisson_: Add validation constraints to user.settings
  core/modules/user/config/schema/user.schema.yml
  core/modules/user/migrations/d6_user_settings.yml
  core/modules/user/migrations/d7_user_settings.yml
  core/modules/user/src/Plugin/Validation/Constraint/UserCancelMethodsConstraint.php
  core/modules/user/tests/src/Kernel/UserConfigValidationTest.php
  core/modules/user/tests/src/Kernel/UserMailNotifyTest.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #3336070 by mikelutz, efpapado, smustgrave, quietone, danflanagan8: skip_on_empty documentation is confusing when skipping a process
  core/modules/migrate/src/Plugin/migrate/process/SkipOnEmpty.php
Due: none

Issue #3456112 by quietone: Ignore another nonsense word used in hashes
  core/misc/cspell/dictionary.txt
  core/modules/big_pipe/tests/modules/big_pipe_test/src/BigPipePlaceholderTestCases.php
  core/modules/big_pipe/tests/src/Unit/Render/FiberPlaceholderTest.php
Due: none

Issue #3455912 by quietone: Fix spelling for 10 words used in tests
  core/misc/cspell/dictionary.txt
  core/modules/block/tests/src/Functional/BlockUiTest.php
  core/modules/block_content/tests/src/Functional/BlockContentCreationTest.php
  core/modules/config_translation/tests/src/Functional/ConfigTranslationUiModulesTest.php
  core/modules/layout_builder/tests/modules/layout_builder_test/src/Plugin/Block/TestAjaxBlock.php
  core/modules/layout_builder/tests/src/Functional/LayoutBuilderBlocksTest.php
  core/modules/layout_builder/tests/src/FunctionalJavascript/AjaxBlockTest.php
  core/modules/layout_builder/tests/src/FunctionalJavascript/ContentPreviewToggleTest.php
  core/modules/layout_builder/tests/src/FunctionalJavascript/ContextualLinksTest.php
  core/modules/layout_builder/tests/src/FunctionalJavascript/LayoutBuilderDisableInteractionsTest.php
  core/modules/layout_builder/tests/src/FunctionalJavascript/LayoutBuilderUiTest.php
  core/modules/layout_builder/tests/src/FunctionalJavascript/MoveBlockFormTest.php
  core/modules/system/tests/modules/ajax_forms_test/ajax_forms_test.module
  core/modules/system/tests/src/Functional/UpdateSystem/UpdatePathTestBaseFilledTest.php
  core/modules/system/tests/src/Kernel/Mail/MailTest.php
  core/tests/Drupal/FunctionalJavascriptTests/Ajax/CommandsTest.php
  core/tests/Drupal/FunctionalJavascriptTests/Ajax/DialogTest.php
  core/tests/Drupal/Tests/Core/Mail/MailManagerTest.php
Due: üìî Validatable config

Issue #3447748 by joelpittet, ramil g, smustgrave: TypeError: Illegal offset type in isset or empty in FormValidator->performRequiredValidation()
  core/lib/Drupal/Core/Form/FormValidator.php
  core/tests/Drupal/Tests/Core/Form/FormValidatorTest.php
Due: none

Issue #3457778 by markconroy, ressa: Reorder checkboxes on "Development settings" page
  core/modules/system/src/Form/DevelopmentSettingsForm.php
Due: none

Issue #3455113 by b_sharpe, ankitv18, alexpott, pooja_sharma, phenaproxima, thejimbirch: Rename ensure_exists to createIfNotExists, and camel-case simpleConfigUpdate for consistency
  core/lib/Drupal/Core/Config/Action/ConfigActionManager.php
  core/lib/Drupal/Core/Config/Action/Plugin/ConfigAction/Deriver/EntityCreateDeriver.php
  core/lib/Drupal/Core/Config/Action/Plugin/ConfigAction/SimpleConfigUpdate.php
  core/recipes/administrator_role/recipe.yml
  core/recipes/content_editor_role/recipe.yml
  core/recipes/core_recommended_admin_theme/recipe.yml
  core/recipes/core_recommended_front_end_theme/recipe.yml
  core/recipes/example/recipe.yml
  core/recipes/feedback_contact_form/recipe.yml
  core/recipes/standard/recipe.yml
  core/tests/Drupal/KernelTests/Core/Config/Action/ConfigActionTest.php
  core/tests/Drupal/KernelTests/Core/Recipe/ConfigActionValidationTest.php
  core/tests/Drupal/KernelTests/Core/Recipe/RecipeRunnerTest.php
  core/tests/Drupal/KernelTests/Core/Recipe/RecipeValidationTest.php
  core/tests/Drupal/KernelTests/Core/Recipe/WildcardConfigActionsTest.php
  core/tests/fixtures/recipes/config_actions/recipe.yml
  core/tests/fixtures/recipes/config_actions_dependency_validation/direct_dependency/recipe.yml
  core/tests/fixtures/recipes/config_actions_dependency_validation/indirect_dependency_one_level_down/recipe.yml
  core/tests/fixtures/recipes/config_actions_dependency_validation/indirect_dependency_two_levels_down/recipe.yml
  core/tests/fixtures/recipes/config_rollback_exception/recipe.yml
Due: üßπ JavaScript linting (eslint)

Issue #3440169 by pooja_sharma, marcoliver, smustgrave, DYdave, alexpott: When using drupalGet(), provide an associative array for $headers
  core/modules/language/tests/src/Functional/LanguageBrowserDetectionAcceptLanguageTest.php
  core/modules/menu_ui/tests/src/Functional/MenuUiTest.php
  core/modules/page_cache/tests/src/Functional/PageCacheTest.php
  core/modules/rest/tests/src/Functional/Views/StyleSerializerEntityTest.php
  core/modules/system/tests/src/Functional/Ajax/FrameworkTest.php
  core/modules/system/tests/src/Functional/DrupalKernel/ContentNegotiationTest.php
  core/modules/system/tests/src/Functional/Form/StorageTest.php
  core/modules/system/tests/src/Functional/Routing/RouterTest.php
  core/modules/system/tests/src/Functional/Session/StackSessionHandlerIntegrationTest.php
  core/modules/toolbar/tests/src/Functional/ToolbarAdminMenuTest.php
  core/tests/Drupal/Tests/UiHelperTrait.php
Due: none
