Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), ‚úÖÔ∏è PHPStan rules tests, üìî Validatable config

üßπ JavaScript linting (eslint):
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - - mkdir /build;
    - cp -Ria $CI_PROJECT_DIR/* /build/
    - cd /build
  ...

üßπ CSS linting (stylelint):
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - - mkdir /build;
    - cp -Ria $CI_PROJECT_DIR/* /build/
    - cd /build
  ...

‚úÖÔ∏è PHPStan rules tests:
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - docker-php-ext-enable pcov
  - cd core/tests/PHPStan
  - composer install
  - vendor/bin/phpunit tests --testdox --coverage-text --colors=always --coverage-cobertura=coverage.cobertura.xml --log-junit junit.xml
  artifacts:
    when: always
  ...

üìî Validatable config:
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
    _TARGET_PHP: 8.3-ubuntu
  artifacts:
    expire_in: 1 week
    expose_as: validatable-config
    paths:
    - HEAD.json
    - MR.json
  allow_failure:
    exit_codes:
    - 100
    - 101
    - 1
  script:
  - git checkout -f $CI_MERGE_REQUEST_DIFF_BASE_SHA
  ...

Issue #3473029 by dcam, annmarysruthy, igorgoncalves, smustgrave, guillaumepacilly: Wrong maxlength on Authored By field for translation
  core/modules/content_translation/src/ContentTranslationHandler.php
  core/modules/content_translation/tests/src/Functional/ContentTranslationUITestBase.php
Due: none

Issue #3533084 by ajinkya45, larowlan, borisson_: Update use of Range constraint with min 0 to use PositiveOrZero instead
  core/config/schema/core.data_types.schema.yml
  core/modules/announcements_feed/config/schema/announcements_feed.schema.yml
  core/modules/automated_cron/config/schema/automated_cron.schema.yml
  core/modules/dblog/config/schema/dblog.schema.yml
  core/modules/navigation/config/schema/navigation.schema.yml
  core/modules/search/config/schema/search.schema.yml
  core/modules/system/config/schema/system.schema.yml
  core/modules/system/tests/modules/icon_test/config/schema/icon_test.schema.yml
  core/modules/user/config/schema/user.schema.yml
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #3533926 by alexpott: Config of the type plural_label can never be valid due to the label constraint
  core/config/schema/core.data_types.schema.yml
  core/modules/views/config/schema/views.field.schema.yml
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #3534893 by quietone: [regression] Wrong doc link on database update page
  core/modules/system/src/Controller/DbUpdateController.php
Due: none

Issue #3535199 by alexpott, godotislate: Saving untrusted config results in memory leak
  core/lib/Drupal/Core/Config/Config.php
  core/tests/Drupal/KernelTests/Core/Config/ConfigSchemaTest.php
Due: none

Issue #3531943 by acbramley, berdir: Deprecate node_get_type_label()
  core/core.api.php
  core/modules/content_moderation/tests/src/Functional/ModerationActionsTest.php
  core/modules/node/node.module
  core/modules/node/src/Form/NodeForm.php
  core/modules/node/src/Form/NodeRevisionRevertForm.php
  core/modules/node/src/Hook/NodeTokensHooks.php
  core/modules/node/src/NodeListBuilder.php
  core/modules/node/src/NodeTranslationHandler.php
  core/modules/node/tests/src/Functional/NodeTranslationUITest.php
Due: üìî Validatable config

Issue #3528139 by phenaproxima, tim.plunkett, catch: Package Manager should use a copy of Composer that is local to the current project, if available
  core/modules/package_manager/src/ExecutableFinder.php
  core/modules/package_manager/tests/src/Unit/ExecutableFinderTest.php
Due: none

Issue #3535199 by alexpott, godotislate, catch: Saving untrusted config results in memory leak
  core/lib/Drupal/Core/Config/Config.php
  core/tests/Drupal/KernelTests/Core/Config/ConfigSchemaTest.php
Due: none

Issue #3531994 by tom konda: Replace for loop with forEach in active-links.js and displace.js
  core/misc/active-link.js
  core/misc/displace.js
Due: üßπ JavaScript linting (eslint)

Issue #3533698 by nod_, longwave, danflanagan8, hammerslammer, wim leers: BigPipe does not handle multiple </body> tags correctly
  core/modules/big_pipe/src/Render/BigPipe.php
  core/modules/big_pipe/tests/src/FunctionalJavascript/BigPipeRegressionTest.php
Due: none

Issue #3532694 by phenaproxima, alexpott, nicxvan, berdir, mstrelan, larowlan, murz: Add a command-line utility to export content in YAML format
  core/.phpstan-baseline.php
  core/core.services.yml
  core/lib/Drupal/Core/DefaultContent/ContentExportCommand.php
  core/lib/Drupal/Core/DefaultContent/ExportMetadata.php
  core/lib/Drupal/Core/DefaultContent/Exporter.php
  core/lib/Drupal/Core/DefaultContent/Importer.php
  core/lib/Drupal/Core/DefaultContent/PreExportEvent.php
  core/modules/content_moderation/content_moderation.services.yml
  core/modules/content_moderation/src/EventSubscriber/DefaultContentSubscriber.php
  core/modules/layout_builder/layout_builder.services.yml
  core/modules/layout_builder/src/EventSubscriber/DefaultContentSubscriber.php
  core/modules/link/link.services.yml
  core/modules/link/src/EventSubscriber/DefaultContentSubscriber.php
  core/modules/media/media.services.yml
  core/modules/media/src/EventSubscriber/DefaultContentSubscriber.php
  core/modules/path/path.services.yml
  core/modules/path/src/EventSubscriber/DefaultContentSubscriber.php
  core/scripts/drupal
  core/tests/Drupal/FunctionalTests/Core/Recipe/RecipeTestTrait.php
  core/tests/Drupal/FunctionalTests/DefaultContent/ContentExportTest.php
  core/tests/Drupal/FunctionalTests/DefaultContent/ContentImportTest.php
  core/tests/fixtures/default_content/media/344b943c-b231-4d73-9669-0b0a2be12aa5.yml
  core/tests/fixtures/default_content/node/2d3581c3-92c7-4600-8991-a0d4b3741198.yml
  core/tests/fixtures/default_content/node/32650de8-9edd-48dc-80b8-8bda180ebbac.yml
  core/tests/fixtures/default_content/node/48475954-e878-439c-9d3d-226724a44269.yml
  core/tests/fixtures/default_content/node/7f1dd75a-0be2-4d3b-be5d-9d1a868b9267.yml
  core/tests/fixtures/default_content/node/e1714f23-70c0-4493-8e92-af1901771921.yml
  core/tests/fixtures/default_content/taxonomy_term/550f86ad-aa11-4047-953f-636d42889f85.yml
  core/tests/fixtures/default_content/taxonomy_term/9dfe4733-1347-4566-9340-27a9b22a1f64.yml
  core/tests/fixtures/default_content/user/94503467-be7f-406c-9795-fc25baa22203.yml
  core/tests/fixtures/default_content/workspace/inner_test.yml
  core/tests/fixtures/default_content/workspace/test_workspace.yml
  core/tests/fixtures/recipes/default_content_base/config/field.field.taxonomy_term.tags.field_serialized_stuff.yml
  core/tests/fixtures/recipes/default_content_base/config/field.storage.taxonomy_term.field_serialized_stuff.yml
  core/tests/fixtures/recipes/default_content_base/recipe.yml
Due: üßπ JavaScript linting (eslint)

Issue #3521081 by bircher: Deleting a config checkpoint breaks the checkpoint storage
  core/lib/Drupal/Core/Config/Checkpoint/LinearHistory.php
  core/tests/Drupal/Tests/Core/Config/Checkpoint/LinearHistoryTest.php
Due: none

Issue #3535675 by berdir: Remove twig_theme_test.module
  core/.phpstan-baseline.php
  core/modules/system/tests/modules/twig_theme_test/src/Hook/TwigThemeTestHooks.php
  core/modules/system/tests/modules/twig_theme_test/src/TwigThemeTestUtils.php
  core/modules/system/tests/modules/twig_theme_test/twig_theme_test.module
  core/modules/system/tests/src/Functional/Theme/EngineTwigTest.php
  core/modules/system/tests/themes/test_theme/test_theme.theme
Due: üìî Validatable config

Issue #3530043 by catch, xjm, smustgrave, gábor hojtsy, markconroy, ckrina, pameeela: Display Umami warning on all pages (not just admin pages)
  core/profiles/demo_umami/src/Hook/DemoUmamiHooks.php
Due: none

Issue #987238 followup by xjm: "Promoted to front page" for new content types should default to Un-Checked
  core/modules/node/node.post_update.php
Due: none

Issue #3534047 by fathershawn, xjm, nod_: Add fathershawn as a subsystem maintainer for the Ajax subsystem
  core/MAINTAINERS.txt
Due: none

Issue #3534386 by sijumpk, griffynh, benjy: Remove benjy as maintainer for Block subsystem
  core/MAINTAINERS.txt
Due: none

Issue #3534455 by juampynr: Remove juampynr from MAINTAINERS.txt
  core/MAINTAINERS.txt
Due: none

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/.eslint*, core/.prettier*, core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/.stylelintrc.json, core/.prettier*, core/package.json, core/yarn.lock, **/*.css
  ‚úÖÔ∏è PHPStan rules tests: any of: core/tests/PHPStan/**/*, composer/Metapackage/PinnedDevDependencies/composer.json
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module
