Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

üßπ JavaScript linting (eslint):
  needs:
  - üì¶Ô∏è Yarn
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - cd core
  - corepack enable
  - yarn run check:ckeditor5
  - yarn run lint:core-js-passing --format gitlab
  artifacts:
    reports:
      codequality: eslint-quality-report.json

üßπ CSS linting (stylelint):
  needs:
  - üì¶Ô∏è Yarn
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - corepack enable
  - cd core
  - yarn run build:css --check
  - yarn run lint:css --color --custom-formatter=node_modules/stylelint-formatter-gitlab
  artifacts:
    reports:
      codequality: stylelint-quality-report.json

üìî Validatable config:
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  artifacts:
    expire_in: 1 week
    expose_as: validatable-config
    paths:
    - HEAD.json
    - MR.json
  allow_failure:
    exit_codes:
    - 100
    - 101
    - 1
  script:
  - git checkout -f $CI_MERGE_REQUEST_DIFF_BASE_SHA
  ...

Issue #3492453 by larowlan, catch, longwave, alexpott, godotislate: Memory leak in DrupalKernel when installing modules
  core/lib/Drupal/Core/Installer/InstallerKernel.php
Due: none

Issue #3491256 by amateescu: Improve the exception message for unsupported entity types in a workspace
  core/modules/workspaces/src/EntityOperations.php
  core/modules/workspaces/tests/src/Kernel/WorkspaceInformationTest.php
  core/modules/workspaces/tests/src/Kernel/WorkspaceIntegrationTest.php
Due: none

Issue #3463226 by quietone, dww, smustgrave, catch, xjm: Use the new equivalent updates API to prevent updates from 10.4.0 to 11.0.0
  core/modules/system/system.install
  core/modules/system/tests/modules/downgrade_prevention_test/downgrade_prevention_test.info.yml
  core/modules/system/tests/modules/downgrade_prevention_test/downgrade_prevention_test.install
  core/modules/system/tests/src/Functional/UpdateSystem/PreventDowngradeTest.php
Due: üßπ JavaScript linting (eslint)

Issue #3492705 by catch, nicxvan, mikelutz, longwave: Install modules with container_rebuild_true set by themselves
  core/includes/install.core.inc
  core/lib/Drupal/Core/Extension/ModuleInstaller.php
  core/tests/Drupal/KernelTests/Core/Extension/ModuleInstallerTest.php
Due: none

Issue #3490183 by spokje, andypost: Update Composer dependencies for 10.4.0
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  core/lib/Drupal/Component/DependencyInjection/composer.json
  core/lib/Drupal/Component/EventDispatcher/composer.json
Due: none

Issue #3488005 by spokje, nod_, longwave: Update stylelint* to latest releases
  core/package.json
  core/yarn.lock
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint)

Issue #3487488 by kim.pepper, mondrake, dakwamine, smustgrave: ExtensionMimeTypeGuesser::guessMimeType must support file names with "0" (zero) in the extension parts like foo.0.zip
  core/lib/Drupal/Core/File/MimeType/ExtensionMimeTypeGuesser.php
  core/tests/Drupal/KernelTests/Core/File/MimeTypeTest.php
Due: none

Issue #3490710 by mfb, catch, spokje: Catch potential exception when calling Request::create() in PathBasedBreadcrumbBuilder
  core/modules/system/src/PathBasedBreadcrumbBuilder.php
  core/modules/system/tests/src/Unit/Breadcrumbs/PathBasedBreadcrumbBuilderTest.php
Due: none

Issue #3480855 by mlncn, akulsaxena, smustgrave: Update lifecycle link for sdc
  core/modules/sdc/sdc.info.yml
  core/modules/sdc/tests/src/Functional/LibrariesBCLayerTest.php
Due: üßπ JavaScript linting (eslint)

Issue #2533756 by quietone, jhodgdon, xjm: Revisit large numbers of @see in text element docs
  core/lib/Drupal/Core/Render/Element/Textfield.php
Due: none

Issue #3489022 by mondrake, larowlan, catch, el7cosmos, bbrala, alexpott, fjgarlin, longwave, xurizaemon, rosk0, poker10, mstrelan, nick_schuch: Remove drupalci.yml
  core/drupalci.yml
Due: üßπ JavaScript linting (eslint)

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/package.json, core/yarn.lock, **/*.css
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module
