Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), ‚úÖÔ∏è PHPStan rules tests, üìî Validatable config

üßπ JavaScript linting (eslint):
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - - mkdir /build;
    - cp -Ria $CI_PROJECT_DIR/* /build/
    - cd /build
  ...

üßπ CSS linting (stylelint):
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - - mkdir /build;
    - cp -Ria $CI_PROJECT_DIR/* /build/
    - cd /build
  ...

‚úÖÔ∏è PHPStan rules tests:
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - docker-php-ext-enable pcov
  - cd core/tests/PHPStan
  - composer install
  - vendor/bin/phpunit tests --testdox --coverage-text --colors=always --coverage-cobertura=coverage.cobertura.xml --log-junit junit.xml
  artifacts:
    when: always
  ...

üìî Validatable config:
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
    _TARGET_PHP: 8.3-ubuntu
  artifacts:
    expire_in: 1 week
    expose_as: validatable-config
    paths:
    - HEAD.json
    - MR.json
  allow_failure:
    exit_codes:
    - 100
    - 101
    - 1
  script:
  - git checkout -f $CI_MERGE_REQUEST_DIFF_BASE_SHA
  ...

Issue #3523592 by xjm: Remove the alpha-stability Mailer moduke from 11.3.x prior to 11.3.0-alpha1 (leaving it in 11.x for ongoing development).
  core/modules/mailer/mailer.info.yml
  core/modules/mailer/mailer.services.yml
  core/modules/mailer/src/Hook/MailerHooks.php
  core/modules/mailer/tests/modules/mailer_transport_factory_functional_test/mailer_transport_factory_functional_test.info.yml
  core/modules/mailer/tests/modules/mailer_transport_factory_functional_test/mailer_transport_factory_functional_test.routing.yml
  core/modules/mailer/tests/modules/mailer_transport_factory_functional_test/src/Controller/TransportInfoController.php
  core/modules/mailer/tests/modules/mailer_transport_factory_kernel_test/mailer_transport_factory_kernel_test.info.yml
  core/modules/mailer/tests/modules/mailer_transport_factory_kernel_test/mailer_transport_factory_kernel_test.services.yml
  core/modules/mailer/tests/modules/mailer_transport_factory_kernel_test/src/Transport/CanaryTransport.php
  core/modules/mailer/tests/modules/mailer_transport_factory_kernel_test/src/Transport/CanaryTransportFactory.php
  core/modules/mailer/tests/src/Functional/GenericTest.php
  core/modules/mailer/tests/src/Functional/TransportServiceFactoryTest.php
  core/modules/mailer/tests/src/Kernel/TransportTest.php
Due: üßπ JavaScript linting (eslint)

Issue #3540531 by andypost, taran2l, mondrake: Fix ToolkitGdTest for PHP 8.5
  core/tests/Drupal/KernelTests/Core/Image/GdToolkitAvifImageManipulationTest.php
  core/tests/Drupal/KernelTests/Core/Image/GdToolkitGifImageManipulationTest.php
  core/tests/Drupal/KernelTests/Core/Image/GdToolkitImageManipulationTestBase.php
  core/tests/Drupal/KernelTests/Core/Image/GdToolkitJpegImageManipulationTest.php
  core/tests/Drupal/KernelTests/Core/Image/GdToolkitNoTransparencyGifImageManipulationTest.php
  core/tests/Drupal/KernelTests/Core/Image/GdToolkitPngImageManipulationTest.php
  core/tests/Drupal/KernelTests/Core/Image/GdToolkitWebpImageManipulationTest.php
  core/tests/Drupal/KernelTests/Core/Image/ToolkitGdTest.php
Due: none

Issue #3555882 by alexpott, smustgrave: \Drupal\Tests\views\Unit\Plugin\field\FieldPluginBaseTest triggers PHP 8.5 deprecations
  core/modules/views/tests/src/Unit/Plugin/field/FieldPluginBaseTest.php
Due: none

Issue #3555823 by alexpott: LanguageNegotiationContentEntity::getLangcode causes deprecations on PHP 8.5
  core/modules/language/src/Plugin/LanguageNegotiation/LanguageNegotiationContentEntity.php
Due: none

Issue #3555828 by alexpott, dcam: \Drupal\Tests\system\Unit\Breadcrumbs\PathBasedBreadcrumbBuilderTest is triggering deprecations on PHP 8.5
  core/modules/system/tests/src/Unit/Breadcrumbs/PathBasedBreadcrumbBuilderTest.php
Due: none

Issue #3555836 by alexpott: \Drupal\Core\Menu\MenuActiveTrail causes deprecations on PHP 8.5
  core/lib/Drupal/Core/Menu/MenuActiveTrail.php
Due: none

Issue #3555880 by alexpott: \Drupal\Tests\node\Unit\NodeOperationAccessTest::testRevisionOperations() triggers PHP 8.5 deprecation in \Drupal\Core\Entity\EntityAccessControlHandler::getCache()
  core/modules/node/tests/src/Unit/NodeOperationAccessTest.php
Due: none

Issue #3555560 by longwave: Update CKEditor 5 to 47.1.0
  core/assets/vendor/ckeditor5/ckeditor5-dll/ckeditor5-dll.js
  core/assets/vendor/ckeditor5/link/link.js
  core/core.libraries.yml
  core/package.json
  core/yarn.lock
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint)

Issue #3554533 by longwave, andypost, quietone, godotislate: Update to Symfony 7.4.0-BETA2
  composer.json
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/DevDependencies/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  core/.deprecation-ignore.txt
  core/.phpstan-baseline.php
  core/composer.json
  core/lib/Drupal/Component/DependencyInjection/composer.json
  core/lib/Drupal/Component/EventDispatcher/composer.json
  core/lib/Drupal/Component/HttpFoundation/composer.json
  core/lib/Drupal/Component/Plugin/composer.json
  core/lib/Drupal/Component/Serialization/composer.json
  core/lib/Drupal/Core/DrupalKernel.php
  core/modules/help/tests/src/Functional/HelpTopicsSyntaxTest.php
  core/tests/Drupal/BuildTests/Composer/Template/ComposerProjectTemplatesTest.php
  core/tests/Drupal/KernelTests/Core/Routing/ExceptionHandlingTest.php
  core/tests/Drupal/TestTools/Extension/DeprecationBridge/DeprecationHandler.php
  core/tests/Drupal/Tests/BrowserTestBase.php
Due: ‚úÖÔ∏è PHPStan rules tests

Issue #3548313 by ericpoir, klausi, liam morland, dmitry.korhov, rick bergmann, pwolanin, alexpott: Updating to 10.5.3 causes gateway timeouts on revisioned content
  core/lib/Drupal/Core/Entity/Query/Sql/Query.php
  core/modules/jsonapi/tests/src/FunctionalJavascript/JsonApiPerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryNodePagePerformanceTest.php
Due: none

Issue #3552907 by berdir: PerformanceTestTrait waits up to 30s for LCP data that is only used when an OTEL_COLLECTOR is set
  core/tests/Drupal/Tests/PerformanceTestTrait.php
Due: none

Issue #1685492 by eclipsegc, sun, dawehner, Crell, nicxvan, berdir, longwave, dcam, alexpott: Convert theme engines into services
  core/.phpstan-baseline.php
  core/core.services.yml
  core/lib/Drupal/Core/Template/TwigThemeEngine.php
  core/lib/Drupal/Core/Theme/ActiveTheme.php
  core/lib/Drupal/Core/Theme/Registry.php
  core/lib/Drupal/Core/Theme/ThemeEngineInterface.php
  core/lib/Drupal/Core/Theme/ThemeInitialization.php
  core/lib/Drupal/Core/Theme/ThemeManager.php
  core/lib/Drupal/Core/Theme/ThemeManagerInterface.php
  core/modules/filter/tests/src/Kernel/FilterKernelTest.php
  core/modules/system/src/Form/ThemeSettingsForm.php
  core/modules/system/tests/engines/test_theme_engine/test_theme_engine.engine
  core/modules/system/tests/engines/test_theme_engine/test_theme_engine.info.yml
  core/modules/system/tests/modules/nyan_cat/nyan_cat.info.yml
  core/modules/system/tests/modules/nyan_cat/nyan_cat.services.yml
  core/modules/system/tests/modules/nyan_cat/src/NyanCatThemeEngine.php
  core/modules/system/tests/src/Functional/Theme/EngineNyanCatTest.php
  core/modules/system/tests/src/Functional/Theme/TwigDebugMarkupTest.php
  core/modules/system/tests/src/Functional/Theme/TwigSettingsTest.php
  core/modules/system/tests/src/Kernel/Theme/ThemeEngineTest.php
  core/modules/system/tests/themes/engines/nyan_cat/nyan_cat.engine
  core/modules/system/tests/themes/test_theme_engine_theme/test_theme_engine_theme.info.yml
  core/tests/Drupal/KernelTests/Core/Extension/ThemeEngineExtensionListTest.php
  core/themes/engines/twig/twig.engine
Due: üßπ JavaScript linting (eslint)

Issue #3548313 by ericpoir, klausi, liam morland, dmitry.korhov, rick bergmann, pwolanin, alexpott: Updating to 10.5.3 causes gateway timeouts on revisioned content
  core/lib/Drupal/Core/Entity/Query/Sql/Query.php
Due: none

Issue #3554646 by catch, smustgrave, alexpott, berdir: Stabilize OpenTelemetryAuthenticatedPerformanceTest
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryAuthenticatedPerformanceTest.php
Due: none

Issue #3555732 by catch, berdir, alexpott: Don't check if we're on the latest revision before adding the working copy link
  core/modules/jsonapi/src/JsonApiResource/ResourceObject.php
  core/modules/jsonapi/tests/src/Functional/ResourceTestBase.php
  core/modules/jsonapi/tests/src/Functional/TermTest.php
  core/modules/jsonapi/tests/src/FunctionalJavascript/JsonApiPerformanceTest.php
Due: none

Issue #3555732 by catch, berdir, alexpott: Don't check if we're on the latest revision before adding the working copy link
  core/modules/jsonapi/src/JsonApiResource/ResourceObject.php
  core/modules/jsonapi/tests/src/Functional/ResourceTestBase.php
  core/modules/jsonapi/tests/src/Functional/TermTest.php
Due: none

Issue #3556130 by alexpott: ThemeEngine BC layer is broken - ServiceLocator != Container
  core/lib/Drupal/Core/Theme/ThemeManager.php
  core/modules/system/tests/src/Functional/Theme/BcEngineTest.php
  core/modules/system/tests/src/Kernel/Theme/ThemeEngineTest.php
Due: none

Issue #3479887 by bradjones1, mcdruid: CommentUserNameTest::testUsername() failure due to missing comment type
  core/modules/comment/tests/src/Kernel/Views/CommentUserNameTest.php
Due: none

Issue #3555562 by longwave, mstrelan, demeritcowboy, alexpott: [random test failure] Drupal\Tests\system\Functional\System\ThemeTest::testSwitchDefaultTheme()
  core/tests/Drupal/Tests/BrowserTestBase.php
Due: none

Issue #3556147 by alexpott: Fix 'PHP 8.4 MySQL 8.0' build
  .gitlab-ci.yml
Due: üßπ JavaScript linting (eslint)

Issue #3555720 by alexpott, adam-vessey, kristiaanvandeneynde: Latest revision subquery optimisation
  core/lib/Drupal/Core/Entity/Query/Sql/Query.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryNodePagePerformanceTest.php
Due: none

Issue #3555720 by alexpott, adam-vessey, kristiaanvandeneynde: Latest revision subquery optimisation
  core/lib/Drupal/Core/Entity/Query/Sql/Query.php
  core/modules/jsonapi/tests/src/FunctionalJavascript/JsonApiPerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryNodePagePerformanceTest.php
Due: none

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/.eslint*, core/.prettier*, core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/.stylelintrc.json, core/.prettier*, core/package.json, core/yarn.lock, **/*.css
  ‚úÖÔ∏è PHPStan rules tests: any of: core/tests/PHPStan/**/*, composer/Metapackage/PinnedDevDependencies/composer.json
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module
