Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üìã PHPUnit Unit (PHPStan rules), üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üì¶ Yarn install on minimum Node.js version

Path conditions:
  üìã PHPUnit Unit (PHPStan rules): any of: core/tests/PHPStan/**/*, composer/Metapackage/PinnedDevDependencies/composer.json
  üßπ JavaScript linting (eslint): any of: core/.eslint*, core/.prettier*, core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/.stylelintrc.json, core/.prettier*, core/package.json, core/yarn.lock, **/*.css
  üì¶ Yarn install on minimum Node.js version: any of: core/package.json, core/yarn.lock

chore: #3567589 Exempt 'system.modules_uninstall' route in UpdateHooks::pageTop()
  core/modules/update/src/Hook/UpdateHooks.php
Due: none

task: #3572173 Deprecate field.module remaining functions
  core/lib/Drupal/Core/Entity/ContentEntityStorageBase.php
  core/lib/Drupal/Core/Entity/Sql/SqlContentEntityStorage.php
  core/modules/field/field.module
  core/modules/field_ui/src/Form/FieldConfigEditForm.php
  core/modules/field_ui/src/Form/FieldStorageConfigEditForm.php
  core/modules/field_ui/tests/src/Unit/FieldConfigEditFormTest.php
  core/modules/taxonomy/tests/src/Kernel/TermEntityQueryTest.php
Due: none

fix: #3582125 Improve the deprecation message in getMigrationDependencies()
  core/modules/migrate/src/Plugin/Migration.php
Due: none

chore: #3582210 Remove Drupal\Tests\StreamCapturer
  core/tests/Drupal/Tests/StreamCapturer.php
Due: none

refactor: #3582386 remove absolute from HelpTwigExtension links
  core/modules/help/src/HelpTwigExtension.php
Due: none

task: #3582106 Move user_form_process_password_confirm into UserThemeHooks
  core/modules/user/src/Hook/UserHooks.php
  core/modules/user/src/Hook/UserThemeHooks.php
  core/modules/user/user.module
Due: none

task: #3575858 Make updating services after container rebuild smarter in ConfigImporter
  core/.phpstan-baseline.php
  core/lib/Drupal/Core/Config/ConfigImporter.php
Due: none

task: #3582512 Add SensitiveParameter attribute to CsrfTokenGenerator::validate()
  core/lib/Drupal/Core/Access/CsrfTokenGenerator.php
Due: none

fix: #3576262 [random test failure] MediaSourceFileTest::testMediaFileSource
  core/modules/media/tests/src/FunctionalJavascript/MediaSourceFileTest.php
  core/modules/media/tests/src/FunctionalJavascript/MediaSourceTestBase.php
Due: none

fix: #3521184 Email validation allows deprecated email addresses
  core/lib/Drupal/Component/Utility/EmailValidator.php
  core/lib/Drupal/Core/Command/InstallCommand.php
  core/tests/Drupal/Tests/Component/Utility/EmailValidatorTest.php
Due: none

feat: #3566611 It's not always possible to add a reason to neutral access results
  core/lib/Drupal/Core/Access/AccessResult.php
  core/tests/Drupal/Tests/Core/Access/AccessResultTest.php
  core/tests/Drupal/Tests/Core/Entity/Access/EntityFormDisplayAccessControlHandlerTest.php
  core/tests/Drupal/Tests/Core/Entity/Access/EntityViewDisplayAccessControlHandlerTest.php
Due: none

test: #3579629 Add procedural hooks to test theme to test collection and invoking legacy hooks
  core/modules/system/tests/src/Functional/Theme/ThemeProceduralTest.php
  core/modules/system/tests/src/Kernel/Theme/ThemeHookTest.php
  core/modules/system/tests/themes/HookCollector/procedural_hook_theme/procedural_hook_theme.info.yml
  core/modules/system/tests/themes/HookCollector/procedural_hook_theme/procedural_hook_theme.theme
  core/modules/system/tests/themes/HookCollector/procedural_hook_theme/src/Hook/ProceduralHookThemeHooks.php
  core/modules/system/tests/themes/HookCollector/procedural_hook_theme/templates/node.html.twig
Due: üßπ JavaScript linting (eslint)

test: #3582050 Add test for role UI when using config translation
  core/modules/config_translation/tests/src/Functional/ConfigTranslationRoleUiTest.php
Due: none

docs: #3576253 Improve navigation module description
  core/modules/navigation/navigation.info.yml
Due: üßπ JavaScript linting (eslint)

Revert "docs: #3576253 Improve navigation module description"
  core/modules/navigation/navigation.info.yml
Due: üßπ JavaScript linting (eslint)

fix: #3582171 [PHP 8.5] Strengthen views data with entity types w/o data tables
  core/modules/views/src/FieldViewsDataProvider.php
  core/modules/views/tests/src/Kernel/EntityWithoutBaseTableTest.php
Due: none

fix: #3571849 Media Library allows user to select more media than expected
  core/modules/media_library/js/media_library.ui.js
  core/modules/media_library/tests/src/FunctionalJavascript/WidgetOverflowTest.php
Due: üßπ JavaScript linting (eslint)

perf: #3583125 Strip dot-prefixed build parameters from cached container
  core/lib/Drupal/Core/CoreServiceProvider.php
  core/tests/Drupal/KernelTests/Core/DrupalKernel/DrupalKernelTest.php
Due: none

task: #2571679 Replace views_add_contextual_links() in views.module with service
  core/modules/views/src/ContextualLinksHelper.php
  core/modules/views/src/Element/View.php
  core/modules/views/src/Plugin/Block/ViewsBlockBase.php
  core/modules/views/src/Routing/ViewPageController.php
  core/modules/views/tests/src/Unit/Plugin/Block/ViewsBlockTest.php
  core/modules/views/tests/src/Unit/Routing/ViewPageControllerTest.php
  core/modules/views/views.module
  core/modules/views/views.services.yml
Due: üßπ JavaScript linting (eslint)

test: #3583187 [random test failure] DuplicateContextualLinksTest::testSameContextualLinks
  core/modules/contextual/tests/modules/contextual_test/config/optional/views.view.contextual_recent.yml
  core/modules/contextual/tests/modules/contextual_test/contextual_test.routing.yml
  core/modules/contextual/tests/modules/contextual_test/src/Controller/TestController.php
  core/modules/contextual/tests/src/FunctionalJavascript/DuplicateContextualLinksTest.php
Due: üßπ JavaScript linting (eslint)

Drupal 11.3.6
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: üìã PHPUnit Unit (PHPStan rules)

Back to dev.
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: üìã PHPUnit Unit (PHPStan rules)

Drupal 10.6.6
  composer.json
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: üìã PHPUnit Unit (PHPStan rules)

Back to dev.
  composer.json
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: üìã PHPUnit Unit (PHPStan rules)

task: #3567618 Create service for image_path_flush, image_style_options and constant for IMAGE_DERIVATIVE_TOKEN
  core/modules/config/tests/config_test/src/ConfigTestForm.php
  core/modules/image/image.module
  core/modules/image/image.services.yml
  core/modules/image/src/Controller/ImageStyleDownloadController.php
  core/modules/image/src/Entity/ImageStyle.php
  core/modules/image/src/Form/ImageStyleDeleteForm.php
  core/modules/image/src/Hook/ImageHooks.php
  core/modules/image/src/ImageDerivativeUtilities.php
  core/modules/image/src/ImageStyleInterface.php
  core/modules/image/src/Plugin/Field/FieldFormatter/ImageFormatter.php
  core/modules/image/src/Plugin/Field/FieldFormatter/ImageUrlFormatter.php
  core/modules/image/src/Plugin/Field/FieldWidget/ImageWidget.php
  core/modules/image/tests/src/Functional/ImageAdminStylesTest.php
  core/modules/image/tests/src/Functional/ImageFieldTestBase.php
  core/modules/image/tests/src/Functional/ImageStylesPathAndUrlTest.php
  core/modules/media/src/Plugin/Field/FieldFormatter/MediaThumbnailFormatter.php
  core/modules/responsive_image/src/ResponsiveImageStyleForm.php
  core/modules/responsive_image/tests/src/Functional/ResponsiveImageAdminUITest.php
Due: üßπ JavaScript linting (eslint)

task: #3562214 Upgrade glob because of CVE-2025-64756
  core/package.json
  core/yarn.lock
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üì¶ Yarn install on minimum Node.js version

fix: #3401726 MediaLibraryUiBuilder service does not properly allow additional contextual filter arguments
  core/modules/media_library/src/MediaLibraryUiBuilder.php
  core/modules/media_library/tests/src/FunctionalJavascript/MediaLibraryContextualFilterTest.php
Due: none

fix: #3524163 [regression] Empty slot definitions give incorrect validation message
  core/lib/Drupal/Core/Theme/Component/ComponentValidator.php
  core/modules/system/tests/modules/sdc_test/components/my-banner/my-banner.component.yml
Due: üßπ JavaScript linting (eslint)

feat: #3096170 Add Confirmation Page for theme uninstall
  core/.phpstan-baseline.php
  core/modules/system/src/Controller/ThemeController.php
  core/modules/system/src/Form/ThemeUninstallConfirmForm.php
  core/modules/system/system.routing.yml
  core/modules/system/tests/src/Functional/System/ThemeTest.php
  core/modules/system/tests/src/Functional/Theme/ThemeUiTest.php
  core/modules/system/tests/src/Functional/Theme/ThemeUninstallConfirmTest.php
  core/tests/Drupal/FunctionalTests/Installer/InstallProfileUninstallTest.php
  core/tests/Drupal/FunctionalTests/Theme/ClaroTest.php
  core/tests/Drupal/FunctionalTests/Theme/OliveroTest.php
Due: üßπ JavaScript linting (eslint)
