Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üìã PHPUnit Unit (PHPStan rules), üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üì¶ Yarn install on minimum Node.js version

üìã PHPUnit Unit (PHPStan rules):
  stage: ‚ö°Ô∏è Tests
  needs: []
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - docker-php-ext-enable pcov
  - cd core/tests/PHPStan
  - composer install
  - vendor/bin/phpunit tests --testdox --coverage-text --colors=always --coverage-cobertura=coverage.cobertura.xml --log-junit junit.xml
  artifacts:
  ...

üßπ JavaScript linting (eslint):
  before_script:
  - cd core
  - corepack enable
  - yarn install
  - cd ..
  cache:
    key:
    - .yarn-install-from-cache
    - cache
    - key
    paths:
    - .yarn-install-from-cache
    - cache
    - paths
    policy: pull-push
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
    CACHE_FILE: core/.eslintcache
  ...

üßπ CSS linting (stylelint):
  before_script:
  - cd core
  - corepack enable
  - yarn install
  - cd ..
  cache:
    key:
      files:
      - ./core/package.json
      - ./core/yarn.lock
    paths:
    - ./core/.yarn/cache
    policy: pull
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
    CACHE_FILE: core/.stylelintcache
  script:
  ...

üì¶ Yarn install on minimum Node.js version:
  stage: ü™Ñ Lint
  image: node:20
  variables:
    KUBERNETES_CPU_REQUEST: '1'
  script:
  - cd core
  - corepack enable
  - echo -e "Node version $(node --version)\nYarn version $(corepack yarn --version)"
  - yarn install

task: #3532506 Never bypass basic validation when saving a config object
  core/lib/Drupal/Core/Config/Config.php
  core/tests/Drupal/KernelTests/Core/Config/ConfigCRUDTest.php
Due: none

task: #3569421 Remove remaining unnecessary uses of Formattable markup in tests
  core/modules/comment/tests/src/Functional/CommentTestBase.php
  core/modules/config/tests/config_test/src/ConfigTestForm.php
  core/modules/filter/tests/filter_test/src/Plugin/Filter/FilterTestPlaceholders.php
  core/modules/node/tests/src/Functional/NodeTestBase.php
  core/modules/node/tests/src/Traits/ContentTypeCreationTrait.php
  core/modules/shortcut/tests/src/Functional/ShortcutLinksTest.php
  core/modules/system/tests/modules/entity_test/src/Hook/EntityTestHooks.php
  core/modules/system/tests/modules/menu_test/src/TestControllers.php
  core/modules/system/tests/modules/session_test/src/Form/SessionTestForm.php
  core/modules/system/tests/src/Functional/System/ErrorHandlerTest.php
  core/modules/system/tests/src/Kernel/Theme/FunctionsTest.php
  core/tests/Drupal/FunctionalTests/Bootstrap/UncaughtExceptionTest.php
  core/tests/Drupal/Tests/Core/Config/Checkpoint/LinearHistoryTest.php
  core/tests/Drupal/Tests/Core/Logger/LogMessageParserTest.php
  core/tests/Drupal/Tests/Core/Mail/Plugin/Mail/SymfonyMailerTest.php
Due: none

task: #3595652 Deprecate module.inc contents
  core/core.services.yml
  core/includes/install.core.inc
  core/includes/module.inc
  core/lib/Drupal/Core/EventSubscriber/ExcludedModulesEventSubscriber.php
  core/lib/Drupal/Core/Extension/ModuleInstaller.php
  core/lib/Drupal/Core/Extension/ModuleWeight.php
  core/modules/config/tests/src/Functional/ConfigImportUITest.php
  core/modules/content_moderation/tests/modules/content_moderation_test_resave/content_moderation_test_resave.install
  core/modules/content_translation/content_translation.install
  core/modules/editor/tests/src/Kernel/EntityUpdateTest.php
  core/modules/menu_link_content/tests/src/Kernel/MenuLinkContentCacheabilityBubblingTest.php
  core/modules/menu_link_content/tests/src/Kernel/PathAliasMenuLinkContentTest.php
  core/modules/system/tests/modules/module_handler_test_multiple/module_handler_test_multiple.install
  core/modules/system/tests/modules/module_handler_test_multiple/module_handler_test_multiple_child/module_handler_test_multiple_child.install
  core/modules/system/tests/src/Functional/UpdateSystem/RebuildScriptTest.php
  core/modules/system/tests/src/Functional/UpdateSystem/UpdatePathNewDependencyTest.php
  core/modules/system/tests/src/Kernel/Extension/ModuleHandlerTest.php
  core/modules/views/views.install
  core/tests/Drupal/FunctionalTests/Installer/InstallerConfigDirectoryTestBase.php
  core/tests/Drupal/KernelTests/Core/Common/DrupalFlushAllCachesTest.php
  core/tests/Drupal/KernelTests/Core/Config/ConfigImporterTest.php
Due: üßπ JavaScript linting (eslint)

Revert "task: #3532506 Never bypass basic validation when saving a config object"
  core/lib/Drupal/Core/Config/Config.php
  core/tests/Drupal/KernelTests/Core/Config/ConfigCRUDTest.php
Due: none

Back to dev.
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/DevDependencies/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: üìã PHPUnit Unit (PHPStan rules)

Drupal 11.4.3
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/DevDependencies/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: üìã PHPUnit Unit (PHPStan rules)

SA-CORE-2026-010 by offensive-ai, benjifisher, kim.pepper, mohit_aghera, catch, larowlan, poker10, xjm
  core/modules/image/src/Controller/ImageStyleDownloadController.php
Due: none

SA-CORE-2026-011 by prudloff, fathershawn, catch, larowlan, longwave, xjm
  core/lib/Drupal/Component/Utility/Xss.php
Due: none

SA-CORE-2026-012 by hai27ii2o, danielveza, larowlan, mingsong, neclimdul, greggles, longwave, xjm
  core/modules/layout_builder/js/layout-builder.js
Due: üßπ JavaScript linting (eslint)

Drupal 11.4.4
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/DevDependencies/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  core/lib/Drupal.php
Due: üìã PHPUnit Unit (PHPStan rules)

Drupal 11.3.14
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  core/lib/Drupal.php
Due: üìã PHPUnit Unit (PHPStan rules)

Drupal 10.6.13
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  core/lib/Drupal.php
Due: üìã PHPUnit Unit (PHPStan rules)

fix: #2863785 Avoid PHP notice when comparing config without uuid
  core/lib/Drupal/Core/Config/StorageComparer.php
  core/tests/Drupal/Tests/Core/Config/StorageComparerTest.php
Due: none

fix: #3611084 DrupalApplication should use the compiled container
  core/lib/Drupal/Core/Command/DrupalApplication.php
  core/modules/system/tests/src/Kernel/Command/StatusCommandTest.php
  core/tests/Drupal/KernelTests/Core/Console/ConsoleTest.php
  core/tests/Drupal/KernelTests/DrupalApplicationTesterTrait.php
Due: none

fix: #3029122 Drupal returns a 500 Internal error when 'destination' url query value is numeric and less than 6 length
  core/lib/Drupal/Core/Utility/UnroutedUrlAssembler.php
  core/tests/Drupal/Tests/Core/Utility/UnroutedUrlAssemblerTest.php
Due: none

task: #3547724 Throw an exception when unsupported procedural functions are defined in views
  core/modules/views/src/Plugin/views/HandlerBase.php
  core/modules/views/tests/modules/views_test_data/views_test_data.module
  core/modules/views/tests/src/Functional/Handler/HandlerTest.php
  core/modules/views/tests/src/Unit/Plugin/HandlerBaseTest.php
Due: none

feat: #3586832 Allow kernel test classes to define their own routes
  core/lib/Drupal/Core/Routing/AttributeRouteDiscovery.php
  core/tests/Drupal/KernelTests/KernelTestAttributeRouteDiscovery.php
  core/tests/Drupal/KernelTests/KernelTestBase.php
  core/tests/Drupal/KernelTests/KernelTestHttpRequestTest.php
Due: none

test: #3609757 Composer bin-dir setting is ignored
  core/.phpstan-baseline.php
  core/tests/Drupal/FunctionalTests/Core/Recipe/RecipeTestTrait.php
  core/tests/Drupal/KernelTests/DrupalApplicationTesterTrait.php
  core/tests/Drupal/Tests/Composer/ComposerIntegrationTest.php
  core/tests/Drupal/Tests/Composer/ComposerIntegrationTrait.php
Due: none

Path conditions:
  üìã PHPUnit Unit (PHPStan rules): any of: core/tests/PHPStan/**/*, composer/Metapackage/PinnedDevDependencies/composer.json
  üßπ JavaScript linting (eslint): any of: core/.eslint*, core/.prettier*, core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/.stylelintrc.json, core/.prettier*, core/package.json, core/yarn.lock, **/*.css
  üì¶ Yarn install on minimum Node.js version: any of: core/package.json, core/yarn.lock
