Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

üßπ JavaScript linting (eslint):
  needs:
  - üì¶Ô∏è Yarn
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - cd core
  - corepack enable
  - yarn run check:ckeditor5
  - yarn run lint:core-js-passing --format gitlab
  artifacts:
    reports:
      codequality: eslint-quality-report.json

üßπ CSS linting (stylelint):
  needs:
  - üì¶Ô∏è Yarn
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - corepack enable
  - cd core
  - yarn run build:css --check
  - yarn run lint:css --color --custom-formatter=node_modules/stylelint-formatter-gitlab
  artifacts:
    reports:
      codequality: stylelint-quality-report.json

üìî Validatable config:
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  artifacts:
    expire_in: 1 week
    expose_as: validatable-config
    paths:
    - HEAD.json
    - MR.json
  allow_failure:
    exit_codes:
    - 100
    - 101
    - 1
  script:
  - git checkout -f $CI_MERGE_REQUEST_DIFF_BASE_SHA
  ...

Issue #3454603 by phenaproxima, thejimbirch, Prashant.c, alexpott: Many core recipes are not idempotent
  core/lib/Drupal/Core/Config/Entity/ConfigEntityBase.php
  core/modules/block/src/Entity/Block.php
  core/recipes/article_content_type/config/core.entity_form_display.node.article.default.yml
  core/recipes/article_content_type/config/core.entity_view_display.node.article.default.yml
  core/recipes/article_content_type/config/core.entity_view_display.node.article.rss.yml
  core/recipes/article_content_type/config/core.entity_view_display.node.article.teaser.yml
  core/recipes/article_content_type/config/field.field.node.article.body.yml
  core/recipes/article_content_type/recipe.yml
  core/recipes/basic_block_type/config/field.field.block_content.basic.body.yml
  core/recipes/basic_html_format_editor/config/filter.format.basic_html.yml
  core/recipes/comment_base/config/field.field.comment.comment.comment_body.yml
  core/recipes/core_recommended_admin_theme/recipe.yml
  core/recipes/core_recommended_front_end_theme/recipe.yml
  core/recipes/full_html_format_editor/config/filter.format.full_html.yml
  core/recipes/page_content_type/config/field.field.node.page.body.yml
  core/recipes/remote_video_media_type/recipe.yml
  core/recipes/standard_responsive_images/config/image.style.max_1300x1300.yml
  core/recipes/standard_responsive_images/config/image.style.max_2600x2600.yml
  core/recipes/standard_responsive_images/config/image.style.max_325x325.yml
  core/recipes/standard_responsive_images/config/image.style.max_650x650.yml
  core/recipes/tags_taxonomy/config/taxonomy.vocabulary.tags.yml
  core/recipes/user_picture/recipe.yml
  core/tests/Drupal/FunctionalTests/Core/Recipe/CoreRecipesTest.php
Due: üßπ JavaScript linting (eslint)

Issue #3461284 by mherchel, finnsky, quietone, nod_: Prevent simultaneous open/close on simultaneous click/hover
  core/modules/navigation/js/toolbar-popover.js
Due: üßπ JavaScript linting (eslint)

Issue #3462264 by alexpott: Skip unsupported methods in rest/jsonapi tests in an efficient way
  core/modules/comment/tests/src/Functional/Rest/CommentResourceTestBase.php
  core/modules/comment/tests/src/Functional/Rest/CommentXmlAnonTest.php
  core/modules/comment/tests/src/Functional/Rest/CommentXmlBasicAuthTest.php
  core/modules/comment/tests/src/Functional/Rest/CommentXmlCookieTest.php
  core/modules/file/tests/src/Functional/Rest/FileResourceTestBase.php
  core/modules/image/tests/src/Functional/Rest/ImageStyleResourceTestBase.php
  core/modules/image/tests/src/Functional/Rest/ImageStyleXmlAnonTest.php
  core/modules/image/tests/src/Functional/Rest/ImageStyleXmlBasicAuthTest.php
  core/modules/image/tests/src/Functional/Rest/ImageStyleXmlCookieTest.php
  core/modules/jsonapi/tests/src/Functional/FileUploadTest.php
  core/modules/node/tests/src/Functional/Rest/NodeResourceTestBase.php
  core/modules/node/tests/src/Functional/Rest/NodeXmlAnonTest.php
  core/modules/node/tests/src/Functional/Rest/NodeXmlBasicAuthTest.php
  core/modules/node/tests/src/Functional/Rest/NodeXmlCookieTest.php
  core/modules/rest/tests/src/Functional/EntityResource/ModeratedNode/ModeratedNodeXmlAnonTest.php
  core/modules/rest/tests/src/Functional/EntityResource/ModeratedNode/ModeratedNodeXmlBasicAuthTest.php
  core/modules/rest/tests/src/Functional/EntityResource/ModeratedNode/ModeratedNodeXmlCookieTest.php
  core/modules/rest/tests/src/Functional/EntityResource/XmlEntityNormalizationQuirksTrait.php
  core/modules/taxonomy/tests/src/Functional/Rest/TermResourceTestBase.php
  core/modules/taxonomy/tests/src/Functional/Rest/TermXmlAnonTest.php
  core/modules/taxonomy/tests/src/Functional/Rest/TermXmlBasicAuthTest.php
  core/modules/taxonomy/tests/src/Functional/Rest/TermXmlCookieTest.php
  core/modules/user/tests/src/Functional/Rest/UserResourceTestBase.php
  core/modules/user/tests/src/Functional/Rest/UserXmlAnonTest.php
  core/modules/user/tests/src/Functional/Rest/UserXmlBasicAuthTest.php
  core/modules/user/tests/src/Functional/Rest/UserXmlCookieTest.php
  core/modules/workspaces/tests/src/Functional/Rest/WorkspaceXmlAnonTest.php
  core/modules/workspaces/tests/src/Functional/Rest/WorkspaceXmlBasicAuthTest.php
  core/modules/workspaces/tests/src/Functional/Rest/WorkspaceXmlCookieTest.php
Due: none

Issue #3462339 by longwave: Update to jQuery 4.0.0-beta2
  core/assets/vendor/jquery/jquery.js
  core/assets/vendor/jquery/jquery.min.js
  core/assets/vendor/jquery/jquery.min.map
  core/core.libraries.yml
  core/package.json
  core/yarn.lock
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint)

Issue #3376516 by andypost, quietone: Remove check for 10200 update from help module
  core/modules/help/help.module
  core/modules/help/src/HelpSectionManager.php
Due: üìî Validatable config

Issue #3458312 by scott_euser, andypost: Make the comments in Views handler Manager around overrides clearer
  core/modules/views/src/Plugin/ViewsHandlerManager.php
Due: none

Issue #3460513 by nishtha.pradhan, Berdir: Avoid TypeError if config entity dependencies are NULL
  core/lib/Drupal/Core/Config/Entity/ConfigEntityBase.php
Due: none

Issue #3459750 by mondrake: Method getMockForAbstractClass() of class PHPUnit\Framework\TestCase is deprecated in PHPUnit 10 - replace in class BuildTestTest
  core/.phpstan-baseline.php
  core/tests/Drupal/BuildTests/Framework/Tests/BuildTestTest.php
Due: none

Issue #3460921 by quietone: Fix hook_update_N docs for display of code block, remove unnecessary @see
  core/lib/Drupal/Core/Extension/module.api.php
Due: none

Issue #3461421 by VinmayiSwamy, ankitv18, joachim, smustgrave: getProcessPlugins() normalises the process array twice
  core/modules/migrate/src/Plugin/Migration.php
Due: none

Issue #3393441 by markconroy, Gauravvvv, smustgrave, gordon: Stable 9 is trying to override non-existing css files
  core/themes/stable9/stable9.info.yml
Due: üßπ JavaScript linting (eslint)

Issue #3462529 by catch: Mark more tests with @group #slow and remove it from some others
  core/modules/comment/tests/src/Functional/Rest/CommentXmlAnonTest.php
  core/modules/comment/tests/src/Functional/Rest/CommentXmlBasicAuthTest.php
  core/modules/comment/tests/src/Functional/Rest/CommentXmlCookieTest.php
  core/modules/file/tests/src/Functional/Formatter/FileAudioFormatterTest.php
  core/modules/file/tests/src/Functional/Formatter/FileVideoFormatterTest.php
  core/modules/user/tests/src/Functional/Rest/UserXmlAnonTest.php
  core/modules/user/tests/src/Functional/Rest/UserXmlBasicAuthTest.php
  core/modules/user/tests/src/Functional/Rest/UserXmlCookieTest.php
  core/modules/user/tests/src/Functional/UserCancelTest.php
  core/modules/user/tests/src/Functional/UserPasswordResetTest.php
  core/modules/user/tests/src/Functional/UserRegistrationTest.php
  core/modules/views_ui/tests/src/Functional/FilterUITest.php
Due: none

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/package.json, core/yarn.lock, **/*.css
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module
