Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üìã PHPUnit Unit (PHPStan rules), üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üì¶ Yarn install on minimum Node.js version

Path conditions:
  üìã PHPUnit Unit (PHPStan rules): any of: core/tests/PHPStan/**/*, composer/Metapackage/PinnedDevDependencies/composer.json
  üßπ JavaScript linting (eslint): any of: core/.eslint*, core/.prettier*, core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/.stylelintrc.json, core/.prettier*, core/package.json, core/yarn.lock, **/*.css
  üì¶ Yarn install on minimum Node.js version: any of: core/package.json, core/yarn.lock

fix: #1499532 Respect explicitly set node path alias langcode on save
  core/modules/path/src/Plugin/Field/FieldType/PathItem.php
  core/modules/path/src/Plugin/Field/FieldWidget/PathWidget.php
  core/modules/path/tests/src/Kernel/PathItemTest.php
Due: none

task: #3593085 Update PHP dependencies for 11.4.0
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  core/tests/PHPStan/composer.json
Due: üìã PHPUnit Unit (PHPStan rules)

fix: #3589626 clickLink in kernel tests erroneously prefixes some paths with /
  core/tests/Drupal/Tests/HttpKernelUiHelperTrait.php
Due: none

task: #3486503 Add a file parsing cache collector to replace some uses of FileCache
  core/core.services.yml
  core/lib/Drupal/Core/Asset/LibraryDiscoveryParser.php
  core/lib/Drupal/Core/Cache/CacheCollector.php
  core/lib/Drupal/Core/Discovery/YamlCacheCollectorDiscovery.php
  core/lib/Drupal/Core/Routing/YamlRouteDiscovery.php
  core/lib/Drupal/Core/Utility/FileParsingCacheCollectorBase.php
  core/lib/Drupal/Core/Utility/YamlCacheCollector.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryAuthenticatedPerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryFrontPagePerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryNodePagePerformanceTest.php
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTest.php
  core/tests/Drupal/Tests/Core/Asset/LibraryDiscoveryParserTest.php
  core/tests/Drupal/Tests/Core/Routing/RouteBuilderTest.php
  core/tests/Drupal/Tests/Core/Utility/YamlCacheCollectorTest.php
Due: üßπ JavaScript linting (eslint)

task: #3592099 Add tests for SA-CORE-2021-002
  core/tests/Drupal/Tests/Component/Utility/XssTest.php
Due: none

fix: #3592887 AttributeRouteDiscovery does not cleanly handle invalid classes
  core/lib/Drupal/Core/Routing/AttributeRouteDiscovery.php
  core/modules/system/tests/modules/router_test_directory/src/Controller/TestInvalidController.php
  core/modules/system/tests/modules/router_test_directory/src/Controller/TestMissingDependency.php
  core/phpstan.neon.dist
  core/tests/Drupal/Tests/Core/Routing/AttributeRouteDiscoveryTest.php
Due: none

Drupal 11.4.0-beta1
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/DevDependencies/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: üìã PHPUnit Unit (PHPStan rules)

Back to dev.
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/DevDependencies/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: üìã PHPUnit Unit (PHPStan rules)

task: #3486503 Add a file parsing cache collector to replace some uses of FileCache
  core/tests/Drupal/Tests/Core/Utility/YamlCacheCollectorTest.php
Due: none

fix: #3578398 Tabledrag styles in claro break expandable elements (Firefox)
  core/themes/claro/css/components/tables.css
  core/themes/claro/css/components/tables.pcss.css
Due: üßπ CSS linting (stylelint)

feat: #3020938 Add view unpublished block content permission
  core/modules/block_content/block_content.permissions.yml
  core/modules/block_content/src/BlockContentAccessControlHandler.php
  core/modules/block_content/tests/src/Functional/Rest/BlockContentResourceTestBase.php
  core/modules/block_content/tests/src/Kernel/BlockContentAccessHandlerTest.php
  core/modules/jsonapi/tests/src/Functional/BlockContentTest.php
Due: üßπ JavaScript linting (eslint)

docs: #3549362 Wrong return type in UserPermissionsForm::permissionsByProvider()
  core/modules/user/src/Form/UserPermissionsForm.php
  core/modules/user/src/PermissionHandlerInterface.php
Due: none

test: #3590491 Remove duplicate TestDatabase usage from KernelTestBase
  core/tests/Drupal/KernelTests/KernelTestBase.php
Due: none

test: #3577840 Consolidate test methods in GenerateThemeTest
  core/tests/Drupal/BuildTests/Command/GenerateThemeTest.php
Due: none

docs: #3590805 DiscoveryCachedTrait::$definitions @var docblock should be array|null to match runtime semantics
  core/lib/Drupal/Component/Plugin/Discovery/DiscoveryCachedTrait.php
Due: none

ci: #3568959 PHPCS ignores the attempt to check run-tests.sh
  core/phpcs.xml.dist
  core/phpstan.neon.dist
  core/scripts/password-hash.sh
  core/scripts/run-tests.sh
  core/tests/phpcs/PhpScriptFilter.php
Due: none

perf: #3593202 Drop the explicit clear of plugin caches in drupal_flush_all_caches()
  core/includes/common.inc
Due: none
