Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/package.json, core/yarn.lock, **/*.css
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module

Revert "Issue #3440975 by kunal.sachdev, phenaproxima: Add validation constraints to system.mail"
  core/modules/system/config/schema/system.schema.yml
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #3443208 by smustgrave, andypost: Remove any missed deprecation code in modules and lib folders
  core/assets/scaffold/files/default.settings.php
  core/lib/Drupal/Core/Site/Settings.php
  core/modules/system/config/schema/system.schema.yml
  core/tests/Drupal/Tests/Core/Site/SettingsTest.php
  sites/default/default.settings.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #3440226 by sanisaha, adwivedi008, Rajan Kumar@2026, jwitkowski79, Kanchan Bhogade, smustgrave, finnsky, ckrina: Update color of submenu title text
  core/modules/navigation/css/components/toolbar-button.css
  core/modules/navigation/css/components/toolbar-button.pcss.css
  core/modules/navigation/templates/menu-region--footer.html.twig
  core/modules/navigation/templates/navigation-menu.html.twig
Due: üßπ CSS linting (stylelint)

Issue #3443866 by finnsky, markusVJH: The toggle button flickers on page load
  core/modules/navigation/css/base/variables.css
  core/modules/navigation/css/base/variables.pcss.css
  core/modules/navigation/css/components/admin-toolbar.css
  core/modules/navigation/css/components/admin-toolbar.pcss.css
  core/modules/navigation/js/admin-toolbar-wrapper.js
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint)

Revert "Issue #3444264 by andypost: [PHP 8.4] ReflectionMethod constructor deprecated with one argument"
  core/lib/Drupal/Component/Utility/ArgumentsResolver.php
Due: none

Drupal 10.4.x-dev
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: none

Issue #3439837 by SolimanHarkas, vensires: Fix Forum tests that rely on UID1's super user behavior
  core/modules/forum/tests/src/Functional/ForumUninstallTest.php
Due: none

Issue #3441392 by Binoli Lalani, smustgrave, andypost, quietone, pradhumanjain2311, longwave, catch: Removed deprecated code in Render system
  core/lib/Drupal/Component/Render/FormattableMarkup.php
  core/lib/Drupal/Core/Render/Element/Ajax.php
  core/lib/Drupal/Core/Render/Element/RenderElementBase.php
  core/lib/Drupal/Core/Render/ElementInfoManager.php
  core/lib/Drupal/Core/Render/HtmlResponseAttachmentsProcessor.php
  core/lib/Drupal/Core/Render/PlaceholderingRenderCache.php
  core/lib/Drupal/Core/Render/RenderCache.php
  core/lib/Drupal/Core/Render/Renderer.php
  core/tests/Drupal/Tests/Component/Render/FormattableMarkupTest.php
Due: none

Issue #3427173 by mondrake, longwave, alexpott, catch: Replace calls to :::expectWarning*() in Drupal\Tests\Component\PhpStorage\FileStorageTest
  core/.phpstan-baseline.php
  core/tests/Drupal/Tests/Component/PhpStorage/FileStorageTest.php
Due: none

Issue #3443537 by longwave, mondrake: Change @dataprovider to static in CallableResolverTest
  core/tests/Drupal/Tests/Core/Utility/CallableResolverTest.php
Due: none

Issue #3390549 by finnsky, nod_, smustgrave, larowlan, catch, bnjmnm: Get rid of jQuery in dialog events
  core/core.libraries.yml
  core/misc/dialog/dialog-deprecation.js
  core/misc/dialog/dialog.ajax.js
  core/misc/dialog/dialog.js
  core/misc/dialog/dialog.position.js
  core/misc/dialog/off-canvas/js/off-canvas.js
  core/modules/ckeditor5/js/ckeditor5.js
  core/modules/layout_builder/js/layout-builder.js
  core/modules/media_library/js/media_library.ui.js
  core/modules/settings_tray/js/settings_tray.js
  core/modules/toolbar/js/toolbar.js
  core/modules/views_ui/js/dialog.views.js
  core/themes/claro/js/media-library.ui.js
Due: üßπ JavaScript linting (eslint)

Issue #3422383 by longwave, mondrake: Convert remaining data providers to static methods
  core/modules/settings_tray/tests/src/FunctionalJavascript/SettingsTrayBlockFormTest.php
  core/modules/settings_tray/tests/src/FunctionalJavascript/SettingsTrayTestBase.php
  core/modules/system/tests/src/FunctionalJavascript/OffCanvasTest.php
  core/modules/system/tests/src/FunctionalJavascript/OffCanvasTestBase.php
  core/modules/update/tests/src/Functional/UpdateSemverTestSecurityAvailabilityTrait.php
  core/modules/update/tests/src/Kernel/UpdateCalculateProjectDataTest.php
  core/modules/views/tests/src/Unit/Plugin/views/filter/NumericFilterTest.php
  core/tests/Drupal/Tests/Core/Render/ElementTest.php
  core/tests/Drupal/Tests/Core/Render/RendererTest.php
  core/tests/Drupal/Tests/Core/Session/SuperUserAccessPolicyTest.php
  core/tests/Drupal/Tests/Core/Session/UserRolesAccessPolicyTest.php
  core/themes/olivero/tests/src/Unit/OliveroHexToHslTest.php
Due: none

Issue #3441137 by catch, mherchel: BigPipe injecting Local Actions block creates large janky layout shift in Claro
  core/lib/Drupal/Core/Render/Renderer.php
  core/modules/block/block.module
  core/tests/Drupal/Tests/Core/Render/RendererPlaceholdersTest.php
Due: üìî Validatable config

Issue #3444587 by alexpott: Add CSS to prettier command and fix core/misc/jquery.form.js to be ignored
  core/.eslintignore
  core/.prettierignore
  core/misc/jquery.form.js
  core/modules/navigation/css/base/variables.css
  core/modules/navigation/css/base/variables.pcss.css
  core/package.json
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint)

Issue #3444566 by mondrake: Fix remaining deprecated string array keys in data sets returned by data provider methods that do not match the parameter names
  core/modules/ckeditor5/tests/src/Kernel/CKEditor5PluginManagerTest.php
  core/modules/comment/tests/src/Kernel/Migrate/d7/MigrateCommentTypeTest.php
  core/modules/field/tests/src/Kernel/Plugin/migrate/source/d6/FieldInstanceLabelDescriptionTranslationTest.php
  core/modules/field_ui/tests/src/Functional/ManageFieldsMultipleTypesTest.php
  core/modules/media/tests/src/FunctionalJavascript/MediaEmbedFilterTestBase.php
  core/modules/system/tests/src/Kernel/Plugin/migrate/source/d7/MenuTranslationTest.php
  core/modules/update/tests/src/Functional/UpdateContribTest.php
  core/modules/update/tests/src/Functional/UpdateSemverTestSecurityAvailabilityTrait.php
  core/tests/Drupal/FunctionalTests/Installer/SuperUserAccessInstallTest.php
  core/tests/Drupal/FunctionalTests/Libraries/JqueryUiLibraryAssetsTest.php
Due: none

Issue #3440114 by Gábor Hojtsy, andypost, catch, BramDriesen: Update PHP EOL dates based on updated PHP team decisions
  core/lib/Drupal/Core/Utility/PhpRequirements.php
Due: none

Issue #3443527 by godotislate, smustgrave: Setting empty URL when making embedded media a link in CKEditor5 causes JS errors
  core/modules/ckeditor5/js/build/drupalMedia.js
  core/modules/ckeditor5/js/ckeditor5_plugins/drupalMedia/src/drupallinkmedia/drupallinkmediaediting.js
Due: üßπ JavaScript linting (eslint)

Revert "Issue #3272629 by kelly.m.jacobs, alexpott, Abhijith S, imclean, heni_deepak, azinck: Media Library widget display doesn't return to first page on applying filters"
  core/modules/media_library/media_library.module
  core/modules/media_library/tests/src/FunctionalJavascript/WidgetViewsTest.php
Due: üìî Validatable config

Drupal 10.2.6
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: none

Back to dev.
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: none
