Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

üßπ JavaScript linting (eslint):
  needs:
  - üì¶Ô∏è Yarn
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - cd core
  - corepack enable
  - yarn run check:ckeditor5
  - yarn run lint:core-js-passing --format gitlab
  artifacts:
    reports:
      codequality: eslint-quality-report.json

üßπ CSS linting (stylelint):
  needs:
  - üì¶Ô∏è Yarn
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - corepack enable
  - cd core
  - yarn run build:css --check
  - yarn run lint:css --color --custom-formatter=node_modules/stylelint-formatter-gitlab
  artifacts:
    reports:
      codequality: stylelint-quality-report.json

üìî Validatable config:
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  artifacts:
    expire_in: 1 week
    expose_as: validatable-config
    paths:
    - HEAD.json
    - MR.json
  allow_failure:
    exit_codes:
    - 100
    - 101
    - 1
  script:
  - git checkout -f $CI_MERGE_REQUEST_DIFF_BASE_SHA
  ...

Issue #3483543 by quietone: Move 13 words to the drupal dictionary
  core/misc/cspell/dictionary.txt
  core/misc/cspell/drupal-dictionary.txt
Due: none

Issue #3491289 by quietone: Fix Drupal.Commenting.FunctionComment.Missing in views filter plugins
  core/modules/comment/src/Plugin/views/filter/StatisticsLastUpdated.php
  core/modules/comment/src/Plugin/views/filter/UserUid.php
  core/modules/file/src/Plugin/views/filter/Status.php
  core/modules/node/src/Plugin/views/filter/Access.php
  core/modules/node/src/Plugin/views/filter/Status.php
  core/modules/node/src/Plugin/views/filter/UidRevision.php
  core/modules/taxonomy/src/Plugin/views/filter/TaxonomyIndexTid.php
  core/modules/taxonomy/src/Plugin/views/filter/TaxonomyIndexTidDepth.php
  core/modules/user/src/Plugin/views/filter/Current.php
  core/modules/user/src/Plugin/views/filter/Name.php
  core/modules/user/src/Plugin/views/filter/Permissions.php
  core/modules/views/src/Plugin/views/filter/BooleanOperator.php
  core/modules/views/src/Plugin/views/filter/BooleanOperatorString.php
  core/modules/views/src/Plugin/views/filter/Combine.php
  core/modules/views/src/Plugin/views/filter/Date.php
  core/modules/views/src/Plugin/views/filter/FilterPluginBase.php
  core/modules/views/src/Plugin/views/filter/GroupByNumeric.php
  core/modules/views/src/Plugin/views/filter/InOperator.php
  core/modules/views/src/Plugin/views/filter/ManyToOne.php
  core/modules/views/src/Plugin/views/filter/NumericFilter.php
  core/modules/views/src/Plugin/views/filter/StringFilter.php
  core/modules/views/tests/modules/views_test_data/src/Plugin/views/access/StaticTest.php
  core/phpcs.xml.dist
Due: none

Issue #3490056 by ankitv18, dww, quietone: Enable SlevomatCodingStandard.Classes.BackedEnumTypeSpacing
  core/phpcs.xml.dist
Due: none

Issue #3490964 by nexusnovaz, mstrelan: Add array return to all hook_jsonapi_ENTITY_TYPE_filter_access hook implementations
  core/.phpstan-baseline.php
  core/modules/jsonapi/jsonapi.api.php
  core/modules/jsonapi/src/Hook/JsonapiHooks.php
Due: none

Issue #3454159 by quietone, smustgrave, nod_: Convert use of array() syntax in sentences
  core/lib/Drupal/Core/Cache/UseCacheBackendTrait.php
  core/lib/Drupal/Core/Entity/EntityAutocompleteMatcherInterface.php
  core/lib/Drupal/Core/Extension/ModuleHandler.php
  core/lib/Drupal/Core/Field/BaseFieldDefinition.php
  core/lib/Drupal/Core/Field/FieldConfigInterface.php
  core/lib/Drupal/Core/Field/FieldDefinitionInterface.php
  core/lib/Drupal/Core/Form/FormState.php
  core/lib/Drupal/Core/ImageToolkit/ImageToolkitInterface.php
  core/lib/Drupal/Core/Render/Element.php
  core/lib/Drupal/Core/Theme/ThemeManager.php
  core/lib/Drupal/Core/Utility/ProjectInfo.php
  core/modules/file/tests/src/Functional/FileFieldWidgetTest.php
  core/modules/file/tests/src/FunctionalJavascript/FileFieldWidgetTest.php
  core/modules/locale/locale.bulk.inc
  core/modules/node/src/Plugin/Search/NodeSearch.php
  core/modules/page_cache/src/StackMiddleware/PageCache.php
  core/modules/rest/src/Plugin/ResourceInterface.php
  core/modules/sqlite/src/Driver/Database/sqlite/Schema.php
  core/modules/system/tests/modules/common_test/common_test.module
  core/modules/taxonomy/src/Plugin/views/filter/TaxonomyIndexTid.php
  core/modules/views/src/Plugin/views/field/Markup.php
  core/modules/views/src/Plugin/views/wizard/WizardPluginBase.php
  core/modules/views_ui/admin.inc
  core/tests/Drupal/KernelTests/Core/Entity/EntityFieldTest.php
  core/tests/Drupal/Tests/Component/ProxyBuilder/ProxyBuilderTest.php
  core/tests/Drupal/Tests/Component/Utility/ColorTest.php
  core/tests/Drupal/Tests/Core/Batch/PercentagesTest.php
  core/tests/Drupal/Tests/Core/ProxyBuilder/ProxyBuilderTest.php
Due: üìî Validatable config

Issue #3491269 by quietone: Fix Drupal.Commenting.FunctionComment.Missing in views plugins, pt 1
  core/modules/comment/src/Plugin/views/sort/StatisticsLastCommentName.php
  core/modules/comment/src/Plugin/views/sort/StatisticsLastUpdated.php
  core/modules/comment/src/Plugin/views/sort/Thread.php
  core/modules/user/src/Plugin/views/access/Permission.php
  core/modules/user/src/Plugin/views/access/Role.php
  core/modules/views/src/Plugin/views/cache/None.php
  core/modules/views/src/Plugin/views/cache/Time.php
  core/modules/views/src/Plugin/views/query/QueryPluginBase.php
  core/modules/views/src/Plugin/views/query/Sql.php
  core/modules/views/src/Plugin/views/sort/Date.php
  core/modules/views/src/Plugin/views/sort/GroupByNumeric.php
  core/modules/views/src/Plugin/views/sort/Random.php
  core/modules/views/src/Plugin/views/sort/SortPluginBase.php
  core/modules/views/tests/modules/views_test_data/src/Plugin/views/query/QueryTest.php
  core/phpcs.xml.dist
Due: none

Issue #3493951 by oily, kim.pepper, nicxvan: Split File oop hook implementations into separate classes
  core/.phpstan-baseline.php
  core/modules/file/file.services.yml
  core/modules/file/src/Hook/CronHook.php
  core/modules/file/src/Hook/FileDownloadHook.php
  core/modules/file/src/Hook/FileHooks.php
  core/modules/file/src/Hook/FileViewsHooks.php
  core/modules/file/src/Hook/TokenHooks.php
Due: üßπ JavaScript linting (eslint)

Issue #3487218 by dpi, mstrelan: Resolve PHPStan-Strict errors: class.nameCase
  core/lib/Drupal/Component/Utility/Html.php
  core/modules/datetime/src/Plugin/Field/FieldWidget/DateTimeWidgetBase.php
  core/modules/image/tests/src/Unit/PageCache/DenyPrivateImageStyleDownloadTest.php
  core/modules/media/src/OEmbed/UrlResolver.php
  core/modules/node/tests/src/Unit/PageCache/DenyNodePreviewTest.php
  core/modules/views/tests/src/Kernel/Entity/EntityViewsDataTest.php
  core/phpstan.neon.dist
  core/scripts/run-tests.sh
  core/tests/Drupal/KernelTests/Core/Image/ToolkitGdTest.php
Due: none

Issue #3490549 by kim.pepper, lendude, larowlan: Add an interface for FileUploadHandler
  core/lib/Drupal/Core/File/Event/FileUploadSanitizeNameEvent.php
  core/modules/ckeditor5/src/Controller/CKEditor5ImageController.php
  core/modules/file/file.module
  core/modules/file/file.services.yml
  core/modules/file/src/Upload/FileUploadHandler.php
  core/modules/file/src/Upload/FileUploadHandlerInterface.php
  core/modules/jsonapi/src/Controller/FileUpload.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #3479185 by akulsaxena, joachim, smustgrave, mikelutz, quietone: Clarify documentation for EntityContentBase 'translations' configuration option
  core/modules/migrate/src/Plugin/migrate/destination/EntityContentBase.php
Due: none

Issue #3303546 by gauravvvv, stanzin, aditya4478, santosh_verma, bramdriesen, finnsky, sakthivel m, smustgrave, bnjmnm, nod_: Refactor Claro's dialog stylesheet
  core/themes/claro/css/components/dialog.css
  core/themes/claro/css/components/dialog.pcss.css
Due: üßπ CSS linting (stylelint)

Issue #3490222 by alexpott, nicxvan: Reinstate drupal_common_theme() and deprecate it
  core/includes/theme.inc
Due: none

Issue #3487874 by jan kellermann, filipeabreu, valthebald, longwave: Olivero: Avoid localStorage for anonymous user to prevent violation of data protection regulations
  core/tests/Drupal/FunctionalJavascriptTests/Theme/OliveroAvoidStorageUsingTest.php
  core/themes/olivero/js/navigation-utils.js
Due: üßπ JavaScript linting (eslint)

Issue #3491044 by plopesc, lauriii, smustgrave: Navigation top bar is not rendered consistently
  core/modules/navigation/src/Plugin/TopBarItem/PageActions.php
  core/modules/navigation/tests/src/Functional/NavigationTopBarTest.php
Due: none

Issue #3100732 by bbrala, bradjones1, mglaman, wim leers, ptmkenny, ranjith_kumar_k_u, plach, larowlan, joachim, claudiu.cristea: Allow specifying metadata on JSON:API objects
  core/modules/jsonapi/jsonapi.services.yml
  core/modules/jsonapi/src/Controller/EntityResource.php
  core/modules/jsonapi/src/Events/CollectRelationshipMetaEvent.php
  core/modules/jsonapi/src/Events/CollectResourceObjectMetaEvent.php
  core/modules/jsonapi/src/Normalizer/ResourceObjectNormalizer.php
  core/modules/jsonapi/tests/modules/jsonapi_test_meta_events/jsonapi_test_meta_events.info.yml
  core/modules/jsonapi/tests/modules/jsonapi_test_meta_events/jsonapi_test_meta_events.services.yml
  core/modules/jsonapi/tests/modules/jsonapi_test_meta_events/src/EventSubscriber/MetaEventSubscriber.php
  core/modules/jsonapi/tests/src/Functional/JsonApiFunctionalTest.php
  core/modules/jsonapi/tests/src/Functional/JsonApiFunctionalTestBase.php
Due: üßπ JavaScript linting (eslint)

Issue #3444745 by fjgarlin, plopesc, m4olivei: Navigation Top Bar hides entity local tasks even if the user has no access to the bar
  core/modules/navigation/src/Hook/NavigationHooks.php
  core/modules/navigation/tests/src/Functional/NavigationTopBarTest.php
Due: none

Issue #3444745 by fjgarlin, plopesc, m4olivei: Navigation Top Bar hides entity local tasks even if the user has no access to the bar
  core/modules/navigation/navigation.module
  core/modules/navigation/tests/src/Functional/NavigationTopBarTest.php
Due: üìî Validatable config

Issue #3490858 by mfb, smustgrave: Align return type phpdoc for EntityChangedInterface::getChangedTime() with EntityChangedTrait
  core/lib/Drupal/Core/Entity/EntityChangedInterface.php
Due: none

Issue #3494678 by mstrelan, nicxvan: Add void return type to all procedural alter hook implementations
  core/.phpstan-baseline.php
  core/modules/ckeditor5/ckeditor5.module
  core/modules/content_translation/content_translation.module
  core/modules/layout_builder/layout_builder.module
  core/modules/layout_builder/tests/modules/layout_builder_test/layout_builder_test.module
  core/modules/media_library/tests/modules/media_library_form_overwrite_test/media_library_form_overwrite_test.module
  core/modules/navigation/navigation.module
  core/modules/system/tests/modules/common_test/common_test.module
  core/modules/system/tests/modules/deprecation_test/deprecation_test.module
  core/modules/system/tests/modules/module_test/module_test.module
  core/modules/system/tests/modules/unversioned_assets_test/unversioned_assets_test.module
  core/modules/system/tests/themes/test_theme/test_theme.theme
  core/modules/views_ui/tests/themes/views_ui_test_theme/views_ui_test_theme.theme
  core/profiles/demo_umami/themes/umami/umami.theme
  core/themes/claro/claro.theme
  core/themes/olivero/olivero.theme
Due: üìî Validatable config

Issue #3494633 by nikolay shapovalov, smustgrave: Remove FormattableMarkup from assertFileHookCalled()
  core/modules/file/tests/src/Functional/FileManagedTestBase.php
  core/modules/file/tests/src/Kernel/FileManagedUnitTestBase.php
Due: none

Issue #3494128 by nicxvan, smustgrave: Move helpers in contact_storage_test.module and delete it
  core/.phpstan-baseline.php
  core/modules/contact/tests/modules/contact_storage_test/contact_storage_test.module
  core/modules/contact/tests/modules/contact_storage_test/src/Hook/ContactStorageTestHooks.php
Due: üìî Validatable config

Issue #3495305 by phenaproxima: Recipes that depend on other recipes break RecipeInputFormTrait
  core/lib/Drupal/Core/Recipe/InputConfigurator.php
  core/modules/system/tests/src/Functional/Form/RecipeFormInputTest.php
  core/tests/fixtures/recipes/input_test/recipe.yml
Due: üßπ JavaScript linting (eslint)

Issue #3491782 by phenaproxima, penyaskito, thejimbirch, gambry, amateescu, alexpott: When applying a recipe, we need to trigger an event pre importing content
  core/lib/Drupal/Core/DefaultContent/Importer.php
  core/lib/Drupal/Core/DefaultContent/PreImportEvent.php
  core/tests/Drupal/FunctionalTests/DefaultContent/ContentImportTest.php
Due: none

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/package.json, core/yarn.lock, **/*.css
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module
