Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/package.json, core/yarn.lock, **/*.css
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module

Issue #3443810 by SKAUGHT, plopesc, DishaKatariya, finnsky, smustgrave, ckrina, Prashant.c, larowlan: Custom Navigation logo is disconnected from new Layout template
  core/modules/navigation/css/components/admin-toolbar.css
  core/modules/navigation/css/components/admin-toolbar.pcss.css
  core/modules/navigation/layouts/navigation.html.twig
  core/modules/navigation/navigation.module
  core/modules/navigation/src/NavigationRenderer.php
  core/modules/navigation/tests/assets/image_test_files/test-logo.png
  core/modules/navigation/tests/src/Functional/NavigationLogoTest.php
Due: üßπ CSS linting (stylelint), üìî Validatable config

Issue #3409561 by VinmayiSwamy, jessehs, andre.bonon, Wim Leers, quietone: CKEditor 5 Styles dropdown broken when in off-canvas sidebar
  core/modules/ckeditor5/js/ckeditor5.js
Due: üßπ JavaScript linting (eslint)

Issue #3452954 by mcdruid, poker10: Tidy up dashes in CHANGELOG
  CHANGELOG.txt
Due: none

Issue #3454556 by xjm: Require Composer 2.7.7
  composer.json
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/DevDependencies/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
Due: none

Issue #3453320 by timurtripp: [10.3 regression] CKEditor 5 renamed CSS variable causing CKEditor dialogs to fail to appear above jQuery UI dialogs
  core/modules/ckeditor5/css/ckeditor5.dialog.fix.css
Due: üßπ CSS linting (stylelint)

Issue #3454062 by kim.pepper: Move Recipe\RollbackTest is to the FunctionalTests namespace
  core/tests/Drupal/FunctionalTests/Core/Recipe/RollbackTest.php
Due: none

Issue #2684251 by pooja_sharma, sheldonreed3, smustgrave, jehon, Lendude: Global Token Replacements is not working correctly in href
  core/modules/views/src/Plugin/views/area/TokenizeAreaPluginBase.php
  core/modules/views/tests/src/Kernel/Handler/AreaTextTokenTest.php
Due: none

Issue #3454212 by nathankg, joachim: Update mentions of #2225961 in comments
  core/lib/Drupal/Core/Entity/EntityFieldManager.php
  core/tests/Drupal/Tests/Core/Entity/EntityFieldManagerTest.php
Due: none

Issue #3238870 by shubh_, mstrelan, nod_, hooroomoo, kostyashupenko, smustgrave, larowlan, thebumik, lauriii: Refactor (if feasible) use of jquery parseHTML function to use vanillaJS
  core/.eslintrc.jquery.json
  core/misc/ajax.js
Due: üßπ JavaScript linting (eslint)

Issue #3455058 by plopesc, smustgrave: drupalInstallModule nightwatch function does not work with Experimental modules
  core/tests/Drupal/Nightwatch/Commands/drupalInstallModule.js
Due: üßπ JavaScript linting (eslint)

Issue #3454605 by thejimbirch, pooja_sharma, phenaproxima, the_g_bomb, catch, b_sharpe: Roles should be in their own recipes for composability
  core/recipes/administrator_role/recipe.yml
  core/recipes/content_editor_role/recipe.yml
  core/recipes/standard/config/user.role.administrator.yml
  core/recipes/standard/config/user.role.content_editor.yml
  core/recipes/standard/recipe.yml
Due: üßπ JavaScript linting (eslint)

Issue #3445847 by Alexander Allen, mstrelan, catch, xjm, longwave, mark_fullmer: PHPUnit 10 behaves differently when invoked outside web root
  core/modules/file/tests/src/Kernel/FileSaveUploadTest.php
  core/tests/Drupal/KernelTests/Core/Database/DriverSpecificKernelTestBase.php
  core/tests/Drupal/KernelTests/KernelTestBase.php
  core/tests/Drupal/Tests/BrowserTestBase.php
  core/tests/Drupal/Tests/Core/Command/QuickStartTest.php
  core/tests/Drupal/Tests/Core/Recipe/RecipeQuickStartTest.php
  core/tests/Drupal/Tests/UnitTestCase.php
  core/tests/bootstrap.php
Due: none
