Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/package.json, core/yarn.lock, **/*.css
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module

Issue #3451611 by mfb, xjm, smustgrave, quietone: Fix the format=flowed; delsp=yes encoding of email messages
  core/lib/Drupal/Core/Mail/MailFormatHelper.php
  core/lib/Drupal/Core/Mail/Plugin/Mail/PhpMail.php
  core/lib/Drupal/Core/Mail/Plugin/Mail/SymfonyMailer.php
  core/tests/Drupal/Tests/Core/Mail/MailFormatHelperTest.php
Due: none

Issue #3433 by nicxvan, quietone, longwave, DuaelFr, smustgrave, larowlan, Lendude, james.williams, fgm, drumm, Steven, luke.stewart, mradcliffe, alexpott: Use CDATA in XML RSS Feeds
  core/core.services.yml
  core/lib/Drupal/Core/EventSubscriber/RssResponseCdata.php
  core/lib/Drupal/Core/EventSubscriber/RssResponseRelativeUrlFilter.php
  core/modules/views/tests/src/Functional/Plugin/DisplayFeedTest.php
  core/tests/Drupal/Tests/Core/EventSubscriber/RssResponseCdataTest.php
Due: üßπ JavaScript linting (eslint)

Issue #3305609 by pooja_sharma, joachim: convert TermTest::testParentHandlerSettings() into a kernel test
  core/modules/taxonomy/tests/src/Functional/TermTest.php
  core/modules/taxonomy/tests/src/Kernel/TermKernelTest.php
Due: none

Issue #3379725 by Wim Leers, phenaproxima, narendraR, alexpott, quietone, borisson_, tim.plunkett: Make Block config entities fully validatable
  core/config/schema/core.data_types.schema.yml
  core/modules/block/block.post_update.php
  core/modules/block/config/schema/block.schema.yml
  core/modules/block/migrations/d6_block.yml
  core/modules/block/migrations/d7_block.yml
  core/modules/block/src/BlockForm.php
  core/modules/block/src/Entity/Block.php
  core/modules/block/tests/src/Functional/BlockInvalidRegionTest.php
  core/modules/block/tests/src/Functional/BlockRenderOrderTest.php
  core/modules/block/tests/src/Functional/BlockWeightUpdateTest.php
  core/modules/block/tests/src/Functional/Rest/BlockResourceTestBase.php
  core/modules/block/tests/src/Kernel/BlockRebuildTest.php
  core/modules/block/tests/src/Kernel/BlockStorageUnitTest.php
  core/modules/block/tests/src/Kernel/BlockValidationTest.php
  core/modules/block/tests/src/Kernel/Migrate/d6/MigrateBlockTest.php
  core/modules/block_content/config/schema/block_content.schema.yml
  core/modules/block_content/tests/modules/block_content_test/config/install/block.block.foobar_gorilla.yml
  core/modules/block_content/tests/src/Kernel/BlockContentDeletionTest.php
  core/modules/config/tests/config_override_integration_test/config/install/block.block.config_override_test.yml
  core/modules/config/tests/config_override_test/config/install/block.block.call_to_action.yml
  core/modules/jsonapi/tests/src/Functional/BlockTest.php
  core/modules/navigation/config/install/navigation.block_layout.yml
  core/modules/search/config/schema/search.schema.yml
  core/modules/search/search.module
  core/modules/search/search.post_update.php
  core/modules/search/src/Plugin/Block/SearchBlock.php
  core/modules/search/tests/src/Functional/Update/SearchBlockPageIdUpdatePathTest.php
  core/tests/Drupal/KernelTests/Config/Schema/MappingTest.php
  core/tests/Drupal/KernelTests/Core/Config/CacheabilityMetadataConfigOverrideTest.php
  core/tests/Drupal/KernelTests/Core/Config/ConfigImporterMissingContentTest.php
  core/tests/Drupal/KernelTests/Core/TypedData/ValidKeysConstraintValidatorTest.php
  core/themes/olivero/config/optional/block.block.olivero_search_form_narrow.yml
  core/themes/olivero/config/optional/block.block.olivero_search_form_wide.yml
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #3191559 by longwave, Spokje, smustgrave, jhodgdon: [random test failure] Random test fail in EntityReferenceWidgetTest
  core/modules/media_library/tests/src/FunctionalJavascript/EntityReferenceWidgetTest.php
Due: none

Issue #3350922 by Ranjit1032002, Akram Khan, quietone, geek-merlin, larowlan: Deprecate unused MatchingRouteNotFoundException
  core/lib/Drupal/Core/Routing/MatchingRouteNotFoundException.php
  core/lib/Drupal/Core/Url.php
Due: none

Issue #3463329 by alexpott: \Drupal\Core\Extension\ExtensionDiscovery::PHP_FUNCTION_PATTERN is out-of-date
  core/lib/Drupal/Core/Extension/ExtensionDiscovery.php
Due: none

Issue #3458321 by narendraR, smustgrave, alexpott: Add validation constraints to language.content_settings.*.*
  core/modules/language/config/schema/language.schema.yml
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #3459170 by mstrelan: Fix instances of ints passed to functions expecting strings
  core/lib/Drupal/Component/Utility/Color.php
  core/lib/Drupal/Component/Utility/Number.php
  core/lib/Drupal/Core/EventSubscriber/FinalExceptionSubscriber.php
  core/lib/Drupal/Core/EventSubscriber/HttpExceptionSubscriberBase.php
  core/lib/Drupal/Core/Lock/LockBackendAbstract.php
  core/lib/Drupal/Core/Lock/NullLockBackend.php
Due: none

Issue #3458319 by TravisCarden: 'Display "@display" needs a selected search fields' message is confusing
  core/modules/views/src/Plugin/views/display/EntityReference.php
Due: none

Issue #3303127 by phenaproxima, thejimbirch, alexpott, Wim Leers, nedjo, b_sharpe, laura.j.johnson@gmail.com: Determine which core config entity methods should be config actions
  core/lib/Drupal/Core/Config/Action/Attribute/ActionMethod.php
  core/lib/Drupal/Core/Config/Action/Plugin/ConfigAction/Deriver/EntityMethodDeriver.php
  core/lib/Drupal/Core/Config/Entity/ConfigEntityBase.php
  core/lib/Drupal/Core/Entity/EntityDisplayBase.php
  core/lib/Drupal/Core/Field/FieldConfigBase.php
  core/modules/block/src/Entity/Block.php
  core/modules/block/tests/src/Kernel/ConfigActionsTest.php
  core/modules/contact/src/Entity/ContactForm.php
  core/modules/contact/tests/src/Kernel/ConfigActionsTest.php
  core/modules/field/tests/src/Kernel/ConfigActionsTest.php
  core/modules/image/src/Entity/ImageStyle.php
  core/modules/image/tests/src/Kernel/ConfigActionsTest.php
  core/modules/language/src/Entity/ConfigurableLanguage.php
  core/modules/language/tests/src/Kernel/ConfigActionsTest.php
  core/modules/media/src/Entity/MediaType.php
  core/modules/media/tests/src/Kernel/ConfigActionsTest.php
  core/modules/node/src/Entity/NodeType.php
  core/modules/node/tests/src/Kernel/ConfigActionsTest.php
  core/modules/system/tests/modules/entity_test/config/schema/entity_test.schema.yml
  core/modules/system/tests/modules/entity_test/src/Entity/EntityTestWithBundle.php
  core/tests/Drupal/KernelTests/Core/Recipe/EntityMethodConfigActionsTest.php
  core/tests/Drupal/Tests/Core/Config/Action/ActionMethodAttributeTest.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #3332683 by VladimirAus, psebborn, Gauravvvv, mherchel, lauriii, nod_, pradipmodh13, smustgrave, quietone, Stockfoot: Refactor Claro's tabledrag stylesheet
  core/themes/claro/css/base/variables.css
  core/themes/claro/css/base/variables.pcss.css
  core/themes/claro/css/components/tabledrag.css
  core/themes/claro/css/components/tabledrag.pcss.css
Due: üßπ CSS linting (stylelint)

Issue #3463288 by catch: Consolidate test methods in StandardPerformanceTest
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTest.php
Due: none

Issue #3421202 by alexpott, longwave, andypost, justafish: Enable W3C-compliant webdriver testing
  .gitlab-ci/pipeline-test-only.yml
  .gitlab-ci/pipeline.yml
  composer.json
  composer.lock
  composer/Metapackage/DevDependencies/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  core/.env.example
  core/modules/big_pipe/tests/modules/big_pipe_regression_test/src/BigPipeRegressionTestController.php
  core/modules/contextual/tests/src/FunctionalJavascript/ContextualLinksTest.php
  core/modules/layout_builder/tests/src/FunctionalJavascript/LayoutBuilderDisableInteractionsTest.php
  core/modules/system/tests/modules/js_webassert_test/src/Controller/TestController.php
  core/modules/toolbar/tests/src/Nightwatch/Tests/toolbarApiTest.js
  core/tests/Drupal/FunctionalJavascriptTests/Ajax/CommandsTest.php
  core/tests/Drupal/FunctionalJavascriptTests/BrowserWithJavascriptTest.php
  core/tests/Drupal/FunctionalJavascriptTests/DrupalSelenium2Driver.php
  core/tests/Drupal/FunctionalJavascriptTests/Tests/DrupalSelenium2DriverTest.php
  core/tests/Drupal/FunctionalJavascriptTests/WebDriverCurlService.php
  core/tests/Drupal/Nightwatch/Commands/drupalCreateRole.js
  core/tests/Drupal/Nightwatch/Tests/Olivero/oliveroStickyHeaderToggleTest.js
  core/tests/Drupal/Nightwatch/nightwatch.conf.js
  core/tests/Drupal/Tests/DocumentElement.php
Due: üßπ JavaScript linting (eslint)

Issue #3463544 by catch: Three more slow functional tests
  core/modules/file/tests/src/Functional/FileListingTest.php
  core/modules/shortcut/tests/src/Functional/ShortcutSetsTest.php
  core/modules/system/tests/src/Functional/Batch/ProcessingTest.php
Due: none

Issue #3447950 by diegoe, longwave, smustgrave: Change @phpstan-ignore-next-line to more specific @phpstan-ignore
  core/lib/Drupal/Core/Cache/VariationCache.php
  core/lib/Drupal/Core/File/FileSystem.php
  core/modules/file/file.module
  core/modules/file/src/FileRepository.php
  core/modules/file/src/Upload/FileUploadHandler.php
  core/modules/migrate/src/Plugin/migrate/process/FileCopy.php
  core/modules/system/tests/modules/element_info_test/src/Element/DeprecatedExtendsFormElement.php
  core/modules/system/tests/modules/element_info_test/src/Element/DeprecatedExtendsRenderElement.php
  core/tests/Drupal/Tests/Component/Annotation/Doctrine/DocParserTest.php
  core/tests/Drupal/Tests/Component/Annotation/Doctrine/Fixtures/Attribute/Nonexistent.php
Due: üìî Validatable config

Issue #3452513 by pooja_sharma, ayush.pandey, farse, joachim, smustgrave: convert FieldEntityTest to a kernel test
  core/modules/views/tests/src/Kernel/Entity/FieldEntityTest.php
Due: none

Issue #3463534 by alexpott, catch, longwave: Performance test gitlab job is broken - revert to use chromedriver
  .gitlab-ci/pipeline.yml
Due: üßπ JavaScript linting (eslint)

Issue #3463773 by alexpott: Allow manual performance test to fail
  .gitlab-ci/pipeline.yml
Due: üßπ JavaScript linting (eslint)

Issue #3460257 by Grimreaper, smustgrave, quietone: Have a dedicated category for blocks provided by the Navigation module
  core/modules/navigation/src/Plugin/Block/NavigationMenuBlock.php
Due: none
