Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üìã PHPUnit Unit (PHPStan rules), üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üì¶ Yarn install on minimum Node.js version

Path conditions:
  üìã PHPUnit Unit (PHPStan rules): any of: core/tests/PHPStan/**/*, composer/Metapackage/PinnedDevDependencies/composer.json
  üßπ JavaScript linting (eslint): any of: core/.eslint*, core/.prettier*, core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/.stylelintrc.json, core/.prettier*, core/package.json, core/yarn.lock, **/*.css
  üì¶ Yarn install on minimum Node.js version: any of: core/package.json, core/yarn.lock

test: #3616193 Rationalise cache warming in OpenTelemetryPerformanceTest
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryPerformanceTest.php
Due: none

test: #3590777 Add kernel test coverage for FileReferenceResolver
  core/modules/file/tests/src/Kernel/FileReferenceResolverTest.php
Due: none

refactor: #3615415 Remove using preg_replace() on every query for PostgreSQL
  core/lib/Drupal/Core/Database/Connection.php
  core/lib/Drupal/Core/Database/Query/Condition.php
  core/modules/pgsql/src/Driver/Database/pgsql/Connection.php
  core/modules/pgsql/src/Driver/Database/pgsql/Schema.php
  core/modules/pgsql/tests/src/Kernel/pgsql/ConditionCastTest.php
  core/modules/pgsql/tests/src/Kernel/pgsql/TemporaryQueryTest.php
  core/modules/views/src/Plugin/views/filter/Combine.php
  core/tests/Drupal/Tests/Core/Database/ConditionTest.php
Due: none

refactor: #3315265 Improve support of native MERGE with RETURNING merge_action()
  core/modules/pgsql/src/Driver/Database/pgsql/Connection.php
  core/modules/pgsql/src/Driver/Database/pgsql/Merge.php
  core/modules/pgsql/tests/src/Kernel/pgsql/MergeTest.php
Due: none

task: #3440225 Update to ESLint v9 with standard rules
  core/.eslintignore
  core/.eslintrc.jquery.json
  core/.eslintrc.json
  core/.eslintrc.legacy.json
  core/.eslintrc.passing.json
  core/eslint.config.mjs
  core/eslint.passing.config.mjs
  core/package.json
  core/yarn.lock
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üì¶ Yarn install on minimum Node.js version

task: #3620801 Remove search references from default_admin
  core/themes/default_admin/css/components/search-admin-settings.css
  core/themes/default_admin/css/components/search-admin-settings.pcss.css
  core/themes/default_admin/default_admin.libraries.yml
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint)

fix: #3440225 ESLint v9 broke the commit script
  core/scripts/dev/commit-code-check.sh
Due: none

task: #3620804 Remove search references from Umami theme
  core/profiles/demo_umami/tests/src/FunctionalJavascript/MultipleRequestsPerformanceTestAssertions/umamiFrontAndRecipePages.yml
  core/profiles/demo_umami/tests/src/FunctionalJavascript/MultipleRequestsPerformanceTestAssertions/umamiFrontAndRecipePagesAuthenticated.yml
  core/profiles/demo_umami/tests/src/FunctionalJavascript/MultipleRequestsPerformanceTestAssertions/umamiFrontAndRecipePagesEditor.yml
  core/profiles/demo_umami/tests/src/FunctionalJavascript/MultipleRequestsPerformanceTestAssertions/umamiLogin.yml
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryPerformanceTestAssertions/administratorNodePage.yml
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryPerformanceTestAssertions/authenticatedFrontPage.yml
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryPerformanceTestAssertions/umamiFrontPageColdCache.yml
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryPerformanceTestAssertions/umamiFrontPageCoolCache.yml
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryPerformanceTestAssertions/umamiFrontPageHotCache.yml
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryPerformanceTestAssertions/umamiNodePageColdCache.yml
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryPerformanceTestAssertions/umamiNodePageCoolCache.yml
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryPerformanceTestAssertions/umamiNodePageHotCache.yml
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryPerformanceTestAssertions/umamiNodePageWarmCache.yml
  core/profiles/demo_umami/themes/umami/css/classy/components/search-results.css
  core/profiles/demo_umami/themes/umami/css/components/blocks/search/search-results.css
  core/profiles/demo_umami/themes/umami/css/components/blocks/search/search.css
  core/profiles/demo_umami/themes/umami/css/components/regions/pre-header/pre-header.css
  core/profiles/demo_umami/themes/umami/images/svg/search.svg
  core/profiles/demo_umami/themes/umami/src/Hook/UmamiHooks.php
  core/profiles/demo_umami/themes/umami/templates/classy/content/search-result.html.twig
  core/profiles/demo_umami/themes/umami/templates/classy/dataset/item-list--search-results.html.twig
  core/profiles/demo_umami/themes/umami/templates/components/search/block--search-form-block.html.twig
  core/profiles/demo_umami/themes/umami/umami.libraries.yml
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint)

fix: #3619974 A view in a workspace shows default revision values for non-translatable entity types
  core/modules/system/tests/modules/entity_test/src/Entity/EntityTestRevPub.php
  core/modules/workspaces/src/Hook/ViewsOperations.php
  core/modules/workspaces/tests/src/Kernel/WorkspaceViewsIntegrationTest.php
Due: none

fix: #3619155 Forced-colors problems with admin theme's sidebar toggle button
  core/themes/default_admin/css/components/sidebar.css
  core/themes/default_admin/css/components/sidebar.pcss.css
Due: üßπ CSS linting (stylelint)

fix: #3617875 Better Dark Mode Support for Disabled Elements
  core/themes/default_admin/css/_variables/variables-color-semantic.css
  core/themes/default_admin/css/_variables/variables-color-semantic.pcss.css
  core/themes/default_admin/css/_variables/variables-components.css
  core/themes/default_admin/css/_variables/variables-components.pcss.css
  core/themes/default_admin/css/components/form--checkbox-radio.css
  core/themes/default_admin/css/components/form--checkbox-radio.pcss.css
  core/themes/default_admin/css/components/form--checkbox-toggle.css
  core/themes/default_admin/css/components/form--checkbox-toggle.pcss.css
Due: üßπ CSS linting (stylelint)

task: #3620216 Add loadOverrideFree and loadMultipleOverrideFree to ConfigEntityBase
  core/lib/Drupal/Core/Config/Entity/ConfigEntityBase.php
  core/tests/Drupal/Tests/Core/Config/Entity/ConfigEntityBaseUnitTest.php
Due: none

feat: #3586688 Add support for generated columns to the DB Schema Definition API
  core/lib/Drupal/Core/Database/SchemaDefinition/Column.php
  core/lib/Drupal/Core/Database/SchemaDefinition/GeneratedColumnExpression.php
  core/lib/Drupal/Core/Database/SchemaDefinition/GeneratedColumnStorage.php
  core/lib/Drupal/Core/Database/SchemaDefinition/Table.php
  core/lib/Drupal/Core/Database/database.api.php
  core/modules/mysql/src/Driver/Database/mysql/Schema.php
  core/modules/mysql/tests/src/Kernel/mysql/SchemaTest.php
  core/modules/pgsql/src/Driver/Database/pgsql/Schema.php
  core/modules/pgsql/tests/src/Kernel/pgsql/SchemaTest.php
  core/modules/sqlite/src/Driver/Database/sqlite/Schema.php
  core/modules/sqlite/tests/src/Kernel/sqlite/SchemaTest.php
  core/tests/Drupal/KernelTests/Core/Database/DriverSpecificSchemaTestBase.php
  core/tests/Drupal/Tests/Core/Database/SchemaDefinitionConversionTest.php
  core/tests/Drupal/Tests/Core/Database/SchemaDefinitionTest.php
Due: none

refactor: #3565822 Move mention of Search from core help to search module
  core/modules/help/help_topics/help.overview.html.twig
  core/modules/search/help_topics/search.overview.html.twig
  core/modules/search/help_topics/search.search.html.twig
Due: none

task: #3580705 Deprecate update.compare functions
  core/modules/package_manager/src/ProjectInfo.php
  core/modules/package_manager/src/Validator/SupportedReleaseValidator.php
  core/modules/package_manager/tests/src/Kernel/ProjectInfoTest.php
  core/modules/update/src/Controller/UpdateController.php
  core/modules/update/src/Hook/UpdateRequirements.php
  core/modules/update/src/ProjectCoreCompatibility.php
  core/modules/update/src/ProjectSecurityData.php
  core/modules/update/src/ProjectSecurityRequirement.php
  core/modules/update/src/UpdateCalculator.php
  core/modules/update/src/UpdateManager.php
  core/modules/update/src/UpdateManagerInterface.php
  core/modules/update/src/UpdateProcessor.php
  core/modules/update/src/UpdateProject.php
  core/modules/update/src/UpdateServerProjectInfo.php
  core/modules/update/tests/src/Kernel/DevReleaseTest.php
  core/modules/update/tests/src/Kernel/UpdateCalculateProjectDataTest.php
  core/modules/update/update.api.php
  core/modules/update/update.compare.inc
  core/modules/update/update.module
  core/modules/update/update.services.yml
Due: üßπ JavaScript linting (eslint)

task: #3580705 followup - Update the change record links
  core/modules/update/update.compare.inc
Due: none

test: #3620770 [random test failure] EmphasisTest::testEmphasis
  core/modules/ckeditor5/tests/src/FunctionalJavascript/EmphasisTest.php
Due: none

fix: #3614246 Media library grid items without a preview thumbnail collapse and hide the item name
  core/themes/claro/css/theme/media-library.css
  core/themes/claro/css/theme/media-library.pcss.css
Due: üßπ CSS linting (stylelint)

docs: #3618255 FormValidator refers to self::METHODS() which don't exist
  core/lib/Drupal/Core/Form/FormValidator.php
Due: none
