Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), ‚úÖÔ∏è PHPStan rules tests, üìî Validatable config

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/.eslint*, core/.prettier*, core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/.stylelintrc.json, core/.prettier*, core/package.json, core/yarn.lock, **/*.css
  ‚úÖÔ∏è PHPStan rules tests: any of: core/tests/PHPStan/**/*, composer/Metapackage/PinnedDevDependencies/composer.json
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module

Issue #3418353 by codebymikey, acbramley, quadrexdev, smustgrave, catch, ressa, benjifisher, berdir: Add new permission for rebuild permissions form
  core/modules/node/node.permissions.yml
  core/modules/node/node.post_update.php
  core/modules/node/node.routing.yml
  core/modules/node/src/Hook/NodeHelpHooks.php
  core/modules/node/tests/src/Functional/NodeAccessRebuildNodeGrantsTest.php
  core/modules/node/tests/src/Functional/NodeRebuildPermissionUpdateTest.php
Due: üßπ JavaScript linting (eslint)

Issue #3452852 by dpi, longwave, smustgrave, mstrelan, mortona2k, dydave, shalini_jha, danielveza, znerol, acbramley, mxh, elc: Add create() factory method with autowired parameters to PluginBase
  core/.phpstan-baseline.php
  core/lib/Drupal/Core/DependencyInjection/AutowireTrait.php
  core/lib/Drupal/Core/DependencyInjection/AutowiredInstanceTrait.php
  core/lib/Drupal/Core/Plugin/PluginBase.php
  core/modules/block_content/block_content.services.yml
  core/modules/block_content/src/Plugin/Block/BlockContentBlock.php
  core/modules/navigation/tests/src/Kernel/NavigationMenuBlockTest.php
  core/modules/navigation/tests/src/Kernel/NavigationMenuMarkupTest.php
  core/modules/navigation/tests/src/Unit/NavigationMenuLinkTreeManipulatorsTest.php
  core/modules/system/tests/modules/autowire_test/src/Plugin/Block/AutowireBlock.php
  core/modules/system/tests/modules/autowire_test/src/Plugin/Block/AutowireErrorBlock.php
  core/modules/system/tests/src/Kernel/Block/SystemMenuBlockTest.php
  core/modules/system/tests/src/Unit/Menu/MenuLinkTreeTest.php
  core/modules/views/src/Plugin/views/PluginBase.php
  core/modules/views/src/Plugin/views/display/Block.php
  core/modules/views/src/Plugin/views/display/EntityReference.php
  core/modules/views/src/Plugin/views/display/Feed.php
  core/modules/views/src/Plugin/views/display/PathPluginBase.php
  core/tests/Drupal/KernelTests/Core/Block/AutowireBlockTest.php
  core/tests/Drupal/KernelTests/Core/Menu/MenuLinkTreeTest.php
  core/tests/Drupal/Tests/Core/Menu/DefaultMenuLinkTreeManipulatorsTest.php
  core/tests/Drupal/Tests/Core/Menu/MenuActiveTrailTest.php
  core/tests/Drupal/Tests/Core/Menu/MenuLinkMock.php
  core/tests/Drupal/Tests/Core/Menu/MenuLinkTreeElementTest.php
Due: üßπ JavaScript linting (eslint)

Issue #3546029 by mondrake, catch, smustgrave, alexpott, bircher: Ensure that #[RunTestsInSeparateProcesses] attribute is added to all Kernel tests
  core/modules/editor/tests/src/Kernel/TextWithSummaryFileUsageTest.php
  core/modules/file/tests/src/Kernel/Plugin/EntityReference/FileSelectionTest.php
  core/modules/node/tests/src/Kernel/TextWithSummaryTokenReplaceTest.php
  core/tests/Drupal/KernelTests/Core/Block/AutowireBlockTest.php
  core/tests/Drupal/KernelTests/Core/Hook/HookLoaderTest.php
  core/tests/Drupal/KernelTests/KernelTestBase.php
Due: none

Issue #3546029 by mondrake, catch, smustgrave, alexpott, bircher: Ensure that #[RunTestsInSeparateProcesses] attribute is added to all Kernel tests
  core/tests/Drupal/KernelTests/KernelTestBase.php
Due: none

Issue #343535 by merlinofchaos, nod_, matthiasm11, prudloff, elaman, smustgrave, claudiu.cristea, pooja saraah, shabana.navas, gaëlg, alexpott: Enable bookmarking of AJAX views
  core/modules/views/js/ajax_view.js
  core/modules/views/src/Ajax/SetBrowserUrl.php
  core/modules/views/src/Controller/ViewAjaxController.php
  core/modules/views/tests/src/FunctionalJavascript/ExposedFilterAJAXTest.php
  core/modules/views/tests/src/FunctionalJavascript/PaginationAJAXTest.php
  core/modules/views/tests/src/Unit/Controller/ViewAjaxControllerTest.php
Due: üßπ JavaScript linting (eslint)

Issue #3550335 by mondrake: Ensure that #[RunTestsInSeparateProcesses] attribute is added to all Functional tests
  core/modules/block_content/modules/block_content_storage_body_field/tests/src/Functional/BlockContentStorageBodyFieldTest.php
  core/modules/block_content/tests/src/Functional/Update/BlockContentRemoveListingEmptyUpdateTest.php
  core/modules/history/tests/src/Functional/CommentCSSTest.php
  core/modules/history/tests/src/Functional/CommentFieldsTest.php
  core/modules/history/tests/src/Functional/CommentTokenReplaceTest.php
  core/modules/layout_builder/tests/src/Functional/FieldValuesTest.php
  core/modules/node/modules/node_storage_body_field/tests/src/Functional/NodeStorageBodyFieldTest.php
  core/modules/node/tests/src/Functional/NodeRebuildPermissionUpdateTest.php
  core/modules/text/tests/src/Functional/TextareaWithSummaryTest.php
  core/modules/views/tests/src/Functional/Update/FormatPluralUpdateTest.php
  core/modules/views/tests/src/Functional/Update/RssDefaultRowViewModeUpdateTest.php
  core/tests/Drupal/Tests/BrowserTestBase.php
Due: none

Issue #3537863 by godotislate, catch, berdir: Optimize field module's hook_entity_bundle_info() implementation
  core/modules/field/field.services.yml
  core/modules/field/src/Hook/FieldHooks.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryAuthenticatedPerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryFrontPagePerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryNodePagePerformanceTest.php
Due: üßπ JavaScript linting (eslint)

Issue #3539822 by mxr576, phenaproxima, alexpott: Recipe installer fails when programmatically providing input to dependent recipes
  core/lib/Drupal/Core/Recipe/InputConfigurator.php
  core/modules/system/tests/src/Functional/Form/RecipeFormInputTest.php
  core/tests/fixtures/recipes/create_node_type/recipe.yml
  core/tests/fixtures/recipes/input_test/recipe.yml
Due: üßπ JavaScript linting (eslint)

Issue #1177762 by catch, longwave, berdir, nicxvan: Deprecate automatic template_preprocess discovery and 'includes'/'file' support from hook_theme()
  core/includes/theme.inc
  core/includes/theme.maintenance.inc
  core/lib/Drupal/Core/Theme/Registry.php
  core/lib/Drupal/Core/Theme/ThemeCommonElements.php
  core/modules/block_content/block_content.module
  core/modules/block_content/block_content.pages.inc
  core/modules/block_content/src/Hook/BlockContentHooks.php
  core/modules/field_ui/field_ui.module
  core/modules/field_ui/src/Hook/FieldUiHooks.php
  core/modules/system/tests/modules/module_test_procedural_preprocess/module_test_procedural_preprocess.additional.inc
  core/modules/system/tests/modules/module_test_procedural_preprocess/module_test_procedural_preprocess.module
  core/modules/system/tests/modules/module_test_procedural_preprocess/module_test_procedural_preprocess.theme.inc
  core/modules/system/tests/src/Kernel/Theme/ThemeDeprecationTest.php
  core/modules/views/src/Hook/ViewsThemeHooks.php
Due: üìî Validatable config

Issue #3548212 by nod_, godotislate, mstrelan: Remove dependency on core/drupal.ajax from contextual module
  core/modules/contextual/contextual.libraries.yml
  core/modules/contextual/js/contextual.js
  core/modules/contextual/src/Element/ContextualLinks.php
  core/modules/navigation/tests/src/FunctionalJavascript/PerformanceTest.php
  core/modules/system/tests/modules/js_testing_ajax_request_test/js/js_testing_ajax_request_test.js
  core/tests/Drupal/FunctionalJavascriptTests/JSWebAssert.php
Due: üßπ JavaScript linting (eslint)

Issue #3552023 by phenaproxima, bircher, alexpott, thejimbirch: Recipes should support skipping config actions on entities that don't exist
  core/lib/Drupal/Core/Config/Action/ConfigActionManager.php
  core/tests/Drupal/KernelTests/Core/Config/Action/ConfigActionTest.php
Due: none

Issue #3550174 by thejimbirch, phenaproxima, b_sharpe: TypeError in CreateForEachBundle when processing config with integer or boolean schema types
  core/lib/Drupal/Core/Config/Action/Plugin/ConfigAction/CreateForEachBundle.php
  core/tests/Drupal/KernelTests/Core/Recipe/WildcardConfigActionsTest.php
Due: none

Issue #3365985 by e0ipso, alexpott, larowlan, wim leers, pdureau: Promote justinrainbow/json-schema from dev-dependency to full dependency
  composer.json
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/DevDependencies/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
Due: ‚úÖÔ∏è PHPStan rules tests

Issue #3546496 by joachim, shayaanmiyy, mstrelan, lostcarpark, michael.j.gleeson, xjm, jberghammer, ranzinator2000, antojose: PluginTestBase has undeclared dependency on user module
  core/tests/Drupal/KernelTests/Core/Plugin/DerivativeTest.php
  core/tests/Drupal/KernelTests/Core/Plugin/FactoryTest.php
  core/tests/Drupal/KernelTests/Core/Plugin/InspectionTest.php
  core/tests/Drupal/KernelTests/Core/Plugin/PluginTestBase.php
Due: none

Issue #3538145 by xjm, joaopauloscho, nicxvan: Optionally bypass the memory limit for PHPCS in the core commit check script
  core/scripts/dev/commit-code-check.sh
Due: none

Issue #3550065 by quietone, xjm: Forbid '@encode' annotation
  core/phpcs.xml.dist
Due: none

Issue #3486996 by kgaut, longwave, alexpott, amsteri, init90, jungle, quietone, iyyappan.govind, kristen pol, dcam: Fix extra periods at the end of comment lines
  composer/Generator/PackageGenerator.php
  core/lib/Drupal/Component/PhpStorage/FileStorage.php
  core/lib/Drupal/Component/Utility/Number.php
  core/lib/Drupal/Core/Cache/Context/CacheContextsManager.php
  core/lib/Drupal/Core/Field/WidgetInterface.php
  core/lib/Drupal/Core/Form/FormBuilder.php
  core/lib/Drupal/Core/Render/Element/FormElementBase.php
  core/lib/Drupal/Core/Routing/AccessAwareRouterInterface.php
  core/lib/Drupal/Core/Routing/StackedRouteMatchInterface.php
  core/misc/tabledrag.js
  core/modules/ckeditor5/tests/src/Unit/HTMLRestrictionsTest.php
  core/modules/contact/tests/src/Functional/ContactSitewideTest.php
  core/modules/field/src/FieldStorageConfigInterface.php
  core/modules/field/tests/src/Kernel/EntityReference/Views/SelectionTest.php
  core/modules/locale/tests/src/Functional/LocaleImportFunctionalTest.php
  core/modules/media/src/MediaSourceInterface.php
  core/modules/menu_ui/tests/src/Functional/MenuUiNodeTest.php
  core/modules/migrate/src/Row.php
  core/modules/options/tests/src/Functional/OptionsWidgetsTest.php
  core/modules/pgsql/src/Driver/Database/pgsql/Schema.php
  core/modules/system/tests/src/Functional/Form/ElementTest.php
  core/modules/user/src/UserInterface.php
  core/modules/views/src/Plugin/views/display/PathPluginBase.php
  core/modules/views/src/Plugin/views/field/FieldHandlerInterface.php
  core/modules/views/src/Plugin/views/style/StylePluginBase.php
  core/modules/views/tests/src/Functional/Plugin/PagerTest.php
  core/modules/views_ui/tests/src/Functional/GroupByTest.php
  core/phpcs.xml.dist
  core/tests/Drupal/Tests/Core/Asset/library_test_files/licenses.libraries.yml
  core/tests/Drupal/Tests/Core/Htmx/HtmxUtilitiesTest.php
  core/tests/Drupal/Tests/Core/Plugin/Discovery/TestDerivativeDiscoveryWithObject.php
Due: üßπ JavaScript linting (eslint)

Issue #3552181 by mstrelan, bbrala: Stop passing null as the label to createEntityReferenceField
  core/modules/jsonapi/tests/src/Functional/JsonApiFilterRegressionTest.php
  core/modules/jsonapi/tests/src/Functional/JsonApiPatchRegressionTest.php
  core/modules/jsonapi/tests/src/Functional/JsonApiRegressionTest.php
  core/modules/jsonapi/tests/src/Traits/CommonCollectionFilterAccessTestPatternsTrait.php
  core/modules/views/tests/src/Kernel/Handler/ArgumentSummaryTest.php
Due: none

Issue #3550070 by mstrelan: DatabaseStorage::decode() docs are incorrect
  core/lib/Drupal/Core/Config/DatabaseStorage.php
Due: none

Issue #3432353 by alexpott, borisson_, smustgrave, bbrala, godotislate, wim leers, kunal.sachdev, yash.rode, dcam, nicxvan, mondrake: Add validation constraints to core.extension
  core/config/schema/core.extension.schema.yml
  core/lib/Drupal/Core/Extension/Plugin/Validation/Constraint/ExtensionAvailableConstraint.php
  core/lib/Drupal/Core/Extension/Plugin/Validation/Constraint/ExtensionAvailableConstraintValidator.php
  core/lib/Drupal/Core/Validation/Plugin/Validation/Constraint/ValidSequenceKeysConstraint.php
  core/lib/Drupal/Core/Validation/Plugin/Validation/Constraint/ValidSequenceKeysConstraintValidator.php
  core/tests/Drupal/KernelTests/Core/Extension/ExtensionAvailableConstraintValidatorTest.php
  core/tests/Drupal/KernelTests/Core/Extension/ThemeExtensionListTest.php
  core/tests/Drupal/KernelTests/Core/Validation/ValidSequenceKeysValidatorTest.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #3535775 by quietone, hhvardan, smustgrave, andypost, zviryatko: Remove Contact module from the Standard profile
  core/modules/migrate_drupal_ui/tests/src/Functional/d6/MultilingualReviewPageTest.php
  core/modules/migrate_drupal_ui/tests/src/Functional/d6/NoMultilingualReviewPageTest.php
  core/modules/migrate_drupal_ui/tests/src/Functional/d6/Upgrade6Test.php
  core/modules/migrate_drupal_ui/tests/src/Functional/d7/MultilingualReviewPageTest.php
  core/modules/migrate_drupal_ui/tests/src/Functional/d7/NoMultilingualReviewPageTest.php
  core/modules/migrate_drupal_ui/tests/src/Functional/d7/Upgrade7Test.php
  core/profiles/standard/config/install/contact.form.feedback.yml
  core/profiles/standard/config/install/core.entity_form_display.user.user.default.yml
  core/profiles/standard/config/install/core.menu.static_menu_link_overrides.yml
  core/profiles/standard/config/install/user.role.anonymous.yml
  core/profiles/standard/config/install/user.role.authenticated.yml
  core/profiles/standard/src/Hook/StandardHooks.php
  core/profiles/standard/standard.info.yml
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTest.php
  core/profiles/standard/tests/src/Traits/StandardTestTrait.php
  core/recipes/standard/recipe.yml
  core/recipes/user_picture/config/core.entity_form_display.user.user.default.yml
  core/tests/Drupal/FunctionalTests/Core/Recipe/RecipeCommandTest.php
  core/tests/Drupal/FunctionalTests/Core/Recipe/StandardRecipeInstallTest.php
  core/tests/Drupal/FunctionalTests/Installer/StandardInstallerTest.php
  core/tests/Drupal/KernelTests/Core/Recipe/InputTest.php
Due: üßπ JavaScript linting (eslint)

Issue #3163740 by scott_euser, claudiu.cristea, tame4tex, smustgrave: Validation errors of extra options form are muted
  core/modules/views_ui/src/Form/Ajax/ConfigHandler.php
  core/modules/views_ui/src/Form/Ajax/ConfigHandlerExtra.php
  core/modules/views_ui/src/Form/Ajax/Display.php
  core/modules/views_ui/tests/modules/views_ui_test/src/Hook/ViewsUiTestHooks.php
  core/modules/views_ui/tests/src/FunctionalJavascript/ConfigHandlerExtraFormTest.php
Due: none

Issue #3038981 by jdleonard, dpi, yogeshmpawar, acbramley, tim.plunkett, danielveza: Inline blocks missing section delta extra data on filtered block definitions
  core/modules/layout_builder/src/Controller/ChooseBlockController.php
  core/modules/layout_builder/tests/modules/layout_builder_test/src/Hook/LayoutBuilderTestPluginHooks.php
  core/modules/layout_builder/tests/src/Functional/LayoutBuilderBlocksTest.php
Due: none

Issue #3538221 by grimreaper, riyas_nr: Be able to control the order of top bar items
  core/modules/navigation/src/Attribute/TopBarItem.php
  core/modules/navigation/src/TopBarItemBase.php
  core/modules/navigation/src/TopBarItemManager.php
  core/modules/navigation/src/TopBarItemPluginInterface.php
  core/modules/navigation/tests/navigation_test/src/Plugin/TopBarItem/TopBarItemHigh.php
  core/modules/navigation/tests/navigation_test/src/Plugin/TopBarItem/TopBarItemLow.php
  core/modules/navigation/tests/navigation_test/src/Plugin/TopBarItem/TopBarItemZero.php
  core/modules/navigation/tests/src/Functional/NavigationTopBarTest.php
  core/modules/navigation/tests/src/Unit/TopBarItemBaseTest.php
Due: none

Issue #3546966 by luismagr: entity_test test entity types should all have admin_permission set
  core/modules/system/tests/modules/entity_test/src/Entity/EntitySerializedField.php
  core/modules/system/tests/modules/entity_test/src/Entity/EntityTestCache.php
  core/modules/system/tests/modules/entity_test/src/Entity/EntityTestCompositeConstraint.php
  core/modules/system/tests/modules/entity_test/src/Entity/EntityTestConstraintViolation.php
  core/modules/system/tests/modules/entity_test/src/Entity/EntityTestConstraints.php
  core/modules/system/tests/modules/entity_test/src/Entity/EntityTestDefaultAccess.php
  core/modules/system/tests/modules/entity_test/src/Entity/EntityTestDefaultValue.php
  core/modules/system/tests/modules/entity_test/src/Entity/EntityTestExternal.php
  core/modules/system/tests/modules/entity_test/src/Entity/EntityTestFieldOverride.php
  core/modules/system/tests/modules/entity_test/src/Entity/EntityTestLabel.php
  core/modules/system/tests/modules/entity_test/src/Entity/EntityTestMulChanged.php
  core/modules/system/tests/modules/entity_test/src/Entity/EntityTestMulDefaultValue.php
  core/modules/system/tests/modules/entity_test/src/Entity/EntityTestMulRevChanged.php
  core/modules/system/tests/modules/entity_test/src/Entity/EntityTestMulRevChangedWithRevisionLog.php
  core/modules/system/tests/modules/entity_test/src/Entity/EntityTestMultiValueBaseField.php
  core/modules/system/tests/modules/entity_test/src/Entity/EntityTestNew.php
  core/modules/system/tests/modules/entity_test/src/Entity/EntityTestNoLabel.php
  core/modules/system/tests/modules/entity_test/src/Entity/EntityTestUniqueConstraint.php
  core/modules/system/tests/modules/entity_test/src/Entity/EntityTestViewBuilder.php
Due: none

Issue #2557319 by mschuster91, cilefen, andyf, swentel, quietone, avpaderno, dcam, smustgrave: Don't display size limit when there is no limit configured for file upload
  core/modules/file/src/Hook/FileThemeHooks.php
  core/modules/file/tests/src/Kernel/UploadHelpTest.php
Due: none

Issue #3521088 by tstoeckler, annmarysruthy, prabha1997, quietone: CreatedItem and ChangedItem are missing TimestampItem's Range constraint
  core/lib/Drupal/Core/Field/Plugin/Field/FieldType/ChangedItem.php
  core/lib/Drupal/Core/Field/Plugin/Field/FieldType/CreatedItem.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityValidationTest.php
Due: none

Issue #3551375 by quietone, dcam, andypost: Remove Contact module from the Umami profile
  core/profiles/demo_umami/config/install/contact.form.feedback.yml
  core/profiles/demo_umami/config/install/core.entity_form_display.contact_message.feedback.default.yml
  core/profiles/demo_umami/config/install/core.menu.static_menu_link_overrides.yml
  core/profiles/demo_umami/config/install/user.role.anonymous.yml
  core/profiles/demo_umami/config/install/user.role.authenticated.yml
  core/profiles/demo_umami/demo_umami.info.yml
  core/profiles/demo_umami/src/Hook/DemoUmamiHooks.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/AssetAggregationAcrossPagesTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryAuthenticatedPerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryFrontPagePerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryNodePagePerformanceTest.php
  core/profiles/demo_umami/themes/umami/css/components/forms/contact.css
  core/profiles/demo_umami/themes/umami/umami.libraries.yml
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint)

Issue #3548520 by loopduplicate: Update links to the modules and themes search pages at Drupal.org
  core/modules/field/src/Hook/FieldHooks.php
  core/modules/help/src/Hook/HelpHooks.php
  core/modules/system/src/Hook/SystemHooks.php
Due: none

Issue #3532092 by baikho, benjifisher: Add Migration Lookup value to error messages
  core/modules/migrate/src/Plugin/migrate/process/MigrationLookup.php
  core/modules/migrate/tests/src/Unit/process/MigrationLookupTest.php
Due: none

Issue #3077149 by jidrone, larowlan, quietone, gaurav_manerkar, smustgrave, amateescu, abh.ai, kristen pol, dcam: Duplicate inline form errors in external Link widgets
  core/modules/link/src/Plugin/Field/FieldWidget/LinkWidget.php
  core/modules/link/src/Plugin/Validation/Constraint/LinkAccessConstraintValidator.php
  core/modules/link/src/Plugin/Validation/Constraint/LinkExternalProtocolsConstraintValidator.php
  core/modules/link/src/Plugin/Validation/Constraint/LinkNotExistingInternalConstraintValidator.php
  core/modules/link/src/Plugin/Validation/Constraint/LinkTypeConstraintValidator.php
  core/modules/link/tests/src/Unit/Plugin/Validation/Constraint/LinkAccessConstraintValidatorTest.php
  core/modules/link/tests/src/Unit/Plugin/Validation/Constraint/LinkExternalProtocolsConstraintValidatorTest.php
  core/modules/link/tests/src/Unit/Plugin/Validation/Constraint/LinkNotExistingInternalConstraintValidatorTest.php
  core/modules/link/tests/src/Unit/Plugin/Validation/Constraint/LinkTypeConstraintValidatorTest.php
Due: none

Issue #3539917 by nicxvan, lendude, larowlan, dcam, oily: Deprecate access callback in HandlerBase
  core/modules/views/src/Plugin/views/HandlerBase.php
  core/modules/views/tests/src/Functional/Handler/HandlerTest.php
Due: none

Issue #3534658 by terry_kolodiy, abhijith s, quietone: Extend the available number of items per views block
  core/modules/views/src/Plugin/views/display/Block.php
Due: none

Issue #3553485 by nicxvan: Add required RunTestsInSeparateProcesses for a few new tests
  core/modules/file/tests/src/Kernel/UploadHelpTest.php
  core/modules/views_ui/tests/src/FunctionalJavascript/ConfigHandlerExtraFormTest.php
Due: none

Issue #3553091 by pameeela, quietone: Update database icon to use phosphor
  core/modules/navigation/assets/icons/database.svg
Due: none
