Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üìã PHPUnit Unit (PHPStan rules), üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üì¶ Yarn install on minimum Node.js version

üìã PHPUnit Unit (PHPStan rules):
  stage: ‚ö°Ô∏è Tests
  needs: []
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - docker-php-ext-enable pcov
  - cd core/tests/PHPStan
  - composer install
  - vendor/bin/phpunit tests --testdox --coverage-text --colors=always --coverage-cobertura=coverage.cobertura.xml --log-junit junit.xml
  artifacts:
  ...

üßπ JavaScript linting (eslint):
  before_script:
  - cd core
  - corepack enable
  - yarn install
  - cd ..
  cache:
    key:
    - .yarn-install-from-cache
    - cache
    - key
    paths:
    - .yarn-install-from-cache
    - cache
    - paths
    policy: pull-push
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
    CACHE_FILE: core/.eslintcache
  ...

üßπ CSS linting (stylelint):
  before_script:
  - cd core
  - corepack enable
  - yarn install
  - cd ..
  cache:
    key:
      files:
      - ./core/package.json
      - ./core/yarn.lock
    paths:
    - ./core/.yarn/cache
    policy: pull
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
    CACHE_FILE: core/.stylelintcache
  script:
  ...

üì¶ Yarn install on minimum Node.js version:
  stage: ü™Ñ Lint
  image: node:20
  variables:
    KUBERNETES_CPU_REQUEST: '1'
  script:
  - cd core
  - corepack enable
  - echo -e "Node version $(node --version)\nYarn version $(corepack yarn --version)"
  - yarn install

task: #3607173 Update prettier
  core/.prettierignore
  core/misc/ajax.js
  core/modules/big_pipe/js/big_pipe.js
  core/modules/views_ui/js/views-admin.js
  core/package.json
  core/themes/default_admin/migration/js/media_embed_ckeditor.theme.js
  core/yarn.lock
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üì¶ Yarn install on minimum Node.js version

task: #3622600 Remove remaining uses of Olivero in tests
  core/modules/block/tests/src/Kernel/Migrate/d6/MigrateBlockTest.php
  core/modules/block/tests/src/Kernel/Migrate/d7/MigrateBlockNoBlockContentTest.php
  core/modules/block/tests/src/Kernel/Migrate/d7/MigrateBlockTest.php
  core/modules/comment/tests/src/Functional/CommentDisplayConfigurableTest.php
  core/modules/locale/tests/src/Functional/LocaleThemeInstallTest.php
  core/modules/locale/tests/themes/locale_test_config_langcode/config/install/core.date_format.locale_test_config_langcode_medium.yml
  core/modules/locale/tests/themes/locale_test_config_langcode/locale_test_config_langcode.info.yml
  core/modules/system/tests/src/Functional/Entity/EntityComputedFieldTest.php
  core/modules/system/tests/src/Functional/Menu/MenuRouterTest.php
  core/modules/system/tests/src/Functional/UpdateSystem/UpdatePathTestBaseFilledTest.php
  core/modules/system/tests/src/Kernel/Migrate/d7/MigrateThemeSettingsTest.php
  core/tests/Drupal/FunctionalJavascriptTests/Ajax/AjaxTest.php
  core/themes/claro/tests/src/Nightwatch/claroPrimaryTabsTest.js
Due: üßπ JavaScript linting (eslint)

fix: #3623388 Details summary summary has low contrast
  core/themes/default_admin/css/components/details.css
  core/themes/default_admin/css/components/details.pcss.css
Due: üßπ CSS linting (stylelint)

fix: #3623385 Admin theme's status report styling is off
  core/profiles/demo_umami/tests/src/FunctionalJavascript/MultipleRequestsPerformanceTestAssertions/umamiNodeAddEditor.yml
  core/themes/default_admin/css/base/icons.css
  core/themes/default_admin/css/components/system-status-report-general-info.css
  core/themes/default_admin/css/components/system-status-report-general-info.pcss.css
  core/themes/default_admin/migration/media/icons/status-report/php.svg
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint)

fix: #3623407 Broken tabledrag UI when uploading multiple files in Admin theme
  core/profiles/demo_umami/tests/src/FunctionalJavascript/MultipleRequestsPerformanceTestAssertions/umamiNodeAddEditor.yml
  core/themes/default_admin/css/components/table--file-multiple-widget.css
  core/themes/default_admin/css/components/table--file-multiple-widget.pcss.css
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint)

task: #3621993 Update Cspell
  core/misc/cspell/dictionary.txt
  core/package.json
  core/yarn.lock
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üì¶ Yarn install on minimum Node.js version

fix: #3583516 Breadcrumb separators are exposed to the accessibility tree
  core/profiles/demo_umami/tests/src/FunctionalJavascript/MultipleRequestsPerformanceTestAssertions/umamiNodeAddEditor.yml
  core/themes/default_admin/css/components/breadcrumb.css
  core/themes/default_admin/css/components/breadcrumb.pcss.css
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint)

fix: #3621109 Skip link in dark mode has low color contrast
  core/themes/default_admin/css/base/elements.css
  core/themes/default_admin/css/base/elements.pcss.css
  core/themes/default_admin/css/components/skip-link.css
  core/themes/default_admin/css/components/skip-link.pcss.css
Due: üßπ CSS linting (stylelint)

task: #3623097 Remove remaining Gin and Claro implementation names from Default Admin theme, part 2
  core/themes/default_admin/config/install/default_admin.settings.yml
  core/themes/default_admin/css/components/details.pcss.css
  core/themes/default_admin/css/theme/accent.css
  core/themes/default_admin/css/theme/accent.pcss.css
  core/themes/default_admin/default_admin.post_update.php
  core/themes/default_admin/images/core/0074bd/chevron-left.svg
  core/themes/default_admin/images/core/0074bd/chevron-right.svg
  core/themes/default_admin/images/core/333333/caret-down.svg
  core/themes/default_admin/images/core/73b355/check.svg
  core/themes/default_admin/images/core/787878/cog.svg
  core/themes/default_admin/images/core/787878/key.svg
  core/themes/default_admin/images/core/787878/questionmark-disc.svg
  core/themes/default_admin/images/core/README.md
  core/themes/default_admin/images/core/e29700/warning.svg
  core/themes/default_admin/images/core/e32700/error.svg
  core/themes/default_admin/images/core/ffffff/clock.svg
  core/themes/default_admin/images/core/ffffff/database.svg
  core/themes/default_admin/images/core/ffffff/drupal-logo.svg
  core/themes/default_admin/images/core/ffffff/ex.svg
  core/themes/default_admin/images/core/ffffff/php-logo.svg
  core/themes/default_admin/images/core/ffffff/server.svg
  core/themes/default_admin/images/core/stable/views_ui/sprites.png
  core/themes/default_admin/images/icons/ee0000/required.svg
  core/themes/default_admin/src/Settings.php
  core/themes/default_admin/tests/fixtures/implementation-name-allowlist.json
  core/themes/default_admin/tests/src/Functional/AdminTest.php
  core/themes/default_admin/tests/src/Kernel/FocusColorPresetUpdateTest.php
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint)

fix: #3624030 Fix 11.x with missing GenericTest
  core/tests/fixtures/test_runner/work_allocator/complex_in.json
  core/tests/fixtures/test_runner/work_allocator/complex_two_of_eight_out.json
Due: none

fix: #3624030 Fix 11.x with missing GenericTest
  core/tests/fixtures/test_runner/work_allocator/complex_two_of_eight_out.json
Due: none

fix: #3623728 Node.js v24 upgrade fails all Nightwatch test runs
  core/tests/Drupal/Nightwatch/Tests/jQueryUIPositionShimTest.js
Due: üßπ JavaScript linting (eslint)

task: #3623097 Remove remaining Gin and Claro implementation names from Default Admin theme, part 2
  core/themes/default_admin/config/install/default_admin.settings.yml
  core/themes/default_admin/css/components/details.pcss.css
  core/themes/default_admin/css/theme/accent.css
  core/themes/default_admin/css/theme/accent.pcss.css
  core/themes/default_admin/images/core/0074bd/chevron-left.svg
  core/themes/default_admin/images/core/0074bd/chevron-right.svg
  core/themes/default_admin/images/core/333333/caret-down.svg
  core/themes/default_admin/images/core/73b355/check.svg
  core/themes/default_admin/images/core/787878/cog.svg
  core/themes/default_admin/images/core/787878/key.svg
  core/themes/default_admin/images/core/787878/questionmark-disc.svg
  core/themes/default_admin/images/core/README.md
  core/themes/default_admin/images/core/e29700/warning.svg
  core/themes/default_admin/images/core/e32700/error.svg
  core/themes/default_admin/images/core/ee0000/required.svg
  core/themes/default_admin/images/core/ffffff/clock.svg
  core/themes/default_admin/images/core/ffffff/database.svg
  core/themes/default_admin/images/core/ffffff/drupal-logo.svg
  core/themes/default_admin/images/core/ffffff/ex.svg
  core/themes/default_admin/images/core/ffffff/php-logo.svg
  core/themes/default_admin/images/core/ffffff/server.svg
  core/themes/default_admin/images/core/stable/views_ui/sprites.png
  core/themes/default_admin/src/Settings.php
  core/themes/default_admin/tests/fixtures/implementation-name-allowlist.json
  core/themes/default_admin/tests/src/Functional/AdminTest.php
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint)

Revert "task: #3623097 Remove remaining Gin and Claro implementation names from Default Admin theme, part 2"
  core/themes/default_admin/config/install/default_admin.settings.yml
  core/themes/default_admin/css/components/details.pcss.css
  core/themes/default_admin/css/theme/accent.css
  core/themes/default_admin/css/theme/accent.pcss.css
  core/themes/default_admin/images/core/0074bd/chevron-left.svg
  core/themes/default_admin/images/core/0074bd/chevron-right.svg
  core/themes/default_admin/images/core/333333/caret-down.svg
  core/themes/default_admin/images/core/73b355/check.svg
  core/themes/default_admin/images/core/787878/cog.svg
  core/themes/default_admin/images/core/787878/key.svg
  core/themes/default_admin/images/core/787878/questionmark-disc.svg
  core/themes/default_admin/images/core/README.md
  core/themes/default_admin/images/core/e29700/warning.svg
  core/themes/default_admin/images/core/e32700/error.svg
  core/themes/default_admin/images/core/ee0000/required.svg
  core/themes/default_admin/images/core/ffffff/clock.svg
  core/themes/default_admin/images/core/ffffff/database.svg
  core/themes/default_admin/images/core/ffffff/drupal-logo.svg
  core/themes/default_admin/images/core/ffffff/ex.svg
  core/themes/default_admin/images/core/ffffff/php-logo.svg
  core/themes/default_admin/images/core/ffffff/server.svg
  core/themes/default_admin/images/core/stable/views_ui/sprites.png
  core/themes/default_admin/src/Settings.php
  core/themes/default_admin/tests/fixtures/implementation-name-allowlist.json
  core/themes/default_admin/tests/src/Functional/AdminTest.php
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint)

fix: #3623385 Admin theme's status report styling is off
  core/themes/default_admin/css/base/icons.css
  core/themes/default_admin/css/components/system-status-report-general-info.css
  core/themes/default_admin/css/components/system-status-report-general-info.pcss.css
  core/themes/default_admin/migration/media/icons/status-report/php.svg
Due: üßπ CSS linting (stylelint)

fix: #3506333 Improve the perceptibility of contextual link buttons
  core/themes/default_admin/css/components/contextual-links.css
  core/themes/default_admin/css/components/contextual-links.pcss.css
  core/themes/default_admin/images/icons/currentColor/media-edit.svg
Due: üßπ CSS linting (stylelint)

task: #3623168 Update deprecation notices in ajax.js
  core/misc/ajax.js
Due: üßπ JavaScript linting (eslint)

task: #3623051 Clean up references to moved Search plugins
  core/lib/Drupal/Core/Hook/Attribute/HookDependsOnModule.php
  core/modules/search/modules/search_node/src/Plugin/Search/SearchNode.php
  core/modules/search/modules/search_node/tests/src/Kernel/NodeSearchTest.php
  core/modules/search/modules/search_user/src/Plugin/Search/SearchUser.php
  core/modules/search/search.api.php
  core/modules/search/src/Plugin/SearchPluginBase.php
Due: none

task: #3623927 Remove Olivero from database dumps
  core/modules/system/tests/fixtures/update/drupal-11.3.0.bare.standard.php.gz
  core/modules/system/tests/fixtures/update/drupal-11.3.0.filled.standard.php.gz
  core/modules/system/tests/src/Functional/UpdateSystem/UpdatePathTestBaseFilledTest.php
Due: none

task: #3624072 Remove claro from database dumps
  core/modules/system/tests/fixtures/update/drupal-11.3.0.bare.standard.php.gz
  core/modules/system/tests/fixtures/update/drupal-11.3.0.filled.standard.php.gz
  core/modules/system/tests/src/Functional/UpdateSystem/UpdatePathTestBaseFilledTest.php
Due: none

fix: #3618140 Improve the accessibility of focus outlines
  core/profiles/demo_umami/tests/src/FunctionalJavascript/MultipleRequestsPerformanceTestAssertions/umamiNodeAddEditor.yml
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTestAssertions/testAdmin.yml
  core/themes/default_admin/css/_variables/variables-color-semantic.css
  core/themes/default_admin/css/_variables/variables-color-semantic.pcss.css
  core/themes/default_admin/css/_variables/variables-misc.css
  core/themes/default_admin/css/_variables/variables-misc.pcss.css
  core/themes/default_admin/css/base/elements.css
  core/themes/default_admin/css/base/elements.pcss.css
  core/themes/default_admin/css/components/dropbutton.css
  core/themes/default_admin/css/components/dropbutton.pcss.css
  core/themes/default_admin/css/components/form--checkbox-radio.css
  core/themes/default_admin/css/components/form--checkbox-radio.pcss.css
  core/themes/default_admin/css/components/form--checkbox-toggle.css
  core/themes/default_admin/css/components/form--checkbox-toggle.pcss.css
  core/themes/default_admin/css/components/icon-link.css
  core/themes/default_admin/css/components/icon-link.pcss.css
  core/themes/default_admin/css/components/media-library-item.css
  core/themes/default_admin/css/components/media-library-item.pcss.css
  core/themes/default_admin/css/components/node-preview.css
  core/themes/default_admin/css/components/node-preview.pcss.css
  core/themes/default_admin/css/components/settings.css
  core/themes/default_admin/css/components/settings.pcss.css
  core/themes/default_admin/css/components/views-ui.css
  core/themes/default_admin/css/components/views-ui.pcss.css
  core/themes/default_admin/css/theme/accent.css
  core/themes/default_admin/css/theme/accent.pcss.css
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint)

task: #3624359 Remove 'lifecycle: experimental' from Admin's info.yml
  core/themes/default_admin/default_admin.info.yml
Due: üßπ JavaScript linting (eslint)

task: #3621198 Change remaining usages of Claro
  core/lib/Drupal/Component/Plugin/DependentPluginInterface.php
  core/lib/Drupal/Core/Extension/Command/ExtensionInstallCommand.php
  core/lib/Drupal/Core/Field/FieldItemInterface.php
  core/lib/Drupal/Core/Render/theme.api.php
  core/misc/dialog/off-canvas/css/form.css
  core/misc/dialog/off-canvas/css/form.pcss.css
  core/misc/dialog/off-canvas/css/throbber.css
  core/misc/dialog/off-canvas/css/throbber.pcss.css
  core/modules/block/tests/src/FunctionalJavascript/BlockDragTest.php
  core/modules/comment/tests/src/Functional/CommentDisplayConfigurableTest.php
  core/modules/help/tests/src/Functional/HelpTopicTranslatedTestBase.php
  core/modules/search/modules/search_help/config/optional/block.block.default_admin_help_search.yml
  core/modules/search/modules/search_help/tests/src/Functional/HelpTopicSearchTest.php
  core/modules/system/tests/src/Functional/Entity/EntityComputedFieldTest.php
  core/modules/system/tests/src/Functional/System/ThemeTest.php
  core/modules/system/tests/src/Functional/Theme/ThemeUninstallConfirmTest.php
  core/modules/workspaces_ui/css/workspaces.overview.css
  core/modules/workspaces_ui/css/workspaces.overview.pcss.css
  core/tests/Drupal/FunctionalTests/Installer/StandardInstallerTest.php
  core/tests/Drupal/Tests/RequirementsPageTrait.php
  core/tests/README.md
  core/themes/claro/css/components/form.css
  core/themes/claro/css/components/form.pcss.css
  core/themes/olivero/templates/filter/filter-tips.html.twig
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint)

Path conditions:
  üìã PHPUnit Unit (PHPStan rules): any of: core/tests/PHPStan/**/*, composer/Metapackage/PinnedDevDependencies/composer.json
  üßπ JavaScript linting (eslint): any of: core/.eslint*, core/.prettier*, core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/.stylelintrc.json, core/.prettier*, core/package.json, core/yarn.lock, **/*.css
  üì¶ Yarn install on minimum Node.js version: any of: core/package.json, core/yarn.lock
