Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

üßπ JavaScript linting (eslint):
  needs:
  - üì¶Ô∏è Yarn
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - cd core
  - corepack enable
  - yarn run check:ckeditor5
  - yarn run lint:core-js-passing --format gitlab
  artifacts:
    reports:
      codequality: eslint-quality-report.json

üßπ CSS linting (stylelint):
  needs:
  - üì¶Ô∏è Yarn
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - corepack enable
  - cd core
  - yarn run build:css --check
  - yarn run lint:css --color --custom-formatter=node_modules/stylelint-formatter-gitlab
  artifacts:
    reports:
      codequality: stylelint-quality-report.json

üìî Validatable config:
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  artifacts:
    expire_in: 1 week
    expose_as: validatable-config
    paths:
    - HEAD.json
    - MR.json
  allow_failure:
    exit_codes:
    - 100
    - 101
    - 1
  script:
  - git checkout -f $CI_MERGE_REQUEST_DIFF_BASE_SHA
  ...

Issue #3467080 by fjgarlin: Test-only job cannot be run due to wrong dependency
  .gitlab-ci/pipeline-test-only.yml
Due: üßπ JavaScript linting (eslint)

Issue #3466822 by longwave, mondrake: WebAssertTest fails on 10.x
  core/tests/Drupal/Tests/Core/Test/WebAssertTest.php
Due: none

Issue #2613926 by quietone, Arla, jofitz, Berdir, alexpott: The PECL UUID implementation can return invalid UUIDs
  core/lib/Drupal/Component/Uuid/Pecl.php
Due: none

Issue #3304746 by scott_euser, casey, smustgrave: BigPipe cannot handle (GET) form redirects (EnforcedResponseException)
  core/modules/big_pipe/big_pipe.services.yml
  core/modules/big_pipe/src/Render/BigPipe.php
  core/modules/big_pipe/tests/modules/big_pipe_test/big_pipe_test.routing.yml
  core/modules/big_pipe/tests/modules/big_pipe_test/src/BigPipeTestController.php
  core/modules/big_pipe/tests/src/Functional/BigPipeTest.php
  core/modules/big_pipe/tests/src/Unit/Render/FiberPlaceholderTest.php
  core/modules/big_pipe/tests/src/Unit/Render/ManyPlaceholderTest.php
Due: üßπ JavaScript linting (eslint)

Issue #3467098 by Spokje: Bump phpstan/phpstan and mglaman/phpstan-drupal to latest to make daily "updated deps" QA run pass again
  composer.json
  composer.lock
  composer/Metapackage/DevDependencies/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  core/.phpstan-baseline.php
  core/tests/PHPStan/composer.json
Due: none

Issue #3463607 by claudiu.cristea: AccessDeniedSubscriber should extend HttpExceptionSubscriberBase
  core/modules/user/src/EventSubscriber/AccessDeniedSubscriber.php
Due: none

Issue #3416525 by smustgrave, cmlara, NikolaAt, alexpott: DatabaseStorage, readMultiple throws error when receive empty array
  core/lib/Drupal/Core/Config/DatabaseStorage.php
  core/tests/Drupal/KernelTests/Core/Config/Storage/ConfigStorageTestBase.php
Due: none

Issue #3465507 by mstrelan, nicxvan: Deprecate and / or remove unused Controllers and routes from WebAssert tests
  core/modules/system/tests/modules/test_page_test/src/Controller/Test.php
  core/modules/system/tests/modules/test_page_test/test_page_test.routing.yml
Due: üßπ JavaScript linting (eslint)

Issue #3463267 by idebr, quietone, smustgrave: Remove lingering 'priority' keys from node access records in test modules
  core/modules/node/tests/modules/node_access_test/node_access_test.module
  core/modules/node/tests/modules/node_access_test_language/node_access_test_language.module
  core/modules/node/tests/modules/node_test/node_test.module
Due: üìî Validatable config

Issue #3461006 by longwave, andypost: Use Ubuntu images in all CI environments for core
  .gitlab-ci.yml
Due: üßπ JavaScript linting (eslint)

Issue #3385846 by pooja_sharma, joachim: FileOnTranslatedEntityTest should use API to set up language
  core/modules/file/tests/src/Functional/FileOnTranslatedEntityTest.php
Due: none

Issue #3464431 by idebr, Lendude: Attach Ajax dialog library for Views Entity Operations
  core/modules/node/tests/src/FunctionalJavascript/NodeDeleteConfirmTest.php
  core/modules/views/src/Plugin/views/field/EntityOperations.php
  core/modules/views/tests/src/Unit/Plugin/views/field/EntityOperationsUnitTest.php
Due: none

Issue #3465968 by catch: De-duplicate logic in ManageFieldsFunctionalTest
  core/modules/field_ui/tests/src/Functional/ManageFieldsFunctionalTest.php
Due: none

Issue #3465880 by catch: FileFieldCreationTrait methods should be protected
  core/modules/file/tests/src/Functional/FileFieldCreationTrait.php
Due: none

Issue #3465855 by catch, smustgrave: Split up FormTest
  core/modules/field/tests/src/Functional/FormTest.php
  core/modules/field/tests/src/Functional/MultipleWidgetFormTest.php
Due: none

Issue #3463908 by catch, quietone: Split OptionsFieldUiTest into two
  core/modules/options/tests/src/FunctionalJavascript/OptionsFieldUIAllowedValuesTest.php
  core/modules/options/tests/src/FunctionalJavascript/OptionsFieldUITest.php
Due: none

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/package.json, core/yarn.lock, **/*.css
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module
