Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), ‚úÖÔ∏è PHPStan rules tests, üìî Validatable config

üßπ JavaScript linting (eslint):
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - - mkdir /build;
    - cp -Ria $CI_PROJECT_DIR/* /build/
    - cd /build
  ...

üßπ CSS linting (stylelint):
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - - mkdir /build;
    - cp -Ria $CI_PROJECT_DIR/* /build/
    - cd /build
  ...

‚úÖÔ∏è PHPStan rules tests:
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - docker-php-ext-enable pcov
  - cd core/tests/PHPStan
  - composer install
  - vendor/bin/phpunit tests --testdox --coverage-text --colors=always --coverage-cobertura=coverage.cobertura.xml --log-junit junit.xml
  artifacts:
    when: always
  ...

üìî Validatable config:
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
    _TARGET_PHP: 8.3-ubuntu
  artifacts:
    expire_in: 1 week
    expose_as: validatable-config
    paths:
    - HEAD.json
    - MR.json
  allow_failure:
    exit_codes:
    - 100
    - 101
    - 1
  script:
  - git checkout -f $CI_MERGE_REQUEST_DIFF_BASE_SHA
  ...

Issue #3517527 by quietone, smustgrave, catch, xjm: Fix Drupal.Commenting.FunctionComment.Missing in core/lib
  core/lib/Drupal/Core/Command/GenerateTheme.php
  core/lib/Drupal/Core/Extension/DatabaseDriver.php
  core/lib/Drupal/Core/Extension/ModuleHandler.php
  core/lib/Drupal/Core/Extension/Plugin/Validation/Constraint/ExtensionAvailableConstraintValidator.php
  core/lib/Drupal/Core/Extension/module.api.php
  core/lib/Drupal/Core/File/MimeType/MimeTypeMapFactory.php
  core/lib/Drupal/Core/Mail/Plugin/Mail/SymfonyMailer.php
  core/lib/Drupal/Core/Render/Element/Fieldgroup.php
  core/lib/Drupal/Core/Routing/UrlMatcher.php
  core/lib/Drupal/Core/Test/PerformanceTestRecorder.php
  core/lib/Drupal/Core/Validation/Plugin/Validation/Constraint/ValidSequenceKeysConstraint.php
  core/phpcs.xml.dist
Due: none

Issue #3095414 by amateescu, geek-merlin, catch: Add the concept of workspace providers
  core/modules/jsonapi/tests/src/Functional/WorkspaceTest.php
  core/modules/workspaces/config/schema/workspaces.schema.yml
  core/modules/workspaces/src/Entity/Workspace.php
  core/modules/workspaces/src/Form/WorkspaceSwitcherForm.php
  core/modules/workspaces/src/Hook/EntityOperations.php
  core/modules/workspaces/src/Plugin/EntityReferenceSelection/WorkspaceSelection.php
  core/modules/workspaces/src/Provider/DefaultWorkspaceProvider.php
  core/modules/workspaces/src/Provider/WorkspaceProviderBase.php
  core/modules/workspaces/src/Provider/WorkspaceProviderCollector.php
  core/modules/workspaces/src/Provider/WorkspaceProviderInterface.php
  core/modules/workspaces/src/WorkspaceAccessControlHandler.php
  core/modules/workspaces/src/WorkspaceInterface.php
  core/modules/workspaces/src/WorkspaceListBuilder.php
  core/modules/workspaces/src/WorkspaceManager.php
  core/modules/workspaces/src/WorkspaceManagerInterface.php
  core/modules/workspaces/src/WorkspacesServiceProvider.php
  core/modules/workspaces/tests/modules/workspaces_test/src/Provider/TestWorkspaceProvider.php
  core/modules/workspaces/tests/src/Functional/Rest/WorkspaceResourceTestBase.php
  core/modules/workspaces/tests/src/Functional/WorkspaceSwitcherTest.php
  core/modules/workspaces/tests/src/Functional/WorkspaceTest.php
  core/modules/workspaces/tests/src/Kernel/WorkspaceAccessTest.php
  core/modules/workspaces/tests/src/Kernel/WorkspaceIntegrationTest.php
  core/modules/workspaces/workspaces.install
  core/modules/workspaces/workspaces.services.yml
  core/tests/fixtures/default_content/workspace/inner_test.yml
  core/tests/fixtures/default_content/workspace/test_workspace.yml
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #3543241 by nicxvan, mstrelan: Modernize Announcements Feed Hook implementations
  core/modules/announcements_feed/src/Hook/AnnouncementsFeedCronHooks.php
  core/modules/announcements_feed/src/Hook/AnnouncementsFeedHelpHooks.php
  core/modules/announcements_feed/src/Hook/AnnouncementsFeedHooks.php
  core/modules/announcements_feed/src/Hook/AnnouncementsFeedThemeHooks.php
  core/modules/announcements_feed/src/Hook/AnnouncementsFeedToolbarHooks.php
Due: none

Issue #3553601 by grimreaper, gxleano: Icon API: Allow dot in library
  core/assets/schemas/v1/icon_pack.schema.json
  core/tests/Drupal/Tests/Core/Theme/Icon/IconPackManagerTest.php
Due: none

Issue #3542159 by tom konda: The elementSettings property assignment is redundant in attach() of ajax.js
  core/misc/ajax.js
  core/modules/navigation/tests/src/FunctionalJavascript/PerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/AssetAggregationAcrossPagesTest.php
Due: üßπ JavaScript linting (eslint)

Issue #3536886 by mglaman, phenaproxima, larowlan, thejimbirch: RecipeCommand does not terminate services, leaving a broken router
  core/lib/Drupal/Core/Command/BootableCommandTrait.php
Due: none

Issue #3553664 by phenaproxima, alexpott, nicxvan: BootableCommandTrait mangles the global base_url and breaks URL generation
  core/lib/Drupal/Core/Command/BootableCommandTrait.php
  core/tests/Drupal/Tests/Core/Command/BootableCommandTraitTest.php
Due: none

Issue #3514079 by grimreaper, larowlan, nicoloye, acbramley, nod_: Render contextual links taking the current page theme into account
  core/modules/contextual/contextual.libraries.yml
  core/modules/contextual/contextual.services.yml
  core/modules/contextual/js/contextual.js
  core/modules/contextual/src/Element/ContextualLinksPlaceholder.php
  core/modules/contextual/src/Theme/ContextualLinksNegotiator.php
  core/modules/contextual/tests/src/Kernel/ContextualUnitTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryAuthenticatedPerformanceTest.php
Due: üßπ JavaScript linting (eslint)

Issue #3500425 by cilefen, julio_retkwa, smustgrave, bnjmnm, sandip, haris khan jadoon, snehal-chibde, nod_, vasantha deepika: Add a close icon for Claro primary tabs on mobile
  core/tests/Drupal/Nightwatch/Tests/Claro/claroPrimaryTabsTest.js
  core/themes/claro/css/components/tabs.css
  core/themes/claro/css/components/tabs.pcss.css
  core/themes/claro/js/nav-tabs.js
  core/themes/claro/templates/navigation/menu-local-task.html.twig
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint)

Issue #3552894 by mollux, smustgrave: Fix typos in comments to core.services.yml and serialization.yaml
  core/lib/Drupal/Core/DrupalKernel.php
  core/lib/Drupal/Core/Template/TwigEnvironment.php
  core/modules/help/src/HelpTopicTwigLoader.php
Due: none

Issue #3553581 by amateescu, smustgrave: Slim down WorkspaceManager
  core/modules/workspaces/src/Entity/Workspace.php
  core/modules/workspaces/src/Event/WorkspaceSwitchEvent.php
  core/modules/workspaces/src/EventSubscriber/WorkspaceSwitchSubscriber.php
  core/modules/workspaces/src/Hook/WorkspacesHooks.php
  core/modules/workspaces/src/WorkspaceManager.php
  core/modules/workspaces/src/WorkspaceManagerInterface.php
  core/modules/workspaces/workspaces.services.yml
Due: üßπ JavaScript linting (eslint)

Issue #3554055 by nicxvan: Stablize performance tests
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryAuthenticatedPerformanceTest.php
Due: none

Issue #3535332 by sagarsingh24, benjifisher, camhoward, oily, annmarysruthy, abhijith s, ultimike: Primary tabs order when editing a taxonomy term are reversed
  core/lib/Drupal/Core/Menu/LocalTaskManager.php
  core/modules/taxonomy/tests/src/Functional/TermTest.php
  core/tests/Drupal/Tests/Core/Menu/LocalTaskManagerTest.php
Due: none

Revert "Issue #3471459 by nayana_mvr, ahsannazir, marc.bau, bnjmnm, larowlan: Prefix/Suffix not inline with autocomplete field"
  core/themes/claro/css/components/tables.css
  core/themes/claro/css/components/tables.pcss.css
Due: üßπ CSS linting (stylelint)

Issue #3550720 by benjifisher, smustgrave: Refactor FieldUiJSTestTrait::fieldUIAddNewFieldJS() because it is brittle
  core/modules/field_ui/tests/src/Traits/FieldUiJSTestTrait.php
Due: none

Issue #3554130 by alexpott: If cache exists cspell job fails
  .gitlab-ci.yml
Due: üßπ JavaScript linting (eslint)

Issue #3035288 by andypost, berdir, markhalliwell, alexpott, acbramley, nicxvan, claudiu.cristea: Deprecate theme_get_setting()
  core/core.services.yml
  core/includes/theme.inc
  core/lib/Drupal/Core/Extension/ThemeExtensionList.php
  core/lib/Drupal/Core/Extension/ThemeInstaller.php
  core/lib/Drupal/Core/Extension/ThemeSettingsProvider.php
  core/lib/Drupal/Core/Render/BareHtmlPageRenderer.php
  core/lib/Drupal/Core/Render/theme.api.php
  core/lib/Drupal/Core/Theme/ThemePreprocess.php
  core/lib/Drupal/Core/Theme/ThemeSettings.php
  core/modules/comment/src/Hook/CommentThemeHooks.php
  core/modules/node/src/Hook/NodeThemeHooks.php
  core/modules/shortcut/src/Hook/ShortcutThemeHooks.php
  core/modules/system/src/Form/ThemeSettingsForm.php
  core/modules/system/src/Plugin/Block/SystemBrandingBlock.php
  core/modules/system/tests/themes/test_theme_settings/theme-settings.php
  core/modules/system/tests/themes/test_theme_theme/test_theme_theme.theme
  core/modules/user/src/Hook/UserThemeHooks.php
  core/tests/Drupal/KernelTests/Core/Theme/ThemeInstallerTest.php
  core/tests/Drupal/KernelTests/Core/Theme/ThemeSettingsTest.php
  core/themes/olivero/olivero.theme
Due: üßπ JavaScript linting (eslint)

Issue #3461700 by mstrelan, acbramley: Allow vocabulary overview form class to be overridden
  core/modules/taxonomy/src/Entity/Routing/VocabularyRouteProvider.php
  core/modules/taxonomy/src/Form/OverviewTerms.php
  core/modules/taxonomy/tests/modules/taxonomy_overview_override_test/src/Form/OverviewTermsOverride.php
  core/modules/taxonomy/tests/modules/taxonomy_overview_override_test/src/Hook/TaxonomyOverviewOverrideHooks.php
  core/modules/taxonomy/tests/modules/taxonomy_overview_override_test/taxonomy_overview_override_test.info.yml
  core/modules/taxonomy/tests/src/Functional/VocabularyUiTest.php
Due: üßπ JavaScript linting (eslint)

Issue #3546740 by amateescu, dcam, catch: Initial workspace-published revisions are marked as new too late
  core/modules/workspaces/tests/src/Kernel/WorkspaceEntityOperationsTest.php
Due: none

Drupal 11.3.x-dev
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: ‚úÖÔ∏è PHPStan rules tests

Issue #3502432 by alexpott, larowlan, nicxvan, kristiaanvandeneynde, godotislate, mstrelan: Make hook testing with kernel tests very simple
  core/lib/Drupal/Core/Extension/ModuleHandler.php
  core/modules/system/tests/modules/entity_crud_hook_test/entity_crud_hook_test.info.yml
  core/modules/system/tests/modules/entity_crud_hook_test/src/Hook/EntityCrudHookTestHooks.php
  core/modules/system/tests/modules/entity_test_extra/entity_test_extra.info.yml
  core/modules/system/tests/modules/entity_test_extra/src/Hook/EntityTestExtraHooks.php
  core/tests/Drupal/KernelTests/Core/Entity/DefaultTableMappingIntegrationTest.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityCrudHookTest.php
  core/tests/Drupal/KernelTests/KernelTestBase.php
  core/tests/Drupal/KernelTests/KernelTestCompilerPass.php
Due: üßπ JavaScript linting (eslint)

Issue #3542161 by mstrelan, danielveza, dpi: Fix phpdoc issues with variables passed to array functions
  core/lib/Drupal/Component/Plugin/Discovery/AttributeClassDiscovery.php
  core/lib/Drupal/Core/Extension/ModuleInstallerInterface.php
  core/modules/jsonapi/src/Context/FieldResolver.php
  core/modules/locale/src/PoDatabaseReader.php
  core/modules/migrate_drupal_ui/src/Form/MigrateUpgradeFormBase.php
  core/modules/user/tests/src/Kernel/Migrate/d6/MigrateUserRoleTest.php
  core/modules/views/src/Plugin/views/display/DisplayPluginBase.php
  core/modules/views/tests/modules/views_test_data/src/Plugin/views/query/QueryTest.php
Due: none

Issue #3554269 by amateescu, berdir: Impossible to save a pending revision as the default one without creating a new revision
  core/lib/Drupal/Core/Entity/Sql/SqlContentEntityStorage.php
  core/modules/workspaces/src/WorkspacePublisher.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityFieldTest.php
Due: none

Issue #3554308 by alexpott, berdir, nicxvan: Fix @todo in TestRunnerKernel
  core/lib/Drupal/Core/Test/TestRunnerKernel.php
  core/modules/system/tests/src/Functional/Theme/MaintenanceThemeUpdateRegistryTest.php
Due: none

Issue #3552765 by quietone, longwave, andypost: Update Composer dependencies for 11.3.0
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  core/modules/ckeditor5/tests/src/FunctionalJavascript/ImageTestProviderTrait.php
  core/tests/Drupal/Tests/PerformanceTestTrait.php
  core/tests/PHPStan/composer.json
Due: ‚úÖÔ∏è PHPStan rules tests

Issue #3175985 by szeidler, larowlan, acbramley, smustgrave, catch: Published access check for block_content fails for translations which have separate values
  core/modules/block_content/src/Plugin/Block/BlockContentBlock.php
  core/modules/block_content/tests/src/Functional/BlockContentTranslationTest.php
Due: none

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/.eslint*, core/.prettier*, core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/.stylelintrc.json, core/.prettier*, core/package.json, core/yarn.lock, **/*.css
  ‚úÖÔ∏è PHPStan rules tests: any of: core/tests/PHPStan/**/*, composer/Metapackage/PinnedDevDependencies/composer.json
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module
