Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

üßπ JavaScript linting (eslint):
  needs:
  - üì¶Ô∏è Yarn
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - cd core
  - corepack enable
  - yarn run check:ckeditor5
  - yarn run lint:core-js-passing --format gitlab
  artifacts:
    reports:
      codequality: eslint-quality-report.json

üßπ CSS linting (stylelint):
  needs:
  - üì¶Ô∏è Yarn
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - corepack enable
  - cd core
  - yarn run build:css --check
  - yarn run lint:css --color --custom-formatter=node_modules/stylelint-formatter-gitlab
  artifacts:
    reports:
      codequality: stylelint-quality-report.json

üìî Validatable config:
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  artifacts:
    expire_in: 1 week
    expose_as: validatable-config
    paths:
    - HEAD.json
    - MR.json
  allow_failure:
    exit_codes:
    - 100
    - 101
    - 1
  script:
  - git checkout -f $CI_MERGE_REQUEST_DIFF_BASE_SHA
  ...

Issue #3493617 by mogtofu33: Add mogtofu33 as a SDC and new theme system's Icon API maintainer
  core/MAINTAINERS.txt
Due: none

Issue #3516770 by acbramley, larowlan, bbrala, quietone: Add acbramley as co-maintainer for node module
  core/MAINTAINERS.txt
Due: none

Issue #3361695 by tunic, smustgrave, lauriii, quietone, borisson_: Fix the documentation for #empty_value on Drupal\Core\Render\Element\Select
  core/lib/Drupal/Core/Render/Element/Select.php
Due: none

Issue #3267268 by acbramley, gabesullice, zrpnr, quietone: Deprecate NodeStorage::updateType and remove type change handling in NodeType::postSave
  core/modules/node/src/Entity/NodeType.php
  core/modules/node/src/NodeStorage.php
  core/modules/node/src/NodeStorageInterface.php
Due: none

Issue #3224907 by dcam, thhafner: Orphaned state keys after migrate_drupal uninstall
  core/modules/migrate_drupal/migrate_drupal.install
  core/modules/migrate_drupal/tests/src/Kernel/MigrateDrupalUninstallTest.php
Due: none

Issue #3448457 by narendrar, bbrala, smustgrave, alexpott, phenaproxima, catch, borisson_, larowlan: Add validation constraints to core.entity_form_mode.*.*
  core/config/schema/core.entity.schema.yml
  core/lib/Drupal/Core/Entity/EntityDisplayModeBase.php
  core/modules/field_ui/src/Form/EntityDisplayModeFormBase.php
  core/modules/field_ui/tests/src/Functional/EntityDisplayModeTest.php
  core/modules/field_ui/tests/src/Functional/ManageDisplayTest.php
  core/modules/jsonapi/tests/src/Functional/EntityFormModeTest.php
  core/modules/media_library/config/install/core.entity_form_mode.media.media_library.yml
  core/modules/system/src/Hook/SystemHooks.php
  core/modules/system/system.post_update.php
  core/modules/system/tests/fixtures/update/remove-description-from-user-register-form-mode.php
  core/modules/system/tests/src/Functional/Update/EntityFormModeUpdatePathTest.php
  core/modules/user/config/install/core.entity_form_mode.user.register.yml
  core/tests/Drupal/FunctionalTests/Rest/EntityFormModeResourceTestBase.php
  core/tests/Drupal/KernelTests/Core/Config/ConfigEntityValidationTestBase.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityFormModeValidationTest.php
  core/tests/fixtures/config_install/multilingual/core.entity_form_mode.user.register.yml
  core/tests/fixtures/config_install/testing_config_install/core.entity_form_mode.user.register.yml
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #3024386 by acbramley, berdir: Deprecate NodePreviewController::title
  core/modules/node/node.routing.yml
  core/modules/node/src/Controller/NodePreviewController.php
Due: üßπ JavaScript linting (eslint)

Issue #2609250 by kristiaanvandeneynde, eric_a, ravi.shankar, larowlan, lauriii, upchuk, xjm, joelpittet: Lazy builder broken (#type defaults not loaded)
  core/.phpstan-baseline.php
  core/lib/Drupal/Core/Render/Renderer.php
  core/tests/Drupal/Tests/Core/Render/RendererTest.php
Due: none

Issue #3419707 by oily, prudloff, ot1201, smustgrave: user module sends email containing HTML entities
  core/modules/user/src/Hook/UserHooks.php
  core/modules/user/tests/src/Functional/UserPasswordResetTest.php
  core/modules/user/tests/src/FunctionalJavascript/UserPasswordResetTest.php
  core/modules/user/tests/src/Kernel/UserMailNotifyTest.php
Due: none

Issue #3317520 by mstrelan, nod_, wim leers: [random test failure] Drupal\Tests\settings_tray\FunctionalJavascript\SettingsTrayBlockFormTest::testEditModeEnableDisable
  core/modules/settings_tray/tests/src/FunctionalJavascript/SettingsTrayBlockFormTest.php
  core/modules/settings_tray/tests/src/FunctionalJavascript/SettingsTrayTestBase.php
Due: none

Issue #3466032 by frankied3, johnv: Olivero Full pager template creates additional grid columns
  core/themes/olivero/templates/navigation/pager.html.twig
Due: none

Issue #3488838 by quietone, annmarysruthy, smustgrave, catch: Use a test module instead of Ban in tests
  core/modules/config/tests/config_install_schema_test/config_install_schema_test.info.yml
  core/modules/config/tests/config_install_schema_test/config_install_schema_test.install
  core/modules/config/tests/src/Functional/ConfigImportUITest.php
  core/modules/system/tests/modules/dependency_foo_test/dependency_foo_test.info.yml
  core/modules/system/tests/src/Functional/UpdateSystem/UpdatePathTestBaseFilledTest.php
  core/modules/system/tests/src/Kernel/Extension/ModuleHandlerTest.php
  core/profiles/tests/testing_install_profile_all_dependencies/testing_install_profile_all_dependencies.info.yml
  core/profiles/tests/testing_install_profile_dependencies/testing_install_profile_dependencies.info.yml
  core/tests/Drupal/FunctionalTests/Installer/InstallProfileDependenciesTest.php
Due: üßπ JavaScript linting (eslint)

Issue #3498963 by benjifisher, heddn: Add lookup_migrations configuration to menu_link_parent process plugin
  core/modules/migrate/src/Plugin/migrate/process/MenuLinkParent.php
  core/modules/migrate/tests/src/Unit/process/MenuLinkParentTest.php
Due: none

Issue #3507548 by krisahil, amateescu, smustgrave: Workspace manage page does not allow for pager-less list of changes
  core/modules/workspaces/src/WorkspaceAssociation.php
  core/modules/workspaces/tests/src/Kernel/WorkspaceAssociationTest.php
Due: none

Revert "Issue #3507548 by krisahil, amateescu, smustgrave: Workspace manage page does not allow for pager-less list of changes"
  core/modules/workspaces/src/WorkspaceAssociation.php
  core/modules/workspaces/tests/src/Kernel/WorkspaceAssociationTest.php
Due: none

Revert "Issue #3317520 by mstrelan, nod_, wim leers: [random test failure] Drupal\Tests\settings_tray\FunctionalJavascript\SettingsTrayBlockFormTest::testEditModeEnableDisable"
  core/modules/settings_tray/tests/src/FunctionalJavascript/SettingsTrayBlockFormTest.php
  core/modules/settings_tray/tests/src/FunctionalJavascript/SettingsTrayTestBase.php
Due: none

Issue #3455151 by djdevin, vidorado, nicxvan, smustgrave: Delete items from field data and field revision tables should be done in a single query per batch
  core/lib/Drupal/Core/Entity/Sql/SqlContentEntityStorage.php
  core/tests/Drupal/KernelTests/Core/Entity/Sql/SqlContentEntityStorageTest.php
  core/tests/Drupal/KernelTests/Core/Entity/Sql/TestableSqlContentEntityStorage.php
Due: none

Issue #3495602 by tom konda, catch, quietone: Remove code which checks browser support for Intersection Observer and scrollTo options argument
  core/modules/layout_builder/js/layout-builder.js
  core/themes/olivero/js/navigation-utils.js
Due: üßπ JavaScript linting (eslint)

Issue #3498834 by jan kellermann, catch, quietone, smustgrave: For privacy don't pre-populate core forms
  core/modules/comment/src/CommentForm.php
  core/modules/contact/src/MessageForm.php
  core/modules/user/src/RegisterForm.php
  core/modules/user/tests/src/FunctionalJavascript/UserRegisterFormTest.php
Due: none

Issue #3506605 by benjifisher: Move the d8_config source plugin to the migrate module
  core/modules/migrate/src/Plugin/migrate/source/ConfigEntity.php
  core/modules/migrate/tests/src/Kernel/Plugin/source/ConfigEntityTest.php
  core/modules/migrate/tests/src/Kernel/Plugin/source/MigrateSourceDiscoveryTest.php
Due: none

Issue #3041318 by krzysztof domański, mstrelan, mile23, xjm: [random test failure] Various fails when a random string is used in an xpath selector
  core/modules/field_ui/tests/src/Functional/ManageFieldsLifecycleTest.php
  core/modules/node/tests/src/Functional/NodeAccessMenuLinkTest.php
  core/modules/system/tests/src/Functional/System/TrustedHostsTest.php
  core/modules/views/tests/src/Functional/Entity/EntityQueryAccessTest.php
  core/modules/views/tests/src/Functional/Plugin/DisplayTest.php
Due: none

Issue #3306916 by capysara, pookmish, jsricardo, vidorado, estherp, amarlata, kim.pepper, poker10: Check for new files when validating size
  core/modules/file/src/Plugin/Validation/Constraint/FileSizeLimitConstraintValidator.php
  core/modules/file/tests/src/Kernel/FileItemValidationTest.php
Due: none

Issue #3488572 by daffie, alexpott: Move the PostgreSQL override of the entityQuery to the pgsql module
  core/core.services.yml
  core/lib/Drupal/Core/Entity/Query/Sql/pgsql/QueryFactory.php
  core/modules/pgsql/pgsql.services.yml
  core/modules/pgsql/src/EntityQuery/Condition.php
  core/modules/pgsql/src/EntityQuery/QueryFactory.php
  core/modules/pgsql/tests/src/Kernel/EntityQueryServiceDeprecation.php
  core/modules/workspaces/src/WorkspacesServiceProvider.php
  core/modules/workspaces/workspaces.services.yml
Due: üßπ JavaScript linting (eslint)

Issue #3184181 by prudloff, smustgrave, nicxvan: Deleting a menu link from the node edit form does not apply hook_ENTITY_TYPE_access()
  core/modules/menu_ui/src/Hook/MenuUiHooks.php
  core/modules/menu_ui/tests/modules/menu_link_access_test/menu_link_access_test.info.yml
  core/modules/menu_ui/tests/modules/menu_link_access_test/src/Hook/MenuLinkAccessTestHooks.php
  core/modules/menu_ui/tests/src/Functional/MenuUiNodeAccessTest.php
  core/modules/menu_ui/tests/src/Functional/MenuUiNodeTest.php
  core/modules/menu_ui/tests/src/Kernel/MenuBlockTest.php
Due: üßπ JavaScript linting (eslint)

Issue #3485452 by riyas_nr, mjmorley, smustgrave: Datetime fields should utilise #required_error
  core/lib/Drupal/Core/Datetime/Element/Datetime.php
  core/tests/Drupal/KernelTests/Core/Datetime/DatetimeElementFormTest.php
Due: none

Issue #3456202 by pooja_sharma, saschaeggi, b_sharpe, acbramley, grimreaper, smustgrave: UiHelperTrait support form submit action from outside of a form
  core/modules/system/tests/modules/form_test/form_test.routing.yml
  core/modules/system/tests/modules/form_test/src/Controller/FormTestController.php
  core/tests/Drupal/FunctionalTests/BrowserTestBaseTest.php
  core/tests/Drupal/Tests/UiHelperTrait.php
Due: üßπ JavaScript linting (eslint)

Issue #3513618 by mstrelan, mondrake: [random test failure] ConnectionUnitTest::testOpenQueryClose
  core/tests/Drupal/KernelTests/Core/Database/DriverSpecificConnectionUnitTestBase.php
Due: none

Issue #3511966 by tom konda: Replace RegExp with str_ends_with() in .ht.router.php
  .ht.router.php
  core/assets/scaffold/files/ht.router.php
Due: none

Issue #3493122 by jquijano, oily, prabha1997, kristiaanvandeneynde, lauriii, smustgrave: Users are able to block themselves from Drupal
  core/modules/user/src/AccountForm.php
  core/modules/user/tests/src/Functional/UserEditTest.php
Due: none

Issue #3511456 by arunsahijpal, godotislate: Documentation for FileRepositoryInterface::writeData() says it creates a file entity, but it can update existing
  core/modules/file/src/FileRepositoryInterface.php
Due: none

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/package.json, core/yarn.lock, **/*.css
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module
