Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/package.json, core/yarn.lock, **/*.css
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module

Issue #3487826 by catch: package_manager kernel tests are slow
  .gitlab-ci/pipeline.yml
  core/modules/package_manager/tests/modules/fixture_manipulator/src/ActiveFixtureManipulator.php
  core/modules/package_manager/tests/modules/fixture_manipulator/src/FixtureManipulator.php
  core/modules/package_manager/tests/modules/fixture_manipulator/src/StageFixtureManipulator.php
  core/modules/package_manager/tests/src/Kernel/AllowedScaffoldPackagesValidatorTest.php
  core/modules/package_manager/tests/src/Kernel/ComposerPatchesValidatorTest.php
  core/modules/package_manager/tests/src/Kernel/ComposerPluginsValidatorComplexInvalidTest.php
  core/modules/package_manager/tests/src/Kernel/ComposerPluginsValidatorInsecureTest.php
  core/modules/package_manager/tests/src/Kernel/ComposerPluginsValidatorSimpleInvalidTest.php
  core/modules/package_manager/tests/src/Kernel/ComposerPluginsValidatorSimpleValidTest.php
  core/modules/package_manager/tests/src/Kernel/ComposerPluginsValidatorTestBase.php
  core/modules/package_manager/tests/src/Kernel/ComposerValidatorTest.php
  core/modules/package_manager/tests/src/Kernel/PhpTufValidatorTest.php
  core/modules/package_manager/tests/src/Kernel/StageBaseTest.php
  core/modules/package_manager/tests/src/Kernel/StageCommitExceptionTest.php
  core/modules/package_manager/tests/src/Kernel/StageConflictTest.php
  core/modules/package_manager/tests/src/Kernel/StageLoggedOnErrorTest.php
  core/modules/package_manager/tests/src/Kernel/SupportedReleaseValidatorTest.php
  core/modules/package_manager/tests/src/Traits/ComposerInstallersTrait.php
Due: üßπ JavaScript linting (eslint)

Issue #3490355 by nicxvan, godotislate, catch: Add procedural hook short circuit per module or file
  core/lib/Drupal/Core/Hook/Attribute/StopProceduralHookScan.php
  core/lib/Drupal/Core/Hook/HookCollectorPass.php
  core/modules/system/tests/modules/hook_collector_skip_procedural/hook_collector_skip_procedural.info.yml
  core/modules/system/tests/modules/hook_collector_skip_procedural/hook_collector_skip_procedural.module
  core/modules/system/tests/modules/hook_collector_skip_procedural/hook_collector_skip_procedural.services.yml
  core/modules/system/tests/modules/hook_collector_skip_procedural_attribute/hook_collector_skip_procedural_attribute.info.yml
  core/modules/system/tests/modules/hook_collector_skip_procedural_attribute/hook_collector_skip_procedural_attribute.module
  core/tests/Drupal/KernelTests/Core/Hook/HookCollectorPassTest.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #3488473 by andypost: Add core testing using PHP 8.4
  .gitlab-ci.yml
Due: üßπ JavaScript linting (eslint)

Issue #3482464 by nicxvan, berdir: Backport Hook and LegacyHook Attribute
  core/lib/Drupal/Core/Hook/Attribute/Hook.php
  core/lib/Drupal/Core/Hook/Attribute/LegacyHook.php
Due: none

Issue #3464097 by avpaderno, poker10: CacheClearCase::testClearArray() sets a persistent variable that has no effect
  modules/simpletest/tests/cache.test
Due: none

Issue #3446569 by poker10, joseph.olstad: [D7 PHP 8.3] Fix SessionHttpsTestCase->testEmptySessionId() failure
  modules/simpletest/tests/session.test
Due: none

Issue #3397882 by poker10, andypost, joseph.olstad: [D7 PHP 8.3] TextSummaryTestCase::testLength() fails on some libxml versions
  modules/field/modules/text/text.test
Due: none

Issue #3182166 by stefanos.petrakis@gmail.com, poker10, almador, adinan cenci, czunigaco, rhip, benjifisher, neclimdul, cilefen: [D7] preg_split in _filter_url breaks for long html tags
  modules/filter/filter.module
  modules/filter/filter.test
Due: üìî Validatable config

Issue #1447236 by C. Lee, avpaderno, mfb, poker10: DefaultMailSystem implements MailSystemInterface::format() incorrectly
  includes/mail.inc
  modules/system/system.mail.inc
Due: none

Issue #3383223 by poker10, dokumori, dsnopek, catch, berdir, effulgentsia, mlhess, samuel.mortenson, poiu, moshe weitzman: URL aliases can be used to override trusted urls
  modules/path/path.module
Due: üìî Validatable config

Issue #3438308 by avpaderno, ceonizm, poker10, aaron.ferris, robcarr: dirname(): Passing null to parameter #1 ($path) of type string is deprecated in drupal_get_path()
  includes/common.inc
Due: none

Issue #3444017 by poker10, avpaderno, akalata, mcdruid: [D7] HTTP_HOST header cannot be trusted
  includes/bootstrap.inc
  modules/simpletest/tests/bootstrap.test
  modules/system/system.install
  modules/system/system.test
  sites/default/default.settings.php
Due: none

Issue #3488005 by spokje: Update stylelint* to latest releases
  core/package.json
  core/yarn.lock
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint)

Issue #3467309 by spokje, smustgrave: Replace abandoned, not working with latest stylelint, leon0399/stylelint-formatter-gitlab with gitlab-formatters/stylelint-formatter-gitlab
  .gitlab-ci.yml
  core/package.json
  core/yarn.lock
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint)

Issue #3488365 by andypost, longwave: Upgrade twig/twig to 3.15.0
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  core/composer.json
  core/lib/Drupal/Core/Template/ComponentNodeVisitor.php
  core/lib/Drupal/Core/Template/ComponentsTwigExtension.php
  core/lib/Drupal/Core/Template/TwigNodeTrans.php
  core/lib/Drupal/Core/Template/TwigNodeVisitor.php
  core/lib/Drupal/Core/Template/TwigNodeVisitorCheckDeprecations.php
  core/modules/system/tests/modules/sdc_other_node_visitor/src/Twig/NodeVisitor/TestNodeVisitor.php
Due: none

Issue #3478716 by ram4nd, mcdruid, poker10: [D7] Full path disclosure from errors on maintenance pages
  includes/errors.inc
  modules/simpletest/tests/error.test
Due: none

Revert "Issue #3490710 by mfb: Catch potential exception when calling Request::create() in PathBasedBreadcrumbBuilder"
  core/modules/system/src/PathBasedBreadcrumbBuilder.php
  core/modules/system/tests/src/Unit/Breadcrumbs/PathBasedBreadcrumbBuilderTest.php
Due: none

Revert "Issue #3278759 by mxr576, kristiaanvandeneynde, acbramley, danflanagan8, larowlan, bbrala: Access cacheability is not correct when "view own unpublished content" is in use"
  core/modules/jsonapi/tests/src/Functional/NodeTest.php
  core/modules/node/src/NodeAccessControlHandler.php
  core/modules/node/src/NodeGrantDatabaseStorage.php
  core/modules/node/tests/node_access_test_auto_bubbling/node_access_test_auto_bubbling.routing.yml
  core/modules/node/tests/node_access_test_auto_bubbling/src/Controller/NodeAccessTestAutoBubblingController.php
  core/modules/node/tests/src/Functional/NodeAccessUnpublishedCacheabilityTest.php
  core/modules/system/tests/src/Functional/Menu/LinksetControllerTestBase.php
Due: üßπ JavaScript linting (eslint)

Drupal 7.103
  CHANGELOG.txt
  includes/bootstrap.inc
Due: none

Back to dev
  CHANGELOG.txt
  includes/bootstrap.inc
Due: none

Issue #3491386 by nicxvan: Using hooks_converted container parameter changes $dir during hook collection breaking collection of oop hooks.
  core/lib/Drupal/Core/Hook/HookCollectorPass.php
  core/modules/system/tests/modules/hook_collector_skip_procedural/hook_collector_skip_procedural.module
  core/modules/system/tests/modules/hook_collector_skip_procedural/src/Hook/SkipProceduralHooks.php
  core/tests/Drupal/KernelTests/Core/Hook/HookCollectorPassTest.php
Due: üìî Validatable config

Issue #3474108 by smustgrave, tomomi, quietone, nod_, spokje: Replace eslint-plugin-jquery with eslint-plugin-no-jquery
  core/.eslintrc.jquery.json
  core/misc/ajax.js
  core/modules/filter/filter.filter_html.admin.js
  core/modules/system/tests/modules/js_testing_ajax_request_test/js/js_testing_ajax_request_test.js
  core/package.json
  core/yarn.lock
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint)

Issue #3486170 by godotislate, bbrala, finnsky, longwave: Remove use of deprecated "spaceless" filter in core templates
  core/.deprecation-ignore.txt
  core/modules/block_content/templates/block-content-add-list.html.twig
  core/modules/ckeditor5/templates/ckeditor5-settings-toolbar.html.twig
  core/modules/link/templates/link-formatter-link-separate.html.twig
  core/modules/link/tests/src/Functional/LinkFieldTest.php
  core/modules/link/tests/themes/link_test_theme/templates/link-formatter-link-separate.html.twig
  core/modules/system/templates/dropbutton-wrapper.html.twig
  core/modules/system/templates/select.html.twig
  core/modules/toolbar/templates/toolbar.html.twig
  core/modules/views/tests/src/Kernel/Plugin/RowRenderCacheTest.php
  core/profiles/demo_umami/themes/umami/templates/classy/field/link-formatter-link-separate.html.twig
  core/profiles/demo_umami/themes/umami/templates/classy/navigation/toolbar.html.twig
  core/themes/claro/templates/classy/field/link-formatter-link-separate.html.twig
  core/themes/claro/templates/classy/navigation/toolbar.html.twig
  core/themes/claro/templates/form/input.html.twig
  core/themes/claro/templates/navigation/toolbar.html.twig
  core/themes/claro/templates/pager.html.twig
  core/themes/claro/templates/views/views-mini-pager.html.twig
  core/themes/olivero/css/components/node.css
  core/themes/olivero/css/components/node.pcss.css
  core/themes/olivero/templates/content/node--teaser.html.twig
  core/themes/olivero/templates/content/node.html.twig
  core/themes/olivero/templates/content/search-result.html.twig
  core/themes/olivero/templates/navigation/pager.html.twig
  core/themes/olivero/templates/user/username.html.twig
  core/themes/olivero/templates/views/views-mini-pager.html.twig
  core/themes/stable9/templates/admin/block-content-add-list.html.twig
  core/themes/stable9/templates/field/link-formatter-link-separate.html.twig
  core/themes/stable9/templates/form/dropbutton-wrapper.html.twig
  core/themes/stable9/templates/form/select.html.twig
  core/themes/stable9/templates/navigation/toolbar.html.twig
  core/themes/starterkit_theme/templates/field/link-formatter-link-separate.html.twig
  core/themes/starterkit_theme/templates/form/dropbutton-wrapper.html.twig
  core/themes/starterkit_theme/templates/form/select.html.twig
Due: üßπ CSS linting (stylelint)

Issue #3490163 by spokje, andypost, longwave: Update Composer dependencies for 11.1.0
  composer.json
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/DevDependencies/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  core/composer.json
  core/lib/Drupal/Component/DependencyInjection/composer.json
  core/lib/Drupal/Component/EventDispatcher/composer.json
  core/lib/Drupal/Component/HttpFoundation/composer.json
  core/lib/Drupal/Component/Plugin/composer.json
  core/lib/Drupal/Component/Serialization/composer.json
  core/tests/PHPStan/composer.json
Due: none
