Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üìã PHPUnit Unit (PHPStan rules), üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üì¶ Yarn install on minimum Node.js version

üìã PHPUnit Unit (PHPStan rules):
  stage: ‚ö°Ô∏è Tests
  needs: []
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - docker-php-ext-enable pcov
  - cd core/tests/PHPStan
  - composer install
  - vendor/bin/phpunit tests --testdox --coverage-text --colors=always --coverage-cobertura=coverage.cobertura.xml --log-junit junit.xml
  artifacts:
  ...

üßπ JavaScript linting (eslint):
  before_script:
  - cd core
  - corepack enable
  - yarn install
  - cd ..
  cache:
    key:
    - .yarn-install-from-cache
    - cache
    - key
    paths:
    - .yarn-install-from-cache
    - cache
    - paths
    policy: pull-push
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
    CACHE_FILE: core/.eslintcache
  ...

üßπ CSS linting (stylelint):
  before_script:
  - cd core
  - corepack enable
  - yarn install
  - cd ..
  cache:
    key:
      files:
      - ./core/package.json
      - ./core/yarn.lock
    paths:
    - ./core/.yarn/cache
    policy: pull
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
    CACHE_FILE: core/.stylelintcache
  script:
  ...

üì¶ Yarn install on minimum Node.js version:
  stage: ü™Ñ Lint
  image: node:20
  variables:
    KUBERNETES_CPU_REQUEST: '1'
  script:
  - cd core
  - corepack enable
  - echo -e "Node version $(node --version)\nYarn version $(corepack yarn --version)"
  - yarn install

task: #3593792 Convert system_test routes to attributes
  core/modules/system/tests/modules/system_test/src/Controller/PageCacheAcceptHeaderController.php
  core/modules/system/tests/modules/system_test/src/Controller/SystemTestController.php
  core/modules/system/tests/modules/system_test/src/Form/CopyFieldValueTestForm.php
  core/modules/system/tests/modules/system_test/system_test.routing.yml
Due: üßπ JavaScript linting (eslint)

task: #3618772 Move toolbar_alter hook implementations to the toolbar module
  core/modules/announcements_feed/src/Hook/AnnouncementsFeedToolbarHooks.php
  core/modules/toolbar/src/Hook/ToolbarHooks.php
Due: none

task: #3534109 Permanently maintain a sandbox directory in package_manager
  core/modules/package_manager/package_manager.services.yml
  core/modules/package_manager/src/EventSubscriber/LongLivedSandboxSubscriber.php
  core/modules/package_manager/src/Hook/CronHook.php
  core/modules/package_manager/src/SandboxManagerBase.php
  core/modules/package_manager/src/StagingDirDoesNotExist.php
  core/modules/package_manager/tests/src/Kernel/SandboxManagerBaseTest.php
Due: üßπ JavaScript linting (eslint)

task: #3618806 Update UPDATE.txt for Drupal 12
  core/UPDATE.txt
Due: none

task: #3593122 MessengerInterface::deleteAll has the wrong return type
  core/lib/Drupal/Core/Messenger/MessengerInterface.php
Due: none

task: #3618909 Remove toolbar help text not in the module
  core/modules/announcements_feed/help_topics/announcements_feed.overview.html.twig
  core/modules/announcements_feed/src/Hook/AnnouncementsFeedHelpHooks.php
  core/modules/contextual/help_topics/contextual.overview.html.twig
  core/modules/help/help_topics/core.ui_components.html.twig
  core/modules/toolbar/src/Hook/ToolbarHooks.php
Due: none

task: #3566626 Use property hooks for entity reference item and list entity and target_id properties
  core/lib/Drupal/Core/Field/EntityReferenceFieldItemList.php
  core/lib/Drupal/Core/Field/Plugin/Field/FieldType/EntityReferenceItem.php
  core/lib/Drupal/Core/Field/Plugin/Field/FieldType/EntityReferenceItemBase.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityReferenceFieldTest.php
Due: none

task: #3539178 Extract _user_mail_notify() into a user NotificationHandler
  core/.phpstan-baseline.php
  core/modules/user/src/Controller/UserAuthenticationController.php
  core/modules/user/src/Entity/User.php
  core/modules/user/src/Form/UserCancelForm.php
  core/modules/user/src/Form/UserPasswordForm.php
  core/modules/user/src/NotificationHandler.php
  core/modules/user/src/Plugin/rest/resource/UserRegistrationResource.php
  core/modules/user/src/RegisterForm.php
  core/modules/user/tests/src/Kernel/NotificationHandlerTest.php
  core/modules/user/tests/src/Kernel/UserMailNotifyTest.php
  core/modules/user/tests/src/Unit/UserRegistrationResourceTest.php
  core/modules/user/user.module
  core/modules/user/user.services.yml
Due: üßπ JavaScript linting (eslint)

task: #3555115 Add a UploadedFilesExtractor and remove duplicate code
  core/.phpstan-baseline.php
  core/core.services.yml
  core/lib/Drupal/Core/File/UploadedFilesExtractor.php
  core/modules/config/src/Form/ConfigImportForm.php
  core/modules/file/file.module
Due: üßπ JavaScript linting (eslint)

task: #3618358 Deprecate remaining underscore functions in locale
  core/modules/locale/locale.module
  core/modules/locale/src/Form/TranslateEditForm.php
  core/modules/locale/src/Hook/LocaleHooks.php
  core/modules/locale/src/LocaleImportBatch.php
  core/modules/locale/src/LocaleJs.php
  core/modules/locale/tests/src/Functional/LocaleExportTest.php
  core/modules/locale/tests/src/Functional/LocaleJavascriptTranslationTest.php
  core/modules/locale/tests/src/Functional/LocaleLocaleLookupTest.php
  core/modules/locale/tests/src/Functional/LocaleTranslationUiTest.php
Due: none

task: #3614964 Remove install of Olivero from tests
  core/modules/block/tests/src/Functional/BlockDemoTest.php
  core/modules/block/tests/src/Functional/BlockTest.php
  core/modules/block_content/tests/src/Functional/BlockContentTypeTest.php
  core/modules/contextual/tests/src/Kernel/ContextualUnitTest.php
  core/modules/responsive_image/tests/src/Unit/ResponsiveImageStyleConfigEntityUnitTest.php
  core/modules/system/tests/src/Functional/System/SiteMaintenanceTest.php
  core/modules/system/tests/src/FunctionalJavascript/OffCanvasTestBase.php
  core/modules/system/tests/src/Kernel/Entity/ConfigEntityImportTest.php
  core/modules/system/tests/src/Kernel/Extension/ModuleHandlerTest.php
  core/modules/system/tests/src/Unit/Menu/SystemLocalTasksTest.php
  core/modules/views/tests/src/Functional/Plugin/MiniPagerTest.php
  core/modules/views/tests/src/Functional/Plugin/PagerTest.php
  core/modules/views/tests/src/Functional/UserBatchActionTest.php
  core/modules/views/tests/src/Kernel/Handler/AreaEntityTest.php
  core/modules/views/tests/src/Kernel/Plugin/DisplayPageTest.php
  core/tests/Drupal/FunctionalJavascriptTests/Ajax/AjaxTest.php
  core/tests/Drupal/KernelTests/Core/Asset/ResolvedLibraryDefinitionsFilesMatchTest.php
  core/tests/Drupal/KernelTests/Core/StreamWrapper/ExtensionStreamTest.php
  core/tests/Drupal/Nightwatch/nightwatch.conf.js
  core/themes/olivero/tests/src/FunctionalJavaScript/AjaxTest.php
Due: üßπ JavaScript linting (eslint)

fix: #3619253 Admin theme's CSS variable selector incorrectly uses .root instead of :root
  core/themes/default_admin/css/_variables/variables-color-primitive.css
  core/themes/default_admin/css/_variables/variables-color-primitive.pcss.css
  core/themes/default_admin/css/_variables/variables-color-semantic.css
  core/themes/default_admin/css/_variables/variables-color-semantic.pcss.css
Due: üßπ CSS linting (stylelint)

task: #3619365 Update 11.3 fixtures to remove deprecated modules
  core/modules/help/tests/fixtures/uninstall-search.php
  core/modules/help/tests/src/Functional/HelpNoSearchUpgradeTest.php
  core/modules/navigation/tests/fixtures/navigation_post_update.php
  core/modules/navigation/tests/src/Functional/Update/NavigationUpdateTest.php
  core/modules/search/tests/src/Functional/HelpSearchHelpUpgradeTest.php
  core/modules/search/tests/src/Functional/Update/SearchUpdateTest.php
  core/modules/search/tests/src/Functional/Update/SearchUpdateUserTest.php
  core/modules/system/tests/fixtures/update/drupal-11.3.0.bare.standard.php.gz
  core/modules/system/tests/fixtures/update/drupal-11.3.0.filled.standard.php.gz
  core/modules/system/tests/fixtures/update/uninstall-shortcut.php
  core/modules/system/tests/src/Functional/Update/AssetCompressUpdatePathTest.php
  core/modules/system/tests/src/Functional/Update/SequencesTableRemovalUpdateTest.php
  core/modules/system/tests/src/Functional/UpdateSystem/UpdatePathTestBaseFilledTest.php
  core/tests/Drupal/FunctionalTests/Update/UpdatePathTestBaseTest.php
Due: none

task: #3580152 Deprecate theme-settings.php files
  core/lib/Drupal/Core/Hook/ThemeHookCollectorPass.php
  core/modules/file/tests/src/Functional/MultipleFileUploadTest.php
  core/modules/system/tests/src/FunctionalJavascript/ThemeSettingsFormTest.php
  core/themes/olivero/src/Hook/OliveroThemeSettingsHooks.php
  core/themes/olivero/theme-settings.php
Due: none

task: #2012976 Deprecate user_logout() and user_login_finalize() and replace with a service
  core/.phpstan-baseline.php
  core/includes/install.core.inc
  core/misc/cspell/dictionary.txt
  core/modules/user/src/Controller/UserAuthenticationController.php
  core/modules/user/src/Controller/UserController.php
  core/modules/user/src/EventSubscriber/MaintenanceModeSubscriber.php
  core/modules/user/src/Form/UserLoginForm.php
  core/modules/user/src/Form/UserLogoutConfirm.php
  core/modules/user/src/LoginFinalizer.php
  core/modules/user/src/LogoutFinalizer.php
  core/modules/user/src/RegisterForm.php
  core/modules/user/tests/src/Kernel/LoginFinalizerTest.php
  core/modules/user/tests/src/Kernel/LogoutFinalizerTest.php
  core/modules/user/user.module
  core/modules/user/user.services.yml
Due: üßπ JavaScript linting (eslint)

fix: #3619402 Fix olivero AjaxTest directory
  core/themes/olivero/tests/src/FunctionalJavascript/AjaxTest.php
Due: none

task: #3614964 Remove install of Olivero from tests
  core/modules/block/tests/src/Functional/BlockDemoTest.php
  core/modules/block/tests/src/Functional/BlockTest.php
  core/modules/block_content/tests/src/Functional/BlockContentTypeTest.php
  core/modules/contextual/tests/src/Kernel/ContextualUnitTest.php
  core/modules/responsive_image/tests/src/Unit/ResponsiveImageStyleConfigEntityUnitTest.php
  core/modules/system/tests/src/Functional/System/SiteMaintenanceTest.php
  core/modules/system/tests/src/FunctionalJavascript/OffCanvasTestBase.php
  core/modules/system/tests/src/Kernel/Entity/ConfigEntityImportTest.php
  core/modules/system/tests/src/Kernel/Extension/ModuleHandlerTest.php
  core/modules/system/tests/src/Unit/Menu/SystemLocalTasksTest.php
  core/modules/views/tests/src/Functional/Plugin/MiniPagerTest.php
  core/modules/views/tests/src/Functional/Plugin/PagerTest.php
  core/modules/views/tests/src/Functional/UserBatchActionTest.php
  core/modules/views/tests/src/Kernel/Handler/AreaEntityTest.php
  core/modules/views/tests/src/Kernel/Plugin/DisplayPageTest.php
  core/tests/Drupal/FunctionalJavascriptTests/Ajax/AjaxTest.php
  core/tests/Drupal/KernelTests/Core/Asset/ResolvedLibraryDefinitionsFilesMatchTest.php
  core/tests/Drupal/KernelTests/Core/StreamWrapper/ExtensionStreamTest.php
  core/tests/Drupal/Nightwatch/nightwatch.conf.js
  core/themes/olivero/tests/src/FunctionalJavascript/AjaxTest.php
Due: üßπ JavaScript linting (eslint)

feat: #1189464 Add an 'instant' queue runner
  core/core.services.yml
  core/lib/Drupal/Core/Cron.php
  core/lib/Drupal/Core/Queue/InstantQueueRunner.php
  core/lib/Drupal/Core/Queue/InstantQueueRunnerInterface.php
  core/lib/Drupal/Core/Queue/QueueProcessTrait.php
  core/tests/Drupal/KernelTests/Core/Queue/InstantQueueRunnerTest.php
Due: üßπ JavaScript linting (eslint)

fix: #3526909 progress.gif referenced in claro css doesn't exist
  core/themes/claro/css/components/jquery.ui/theme.css
  core/themes/claro/css/components/jquery.ui/theme.pcss.css
  core/themes/default_admin/css/components/jquery.ui/theme.css
  core/themes/default_admin/css/components/jquery.ui/theme.pcss.css
Due: üßπ CSS linting (stylelint)

fix: #2835615 TextTrimmedFormatter not trimming at periods followed by non-breaking space
  core/modules/text/src/TextSummary.php
  core/modules/text/tests/src/Kernel/TextSummaryTest.php
Due: none

task: #3619447 Avoid rebuilding the router twice when uninstalling a profile in the installer
  core/includes/install.core.inc
Due: none

fix: #3472624 Ensure the UI dialog instance is valid in Drupal.dialog.resetSize
  core/misc/debounce.js
  core/misc/dialog/dialog.position.js
  core/tests/Drupal/FunctionalJavascriptTests/Ajax/DialogTest.php
Due: üßπ JavaScript linting (eslint)

perf: #3587797 Move views data cache to cache_discovery
  core/modules/node/tests/src/FunctionalJavascript/NodePerformanceTest.php
  core/modules/node/tests/src/FunctionalJavascript/NodePerformanceTestAssertions/nodePromotedContentAfterInvalidation.yml
  core/modules/node/tests/src/FunctionalJavascript/NodePerformanceTestAssertions/nodePromotedContentPage.yml
  core/modules/views/src/ViewsData.php
  core/modules/views/tests/src/Unit/ViewsDataTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryPerformanceTestAssertions/administratorNodePage.yml
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryPerformanceTestAssertions/umamiFrontPageColdCache.yml
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryPerformanceTestAssertions/umamiFrontPageCoolCache.yml
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryPerformanceTestAssertions/umamiNodeAddEditor.yml
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryPerformanceTestAssertions/umamiNodePageColdCache.yml
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryPerformanceTestAssertions/umamiNodePageCoolCache.yml
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryPerformanceTestAssertions/umamiNodePageWarmCache.yml
Due: üßπ JavaScript linting (eslint)

fix: #3556506 Respect allowed_formats settings in \Drupal\text\Plugin\Field\FieldType\TextItemBase::applyDefaultValue
  core/modules/field/tests/src/Kernel/FieldKernelTestBase.php
  core/modules/menu_ui/tests/src/Kernel/MenuUiNodeTypeTest.php
  core/modules/migrate/tests/src/Kernel/MigrateBundleTest.php
  core/modules/migrate/tests/src/Kernel/MigrateLookupTest.php
  core/modules/migrate/tests/src/Kernel/MigrateRollbackTest.php
  core/modules/migrate/tests/src/Kernel/Plugin/EntityRevisionTest.php
  core/modules/migrate/tests/src/Kernel/Plugin/source/ContentEntityTest.php
  core/modules/system/tests/src/Kernel/Entity/EntityReferenceSelection/EntityReferenceSelectionAccessTest.php
  core/modules/taxonomy/tests/src/Kernel/PendingRevisionTest.php
  core/modules/taxonomy/tests/src/Kernel/TaxonomyRevisionVersionHistoryTest.php
  core/modules/taxonomy/tests/src/Kernel/TermEntityReferenceTest.php
  core/modules/text/src/Plugin/Field/FieldType/TextItemBase.php
  core/modules/text/tests/src/Kernel/TextItemBaseTest.php
Due: none

Path conditions:
  üìã PHPUnit Unit (PHPStan rules): any of: core/tests/PHPStan/**/*, composer/Metapackage/PinnedDevDependencies/composer.json
  üßπ JavaScript linting (eslint): any of: core/.eslint*, core/.prettier*, core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/.stylelintrc.json, core/.prettier*, core/package.json, core/yarn.lock, **/*.css
  üì¶ Yarn install on minimum Node.js version: any of: core/package.json, core/yarn.lock
