Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/package.json, core/yarn.lock, **/*.css
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module

Issue #3477529 by mondrake: [CI] Remove the 'with-database' requirement for unit tests
  .gitlab-ci/pipeline.yml
  core/tests/Drupal/KernelTests/Components/ComponentInvalidReplacementTest.php
  core/tests/Drupal/KernelTests/Components/ComponentKernelTestBase.php
  core/tests/Drupal/KernelTests/Components/ComponentNegotiatorTest.php
  core/tests/Drupal/KernelTests/Components/ComponentNodeVisitorTest.php
  core/tests/Drupal/KernelTests/Components/ComponentPluginManagerTest.php
  core/tests/Drupal/KernelTests/Components/ComponentRenderInvalidTest.php
  core/tests/Drupal/KernelTests/Components/ComponentRenderTest.php
  core/tests/Drupal/KernelTests/Scripts/TestSiteApplicationTest.php
  core/tests/Drupal/TestSite/TestSiteClaroInstallTestScript.php
  core/tests/Drupal/TestSite/TestSiteInstallTestScript.php
  core/tests/Drupal/TestSite/TestSiteMultilingualInstallTestScript.php
  core/tests/Drupal/TestSite/TestSiteOliveroInstallTestScript.php
  core/tests/Drupal/Tests/Core/Test/TestDiscoveryTest.php
Due: üßπ JavaScript linting (eslint)

Issue #3484105 by nicxvan, godotislate: Automatically included .inc files are no longer included
  core/core.api.php
  core/lib/Drupal/Core/Extension/ModuleHandler.php
  core/lib/Drupal/Core/Extension/module.api.php
  core/lib/Drupal/Core/Hook/Attribute/Hook.php
  core/lib/Drupal/Core/Hook/HookCollectorPass.php
  core/tests/Drupal/KernelTests/Core/Hook/HookCollectorPassTest.php
  core/tests/Drupal/Tests/Core/Extension/ModuleHandlerTest.php
  core/tests/Drupal/Tests/Core/GroupIncludesTestTrait.php
  core/tests/Drupal/Tests/Core/Hook/HookCollectorPassTest.php
Due: none

Issue #3483899 by nicxvan, godotislate: hook_module_implements_alter hook_cache_flush can only be procedural
  core/core.api.php
  core/lib/Drupal/Core/Extension/module.api.php
  core/lib/Drupal/Core/Hook/Attribute/Hook.php
  core/lib/Drupal/Core/Hook/HookCollectorPass.php
Due: none

Issue #3482062 by quietone, phenaproxima: Remove phenaproxima as a Migrate subsystem maintainer
  core/MAINTAINERS.txt
Due: none

Issue #3477687 by mstrelan, quietone: Add ResponseInterface return typehints to protected test helper methods
  core/modules/ckeditor5/tests/src/Functional/ImageUploadTest.php
  core/modules/comment/tests/src/Functional/CommentNewIndicatorTest.php
  core/modules/contextual/tests/src/Functional/ContextualDynamicContextTest.php
  core/modules/history/tests/src/Functional/HistoryTest.php
  core/modules/jsonapi/tests/src/Functional/FileUploadTest.php
  core/modules/jsonapi/tests/src/Functional/JsonApiFunctionalTestBase.php
  core/modules/layout_builder/tests/src/Functional/Rest/LayoutRestTestBase.php
  core/modules/rest/tests/src/Functional/FileUploadResourceTestBase.php
  core/modules/user/tests/src/Functional/UserLoginHttpTest.php
  core/modules/user/tests/src/Functional/UserRegistrationRestTest.php
  core/tests/Drupal/Tests/ApiRequestTrait.php
Due: none

Issue #2350849 by mondrake, fietserwin, ankithashetty, jhedstrom: Deprecate image_filter_keyword()
  core/lib/Drupal/Component/Utility/Image.php
  core/modules/image/image.module
  core/modules/image/src/Plugin/ImageEffect/CropImageEffect.php
  core/modules/image/src/Plugin/ImageEffect/ScaleAndCropImageEffect.php
  core/modules/image/tests/src/Functional/ImageFieldTestBase.php
  core/modules/image/tests/src/Kernel/ImageEffectsTest.php
  core/modules/image/tests/src/Unit/ImageDeprecationTest.php
  core/tests/Drupal/Tests/Component/Utility/ImageTest.php
Due: üìî Validatable config

Issue #3330481 by spokje, quietone, mstrelan, smustgrave: Fix PHPStan L2 error "PHPDoc tag @foo has invalid value (Bar)"
  composer/Plugin/Scaffold/Plugin.php
  core/includes/bootstrap.inc
  core/lib/Drupal/Component/Assertion/Inspector.php
  core/lib/Drupal/Component/Utility/NestedArray.php
  core/lib/Drupal/Core/Cache/Cache.php
  core/lib/Drupal/Core/ImageToolkit/ImageToolkitOperationBase.php
  core/lib/Drupal/Core/Template/Attribute.php
  core/lib/Drupal/Core/Template/TwigExtension.php
  core/lib/Drupal/Core/Url.php
  core/modules/update/tests/src/Unit/UpdateFetcherTest.php
  core/modules/views/views.module
  core/modules/workflows/src/StateInterface.php
  core/scripts/password-hash.sh
  core/tests/Drupal/Tests/Core/Asset/LibraryDiscoveryParserTest.php
  core/tests/Drupal/Tests/Core/Routing/AccessAwareRouterTest.php
Due: üìî Validatable config

Issue #3480029 by kim.pepper, mstrelan: Add return typehint to \Drupal\Core\DependencyInjection\DeprecatedServicePropertyTrait::__get()
  core/.phpstan-baseline.php
  core/lib/Drupal/Core/DependencyInjection/DeprecatedServicePropertyTrait.php
Due: none

Issue #3475916 by spokje, catch, longwave: Bump phpstan/phpstan to 1.12.4 to make daily "updated deps" QA run pass again
  composer.json
  composer.lock
  composer/Metapackage/DevDependencies/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  core/.phpstan-baseline.php
Due: none

Issue #3478185 by quietone, larowlan: Fix MissingParamType for tests
  core/modules/config_translation/tests/src/Functional/ConfigTranslationUiTestBase.php
  core/modules/content_translation/tests/src/Kernel/ContentTranslationFieldSyncRevisionTest.php
  core/modules/field/tests/src/Functional/FieldTestBase.php
  core/modules/field/tests/src/Kernel/BulkDeleteTest.php
  core/modules/field/tests/src/Kernel/FieldKernelTestBase.php
  core/modules/file/tests/src/Functional/FileFieldTestBase.php
  core/modules/image/tests/src/Functional/ImageFieldTestBase.php
  core/modules/link/tests/src/Functional/LinkFieldUITest.php
  core/modules/migrate/tests/src/Kernel/MigrateTestBase.php
  core/modules/migrate/tests/src/Unit/destination/EntityRevisionTest.php
  core/modules/migrate/tests/src/Unit/process/FileCopyTest.php
  core/modules/migrate/tests/src/Unit/process/FormatDateTest.php
  core/modules/node/tests/src/Functional/NodeAccessLanguageFallbackTest.php
  core/modules/node/tests/src/Functional/NodeRevisionsTest.php
  core/modules/rest/tests/src/Functional/EntityResource/EntityResourceTestBase.php
  core/modules/serialization/tests/src/Unit/Normalizer/ContentEntityNormalizerTest.php
  core/modules/system/tests/src/Functional/Batch/ProcessingTest.php
  core/modules/system/tests/src/Functional/Cache/CacheTestBase.php
  core/modules/system/tests/src/Functional/Menu/AssertBreadcrumbTrait.php
  core/modules/system/tests/src/Functional/Module/ModuleTestBase.php
  core/modules/system/tests/src/Functional/Session/SessionHttpsTest.php
  core/modules/system/tests/src/Kernel/Common/UrlTest.php
  core/modules/system/tests/src/Kernel/Form/ProgrammaticTest.php
  core/modules/system/tests/src/Kernel/Migrate/d7/MigrateMenuTest.php
  core/modules/system/tests/src/Unit/Mail/HtmlToTextTest.php
  core/modules/taxonomy/tests/src/Kernel/Migrate/d7/MigrateTaxonomyTermTest.php
  core/modules/taxonomy/tests/src/Kernel/Migrate/d7/MigrateTaxonomyVocabularyTest.php
  core/modules/update/tests/src/Functional/UpdateTestBase.php
  core/modules/views_ui/tests/src/Functional/DefaultViewsTest.php
  core/tests/Drupal/BuildTests/Framework/BuildTestBase.php
  core/tests/Drupal/FunctionalJavascriptTests/JSWebAssert.php
  core/tests/Drupal/KernelTests/Core/Cache/EndOfTransactionQueriesTest.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityCrudHookTest.php
  core/tests/Drupal/KernelTests/Core/File/FileTestBase.php
  core/tests/Drupal/Tests/Component/Graph/GraphTest.php
  core/tests/Drupal/Tests/Component/Render/PlainTextOutputTest.php
  core/tests/Drupal/Tests/Core/DependencyInjection/Compiler/BackendCompilerPassTest.php
  core/tests/Drupal/Tests/Core/Menu/LocalTaskIntegrationTestBase.php
  core/tests/Drupal/Tests/TestFileCreationTrait.php
Due: none

Issue #3386313 by kksandr, mxr576, smustgrave, longwave, catch: The entity link label formatter should check URL access
  core/lib/Drupal/Core/Field/Plugin/Field/FieldFormatter/EntityReferenceLabelFormatter.php
  core/modules/field/tests/src/Kernel/EntityReference/EntityReferenceFormatterTest.php
  core/modules/media/tests/src/Functional/MediaAccessTest.php
Due: none

Issue #3479411 by phenaproxima, thejimbirch: The addItemToToolbar config action should not, by default, add items that are already in the toolbar
  core/modules/ckeditor5/src/Plugin/ConfigAction/AddItemToToolbar.php
  core/modules/ckeditor5/tests/src/Kernel/ConfigAction/AddItemToToolbarConfigActionTest.php
Due: none

Issue #3484374 by daniel.j, joachim: Incorrect docs for Views::fetchPluginNames()
  core/modules/views/src/Views.php
Due: none

Revert "Issue #3476420 by goz, catch: Add assertions to OpenTelemetryNodePagePerformanceTest::testNodePageHotCache()"
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryNodePagePerformanceTest.php
Due: none

Issue #3485117 by nexusnovaz, godotislate, nicxvan: Fix return type on HookCollectorPass::collectAllHookImplementations()
  core/lib/Drupal/Core/Hook/HookCollectorPass.php
Due: none

Issue #3485470 by nicxvan, lendude: views_form_views_exposed_form_alter is documented as hook_form_alter instead of hook_form_FORM_ID_alter
  core/modules/views/views.module
Due: üìî Validatable config

Issue #3482618 by nicxvan, godotislate: ModuleHandler->alterDeprecated does not properly handle deprecated OOP hooks
  core/lib/Drupal/Core/Extension/ModuleHandler.php
  core/modules/system/tests/modules/deprecation_hook_attribute_test/deprecation_hook_attribute_test.info.yml
  core/modules/system/tests/modules/deprecation_hook_attribute_test/src/Hook/DeprecationHookAttributeTestHooks.php
  core/tests/Drupal/KernelTests/Core/Extension/ModuleHandlerDeprecatedHookTest.php
Due: üßπ JavaScript linting (eslint)
