Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Unit tests PHPStan rules, üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

Unit tests PHPStan rules:
  stage: ‚ö°Ô∏è Unit tests
  needs: []
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - docker-php-ext-enable pcov
  - cd core/tests/PHPStan
  - composer install
  - vendor/bin/phpunit tests --testdox --coverage-text --colors=always --coverage-cobertura=coverage.cobertura.xml --log-junit junit.xml
  ...

üßπ JavaScript linting (eslint):
  before_script:
  - cd core
  - corepack enable
  - yarn install
  - cd ..
  cache:
    key:
    - .yarn-install-from-cache
    - cache
    - key
    paths:
    - .yarn-install-from-cache
    - cache
    - paths
    policy: pull-push
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
    CACHE_FILE: core/.eslintcache
  ...

üßπ CSS linting (stylelint):
  before_script:
  - cd core
  - corepack enable
  - yarn install
  - cd ..
  cache:
    key:
      files:
      - ./core/package.json
      - ./core/yarn.lock
    paths:
    - ./core/.yarn/cache
    policy: pull
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
    CACHE_FILE: core/.stylelintcache
  script:
  ...

üìî Validatable config:
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  artifacts:
    expire_in: 1 week
    expose_as: validatable-config
    paths:
    - HEAD.json
    - MR.json
  allow_failure:
    exit_codes:
    - 100
    - 101
    - 1
  script:
  - git checkout -f $CI_MERGE_REQUEST_DIFF_BASE_SHA
  ...

task: #3574661 Remove deprecated code from comments module
  core/.deprecation-ignore.txt
  core/.phpstan-baseline.php
  core/lib/Drupal/Core/Entity/EntityInterface.php
  core/modules/comment/comment.libraries.yml
  core/modules/comment/comment.module
  core/modules/comment/src/CommentLinkBuilder.php
  core/modules/comment/src/Plugin/migrate/destination/EntityComment.php
  core/modules/comment/tests/src/Kernel/CommentUriDeprecationTest.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Revert "task: #3570693 Do not render navigation top bar with bigpipe to avoid layout shift"
  core/modules/navigation/src/NavigationRenderer.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/AssetAggregationAcrossPagesTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryAuthenticatedPerformanceTest.php
Due: none

task: #3476725 Mark drupal/legacy-project as abandoned
  composer/Template/LegacyProject/composer.json
Due: none

fix: #3562072 Menu link content export with dependencies doesn't include parent menu link entity.
  core/modules/menu_link_content/menu_link_content.services.yml
  core/modules/menu_link_content/src/EventSubscriber/DefaultContentSubscriber.php
  core/modules/menu_link_content/tests/src/Kernel/DefaultContentTest.php
Due: üßπ JavaScript linting (eslint)

task: #3570693 Do not render navigation top bar with bigpipe to avoid layout shift
  core/modules/navigation/src/NavigationRenderer.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/AssetAggregationAcrossPagesTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryAuthenticatedPerformanceTest.php
Due: none

task: #3573895 Fix test integrations using migrate_drupal
  core/.phpstan-baseline.php
  core/modules/migrate/tests/modules/migrate_multiple_provider_test/migrate_multiple_provider_test.info.yml
  core/modules/migrate/tests/modules/migrate_multiple_provider_test/src/Plugin/migrate/source/EmptySource.php
  core/modules/migrate/tests/modules/migrate_source_annotation_bc_test/src/Plugin/migrate/source/MigrateSourceWithAnnotationsMultipleProviders.php
  core/modules/migrate/tests/src/Kernel/MigrateEntityContentBaseTest.php
  core/modules/migrate/tests/src/Kernel/Plugin/source/MigrateSourceDiscoveryTest.php
  core/modules/migrate/tests/src/StubTestTrait.php
Due: üßπ JavaScript linting (eslint)

task: #3571054 Remove deprecated code from lib/Access, lib/Ajax, and lib/Archiver
  composer.lock
  core/.deprecation-ignore.txt
  core/.phpstan-baseline.php
  core/composer.json
  core/core.services.yml
  core/lib/Drupal/Core/Access/RouteProcessorCsrf.php
  core/lib/Drupal/Core/Ajax/OpenDialogCommand.php
  core/lib/Drupal/Core/Ajax/OpenOffCanvasDialogCommand.php
  core/lib/Drupal/Core/Archiver/Annotation/Archiver.php
  core/lib/Drupal/Core/Archiver/ArchiverException.php
  core/lib/Drupal/Core/Archiver/ArchiverInterface.php
  core/lib/Drupal/Core/Archiver/ArchiverManager.php
  core/lib/Drupal/Core/Archiver/Attribute/Archiver.php
  core/lib/Drupal/Core/Archiver/Tar.php
  core/lib/Drupal/Core/Archiver/Zip.php
  core/modules/system/src/Hook/SystemHooks.php
  core/modules/system/src/Plugin/Archiver/Tar.php
  core/modules/system/src/Plugin/Archiver/Zip.php
  core/modules/system/tests/modules/pager_test/src/Controller/TestModalController.php
  core/tests/Drupal/KernelTests/Core/Archiver/ArchiverTestBase.php
  core/tests/Drupal/KernelTests/Core/Archiver/TarTest.php
  core/tests/Drupal/KernelTests/Core/Archiver/ZipTest.php
  core/tests/Drupal/Tests/Core/Ajax/AjaxCommandsTest.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

task: #3571058 Remove deprecated code from lib/Classloader, lib/Composer, and lib/Config
  composer.lock
  core/.phpstan-baseline.php
  core/composer.json
  core/lib/Drupal/Core/Composer/Composer.php
  core/lib/Drupal/Core/Config/Action/ConfigActionManager.php
  core/tests/Drupal/KernelTests/Core/Recipe/RecipeRunnerTest.php
Due: none

fix: #3574657 Robots.txt should explicitly allow WEBP and AVIF images like it does other formats
  core/assets/scaffold/files/robots.txt
  robots.txt
Due: none

task: #3571874 Remove deprecated code from block_content
  core/modules/block_content/block_content.module
  core/modules/block_content/block_content.pages.inc
  core/modules/block_content/block_content.services.yml
  core/modules/block_content/config/schema/block_content.schema.yml
  core/modules/block_content/modules/block_content_storage_body_field/block_content_storage_body_field.info.yml
  core/modules/block_content/modules/block_content_storage_body_field/config/install/field.storage.block_content.body.yml
  core/modules/block_content/modules/block_content_storage_body_field/src/Hook/BlockContentStorageBodyFieldHook.php
  core/modules/block_content/modules/block_content_storage_body_field/tests/modules/block_content_storage_body_field_test/block_content_storage_body_field_test.info.yml
  core/modules/block_content/modules/block_content_storage_body_field/tests/modules/block_content_storage_body_field_test/config/install/block_content.type.basic.yml
  core/modules/block_content/modules/block_content_storage_body_field/tests/modules/block_content_storage_body_field_test/config/install/field.field.block_content.basic.body.yml
  core/modules/block_content/modules/block_content_storage_body_field/tests/src/Functional/BlockContentStorageBodyFieldTest.php
  core/modules/block_content/src/Hook/BlockContentHooks.php
  core/modules/block_content/src/Plugin/Block/BlockContentBlock.php
  core/modules/block_content/templates/block-content-add-list.html.twig
  core/modules/block_content/tests/src/Kernel/BlockContentEntityReferenceSelectionTest.php
  core/modules/block_content/tests/src/Traits/BlockContentCreationTrait.php
  core/themes/claro/templates/block-content-add-list.html.twig
  core/themes/stable9/templates/admin/block-content-add-list.html.twig
Due: üßπ JavaScript linting (eslint), üìî Validatable config

task: #3574901 Remove deprecated code from datetime and datetime_range module
  core/modules/datetime/datetime.module
  core/modules/datetime_range/src/DateTimeRangeConstantsInterface.php
  core/modules/datetime_range/tests/src/FunctionalJavascript/DateRangeFieldTest.php
Due: üìî Validatable config

fix: #3575066 Olivero mobile close button not properly placed against top nav bar
  core/themes/olivero/css/components/header-navigation.css
  core/themes/olivero/css/components/header-navigation.pcss.css
Due: üßπ CSS linting (stylelint)

task: #3568641 [CI] Introduce our own PHPStan ErrorFormatter to avoid multiple PHPStan executions
  .gitlab-ci.yml
  composer.json
  core/phpstan.neon.dist
  core/tests/PHPStan/ErrorFormatter/FileOutput.php
  core/tests/PHPStan/ErrorFormatter/MultiplexErrorFormatter.php
  core/tests/PHPStan/composer.json
Due: Unit tests PHPStan rules, üßπ JavaScript linting (eslint)

task: #3569133 Remove shortcut from umami and standard profile and recipe
  core/modules/contact/tests/src/Functional/migrate_drupal_ui/d6/Upgrade6Test.php
  core/modules/contact/tests/src/Functional/migrate_drupal_ui/d7/Upgrade7Test.php
  core/modules/migrate_drupal_ui/tests/src/Functional/MultilingualReviewPageTestBase.php
  core/modules/migrate_drupal_ui/tests/src/Functional/d6/Upgrade6Test.php
  core/modules/migrate_drupal_ui/tests/src/Functional/d7/Upgrade7Test.php
  core/modules/navigation/tests/src/FunctionalJavascript/PerformanceTest.php
  core/profiles/demo_umami/config/install/claro.settings.yml
  core/profiles/demo_umami/config/install/user.role.authenticated.yml
  core/profiles/demo_umami/config/install/user.role.editor.yml
  core/profiles/demo_umami/demo_umami.info.yml
  core/profiles/demo_umami/demo_umami.install
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryAuthenticatedPerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryFrontPagePerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryNodePagePerformanceTest.php
  core/profiles/standard/config/install/user.role.authenticated.yml
  core/profiles/standard/standard.info.yml
  core/profiles/standard/standard.install
  core/recipes/standard/recipe.yml
  core/tests/Drupal/FunctionalTests/Core/Recipe/StandardRecipeInstallTest.php
  core/tests/Drupal/FunctionalTests/Core/Recipe/StandardRecipeTest.php
  core/tests/Drupal/KernelTests/Core/Recipe/ConfigActionValidationTest.php
  core/tests/fixtures/recipes/config_from_module_and_recipe/recipe.yml
  core/tests/fixtures/recipes/config_wildcard/recipe.yml
Due: üßπ JavaScript linting (eslint)

task: #3574424 Remove deprecated code from path, path_alias, image, and responsive_image modules
  core/.phpstan-baseline.php
  core/modules/image/image.admin.inc
  core/modules/image/image.field.inc
  core/modules/image/image.module
  core/modules/image/src/Entity/ImageStyle.php
  core/modules/image/tests/src/Unit/ImageDeprecationTest.php
  core/modules/path/path.libraries.yml
  core/modules/path_alias/path_alias.services.yml
  core/modules/path_alias/src/AliasManager.php
  core/modules/path_alias/src/AliasWhitelist.php
  core/modules/path_alias/src/AliasWhitelistInterface.php
  core/modules/responsive_image/responsive_image.module
  core/modules/responsive_image/src/ResponsiveImageBuilder.php
  core/modules/responsive_image/templates/responsive-image-formatter.html.twig
  core/modules/responsive_image/templates/responsive-image.html.twig
  core/themes/stable9/templates/field/responsive-image-formatter.html.twig
  core/themes/stable9/templates/field/responsive-image.html.twig
Due: üßπ JavaScript linting (eslint), üìî Validatable config

test: #3554872 Remove test framework code related to no longer used symfony/phpunit-bridge
  core/lib/Drupal/Core/Test/HttpClientMiddleware/TestHttpClientMiddleware.php
  core/modules/system/tests/modules/deprecation_test/src/Deprecation/DrupalStandardsListenerDeprecatedClass.php
  core/modules/system/tests/modules/deprecation_test/src/Deprecation/FixtureDeprecatedClass.php
  core/tests/Drupal/FunctionalTests/BrowserTestBaseTest.php
  core/tests/Drupal/FunctionalTests/Core/Test/PhpUnitBridgeTest.php
  core/tests/Drupal/KernelTests/Core/Test/PhpUnitBridgeTest.php
  core/tests/Drupal/Tests/Core/Listeners/DrupalStandardsListenerDeprecationTest.php
  core/tests/Drupal/Tests/Core/Test/PhpUnitBridgeIsolatedTest.php
  core/tests/Drupal/Tests/Core/Test/PhpUnitBridgeTest.php
  core/tests/Drupal/Tests/ExpectDeprecationTest.php
Due: none

task: #3522327 Deprecate the 'allow_authorize_operations' setting
  core/lib/Drupal/Core/Site/Settings.php
Due: none

task: #3566827 [ci] Add a job to check that yarn install succeeds on the minimum supported version
  .gitlab-ci.yml
Due: üßπ JavaScript linting (eslint)

feat: #3558306 Support automatic setter injection using the #[Required] attribute in AutowireTrait/AutowiredInstanceTrait
  core/lib/Drupal/Core/DependencyInjection/AutowiredInstanceTrait.php
  core/tests/Drupal/KernelTests/Core/Block/AutowireBlockTest.php
  core/tests/Drupal/KernelTests/Core/Controller/ControllerBaseTest.php
  core/tests/Drupal/Tests/Core/DependencyInjection/AutowiredInstanceTraitTest.php
Due: none

task: #3575201 Simple deprecation removal from modules part 1
  core/modules/breakpoint/src/BreakpointManager.php
  core/modules/contextual/contextual.module
  core/modules/contextual/js/contextual.js
  core/modules/contextual/src/ContextualController.php
  core/modules/contextual/src/Plugin/views/field/ContextualLinks.php
  core/modules/contextual/tests/src/Kernel/ContextualUnitTest.php
  core/modules/dblog/dblog.admin.inc
  core/modules/editor/editor.module
  core/modules/editor/src/Plugin/EditorManager.php
  core/modules/jsonapi/src/Controller/EntityResource.php
  core/modules/jsonapi/src/Normalizer/ResourceObjectNormalizer.php
  core/modules/jsonapi/src/ResourceType/ResourceType.php
  core/modules/media/media.module
  core/modules/media_library/media_library.module
  core/modules/menu_link_content/menu_link_content.module
  core/modules/navigation/navigation.module
  core/modules/search/search.module
  core/modules/search/search.pages.inc
  core/modules/search/src/Hook/SearchHooks.php
  core/modules/settings_tray/src/Hook/SettingsTrayHooks.php
  core/modules/taxonomy/taxonomy.libraries.yml
  core/modules/toolbar/toolbar.module
Due: üßπ JavaScript linting (eslint), üìî Validatable config

task: #3572375 [ci] Run tests in top level pipeline, use recursion for secondary test runs
  .gitlab-ci.yml
  .gitlab-ci/pipeline-test-only.yml
  .gitlab-ci/pipeline.yml
Due: üßπ JavaScript linting (eslint)

task: #2667040 Deprecate uri_callback in routes for entities
  core/lib/Drupal/Core/Entity/Attribute/ConfigEntityType.php
  core/lib/Drupal/Core/Entity/Attribute/ContentEntityType.php
  core/lib/Drupal/Core/Entity/Attribute/EntityType.php
  core/lib/Drupal/Core/Entity/EntityBase.php
  core/lib/Drupal/Core/Entity/EntityInterface.php
  core/lib/Drupal/Core/Entity/EntityType.php
  core/lib/Drupal/Core/Entity/EntityTypeInterface.php
  core/lib/Drupal/Core/Entity/entity.api.php
  core/tests/Drupal/Tests/Core/Entity/EntityUrlTest.php
Due: none

task: #3459277 Enforce second parameter in BreadcrumbBuilderInterface::applies
  core/lib/Drupal/Core/Breadcrumb/BreadcrumbBuilderInterface.php
  core/lib/Drupal/Core/Breadcrumb/BreadcrumbManager.php
  core/modules/comment/src/CommentBreadcrumbBuilder.php
  core/modules/help/src/HelpBreadcrumbBuilder.php
  core/modules/system/src/PathBasedBreadcrumbBuilder.php
  core/modules/system/tests/src/Unit/Breadcrumbs/PathBasedBreadcrumbBuilderTest.php
  core/modules/taxonomy/src/TermBreadcrumbBuilder.php
Due: none

task: #3571595 Remove authorize.php related Twig and CSS from core
  core/includes/theme.inc
  core/lib/Drupal/Core/Theme/ThemeCommonElements.php
  core/modules/system/css/system.maintenance.css
  core/modules/system/templates/authorize-report.html.twig
Due: üßπ CSS linting (stylelint)

Path conditions:
  Unit tests PHPStan rules: any of: core/tests/PHPStan/**/*, composer/Metapackage/PinnedDevDependencies/composer.json
  üßπ JavaScript linting (eslint): any of: core/.eslint*, core/.prettier*, core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/.stylelintrc.json, core/.prettier*, core/package.json, core/yarn.lock, **/*.css
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module, **/src/Hook/*.php
