Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/package.json, core/yarn.lock, **/*.css
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module

Issue #3454507 by hablat, catch: Aggregated asset generation causes uncacheable assets
  core/modules/system/src/Controller/AssetControllerBase.php
  core/tests/Drupal/FunctionalTests/Asset/AssetOptimizationTest.php
Due: none

Issue #3469309 by mstrelan, smustgrave, moshe weitzman: Use one-time login link instead of user login form in BrowserTestBase tests
  core/modules/locale/tests/src/Functional/LocaleTranslatedSchemaDefinitionTest.php
  core/modules/user/tests/src/Functional/UserLoginTest.php
  core/modules/user/tests/src/Functional/UserTokenReplaceTest.php
  core/modules/user/user.module
  core/tests/Drupal/Tests/UiHelperTrait.php
Due: üìî Validatable config

Revert "Issue #3469309 by mstrelan, smustgrave, moshe weitzman: Use one-time login link instead of user login form in BrowserTestBase tests"
  core/modules/locale/tests/src/Functional/LocaleTranslatedSchemaDefinitionTest.php
  core/modules/user/tests/src/Functional/UserLoginTest.php
  core/modules/user/tests/src/Functional/UserTokenReplaceTest.php
  core/modules/user/user.module
  core/tests/Drupal/Tests/UiHelperTrait.php
Due: üìî Validatable config

Issue #3469309 by mstrelan, smustgrave, moshe weitzman: Use one-time login link instead of user login form in BrowserTestBase tests
  core/modules/locale/tests/src/Functional/LocaleTranslatedSchemaDefinitionTest.php
  core/modules/locale/tests/src/Functional/LocaleTranslationUiTest.php
  core/modules/user/tests/src/Functional/UserLoginTest.php
  core/modules/user/tests/src/Functional/UserTokenReplaceTest.php
  core/modules/user/user.module
  core/tests/Drupal/Tests/UiHelperTrait.php
Due: üìî Validatable config

Issue #3306107 by b_sharpe, catch, carolpettirossi, quietone: Allow failed logins in maintenance mode to be themed differently to other maintenance pages
  core/modules/user/src/Form/UserLoginForm.php
  core/modules/user/tests/src/Functional/UserLoginTest.php
Due: none

Issue #3471741 by mstrelan, bbrala, kristiaanvandeneynde: Fix null $cid in CacheCollector classes
  core/lib/Drupal/Core/Asset/LibraryDiscoveryCollector.php
  core/lib/Drupal/Core/Menu/MenuActiveTrail.php
Due: none

Issue #3472092 by nicxvan, smustgrave: Remove references to ApcClassLoader (removed in Symfony 4)
  core/includes/install.core.inc
  core/lib/Drupal/Core/Config/BootstrapConfigStorageFactory.php
  core/lib/Drupal/Core/DrupalKernel.php
  core/lib/Drupal/Core/Test/TestDiscovery.php
Due: none

Issue #2973356 by mxr576, kristiaanvandeneynde, wim leers, berdir, bbrala: Cacheability information from route access checker access results are ignored by dynamic_page_cache
  core/lib/Drupal/Core/EventSubscriber/RouteAccessResponseSubscriber.php
  core/modules/announcements_feed/tests/src/Functional/AnnouncementsCacheTest.php
  core/modules/dynamic_page_cache/src/EventSubscriber/DynamicPageCacheSubscriber.php
  core/modules/dynamic_page_cache/tests/dynamic_page_cache_test/dynamic_page_cache_test.routing.yml
  core/modules/dynamic_page_cache/tests/dynamic_page_cache_test/src/DynamicPageCacheTestController.php
  core/modules/dynamic_page_cache/tests/src/Functional/DynamicPageCacheIntegrationTest.php
  core/modules/jsonapi/src/EventSubscriber/ResourceResponseSubscriber.php
  core/modules/jsonapi/tests/src/Functional/FileUploadTest.php
  core/modules/jsonapi/tests/src/Functional/ResourceTestBase.php
  core/modules/node/tests/src/Functional/NodeBlockFunctionalTest.php
  core/modules/rest/src/EventSubscriber/ResourceResponseSubscriber.php
  core/modules/rest/tests/src/Functional/EntityResource/EntityResourceTestBase.php
  core/modules/workspaces/tests/src/Functional/WorkspaceSwitcherTest.php
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTest.php
Due: üßπ JavaScript linting (eslint)

Issue #3472970 by quietone: Add ignore for some words used in tests
  core/misc/cspell/dictionary.txt
  core/modules/config/tests/config_test/src/ConfigValidation.php
  core/modules/editor/tests/src/FunctionalJavascript/EditorAdminTest.php
  core/modules/field/tests/modules/field_test/src/Plugin/Field/FieldWidget/TestFieldWidgetMultiple.php
  core/modules/field/tests/src/Kernel/WidgetPluginManagerTest.php
  core/modules/field_ui/tests/src/FunctionalJavascript/ManageDisplayTest.php
  core/modules/filter/tests/src/Kernel/FilterKernelTest.php
  core/modules/layout_builder/tests/src/FunctionalJavascript/ContentPreviewToggleTest.php
  core/modules/layout_builder/tests/src/FunctionalJavascript/LayoutBuilderDisableInteractionsTest.php
  core/modules/layout_builder/tests/src/FunctionalJavascript/LayoutBuilderUiTest.php
  core/modules/layout_builder/tests/src/FunctionalJavascript/MoveBlockFormTest.php
  core/modules/media/tests/src/Kernel/MediaSourceTest.php
  core/modules/mysql/tests/src/Kernel/mysql/ConnectionUnitTest.php
  core/modules/page_cache/tests/src/Functional/PageCacheTest.php
  core/modules/pgsql/tests/src/Kernel/pgsql/ConnectionUnitTest.php
  core/modules/pgsql/tests/src/Kernel/pgsql/SchemaTest.php
  core/modules/pgsql/tests/src/Kernel/pgsql/TemporaryQueryTest.php
  core/modules/responsive_image/tests/src/Functional/ResponsiveImageAdminUITest.php
  core/modules/system/tests/modules/update_test_postupdate/update_test_postupdate.install
  core/modules/system/tests/modules/update_test_postupdate/update_test_postupdate.post_update.php
  core/modules/system/tests/src/Functional/System/StatusTest.php
  core/modules/system/tests/src/Functional/Theme/EngineNyanCatTest.php
  core/modules/system/tests/src/Functional/UpdateSystem/UpdatePostUpdateTest.php
  core/modules/system/tests/src/Functional/UpdateSystem/UpdateRemovedPostUpdateTest.php
  core/modules/system/tests/themes/engines/nyan_cat/nyan_cat.engine
  core/modules/system/tests/themes/engines/nyan_cat/nyan_cat.info.yml
  core/modules/system/tests/themes/test_theme_nyan_cat_engine/test_theme_nyan_cat_engine.info.yml
  core/modules/system/tests/themes/test_theme_nyan_cat_engine/test_theme_nyan_cat_engine.theme
  core/modules/system/tests/themes/test_theme_nyan_cat_engine/theme_test.template_test.nyan-cat.html
  core/tests/Drupal/FunctionalJavascriptTests/WebDriverCurlService.php
  core/tests/Drupal/KernelTests/Config/TypedConfigTest.php
  core/tests/Drupal/KernelTests/Core/Database/DriverSpecificConnectionUnitTestBase.php
  core/tests/Drupal/KernelTests/Core/Extension/ThemeEngineExtensionListTest.php
  core/tests/Drupal/KernelTests/Core/Plugin/Context/ContextAwarePluginTraitTest.php
  core/tests/Drupal/Tests/Component/Diff/Engine/HWLDFWordAccumulatorTest.php
  core/tests/README.md
Due: üßπ JavaScript linting (eslint)

Issue #3473195 by longwave, catch, jurgenhaas, naveenvalecha, quietone: twig/twig has a possible sandbox bypass <v3.14.0
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  core/.deprecation-ignore.txt
  core/composer.json
  core/modules/system/tests/src/Kernel/Theme/TwigIncludeTest.php
Due: none

Issue #3473195 by longwave, catch, jurgenhaas, naveenvalecha, quietone: twig/twig has a possible sandbox bypass <v3.14.0
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  core/.deprecation-ignore.txt
  core/composer.json
  core/modules/system/tests/src/Kernel/Theme/TwigIncludeTest.php
  core/tests/Drupal/KernelTests/Core/Theme/TwigEnvironmentTest.php
Due: none

Issue #3473195 by longwave, catch, jurgenhaas, naveenvalecha, quietone: twig/twig has a possible sandbox bypass <v3.14.0
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  core/.deprecation-ignore.txt
  core/.phpstan-baseline.php
  core/composer.json
  core/modules/system/tests/src/Kernel/Theme/TwigIncludeTest.php
  core/tests/Drupal/KernelTests/Core/Theme/TwigEnvironmentTest.php
Due: none

Issue #2386195 by dawehner, samit.310@gmail.com, voleger, daffie, smustgrave, mile23: State has no dedicated test coverage
  core/tests/Drupal/Tests/Core/State/StateTest.php
Due: none

Drupal 11.0.3
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: none

Back to dev.
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: none

Drupal 10.3.4
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: none

Drupal 10.2.8
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: none
