Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

üßπ JavaScript linting (eslint):
  needs:
  - üì¶Ô∏è Yarn
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - cd core
  - corepack enable
  - yarn run check:ckeditor5
  - yarn run lint:core-js-passing --format gitlab
  artifacts:
    reports:
      codequality: eslint-quality-report.json

üßπ CSS linting (stylelint):
  needs:
  - üì¶Ô∏è Yarn
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - corepack enable
  - cd core
  - yarn run build:css --check
  - yarn run lint:css --color --custom-formatter=node_modules/stylelint-formatter-gitlab
  artifacts:
    reports:
      codequality: stylelint-quality-report.json

üìî Validatable config:
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  artifacts:
    expire_in: 1 week
    expose_as: validatable-config
    paths:
    - HEAD.json
    - MR.json
  allow_failure:
    exit_codes:
    - 100
    - 101
    - 1
  script:
  - git checkout -f $CI_MERGE_REQUEST_DIFF_BASE_SHA
  ...

Back to dev.
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: none

Issue #3208247 by sukr_s, smustgrave, alexpott, Nikolay Shapovalov, catch, orb, quietone, pwolanin: After deleting a translated article, search wants to reindex it
  core/modules/node/src/Entity/Node.php
  core/modules/node/tests/src/Functional/NodeTranslationUITest.php
Due: none

Issue #3458444 by quietone, smustgrave, slashrsm, nod_, brianperry: Remove decoupled menus and media initiatives from MAINTAINERS
  core/MAINTAINERS.txt
Due: none

Issue #3456425 by mondrake, alexpott: FormStateInterface::setError*() PHPDoc are incorrect
  core/lib/Drupal/Core/Form/FormStateInterface.php
Due: none

Issue #3458403 by mstrelan: Conditionally disable access to update manager routes
  core/modules/update/src/Access/UpdateManagerAccessCheck.php
  core/modules/update/src/Routing/UpdateRouteSubscriber.php
  core/modules/update/update.routing.yml
  core/modules/update/update.services.yml
Due: üßπ JavaScript linting (eslint)

Issue #3458403 by mstrelan: Conditionally disable access to update manager routes
  core/modules/update/src/Routing/UpdateRouteSubscriber.php
  core/modules/update/update.routing.yml
  core/modules/update/update.services.yml
Due: üßπ JavaScript linting (eslint)

Issue #3156672 by kim.pepper, joegraduate, longwave, PieterDC, smustgrave, tstoeckler, alexpott: ExtensionMimeTypeGuesser breaks other mime_type_guesser services
  core/lib/Drupal/Core/File/MimeType/ExtensionMimeTypeGuesser.php
  core/lib/Drupal/Core/File/MimeType/MimeTypeGuesser.php
  core/tests/Drupal/KernelTests/Core/File/MimeTypeTest.php
Due: none

Issue #3449851 by Liam Morland, alexpott, smustgrave, solideogloria, catch, kopeboy: Replace LogicException with trigger_error in LangcodeRequiredIfTranslatableValues constraint
  core/lib/Drupal/Core/Config/Plugin/Validation/Constraint/LangcodeRequiredIfTranslatableValuesConstraintValidator.php
  core/modules/config/tests/config_test/config/schema/config_test.schema.yml
  core/tests/Drupal/KernelTests/Core/Config/ConfigSchemaTest.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #3459924 by longwave, Spokje: Update Composer dependencies for 11.0.0-rc1
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  core/tests/PHPStan/composer.json
Due: none

Issue #3108658 by alexpott, mikelutz, catch, xjm, nicxvan, longwave: Handling update path divergence between 11.x and 10.x
  core/includes/update.inc
  core/lib/Drupal/Core/Extension/module.api.php
  core/lib/Drupal/Core/Update/EquivalentUpdate.php
  core/lib/Drupal/Core/Update/UpdateHookRegistry.php
  core/misc/cspell/dictionary.txt
  core/modules/system/system.install
  core/modules/system/tests/modules/equivalent_update_test/equivalent_update_test.info.yml
  core/modules/system/tests/modules/equivalent_update_test/equivalent_update_test.install
  core/modules/system/tests/src/Functional/UpdateSystem/EquivalentUpdateTest.php
  core/tests/Drupal/Tests/Core/Update/UpdateHookRegistryTest.php
Due: üßπ JavaScript linting (eslint)

Issue #3456738 by cmlara, Anybody, andrewbelcher, Berdir, catch: BC break in login auth changes from #3444978
  core/modules/user/src/Controller/UserAuthenticationController.php
  core/modules/user/src/Form/UserLoginForm.php
  core/modules/user/tests/modules/user_auth_decorator_test/src/UserAuthDecorator.php
  core/modules/user/tests/modules/user_auth_decorator_test/user_auth_decorator_test.info.yml
  core/modules/user/tests/modules/user_auth_decorator_test/user_auth_decorator_test.services.yml
  core/modules/user/tests/src/Functional/Rest/UserJsonBasicAuthDecoratedTest.php
  core/modules/user/tests/src/Functional/UserLoginDecoratedTest.php
  core/modules/user/tests/src/Functional/UserLoginHttpDecoratedTest.php
Due: üßπ JavaScript linting (eslint)

Issue #2998857 by Luke.Leber, e.chatrer, afem, bskibinski, mgifford: a11y: Input type file fields lack aria-describedby to the description
  core/modules/file/src/Element/ManagedFile.php
  core/modules/file/tests/file_module_test/src/Form/FileModuleTestForm.php
  core/modules/file/tests/src/Functional/FileManagedFileElementTest.php
Due: none

Issue #3410091 by mglaman, alexpott, smustgrave, bnjmnm, quietone: [regression] Menu List Builder getEntityIds() no longer calls getEntityListQuery
  core/lib/Drupal/Core/Entity/EntityListBuilder.php
  core/modules/menu_ui/src/MenuListBuilder.php
Due: none

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/package.json, core/yarn.lock, **/*.css
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module
