Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/package.json, core/yarn.lock, **/*.css
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module

Issue #3478621 by catch, nicxvan, longwave, alexpott: Add filecache to OOP hook attribute parsing
  core/lib/Drupal/Core/Hook/HookCollectorPass.php
  core/modules/system/tests/modules/hook_collector_on_behalf/hook_collector_on_behalf.info.yml
  core/modules/system/tests/modules/hook_collector_on_behalf/src/Hook/OnBehalfOfOtherModuleHook.php
  core/modules/system/tests/modules/hook_collector_on_behalf_procedural/hook_collector_on_behalf_procedural.info.yml
  core/modules/system/tests/modules/hook_collector_on_behalf_procedural/hook_collector_on_behalf_procedural.module
  core/tests/Drupal/KernelTests/Core/Hook/HookCollectorPassTest.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #3489776 by mstrelan, nicxvan: Add void return to all pageAttachments, pageTop and pageBottom hook implementations
  core/.phpstan-baseline.php
  core/lib/Drupal/Core/Render/theme.api.php
  core/modules/big_pipe/src/Hook/BigPipeHooks.php
  core/modules/big_pipe/tests/modules/big_pipe_test/src/Hook/BigPipeTestHooks.php
  core/modules/block/src/Hook/BlockHooks.php
  core/modules/content_translation/src/Hook/ContentTranslationHooks.php
  core/modules/contextual/src/Hook/ContextualHooks.php
  core/modules/language/tests/language_test/src/Hook/LanguageTestHooks.php
  core/modules/navigation/src/Hook/NavigationHooks.php
  core/modules/node/src/Hook/NodeHooks1.php
  core/modules/settings_tray/tests/modules/settings_tray_test_css/src/Hook/SettingsTrayTestCssHooks.php
  core/modules/system/src/Hook/SystemHooks.php
  core/modules/system/tests/modules/common_test/src/Hook/CommonTestHooks.php
  core/modules/system/tests/modules/css_disable_transitions_test/src/Hook/CssDisableTransitionsTestHooks.php
  core/modules/system/tests/modules/js_testing_ajax_request_test/src/Hook/JsTestingAjaxRequestTestHooks.php
  core/modules/system/tests/modules/js_testing_log_test/src/Hook/JsTestingLogTestHooks.php
  core/modules/system/tests/modules/off_canvas_test/src/Hook/OffCanvasTestHooks.php
  core/modules/system/tests/modules/session_exists_cache_context_test/src/Hook/SessionExistsCacheContextTestHooks.php
  core/modules/system/tests/modules/system_test/src/Hook/SystemTestHooks.php
  core/modules/system/tests/modules/theme_test/src/Hook/ThemeTestHooks.php
  core/modules/toolbar/src/Hook/ToolbarHooks.php
  core/modules/update/src/Hook/UpdateHooks.php
Due: none

Issue #3445276 by daffie: Fix lifecycle_links for deprecated or obsolete modules
  core/modules/action/action.info.yml
  core/modules/help_topics/help_topics.info.yml
Due: üßπ JavaScript linting (eslint)

Issue #3489900 by nicxvan: Fix reference to hook_library_info_build
  core/lib/Drupal/Core/Hook/Attribute/Hook.php
Due: none

Issue #3473374 by mxr576, bbrala, kristiaanvandeneynde: Improve Dynamic Page Cache header assertions in JSON:API tests
  core/.phpstan-baseline.php
  core/modules/jsonapi/tests/src/Functional/ResourceTestBase.php
  core/modules/jsonapi/tests/src/Functional/UserTest.php
  core/modules/jsonapi/tests/src/Traits/CommonCollectionFilterAccessTestPatternsTrait.php
Due: none

Issue #2699959 by quietone, dragos-dumi, smustgrave, larowlan, joachim: Update link templates of test entities
  core/lib/Drupal/Core/Entity/Routing/DefaultHtmlRouteProvider.php
  core/modules/system/tests/modules/entity_test/src/Entity/EntityTest.php
  core/modules/system/tests/modules/entity_test/src/Entity/EntityTestAddPage.php
  core/modules/system/tests/modules/entity_test/src/Entity/EntityTestMulChanged.php
  core/modules/system/tests/modules/entity_test/src/Entity/EntityTestMulLangcodeKey.php
  core/modules/system/tests/modules/entity_test/src/Entity/EntityTestMulRev.php
  core/modules/system/tests/modules/entity_test/src/Entity/EntityTestMulRevChanged.php
  core/modules/system/tests/modules/entity_test/src/Entity/EntityTestMulRevPub.php
  core/modules/system/tests/modules/entity_test/src/Entity/EntityTestNoId.php
  core/modules/system/tests/modules/entity_test/src/Entity/EntityTestRev.php
  core/modules/system/tests/modules/entity_test/src/Entity/EntityTestRevPub.php
  core/modules/system/tests/modules/entity_test/src/Entity/EntityTestStringId.php
  core/modules/system/tests/modules/entity_test/src/Entity/EntityTestUuidId.php
Due: none

Issue #3465827 by andypost, kim.pepper, arunkumark, catch, berdir, quietone: Stop passing E_USER_ERROR to trigger_error() on PHP 8.4
  core/lib/Drupal/Component/Diff/DiffFormatter.php
  core/lib/Drupal/Component/Utility/ToStringTrait.php
  core/modules/big_pipe/src/Render/BigPipe.php
  core/modules/big_pipe/tests/src/Functional/BigPipeTest.php
  core/tests/Drupal/Tests/Core/StringTranslation/TranslatableMarkupTest.php
Due: none

Issue #3465827 by andypost, kim.pepper, arunkumark, catch, berdir, quietone: Stop passing E_USER_ERROR to trigger_error() on PHP 8.4
  core/lib/Drupal/Component/Diff/Diff.php
  core/lib/Drupal/Component/Diff/DiffFormatter.php
  core/lib/Drupal/Component/Diff/Engine/DiffOp.php
  core/lib/Drupal/Component/Utility/ToStringTrait.php
  core/lib/Drupal/Core/Database/Query/Condition.php
  core/modules/big_pipe/src/Render/BigPipe.php
  core/modules/big_pipe/tests/src/Functional/BigPipeTest.php
  core/tests/Drupal/Tests/Core/StringTranslation/TranslatableMarkupTest.php
Due: none

Issue #3486972 by catch, longwave, larowlan: DefaultExceptionHtmlSubscriber should not clone the request for 400/BadRequestException
  core/lib/Drupal/Core/EventSubscriber/DefaultExceptionHtmlSubscriber.php
  core/modules/media/tests/src/FunctionalJavascript/MediaSourceOEmbedVideoTest.php
  core/tests/Drupal/KernelTests/Core/EventSubscriber/ExceptionLoggingSubscriberTest.php
Due: none

Issue #3484799 by vladimiraus: EntityAccessCheck documentation contains errors
  core/lib/Drupal/Core/Entity/EntityAccessCheck.php
  core/lib/Drupal/Core/Language/language.api.php
  core/modules/views_ui/src/ParamConverter/ViewUIConverter.php
  core/modules/workflows/src/WorkflowStateTransitionOperationsAccessCheck.php
Due: none

Issue #3484365 by nexusnovaz, joachim: docs for EntityTypeInterface::getBundleOf() should say entity type *id*
  core/lib/Drupal/Core/Entity/EntityTypeInterface.php
Due: none

Issue #3471494 by catch: follow-up commit to remove icon with special characters that are too special for windows filesystems.
  core/modules/system/tests/modules/icon_test/icons/name_special_chars/FoO !?1:èç 2 "#3 B*;**a,ù$R|~¹&{[].svg
  core/tests/Drupal/Tests/Core/Theme/Icon/IconFinderTest.php
Due: none

Issue #3278759 by mxr576, kristiaanvandeneynde, acbramley, danflanagan8, larowlan, bbrala: Access cacheability is not correct when "view own unpublished content" is in use
  core/modules/jsonapi/tests/src/Functional/NodeTest.php
  core/modules/node/src/NodeAccessControlHandler.php
  core/modules/node/src/NodeGrantDatabaseStorage.php
  core/modules/node/tests/node_access_test_auto_bubbling/node_access_test_auto_bubbling.routing.yml
  core/modules/node/tests/node_access_test_auto_bubbling/src/Controller/NodeAccessTestAutoBubblingController.php
  core/modules/node/tests/src/Functional/NodeAccessUnpublishedCacheabilityTest.php
  core/modules/system/tests/src/Functional/Menu/LinksetControllerTestBase.php
Due: üßπ JavaScript linting (eslint)
