Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üìã PHPUnit Unit (PHPStan rules), üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üì¶ Yarn install on minimum Node.js version

üìã PHPUnit Unit (PHPStan rules):
  stage: ‚ö°Ô∏è Tests
  needs: []
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - docker-php-ext-enable pcov
  - cd core/tests/PHPStan
  - composer install
  - vendor/bin/phpunit tests --testdox --coverage-text --colors=always --coverage-cobertura=coverage.cobertura.xml --log-junit junit.xml
  artifacts:
  ...

üßπ JavaScript linting (eslint):
  before_script:
  - cd core
  - corepack enable
  - yarn install
  - cd ..
  cache:
    key:
    - .yarn-install-from-cache
    - cache
    - key
    paths:
    - .yarn-install-from-cache
    - cache
    - paths
    policy: pull-push
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
    CACHE_FILE: core/.eslintcache
  ...

üßπ CSS linting (stylelint):
  before_script:
  - cd core
  - corepack enable
  - yarn install
  - cd ..
  cache:
    key:
      files:
      - ./core/package.json
      - ./core/yarn.lock
    paths:
    - ./core/.yarn/cache
    policy: pull
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
    CACHE_FILE: core/.stylelintcache
  script:
  ...

üì¶ Yarn install on minimum Node.js version:
  stage: ü™Ñ Lint
  image: node:20
  variables:
    KUBERNETES_CPU_REQUEST: '1'
  script:
  - cd core
  - corepack enable
  - echo -e "Node version $(node --version)\nYarn version $(corepack yarn --version)"
  - yarn install

task: #3594202 Deprecate the Telephone module
  core/modules/telephone/telephone.info.yml
  core/modules/telephone/tests/src/Functional/GenericTest.php
  core/modules/telephone/tests/src/Functional/TelephoneFieldTest.php
  core/modules/telephone/tests/src/Kernel/TelephoneItemTest.php
Due: üßπ JavaScript linting (eslint)

task: #3595084 Deprecate locale submit callbacks
  core/modules/locale/locale.module
  core/modules/locale/src/Hook/LocaleExtensionHooks.php
  core/modules/locale/src/Hook/LocaleFormHooks.php
  core/modules/locale/src/Hook/LocaleHooks.php
  core/modules/locale/tests/src/Kernel/LocaleConfigSubscriberTest.php
  core/modules/user/tests/src/Kernel/UserMailNotifyTest.php
Due: none

task: #3592037 Settings::get() should not trigger a deprecation for settings with no replacement when the setting is not configured
  core/lib/Drupal/Core/Site/Settings.php
  core/tests/Drupal/Tests/Core/Site/SettingsTest.php
Due: none

fix: #3072557 Plugin ID menu_link_content was not found in _menu_link_content_update_path_alias() when does not yet exist
  core/modules/menu_link_content/src/Hook/MenuLinkContentHooks.php
  core/modules/menu_link_content/tests/src/Kernel/PathAliasMenuLinkContentTest.php
Due: none

fix: #3072557 Plugin ID menu_link_content was not found in _menu_link_content_update_path_alias() when does not yet exist
  core/modules/menu_link_content/menu_link_content.module
  core/modules/menu_link_content/src/Hook/MenuLinkContentHooks.php
  core/modules/menu_link_content/tests/src/Kernel/PathAliasMenuLinkContentTest.php
Due: none

task: #3594207 PHPUnit 13.2 - The data provider key must not be an empty string
  core/tests/Drupal/Tests/Core/Extension/ExtensionVersionTest.php
Due: none

task: #3594389 Remove unecessary core dev version replacement in locale project info
  core/includes/install.core.inc
  core/modules/locale/src/LocaleProjectRepository.php
  core/modules/locale/tests/src/Functional/LocaleUpdateDevelopmentReleaseTest.php
Due: none

task: #3593098 Update CKEditor5 to 47.6.2
  core/assets/vendor/ckeditor5/ckeditor5-dll/ckeditor5-dll.js
  core/core.libraries.yml
  core/package.json
  core/yarn.lock
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üì¶ Yarn install on minimum Node.js version

task: #3585894 LLM harm reduction in Drupal core contribution, AGENTS.md guidelines
  core/AGENTS.md
  core/CLAUDE.md
Due: none

task: #3606709 Remove superflous property from update MailHandler
  core/modules/update/src/MailHandler.php
Due: none

fix: #3606969 Content translation column group settings only show up once there are base field overrides saved
  core/modules/content_translation/src/Hook/ContentTranslationFormLanguageHooks.php
  core/modules/content_translation/tests/src/Functional/ContentLanguageBaseFieldSyncWidgetTest.php
Due: none

build: #3600889 Remove some minor constraints from core-recommended
  composer/Generator/Builder/DrupalCoreRecommendedBuilder.php
  composer/Metapackage/CoreRecommended/composer.json
  core/tests/Drupal/Tests/Composer/Generator/BuilderTest.php
Due: none

task: #3600644 Pull up attributes from block plugins if the render array has no type or theme on the top level
  core/modules/block/src/BlockViewBuilder.php
  core/modules/block/tests/src/Kernel/BlockViewBuilderTest.php
Due: none

fix: #3387100 Missing config schema for core.base_field_override.*.*.* third_party_settings.content_translation
  core/modules/content_translation/config/schema/content_translation.schema.yml
  core/modules/content_translation/content_translation.post_update.php
  core/modules/content_translation/tests/src/Functional/ContentLanguageBaseFieldSyncWidgetTest.php
Due: üßπ JavaScript linting (eslint)

fix: #3591974 Update import paths for CKEditor 5 v48
  core/modules/ckeditor5/js/build/drupalEmphasis.js
  core/modules/ckeditor5/js/build/drupalHtmlEngine.js
  core/modules/ckeditor5/js/build/drupalImage.js
  core/modules/ckeditor5/js/build/drupalMedia.js
  core/modules/ckeditor5/js/ckeditor5_plugins/drupalEmphasis/src/drupalemphasis.js
  core/modules/ckeditor5/js/ckeditor5_plugins/drupalEmphasis/src/drupalemphasisediting.js
  core/modules/ckeditor5/js/ckeditor5_plugins/drupalEntityLinkSuggestions/src/linksuggestioncommand.js
  core/modules/ckeditor5/js/ckeditor5_plugins/drupalEntityLinkSuggestions/src/linksuggestionediting.js
  core/modules/ckeditor5/js/ckeditor5_plugins/drupalEntityLinkSuggestions/src/utils.js
  core/modules/ckeditor5/js/ckeditor5_plugins/drupalHtmlEngine/src/drupalhtmlengine.js
  core/modules/ckeditor5/js/ckeditor5_plugins/drupalImage/src/drupalimage.js
  core/modules/ckeditor5/js/ckeditor5_plugins/drupalImage/src/drupalimagealternativetext.js
  core/modules/ckeditor5/js/ckeditor5_plugins/drupalImage/src/imagealternativetext/ui/missingalternativetextview.js
  core/modules/ckeditor5/js/ckeditor5_plugins/drupalImage/src/imageupload/drupalfilerepository.js
  core/modules/ckeditor5/js/ckeditor5_plugins/drupalImage/src/imageupload/drupalimageupload.js
  core/modules/ckeditor5/js/ckeditor5_plugins/drupalImage/src/imageupload/drupalimageuploadediting.js
  core/modules/ckeditor5/js/ckeditor5_plugins/drupalImage/src/insertimage/drupalinsertimage.js
  core/modules/ckeditor5/js/ckeditor5_plugins/drupalMedia/src/drupalelementstyle.js
  core/modules/ckeditor5/js/ckeditor5_plugins/drupalMedia/src/drupalelementstyle/drupalelementstylecommand.js
  core/modules/ckeditor5/js/ckeditor5_plugins/drupalMedia/src/drupalelementstyle/drupalelementstyleediting.js
  core/modules/ckeditor5/js/ckeditor5_plugins/drupalMedia/src/drupallinkmedia/drupallinkmedia.js
  core/modules/ckeditor5/js/ckeditor5_plugins/drupalMedia/src/drupallinkmedia/drupallinkmediaediting.js
  core/modules/ckeditor5/js/ckeditor5_plugins/drupalMedia/src/drupalmedia.js
  core/modules/ckeditor5/js/ckeditor5_plugins/drupalMedia/src/drupalmediacaption.js
  core/modules/ckeditor5/js/ckeditor5_plugins/drupalMedia/src/drupalmediacaption/drupalmediacaptioncommand.js
  core/modules/ckeditor5/js/ckeditor5_plugins/drupalMedia/src/drupalmediacaption/drupalmediacaptionediting.js
  core/modules/ckeditor5/js/ckeditor5_plugins/drupalMedia/src/drupalmediaediting.js
  core/modules/ckeditor5/js/ckeditor5_plugins/drupalMedia/src/drupalmediametadatarepository.js
  core/modules/ckeditor5/js/ckeditor5_plugins/drupalMedia/src/drupalmediatoolbar.js
  core/modules/ckeditor5/js/ckeditor5_plugins/drupalMedia/src/drupalmediaui.js
  core/modules/ckeditor5/js/ckeditor5_plugins/drupalMedia/src/insertdrupalmedia.js
  core/modules/ckeditor5/js/ckeditor5_plugins/drupalMedia/src/mediaimagetextalternative.js
  core/modules/ckeditor5/js/ckeditor5_plugins/drupalMedia/src/mediaimagetextalternative/mediaimagetextalternativecommand.js
  core/modules/ckeditor5/js/ckeditor5_plugins/drupalMedia/src/mediaimagetextalternative/mediaimagetextalternativeediting.js
  core/modules/ckeditor5/js/ckeditor5_plugins/drupalMedia/src/ui/utils.js
  core/modules/ckeditor5/js/ckeditor5_plugins/drupalMedia/src/utils.js
Due: üßπ JavaScript linting (eslint)

task: #3606377 Update eslint and stylelint to latest minors
  core/package.json
  core/yarn.lock
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üì¶ Yarn install on minimum Node.js version

Back to dev.
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/DevDependencies/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: üìã PHPUnit Unit (PHPStan rules)

Drupal 11.4.0
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/DevDependencies/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: üìã PHPUnit Unit (PHPStan rules)

feat: #3584793 Use PHP attributes for form route discovery
  core/.deprecation-ignore.txt
  core/lib/Drupal/Core/Routing/AttributeRouteDiscovery.php
  core/modules/system/src/Form/SiteInformationForm.php
  core/modules/system/system.routing.yml
  core/modules/system/tests/modules/router_test_directory/src/Form/TestInvalidFormNamespaceController.php
  core/modules/system/tests/modules/router_test_directory/src/Form/TestRouteAttributeForm.php
  core/modules/system/tests/src/Functional/Routing/RouterTest.php
  core/tests/Drupal/Tests/Core/Routing/AttributeRouteDiscoveryTest.php
  core/tests/Drupal/Tests/Core/Routing/UnsupportedRouteAttributePropertiesTest.php
Due: üßπ JavaScript linting (eslint)

feat: #3584793 Use PHP attributes for form route discovery
  core/lib/Drupal/Core/Routing/AttributeRouteDiscovery.php
  core/modules/system/src/Form/SiteInformationForm.php
  core/modules/system/system.routing.yml
  core/modules/system/tests/modules/router_test_directory/src/Form/TestInvalidFormNamespaceController.php
  core/modules/system/tests/modules/router_test_directory/src/Form/TestRouteAttributeForm.php
  core/modules/system/tests/src/Functional/Routing/RouterTest.php
  core/tests/Drupal/Tests/Core/Routing/AttributeRouteDiscoveryTest.php
  core/tests/Drupal/Tests/Core/Routing/UnsupportedRouteAttributePropertiesTest.php
Due: üßπ JavaScript linting (eslint)

Path conditions:
  üìã PHPUnit Unit (PHPStan rules): any of: core/tests/PHPStan/**/*, composer/Metapackage/PinnedDevDependencies/composer.json
  üßπ JavaScript linting (eslint): any of: core/.eslint*, core/.prettier*, core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/.stylelintrc.json, core/.prettier*, core/package.json, core/yarn.lock, **/*.css
  üì¶ Yarn install on minimum Node.js version: any of: core/package.json, core/yarn.lock
