Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üìã PHPUnit Unit (PHPStan rules), üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üì¶ Yarn install on minimum Node.js version

üìã PHPUnit Unit (PHPStan rules):
  stage: ‚ö°Ô∏è Tests
  needs: []
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - docker-php-ext-enable pcov
  - cd core/tests/PHPStan
  - composer install
  - vendor/bin/phpunit tests --testdox --coverage-text --colors=always --coverage-cobertura=coverage.cobertura.xml --log-junit junit.xml
  artifacts:
  ...

üßπ JavaScript linting (eslint):
  before_script:
  - cd core
  - corepack enable
  - yarn install
  - cd ..
  cache:
    key:
    - .yarn-install-from-cache
    - cache
    - key
    paths:
    - .yarn-install-from-cache
    - cache
    - paths
    policy: pull-push
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
    CACHE_FILE: core/.eslintcache
  ...

üßπ CSS linting (stylelint):
  before_script:
  - cd core
  - corepack enable
  - yarn install
  - cd ..
  cache:
    key:
      files:
      - ./core/package.json
      - ./core/yarn.lock
    paths:
    - ./core/.yarn/cache
    policy: pull
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
    CACHE_FILE: core/.stylelintcache
  script:
  ...

üì¶ Yarn install on minimum Node.js version:
  stage: ü™Ñ Lint
  image: node:20
  variables:
    KUBERNETES_CPU_REQUEST: '1'
  script:
  - cd core
  - corepack enable
  - echo -e "Node version $(node --version)\nYarn version $(corepack yarn --version)"
  - yarn install

build: Branch alias of main should still be 12.x-dev.
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Plugin/ProjectMessage/composer.json
  composer/Plugin/RecipeUnpack/composer.json
  composer/Plugin/Scaffold/composer.json
  composer/Plugin/VendorHardening/composer.json
Due: üìã PHPUnit Unit (PHPStan rules)

task: #3621277 Update JavaScript dependencies for 12.0.0-beta1
  core/.stylelintrc.json
  core/assets/vendor/floating-ui/floating-ui.core.umd.min.js
  core/assets/vendor/floating-ui/floating-ui.dom.umd.min.js
  core/assets/vendor/sortable/Sortable.min.js
  core/assets/vendor/tabbable/index.umd.min.js
  core/assets/vendor/tabbable/index.umd.min.js.map
  core/assets/vendor/transliteration/bundle.umd.min.js
  core/assets/vendor/transliteration/bundle.umd.min.js.map
  core/assets/vendor/tua-body-scroll-lock/tua-bsl.umd.min.js
  core/core.libraries.yml
  core/eslint.config.mjs
  core/misc/machine-name.js
  core/modules/ckeditor5/js/build/drupalEmphasis.js
  core/modules/ckeditor5/js/build/drupalEntityLinkSuggestions.js
  core/modules/ckeditor5/js/build/drupalHtmlEngine.js
  core/modules/ckeditor5/js/build/drupalImage.js
  core/modules/ckeditor5/js/build/drupalMedia.js
  core/package.json
  core/yarn.lock
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üì¶ Yarn install on minimum Node.js version

fix: #3625547 CurrentPathStack keeps every Request it has seen, so long-running processes leak memory
  core/lib/Drupal/Core/Path/CurrentPathStack.php
  core/tests/Drupal/Tests/Core/Path/CurrentPathStackTest.php
Due: none

fix: #3625553 Use MAJOR.x-dev for generated dev-main aliases so release branches don't break BuilderTest
  composer/Composer.php
  composer/Generator/Builder/DrupalCoreRecommendedBuilder.php
  composer/Generator/Builder/DrupalDevDependenciesBuilder.php
Due: none

fix: #3625553 Use MAJOR.x-dev for generated dev-main aliases so release branches don't break BuilderTest
  composer/Composer.php
  composer/Generator/Builder/DrupalCoreRecommendedBuilder.php
  composer/Generator/Builder/DrupalDevDependenciesBuilder.php
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/DevDependencies/composer.json
Due: none

fix: #3625553 Use MAJOR.x-dev for generated dev-main aliases so release branches don't break BuilderTest
  composer/Composer.php
  composer/Generator/Builder/DrupalCoreRecommendedBuilder.php
  composer/Generator/Builder/DrupalDevDependenciesBuilder.php
  composer/Generator/Builder/DrupalPinnedDevDependenciesBuilder.php
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/DevDependencies/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  core/tests/Drupal/Tests/Composer/Generator/BuilderTest.php
Due: üìã PHPUnit Unit (PHPStan rules)

test: #3618586 default_admin loses the footer group on forms that set #tree, silently unpublishing entities on save
  core/themes/default_admin/tests/src/Functional/AdminNodeTest.php
Due: none

task: #3581349 Remove Syndicate block config
  core/modules/block/block.post_update.php
  core/modules/block/tests/fixtures/update/block.block.olivero_syndicate.yml
  core/modules/block/tests/fixtures/update/block.block.stark_custom_syndicate.yml
  core/modules/block/tests/fixtures/update/block.block.stark_syndicate.yml
  core/modules/block/tests/fixtures/update/syndicate-block-config.php
  core/modules/block/tests/src/Functional/Update/BlockRemoveSyndicateBlocksUpdateTest.php
Due: üßπ JavaScript linting (eslint)

task: #3620707 Skip the download caches job on weekly/daily pipelines
  .gitlab-ci.yml
Due: üßπ JavaScript linting (eslint)

fix: #3625969 Twig's 3.30 TypeError: Twig\Runtime\EscaperRuntime::escape(): Argument #4 ($autoescape) must be of type bool, null given
  core/lib/Drupal/Core/Template/TwigExtension.php
  core/lib/Drupal/Core/Template/TwigNodeVisitor.php
  core/tests/Drupal/Tests/Core/Template/TwigExtensionTest.php
Due: none

Drupal 11.4.8
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: üìã PHPUnit Unit (PHPStan rules)

Back to dev.
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: üìã PHPUnit Unit (PHPStan rules)

Drupal 10.6.18
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: üìã PHPUnit Unit (PHPStan rules)

task: #3624454 Reduce CPU request for linting jobs
  .gitlab-ci.yml
Due: üßπ JavaScript linting (eslint)

task: #3557481 Convert hook_schema() implementations to SchemaDefinition - regular modules
  core/.deprecation-ignore.txt
  core/lib/Drupal/Core/Database/SchemaDefinition/Column.php
  core/lib/Drupal/Core/Database/SchemaDefinition/Schema.php
  core/lib/Drupal/Core/Database/SchemaDefinition/Table.php
  core/lib/Drupal/Core/Database/database.api.php
  core/lib/Drupal/Core/Extension/ModuleInstaller.php
  core/modules/comment/comment.install
  core/modules/dblog/dblog.install
  core/modules/dblog/tests/src/Functional/UpdatePathTest.php
  core/modules/file/file.install
  core/modules/layout_builder/layout_builder.install
  core/modules/node/node.install
  core/modules/user/user.install
  core/modules/workspaces/workspaces.install
  core/tests/Drupal/TestTools/Extension/SchemaInspector.php
  core/tests/Drupal/Tests/Core/Database/SchemaDefinitionTest.php
Due: none

Drupal 11.3.18
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: üìã PHPUnit Unit (PHPStan rules)

task: #3465228 Twig disallows dashes in variable names, so SDC should disallow it in prop names and slots
  core/assets/schemas/v1/metadata-full.schema.json
  core/assets/schemas/v1/metadata.schema.json
  core/lib/Drupal/Core/Theme/Component/ComponentValidator.php
  core/tests/Drupal/Tests/Core/Theme/Component/ComponentValidatorTest.php
Due: none

task: #3507570 Allow recipe to add multiple buttons to CKEditor toolbar
  core/core.api.php
  core/modules/ckeditor5/src/Hook/Ckeditor5Hooks.php
  core/modules/ckeditor5/src/Plugin/ConfigAction/AddItemToToolbar.php
  core/modules/ckeditor5/tests/src/Kernel/ConfigAction/AddItemToToolbarConfigActionTest.php
Due: none

docs: #3623242 Drupal\Core\Config\StorageInterface::readMultiple() @return docs don't say what the array is keyed by
  core/lib/Drupal/Core/Config/StorageInterface.php
Due: none

Path conditions:
  üìã PHPUnit Unit (PHPStan rules): any of: core/tests/PHPStan/**/*, composer/Metapackage/PinnedDevDependencies/composer.json
  üßπ JavaScript linting (eslint): any of: core/.eslint*, core/.prettier*, core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/.stylelintrc.json, core/.prettier*, core/package.json, core/yarn.lock, **/*.css
  üì¶ Yarn install on minimum Node.js version: any of: core/package.json, core/yarn.lock
