Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), ‚úÖÔ∏è PHPStan rules tests, üìî Validatable config

üßπ JavaScript linting (eslint):
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - - mkdir /build;
    - cp -Ria $CI_PROJECT_DIR/* /build/
    - cd /build
  ...

üßπ CSS linting (stylelint):
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - - mkdir /build;
    - cp -Ria $CI_PROJECT_DIR/* /build/
    - cd /build
  ...

‚úÖÔ∏è PHPStan rules tests:
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - docker-php-ext-enable pcov
  - cd core/tests/PHPStan
  - composer install
  - vendor/bin/phpunit tests --testdox --coverage-text --colors=always --coverage-cobertura=coverage.cobertura.xml --log-junit junit.xml
  artifacts:
    when: always
  ...

üìî Validatable config:
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
    _TARGET_PHP: 8.3-ubuntu
  artifacts:
    expire_in: 1 week
    expose_as: validatable-config
    paths:
    - HEAD.json
    - MR.json
  allow_failure:
    exit_codes:
    - 100
    - 101
    - 1
  script:
  - git checkout -f $CI_MERGE_REQUEST_DIFF_BASE_SHA
  ...

Issue #3551446 by amateescu: Rename the workspace association service to workspace tracker
  core/.phpstan-baseline.php
  core/modules/content_moderation/content_moderation.services.yml
  core/modules/content_moderation/src/EventSubscriber/WorkspaceSubscriber.php
  core/modules/workspaces/src/Entity/Workspace.php
  core/modules/workspaces/src/EntityQuery/QueryTrait.php
  core/modules/workspaces/src/EntityQuery/Tables.php
  core/modules/workspaces/src/Form/WorkspaceDeleteForm.php
  core/modules/workspaces/src/Hook/EntityOperations.php
  core/modules/workspaces/src/Hook/ViewsOperations.php
  core/modules/workspaces/src/Hook/WorkspacesHooks.php
  core/modules/workspaces/src/Plugin/Validation/Constraint/EntityWorkspaceConflictConstraintValidator.php
  core/modules/workspaces/src/Provider/WorkspaceProviderBase.php
  core/modules/workspaces/src/WorkspaceAssociation.php
  core/modules/workspaces/src/WorkspaceInformation.php
  core/modules/workspaces/src/WorkspaceMerger.php
  core/modules/workspaces/src/WorkspaceOperationFactory.php
  core/modules/workspaces/src/WorkspacePublisher.php
  core/modules/workspaces/src/WorkspaceTracker.php
  core/modules/workspaces/src/WorkspaceTrackerInterface.php
  core/modules/workspaces/src/WorkspaceViewBuilder.php
  core/modules/workspaces/src/WorkspacesMenuTreeStorage.php
  core/modules/workspaces/tests/src/Functional/Update/WorkspaceAssociationRevisionTableUpdateTest.php
  core/modules/workspaces/tests/src/Kernel/WorkspaceCRUDTest.php
  core/modules/workspaces/tests/src/Kernel/WorkspaceEntityDeleteTest.php
  core/modules/workspaces/tests/src/Kernel/WorkspaceTestTrait.php
  core/modules/workspaces/tests/src/Kernel/WorkspaceTrackerTest.php
  core/modules/workspaces/workspaces.install
  core/modules/workspaces/workspaces.services.yml
Due: üßπ JavaScript linting (eslint)

Issue #3006750 by phenaproxima, heddn, quietone, neclimdul, andypost, mikelutz, catch, benjifisher, xurizaemon, jofitz, godotislate: Remove memory management from MigrateExecutable
  core/.phpstan-baseline.php
  core/modules/migrate/src/MigrateExecutable.php
  core/modules/migrate/tests/src/Unit/MigrateExecutableMemoryExceededTest.php
  core/modules/migrate/tests/src/Unit/TestMigrateExecutable.php
Due: none

Issue #3555375 by quietone, andypost, dcam: Change use of Contact in \Drupal\Tests\user\Functional\UserPermissionsTest::testAccessBundlePermission
  core/modules/user/tests/src/Functional/UserPermissionsTest.php
Due: none

Issue #3556717 by alexpott, dcam: Fix \Drupal\Tests\media\Kernel\MediaSourceTest on PHP 8.5
  core/modules/media/tests/src/Kernel/MediaSourceTest.php
Due: none

Issue #3556884 by alexpott, smustgrave: \Drupal\workspaces\WorkspaceRepository::loadTree() uses NULL as an array key
  core/modules/workspaces/src/WorkspaceRepository.php
Due: none

Issue #3556721 by alexpott, dcam: Fix \Drupal\KernelTests\Core\Installer\InstallerLanguageTest::testInstallerTranslationFiles on PHP 8.5
  core/tests/Drupal/KernelTests/Core/Installer/InstallerLanguageTest.php
Due: none

Issue #3555533 by longwave, godotislate: Since symfony/validator 7.4: Passing an array of options to configure the constraints is deprecated, use named arguments instead.
  core/.deprecation-ignore.txt
  core/lib/Drupal/Core/Validation/Plugin/Validation/Constraint/ValidSequenceKeysConstraint.php
Due: none

Issue #3553006 by thejimbirch, andypost, quietone, smustgrave: Remove Contact recipe
  core/recipes/feedback_contact_form/recipe.yml
  core/recipes/feedback_contact_form/tests/src/Functional/GenericTest.php
Due: üßπ JavaScript linting (eslint)

Issue #3539919 by nicxvan, berdir: Convert batch callbacks to CallableResolver
  core/includes/batch.inc
  core/includes/form.inc
  core/modules/system/tests/modules/batch_test/batch_test.services.yml
  core/modules/system/tests/modules/batch_test/src/BatchInjectionCallbacks.php
  core/modules/system/tests/modules/batch_test/src/BatchTestCallbacks.php
  core/modules/system/tests/modules/batch_test/src/Controller/BatchTestController.php
Due: üßπ JavaScript linting (eslint)

Issue #3505641 by berdir, smustgrave: Simplify ckeditor5_module_implements_alter() in favor of checking for ckeditor5 in media module
  core/modules/ckeditor5/src/Hook/Ckeditor5Hooks.php
  core/modules/media/src/Hook/MediaHooks.php
Due: none

Issue #3531600 by catch, berdir: Refactor _ckeditor5_get_langcode_mapping()
  core/modules/ckeditor5/ckeditor5.module
  core/modules/ckeditor5/ckeditor5.services.yml
  core/modules/ckeditor5/src/Hook/Ckeditor5Hooks.php
  core/modules/ckeditor5/src/LanguageMapper.php
  core/modules/ckeditor5/src/Plugin/Editor/CKEditor5.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryAuthenticatedPerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryFrontPagePerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryNodePagePerformanceTest.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #3556493 by longwave, alexpott, catch: Fix deprecation in ContentEntityStorageBase::__get()
  core/lib/Drupal/Core/Entity/ContentEntityStorageBase.php
Due: none

Issue #3557156 by phenaproxima: The ? optional syntax for config actions breaks recipe validation
  core/lib/Drupal/Core/Recipe/Recipe.php
  core/tests/Drupal/KernelTests/Core/Recipe/RecipeValidationTest.php
Due: none

SA-CORE-2025-005 by zhero, nils.destoop, dragos-dumi, svendecabooter, mcdruid, alexpott, catch, larowlan, cilefen, nils.destoop, longwave, xjm, poker10, jenlampton, ram4nd
  core/lib/Drupal/Core/Security/RequestSanitizer.php
  core/modules/mysql/tests/src/Functional/InstallerIsolationLevelExistingSettingsTest.php
  core/modules/system/tests/src/Functional/System/StatusTest.php
Due: none

SA-CORE-2025-008 by damienmckenna, tame4tex, benjifisher, mohit_aghera, larowlan, mingsong, xjm, neclimdul, catch, drumm, poker10
  core/modules/system/src/FileDownloadController.php
Due: none

SA-CORE-2025-007 by kevinquillen, larowlan, poker10, drumm, mingsong, xjm, mcdruid, benjifisher, ram4nd, drumm, greggles
  core/lib/Drupal/Core/EventSubscriber/RenderArrayNonHtmlSubscriber.php
  core/lib/Drupal/Core/Routing/RequestFormatRouteFilter.php
  core/modules/user/src/Controller/UserAuthenticationController.php
  core/tests/Drupal/KernelTests/Core/Routing/ExceptionHandlingTest.php
  core/tests/Drupal/Tests/Core/Routing/RequestFormatRouteFilterTest.php
Due: none

SA-CORE-2025-006 by anzuukino, mcdruid, larowlan, greggles, longwave, poker10, catch, xjm, drumm, akalata, ram4nd
  core/lib/Drupal/Core/Database/Transaction.php
Due: none

Drupal 11.1.9
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  core/lib/Drupal.php
Due: ‚úÖÔ∏è PHPStan rules tests

Back to dev.
  core/lib/Drupal.php
Due: none

SA-CORE-2025-005 by zhero, nils.destoop, dragos-dumi, svendecabooter, mcdruid, alexpott, catch, larowlan, cilefen, nils.destoop, longwave, xjm, poker10, jenlampton, ram4nd
  core/lib/Drupal/Core/Security/RequestSanitizer.php
Due: none

Issue #3557393 by longwave, alexpott, xjm, catch: Update Symfony to 7.3.7 / 6.4.29
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  core/lib/Drupal/Component/DependencyInjection/composer.json
  core/tests/Drupal/Tests/Core/DrupalKernel/ValidateHostnameTest.php
Due: ‚úÖÔ∏è PHPStan rules tests

Drupal 11.2.8
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  core/lib/Drupal.php
Due: ‚úÖÔ∏è PHPStan rules tests

Back to dev.
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
Due: none

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/.eslint*, core/.prettier*, core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/.stylelintrc.json, core/.prettier*, core/package.json, core/yarn.lock, **/*.css
  ‚úÖÔ∏è PHPStan rules tests: any of: core/tests/PHPStan/**/*, composer/Metapackage/PinnedDevDependencies/composer.json
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module
