Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/package.json, core/yarn.lock, **/*.css
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module

Issue #3238868 by ahsannazir, smustgrave: Refactor some uses of the jQuery parents function to use vanillaJS
  core/misc/ajax.js
  core/modules/editor/js/editor.js
  core/modules/settings_tray/js/settings_tray.js
Due: üßπ JavaScript linting (eslint)

Issue #3439831 by thebumik, pradhumanjain2311, vensires: Fix Config tests that rely on UID1's super user behavior
  core/modules/config/tests/src/Functional/ConfigExportImportUITest.php
  core/modules/config/tests/src/Functional/LanguageNegotiationFormOverrideTest.php
Due: none

Issue #3442361 by catch, smustgrave: Remove deprecated code from field_ui
  core/modules/field_ui/field_ui.module
  core/modules/field_ui/src/Form/FieldConfigDeleteForm.php
  core/modules/field_ui/src/Form/FieldConfigEditForm.php
  core/modules/field_ui/src/Form/FieldStorageAddForm.php
  core/modules/field_ui/src/Form/FieldStorageConfigEditForm.php
  core/modules/field_ui/tests/src/Functional/ManageFieldsTest.php
Due: üìî Validatable config

Issue #3442365 by catch, Sandeep Sanwale: Removed deprecated code in taxonomy module
  core/modules/taxonomy/src/Plugin/views/argument/IndexTidDepth.php
  core/modules/taxonomy/src/Plugin/views/argument/Taxonomy.php
  core/modules/taxonomy/tests/src/Kernel/Views/ViewsArgumentDeprecationTest.php
Due: none

Issue #3442693 by catch, smustgrave: Remove deprecated code from path_alias module
  core/modules/path_alias/src/AliasManager.php
Due: none

Issue #3442697 by smustgrave, catch: Remove deprecated code from update module
  core/modules/update/src/Controller/UpdateController.php
  core/modules/update/src/UpdateFetcher.php
  core/modules/update/src/UpdateProcessor.php
  core/modules/update/tests/src/Functional/UpdateManagerUpdateTest.php
  core/modules/update/update.routing.yml
Due: üßπ JavaScript linting (eslint)

Issue #3442660 by catch, smustgrave: Remove deprecated code from jsonapi and serialization modules
  core/modules/jsonapi/src/Controller/TemporaryJsonapiFileFieldUploader.php
  core/modules/jsonapi/src/IncludeResolver.php
  core/modules/jsonapi/src/Normalizer/ConfigEntityDenormalizer.php
  core/modules/jsonapi/src/Normalizer/ContentEntityDenormalizer.php
  core/modules/jsonapi/src/Normalizer/DataNormalizer.php
  core/modules/jsonapi/src/Normalizer/FieldItemNormalizer.php
  core/modules/jsonapi/src/Normalizer/FieldNormalizer.php
  core/modules/jsonapi/src/Normalizer/HttpExceptionNormalizer.php
  core/modules/jsonapi/src/Normalizer/JsonApiDocumentTopLevelNormalizer.php
  core/modules/jsonapi/src/Normalizer/LinkCollectionNormalizer.php
  core/modules/jsonapi/src/Normalizer/RelationshipNormalizer.php
  core/modules/jsonapi/src/Normalizer/ResourceIdentifierNormalizer.php
  core/modules/jsonapi/src/Normalizer/ResourceObjectNormalizer.php
  core/modules/jsonapi/src/ResourceType/ResourceTypeRepository.php
  core/modules/jsonapi/tests/modules/jsonapi_test_reference_types/jsonapi_test_reference_types.info.yml
  core/modules/jsonapi/tests/modules/jsonapi_test_reference_types/jsonapi_test_reference_types.module
  core/modules/jsonapi/tests/modules/jsonapi_test_reference_types/src/Plugin/Field/FieldType/DeprecatedReferenceItem.php
  core/modules/jsonapi/tests/src/Functional/NodeTest.php
  core/modules/jsonapi/tests/src/Kernel/ResourceType/RelatedResourceTypesTest.php
  core/modules/serialization/src/Normalizer/ComplexDataNormalizer.php
  core/modules/serialization/src/Normalizer/DateTimeNormalizer.php
  core/modules/serialization/src/Normalizer/MarkupNormalizer.php
  core/modules/serialization/src/Normalizer/NormalizerBase.php
  core/modules/serialization/src/Normalizer/PrimitiveDataNormalizer.php
  core/modules/serialization/src/Normalizer/TypedDataNormalizer.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #1561214 by mfb, sun, fietserwin, drzraf, sdrycroft, nicxvan: Bootstrap sets C locale, but does not set UTF-8 character encoding
  core/lib/Drupal/Core/DrupalKernel.php
  core/tests/Drupal/KernelTests/Core/DrupalKernel/DrupalKernelTest.php
  core/tests/bootstrap.php
Due: none

Issue #3437839 by catch, Luke.Leber, thejimbirch: Only send libraries with aggregate URLs that have the aggregate type included
  core/lib/Drupal/Core/Asset/AssetResolver.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/AssetAggregationAcrossPagesTest.php
Due: none

Issue #3439369 by fromme, quietone, pradhumanjain2311, smustgrave, alexpott: Remove deprecated code in migration system
  core/modules/migrate/src/Plugin/Migration.php
  core/modules/migrate/src/Plugin/MigrationInterface.php
  core/modules/migrate/src/Plugin/MigrationPluginManager.php
  core/modules/migrate/src/Plugin/migrate/id_map/Sql.php
  core/modules/migrate/tests/src/Kernel/Plugin/MigrationTest.php
  core/modules/migrate/tests/src/Kernel/Plugin/id_map/SqlDeprecationTest.php
  core/modules/migrate/tests/src/Unit/MigrateSqlIdMapTest.php
  core/modules/migrate/tests/src/Unit/MigrationPluginManagerTest.php
  core/modules/migrate/tests/src/Unit/MigrationTest.php
  core/modules/migrate/tests/src/Unit/TestSqlIdMap.php
  core/modules/migrate_drupal/src/Plugin/migrate/field/ReferenceBase.php
Due: none

Issue #3432868 by smustgrave, obsidian_, longwave, quietone, mstrelan, catch: Remove deprecated code from user module
  core/lib/Drupal/Core/Session/AccountInterface.php
  core/modules/user/src/Controller/UserController.php
  core/modules/user/src/Entity/User.php
  core/modules/user/src/EventSubscriber/UserRequestSubscriber.php
  core/modules/user/src/Form/UserLoginForm.php
  core/modules/user/src/Form/UserPasswordForm.php
  core/modules/user/src/PermissionHandler.php
  core/modules/user/src/Plugin/Block/UserLoginBlock.php
  core/modules/user/src/Plugin/views/filter/Roles.php
  core/modules/user/src/UserAuth.php
  core/modules/user/tests/src/Kernel/LegacyUserTest.php
  core/modules/user/user.module
  core/tests/Drupal/Tests/Core/Session/UserSessionTest.php
Due: üìî Validatable config

Issue #3432868 by smustgrave, obsidian_, longwave, quietone, mstrelan, catch: Update deprecations in user module
  core/modules/user/src/Form/UserPasswordForm.php
  core/modules/user/src/PermissionHandler.php
  core/modules/user/src/UserAuth.php
Due: none

Issue #3439871 by SolimanHarkas, vensires: Fix Help tests that rely on UID1's super user behavior
  core/modules/help/tests/src/Functional/HelpTest.php
  core/modules/help/tests/src/Functional/HelpTopicSearchTest.php
  core/modules/help/tests/src/Functional/HelpTopicsSyntaxTest.php
Due: none

Issue #3432882 by kim.pepper, Satane, andypost, alexpott, longwave: Remove deprecated code in File module
  core/.phpstan-baseline.php
  core/modules/ckeditor5/src/Controller/CKEditor5ImageController.php
  core/modules/file/file.api.php
  core/modules/file/file.module
  core/modules/file/src/Element/ManagedFile.php
  core/modules/file/src/Plugin/Field/FieldType/FileItem.php
  core/modules/file/src/Plugin/rest/resource/FileUploadResource.php
  core/modules/file/src/Upload/FileUploadHandler.php
  core/modules/file/src/Upload/FormUploadedFile.php
  core/modules/file/src/Upload/UploadedFileInterface.php
  core/modules/file/src/Validation/FileValidator.php
  core/modules/file/tests/src/Functional/SaveUploadFormTest.php
  core/modules/file/tests/src/Kernel/FileSaveUploadTest.php
  core/modules/file/tests/src/Kernel/FileUploadHandlerTest.php
  core/modules/file/tests/src/Kernel/LegacyFileModuleTest.php
  core/modules/file/tests/src/Kernel/LegacyFileThemeTest.php
  core/modules/file/tests/src/Kernel/LegacyValidateTest.php
  core/modules/file/tests/src/Kernel/LegacyValidatorTest.php
  core/modules/file/tests/src/Kernel/Upload/LegacyFileUploadHandlerTest.php
  core/modules/file/tests/src/Kernel/Validation/FileValidatorTest.php
Due: üìî Validatable config

Issue #3442532 by smustgrave, andypost, pradhumanjain2311, quietone: Removed deprecated code in views module
  core/modules/views/js/ajax_view.js
  core/modules/views/src/Ajax/ScrollTopCommand.php
  core/modules/views/src/Entity/Render/EntityTranslationRenderTrait.php
  core/modules/views/src/Entity/View.php
  core/modules/views/src/Plugin/views/argument/Date.php
  core/modules/views/src/Plugin/views/cache/Time.php
  core/modules/views/src/Plugin/views/field/BulkForm.php
  core/modules/views/src/Plugin/views/field/Date.php
  core/modules/views/src/Plugin/views/field/EntityField.php
  core/modules/views/src/Plugin/views/field/Links.php
  core/modules/views/src/ViewsData.php
  core/modules/views/tests/src/Kernel/Entity/ViewValidationTest.php
  core/modules/views_ui/tests/src/Kernel/TruncateDeprecateTest.php
  core/modules/views_ui/views_ui.module
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #3416700 by catch, penyaskito, lamp5: Handle invalid compressed ajax_page_state more gracefully
  core/lib/Drupal/Component/Utility/UrlHelper.php
  core/modules/system/src/Controller/AssetControllerBase.php
  core/tests/Drupal/Tests/Component/Utility/UrlHelperTest.php
Due: none

Issue #3442763 by smustgrave: Remove deprecated code in RandomGeneratorTrait.php
  core/tests/Drupal/Tests/RandomGeneratorTrait.php
Due: none

Issue #3414398 by catch, Berdir: AssetResolver::getJsAssets() and AssetResolver::getCssAssets() can repeatedly try to calculate the same set of assets
  core/lib/Drupal/Core/Asset/AssetResolver.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryAuthenticatedPerformanceTest.php
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTest.php
Due: none

Issue #3439981 by fago, ericgsmith, petar_basic, acbramley: Uploading a file to media library flushes theme registry
  core/modules/image/src/Entity/ImageStyle.php
  core/modules/image/tests/src/Unit/ImageStyleTest.php
Due: none

Issue #3442864 by dww, catch: [regression] 404 for misc/throbber-active.gif / misc/loading-small.giff
  core/misc/components/ajax-progress.module.css
  core/misc/components/autocomplete-loading.module.css
  core/misc/components/tabledrag.module.css
  core/misc/components/tree-child.module.css
Due: üßπ CSS linting (stylelint)

Issue #3423920 by DanielVeza, smustgrave, acbramley, bradallenfisher, larowlan, alexpott: Custom Blocks with Layout Builder Enabled No Longer Use Front End Theme
  core/modules/layout_builder/src/Plugin/SectionStorage/OverridesSectionStorage.php
  core/modules/layout_builder/tests/src/Functional/LayoutBuilderOverridesEditingThemeTest.php
  core/modules/layout_builder/tests/src/Unit/OverridesSectionStorageTest.php
Due: none

Issue #3443049 by nicxvan, Arun.k: Remove deprecations in SiteConfigureForm
  core/lib/Drupal/Core/Installer/Form/SiteConfigureForm.php
Due: none

Revert "Issue #3443049 by nicxvan, Arun.k: Remove deprecations in SiteConfigureForm"
  core/lib/Drupal/Core/Installer/Form/SiteConfigureForm.php
Due: none

Issue #3443199 by smustgrave, andypost: Remove deprecated code from content translations + locale
  core/modules/content_translation/src/ContentTranslationHandler.php
  core/modules/content_translation/src/Controller/ContentTranslationController.php
  core/modules/locale/src/Form/TranslationStatusForm.php
Due: none

Issue #3443202 by andypost, smustgrave: Remove deprecated code from help + history modules
  core/modules/help/src/Controller/HelpController.php
  core/modules/help/src/Plugin/HelpSection/HookHelpSection.php
  core/modules/help/tests/fixtures/update/search.page.help_search.yml
  core/modules/help_topics/help_topics.info.yml
  core/modules/history/src/Plugin/views/filter/HistoryUserTimestamp.php
Due: üßπ JavaScript linting (eslint)

Issue #3443248 by alexpott: Can't log out on translated site in tests - causes issues for 10.3 umami test
  core/tests/Drupal/Tests/UiHelperTrait.php
Due: none

Issue #3443200 by smustgrave: Remove deprecated code from field + datetime modules
  core/modules/datetime/src/Plugin/views/argument/Date.php
  core/modules/field/tests/src/Traits/EntityReferenceTestTrait.php
Due: none

Issue #3443201 by smustgrave: Remove deprecated code from media module
  core/modules/media/src/Plugin/media/Source/OEmbed.php
Due: none
