Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), ‚úÖÔ∏è PHPStan rules tests, üìî Validatable config

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/.eslint*, core/.prettier*, core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/.stylelintrc.json, core/.prettier*, core/package.json, core/yarn.lock, **/*.css
  ‚úÖÔ∏è PHPStan rules tests: any of: core/tests/PHPStan/**/*, composer/Metapackage/PinnedDevDependencies/composer.json
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module

Issue #3538854 by dww, driskell, andypost, godotislate: APCu requirement for 32MB always displays since APCu 5.1.25
  core/modules/system/system.install
  core/modules/system/tests/src/Functional/System/StatusTest.php
Due: none

Issue #3539530 by neerajsingh, joachim, nicxvan: VersionHistoryController should document its soft expectations
  core/lib/Drupal/Core/Entity/Controller/VersionHistoryController.php
Due: none

Issue #3453692 by nhojivar7, agunjan085, joachim, isa.bel, xdequinze: hook_entity_reference_selection_alter() is undocumented
  core/lib/Drupal/Core/Entity/entity.api.php
Due: none

Issue #3541487 by alexpott: Fix EntityQueryTest on SQLite and Postgres
  core/tests/Drupal/KernelTests/Core/Entity/EntityQueryTest.php
Due: none

Issue #3540886 by immaculatexavier, nod_, gábor hojtsy: Update to jQuery 4 RC1
  core/assets/vendor/jquery/jquery.js
  core/assets/vendor/jquery/jquery.min.js
  core/assets/vendor/jquery/jquery.min.map
  core/core.libraries.yml
  core/package.json
  core/yarn.lock
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint)

Issue #3154069 by andregp, acbramley, jibran, xjm, dpi: Remove NodeController::revisionPageTitle and associated _title_callback
  core/modules/node/node.routing.yml
  core/modules/node/src/Controller/NodeController.php
Due: üßπ JavaScript linting (eslint)

Issue #3541939 by mstrelan: Add return types to WorkspaceTestTrait
  core/.phpstan-baseline.php
  core/modules/workspaces/tests/src/Kernel/WorkspaceTestTrait.php
Due: none

Issue #3524362 by quietone, catch: Remove history from help module
  core/modules/help/help_topics/core.tracking_content.html.twig
  core/modules/help/tests/src/Functional/HelpTest.php
  core/modules/history/help_topics/history.tracking_user_content.html.twig
Due: none

Issue #3541927 by mstrelan, acbramley: Add return types to ContentModerationTestTrait
  core/.phpstan-baseline.php
  core/modules/content_moderation/tests/src/Traits/ContentModerationTestTrait.php
Due: none

Issue #3458589 by acbramley, ankitv18, quietone, berdir, catch, deepakkm, longwave: Deprecate $variables['page'] for node.html.twig and node_is_page()
  core/modules/comment/comment.routing.yml
  core/modules/comment/src/Controller/CommentController.php
  core/modules/node/node.module
  core/modules/node/src/Hook/NodeThemeHooks.php
  core/modules/node/templates/node.html.twig
  core/modules/node/tests/src/Functional/NodePageVariableDeprecationTest.php
  core/modules/node/tests/src/Functional/NodeTitleTest.php
  core/modules/system/tests/themes/test_theme/templates/node--test-page-variable.html.twig
  core/profiles/demo_umami/themes/umami/templates/content/node--article--full.html.twig
  core/profiles/demo_umami/themes/umami/templates/content/node--card-common-alt.html.twig
  core/profiles/demo_umami/themes/umami/templates/content/node--card-common.html.twig
  core/profiles/demo_umami/themes/umami/templates/content/node--card.html.twig
  core/profiles/demo_umami/themes/umami/templates/content/node.html.twig
  core/themes/claro/templates/classy/content/node.html.twig
  core/themes/olivero/templates/content/node--teaser.html.twig
  core/themes/olivero/templates/content/node.html.twig
  core/themes/stable9/templates/content/node.html.twig
  core/themes/starterkit_theme/templates/content/node.html.twig
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #3539366 by dimitriskr, andypost, godotislate: Default DB transaction isolation set to read-committed breaks InstallerIsolationLevelExistingSettingsTest test
  core/modules/mysql/tests/src/Functional/InstallerIsolationLevelExistingSettingsTest.php
Due: none

Issue #3351597 by acbramley, smustgrave, catch: [random test failure] Drupal\Tests\ckeditor5\FunctionalJavascript\MediaLibraryTest
  core/modules/ckeditor5/tests/src/FunctionalJavascript/MediaLibraryTest.php
Due: none

Issue #3530456 by nexusnovaz, karimb, nicxvan, aubjr_drupal, longwave: Indicate that hook_post_update_NAME() hooks do not run at installation time
  core/lib/Drupal/Core/Extension/module.api.php
Due: none

Issue #3539366 by dimitriskr, andypost, godotislate, catch: [10.6] Default DB transaction isolation set to read-committed breaks InstallerIsolationLevelExistingSettingsTest test
  core/modules/mysql/tests/src/Functional/InstallerIsolationLevelExistingSettingsTest.php
Due: none

Issue #3533083 by acbramley, nicxvan, smustgrave, berdir: Move node_mass_update_* functions to service and fix invalid hook invocation in NodeHooks
  core/modules/node/node.admin.inc
  core/modules/node/node.services.yml
  core/modules/node/src/Hook/NodeHooks.php
  core/modules/node/src/Hook/NodeHooks1.php
  core/modules/node/src/NodeBulkUpdate.php
  core/modules/user/tests/src/Functional/UserCancelTest.php
  core/modules/user/user.api.php
Due: üßπ JavaScript linting (eslint)

Issue #3532792 by nicrodgers, greg.harvey: avif error - Could not encode image: No codec available
  core/modules/system/src/Plugin/ImageToolkit/GDToolkit.php
Due: none

Issue #3533322 by berdir, smustgrave, nicxvan: Do not fetch default image toolkit ID in ImageFactory::__construct()
  core/lib/Drupal/Core/Image/ImageFactory.php
  core/modules/navigation/tests/src/FunctionalJavascript/PerformanceTest.php
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTest.php
Due: none

Issue #3511357 by acbramley, mstrelan, smustgrave, nicxvan, catch, longwave, berdir: Clean up hook implementations in Node module
  core/modules/node/src/Hook/NodeBlockHooks.php
  core/modules/node/src/Hook/NodeConfigTranslationHooks.php
  core/modules/node/src/Hook/NodeDatabaseHooks.php
  core/modules/node/src/Hook/NodeEntityHooks.php
  core/modules/node/src/Hook/NodeHelpHooks.php
  core/modules/node/src/Hook/NodeHooks1.php
  core/modules/node/src/Hook/NodeMenuHooks.php
  core/modules/node/src/Hook/NodeModuleHooks.php
  core/modules/node/src/Hook/NodeSearchHooks.php
  core/modules/node/src/Hook/NodeThemeHooks.php
  core/modules/node/src/Hook/NodeTokensHooks.php
  core/modules/node/src/Hook/NodeUserHooks.php
  core/modules/node/src/Hook/NodeViewsExecutionHooks.php
  core/modules/node/src/Hook/NodeViewsHooks.php
  core/modules/node/tests/src/Functional/NodeRevisionsUiTest.php
Due: none

Issue #3535439 by acbramley, berdir, catch: Deprecate $variables['page'] in taxonomy term templates
  core/modules/system/tests/themes/test_theme/templates/taxonomy-term--test-page-variable.html.twig
  core/modules/taxonomy/src/Hook/TaxonomyHooks.php
  core/modules/taxonomy/src/Hook/TaxonomyThemeHooks.php
  core/modules/taxonomy/taxonomy.module
  core/modules/taxonomy/templates/taxonomy-term.html.twig
  core/modules/taxonomy/tests/modules/taxonomy_test_views/config/install/core.entity_view_mode.taxonomy_term.test.yml
  core/modules/taxonomy/tests/modules/taxonomy_test_views/test_views/views.view.taxonomy_translated_term_name_test.yml
  core/modules/taxonomy/tests/src/Functional/TaxonomyTermPageVariableDeprecationTest.php
  core/profiles/demo_umami/themes/umami/templates/classy/content/taxonomy-term.html.twig
  core/themes/claro/templates/classy/content/taxonomy-term.html.twig
  core/themes/stable9/templates/content/taxonomy-term.html.twig
  core/themes/starterkit_theme/templates/content/taxonomy-term.html.twig
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #3542847 by mstrelan, smustgrave: Move comment/history/views integration to history module
  core/.phpstan-baseline.php
  core/modules/comment/src/Hook/CommentViewsHooks.php
  core/modules/comment/src/Plugin/views/field/NodeNewComments.php
  core/modules/comment/tests/src/Functional/Views/NodeCommentsTest.php
  core/modules/history/src/Hook/HistoryViewsHooks.php
  core/modules/history/src/Plugin/views/field/NodeNewComments.php
  core/modules/history/tests/modules/history_test_views/history_test_views.info.yml
  core/modules/history/tests/modules/history_test_views/test_views/views.view.test_new_comments.yml
  core/modules/history/tests/src/Functional/CommentsHistoryTest.php
Due: üßπ JavaScript linting (eslint)

Issue #3541427 by mondrake, andypost: Bump PHPUnit to ^11.5.34 with all dependencies for testing with PHP 8.5
  .gitlab-ci.yml
  composer.json
  composer.lock
  composer/Metapackage/DevDependencies/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  core/modules/jsonapi/tests/src/Kernel/Normalizer/JsonApiTopLevelResourceNormalizerTest.php
  core/modules/pgsql/tests/src/Kernel/pgsql/NonPublicSchemaTest.php
  core/tests/Drupal/KernelTests/KernelTestBase.php
Due: üßπ JavaScript linting (eslint), ‚úÖÔ∏è PHPStan rules tests

Issue #2728419 by berdir, hawkeye.twolf, catch, neclimdul: Deprecate node/comment views-based theme suggestions and variables
  core/modules/views/src/Hook/ViewsHooks.php
  core/modules/views/src/Hook/ViewsThemeHooks.php
Due: none

Issue #3540554 by tstoeckler: Functional tests attempting to release locks for a no-longer existing site throws an exception
  core/lib/Drupal/Core/Lock/DatabaseLockBackend.php
  core/tests/Drupal/KernelTests/Core/Lock/LockTest.php
Due: none
