Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

üßπ JavaScript linting (eslint):
  needs:
  - üì¶Ô∏è Yarn
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - cd core
  - corepack enable
  - yarn run check:ckeditor5
  - yarn run lint:core-js-passing --format gitlab
  artifacts:
    reports:
      codequality: eslint-quality-report.json

üßπ CSS linting (stylelint):
  needs:
  - üì¶Ô∏è Yarn
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - corepack enable
  - cd core
  - yarn run build:css --check
  - yarn run lint:css --color --custom-formatter=node_modules/stylelint-formatter-gitlab
  artifacts:
    reports:
      codequality: stylelint-quality-report.json

üìî Validatable config:
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  artifacts:
    expire_in: 1 week
    expose_as: validatable-config
    paths:
    - HEAD.json
    - MR.json
  allow_failure:
    exit_codes:
    - 100
    - 101
    - 1
  script:
  - git checkout -f $CI_MERGE_REQUEST_DIFF_BASE_SHA
  ...

Issue #2797421 by dcam, mikeryan, chx, id.conky, mkalkbrenner, mikelutz: Sourceless migration plugins are broken
  core/modules/migrate/src/Plugin/NoSourcePluginDecorator.php
  core/modules/migrate/tests/src/Unit/Plugin/NoSourcePluginDecoratorTest.php
Due: none

Issue #3227598 by nikolay shapovalov, longwave, quietone, smustgrave, larowlan: Remove remaining uses of FormattableMarkup in kernel test assertions
  core/modules/dblog/tests/src/Kernel/Views/ViewsIntegrationTest.php
  core/modules/field/tests/src/Kernel/DisplayApiTest.php
  core/modules/field/tests/src/Kernel/EntityReference/EntityReferenceItemTest.php
  core/modules/field/tests/src/Kernel/FieldKernelTestBase.php
  core/modules/field/tests/src/Kernel/Timestamp/TimestampFormatterTest.php
  core/modules/migrate/tests/src/Kernel/MigrateEntityContentValidationTest.php
  core/modules/system/tests/src/Kernel/Common/FormElementsRenderTest.php
  core/modules/taxonomy/tests/src/Kernel/TermValidationTest.php
  core/modules/user/tests/src/Kernel/Condition/UserRoleConditionTest.php
  core/modules/views/tests/src/Kernel/ModuleTest.php
  core/tests/Drupal/KernelTests/AssertContentTrait.php
  core/tests/Drupal/KernelTests/Core/Config/ConfigImportRenameValidationTest.php
  core/tests/Drupal/KernelTests/Core/Config/ConfigImporterMissingContentTest.php
  core/tests/Drupal/KernelTests/Core/Config/ConfigImporterTest.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityAccessControlHandlerTest.php
  core/tests/Drupal/KernelTests/Core/Entity/FieldWidgetConstraintValidatorTest.php
  core/tests/Drupal/KernelTests/Core/Plugin/Condition/CurrentThemeConditionTest.php
  core/tests/Drupal/KernelTests/Core/Validation/UniqueFieldConstraintTest.php
Due: none

Revert "Issue #3514748 by catch: Remove legacy browser support from js.module.css"
  core/modules/system/css/components/js.module.css
Due: üßπ CSS linting (stylelint)

Issue #3493872 by heilop, kwolford121, joachim, dalin: Standardize property name of HTTP Kernel in Middleware classes
  core/lib/Drupal/Core/StackMiddleware/NegotiationMiddleware.php
  core/lib/Drupal/Core/StackMiddleware/StackedHttpKernel.php
  core/modules/system/tests/modules/accept_header_routing_test/src/AcceptHeaderMiddleware.php
  core/modules/system/tests/modules/http_kernel_test/src/HttpKernel/TestMiddleware.php
  core/tests/Drupal/Tests/Core/StackMiddleware/ContentLengthTest.php
  core/tests/Drupal/Tests/Core/StackMiddleware/NegotiationMiddlewareTest.php
Due: none

Issue #3508822 by penyaskito: Property constraints validation adding errors to the field element instead of just the property
  core/modules/image/src/Plugin/Field/FieldWidget/ImageWidget.php
  core/modules/image/tests/fixtures/example_1.jpeg
  core/modules/image/tests/modules/image_field_property_constraint_validation/image_field_property_constraint_validation.info.yml
  core/modules/image/tests/modules/image_field_property_constraint_validation/src/Hook/ImagePropertyConstraintValidationHooks.php
  core/modules/image/tests/modules/image_field_property_constraint_validation/src/Plugin/Validation/Constraint/AltTextContainsLlamasConstraint.php
  core/modules/image/tests/modules/image_field_property_constraint_validation/src/Plugin/Validation/Constraint/AltTextContainsLlamasConstraintValidator.php
  core/modules/image/tests/src/Functional/ImageFieldWidgetValidationTest.php
Due: üßπ JavaScript linting (eslint)

Issue #3517217 by maxwhitehead, fjgarlin: CI: Using stale drupalci chromedriver image (`chromedriver` is stale, `webdriver-chromedriver` gets updates)
  .gitlab-ci/pipeline.yml
Due: üßπ JavaScript linting (eslint)

Issue #3461720 by bbrala, kunal.sachdev, longwave, penyaskito: Create AtLeastOneOf constraint
  core/lib/Drupal/Core/Validation/ExecutionContext.php
  core/lib/Drupal/Core/Validation/Plugin/Validation/Constraint/AtLeastOneOfConstraint.php
  core/lib/Drupal/Core/Validation/Plugin/Validation/Constraint/AtLeastOneOfConstraintValidator.php
  core/tests/Drupal/KernelTests/Core/Validation/AtLeastOneOfConstraintValidatorTest.php
Due: none

Issue #3376941 by acbramley, kingdutch: Replace usage of generateString with generate in NodeRSSContentTest
  core/modules/node/tests/src/Functional/NodeRSSContentTest.php
Due: none

Issue #3519621 by mstrelan: [random test failure] MediaSourceOEmbedVideoTest::testMediaOEmbedVideoSource#
  core/modules/media/tests/src/FunctionalJavascript/MediaSourceOEmbedVideoTest.php
Due: none

Issue #3517614 by alexpott, longwave, cmlara, catch, quietone, mstrelan: Possible Non GPLv2 compatible code in ExpectDeprecationTrait
  core/tests/Drupal/TestTools/Extension/DeprecationBridge/ExpectDeprecationTrait.php
Due: none

Issue #3468180 by john.oltman, sonfd, acbramley, smustgrave, tobiasb, nicxvan, catch, larowlan: Undefined array key "view_mode" in block_content_theme_suggestions_block_alter
  core/modules/block_content/src/Hook/BlockContentHooks.php
  core/modules/block_content/tests/modules/block_content_theme_suggestions_test/block_content_theme_suggestions_test.info.yml
  core/modules/block_content/tests/modules/block_content_theme_suggestions_test/block_content_theme_suggestions_test.module
  core/modules/block_content/tests/modules/block_content_theme_suggestions_test/src/Hook/BlockContentThemeSuggestionsTestHooks.php
  core/modules/block_content/tests/modules/block_content_theme_suggestions_test/templates/block--block-content--view-type--basic--full.html.twig
  core/modules/block_content/tests/src/Functional/BlockContentThemeSuggestionsTest.php
  core/modules/block_content/tests/src/Kernel/BlockTemplateSuggestionsTest.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #3441434 by kunal.sachdev, narendrar, omkar.podey, bbrala, wim leers, catch, smustgrave, yash.rode, alexpott: Add validation constraints to core.menu.schema.yml
  core/config/schema/core.menu.schema.yml
  core/lib/Drupal/Core/Validation/ConstraintManager.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #3230442 by ultimike, lendude, _utsavsharma, heni_deepak: Views interface - change "Show: Content" to "Show: Content view mode"
  core/modules/views/src/Plugin/Derivative/ViewsEntityRow.php
  core/modules/views/src/Plugin/views/display/DisplayPluginBase.php
  core/modules/views/src/Plugin/views/wizard/WizardPluginBase.php
  core/modules/views/src/Views.php
Due: none

Issue #3227637 by larowlan, acbramley, daffie, amber himes matz, yogeshmpawar, fubarhouse, chetanbharambe, jibran, catch, kristen pol, alexpott: NodeController::revisionOverview is uncacheable
  core/modules/node/src/Controller/NodeController.php
  core/modules/node/tests/src/Functional/NodeRevisionsUiTest.php
Due: none

Issue #3509310 by plopesc, rinku jacob 13, m4olivei, ckrina: The AdminToolbar(Navigation) items are not clickable when we're on the navigation layout page
  core/modules/layout_builder/tests/src/FunctionalJavascript/InlineBlockTest.php
  core/modules/navigation/src/Form/LayoutForm.php
  core/modules/navigation/src/Hook/NavigationHooks.php
  core/modules/navigation/tests/src/Functional/NavigationSafeBlockDefinitionTest.php
  core/modules/navigation/tests/src/FunctionalJavascript/NavigationBlockUiTest.php
Due: none

Issue #3147148 by DarKFlameS, amateescu, mandclu, smustgrave: Media library form can only be submitted in the default workspace
  core/modules/media_library/src/Form/AddFormBase.php
  core/modules/media_library/src/Plugin/views/field/MediaLibrarySelectForm.php
  core/modules/workspaces/tests/src/FunctionalJavascript/WorkspacesMediaLibraryIntegrationTest.php
Due: none

Issue #3217783 by prudloff, bircher, jsst, nigelcunningham, alexpott, longwave: Configuration management performance regression - slow config:import
  core/lib/Drupal/Core/Config/ExportStorageManager.php
  core/lib/Drupal/Core/Config/ImportStorageTransformer.php
Due: none

Issue #3515777 by ivavictoria, plopesc: Reorganize Navigation menu items and make them consistent with other similar pages in core
  core/modules/navigation/navigation.links.menu.yml
  core/modules/navigation/navigation.routing.yml
Due: üßπ JavaScript linting (eslint)

Issue #3516558 by plopesc, m4olivei, cb_govcms, tarawij: Settings is not a valid render array in navigation module
  core/modules/navigation/layouts/navigation.html.twig
  core/modules/navigation/src/NavigationRenderer.php
Due: none

Issue #3504368 by godotislate, dpagini, smustgrave: Removing field from LB content type edits associated roles
  core/lib/Drupal/Core/Config/ConfigManager.php
  core/modules/config/tests/config_test/config_test.permissions.yml
  core/modules/config/tests/config_test/src/ConfigTestPermissions.php
  core/tests/Drupal/KernelTests/Core/Config/ConfigDependencyTest.php
Due: üßπ JavaScript linting (eslint)

Issue #3516253 by lostcarpark, mradcliffe, rachel_norfolk, chrisdarke, volkswagenchick: Add lostcarpark as Mentoring Coordinator to MAINTAINERS.txt
  core/MAINTAINERS.txt
Due: none

Issue #3498468 by nexusnovaz, avpaderno, wombatbuddy, poker10: The example code given for FormattableMarkup::placeholderFormat() contains typos and syntax errors
  core/lib/Drupal/Component/Render/FormattableMarkup.php
Due: none

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/package.json, core/yarn.lock, **/*.css
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module
