Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

üßπ JavaScript linting (eslint):
  needs:
  - üì¶Ô∏è Yarn
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - cd core
  - corepack enable
  - yarn run check:ckeditor5
  - yarn run lint:core-js-passing --format gitlab
  artifacts:
    reports:
      codequality: eslint-quality-report.json

üßπ CSS linting (stylelint):
  needs:
  - üì¶Ô∏è Yarn
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - corepack enable
  - cd core
  - yarn run build:css --check
  - yarn run lint:css --color --custom-formatter=node_modules/stylelint-formatter-gitlab
  artifacts:
    reports:
      codequality: stylelint-quality-report.json

üìî Validatable config:
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  artifacts:
    expire_in: 1 week
    expose_as: validatable-config
    paths:
    - HEAD.json
    - MR.json
  allow_failure:
    exit_codes:
    - 100
    - 101
    - 1
  script:
  - git checkout -f $CI_MERGE_REQUEST_DIFF_BASE_SHA
  ...

Issue #3501186 by znerol, smustgrave: Change $previous argument for any Exception to \Throwable
  core/lib/Drupal/Component/Plugin/Exception/InvalidPluginDefinitionException.php
  core/lib/Drupal/Component/Plugin/Exception/PluginNotFoundException.php
  core/lib/Drupal/Core/Database/RowCountException.php
  core/lib/Drupal/Core/Form/EnforcedResponseException.php
  core/lib/Drupal/Core/Form/Exception/BrokenPostRequestException.php
  core/lib/Drupal/Core/Form/FormAjaxException.php
  core/lib/Drupal/Core/Http/Exception/CacheableAccessDeniedHttpException.php
  core/lib/Drupal/Core/Http/Exception/CacheableBadRequestHttpException.php
  core/lib/Drupal/Core/Http/Exception/CacheableConflictHttpException.php
  core/lib/Drupal/Core/Http/Exception/CacheableGoneHttpException.php
  core/lib/Drupal/Core/Http/Exception/CacheableHttpException.php
  core/lib/Drupal/Core/Http/Exception/CacheableLengthRequiredHttpException.php
  core/lib/Drupal/Core/Http/Exception/CacheableMethodNotAllowedHttpException.php
  core/lib/Drupal/Core/Http/Exception/CacheableNotAcceptableHttpException.php
  core/lib/Drupal/Core/Http/Exception/CacheableNotFoundHttpException.php
  core/lib/Drupal/Core/Http/Exception/CacheablePreconditionFailedHttpException.php
  core/lib/Drupal/Core/Http/Exception/CacheablePreconditionRequiredHttpException.php
  core/lib/Drupal/Core/Http/Exception/CacheableServiceUnavailableHttpException.php
  core/lib/Drupal/Core/Http/Exception/CacheableTooManyRequestsHttpException.php
  core/lib/Drupal/Core/Http/Exception/CacheableUnauthorizedHttpException.php
  core/lib/Drupal/Core/Http/Exception/CacheableUnprocessableEntityHttpException.php
  core/lib/Drupal/Core/Http/Exception/CacheableUnsupportedMediaTypeHttpException.php
  core/lib/Drupal/Core/Installer/Exception/InstallerException.php
  core/lib/Drupal/Core/ParamConverter/ParamNotConvertedException.php
  core/modules/jsonapi/src/Exception/EntityAccessDeniedHttpException.php
  core/modules/jsonapi/src/Exception/UnprocessableHttpEntityException.php
  core/modules/jsonapi/src/Revisions/VersionNotFoundException.php
  core/modules/media/src/OEmbed/ProviderException.php
  core/modules/media/src/OEmbed/ResourceException.php
  core/modules/migrate/src/Audit/AuditException.php
  core/modules/migrate/src/Exception/RequirementsException.php
  core/modules/migrate/src/MigrateException.php
  core/modules/migrate/src/Plugin/Exception/BadPluginDefinitionException.php
  core/tests/Drupal/Tests/Core/Http/CacheableExceptionTest.php
Due: none

Issue #3501859 by andypost: Update CI label as the base image for mysql-9 now is 9.2
  .gitlab-ci.yml
Due: üßπ JavaScript linting (eslint)

Issue #1333940 by yesct, quietone, pingers, chx, catch: Try to use is_file() instead of file_exists() in DrupalKernel::findSitePath()
  core/lib/Drupal/Core/DrupalKernel.php
Due: none

Issue #3503556 by tom konda: Wrong Regular Expression for string comparison in Nightwatch.js assertion
  core/tests/Drupal/Nightwatch/Assertions/deprecationErrorExists.js
  core/tests/Drupal/Nightwatch/Assertions/noDeprecationErrors.js
Due: üßπ JavaScript linting (eslint)

Issue #3441576 by plopesc, m4olivei, finnsky, catch, oily, gxleano, ckrina, aaronmchale, skaught: Add a new "Navigation user links" menu in favor of hardcoded links in NavigationUserBlock
  core/modules/navigation/components/toolbar-button/toolbar-button.css
  core/modules/navigation/components/toolbar-button/toolbar-button.pcss.css
  core/modules/navigation/config/install/system.menu.navigation-user-links.yml
  core/modules/navigation/js/user-block.js
  core/modules/navigation/navigation.libraries.yml
  core/modules/navigation/navigation.links.menu.yml
  core/modules/navigation/navigation.post_update.php
  core/modules/navigation/navigation.services.yml
  core/modules/navigation/src/Hook/NavigationHooks.php
  core/modules/navigation/src/Plugin/Block/NavigationUserBlock.php
  core/modules/navigation/src/UserLazyBuilder.php
  core/modules/navigation/templates/menu-region--footer.html.twig
  core/modules/navigation/tests/src/Functional/GenericTest.php
  core/modules/navigation/tests/src/Functional/NavigationShortcutsBlockTest.php
  core/modules/navigation/tests/src/Functional/NavigationUserBlockTest.php
  core/modules/navigation/tests/src/FunctionalJavascript/NavigationUserBlockTest.php
  core/modules/navigation/tests/src/FunctionalJavascript/PerformanceTest.php
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint)

Issue #3502629 by rkoller: Change the test-only pipeline service from with-chrome to with-selenium-chrome
  .gitlab-ci/pipeline.yml
Due: üßπ JavaScript linting (eslint)

Issue #3497405 by quietone, nod_: Fix DrupalPractice.Objects.GlobalFunction in tests
  core/modules/block/tests/modules/block_test/src/Hook/BlockTestHooks.php
  core/modules/comment/tests/modules/comment_test/src/Hook/CommentTestHooks.php
  core/modules/config/tests/config_test/src/ConfigTestForm.php
  core/modules/config/tests/config_test/src/ConfigTestListBuilder.php
  core/modules/contact/tests/modules/contact_storage_test/src/Hook/ContactStorageTestHooks.php
  core/modules/content_moderation/tests/modules/content_moderation_test_views/src/Hook/ContentModerationTestViewsHooks.php
  core/modules/field/tests/modules/field_test/src/Hook/FieldTestHooks.php
  core/modules/field/tests/modules/field_third_party_test/src/Hook/FieldThirdPartyTestHooks.php
  core/modules/file/tests/file_test/src/StreamWrapper/DummyExternalReadOnlyWrapper.php
  core/modules/file/tests/file_test/src/StreamWrapper/DummyReadOnlyStreamWrapper.php
  core/modules/file/tests/file_test/src/StreamWrapper/DummyRemoteReadOnlyStreamWrapper.php
  core/modules/file/tests/file_test/src/StreamWrapper/DummyRemoteStreamWrapper.php
  core/modules/file/tests/file_test/src/StreamWrapper/DummyStreamWrapper.php
  core/modules/help/tests/modules/help_page_test/src/Hook/HelpPageTestHooks.php
  core/modules/language/tests/language_test/src/Hook/LanguageTestHooks.php
  core/modules/layout_builder/tests/modules/layout_builder_extra_field_test/src/Hook/LayoutBuilderExtraFieldTestHooks.php
  core/modules/layout_builder/tests/modules/layout_builder_test/src/Hook/LayoutBuilderTestHooks.php
  core/modules/link/tests/modules/link_test_base_field/src/Hook/LinkTestBaseFieldHooks.php
  core/modules/locale/tests/modules/locale_test/src/Hook/LocaleTestHooks.php
  core/modules/menu_link_content/tests/menu_operations_link_test/src/Hook/MenuOperationsLinkTestHooks.php
  core/modules/node/tests/modules/node_test/src/Hook/NodeTestHooks.php
  core/modules/options/tests/options_test/src/Hook/OptionsTestHooks.php
  core/modules/package_manager/tests/src/Unit/ValidationResultTest.php
  core/modules/rest/tests/modules/rest_test/src/Hook/RestTestHooks.php
  core/modules/toolbar/tests/modules/toolbar_test/src/Hook/ToolbarTestHooks.php
  core/modules/update/tests/modules/update_test/src/Hook/UpdateTestHooks.php
  core/modules/update/tests/modules/update_test/src/TestFileTransferWithSettingsForm.php
  core/modules/views/tests/modules/views_entity_test/src/Hook/ViewsEntityTestHooks.php
  core/modules/views/tests/modules/views_test_data/src/Hook/ViewsTestDataHooks.php
  core/modules/views/tests/modules/views_test_data/src/Hook/ViewsTestDataViewsHooks.php
  core/modules/views_ui/tests/modules/views_ui_test/src/Hook/ViewsUiTestHooks.php
  core/modules/views_ui/tests/modules/views_ui_test_field/src/Hook/ViewsUiTestFieldViewsHooks.php
  core/phpcs.xml.dist
  core/tests/Drupal/Tests/Core/Database/fixtures/core/modules/driver_missing_dependency_test/src/Driver/Database/MissingDependency/Install/Tasks.php
Due: none

Issue #3501024 by mstrelan, smustgrave: Add array return to all hook_theme_suggestions_HOOK implementations
  core/.phpstan-baseline.php
  core/lib/Drupal/Core/Render/theme.api.php
  core/modules/big_pipe/big_pipe.module
  core/modules/block/block.module
  core/modules/node/node.module
  core/modules/search/search.module
  core/modules/system/system.module
  core/modules/system/tests/modules/theme_test/theme_test.module
  core/modules/taxonomy/taxonomy.module
  core/modules/views_ui/views_ui.module
Due: üìî Validatable config

Issue #3503870 by berdir: Assert all expected values of in PerformanceTestTrait::assertMetrics at once
  core/tests/Drupal/Tests/PerformanceTestTrait.php
Due: none

Issue #3504386 by plopesc, catch: Use a placeholder for the navigation toolbar
  core/modules/navigation/src/NavigationRenderer.php
Due: none

Issue #3502911 by tim.plunkett, nod_, catch: Compressed ajax_page_state['libraries'] can exist in both $request->request and $request->query simultaneously
  core/lib/Drupal/Core/StackMiddleware/AjaxPageState.php
  core/tests/Drupal/Tests/Core/StackMiddleware/AjaxPageStateTest.php
Due: none

Drupal 11.1.2
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: none

Back to dev.
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: none

Drupal 10.4.2
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: none

Drupal 11.0.11
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: none

Drupal 10.3.12
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: none

Issue #3496558 by alexpott, godotislate: Install entity definitions for all modules in batch install before simple config
  core/lib/Drupal/Core/Extension/ModuleInstaller.php
  core/modules/system/tests/modules/module_installer_config_subscriber/config/install/module_installer_config_subscriber.settings.yml
  core/modules/system/tests/modules/module_installer_config_subscriber/config/schema/module_installer_config_subscriber.schema.yml
  core/modules/system/tests/modules/module_installer_config_subscriber/module_installer_config_subscriber.info.yml
  core/modules/system/tests/modules/module_installer_config_subscriber/module_installer_config_subscriber.services.yml
  core/modules/system/tests/modules/module_installer_config_subscriber/src/EventSubscriber/ModuleInstallConfigTestSubscriber.php
  core/tests/Drupal/KernelTests/Core/Extension/ModuleInstallerTest.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #3493813 by berdir, vladimiraus, catch, oily, e0ipso, pdureau, grimreaper: Drupal\Core\Theme\ComponentNegotiator::negotiate uses a lot of memory
  core/core.services.yml
  core/lib/Drupal/Core/Theme/ComponentNegotiator.php
  core/lib/Drupal/Core/Theme/ComponentPluginManager.php
  core/modules/navigation/tests/src/FunctionalJavascript/PerformanceTest.php
  core/tests/Drupal/KernelTests/Components/ComponentKernelTestBase.php
Due: üßπ JavaScript linting (eslint)

Issue #3493911 by plopesc, catch, kristiaanvandeneynde, berdir, fabianx: Add a CachedPlaceholderStrategy to optimize render cache hits and reduce layout shift from big pipe
  core/core.services.yml
  core/lib/Drupal/Core/Cache/VariationCache.php
  core/lib/Drupal/Core/Cache/VariationCacheInterface.php
  core/lib/Drupal/Core/Render/Placeholder/CachedStrategy.php
  core/lib/Drupal/Core/Render/RenderCache.php
  core/lib/Drupal/Core/Render/RenderCacheInterface.php
  core/modules/navigation/tests/src/FunctionalJavascript/PerformanceTest.php
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTest.php
Due: üßπ JavaScript linting (eslint)

Issue #3497796 by mstrelan, shalini_jha, oily, nicxvan, smustgrave: Add return type to hook_file_download implementations
  core/.phpstan-baseline.php
  core/lib/Drupal/Core/File/file.api.php
  core/modules/config/src/Hook/ConfigHooks.php
  core/modules/editor/src/Hook/EditorHooks.php
  core/modules/file/tests/file_test/src/FileTestHelper.php
  core/modules/file/tests/file_test/src/Hook/FileTestHooks.php
  core/modules/image/src/Hook/ImageHooks.php
  core/modules/system/src/Hook/SystemHooks.php
Due: none

Issue #3503190 by phenaproxima, thejimbirch: Allow recipes to contain an "extra" property with arbitrary information for specific modules to use
  core/lib/Drupal/Core/Recipe/Recipe.php
  core/tests/Drupal/KernelTests/Core/Recipe/RecipeTest.php
  core/tests/Drupal/KernelTests/Core/Recipe/RecipeValidationTest.php
Due: none

Issue #3501727 by sayco, oily, berdir, catch, borisson_, longwave: Try to simplify checks in AdminNegotiator
  core/modules/user/src/Theme/AdminNegotiator.php
  core/modules/user/tests/src/Unit/Theme/AdminNegotiatorTest.php
  core/modules/user/user.services.yml
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTest.php
Due: üßπ JavaScript linting (eslint)

Issue #3505154 by kristiaanvandeneynde, amateescu: NavigationRenderer manually adds required cache tags
  core/modules/navigation/navigation.services.yml
  core/modules/navigation/src/NavigationRenderer.php
Due: üßπ JavaScript linting (eslint)

Issue #2927338 by berdir, anmolgoyal74, swatichouhan012, smustgrave, alexpott, gábor hojtsy: Ensure config entity langcode property does not change when installing, adding or editing a language
  core/includes/install.core.inc
  core/modules/language/src/Form/LanguageAddForm.php
  core/modules/language/src/Form/LanguageFormBase.php
  core/modules/locale/src/Hook/LocaleHooks.php
  core/tests/Drupal/FunctionalTests/Installer/DistributionProfileTranslationQueryTest.php
  core/tests/Drupal/FunctionalTests/Installer/DistributionProfileTranslationTest.php
  core/tests/Drupal/FunctionalTests/Installer/InstallerTranslationQueryTest.php
  core/tests/Drupal/FunctionalTests/Installer/InstallerTranslationTest.php
Due: none

Issue #3096570 by recrit, raman.b, ameymudras, ranjith_kumar_k_u, Oscaner, smustgrave, peterwcm, pameeela: Redirect correct language page after node save
  core/modules/image/tests/src/Functional/ImageOnTranslatedEntityTest.php
  core/modules/node/src/NodeForm.php
  core/modules/node/tests/src/Functional/NodeTranslationUITest.php
Due: none

Issue #3436146 by berdir, kristiaanvandeneynde, catch: Introduce a list of "frequent cache tags" to reduce lookup query amount
  core/core.services.yml
  core/lib/Drupal/Core/Cache/CacheTagsChecksumPreloadInterface.php
  core/lib/Drupal/Core/Cache/CacheTagsChecksumTrait.php
  core/lib/Drupal/Core/Cache/DatabaseCacheTagsChecksum.php
  core/lib/Drupal/Core/Cache/EventSubscriber/CacheTagPreloadSubscriber.php
  core/modules/system/tests/modules/performance_test/src/Cache/CacheTagsChecksumDecorator.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryAuthenticatedPerformanceTest.php
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTest.php
Due: üßπ JavaScript linting (eslint)

Issue #3505059 by kristiaanvandeneynde, berdir, catch: Remove entity_type_values cache tags
  core/lib/Drupal/Core/Cache/EventSubscriber/CacheTagPreloadSubscriber.php
  core/lib/Drupal/Core/Entity/ContentEntityStorageBase.php
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTest.php
  core/tests/Drupal/Tests/Core/Entity/Sql/SqlContentEntityStorageTest.php
Due: none

Issue #2542760 by catch, jhedstrom, alexpott, webchick, dawehner, yched, lauriii, maxilein, jibran, amateescu, berdir, bojanz: Mark float and list (float) field types as no_ui
  core/lib/Drupal/Core/Field/Plugin/Field/FieldType/FloatItem.php
  core/modules/field_ui/tests/src/FunctionalJavascript/ManageFieldsTest.php
  core/modules/options/src/Plugin/Field/FieldType/ListFloatItem.php
Due: none

Issue #3481766 by heddn, shalini_jha, quietone, smustgrave: Workspaces listing page requires edit/admin permissions, should be "view any workspaces"
  core/modules/workspaces/src/WorkspaceListBuilder.php
  core/modules/workspaces/tests/src/Functional/WorkspaceTest.php
  core/modules/workspaces/workspaces.routing.yml
Due: üßπ JavaScript linting (eslint)

Issue #3494997 by s_leu, amateescu: Prevent loss of layout changes when discarding changes in a different workspace or Live
  core/modules/workspaces/src/WorkspacesLayoutTempstoreRepository.php
  core/modules/workspaces/src/WorkspacesServiceProvider.php
  core/modules/workspaces/tests/src/FunctionalJavascript/WorkspacesLayoutBuilderIntegrationTest.php
Due: none

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/package.json, core/yarn.lock, **/*.css
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module
