Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/package.json, core/yarn.lock, **/*.css
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module

Issue #3440169 by pooja_sharma, marcoliver, smustgrave, DYdave, alexpott: When using drupalGet(), provide an associative array for $headers
  core/modules/language/tests/src/Functional/LanguageBrowserDetectionAcceptLanguageTest.php
  core/modules/menu_ui/tests/src/Functional/MenuUiTest.php
  core/modules/page_cache/tests/src/Functional/PageCacheTest.php
  core/modules/rest/tests/src/Functional/Views/StyleSerializerEntityTest.php
  core/modules/system/tests/src/Functional/Ajax/FrameworkTest.php
  core/modules/system/tests/src/Functional/DrupalKernel/ContentNegotiationTest.php
  core/modules/system/tests/src/Functional/Form/StorageTest.php
  core/modules/system/tests/src/Functional/Routing/RouterTest.php
  core/modules/system/tests/src/Functional/Session/StackSessionHandlerIntegrationTest.php
  core/modules/toolbar/tests/src/Functional/ToolbarAdminMenuTest.php
Due: none

Issue #3444998 by Gauravvvv, TravisCarden, lolgm, nod_, smustgrave: Secondary tabs design is distorted on block view page
  core/themes/claro/claro.info.yml
Due: üßπ JavaScript linting (eslint)

Issue #3418999 by quietone: Correct spelling of autocomplete type words
  core/misc/autocomplete.js
  core/misc/cspell/dictionary.txt
  core/tests/Drupal/Nightwatch/Tests/claroAutocompleteTest.js
  core/themes/claro/css/components/autocomplete-loading.module.css
  core/themes/claro/css/components/autocomplete-loading.module.pcss.css
  core/themes/claro/js/autocomplete.js
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint)

Issue #3456890 by TravisCarden, smustgrave: 'The "%plugin_id" was not found' warning message is confusing
  core/lib/Drupal/Core/Block/BlockManager.php
  core/tests/Drupal/KernelTests/Core/Config/ConfigImporterMissingContentTest.php
  core/tests/Drupal/Tests/Core/Block/BlockManagerTest.php
Due: none

Issue #3458183 by catch, Spokje: Deprecate $variables['teaser']
  core/modules/node/node.module
  core/modules/node/templates/node.html.twig
  core/themes/olivero/olivero.theme
Due: üìî Validatable config

Issue #3445215 by narendraR, borisson_, mtift, mikelutz, smustgrave, Wim Leers, alexpott: Add validation constraints to user.role.*
  core/modules/config/tests/src/Functional/ConfigDraggableListBuilderTest.php
  core/modules/jsonapi/tests/src/Functional/RoleTest.php
  core/modules/node/tests/src/Kernel/NodeAccessTestBase.php
  core/modules/user/config/schema/user.schema.yml
  core/modules/user/src/Entity/Role.php
  core/modules/user/src/RoleForm.php
  core/modules/user/tests/src/Functional/Rest/RoleResourceTestBase.php
  core/modules/user/tests/src/Kernel/RoleValidationTest.php
  core/profiles/demo_umami/config/install/user.role.author.yml
  core/profiles/demo_umami/config/install/user.role.editor.yml
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #3458246 by ckrina, finnsky, nod_, m4olivei, plopesc: Add subsystem maintainers for Navigation
  core/MAINTAINERS.txt
Due: none

Issue #3156439 by alexpott, catch, bonsaipuppy, mkalkbrenner, longwave, xjm: Add an index on locales_location on type and name
  core/modules/locale/locale.install
  core/modules/locale/tests/src/Functional/LocalesLocationAddIndexUpdateTest.php
Due: none

Issue #3318988 by andypost, longwave, quietone: Finish deprecating status code and header assertions in JS tests
  core/tests/Drupal/FunctionalJavascriptTests/WebDriverWebAssert.php
Due: none

Issue #3456133 by narendraR, VinmayiSwamy: Add validation constraints to search.page.*
  core/modules/search/config/schema/search.schema.yml
  core/modules/search/migrations/d7_search_page.yml
  core/modules/search/migrations/search_page.yml
  core/modules/search/tests/src/Kernel/SearchPageValidationTest.php
  core/modules/system/tests/src/Kernel/Entity/ConfigEntityImportTest.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #3457766 by narendraR, smustgrave: Add validation constraints to language.entity.*
  core/modules/language/config/schema/language.schema.yml
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #3449259 by narendraR, alexpott, catch, Wim Leers: Add validation constraints to system.action.*
  core/modules/system/config/schema/system.schema.yml
  core/modules/system/src/ActionConfigEntityInterface.php
  core/modules/system/src/Entity/Action.php
  core/modules/system/tests/modules/action_test/config/schema/action_test.schema.yml
  core/modules/system/tests/src/Kernel/Action/ActionTest.php
  core/modules/system/tests/src/Kernel/Entity/ActionValidationTest.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #3458922 by quietone, alexpott, longwave: Fix index test in LocalesLocationAddIndexUpdateTest::testExistingIndex
  core/modules/locale/tests/src/Functional/LocalesLocationAddIndexUpdateTest.php
Due: none

Issue #3458751 by alexpott: Drupal 10.3.x regression running JS tests using ddev - update lullabot/php-webdriver
  composer.json
  composer.lock
  composer/Metapackage/DevDependencies/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
Due: none

Drupal 10.3.1
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: none
