Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üìã PHPUnit Unit (PHPStan rules), üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üì¶ Yarn install on minimum Node.js version

Path conditions:
  üìã PHPUnit Unit (PHPStan rules): any of: core/tests/PHPStan/**/*, composer/Metapackage/PinnedDevDependencies/composer.json
  üßπ JavaScript linting (eslint): any of: core/.eslint*, core/.prettier*, core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/.stylelintrc.json, core/.prettier*, core/package.json, core/yarn.lock, **/*.css
  üì¶ Yarn install on minimum Node.js version: any of: core/package.json, core/yarn.lock

fix: #3045509 EntityFieldManager key/value field map gets out of sync, doesn't recognise bundle fields
  core/lib/Drupal/Core/Entity/EntityFieldManager.php
  core/modules/content_translation/tests/src/Functional/ContentTranslationSettingsTest.php
  core/modules/system/tests/modules/entity_test/src/Hook/EntityTestHooks.php
  core/modules/views/tests/src/Kernel/FieldApiDataTest.php
  core/modules/views_ui/tests/src/Functional/HandlerTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryAuthenticatedPerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryFrontPagePerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryNodePagePerformanceTest.php
  core/tests/Drupal/Tests/Core/Entity/EntityFieldManagerTest.php
Due: none

task: #3584303 Rename Gin variables and form element names
  core/themes/default_admin/migration/css/layout/top_bar.css
  core/themes/default_admin/migration/css/layout/top_bar.pcss.css
  core/themes/default_admin/migration/js/sidebar.js
  core/themes/default_admin/src/Hook/FormHooks.php
  core/themes/default_admin/src/Hook/PreprocessHooks.php
  core/themes/default_admin/templates/form/form-two-columns.html.twig
  core/themes/default_admin/templates/navigation/top-bar--gin.html.twig
  core/themes/default_admin/templates/node/node-edit-form.html.twig
  core/themes/default_admin/templates/page/page.html.twig
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint)

refactor: #2538970 Improve the speed of \Drupal\Core\Theme\ThemeAccessCheck
  core/core.services.yml
  core/lib/Drupal/Core/Theme/ThemeAccessCheck.php
  core/modules/jsonapi/tests/src/FunctionalJavascript/JsonApiPerformanceTest.php
  core/modules/system/tests/modules/nightwatch_theme_install_utility/src/Controller/ThemeInstallController.php
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTest.php
Due: üßπ JavaScript linting (eslint)

task: #3453216 Clean up outdated mentions of prepareLegacyRequest
  core/includes/install.core.inc
  core/lib/Drupal/Core/DrupalKernel.php
  core/lib/Drupal/Core/Test/FunctionalTestSetupTrait.php
  core/tests/Drupal/Tests/BrowserTestBase.php
Due: none

refactor: #2473041 Restructure node access grant behavior into the node access handler
  core/modules/node/node.module
  core/modules/node/node.services.yml
  core/modules/node/src/Cache/NodeAccessGrantsCacheContext.php
  core/modules/node/src/NodeGrantDatabaseStorage.php
  core/modules/node/src/NodeGrantsHelper.php
  core/modules/node/src/Plugin/views/filter/Access.php
Due: üßπ JavaScript linting (eslint)

feat: #3366561 Support preloading of fonts in the libraries API
  core/core.services.yml
  core/lib/Drupal/Core/Asset/AssetResolver.php
  core/lib/Drupal/Core/Asset/AssetResolverInterface.php
  core/lib/Drupal/Core/Asset/LibraryDiscoveryParser.php
  core/lib/Drupal/Core/Render/HtmlResponseAttachmentsProcessor.php
  core/modules/big_pipe/big_pipe.services.yml
  core/modules/big_pipe/src/Render/BigPipeResponseAttachmentsProcessor.php
  core/modules/big_pipe/tests/src/Unit/Render/BigPipeResponseAttachmentsProcessorTest.php
  core/modules/navigation/navigation.libraries.yml
  core/modules/navigation/src/NavigationRenderer.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryAuthenticatedPerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryFrontPagePerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryNodePagePerformanceTest.php
  core/profiles/demo_umami/themes/umami/umami.libraries.yml
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTest.php
  core/tests/Drupal/Tests/Core/Asset/AssetResolverTest.php
  core/themes/olivero/olivero.libraries.yml
  core/themes/olivero/templates/includes/preload.twig
  core/themes/olivero/templates/layout/html.html.twig
Due: üßπ JavaScript linting (eslint)

feat: #3366561 follow-up Support preloading of fonts in the libraries API
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryAuthenticatedPerformanceTest.php
Due: none

feat: #3366561 follow-up Support preloading of fonts in the libraries API
  core/tests/Drupal/Tests/Core/Asset/AssetResolverTest.php
Due: none

fix: #3443428 Whitespace in Views exposed filters returns incorrect results
  core/modules/views/src/Plugin/views/filter/StringFilter.php
  core/modules/views/tests/src/Kernel/Handler/FilterStringTest.php
Due: none

Revert: "feat: #3366561 Support preloading of fonts in the libraries API"
  core/core.services.yml
  core/lib/Drupal/Core/Asset/AssetResolver.php
  core/lib/Drupal/Core/Asset/AssetResolverInterface.php
  core/lib/Drupal/Core/Asset/LibraryDiscoveryParser.php
  core/lib/Drupal/Core/Render/HtmlResponseAttachmentsProcessor.php
  core/modules/big_pipe/big_pipe.services.yml
  core/modules/big_pipe/src/Render/BigPipeResponseAttachmentsProcessor.php
  core/modules/big_pipe/tests/src/Unit/Render/BigPipeResponseAttachmentsProcessorTest.php
  core/modules/navigation/navigation.libraries.yml
  core/modules/navigation/src/NavigationRenderer.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryAuthenticatedPerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryFrontPagePerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryNodePagePerformanceTest.php
  core/profiles/demo_umami/themes/umami/umami.libraries.yml
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTest.php
  core/tests/Drupal/Tests/Core/Asset/AssetResolverTest.php
  core/themes/olivero/olivero.libraries.yml
  core/themes/olivero/templates/includes/preload.twig
  core/themes/olivero/templates/layout/html.html.twig
Due: üßπ JavaScript linting (eslint)

task: #3584694 Remove Search module from nightwatch_a11y_testing profile & tests
  core/profiles/tests/nightwatch_a11y_testing/config/install/user.role.anonymous.yml
  core/profiles/tests/nightwatch_a11y_testing/nightwatch_a11y_testing.info.yml
  core/tests/Drupal/Nightwatch/Tests/a11yTestDefault.js
Due: üßπ JavaScript linting (eslint)

feat: #3536964 run-tests.sh - segregate command line parsing and use Symfony Console classes
  .gitlab-ci/pipeline.yml
  core/scripts/run-tests.sh
  core/tests/Drupal/TestTools/TestRunner/Configuration.php
Due: üßπ JavaScript linting (eslint)

feat: #3366561 Support preloading of fonts in the libraries API
  core/core.services.yml
  core/lib/Drupal/Core/Asset/AssetResolver.php
  core/lib/Drupal/Core/Asset/AssetResolverInterface.php
  core/lib/Drupal/Core/Asset/LibraryDiscoveryParser.php
  core/lib/Drupal/Core/Render/HtmlResponseAttachmentsProcessor.php
  core/modules/big_pipe/big_pipe.services.yml
  core/modules/big_pipe/src/Render/BigPipeResponseAttachmentsProcessor.php
  core/modules/big_pipe/tests/src/Unit/Render/BigPipeResponseAttachmentsProcessorTest.php
  core/modules/navigation/navigation.libraries.yml
  core/modules/navigation/src/NavigationRenderer.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryAuthenticatedPerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryFrontPagePerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryNodePagePerformanceTest.php
  core/profiles/demo_umami/themes/umami/umami.libraries.yml
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTest.php
  core/tests/Drupal/KernelTests/Core/Asset/DeprecatedAssetsTest.php
  core/tests/Drupal/Tests/Core/Asset/AssetResolverTest.php
  core/themes/olivero/olivero.libraries.yml
  core/themes/olivero/templates/includes/preload.twig
  core/themes/olivero/templates/layout/html.html.twig
Due: üßπ JavaScript linting (eslint)

fix: #3577671 Modernize locale file handling
  core/includes/install.core.inc
  core/modules/locale/locale.batch.inc
  core/modules/locale/locale.bulk.inc
  core/modules/locale/locale.module
  core/modules/locale/locale.services.yml
  core/modules/locale/src/File/LocaleFile.php
  core/modules/locale/src/File/LocaleFileManager.php
  core/modules/locale/src/File/RemoteFileInfo.php
  core/modules/locale/src/File/RemoteFileStatus.php
  core/modules/locale/src/Form/ImportForm.php
  core/modules/locale/src/Hook/LocaleHooks.php
  core/modules/locale/src/LocaleSource.php
  core/modules/locale/tests/src/Functional/LocaleTranslationChangeProjectVersionTest.php
  core/modules/locale/tests/src/Functional/LocaleTranslationDownloadTest.php
  core/modules/locale/tests/src/Functional/LocaleUpdateInterfaceTest.php
Due: üßπ JavaScript linting (eslint)

feat: #2547493 Add support for unique / primary key constraints composed of multiple fields for Upsert queries
  core/lib/Drupal/Core/Database/Query/Upsert.php
  core/modules/mysql/src/Driver/Database/mysql/Upsert.php
  core/modules/pgsql/src/Driver/Database/pgsql/Upsert.php
  core/modules/sqlite/src/Driver/Database/sqlite/Upsert.php
  core/tests/Drupal/KernelTests/Core/Database/UpsertTest.php
Due: none

fix: #3559874 The UUID data type should validate that its value is an actual UUID
  core/lib/Drupal/Core/Field/Plugin/Field/FieldType/UuidItem.php
  core/modules/field/tests/src/Kernel/KernelString/UuidItemTest.php
  core/modules/rest/tests/src/Functional/EntityResource/EntityResourceTestBase.php
  core/tests/Drupal/KernelTests/Core/DefaultContent/ImporterTest.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityValidationTest.php
  core/tests/fixtures/pre_entity_import_default_content/entity_test/22cc2aad-a174-4100-91fe-36b03f3f8fc9.yml
  core/tests/fixtures/pre_entity_import_default_content/entity_test/2ab4da9f-7132-4578-99ac-3ee46ce8ce09.yml
  core/tests/fixtures/pre_entity_import_default_content/entity_test/378d03cf-2038-44b9-aa6d-17fe92efcc17.yml
  core/tests/fixtures/pre_entity_import_default_content/entity_test/ec561a81-64f4-4fc4-88fa-6798de6c6f27.yml
  core/tests/fixtures/pre_entity_import_default_content/entity_test/f83c3b53-b077-44b4-943b-08b903b08067.yml
Due: üßπ JavaScript linting (eslint)

task: #3581442 Replace usage of uniqid() in the Database system
  core/lib/Drupal/Core/Database/Query/Query.php
  core/lib/Drupal/Core/Database/Query/SelectExtender.php
  core/lib/Drupal/Core/Database/Schema.php
  core/lib/Drupal/Core/Database/Transaction/TransactionManagerBase.php
  core/modules/mysql/src/Driver/Database/mysql/Connection.php
  core/modules/pgsql/src/Driver/Database/pgsql/Connection.php
  core/modules/sqlite/src/Driver/Database/sqlite/Connection.php
Due: none

refactor: #3550054 Move FORM_SEPARATE_PAGE and FORM_BELOW constants in CommentItemInterface to new FormLocation enum
  core/modules/comment/src/CommentLinkBuilder.php
  core/modules/comment/src/CommentManager.php
  core/modules/comment/src/FormLocation.php
  core/modules/comment/src/Plugin/Field/FieldFormatter/CommentDefaultFormatter.php
  core/modules/comment/src/Plugin/Field/FieldType/CommentItem.php
  core/modules/comment/src/Plugin/Field/FieldType/CommentItemInterface.php
  core/modules/comment/tests/src/Functional/CommentLinksTest.php
  core/modules/comment/tests/src/Functional/CommentTestBase.php
  core/modules/comment/tests/src/Unit/CommentLinkBuilderTest.php
Due: none

task: #3584250 Replace www.json-schema.org to https://json-schema.org/
  core/modules/navigation/components/badge/badge.component.yml
  core/modules/navigation/components/title/title.component.yml
  core/modules/navigation/components/toolbar-button/toolbar-button.component.yml
  core/profiles/demo_umami/themes/umami/components/badge/badge.component.yml
  core/profiles/demo_umami/themes/umami/components/branding/branding.component.yml
  core/profiles/demo_umami/themes/umami/components/card/card.component.yml
  core/profiles/demo_umami/themes/umami/components/disclaimer/disclaimer.component.yml
  core/profiles/demo_umami/themes/umami/components/footer-block/footer-block.component.yml
  core/profiles/demo_umami/themes/umami/components/header/header.component.yml
  core/profiles/demo_umami/themes/umami/components/read-more/read-more.component.yml
  core/profiles/demo_umami/themes/umami/components/title/title.component.yml
  core/themes/olivero/components/teaser/teaser.component.yml
Due: üßπ JavaScript linting (eslint)

refactor: #3035340 Deprecate core/modules/views_ui/admin.inc
  core/modules/views/src/Plugin/views/display/DisplayPluginBase.php
  core/modules/views/src/Plugin/views/field/EntityField.php
  core/modules/views/src/Plugin/views/wizard/WizardPluginBase.php
  core/modules/views/src/ViewsFormAjaxHelperTrait.php
  core/modules/views/src/ViewsFormHelperTrait.php
  core/modules/views_ui/admin.inc
  core/modules/views_ui/src/Form/Ajax/AddHandler.php
  core/modules/views_ui/src/Form/Ajax/ConfigHandler.php
  core/modules/views_ui/src/Form/Ajax/Rearrange.php
  core/modules/views_ui/src/Form/Ajax/RearrangeFilter.php
  core/modules/views_ui/src/Form/Ajax/ViewsFormBase.php
  core/modules/views_ui/src/ViewAddForm.php
  core/modules/views_ui/src/ViewEditForm.php
  core/modules/views_ui/src/ViewUI.php
  core/modules/views_ui/tests/src/Kernel/TagTest.php
Due: none

fix: #3195427 Olivero does not support core's responsive tables API
  core/themes/olivero/css/components/button.css
  core/themes/olivero/css/components/button.pcss.css
  core/themes/olivero/css/components/table.css
  core/themes/olivero/css/components/table.pcss.css
Due: üßπ CSS linting (stylelint)

task: #3586645 Change order of directories in \Drupal\Component\FileSystem\FileSystem::getOsTemporaryDirectory
  core/lib/Drupal/Component/FileSystem/FileSystem.php
Due: none

task: #3584302 Update referenced Gin hooks in comments
  core/themes/default_admin/src/Helper.php
  core/themes/default_admin/src/Hook/FormHooks.php
  core/themes/default_admin/templates/admin/admin-block-content.html.twig
  core/themes/default_admin/templates/admin/block-content-add-list.html.twig
  core/themes/default_admin/templates/admin/node-add-list.html.twig
  core/themes/default_admin/templates/content-edit/file-managed-file.html.twig
  core/themes/default_admin/templates/content-edit/file-widget-multiple.html.twig
  core/themes/default_admin/templates/content-edit/image-widget.html.twig
  core/themes/default_admin/templates/filter/filter-tips.html.twig
  core/themes/default_admin/templates/form/details.html.twig
  core/themes/default_admin/templates/form/field-multiple-value-form.html.twig
  core/themes/default_admin/templates/form/fieldset.html.twig
  core/themes/default_admin/templates/form/input--checkbox.html.twig
  core/themes/default_admin/templates/form/input.html.twig
  core/themes/default_admin/templates/media-library/fieldset--media-library-widget.html.twig
  core/themes/default_admin/templates/media-library/item-list--media-library-add-form-media-list.html.twig
  core/themes/default_admin/templates/misc/status-messages.html.twig
  core/themes/default_admin/templates/navigation/details--vertical-tabs.html.twig
  core/themes/default_admin/templates/navigation/menu-link-form.html.twig
  core/themes/default_admin/templates/node/node-edit-form.html.twig
  core/themes/default_admin/templates/system/system-themes-page.html.twig
Due: none

feat: #3512962 Add validation to field.storage.*.* indexes
  core/modules/field/config/schema/field.schema.yml
  core/modules/field/src/Plugin/Validation/Constraint/FieldStorageIndexesConstraint.php
  core/modules/field/src/Plugin/Validation/Constraint/FieldStorageIndexesConstraintValidator.php
  core/modules/field/tests/src/Kernel/Config/FieldStorageIndexesValidationTest.php
Due: üßπ JavaScript linting (eslint)

task: #3571172 Deprecate system_sort_themes() and system_check_directory() in system module
  core/modules/system/src/Controller/SystemController.php
  core/modules/system/system.module
Due: none

task: #3574727 Deprecate remaining language.module code
  core/.phpstan-baseline.php
  core/modules/block_content/src/BlockContentTypeForm.php
  core/modules/ckeditor5/src/LanguageMapper.php
  core/modules/comment/src/CommentTypeForm.php
  core/modules/language/language.module
  core/modules/language/src/DefaultLanguageItem.php
  core/modules/language/src/Element/LanguageConfiguration.php
  core/modules/language/src/Entity/ConfigurableLanguage.php
  core/modules/language/src/EventSubscriber/ConfigSubscriber.php
  core/modules/language/src/Hook/LanguageHooks.php
  core/modules/language/tests/language_elements_test/language_elements_test.routing.yml
  core/modules/language/tests/language_elements_test/src/Form/LanguageConfigurationElement.php
  core/modules/language/tests/language_elements_test/src/Form/LanguageConfigurationElementTest.php
  core/modules/language/tests/src/Functional/LanguageConfigurationElementTest.php
  core/modules/node/tests/src/Functional/NodeFieldMultilingualTest.php
Due: üßπ JavaScript linting (eslint)

task: #3580545 Make empty route lookup cacheable
  core/core.services.yml
  core/lib/Drupal/Core/Http/EventListener/RouterListener.php
  core/lib/Drupal/Core/Routing/Exception/CacheableResourceNotFoundException.php
  core/lib/Drupal/Core/Routing/Router.php
  core/modules/page_cache/tests/src/Functional/PageCacheTest.php
  core/modules/rest/tests/src/Functional/EntityResource/EntityResourceTestBase.php
  core/modules/rest/tests/src/Functional/ResourceTestBase.php
  core/tests/Drupal/KernelTests/Core/Routing/RouterTest.php
Due: üßπ JavaScript linting (eslint)

task: #3584329 Re-evaluate skipping the chained fast backend in the installer
  core/lib/Drupal/Core/Cache/ChainedFastBackendFactory.php
Due: none

task: #3485233 Add phpstan-baseline Composer script to root composer.json
  composer.json
Due: none

fix: #3474070 Allow StarterKit forked themes with prefix
  core/lib/Drupal/Core/Command/GenerateTheme.php
  core/tests/Drupal/BuildTests/Command/GenerateThemeTest.php
Due: none

task: #3579922 Add missing type hint for $variables parameter in theme hooks
  core/themes/claro/src/Hook/ClaroHooks.php
  core/themes/olivero/src/Hook/OliveroHooks.php
Due: none

fix: #3580855 Entity recursive rendering protection is not compatible with Fibers
  core/lib/Drupal/Core/Entity/EntityViewBuilder.php
  core/modules/system/tests/modules/entity_test/config/schema/entity_test.schema.yml
  core/modules/system/tests/modules/entity_test/src/Plugin/Block/EntityTestBlock.php
  core/tests/Drupal/FunctionalTests/Entity/EntityConcurrentRenderTest.php
Due: üßπ JavaScript linting (eslint)

fix: #1797438 HTML5 validation is preventing form submit and not fully accessible
  core/assets/scaffold/files/default.settings.php
  core/lib/Drupal/Core/Form/FormPreprocess.php
  core/modules/system/src/Hook/SystemRequirementsHooks.php
  core/modules/system/tests/src/Functional/Form/ValidationTest.php
  core/modules/system/tests/src/FunctionalJavascript/Form/ValidationTest.php
  sites/default/default.settings.php
Due: none

fix: #3584324 Make the chained fast backend self-heal when last_write_timestamp is missing
  core/lib/Drupal/Core/Cache/ChainedFastBackend.php
  core/tests/Drupal/Tests/Core/Cache/ChainedFastBackendTest.php
Due: none

fix: #3585498 Alter hook implementations in Kernel test classes are not executed
  core/lib/Drupal/Core/Extension/ModuleHandler.php
  core/tests/Drupal/KernelTests/Core/Hook/KernelTestHooksTest.php
Due: none

fix: #3566351 Throwing AccessDeniedException without a route causes PHP errors
  core/lib/Drupal/Core/EventSubscriber/CsrfExceptionSubscriber.php
  core/tests/Drupal/Tests/Core/EventSubscriber/CsrfExceptionSubscriberTest.php
Due: none
