Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Unit tests PHPStan rules, üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

Path conditions:
  Unit tests PHPStan rules: any of: core/tests/PHPStan/**/*, composer/Metapackage/PinnedDevDependencies/composer.json
  üßπ JavaScript linting (eslint): any of: core/.eslint*, core/.prettier*, core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/.stylelintrc.json, core/.prettier*, core/package.json, core/yarn.lock, **/*.css
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module, **/src/Hook/*.php

task: #3566792 Deprecate remaining ckeditor5.module procedural code
  core/lib/Drupal/Core/Recipe/RecipeConfigInstaller.php
  core/modules/ckeditor5/ckeditor5.module
  core/modules/ckeditor5/src/Hook/Ckeditor5Hooks.php
  core/modules/ckeditor5/tests/src/Kernel/CKEditor5StylesheetsTest.php
  core/modules/ckeditor5/tests/src/Unit/CKEditor5Test.php
Due: üìî Validatable config

test: #3463696 Move performance test to selenium
  .gitlab-ci/pipeline.yml
  core/tests/Drupal/Tests/PerformanceTestTrait.php
Due: üßπ JavaScript linting (eslint)

task: #3571775 Update google/protobuf
  composer.lock
  composer/Metapackage/PinnedDevDependencies/composer.json
Due: Unit tests PHPStan rules

task: #3566049 [patch to be ported] Add amateescu as a maintainer of the Workflows subsystem
  core/MAINTAINERS.txt
Due: none

docs: #3565566 Document return type for RfcLogLevel::getLevels()
  core/lib/Drupal/Core/Logger/RfcLogLevel.php
Due: none

docs: #3118569 Add an example of a semver contrib module number to the update hook example for hook_removed_post_updates()
  core/lib/Drupal/Core/Extension/module.api.php
Due: none

fix: #3545132 Datelist element has nondeterministic timezone
  core/lib/Drupal/Core/Datetime/Element/Datelist.php
  core/tests/Drupal/KernelTests/Core/Datetime/DatelistElementFormTest.php
Due: none

task: #3567163 Move field_ui form callback to hook class
  core/modules/field_ui/field_ui.module
  core/modules/field_ui/src/Hook/FieldUiHooks.php
Due: üìî Validatable config

task: #3567616 Move _help_search_update to hook
  core/modules/help/help.module
  core/modules/help/src/Hook/HelpHooks.php
Due: üìî Validatable config

fix: #3565886 Navigation module throws an error on missing URL
  core/modules/navigation/src/EntityRouteHelper.php
  core/modules/navigation/tests/src/Kernel/NavigationEntityRouteHelperTest.php
Due: none

fix: #3241299 Properly return FALSE for invalid strings in DateTimePlus::checkArray() so that the correct exception is thrown
  core/lib/Drupal/Component/Datetime/DateTimePlus.php
  core/tests/Drupal/Tests/Component/Datetime/DateTimePlusTest.php
Due: none

task: #3568063 Move _inline_form_errors_set_errors to themeHookClass
  core/modules/inline_form_errors/inline_form_errors.module
  core/modules/inline_form_errors/src/Hook/InlineFormErrorsThemeHooks.php
Due: üìî Validatable config

task: #3571815 Add amateescu as a maintainer of the Content Moderation subsystem
  core/MAINTAINERS.txt
Due: none

task: #3566057 Add mstrelan as a maintainer of the System (module) subsystem
  core/MAINTAINERS.txt
Due: none

task: #3569328 Modernize locale.translations.inc
  core/includes/bootstrap.inc
  core/includes/install.core.inc
  core/modules/locale/locale.batch.inc
  core/modules/locale/locale.bulk.inc
  core/modules/locale/locale.compare.inc
  core/modules/locale/locale.fetch.inc
  core/modules/locale/locale.module
  core/modules/locale/locale.services.yml
  core/modules/locale/locale.translation.inc
  core/modules/locale/src/Form/ImportForm.php
  core/modules/locale/src/Form/TranslationStatusForm.php
  core/modules/locale/src/Hook/LocaleHooks.php
  core/modules/locale/src/LocaleDefaultOptions.php
  core/modules/locale/src/LocaleProjectStorage.php
  core/modules/locale/src/LocaleProjectStorageInterface.php
  core/modules/locale/src/LocaleSource.php
  core/modules/locale/tests/src/Functional/LocaleUpdateTest.php
  core/modules/locale/tests/src/Kernel/LocaleBuildTest.php
  core/modules/locale/tests/src/Kernel/LocaleTranslationProjectsTest.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

task: #3462682 Deprecate non-W3C compliant testing
  .gitlab-ci/pipeline.yml
  core/tests/Drupal/FunctionalJavascriptTests/WebDriverTestBase.php
  core/tests/Drupal/Tests/Core/Test/WebDriverTestBaseTest.php
Due: üßπ JavaScript linting (eslint)

task: #3567137 Add test coverage for duplicate node titles on content_moderation latest version page
  core/modules/content_moderation/tests/src/Functional/ModerationStateNodeTest.php
Due: none
