Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), ‚úÖÔ∏è PHPStan rules tests, üìî Validatable config

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/.eslint*, core/.prettier*, core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/.stylelintrc.json, core/.prettier*, core/package.json, core/yarn.lock, **/*.css
  ‚úÖÔ∏è PHPStan rules tests: any of: core/tests/PHPStan/**/*, composer/Metapackage/PinnedDevDependencies/composer.json
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module

Issue #3549953 by idebr: No interface language switch links available on the content translation 'add' form
  core/modules/content_translation/src/Controller/ContentTranslationController.php
  core/modules/content_translation/tests/src/Functional/ContentTranslationLanguageChangeTest.php
Due: none

Issue #3534089 by kim.pepper, kul.pratap: Deprecate file_managed_file_submit form submit handler and move to \Drupal\file\Element\ManagedFile
  core/modules/file/file.module
  core/modules/file/src/Element/ManagedFile.php
  core/modules/file/src/Plugin/Field/FieldWidget/FileWidget.php
  core/modules/image/src/Plugin/Field/FieldWidget/ImageWidget.php
Due: üìî Validatable config

Issue #3202329 by hchonov, dieterholvoet, riyas_nr: Outbound path processors miss the route name and parameters
  core/lib/Drupal/Core/PathProcessor/OutboundPathProcessorInterface.php
  core/lib/Drupal/Core/Routing/UrlGenerator.php
  core/tests/Drupal/Tests/Core/Routing/UrlGeneratorTest.php
Due: none

Issue #2354807 by mac_weber, derjochenmeyer, dcam, astonvictor: Remove unused render array keys from LinkWidget attributes
  core/modules/link/src/Plugin/Field/FieldWidget/LinkWidget.php
Due: none

Issue #3549587 by alexpott: Use \Drupal\user\UserInterface::TIMEZONE_DEFAULT to improve code readability
  core/modules/user/src/Entity/User.php
Due: none

Revert "Issue #3202329 by hchonov, dieterholvoet, riyas_nr: Outbound path processors miss the route name and parameters"
  core/lib/Drupal/Core/PathProcessor/OutboundPathProcessorInterface.php
  core/lib/Drupal/Core/Routing/UrlGenerator.php
  core/tests/Drupal/Tests/Core/Routing/UrlGeneratorTest.php
Due: none

Issue #3533291 by kim.pepper, catch, alexpott: file_file_video_presave() attempts to update shipped configuration but doesn't work
  core/modules/file/config/schema/file.schema.yml
  core/modules/file/file.module
  core/modules/file/file.post_update.php
  core/modules/file/tests/src/Functional/Formatter/FileVideoFormatterUpdateTest.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #3549608 by amateescu, plach: Language-neutral path aliases are not deleted with the parent entity
  core/modules/path/src/Plugin/Field/FieldType/PathFieldItemList.php
  core/modules/path/tests/src/Functional/PathLanguageTest.php
Due: none

Issue #3528899 by donquixote, nicxvan, catch: ModuleHandler::add() removes implementations from other modules
  core/lib/Drupal/Core/Extension/ModuleHandler.php
  core/lib/Drupal/Core/Hook/HookCollectorPass.php
  core/tests/Drupal/Tests/Core/Extension/ModuleHandlerTest.php
Due: none

Issue #3551681 by mondrake, dcam: Enforce removal of PHPUnit annotations from test classes' methods metadata
  core/modules/migrate_drupal/tests/src/Kernel/Plugin/MigrationProvidersExistTest.php
  core/phpstan.neon.dist
  core/tests/Drupal/Tests/Core/Form/ConfigTargetTest.php
  core/tests/PHPStan/Rules/TestClassMethodMetadata.php
  core/tests/PHPStan/composer.json
  core/tests/PHPStan/fixtures/test-methods-with-metadata.php
  core/tests/PHPStan/tests/TestClassMethodMetadataTest.php
Due: ‚úÖÔ∏è PHPStan rules tests

Issue #3554978 by phenaproxima, alexpott: ContentExportCommand::loadEntities() should use loadByProperties()
  core/lib/Drupal/Core/DefaultContent/ContentExportCommand.php
Due: none

Issue #3554133 by pameeela, phenaproxima, darren oh: Default content importer creates a `public:` directory in the web root when copying certain files
  core/lib/Drupal/Core/DefaultContent/Importer.php
  core/tests/Drupal/FunctionalTests/DefaultContent/ContentImportTest.php
Due: none

Issue #3522497 by longwave, godotislate, quietone: Passing an array to constraint constructors is deprecated, use named arguments instead
  core/.deprecation-ignore.txt
  core/config/schema/core.data_types.schema.yml
  core/lib/Drupal/Core/Menu/Plugin/Validation/Constraint/MenuLinkDepthConstraint.php
  core/lib/Drupal/Core/Validation/ConstraintFactory.php
  core/lib/Drupal/Core/Validation/Plugin/Validation/Constraint/AllowedValuesConstraint.php
  core/lib/Drupal/Core/Validation/Plugin/Validation/Constraint/CountConstraint.php
  core/lib/Drupal/Core/Validation/Plugin/Validation/Constraint/CountryCodeConstraint.php
  core/lib/Drupal/Core/Validation/Plugin/Validation/Constraint/EmailConstraint.php
  core/lib/Drupal/Core/Validation/Plugin/Validation/Constraint/LengthConstraint.php
  core/lib/Drupal/Core/Validation/Plugin/Validation/Constraint/RangeConstraint.php
  core/modules/block/config/schema/block.schema.yml
  core/modules/system/src/SecurityAdvisories/SecurityAdvisory.php
  core/modules/update/src/ProjectRelease.php
  core/modules/user/src/Plugin/Validation/Constraint/UserCancelMethodsConstraint.php
  core/tests/Drupal/KernelTests/Core/TypedData/AllowedValuesConstraintValidatorTest.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #3544632 by fathershawn, nod_, godotislate, larowlan: Return only main content for endpoints designed to service htmx requests
  core/core.services.yml
  core/lib/Drupal/Core/EventSubscriber/HtmxContentViewSubscriber.php
  core/lib/Drupal/Core/Render/MainContent/HtmxRenderer.php
  core/modules/system/tests/modules/test_htmx/test_htmx.routing.yml
  core/tests/Drupal/KernelTests/Core/Htmx/HtmxRendererTest.php
Due: üßπ JavaScript linting (eslint)

Issue #3123491 by johnwebdev, joachim, donquixote, smustgrave, larowlan, alexpott, bircher, oily, phenaproxima: make it easier to instantiate ConfigImporter
  core/core.services.yml
  core/includes/install.core.inc
  core/lib/Drupal/Core/Config/ConfigImporterFactory.php
  core/modules/config/src/Form/ConfigSingleImportForm.php
  core/modules/config/src/Form/ConfigSync.php
  core/modules/config/tests/src/Kernel/ConfigUninstallViaCliImportTest.php
  core/modules/content_translation/tests/src/Kernel/ContentTranslationConfigImportTest.php
  core/modules/language/tests/src/Kernel/OverriddenConfigImportTest.php
  core/tests/Drupal/KernelTests/Core/Config/ConfigImportRecreateTest.php
  core/tests/Drupal/KernelTests/Core/Config/ConfigImportRenameValidationTest.php
  core/tests/Drupal/KernelTests/Core/Config/ConfigImporterMissingContentTest.php
  core/tests/Drupal/KernelTests/Core/Entity/ContentEntityNullStorageTest.php
  core/tests/Drupal/Tests/ConfigTestTrait.php
Due: üßπ JavaScript linting (eslint)

Issue #3548313 by ericpoir, klausi, liam morland, dmitry.korhov, rick bergmann, pwolanin, alexpott: Updating to 10.5.3 causes gateway timeouts on revisioned content
  core/lib/Drupal/Core/Entity/Query/Sql/Query.php
  core/modules/jsonapi/tests/src/FunctionalJavascript/JsonApiPerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryNodePagePerformanceTest.php
Due: none

Issue #3555522 by tobiasb: Fix account mock in \Drupal\Tests\menu_link_content\Unit\MenuLinkContentEntityAccessTest::testUnrecognizedOperation for php 8.5
  core/modules/menu_link_content/tests/src/Unit/MenuLinkContentEntityAccessTest.php
Due: none
