Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

üßπ JavaScript linting (eslint):
  needs:
  - üì¶Ô∏è Yarn
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - cd core
  - corepack enable
  - yarn run check:ckeditor5
  - yarn run lint:core-js-passing --format gitlab
  artifacts:
    reports:
      codequality: eslint-quality-report.json

üßπ CSS linting (stylelint):
  needs:
  - üì¶Ô∏è Yarn
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - corepack enable
  - cd core
  - yarn run build:css --check
  - yarn run lint:css --color --custom-formatter=node_modules/stylelint-formatter-gitlab
  artifacts:
    reports:
      codequality: stylelint-quality-report.json

üìî Validatable config:
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  artifacts:
    expire_in: 1 week
    expose_as: validatable-config
    paths:
    - HEAD.json
    - MR.json
  allow_failure:
    exit_codes:
    - 100
    - 101
    - 1
  script:
  - git checkout -f $CI_MERGE_REQUEST_DIFF_BASE_SHA
  ...

Issue #3495586 by tr, thejimbirch, quietone, cilefen, ghost of drupal past: PHPCS error in contributed module caused by core recipe.README.txt
  core/assets/scaffold/files/recipes.README.txt
Due: none

Issue #3500774 by kul.pratap, benjifisher: Fix errors in SourcePluginBase doc block
  core/modules/migrate/src/Plugin/migrate/source/SourcePluginBase.php
Due: none

Issue #3497931 by jurgenhaas, smustgrave: Sql::addWhere has wrong type for $value
  core/modules/views/src/Plugin/views/query/Sql.php
Due: none

Issue #3484600 by anjali rathod, plopesc, finnsky, lauriii, m4olivei, ckrina, berdir, smustgrave, catch: Show entity information on the Top Bar
  core/modules/navigation/components/badge/badge.component.yml
  core/modules/navigation/components/badge/badge.css
  core/modules/navigation/components/badge/badge.pcss.css
  core/modules/navigation/components/badge/badge.twig
  core/modules/navigation/components/title/assets/database.svg
  core/modules/navigation/components/title/assets/file.svg
  core/modules/navigation/components/title/title.component.yml
  core/modules/navigation/components/title/title.css
  core/modules/navigation/components/title/title.pcss.css
  core/modules/navigation/components/title/title.twig
  core/modules/navigation/components/toolbar-button/toolbar-button.css
  core/modules/navigation/components/toolbar-button/toolbar-button.pcss.css
  core/modules/navigation/css/components/top-bar.css
  core/modules/navigation/css/components/top-bar.pcss.css
  core/modules/navigation/navigation.services.yml
  core/modules/navigation/src/EntityRouteHelper.php
  core/modules/navigation/src/NavigationRenderer.php
  core/modules/navigation/src/Plugin/TopBarItem/PageContext.php
  core/modules/navigation/tests/src/Functional/NavigationTopBarPageContextTest.php
  core/modules/navigation/tests/src/FunctionalJavascript/PerformanceTest.php
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint)

Update .ht.router.php
  .ht.router.php
Due: none

Issue #3484575 by plopesc, kunalkursija, lauriii, finnsky, anjali rathod, roshni upadhyay, ckrina, berdir, m4olivei: Move the Edit button outside the more actions drop down
  core/modules/navigation/components/toolbar-button/assets/dots.svg
  core/modules/navigation/components/toolbar-button/assets/thin-pencil.svg
  core/modules/navigation/components/toolbar-button/toolbar-button.component.yml
  core/modules/navigation/components/toolbar-button/toolbar-button.css
  core/modules/navigation/components/toolbar-button/toolbar-button.pcss.css
  core/modules/navigation/src/Hook/NavigationHooks.php
  core/modules/navigation/src/NavigationRenderer.php
  core/modules/navigation/src/Plugin/TopBarItem/PageActions.php
  core/modules/navigation/templates/top-bar-local-tasks.html.twig
  core/modules/navigation/templates/top-bar-page-action.html.twig
  core/modules/navigation/templates/top-bar-page-actions.html.twig
  core/modules/navigation/tests/src/Functional/NavigationTopBarTest.php
  core/modules/navigation/tests/src/FunctionalJavascript/PerformanceTest.php
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint)

Issue #3463142 by plopesc, m4olivei, larowlan, penyaskito: Allow modules to hook into top of content section of new core navigation
  core/modules/navigation/layouts/navigation.html.twig
  core/modules/navigation/navigation.api.php
  core/modules/navigation/navigation.module
  core/modules/navigation/src/NavigationRenderer.php
  core/modules/navigation/templates/navigation-content-top.html.twig
  core/modules/navigation/tests/navigation_test/navigation_test.module
  core/modules/navigation/tests/src/Functional/NavigationContentTopTest.php
Due: üìî Validatable config

Issue #3495968 by nikolay shapovalov, berdir, smustgrave, quietone: Move entity_test_entity_types from entity_test.module
  core/modules/field_ui/tests/src/Functional/EntityDisplayFormBaseTest.php
  core/modules/system/tests/modules/entity_test/entity_test.install
  core/modules/system/tests/modules/entity_test/entity_test.module
  core/modules/system/tests/modules/entity_test/src/EntityTestHelper.php
  core/modules/system/tests/modules/entity_test/src/EntityTestTypesFilter.php
  core/modules/system/tests/modules/entity_test/src/Hook/EntityTestHooks.php
  core/modules/system/tests/modules/entity_test/src/Plugin/Derivative/EntityTestLocalTasks.php
  core/modules/system/tests/modules/entity_test/src/Routing/EntityTestRoutes.php
  core/modules/system/tests/src/Functional/Entity/EntityFormTest.php
  core/modules/system/tests/src/Functional/Entity/EntityRevisionsTest.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityApiTest.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityFieldDefaultValueTest.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityFieldTest.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityLanguageTestBase.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityRevisionTranslationTest.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityTranslationTest.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityUUIDTest.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityValidationTest.php
Due: üìî Validatable config

Issue #2233261 by nicxvan, catch, berdir, andypost, sun: Deprecate hook_hook_info groups, mark hook_hook_info() for deletion
  core/lib/Drupal/Core/Extension/ModuleHandler.php
  core/lib/Drupal/Core/Extension/module.api.php
  core/tests/Drupal/Tests/Core/Extension/ModuleHandlerTest.php
Due: none

Issue #3496403 by benjifisher: Remove obsolete try/catch block for batch ID
  core/includes/form.inc
Due: none

Issue #3494957 by sandip poddar, joachim, quietone: BasicSettingsForm pointlessly builds up a list of themes
  core/.phpstan-baseline.php
  core/modules/views_ui/src/Form/BasicSettingsForm.php
Due: none

Issue #3367556 by vensires, danchadwick, detroz, g089h515r806, groendijk: SDC components CSS & JS generated wrong url in windows / XAMPP
  core/lib/Drupal/Core/Theme/ComponentPluginManager.php
Due: none

Issue #3500687 by berdir: Use bootstrap cache bin in ThemeExtensionList
  core/core.services.yml
Due: üßπ JavaScript linting (eslint)

Issue #3454891 by quietone, xjm: Correct references to removed hook_archiver_info()
  core/lib/Drupal/Core/File/file.api.php
Due: none

Issue #3488834 by quietone, smustgrave: Remove Ban module from migration tests not in the module
  core/modules/migrate/tests/modules/migrate_plugin_config_test/migrate_plugin_config_test.info.yml
  core/modules/migrate/tests/modules/migrate_plugin_config_test/migrations/simple_migration.yml
  core/modules/migrate/tests/modules/migrate_plugin_config_test/src/Plugin/migrate/source/SimpleSource.php
  core/modules/migrate/tests/src/Kernel/Plugin/MigrationPluginConfigurationTest.php
  core/modules/migrate/tests/src/Kernel/Plugin/MigrationPluginListTest.php
  core/modules/migrate_drupal/tests/src/Kernel/Plugin/migrate/DestinationCategoryTest.php
  core/modules/migrate_drupal/tests/src/Kernel/StateFileExistsTest.php
Due: üßπ JavaScript linting (eslint)

Issue #3282744 by tr, smustgrave, ghost of drupal past, geek-merlin, nicxvan, danielveza: SAVED_DELETED is not used in D11, D10, D9, or D8 and should be removed
  core/includes/common.inc
Due: none

Issue #3499420 by plopesc: CSS Lint job gives unclear output when CSS is not properly rebuilt
  core/scripts/css/check.js
Due: üßπ JavaScript linting (eslint)

Issue #3488293 by oily, maneesha binish, plopesc, m4olivei, pameeela: Help link always appears in navigation
  core/modules/navigation/src/Plugin/Block/NavigationLinkBlock.php
  core/modules/navigation/tests/src/Functional/NavigationLinkBlockTest.php
Due: none

Issue #3462700 by niklan, richardgaunt, smustgrave, pdureau: Update ComponentValidator to always include the component ID
  core/lib/Drupal/Core/Theme/Component/ComponentValidator.php
  core/tests/Drupal/Tests/Core/Theme/Component/ComponentValidatorTest.php
Due: none

Issue #3477671 by quietone: Fix VariableComment.Missing in core/tests
  core/phpcs.xml.dist
  core/tests/Drupal/FunctionalTests/DefaultContent/ContentImportTest.php
  core/tests/Drupal/FunctionalTests/Installer/InstallerExistingConfigNoConfigTest.php
  core/tests/Drupal/FunctionalTests/Installer/InstallerExistingConfigProfileHookInstallTest.php
  core/tests/Drupal/KernelTests/Core/Action/DeleteActionTest.php
  core/tests/Drupal/KernelTests/Core/Plugin/PluginTestBase.php
  core/tests/Drupal/KernelTests/Core/Recipe/EntityMethodConfigActionsTest.php
  core/tests/Drupal/KernelTests/Core/Recipe/InputTest.php
  core/tests/Drupal/KernelTests/Core/Theme/RegistryTest.php
  core/tests/Drupal/Tests/Component/Annotation/PluginTest.php
  core/tests/Drupal/Tests/Composer/Plugin/Scaffold/ScaffoldTestResult.php
  core/tests/Drupal/Tests/Core/Asset/LibraryDiscoveryCollectorTest.php
  core/tests/Drupal/Tests/Core/Asset/LibraryDiscoveryParserTest.php
  core/tests/Drupal/Tests/Core/Common/TagsTest.php
  core/tests/Drupal/Tests/Core/Config/Entity/ConfigEntityBaseUnitTest.php
  core/tests/Drupal/Tests/Core/Controller/ControllerResolverTest.php
  core/tests/Drupal/Tests/Core/Entity/KeyValueStore/KeyValueEntityStorageTest.php
  core/tests/Drupal/Tests/Core/Entity/StubEntityBase.php
  core/tests/Drupal/Tests/Core/Form/ConfigFormBaseTraitTest.php
  core/tests/Drupal/Tests/Core/Logger/LoggerChannelTest.php
  core/tests/Drupal/Tests/Core/Menu/MenuLinkMock.php
  core/tests/Drupal/Tests/Core/Plugin/FilteredPluginManagerTraitTest.php
  core/tests/Drupal/Tests/Core/Plugin/PluginDependencyTraitTest.php
  core/tests/Drupal/Tests/Core/Render/RendererTest.php
  core/tests/Drupal/Tests/Core/Render/TestCacheableDependency.php
  core/tests/Drupal/Tests/Core/Session/AccessPolicyProcessorTest.php
  core/tests/Drupal/Tests/Core/Template/TwigExtensionTest.php
  core/tests/Drupal/Tests/Core/Utility/CallableResolverTest.php
  core/tests/Drupal/Tests/StreamCapturer.php
Due: none

Issue #3499234 by nikolay shapovalov, bbrala, nicxvan: Manually convert test modules hooks
  core/modules/jsonapi/tests/modules/jsonapi_test_field_filter_access/jsonapi_test_field_filter_access.module
  core/modules/jsonapi/tests/modules/jsonapi_test_field_filter_access/src/Hook/JsonTestFieldFilterAccessHooks.php
  core/modules/layout_builder/tests/modules/layout_builder_extra_field_test/layout_builder_extra_field_test.module
  core/modules/media_library/tests/modules/media_library_form_overwrite_test/media_library_form_overwrite_test.module
  core/modules/media_library/tests/modules/media_library_form_overwrite_test/src/Hook/MediaLibraryFormOverwriteTestHooks.php
Due: üìî Validatable config

Issue #3499234 by nikolay shapovalov, bbrala, nicxvan: Manually convert test modules hooks
  core/.phpstan-baseline.php
Due: none

Issue #3159210 by amateescu, andypost, acbramley, larowlan, pooja saraah, jibran, pwolanin: Support route aliasing (Symfony 5.4) and allow deprecating the route name
  core/lib/Drupal/Core/Routing/BcRoute.php
  core/lib/Drupal/Core/Routing/MatcherDumper.php
  core/lib/Drupal/Core/Routing/RouteBuilder.php
  core/lib/Drupal/Core/Routing/RouteProvider.php
  core/lib/Drupal/Core/Routing/RouteProviderInterface.php
  core/lib/Drupal/Core/Routing/RouteProviderLazyBuilder.php
  core/modules/system/src/Tests/Routing/MockRouteProvider.php
  core/modules/system/system.install
  core/modules/system/tests/modules/router_test_directory/router_test.routing.yml
  core/modules/system/tests/src/Functional/Routing/RouterTest.php
  core/modules/system/tests/src/Functional/Update/RouteAliasUpdateTest.php
  core/tests/Drupal/KernelTests/Core/Routing/RouteProviderTest.php
  core/tests/Drupal/KernelTests/RouteProvider.php
  core/tests/Drupal/Tests/Core/Routing/RoutingFixtures.php
Due: üßπ JavaScript linting (eslint)

Issue #3488836 by quietone: Remove Ban from help topics
  core/modules/user/help_topics/user.overview.html.twig
Due: none

Issue #3500403 by quietone, karimb: Convert long array syntax in comments starting with "//"
  core/lib/Drupal/Core/Config/ConfigImporter.php
  core/lib/Drupal/Core/Form/FormState.php
  core/modules/views_ui/tests/src/Functional/DefaultViewsTest.php
Due: none

Issue #3489179 by godotislate, ghost of drupal past: Referring the same entity multiple times breaks _referringItem
  core/lib/Drupal/Core/Field/Plugin/Field/FieldFormatter/EntityReferenceFormatterBase.php
  core/modules/field/tests/src/Kernel/EntityReference/EntityReferenceFormatterTest.php
  core/modules/image/src/Plugin/Field/FieldFormatter/ImageFormatterBase.php
  core/modules/image/tests/src/Functional/ImageFieldDefaultImagesTest.php
Due: none

Issue #3495959 by nikolay shapovalov, smustgrave, larowlan: Move helpers in ajax_forms_test.module and delete it
  core/.phpstan-baseline.php
  core/modules/system/tests/modules/ajax_forms_test/ajax_forms_test.module
  core/modules/system/tests/modules/ajax_forms_test/src/Callbacks.php
  core/modules/system/tests/modules/ajax_forms_test/src/Form/AjaxFormsTestAjaxElementsForm.php
  core/modules/system/tests/modules/ajax_forms_test/src/Form/AjaxFormsTestCommandsForm.php
  core/modules/system/tests/modules/ajax_forms_test/src/Form/AjaxFormsTestImageButtonForm.php
  core/modules/system/tests/modules/ajax_forms_test/src/Form/AjaxFormsTestLazyLoadForm.php
  core/modules/system/tests/modules/ajax_forms_test/src/Form/AjaxFormsTestSimpleForm.php
  core/modules/system/tests/modules/ajax_forms_test/src/Form/AjaxFormsTestValidationForm.php
Due: üìî Validatable config

Issue #3458099 by scott_euser, catch, smustgrave: Views handler loading should respect configuration
  core/modules/rest/tests/modules/rest_test_views/rest_test_views.install
  core/modules/rest/tests/modules/rest_test_views/test_views/views.view.test_serializer_display_entity.yml
  core/modules/rest/tests/modules/rest_test_views/test_views/views.view.test_serializer_display_field.yml
  core/modules/rest/tests/src/Functional/Views/StyleSerializerEntityTest.php
  core/modules/views/src/Plugin/ViewsHandlerManager.php
  core/modules/views/tests/modules/views_test_config/test_views/views.view.test_block_exposed_ajax.yml
  core/modules/views/tests/modules/views_test_config/test_views/views.view.test_block_exposed_ajax_with_page.yml
  core/modules/views/tests/modules/views_test_config/test_views/views.view.test_click_sort.yml
  core/modules/views/tests/modules/views_test_config/test_views/views.view.test_click_sort_ajax.yml
  core/modules/views/tests/modules/views_test_config/test_views/views.view.test_entity_test_protected_access.yml
  core/modules/views/tests/modules/views_test_config/test_views/views.view.test_exposed_block.yml
  core/modules/views/tests/modules/views_test_config/test_views/views.view.test_exposed_form_buttons.yml
  core/modules/views/tests/modules/views_test_config/test_views/views.view.test_exposed_form_checkboxes.yml
  core/modules/views/tests/modules/views_test_config/test_views/views.view.test_exposed_form_pager.yml
  core/modules/views/tests/modules/views_test_config/test_views/views.view.test_filter_in_operator_ui.yml
  core/modules/views/tests/modules/views_test_config/test_views/views.view.test_history.yml
  core/modules/views/tests/modules/views_test_config/test_views/views.view.test_remember_selected.yml
  core/modules/views/tests/modules/views_test_data_alter/views_test_data_alter.info.yml
  core/modules/views/tests/modules/views_test_data_alter/views_test_data_alter.views.inc
  core/modules/views/tests/src/Functional/Entity/BaseFieldAccessTest.php
  core/modules/views/tests/src/Functional/Handler/HandlerTest.php
  core/modules/views/tests/src/Functional/Plugin/ExposedFormCheckboxesTest.php
  core/modules/views/tests/src/Functional/Plugin/ExposedFormTest.php
  core/modules/views/tests/src/Kernel/Handler/FieldTimeIntervalTest.php
  core/modules/views/tests/src/Kernel/ModuleTest.php
  core/modules/views/tests/src/Kernel/Plugin/ExposedFormRenderTest.php
Due: üßπ JavaScript linting (eslint)

Issue #3490347 by alexpott, catch, dww, berdir, daffie, smustgrave: Replace ExtensionParser::scanDirectory() FileCache usage with InfoParser
  core/lib/Drupal/Core/Extension/ExtensionDiscovery.php
  core/modules/system/tests/src/Functional/Form/ModulesListFormWebTest.php
  core/tests/Drupal/Tests/Core/Extension/ExtensionDiscoveryTest.php
  core/tests/Drupal/Tests/Core/Update/UpdateRegistryTest.php
Due: none

Revert "Issue #3458099 by scott_euser, catch, smustgrave: Views handler loading should respect configuration"
  core/modules/rest/tests/modules/rest_test_views/rest_test_views.install
  core/modules/rest/tests/modules/rest_test_views/test_views/views.view.test_serializer_display_entity.yml
  core/modules/rest/tests/modules/rest_test_views/test_views/views.view.test_serializer_display_field.yml
  core/modules/rest/tests/src/Functional/Views/StyleSerializerEntityTest.php
  core/modules/views/src/Plugin/ViewsHandlerManager.php
  core/modules/views/tests/modules/views_test_config/test_views/views.view.test_block_exposed_ajax.yml
  core/modules/views/tests/modules/views_test_config/test_views/views.view.test_block_exposed_ajax_with_page.yml
  core/modules/views/tests/modules/views_test_config/test_views/views.view.test_click_sort.yml
  core/modules/views/tests/modules/views_test_config/test_views/views.view.test_click_sort_ajax.yml
  core/modules/views/tests/modules/views_test_config/test_views/views.view.test_entity_test_protected_access.yml
  core/modules/views/tests/modules/views_test_config/test_views/views.view.test_exposed_block.yml
  core/modules/views/tests/modules/views_test_config/test_views/views.view.test_exposed_form_buttons.yml
  core/modules/views/tests/modules/views_test_config/test_views/views.view.test_exposed_form_checkboxes.yml
  core/modules/views/tests/modules/views_test_config/test_views/views.view.test_exposed_form_pager.yml
  core/modules/views/tests/modules/views_test_config/test_views/views.view.test_filter_in_operator_ui.yml
  core/modules/views/tests/modules/views_test_config/test_views/views.view.test_history.yml
  core/modules/views/tests/modules/views_test_config/test_views/views.view.test_remember_selected.yml
  core/modules/views/tests/modules/views_test_data_alter/views_test_data_alter.info.yml
  core/modules/views/tests/modules/views_test_data_alter/views_test_data_alter.views.inc
  core/modules/views/tests/src/Functional/Entity/BaseFieldAccessTest.php
  core/modules/views/tests/src/Functional/Handler/HandlerTest.php
  core/modules/views/tests/src/Functional/Plugin/ExposedFormCheckboxesTest.php
  core/modules/views/tests/src/Functional/Plugin/ExposedFormTest.php
  core/modules/views/tests/src/Kernel/Handler/FieldTimeIntervalTest.php
  core/modules/views/tests/src/Kernel/ModuleTest.php
  core/modules/views/tests/src/Kernel/Plugin/ExposedFormRenderTest.php
Due: üßπ JavaScript linting (eslint)

Revert "Issue #3495959 by nikolay shapovalov, smustgrave, larowlan: Move helpers in ajax_forms_test.module and delete it"
  core/.phpstan-baseline.php
  core/modules/system/tests/modules/ajax_forms_test/ajax_forms_test.module
  core/modules/system/tests/modules/ajax_forms_test/src/Callbacks.php
  core/modules/system/tests/modules/ajax_forms_test/src/Form/AjaxFormsTestAjaxElementsForm.php
  core/modules/system/tests/modules/ajax_forms_test/src/Form/AjaxFormsTestCommandsForm.php
  core/modules/system/tests/modules/ajax_forms_test/src/Form/AjaxFormsTestImageButtonForm.php
  core/modules/system/tests/modules/ajax_forms_test/src/Form/AjaxFormsTestLazyLoadForm.php
  core/modules/system/tests/modules/ajax_forms_test/src/Form/AjaxFormsTestSimpleForm.php
  core/modules/system/tests/modules/ajax_forms_test/src/Form/AjaxFormsTestValidationForm.php
Due: üìî Validatable config

Issue #3495959 by nikolay shapovalov, nicxvan, smustgrave, catch, larowlan: Move helpers in ajax_forms_test.module and delete it
  core/.phpstan-baseline.php
  core/modules/system/tests/modules/ajax_forms_test/ajax_forms_test.module
  core/modules/system/tests/modules/ajax_forms_test/src/Callbacks.php
  core/modules/system/tests/modules/ajax_forms_test/src/Form/AjaxFormsTestAjaxElementsForm.php
  core/modules/system/tests/modules/ajax_forms_test/src/Form/AjaxFormsTestCommandsForm.php
  core/modules/system/tests/modules/ajax_forms_test/src/Form/AjaxFormsTestImageButtonForm.php
  core/modules/system/tests/modules/ajax_forms_test/src/Form/AjaxFormsTestLazyLoadForm.php
  core/modules/system/tests/modules/ajax_forms_test/src/Form/AjaxFormsTestSimpleForm.php
  core/modules/system/tests/modules/ajax_forms_test/src/Form/AjaxFormsTestValidationForm.php
Due: üìî Validatable config

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/package.json, core/yarn.lock, **/*.css
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module
