Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), ‚úÖÔ∏è PHPStan rules tests, üìî Validatable config

üßπ JavaScript linting (eslint):
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - - mkdir /build;
    - cp -Ria $CI_PROJECT_DIR/* /build/
    - cd /build
  ...

üßπ CSS linting (stylelint):
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - - mkdir /build;
    - cp -Ria $CI_PROJECT_DIR/* /build/
    - cd /build
  ...

‚úÖÔ∏è PHPStan rules tests:
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - docker-php-ext-enable pcov
  - cd core/tests/PHPStan
  - composer install
  - vendor/bin/phpunit tests --testdox --coverage-text --colors=always --coverage-cobertura=coverage.cobertura.xml --log-junit junit.xml
  artifacts:
    when: always
  ...

üìî Validatable config:
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
    _TARGET_PHP: 8.3-ubuntu
  artifacts:
    expire_in: 1 week
    expose_as: validatable-config
    paths:
    - HEAD.json
    - MR.json
  allow_failure:
    exit_codes:
    - 100
    - 101
    - 1
  script:
  - git checkout -f $CI_MERGE_REQUEST_DIFF_BASE_SHA
  ...

Issue #3278481 by andypost, gapple, smustgrave: PoItem::formatSingular doesn't add linebreak on untranslated strings
  core/lib/Drupal/Component/Gettext/PoItem.php
  core/tests/Drupal/Tests/Component/Gettext/PoItemTest.php
Due: none

Issue #3455183 by kim.pepper, mstrelan, xjm, mondrake: FileSaveUploadTest should not write to the app root
  core/modules/file/tests/src/Kernel/FileSaveUploadTest.php
Due: none

Issue #3485453 by anybody, koosvdkolk: Improve Media oEmbed error message "No matching provider found."
  core/modules/media/src/OEmbed/UrlResolver.php
  core/modules/media_library/tests/src/FunctionalJavascript/WidgetOEmbedTest.php
Due: none

Issue #3532199 by joelpittet, griffynh: Remove joelpittet as maintainer for Theme API
  core/MAINTAINERS.txt
Due: none

Issue #3532187 by immaculatexavier, alexpott, adrianm6254, xjm, sharif.elshobkshy: Composer issue when dealerdirect/phpcodesniffer-composer-installer update from v1.0.0 to v1.1.0
  composer.json
  composer.lock
Due: none

Drupal 11.2.2
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: ‚úÖÔ∏è PHPStan rules tests

Back to dev.
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: ‚úÖÔ∏è PHPStan rules tests

Drupal 10.5.1
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: ‚úÖÔ∏è PHPStan rules tests

Issue #3532532 by lauriii: Remove lauriii as subsystem maintainer of CKEditor 5 and Claro
  core/MAINTAINERS.txt
Due: none

Issue #3531688 by gabesullice, griffynh: Remove gabesullice as maintainer for JSON:API
  core/MAINTAINERS.txt
Due: none

Issue #3531953 by virag.jain, acbramley, smustgrave: Deprecate node_title_list
  core/modules/node/node.module
Due: üìî Validatable config

Issue #3505049 by nicxvan, godotislate, raveen_thakur51, sher1, catch, jnicola, johnv, reinimax, rudi teschner: Drupal 11.1.2 upgrade causes \Drupal::$container is not initialized yet error
  core/lib/Drupal/Core/Extension/ModuleHandler.php
  core/lib/Drupal/Core/Hook/HookCollectorPass.php
  core/modules/system/tests/modules/container_initialize/container_initialize.info.yml
  core/modules/system/tests/modules/container_initialize/container_initialize.module
  core/modules/system/tests/src/Functional/Hook/HookCollectorPassTest.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #3532871 by maxwhitehead, catch: Performance Test OTEL_COLLECTOR var not set in child pipeline
  .gitlab-ci.yml
  .gitlab-ci/pipeline.yml
Due: üßπ JavaScript linting (eslint)

Issue #2077977 by mohit_aghera, plopesc, er.pushpinderrana, nielsonm, xjm, smustgrave: Use FormBase class for the test module's form in file.module
  core/.phpstan-baseline.php
  core/modules/file/tests/file_test/src/Form/FileRequiredTestForm.php
  core/modules/file/tests/file_test/src/Form/FileTestForm.php
Due: none

Issue #3008943 by tim.plunkett, amateescu, brandonlira, sahil.goyal, yogeshmpawar, smustgrave, alexpott, ameymudras: Clean up todo in InlineBlockEntityOperations::handleEntityDelete()
  core/modules/layout_builder/src/InlineBlockEntityOperations.php
Due: none

Issue #3386313 by kksandr, mxr576, smustgrave, xjm, catch, longwave, larowlan, fjgarlin, quietone: The entity link label formatter should check URL access
  core/lib/Drupal/Core/Field/Plugin/Field/FieldFormatter/EntityReferenceLabelFormatter.php
  core/modules/field/tests/src/Kernel/EntityReference/EntityReferenceFormatterTest.php
  core/modules/media/tests/src/Functional/MediaAccessTest.php
Due: none

Issue #3532916 by catch: Unpack recipe test is in the wrong namespace (Tests vs BuildTest)
  core/tests/Drupal/BuildTests/Composer/Plugin/Unpack/Functional/UnpackRecipeTest.php
Due: none

Issue #3527408 by prudloff, smustgrave, xjm, benjifisher, catch, kim.pepper, larowlan: Add test for SA-CORE-2024-002
  core/modules/ckeditor5/tests/src/Unit/CKEditor5ImageControllerTest.php
Due: none

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/.eslint*, core/.prettier*, core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/.stylelintrc.json, core/.prettier*, core/package.json, core/yarn.lock, **/*.css
  ‚úÖÔ∏è PHPStan rules tests: any of: core/tests/PHPStan/**/*, composer/Metapackage/PinnedDevDependencies/composer.json
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module
