Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üìã PHPUnit Unit (PHPStan rules), üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üì¶ Yarn install on minimum Node.js version

üìã PHPUnit Unit (PHPStan rules):
  stage: ‚ö°Ô∏è Tests
  needs: []
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - docker-php-ext-enable pcov
  - cd core/tests/PHPStan
  - composer install
  - vendor/bin/phpunit tests --testdox --coverage-text --colors=always --coverage-cobertura=coverage.cobertura.xml --log-junit junit.xml
  artifacts:
  ...

üßπ JavaScript linting (eslint):
  before_script:
  - cd core
  - corepack enable
  - yarn install
  - cd ..
  cache:
    key:
    - .yarn-install-from-cache
    - cache
    - key
    paths:
    - .yarn-install-from-cache
    - cache
    - paths
    policy: pull-push
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
    CACHE_FILE: core/.eslintcache
  ...

üßπ CSS linting (stylelint):
  before_script:
  - cd core
  - corepack enable
  - yarn install
  - cd ..
  cache:
    key:
      files:
      - ./core/package.json
      - ./core/yarn.lock
    paths:
    - ./core/.yarn/cache
    policy: pull
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
    CACHE_FILE: core/.stylelintcache
  script:
  ...

üì¶ Yarn install on minimum Node.js version:
  stage: ü™Ñ Lint
  image: node:20
  variables:
    KUBERNETES_CPU_REQUEST: '1'
  script:
  - cd core
  - corepack enable
  - echo -e "Node version $(node --version)\nYarn version $(corepack yarn --version)"
  - yarn install

task: #3554720 Remove addition of a object type in all props
  core/lib/Drupal/Core/Theme/Component/ComponentMetadata.php
  core/tests/Drupal/Tests/Core/Theme/Component/ComponentMetadataTest.php
Due: none

refactor: #3608912 Move search updates back to search module and fix missing plugin errors
  core/.phpstan-baseline.php
  core/modules/help/help.install
  core/modules/help/help.post_update.php
  core/modules/help/src/Plugin/Search/HelpSearch.php
  core/modules/node/src/Plugin/Search/NodeSearch.php
  core/modules/search/modules/search_help/search_help.install
  core/modules/search/modules/search_help/src/Plugin/Search/SearchHelpSearch.php
  core/modules/search/search.install
  core/modules/search/search.post_update.php
  core/modules/search/tests/src/Functional/HelpSearchHelpUpgradeTest.php
  core/modules/search/tests/src/Functional/Update/SearchUpdateTest.php
  core/modules/system/system.install
  core/modules/system/tests/src/Functional/Update/AssetCompressUpdatePathTest.php
  core/modules/system/tests/src/Functional/Update/SequencesTableRemovalUpdateTest.php
  core/modules/system/tests/src/Functional/UpdateSystem/PreventDowngradeTest.php
  core/modules/system/tests/src/Functional/UpdateSystem/UpdatePathTestBaseFilledTest.php
  core/tests/Drupal/FunctionalTests/Update/UpdatePathTestBaseTest.php
  core/themes/olivero/tests/src/Functional/Update/OliveroPostUpdateTest.php
Due: none

Drupal 11.4.2
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/DevDependencies/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: üìã PHPUnit Unit (PHPStan rules)

Back to dev.
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/DevDependencies/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: üìã PHPUnit Unit (PHPStan rules)

fix: #3593939 AttributeRouteDiscovery: invokable controllers with class-only #[Route] never register routes due to wrong condition
  core/modules/system/tests/modules/router_test_directory/src/Controller/TestClassAttributeClassOnly.php
  core/tests/Drupal/Tests/Core/Routing/AttributeRouteDiscoveryTest.php
Due: none

fix: #3593939 AttributeRouteDiscovery: invokable controllers with class-only #[Route] never register routes due to wrong condition
  core/lib/Drupal/Core/Routing/AttributeRouteDiscovery.php
  core/modules/system/tests/modules/router_test_directory/src/Controller/TestClassAttributeClassOnly.php
  core/tests/Drupal/Tests/Core/Routing/AttributeRouteDiscoveryTest.php
Due: none

task: #3582158 Change use of Claro in help text
  core/modules/help/src/Hook/HelpHooks.php
  core/modules/search/help_topics/search.search.html.twig
Due: none

task: #3582158 Change use of Claro in help text
  core/modules/help/help_topics/help.help_topic_search.html.twig
  core/modules/help/src/Hook/HelpHooks.php
Due: none

fix: #3590350 WorkspacePublisher doesn't roll back when a PHP Error is thrown during publishing
  core/.phpstan-baseline.php
  core/modules/workspaces/src/WorkspaceMerger.php
  core/modules/workspaces/src/WorkspacePublisher.php
  core/modules/workspaces/tests/src/Kernel/WorkspacePublisherTest.php
Due: none

fix: #3595497 Collapsed Details Element causes JS Error for required textarea and select fields
  core/.phpstan-baseline.php
  core/misc/details.js
  core/modules/system/tests/modules/form_test/form_test.routing.yml
  core/modules/system/tests/modules/form_test/src/Form/FormTestDetailsContainsRequiredFieldsForm.php
  core/tests/Drupal/FunctionalJavascriptTests/Core/Form/FormGroupingElementsTest.php
Due: üßπ JavaScript linting (eslint)

fix: #3593233 Cloning an aggregate entity query shares its aggregate conditions with the original
  core/lib/Drupal/Core/Entity/Query/QueryBase.php
  core/lib/Drupal/Core/Entity/Query/Sql/Query.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityQueryAggregateTest.php
Due: none

task: #3570465 run-tests.sh - introduce an in-memory storage to replace --sqlite
  .gitlab-ci.yml
  core/scripts/run-tests.sh
  core/tests/Drupal/KernelTests/Core/Test/MemoryTestRunResultsStorageTest.php
  core/tests/Drupal/TestTools/TestRunner/Configuration.php
  core/tests/Drupal/TestTools/TestRunner/MemoryTestRunResultsStorage.php
Due: üßπ JavaScript linting (eslint)

task: #3600628 Remove misleading help text after using a 1-time login link
  core/modules/user/src/Controller/UserController.php
  core/modules/user/tests/src/Functional/UserLoginHttpTest.php
Due: none

task: #3589108 Refactor DeprecationHandler into a standard PHPUnit extension
  core/lib/Drupal/Core/Test/PhpUnitTestRunner.php
  core/phpunit.xml.dist
  core/scripts/test-site.php
  core/tests/Drupal/TestTools/ErrorHandler/BootstrapErrorHandler.php
  core/tests/Drupal/TestTools/Extension/DeprecationBridge/Configuration.php
  core/tests/Drupal/TestTools/Extension/DeprecationBridge/DeprecationHandler.php
  core/tests/Drupal/TestTools/TestRunner/Configuration.php
  core/tests/Drupal/Tests/Component/phpunit.xml.dist
  core/tests/Drupal/Tests/DrupalTestCaseTrait.php
  core/tests/bootstrap.php
Due: none

fix: #3575821 locale.check_translation route is not protected against CSRF
  core/modules/locale/locale.routing.yml
  core/modules/locale/tests/src/Functional/LocaleConfigTranslationImportTest.php
  core/modules/locale/tests/src/Functional/LocaleFileHashTest.php
  core/modules/locale/tests/src/Functional/LocaleUpdateCronTest.php
  core/modules/locale/tests/src/Functional/LocaleUpdateTest.php
Due: üßπ JavaScript linting (eslint)

fix: #3592946 ComponentNegotiator::negotiate() re-runs on every call when no replacement is found
  core/lib/Drupal/Core/Theme/ComponentNegotiator.php
  core/tests/Drupal/KernelTests/Components/ComponentNegotiatorTest.php
Due: none

fix: #3608776 [regression] Route discovery isn't fully compatible with Symfony routes
  core/lib/Drupal/Core/Routing/StaticRouteDiscoveryBase.php
  core/modules/system/tests/modules/router_test_directory/router_test.routing.yml
  core/tests/Drupal/KernelTests/Core/Routing/YamlRouteDiscoveryTest.php
Due: üßπ JavaScript linting (eslint)

fix: #3152267 Invalid use of array union operator
  core/modules/views/src/Plugin/views/PluginBase.php
  core/modules/views/tests/src/Unit/PluginBaseTest.php
Due: none

task: #3606411 Return the correct typehint when Drupal::classResolver() is called with a class string
  core/lib/Drupal.php
  core/lib/Drupal/Core/DependencyInjection/ClassResolverInterface.php
  core/modules/layout_builder/src/Hook/LayoutBuilderHooks.php
Due: none

fix: #3603333 Errors when stream wrappers instantiate services in constructors because register() is called before container is built
  core/lib/Drupal/Core/CoreServiceProvider.php
  core/lib/Drupal/Core/DependencyInjection/Compiler/StreamWrapperClassesPass.php
  core/lib/Drupal/Core/StreamWrapper/StreamWrapperManager.php
  core/modules/system/tests/modules/stream_wrapper_service_test/src/StreamWrapper/ServiceDependencyStreamWrapper.php
  core/modules/system/tests/modules/stream_wrapper_service_test/stream_wrapper_service_test.info.yml
  core/modules/system/tests/modules/stream_wrapper_service_test/stream_wrapper_service_test.services.yml
  core/tests/Drupal/KernelTests/Core/StreamWrapper/StreamWrapperManagerTest.php
Due: üßπ JavaScript linting (eslint)

Revert "fix: #3605792 SQL injection via unvalidated operator in case-insensitive entity query array conditions"
  core/lib/Drupal/Core/Entity/Query/Sql/pgsql/Condition.php
  core/modules/pgsql/tests/src/Unit/EntityQuery/ConditionTest.php
Due: none

Path conditions:
  üìã PHPUnit Unit (PHPStan rules): any of: core/tests/PHPStan/**/*, composer/Metapackage/PinnedDevDependencies/composer.json
  üßπ JavaScript linting (eslint): any of: core/.eslint*, core/.prettier*, core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/.stylelintrc.json, core/.prettier*, core/package.json, core/yarn.lock, **/*.css
  üì¶ Yarn install on minimum Node.js version: any of: core/package.json, core/yarn.lock
