Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/package.json, core/yarn.lock, **/*.css
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module

Issue #3365367 by bernardm28, finnsky, smustgrave, mherchel: Convert Olivero's teaser into a single directory component
  core/themes/olivero/components/teaser/teaser.component.yml
  core/themes/olivero/components/teaser/teaser.css
  core/themes/olivero/components/teaser/teaser.pcss.css
  core/themes/olivero/components/teaser/teaser.twig
  core/themes/olivero/css/components/field.css
  core/themes/olivero/css/components/field.pcss.css
  core/themes/olivero/css/components/node-teaser.css
  core/themes/olivero/css/components/node-teaser.pcss.css
  core/themes/olivero/css/layout/views.css
  core/themes/olivero/css/layout/views.pcss.css
  core/themes/olivero/templates/content/node--teaser.html.twig
  core/themes/olivero/templates/field/field--node--field-image.html.twig
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint)

Issue #3368713 by mondrake, longwave, Spokje, smustgrave, quietone, larowlan: Change @dataprovider to static in CommentLinkBuilderTest
  core/modules/comment/tests/src/Unit/CommentLinkBuilderTest.php
Due: none

Issue #3346218 by Kaushik1216, Harlor, urvashi_vora, xjm, pradhumanjain2311, nayana_mvr, smustgrave, larowlan, catch: Status message on comment edit is 'Your comment has been posted.'
  core/modules/comment/src/CommentForm.php
  core/modules/comment/tests/src/Functional/CommentPreviewTest.php
Due: none

Issue #3441700 by quietone: Update phpdocumentor/reflection-docblock for Drupal 11
  composer.lock
  composer/Metapackage/PinnedDevDependencies/composer.json
Due: none

Issue #3239139 by shubh_, Theresa.Grannum, alexpott: Refactor (if feasible) uses of the jQuery animate function to use Vanilla/native
  core/.eslintrc.jquery.json
  core/misc/ajax.js
  core/modules/block/js/block.admin.js
  core/modules/ckeditor5/js/ckeditor5.js
Due: üßπ JavaScript linting (eslint)

Issue #3441331 by andypost, longwave, Spokje, xjm: Update to Twig 3.9
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  core/composer.json
  core/lib/Drupal/Core/Template/TwigNodeTrans.php
  core/lib/Drupal/Core/Template/TwigNodeVisitor.php
  core/lib/Drupal/Core/Template/TwigNodeVisitorCheckDeprecations.php
  core/modules/help/tests/modules/help_topics_twig_tester/src/HelpTestTwigNodeVisitor.php
  core/modules/system/tests/modules/sdc_other_node_visitor/src/Twig/Profiler/EnterProfileNode.php
  core/modules/system/tests/modules/sdc_other_node_visitor/src/Twig/Profiler/LeaveProfileNode.php
Due: none

Revert "Issue #3239139 by shubh_, Theresa.Grannum, alexpott: Refactor (if feasible) uses of the jQuery animate function to use Vanilla/native"
  core/.eslintrc.jquery.json
  core/misc/ajax.js
  core/modules/block/js/block.admin.js
  core/modules/ckeditor5/js/ckeditor5.js
Due: üßπ JavaScript linting (eslint)

Issue #3441755 by longwave: Change @dataprovider to static in ContextHandlerTest
  core/tests/Drupal/Tests/Core/Plugin/ContextHandlerTest.php
Due: none

Issue #3239139 by shubh_, Theresa.Grannum, alexpott: Refactor (if feasible) uses of the jQuery animate function to use Vanilla/native
  core/.eslintrc.jquery.json
  core/misc/ajax.js
  core/modules/block/js/block.admin.js
  core/modules/ckeditor5/js/ckeditor5.js
  core/profiles/demo_umami/tests/src/FunctionalJavascript/AssetAggregationAcrossPagesTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryAuthenticatedPerformanceTest.php
Due: üßπ JavaScript linting (eslint)

Issue #3417363 by narendraR, Wim Leers, catch, phenaproxima, alexpott: Add validation constraints to field_ui.settings
  core/modules/field_ui/config/schema/field_ui.schema.yml
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #3441331 follow-up:wq: Update to Twig 3.9
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  core/composer.json
Due: none

Issue #3440170 by mxr576, quietone, smustgrave, longwave, larowlan: Forked DocParser incorrectly parses ::class notations
  core/lib/Drupal/Component/Annotation/Doctrine/DocParser.php
  core/tests/Drupal/Tests/Component/Annotation/Doctrine/DocParserTest.php
Due: none

Issue #3439892 by SolimanHarkas, pradhumanjain2311, vensires: Fix Language tests that rely on UID1's super user behavior
  core/modules/language/tests/src/Functional/LanguageConfigOverrideImportTest.php
Due: none

Issue #3205912 by quietone, kunal.sachdev, tedbow: Move duplicate code in testNormalUpdateAvailable to a new method
  core/modules/update/tests/src/Functional/UpdateSemverTestBaselineTrait.php
Due: none

Issue #3437325 by narendraR, phenaproxima, alexpott, Wim Leers: Add validation constraints to system.date
  core/lib/Drupal/Core/Validation/Plugin/Validation/Constraint/CountryCodeConstraint.php
  core/modules/system/config/install/system.date.yml
  core/modules/system/config/schema/system.schema.yml
  core/modules/system/src/Form/RegionalForm.php
  core/modules/system/system.post_update.php
  core/modules/system/tests/src/Functional/Form/RegionalSettingsFormTest.php
  core/modules/system/tests/src/Functional/Update/SystemDateSettingsUpdateTest.php
  core/modules/system/tests/src/Kernel/Migrate/d6/MigrateSystemConfigurationTest.php
  core/tests/Drupal/Tests/Core/Validation/Plugin/Validation/Constraint/CountryCodeConstraintTest.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #3441331 by andypost, longwave, alexpott, Spokje, xjm: Update to Twig 3.9
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  core/composer.json
  core/lib/Drupal/Core/Template/TwigNodeTrans.php
  core/lib/Drupal/Core/Template/TwigNodeVisitor.php
  core/lib/Drupal/Core/Template/TwigNodeVisitorCheckDeprecations.php
  core/modules/help/tests/modules/help_topics_twig_tester/src/HelpTestTwigNodeVisitor.php
  core/modules/system/tests/modules/sdc_other_node_visitor/src/Twig/Profiler/EnterProfileNode.php
  core/modules/system/tests/modules/sdc_other_node_visitor/src/Twig/Profiler/LeaveProfileNode.php
Due: none

Issue #3441844 by catch: Set budgets rather than exact numbers of asset size assertions
  core/profiles/demo_umami/tests/src/FunctionalJavascript/AssetAggregationAcrossPagesTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryAuthenticatedPerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryFrontPagePerformanceTest.php
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTest.php
Due: none

Issue #3441727 by quietone: Document update fixture drupal.broken.xml
  core/modules/update/tests/fixtures/release-history/drupal.broken.xml
  core/modules/update/tests/src/Functional/UpdateSemverCoreTest.php
Due: none

Issue #3411839 by catch, Spokje, smustgrave, Gábor Hojtsy: [11.x] Update to jQuery 4.0.x beta
  core/assets/vendor/jquery/jquery.js
  core/assets/vendor/jquery/jquery.min.js
  core/assets/vendor/jquery/jquery.min.map
  core/core.libraries.yml
  core/package.json
  core/profiles/demo_umami/tests/src/FunctionalJavascript/AssetAggregationAcrossPagesTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryAuthenticatedPerformanceTest.php
  core/yarn.lock
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint)

Issue #3441844 by catch, nod_: Set budgets rather than exact numbers of asset size assertions
  core/profiles/demo_umami/tests/src/FunctionalJavascript/AssetAggregationAcrossPagesTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryFrontPagePerformanceTest.php
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTest.php
Due: none

Issue #3441844 by catch, dipakmdhrm, nod_, alexpott, longwave: Set budgets rather than exact numbers of asset size assertions
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryAuthenticatedPerformanceTest.php
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTest.php
Due: none

Issue #3439905 by SolimanHarkas, thebumik, smustgrave, pradhumanjain2311, vensires, alexpott: Fix Shortcut tests that rely on UID1's super user behavior
  core/modules/shortcut/tests/src/Functional/ShortcutCacheTagsTest.php
  core/modules/shortcut/tests/src/Functional/ShortcutLinksTest.php
Due: none

Issue #3439521 by pradhumanjain2311, quietone, smustgrave: Update composer dependencies for Drupal 10.3
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  core/lib/Drupal/Component/DependencyInjection/composer.json
  core/lib/Drupal/Component/EventDispatcher/composer.json
Due: none

Issue #3414563 by quietone, catch, smustgrave, andypost, Spokje: Add new 10.3.x database dump fixtures, without modules deprecated for removal in 11.x
  core/modules/system/tests/fixtures/update/drupal-10.3.0.bare.standard.php.gz
  core/modules/system/tests/fixtures/update/drupal-10.3.0.filled.standard.php.gz
  core/modules/system/tests/src/Functional/UpdateSystem/UpdatePathTestBaseFilledTest.php
  core/tests/Drupal/FunctionalTests/Update/UpdatePathTestBase.php
  core/tests/Drupal/FunctionalTests/Update/UpdatePathTestBaseTest.php
Due: none

Issue #3414563 by quietone, catch, smustgrave, andypost, Spokje: Add new 10.3.x database dump fixtures, without modules deprecated for removal in 11.x
  core/modules/system/tests/fixtures/update/drupal-10.3.0.bare.standard.php.gz
  core/modules/system/tests/fixtures/update/drupal-10.3.0.filled.standard.php.gz
Due: none

Issue #3441718 by mondrake: Fix string array keys in data sets returned by data provider methods that do not match the parameter names in Unit tests
  core/modules/ckeditor5/tests/src/Unit/HTMLRestrictionsTest.php
  core/modules/filter/tests/src/Unit/FilterImageLazyLoadTest.php
  core/modules/migrate/tests/src/Unit/MigrateExecutableTest.php
  core/modules/migrate/tests/src/Unit/MigrateSqlIdMapTest.php
  core/modules/migrate/tests/src/Unit/RowTest.php
  core/modules/migrate/tests/src/Unit/process/SubProcessTest.php
  core/modules/migrate_drupal/tests/src/Unit/FieldDiscoveryTest.php
  core/tests/Drupal/Tests/Component/Serialization/YamlPeclTest.php
  core/tests/Drupal/Tests/Component/Serialization/YamlTest.php
  core/tests/Drupal/Tests/Component/Serialization/YamlTestBase.php
  core/tests/Drupal/Tests/Component/Utility/ColorTest.php
  core/tests/Drupal/Tests/Component/Utility/CryptTest.php
  core/tests/Drupal/Tests/Core/Access/AccessManagerTest.php
  core/tests/Drupal/Tests/Core/Session/UserRolesAccessPolicyTest.php
Due: none
