Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

üßπ JavaScript linting (eslint):
  needs:
  - üì¶Ô∏è Yarn
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - cd core
  - corepack enable
  - yarn run check:ckeditor5
  - yarn run lint:core-js-passing --format gitlab
  artifacts:
    reports:
      codequality: eslint-quality-report.json

üßπ CSS linting (stylelint):
  needs:
  - üì¶Ô∏è Yarn
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - corepack enable
  - cd core
  - yarn run build:css --check
  - yarn run lint:css --color --custom-formatter=node_modules/stylelint-formatter-gitlab
  artifacts:
    reports:
      codequality: stylelint-quality-report.json

üìî Validatable config:
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  artifacts:
    expire_in: 1 week
    expose_as: validatable-config
    paths:
    - HEAD.json
    - MR.json
  allow_failure:
    exit_codes:
    - 100
    - 101
    - 1
  script:
  - git checkout -f $CI_MERGE_REQUEST_DIFF_BASE_SHA
  ...

Issue #3213995 by groendijk, bnjmnm, gauravvvv, smovs, cindytwilliams, smustgrave, lauriii: Olivero: submit button is too wide in the off canvas dialog box
  core/misc/dialog/off-canvas/css/button.css
  core/misc/dialog/off-canvas/css/button.pcss.css
Due: üßπ CSS linting (stylelint)

Issue #3478422 by catch: Tweak @group #slow for kernel tests again
  core/modules/jsonapi/tests/src/Kernel/TestCoverageTest.php
  core/tests/Drupal/KernelTests/Core/Extension/ModuleConfigureRouteTest.php
  core/tests/Drupal/KernelTests/Core/Theme/Stable9LibraryOverrideTest.php
Due: none

Issue #3478422 by catch: Tweak @group #slow for kernel tests again
  core/tests/Drupal/KernelTests/Core/Extension/ModuleConfigureRouteTest.php
  core/tests/Drupal/KernelTests/Core/Theme/Stable9LibraryOverrideTest.php
Due: none

Issue #3474123 by plopesc, smustgrave, alexpott: Reorganize navigation settings to be more consistent
  core/modules/navigation/config/install/navigation.settings.yml
  core/modules/navigation/config/schema/navigation.schema.yml
  core/modules/navigation/navigation.install
  core/modules/navigation/src/Form/SettingsForm.php
  core/modules/navigation/src/NavigationRenderer.php
  core/modules/navigation/tests/src/Functional/NavigationLogoTest.php
  core/modules/navigation/tests/src/FunctionalJavascript/NavigationSettingsFormTest.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #3387960 by quietone, alexpott, daffie, mondrake, amateescu: Fix return type in \Drupal\Core\Database\Query\Merge::__toString
  core/.phpstan-baseline.php
  core/lib/Drupal/Core/Database/Query/Merge.php
  core/lib/Drupal/Core/Database/Query/Query.php
  core/tests/Drupal/KernelTests/Core/Database/MergeTest.php
  core/tests/Drupal/Tests/Core/Database/Stub/StubUpsert.php
  core/tests/fixtures/database_drivers/module/core_fake/src/Driver/Database/CoreFakeWithAllCustomClasses/Upsert.php
Due: none

Issue #3100083 by finnsky, Zsuffa Dávid, ankithashetty, _utsavsharma, gauravvvv, smustgrave, zrpnr, markconroy: Add js message theme override to match Umami message markup
  core/profiles/demo_umami/tests/src/FunctionalJavascript/AssetAggregationAcrossPagesTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryFrontPagePerformanceTest.php
  core/profiles/demo_umami/themes/umami/css/components/layout_builder/layout-builder.css
  core/profiles/demo_umami/themes/umami/css/components/messages/messages.css
  core/profiles/demo_umami/themes/umami/js/components/messages/messages.js
  core/profiles/demo_umami/themes/umami/templates/components/messages/status-messages.html.twig
  core/profiles/demo_umami/themes/umami/umami.info.yml
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint)

Issue #3100083 by finnsky, Zsuffa Dávid, ankithashetty, _utsavsharma, gauravvvv, smustgrave, zrpnr, markconroy, nod_: Follow-up for Add js message theme override to match Umami message markup
  core/profiles/demo_umami/tests/src/FunctionalJavascript/AssetAggregationAcrossPagesTest.php
Due: none

Issue #3478504 by andypost: upgrade phpstan to 1.11.10 for 10.4.x
  composer.json
  composer.lock
  composer/Metapackage/DevDependencies/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  core/.phpstan-baseline.php
  core/modules/file/src/EventSubscriber/FileEventSubscriber.php
  core/modules/pgsql/src/Driver/Database/pgsql/Schema.php
  core/modules/sqlite/src/Driver/Database/sqlite/Statement.php
  core/tests/Drupal/KernelTests/AssertContentTrait.php
  core/tests/Drupal/Tests/WebAssert.php
Due: none

Issue #3477366 by andypost: Fix closures in tests for PHP 8.4
  core/modules/system/tests/src/Functional/System/ErrorHandlerTest.php
  core/tests/Drupal/FunctionalTests/Bootstrap/UncaughtExceptionTest.php
  core/tests/Drupal/Tests/Core/Utility/CallableResolverTest.php
Due: none

Issue #3310963 by rcodina, quietone, anybody, joegraduate, smustgrave, xjm, cilefen, alexpott, larowlan: Attach correct image/webp header in .htaccess when mime module is enabled
  .htaccess
  core/assets/scaffold/files/htaccess
Due: none

Issue #3359649 by arnested, shalini_jha, alexpott, arunkumark, cilefen, smustgrave, aduthois, catch, quietone: User routes alter in custom module throwing error on "_format"
  core/modules/serialization/src/EventSubscriber/UserRouteAlterSubscriber.php
  core/modules/serialization/tests/modules/user_route_alter_test/src/Routing/RouteSubscriber.php
  core/modules/serialization/tests/modules/user_route_alter_test/user_route_alter_test.info.yml
  core/modules/serialization/tests/modules/user_route_alter_test/user_route_alter_test.services.yml
  core/modules/serialization/tests/src/Kernel/UserRouteAlterTest.php
Due: üßπ JavaScript linting (eslint)

Issue #3473014 by tom konda: Prefer to add "node:" prefix to require() which imports Node.js built-in module
  core/modules/ckeditor5/tests/src/Nightwatch/Tests/drupalHtmlBuilderTest.js
  core/modules/ckeditor5/webpack.config.js
  core/scripts/css/changeOrAdded.js
  core/scripts/css/check.js
  core/scripts/css/compile.js
  core/scripts/css/postcss-watch.js
  core/scripts/js/assets/process/jqueryui.js
  core/scripts/js/ckeditor5-check-plugins.js
  core/scripts/js/ckeditor5-types-documentation.js
  core/scripts/js/vendor-update.js
  core/tests/Drupal/Nightwatch/Commands/drupalInstall.js
  core/tests/Drupal/Nightwatch/Commands/drupalLoginAsAdmin.js
  core/tests/Drupal/Nightwatch/Commands/drupalUninstall.js
  core/tests/Drupal/Nightwatch/globals.js
  core/tests/Drupal/Nightwatch/nightwatch.conf.js
Due: üßπ JavaScript linting (eslint)

Issue #3478332 by phenaproxima, nicxvan, thejimbirch, alexpott: Add a way to prevent recipes' imported config from being compared too strictly to active config
  core/lib/Drupal/Core/Recipe/AllowListConfigStorage.php
  core/lib/Drupal/Core/Recipe/ConfigConfigurator.php
  core/lib/Drupal/Core/Recipe/Recipe.php
  core/lib/Drupal/Core/Recipe/RecipeExtensionConfigStorage.php
  core/recipes/administrator_role/config/user.role.administrator.yml
  core/recipes/administrator_role/recipe.yml
  core/recipes/content_editor_role/config/user.role.content_editor.yml
  core/recipes/content_editor_role/recipe.yml
  core/tests/Drupal/FunctionalTests/Core/Recipe/RecipeTestTrait.php
  core/tests/Drupal/KernelTests/Core/Recipe/ConfigConfiguratorTest.php
  core/tests/Drupal/KernelTests/Core/Recipe/RecipeValidationTest.php
Due: üßπ JavaScript linting (eslint)

Fix typo in README.md
  README.md
Due: none

Issue #3479160 by longwave, catch, fjgarlin, nod_: 11.0.x yarn dependencies have mushroomed
  core/modules/ckeditor5/tests/src/Unit/VersionTest.php
Due: none

Issue #3303126 by phenaproxima, narendrar, thejimbirch, alexpott, aangel, Wim Leers, b_sharpe, longwave, akhil babu: Make it possible for recipes to prompt for input values
  core/lib/Drupal/Core/Command/BootableCommandTrait.php
  core/lib/Drupal/Core/Recipe/ConsoleInputCollector.php
  core/lib/Drupal/Core/Recipe/InputCollectorInterface.php
  core/lib/Drupal/Core/Recipe/InputConfigurator.php
  core/lib/Drupal/Core/Recipe/Recipe.php
  core/lib/Drupal/Core/Recipe/RecipeCommand.php
  core/lib/Drupal/Core/Recipe/RecipeInfoCommand.php
  core/lib/Drupal/Core/Recipe/RecipeRunner.php
  core/misc/cspell/dictionary.txt
  core/recipes/feedback_contact_form/config/contact.form.feedback.yml
  core/recipes/feedback_contact_form/recipe.yml
  core/scripts/drupal
  core/tests/Drupal/FunctionalTests/Core/Recipe/RecipeCommandTest.php
  core/tests/Drupal/FunctionalTests/Core/Recipe/RecipeTestTrait.php
  core/tests/Drupal/FunctionalTests/Core/Recipe/StandardRecipeTest.php
  core/tests/Drupal/KernelTests/Core/Recipe/InputTest.php
  core/tests/Drupal/KernelTests/Core/Recipe/RecipeValidationTest.php
Due: üßπ JavaScript linting (eslint)

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/package.json, core/yarn.lock, **/*.css
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module
