Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Unit tests PHPStan rules, üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

Unit tests PHPStan rules:
  stage: ‚ö°Ô∏è Unit tests
  needs: []
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - docker-php-ext-enable pcov
  - cd core/tests/PHPStan
  - composer install
  - vendor/bin/phpunit tests --testdox --coverage-text --colors=always --coverage-cobertura=coverage.cobertura.xml --log-junit junit.xml
  ...

üßπ JavaScript linting (eslint):
  before_script:
  - cd core
  - corepack enable
  - yarn install
  - cd ..
  cache:
    key:
    - .yarn-install-from-cache
    - cache
    - key
    paths:
    - .yarn-install-from-cache
    - cache
    - paths
    policy: pull-push
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
    CACHE_FILE: core/.eslintcache
  ...

üßπ CSS linting (stylelint):
  before_script:
  - cd core
  - corepack enable
  - yarn install
  - cd ..
  cache:
    key:
      files:
      - ./core/package.json
      - ./core/yarn.lock
    paths:
    - ./core/.yarn/cache
    policy: pull
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
    CACHE_FILE: core/.stylelintcache
  script:
  ...

üìî Validatable config:
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  artifacts:
    expire_in: 1 week
    expose_as: validatable-config
    paths:
    - HEAD.json
    - MR.json
  allow_failure:
    exit_codes:
    - 100
    - 101
    - 1
  script:
  - git checkout -f $CI_MERGE_REQUEST_DIFF_BASE_SHA
  ...

Revert "fix: #2339921 Undefined variable: groups in \Drupal\views\Plugin\views\filter\FilterPluginBase::groupForm"
  core/.phpstan-baseline.php
  core/modules/views/src/Plugin/views/filter/FilterPluginBase.php
  core/modules/views/tests/modules/views_test_config/test_views/views.view.test_empty_group_form.yml
  core/modules/views/tests/src/Functional/FilterGroupFormTest.php
Due: üßπ JavaScript linting (eslint)

fix: #2339921 Undefined variable: groups in \Drupal\views\Plugin\views\filter\FilterPluginBase::groupForm
  core/.phpstan-baseline.php
  core/modules/views/src/Plugin/views/filter/FilterPluginBase.php
  core/modules/views/tests/modules/views_test_config/test_views/views.view.test_empty_group_form.yml
  core/modules/views/tests/src/Functional/FilterGroupFormTest.php
Due: üßπ JavaScript linting (eslint)

task: #3557585 [backport to 11.2, 10.6, and 10.5] Update to Composer 2.9.2
  core/modules/package_manager/tests/src/Kernel/PhpTufValidatorTest.php
  core/tests/Drupal/BuildTests/Composer/Component/ComponentsTaggedReleaseTest.php
Due: none

task: #3557585 [backport to 11.2, 10.6, and 10.5] Update to Composer 2.9.2
  core/tests/Drupal/BuildTests/Composer/Component/ComponentsTaggedReleaseTest.php
Due: none

task: #3565943 [security hardening] Update composer to 2.9.3
  composer.lock
  composer/Metapackage/PinnedDevDependencies/composer.json
Due: Unit tests PHPStan rules

task: #3382815 Prepare to use a 'main' branch as the development target
  composer.json
  composer.lock
  composer/Generator/Builder/DrupalCoreRecommendedBuilder.php
  composer/Generator/Builder/DrupalDevDependenciesBuilder.php
  composer/Generator/Builder/DrupalPinnedDevDependenciesBuilder.php
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/DevDependencies/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Plugin/ProjectMessage/composer.json
  composer/Plugin/RecipeUnpack/composer.json
  composer/Plugin/Scaffold/composer.json
  composer/Plugin/VendorHardening/composer.json
  core/composer.json
  core/tests/Drupal/Tests/Composer/Generator/BuilderTest.php
Due: Unit tests PHPStan rules

feat: #3563812 Top bar CSS does not set text colour
  core/modules/navigation/css/components/top-bar.css
  core/modules/navigation/css/components/top-bar.pcss.css
Due: üßπ CSS linting (stylelint)

performance: #3566156 APCu FileCache can consume a ton of memory due to caching procedural hook data since Drupal 11.1
  core/lib/Drupal/Core/Hook/HookCollectorPass.php
Due: none

task: #3565943 [backport] [security hardening] Update composer to 2.9.3
  composer.lock
  composer/Metapackage/PinnedDevDependencies/composer.json
Due: Unit tests PHPStan rules

Drupal 11.3.2
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: Unit tests PHPStan rules

Back to dev.
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: Unit tests PHPStan rules

Drupal 10.6.2
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: Unit tests PHPStan rules

performance: #3520997 DefaultLazyPluginCollection unnecessarily instantiates plugins when sorting collection
  core/lib/Drupal/Core/Plugin/DefaultLazyPluginCollection.php
  core/tests/Drupal/Tests/Core/Plugin/DefaultLazyPluginCollectionTest.php
Due: none

fix: #3566140 Properly include install files for runtime requirements
  core/modules/system/src/SystemManager.php
Due: none

fix: #3152281 Extra field blocks render even when empty
  core/modules/layout_builder/src/Plugin/Block/ExtraFieldBlock.php
  core/modules/layout_builder/tests/modules/layout_builder_test/src/Hook/LayoutBuilderTestEntityHooks.php
  core/modules/layout_builder/tests/src/Functional/LayoutBuilderTest.php
Due: üìî Validatable config

fix: #3244349 Access forbidden when editing/deleting a block from the block layout with a machine name beginning with . dot
  core/modules/block/config/schema/block.schema.yml
  core/modules/block/src/BlockForm.php
  core/modules/block/tests/src/Kernel/BlockValidationTest.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

fix: #3552531 Unsupported operand types: array + null when calling field_formatter_third_party_settings_form hook
  core/modules/field_ui/src/Form/EntityViewDisplayEditForm.php
  core/modules/field_ui/tests/modules/field_ui_test/src/Hook/FieldUiTestHooks.php
Due: üìî Validatable config

task: #3308418 Improve more error messages on unrouted URLs
  core/lib/Drupal/Core/Url.php
  core/tests/Drupal/Tests/Core/UrlTest.php
Due: none

task: #2436209 Test ContentEntityBase constructor called with multilanguage values
  core/tests/Drupal/KernelTests/Core/Entity/EntityTranslationTest.php
Due: none

task: #2620330 Move ContainerDerivativeDiscoveryDecoratorTest::testGetDefinitions() to DerivativeDiscoveryDecoratorTest
  core/tests/Drupal/Tests/Core/Plugin/Discovery/ContainerDerivativeDiscoveryDecoratorTest.php
  core/tests/Drupal/Tests/Core/Plugin/Discovery/DerivativeDiscoveryDecoratorTest.php
Due: none

task: #3093118 Move link title validation from LinkWidget into a constraint
  core/modules/link/src/Plugin/Field/FieldType/LinkItem.php
  core/modules/link/src/Plugin/Field/FieldWidget/LinkWidget.php
  core/modules/link/src/Plugin/Validation/Constraint/LinkTitleRequiredConstraint.php
  core/modules/link/src/Plugin/Validation/Constraint/LinkTitleRequiredConstraintValidator.php
  core/modules/link/tests/src/Unit/Plugin/Validation/Constraint/LinkTitleRequiredConstraintValidatorTest.php
Due: none

fix: #3387013 Check LinkItemInterface::isEmpty() before validating
  core/modules/link/src/Plugin/Validation/Constraint/LinkAccessConstraintValidator.php
  core/modules/link/src/Plugin/Validation/Constraint/LinkExternalProtocolsConstraintValidator.php
  core/modules/link/src/Plugin/Validation/Constraint/LinkNotExistingInternalConstraintValidator.php
  core/modules/link/src/Plugin/Validation/Constraint/LinkTypeConstraintValidator.php
  core/modules/link/tests/src/Unit/Plugin/Validation/Constraint/LinkAccessConstraintValidatorTest.php
  core/modules/link/tests/src/Unit/Plugin/Validation/Constraint/LinkExternalProtocolsConstraintValidatorTest.php
  core/modules/link/tests/src/Unit/Plugin/Validation/Constraint/LinkNotExistingInternalConstraintValidatorTest.php
  core/modules/link/tests/src/Unit/Plugin/Validation/Constraint/LinkTypeConstraintValidatorTest.php
Due: none

fix: #3565937 Workaround PHP bug with fibers and __get()
  core/lib/Drupal/Core/Field/Plugin/Field/FieldType/EntityReferenceItemBase.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityReferenceFieldTest.php
Due: none

Harden UserData deserialization to prevent object injection
  .gitignore
  core/modules/user/src/Plugin/migrate/source/d6/User.php
  core/modules/user/src/UserData.php
Due: none

fix: #3566261 [regression] custom field twig for second comment fields has null value in comment after 11.3.0 upgrade
  core/modules/comment/src/Hook/CommentThemeHooks.php
  core/modules/comment/tests/src/Kernel/CommentFieldPreprocessTest.php
  core/modules/system/tests/themes/test_theme/templates/field--comment-other.html.twig
  core/modules/system/tests/themes/test_theme/templates/field--comment.html.twig
Due: üìî Validatable config

Path conditions:
  Unit tests PHPStan rules: any of: core/tests/PHPStan/**/*, composer/Metapackage/PinnedDevDependencies/composer.json
  üßπ JavaScript linting (eslint): any of: core/.eslint*, core/.prettier*, core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/.stylelintrc.json, core/.prettier*, core/package.json, core/yarn.lock, **/*.css
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module, **/src/Hook/*.php
