Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), ‚úÖÔ∏è PHPStan rules tests, üìî Validatable config

üßπ JavaScript linting (eslint):
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - - mkdir /build;
    - cp -Ria $CI_PROJECT_DIR/* /build/
    - cd /build
  ...

üßπ CSS linting (stylelint):
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - - mkdir /build;
    - cp -Ria $CI_PROJECT_DIR/* /build/
    - cd /build
  ...

‚úÖÔ∏è PHPStan rules tests:
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - docker-php-ext-enable pcov
  - cd core/tests/PHPStan
  - composer install
  - vendor/bin/phpunit tests --testdox --coverage-text --colors=always --coverage-cobertura=coverage.cobertura.xml --log-junit junit.xml
  artifacts:
    when: always
  ...

üìî Validatable config:
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
    _TARGET_PHP: 8.3-ubuntu
  artifacts:
    expire_in: 1 week
    expose_as: validatable-config
    paths:
    - HEAD.json
    - MR.json
  allow_failure:
    exit_codes:
    - 100
    - 101
    - 1
  script:
  - git checkout -f $CI_MERGE_REQUEST_DIFF_BASE_SHA
  ...

Issue #3485650 by brandonlira, igorgoncalves, isa.bel, joachim, smustgrave: DraggableListBuilder needs to document its expectations
  core/lib/Drupal/Core/Config/Entity/DraggableListBuilder.php
Due: none

Issue #2854576 by nonprofit, meenakshig, markconroy, namitasaxena, vsujeetkumar, fabienly, andrewtur, borisson_, xjm: Discourage use of Stark as a base theme (and possibly mark it internal or hidden)
  core/themes/stark/stark.info.yml
Due: üßπ JavaScript linting (eslint)

Issue #3506321 by libbna, rkoller, sdhruvi5142, mgifford, ckrina: Increase the color contrast of the toggle button border
  core/modules/navigation/css/components/admin-toolbar.css
  core/modules/navigation/css/components/admin-toolbar.pcss.css
Due: üßπ CSS linting (stylelint)

Issue #3050353 by mstrelan, larowlan: \Drupal\Tests\system\Functional\Module\VersionTest could be a Kernel (or Unit) Test
  core/modules/system/tests/modules/system_test/src/Hook/SystemTestHooks.php
  core/modules/system/tests/src/Kernel/Module/ModulesListFormTest.php
Due: none

Issue #2010202 by shalini_jha, samit.310@gmail.com, andypost, garphy, longwave, kgoel, smustgrave, berdir, catch, larowlan, internetdevels, tstoeckler, sun: Deprecate comment_uri()
  core/.phpstan-baseline.php
  core/modules/comment/comment.module
  core/modules/comment/src/Entity/Comment.php
  core/modules/comment/tests/src/Kernel/CommentUriDeprecationTest.php
Due: üìî Validatable config

Issue #3535330 by joelpittet, benabaird: Assets paths in CSS no longer rewritten when aggregation is enabled
  core/lib/Drupal/Core/Asset/CssCollectionOptimizerLazy.php
  core/tests/Drupal/Tests/Core/Asset/CssCollectionOptimizerLazyUnitTest.php
  core/tests/Drupal/Tests/Core/Asset/css_test_files/css_minified_with_relative_paths.css
  core/tests/Drupal/Tests/Core/Asset/css_test_files/css_minified_with_relative_paths.css.optimized.css
Due: üßπ CSS linting (stylelint)

Issue #3002019 by hanoii, dcam, rpayanm, giuseppe87: Register a user without email verification should still send an email
  core/modules/user/src/Plugin/rest/resource/UserRegistrationResource.php
  core/modules/user/tests/src/Functional/UserRegistrationRestTest.php
Due: none

Issue #3533072 by virag.jain, smustgrave, larowlan: Remove form_base_test.inc and move test_form_id into \Drupal\Tests\Core\Form\TestForm::buildForm()
  core/tests/Drupal/Tests/Core/Form/FormBuilderTest.php
  core/tests/Drupal/Tests/Core/Form/FormTestBase.php
  core/tests/Drupal/Tests/Core/Form/fixtures/form_base_test.inc
Due: none

Issue #3476898 by chizh273, brandonlira, himanshu raj, xjm, anapaulagoetze: The "Result summary" has a non-translatable description
  core/modules/views/src/Plugin/views/area/Result.php
Due: none

Issue #29338 by acbramley, longwave, lauriii, xjm, smustgrave, xmacinfo, berdir, pasqualle, catch, damondt, killes@www.drop.org, flyke, poker10: Hide Promoted/Sticky fields by default in Form display
  core/modules/field_ui/tests/src/FunctionalJavascript/ManageDisplayTest.php
  core/modules/jsonapi/tests/src/Functional/EntityFormDisplayTest.php
  core/modules/node/src/Entity/Node.php
  core/modules/node/tests/src/Functional/MultiStepNodeFormBasicOptionsTest.php
  core/modules/node/tests/src/Functional/NodeTranslationUITest.php
  core/tests/Drupal/FunctionalTests/Rest/EntityFormDisplayResourceTestBase.php
Due: none

Issue #3536204 by mstrelan, xjm, nicxvan, catch, lendude: Deprecate magic cancel submit handlers in Views UI
  core/modules/views_ui/src/ViewUI.php
Due: none

Issue #3537668 by phenaproxima: Dynamically figure out the actual path to Composer's binary, and make it read-only
  core/modules/package_manager/package_manager.services.yml
  core/modules/package_manager/src/ExecutableFinder.php
  core/modules/package_manager/tests/src/Unit/ExecutableFinderTest.php
Due: üßπ JavaScript linting (eslint)

Issue #3531287 by godotislate, johnwt, cilefen, chike, xjm, catch, longwave, mradcliffe, phenaproxima, moshe weitzman: Remove core/recommended constraint for sebastian/diff
  composer/Generator/Builder/DrupalCoreRecommendedBuilder.php
  composer/Metapackage/CoreRecommended/composer.json
Due: none

Issue #3535526 by smustgrave, acbramley, dww, berdir: Deprecate block_content_add_body_field and stop automatic creation of body field
  core/modules/block_content/block_content.module
  core/modules/block_content/src/BlockContentTypeForm.php
  core/modules/block_content/tests/src/Functional/BlockContentCacheTagsTest.php
  core/modules/block_content/tests/src/Functional/BlockContentTypeTest.php
  core/modules/block_content/tests/src/Functional/Rest/BlockContentResourceTestBase.php
  core/modules/block_content/tests/src/Traits/BlockContentCreationTrait.php
  core/modules/content_moderation/tests/src/Functional/LayoutBuilderContentModerationIntegrationTest.php
  core/modules/content_moderation/tests/src/Functional/ModerationStateBlockTest.php
  core/modules/content_translation/tests/src/Functional/ContentTranslationStandardFieldsTest.php
  core/modules/jsonapi/tests/src/Functional/BlockContentTest.php
  core/modules/layout_builder/tests/src/FunctionalJavascript/LayoutBuilderDisableInteractionsTest.php
  core/modules/layout_builder/tests/src/FunctionalJavascript/LayoutBuilderTest.php
  core/modules/layout_builder/tests/src/FunctionalJavascript/LayoutBuilderUiTest.php
Due: üìî Validatable config

Issue #3539331 by dww, godotislate, nicxvan: Incorrect warning for system requirements for APCu memory
  core/modules/system/tests/src/Functional/System/StatusTest.php
Due: none

Issue #3533061 by nob, nexusnovaz, joachim: ConditionInterface docs mention nonexistent QueryConditionInterface
  core/lib/Drupal/Core/Database/Query/ConditionInterface.php
  core/modules/views/src/Plugin/views/query/Sql.php
Due: none

Issue #3253763 by erikbrgn, acbramley, larowlan, smustgrave, mstrelan: Performance of moderation control state filter is slow
  core/modules/content_moderation/content_moderation.post_update.php
  core/modules/content_moderation/src/ContentModerationStateStorageSchema.php
  core/modules/content_moderation/tests/fixtures/content-moderation.php
  core/modules/content_moderation/tests/src/Functional/Update/ContentModerationStateIndexUpdatePathTest.php
Due: none

Issue #3534845 by mstrelan: Add service alias for Symfony\Component\EventDispatcher\EventDispatcherInterface
  core/core.services.yml
Due: üßπ JavaScript linting (eslint)

Issue #3526769 by mcdruid, smustgrave: Avoid abuse of config sync import tarballs
  core/modules/config/src/Form/ConfigImportForm.php
  core/modules/config/tests/fixtures/not_just_config.tar.gz
  core/modules/config/tests/src/Functional/ConfigImportUploadTest.php
Due: none

Issue #3499865 by quietone, annmarysruthy, smustgrave, mstrelan: Deprecate the Ban module
  core/modules/ban/ban.info.yml
  core/modules/ban/tests/src/Functional/GenericTest.php
  core/modules/ban/tests/src/Kernel/BanIpTest.php
  core/modules/ban/tests/src/Kernel/Migrate/d7/MigrateBlockedIpsTest.php
  core/modules/ban/tests/src/Kernel/Plugin/migrate/source/d7/BlockedIpsTest.php
  core/modules/ban/tests/src/Unit/BanAdminTest.php
  core/modules/ban/tests/src/Unit/BanMiddlewareTest.php
Due: üßπ JavaScript linting (eslint)

Issue #3539494 by drunken monkey, mondrake: The new purge() method is missing from \Drupal\Core\Database\Transaction\TransactionManagerInterface
  core/lib/Drupal/Core/Database/Transaction/TransactionManagerBase.php
  core/lib/Drupal/Core/Database/Transaction/TransactionManagerInterface.php
  core/tests/Drupal/KernelTests/Core/Database/TransactionTest.php
Due: none

Issue #3038908 by acbramley, claudiu.cristea, alexpott, xjm, smustgrave, berdir, catch, agentrickard: Deprecate node_access_view_all_nodes()
  core/includes/bootstrap.inc
  core/modules/node/node.api.php
  core/modules/node/node.module
  core/modules/node/node.services.yml
  core/modules/node/src/Cache/NodeAccessGrantsCacheContext.php
  core/modules/node/src/Hook/NodeHooks1.php
  core/modules/node/src/NodeGrantDatabaseStorage.php
  core/modules/node/tests/src/Functional/NodeAccessGrantsCacheContextTest.php
  core/modules/node/tests/src/Functional/NodeAccessRebuildNodeGrantsTest.php
  core/modules/node/tests/src/Functional/NodeQueryAlterTest.php
  core/modules/node/tests/src/Functional/Views/StatusExtraTest.php
  core/modules/node/tests/src/Kernel/NodeAccessTest.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #3535637 by mondrake, godotislate: Improve run-tests.sh output when deprecations and warnings are triggered
  core/lib/Drupal/Core/Test/PhpUnitTestRunner.php
  core/lib/Drupal/Core/Test/SimpletestTestRunResultsStorage.php
  core/modules/system/system.install
  core/scripts/run-tests.sh
  core/tests/Drupal/KernelTests/Core/Test/SimpletestTestRunResultsStorageTest.php
  core/tests/Drupal/KernelTests/Core/Test/TestRunTest.php
  core/tests/Drupal/Tests/Core/Test/PhpUnitTestRunnerTest.php
Due: none

Issue #3538277 by acbramley, mstrelan, dww, catch, nicxvan: Add NodePreview enum and replace usage of DRUPAL_DISABLED, DRUPAL_OPTIONAL and DRUPAL_REQUIRED
  core/lib/Drupal/Core/Utility/OptionsEnumTrait.php
  core/modules/node/config/schema/node.schema.yml
  core/modules/node/migrations/d6_node_type.yml
  core/modules/node/migrations/d7_node_type.yml
  core/modules/node/src/Entity/NodeType.php
  core/modules/node/src/Form/NodeForm.php
  core/modules/node/src/Form/NodeTypeForm.php
  core/modules/node/src/NodePreviewMode.php
  core/modules/node/src/NodeTypeInterface.php
  core/modules/node/tests/src/Functional/PagePreviewTest.php
  core/modules/node/tests/src/Kernel/ConfigActionsTest.php
  core/modules/node/tests/src/Kernel/Migrate/d6/MigrateNodeTypeTest.php
  core/modules/node/tests/src/Kernel/NodeTypeValidationTest.php
  core/modules/views/tests/src/Kernel/TestViewsTest.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #3536196 by mstrelan, nicxvan, dcam: Investigate preprocess_field in the comment module
  core/modules/comment/src/Hook/CommentThemeHooks.php
Due: none

Issue #3159050 by berdir, smustgrave, longwave, lauriii, neclimdul, catch: Allow deprecating theme suggestions
  core/lib/Drupal/Core/Render/theme.api.php
  core/lib/Drupal/Core/Theme/ThemeManager.php
  core/modules/system/tests/src/Functional/Theme/ThemeSuggestionsAlterTest.php
  core/modules/system/tests/themes/test_deprecated_suggestion_theme/templates/theme-test-suggestion-provided--deprecated.html.twig
  core/modules/system/tests/themes/test_deprecated_suggestion_theme/test_deprecated_suggestion_theme.info.yml
  core/modules/system/tests/themes/test_deprecated_suggestion_theme/test_deprecated_suggestion_theme.theme
  core/themes/engines/twig/twig.engine
Due: üßπ JavaScript linting (eslint)

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/.eslint*, core/.prettier*, core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/.stylelintrc.json, core/.prettier*, core/package.json, core/yarn.lock, **/*.css
  ‚úÖÔ∏è PHPStan rules tests: any of: core/tests/PHPStan/**/*, composer/Metapackage/PinnedDevDependencies/composer.json
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module
