Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), ‚úÖÔ∏è PHPStan rules tests, üìî Validatable config

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/.eslint*, core/.prettier*, core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/.stylelintrc.json, core/.prettier*, core/package.json, core/yarn.lock, **/*.css
  ‚úÖÔ∏è PHPStan rules tests: any of: core/tests/PHPStan/**/*, composer/Metapackage/PinnedDevDependencies/composer.json
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module

Issue #3555720 by alexpott, adam-vessey, kristiaanvandeneynde: Latest revision subquery optimisation
  core/lib/Drupal/Core/Entity/Query/Sql/Query.php
Due: none

Issue #3550051 by pdureau, christian.wiedemann, schillerm, larowlan: Convert attributes props to an Attribute object before Attribute::merge()
  core/lib/Drupal/Core/Render/Element/ComponentElement.php
  core/tests/Drupal/KernelTests/Components/ComponentRenderTest.php
Due: none

Issue #3555918 by alexpott: \Drupal\Core\Entity\EntityBase::toUrl() triggers deprecations on PHP 8.5
  core/lib/Drupal/Core/Entity/EntityBase.php
Due: none

Issue #3555885 by alexpott, smustgrave: \Drupal\Tests\Core\Entity\TypedData\EntityAdapterUnitTest does not mock entity_type->getId() correctly triggering deprecations on PHP 8.5
  core/tests/Drupal/Tests/Core/Entity/TypedData/EntityAdapterUnitTest.php
Due: none

Issue #3554130 by alexpott: If cache exists cspell job fails
  .gitlab-ci.yml
Due: üßπ JavaScript linting (eslint)

Issue #3538006 by catch: Optimize EntityFieldManager::buildBundleFieldDefinitions()
  core/lib/Drupal/Core/Entity/EntityFieldManager.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryAuthenticatedPerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryFrontPagePerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryNodePagePerformanceTest.php
  core/tests/Drupal/Tests/Core/Entity/EntityFieldManagerTest.php
Due: none

Issue #3522779 by mglaman, phenaproxima, alexpott: Dispatch an event for manipulating entity data during content import
  core/lib/Drupal/Core/DefaultContent/Importer.php
  core/lib/Drupal/Core/DefaultContent/PreEntityImportEvent.php
  core/tests/Drupal/KernelTests/Core/DefaultContent/ImporterTest.php
  core/tests/fixtures/pre_entity_import_default_content/entity_test/01234567-89ab-cdef-0123-456789abcdef.yml
  core/tests/fixtures/pre_entity_import_default_content/entity_test/12345678-9abc-def0-1234-56789abcdef0.yml
  core/tests/fixtures/pre_entity_import_default_content/entity_test/87654321-fedc-ba98-7654-321098765432.yml
  core/tests/fixtures/pre_entity_import_default_content/entity_test/abcdef01-2345-6789-abcd-ef0123456789.yml
  core/tests/fixtures/pre_entity_import_default_content/entity_test/fedcba98-7654-3210-fedc-ba9876543210.yml
Due: üßπ JavaScript linting (eslint)

Drupal 11.2.6
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: ‚úÖÔ∏è PHPStan rules tests

Back to dev.
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: ‚úÖÔ∏è PHPStan rules tests

Drupal 10.5.5
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: ‚úÖÔ∏è PHPStan rules tests

Issue #3554414 by catch, berdir: User #placeholder_strategy_denylist for CacheOptionalInterface blocks to prevent them being rendered by BigPipe
  core/modules/block/src/BlockViewBuilder.php
  core/modules/language/tests/src/Functional/LanguageSwitchingTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryAuthenticatedPerformanceTest.php
Due: none

Drupal 11.3.0-alpha1
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: ‚úÖÔ∏è PHPStan rules tests

Issue #3548982 by mondrake, dcam: Enforce removal of PHPUnit annotations from test classes' class metadata
  core/modules/ckeditor5/tests/src/Kernel/SmartDefaultSettingsTest.php
  core/modules/ckeditor5/tests/src/Kernel/ValidatorsTest.php
  core/modules/ckeditor5/tests/src/Kernel/WildcardHtmlSupportTest.php
  core/modules/layout_builder/tests/src/Kernel/EntityViewAlterTest.php
  core/modules/migrate/tests/src/Kernel/Plugin/source/MigrateSqlSourceCountCacheTest.php
  core/modules/package_manager/tests/src/Kernel/DirectWriteTest.php
  core/modules/system/tests/src/Kernel/Common/UrlTest.php
  core/phpstan.neon.dist
  core/tests/Drupal/KernelTests/Core/Form/FormCacheTest.php
  core/tests/PHPStan/Rules/TestClassClassMetadata.php
  core/tests/PHPStan/composer.json
  core/tests/PHPStan/fixtures/test-classes-with-metadata.php
  core/tests/PHPStan/tests/TestClassClassMetadataTest.php
Due: ‚úÖÔ∏è PHPStan rules tests

Issue #3554384 by xjm: Recommend PHP 8.4 for Drupal 11.3 and 10.6
  core/lib/Drupal.php
Due: none

Issue #3555935 by alexpott: \Drupal\Tests\Core\Config\Entity\ConfigEntityStorageTest triggers deprecations on PHP. 8.5
  core/tests/Drupal/Tests/Core/Config/Entity/ConfigEntityStorageTest.php
Due: none

Issue #3556493 by longwave, alexpott: Revert deprecation in ContentEntityStorageBase::__get()
  core/lib/Drupal/Core/Entity/ContentEntityStorageBase.php
Due: none

Drupal 11.2.7
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: ‚úÖÔ∏è PHPStan rules tests

Issue #3553853 by smustgrave, amateescu: Change placeholder type for text_textarea schema
  core/modules/text/config/schema/text.schema.yml
  core/tests/Drupal/KernelTests/Core/Entity/EntityFormDisplayValidationTest.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #3553219 by berdir, catch, nicxvan: Remove persistent views:unpack_options caching
  core/modules/views/src/Plugin/views/display/DisplayPluginBase.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryAuthenticatedPerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryFrontPagePerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryNodePagePerformanceTest.php
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTest.php
Due: none

Issue #3556289 by alexpott, nicxvan, berdir: \Drupal\Core\Hook\HookCollectorPass has stale documentation
  core/lib/Drupal/Core/Hook/HookCollectorPass.php
  core/lib/Drupal/Core/Hook/ThemeHookCollectorPass.php
Due: none
