Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Unit tests PHPStan rules, üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

Unit tests PHPStan rules:
  stage: ‚ö°Ô∏è Unit tests
  needs: []
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - docker-php-ext-enable pcov
  - cd core/tests/PHPStan
  - composer install
  - vendor/bin/phpunit tests --testdox --coverage-text --colors=always --coverage-cobertura=coverage.cobertura.xml --log-junit junit.xml
  ...

üßπ JavaScript linting (eslint):
  before_script:
  - cd core
  - corepack enable
  - yarn install
  - cd ..
  cache:
    key:
    - .yarn-install-from-cache
    - cache
    - key
    paths:
    - .yarn-install-from-cache
    - cache
    - paths
    policy: pull-push
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
    CACHE_FILE: core/.eslintcache
  ...

üßπ CSS linting (stylelint):
  before_script:
  - cd core
  - corepack enable
  - yarn install
  - cd ..
  cache:
    key:
      files:
      - ./core/package.json
      - ./core/yarn.lock
    paths:
    - ./core/.yarn/cache
    policy: pull
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
    CACHE_FILE: core/.stylelintcache
  script:
  ...

üìî Validatable config:
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  artifacts:
    expire_in: 1 week
    expose_as: validatable-config
    paths:
    - HEAD.json
    - MR.json
  allow_failure:
    exit_codes:
    - 100
    - 101
    - 1
  script:
  - git checkout -f $CI_MERGE_REQUEST_DIFF_BASE_SHA
  ...

task: #3571057 Remove deprecated code from lib/Asset and lib/Cache
  core/.phpstan-baseline.php
  core/core.api.php
  core/core.services.yml
  core/lib/Drupal/Core/Asset/AssetResolver.php
  core/lib/Drupal/Core/Asset/LibraryDiscovery.php
  core/lib/Drupal/Core/Asset/LibraryDiscoveryCollector.php
  core/lib/Drupal/Core/Asset/LibraryDiscoveryInterface.php
  core/lib/Drupal/Core/Asset/LibraryDiscoveryParser.php
  core/lib/Drupal/Core/Cache/ApcuBackend.php
  core/lib/Drupal/Core/Cache/BackendChain.php
  core/lib/Drupal/Core/Cache/CacheBackendInterface.php
  core/lib/Drupal/Core/Cache/ChainedFastBackend.php
  core/lib/Drupal/Core/Cache/DatabaseBackend.php
  core/lib/Drupal/Core/Cache/MemoryBackend.php
  core/lib/Drupal/Core/Cache/NullBackend.php
  core/lib/Drupal/Core/Cache/PhpBackend.php
  core/lib/Drupal/Core/Cache/RefinableCacheableDependencyTrait.php
  core/modules/system/tests/modules/performance_test/src/Cache/CacheBackendDecorator.php
  core/tests/Drupal/KernelTests/Core/Cache/GenericCacheBackendUnitTestBase.php
  core/tests/Drupal/Tests/Core/Asset/AssetResolverTest.php
  core/tests/Drupal/Tests/Core/Asset/LibraryDiscoveryTest.php
  core/tests/Drupal/Tests/Core/Cache/RefinableCacheableDependencyTraitTest.php
Due: üßπ JavaScript linting (eslint)

fix: #3564735 Container / service exceptions while installed from existing config
  core/lib/Drupal/Core/Config/ConfigImporter.php
  core/tests/Drupal/KernelTests/Core/Config/ConfigImporterTest.php
Due: none

task: #3571596 Remove authorize.php related Twig and CSS from stable9
  core/themes/stable9/css/system/system.maintenance.css
  core/themes/stable9/templates/admin/authorize-report.html.twig
Due: üßπ CSS linting (stylelint)

task: #3575873 Remove final authorize.php reference in comment
  core/lib/Drupal/Core/DrupalKernel.php
Due: none

task: #3575841 Remove deprecations from .inc files (not theme)
  core/includes/common.inc
  core/includes/form.inc
  core/includes/install.inc
  core/lib/Drupal/Core/Extension/Requirement/RequirementSeverity.php
  core/lib/Drupal/Core/Extension/module.api.php
  core/lib/Drupal/Core/Render/Element/StatusReport.php
  core/modules/system/src/Element/StatusReportPage.php
  core/modules/system/src/SystemManager.php
  core/modules/system/tests/src/Kernel/Element/StatusReportPageTest.php
  core/tests/Drupal/KernelTests/Core/Extension/LegacyRequirementSeverityTest.php
  core/tests/Drupal/KernelTests/Core/Render/Element/StatusReportTest.php
  core/tests/Drupal/Tests/Core/Extension/Requirement/RequirementSeverityTest.php
Due: none

task: #3335756 Drop sequences table in Drupal 12
  core/includes/install.core.inc
  core/lib/Drupal/Core/Installer/InstallerRedirectTrait.php
  core/modules/system/system.install
  core/modules/system/tests/src/Functional/Update/SequencesTableRemovalUpdateTest.php
  core/modules/user/tests/src/Traits/UserCreationTrait.php
  core/tests/Drupal/KernelTests/Core/Installer/InstallerRedirectTraitTest.php
  core/tests/Drupal/KernelTests/KernelTestBase.php
Due: none

fix: #3575871 Most tests should not try to install obsolete modules
  core/modules/config/tests/src/Functional/ConfigImportAllTest.php
  core/modules/jsonapi/tests/src/Kernel/TestCoverageTest.php
  core/modules/rest/tests/src/Kernel/EntityResource/EntityResourceRestTestCoverageTest.php
  core/tests/Drupal/KernelTests/Core/Asset/ResolvedLibraryDefinitionsFilesMatchTest.php
  core/tests/Drupal/KernelTests/Core/Extension/ModuleConfigureRouteTest.php
  core/tests/Drupal/KernelTests/Core/Theme/Stable9TemplateOverrideTest.php
  core/tests/Drupal/KernelTests/Core/Theme/StableLibraryOverrideTestBase.php
Due: none

task: #3572375 [ci] Run tests in top level pipeline, use recursion for secondary test runs
  .gitlab-ci.yml
Due: üßπ JavaScript linting (eslint)

task: #3572339 Modernize locale.fetch.inc
  core/includes/install.core.inc
  core/modules/locale/locale.fetch.inc
  core/modules/locale/locale.module
  core/modules/locale/locale.services.yml
  core/modules/locale/locale.translation.inc
  core/modules/locale/src/Form/TranslationStatusForm.php
  core/modules/locale/src/Hook/LocaleHooks.php
  core/modules/locale/src/LocaleFetch.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

task: #3569459 Replace http with https for www.w3.org
  core/modules/link/src/AttributeXss.php
Due: none

task: #3569457 Replace http with https for test.com and www.test.com
  core/modules/filter/tests/filter.url-input.txt
  core/modules/filter/tests/filter.url-output.txt
Due: none

task: #3574461 Deprecate not implementing \Drupal\layout_builder\SupportAwareSectionStorageInterface, implement it in navigation
  core/modules/layout_builder/src/SectionStorage/SectionStorageManager.php
  core/modules/layout_builder/tests/modules/layout_builder_test/src/Plugin/SectionStorage/SimpleConfigSectionStorage.php
  core/modules/layout_builder/tests/modules/layout_builder_test/src/Plugin/SectionStorage/TestStateBasedSectionStorage.php
  core/modules/navigation/src/Plugin/SectionStorage/NavigationSectionStorage.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryFrontPagePerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryNodePagePerformanceTest.php
Due: none

docs: #2976416 BaseFieldDefinition::setDefaultValue() and ::setDefaultValueCallback() have no documentation
  core/.phpstan-baseline.php
  core/lib/Drupal/Core/Field/BaseFieldDefinition.php
Due: none

fix: #2613044 Requests are pushed onto the request stack twice, popped once
  core/core.services.yml
  core/lib/Drupal/Core/DrupalKernel.php
  core/lib/Drupal/Core/StackMiddleware/KernelPreHandle.php
  core/modules/system/tests/modules/http_kernel_test/http_kernel_test.routing.yml
  core/modules/system/tests/modules/http_kernel_test/src/Controller/TestController.php
  core/modules/taxonomy/tests/src/Kernel/Views/TaxonomyDefaultArgumentTest.php
  core/tests/Drupal/KernelTests/Core/DrupalKernel/DrupalKernelRequestStackTest.php
  core/tests/Drupal/KernelTests/KernelTestBase.php
Due: üßπ JavaScript linting (eslint)

fix: #3560659 HTMX Drupal behaviors are not applied when swapped element is body
  core/misc/htmx/htmx-assets.js
  core/modules/system/tests/modules/test_htmx/src/Controller/HtmxTestAttachmentsController.php
  core/modules/system/tests/modules/test_htmx/src/Hook/TestHtmxHooks.php
  core/modules/system/tests/modules/test_htmx/test_htmx.routing.yml
  core/tests/Drupal/Nightwatch/Tests/htmx/htmxTest.js
Due: üßπ JavaScript linting (eslint), üìî Validatable config

fix: #3558934 Fix styling of link autocomplete with long titles
  core/modules/ckeditor5/css/entity-link-suggestions.css
Due: üßπ CSS linting (stylelint)

fix: #3549107 Escape or strip control characters in JSON:API
  core/misc/cspell/dictionary.txt
  core/modules/jsonapi/tests/src/Unit/Encoder/JsonEncoderTest.php
  core/modules/serialization/src/Encoder/JsonEncoder.php
  core/modules/serialization/tests/src/Unit/Encoder/JsonEncoderTest.php
Due: none

refactor: #3568144 Convert editor_filter_xss() to a element.editor service method
  core/modules/editor/editor.module
  core/modules/editor/editor.services.yml
  core/modules/editor/src/EditorController.php
  core/modules/editor/src/Element.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

fix: #3574721 FormBuilder service order causes failure
  core/core.services.yml
  core/lib/Drupal/Core/Form/FormBuilder.php
Due: üßπ JavaScript linting (eslint)

test: #3556580 Remove remaining references to @group annotations from tests
  core/modules/layout_builder/tests/modules/layout_builder_field_block_test/src/ContextProvider/FakeViewModeContext.php
  core/modules/migrate_drupal/tests/src/Traits/ValidateMigrationStateTestTrait.php
  core/scripts/run-tests.sh
  core/tests/Drupal/KernelTests/Core/Hook/HookOrderTestTrait.php
  core/tests/Drupal/Tests/Component/DependencyInjection/ContainerTest.php
Due: none

perf: #3572098 JSON:API normalisation caching can be more expensive than normalisation
  core/modules/jsonapi/src/EventSubscriber/ResourceObjectNormalizationCacher.php
  core/modules/jsonapi/tests/src/Kernel/EventSubscriber/ResourceObjectNormalizerCacherTest.php
Due: none

perf: #3572348 Static cache EntityDataDefinition::getDataType()
  core/lib/Drupal/Core/Entity/TypedData/EntityDataDefinition.php
Due: none

Path conditions:
  Unit tests PHPStan rules: any of: core/tests/PHPStan/**/*, composer/Metapackage/PinnedDevDependencies/composer.json
  üßπ JavaScript linting (eslint): any of: core/.eslint*, core/.prettier*, core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/.stylelintrc.json, core/.prettier*, core/package.json, core/yarn.lock, **/*.css
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module, **/src/Hook/*.php
