Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/package.json, core/yarn.lock, **/*.css
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module

Issue #3291221 by Gauravvvv, pradipmodh13, rkoller, ahsannazir, smustgrave, quietone: When configuring a field on a content type's "manage display" tab the spinner shifts the label and format column
  core/themes/claro/css/theme/field-ui.admin.css
  core/themes/claro/css/theme/field-ui.admin.pcss.css
Due: üßπ CSS linting (stylelint)

Issue #3450616 by catch, quietone, smustgrave: Optimize test order when --directory is used
  core/lib/Drupal/Core/Test/TestDiscovery.php
  core/scripts/run-tests.sh
Due: none

Issue #3452426 by mxr576, kristiaanvandeneynde: Insufficient cacheability information bubbled up by UserAccessControlHandler
  core/modules/jsonapi/tests/src/Functional/UserTest.php
  core/modules/rest/tests/src/Functional/EntityResource/EntityResourceTestBase.php
  core/modules/rest/tests/src/Functional/ResourceTestBase.php
  core/modules/user/src/UserAccessControlHandler.php
  core/modules/user/tests/src/Functional/Rest/UserResourceTestBase.php
Due: none

Issue #3452630 by SandeepMahlawat, pooja_sharma, joachim, mondrake: HtmlOutputLogger outputs surplus newline
  core/tests/Drupal/TestTools/Extension/HtmlLogging/HtmlOutputLogger.php
  core/tests/Drupal/Tests/BrowserHtmlDebugTrait.php
Due: none

Issue #3121155 by quietone, lauriii, bnjmnm, tedbow: Add comments about alphabetical sorting in UpdateRegistry and test
  core/lib/Drupal/Core/Update/UpdateRegistry.php
  core/tests/Drupal/Tests/Core/Update/UpdateRegistryTest.php
Due: none

Issue #3450567 by kalpanajaiswal, joachim: GenerateTheme::__construct() does not document its parameters
  core/lib/Drupal/Core/Command/GenerateTheme.php
Due: none

Issue #3445285 by catch, longwave, larowlan, quietone: Add extra page request to the across pages asset performance test
  core/profiles/demo_umami/tests/src/FunctionalJavascript/AssetAggregationAcrossPagesTest.php
  core/tests/Drupal/Tests/PerformanceTestTrait.php
Due: none

Issue #3449569 by kim.pepper, longwave, catch: Use autoconfigure more in core
  core/modules/announcements_feed/announcements_feed.services.yml
  core/modules/ban/ban.services.yml
  core/modules/basic_auth/basic_auth.services.yml
  core/modules/breakpoint/breakpoint.services.yml
  core/modules/comment/comment.services.yml
  core/modules/contact/contact.services.yml
  core/modules/dblog/dblog.services.yml
  core/modules/help/help.services.yml
  core/modules/image/image.services.yml
  core/modules/layout_discovery/layout_discovery.services.yml
  core/modules/menu_ui/menu_ui.services.yml
  core/modules/migrate_drupal/migrate_drupal.services.yml
  core/modules/migrate_drupal_ui/migrate_drupal_ui.services.yml
  core/modules/navigation/navigation.services.yml
  core/modules/page_cache/page_cache.services.yml
  core/modules/phpass/phpass.services.yml
  core/modules/search/search.services.yml
  core/modules/settings_tray/settings_tray.services.yml
  core/modules/shortcut/shortcut.services.yml
  core/modules/syslog/syslog.services.yml
  core/modules/taxonomy/taxonomy.services.yml
  core/modules/toolbar/toolbar.services.yml
  core/modules/update/update.services.yml
  core/modules/views_ui/views_ui.services.yml
  core/modules/workflows/workflows.services.yml
Due: üßπ JavaScript linting (eslint)

Issue #3453551 by mstrelan: Fix return type of FormatterInterface::settingsSummary
  core/lib/Drupal/Core/Field/FormatterInterface.php
Due: none

Issue #3453676 by nicxvan, alexpott, dww, lauriii, Gábor Hojtsy: Make "Who can register accounts?" "Administrators only" by default
  core/profiles/minimal/config/install/user.settings.yml
  core/profiles/minimal/tests/src/Functional/MinimalTest.php
  core/profiles/standard/config/install/user.settings.yml
  core/recipes/standard/recipe.yml
Due: üßπ JavaScript linting (eslint)

Issue #2927141 by Akhil Babu, pooja_sharma, geertvd, smustgrave, JeroenT, larowlan, catch, quietone: Updates to an entity's URL alias do not reflect on the corresponding local tasks
  core/lib/Drupal/Core/Menu/Plugin/Block/LocalTasksBlock.php
  core/modules/config_translation/tests/src/Functional/ConfigTranslationUiModulesTest.php
  core/modules/system/tests/src/Functional/Menu/LocalTasksTest.php
Due: none

Issue #3386191 by phthlaap, sukr_s, Ozle, brunoalmeida, smustgrave, Ashley George, shiv_yadav, larowlan: #states not working correctly when built from a logical combination of multliple fields
  core/misc/states.js
  core/modules/system/tests/modules/form_test/src/Form/JavascriptStatesForm.php
  core/tests/Drupal/FunctionalJavascriptTests/Core/Form/JavascriptStatesTest.php
Due: üßπ JavaScript linting (eslint)

Issue #3377420 by pivica, Berdir, smustgrave, sergey-serov, bkosborne, bspeare, larowlan: Responsive image width/height values are not used from fallback image style
  core/modules/responsive_image/responsive_image.module
  core/modules/responsive_image/tests/src/Functional/ResponsiveImageFieldDisplayTest.php
Due: üìî Validatable config

Issue #3443810 by SKAUGHT, plopesc, DishaKatariya, finnsky, smustgrave, ckrina, Prashant.c, larowlan: Custom Navigation logo is disconnected from new Layout template
  core/modules/navigation/css/components/admin-toolbar.css
  core/modules/navigation/css/components/admin-toolbar.pcss.css
  core/modules/navigation/layouts/navigation.html.twig
  core/modules/navigation/navigation.module
  core/modules/navigation/src/NavigationRenderer.php
  core/modules/navigation/tests/assets/image_test_files/test-logo.png
  core/modules/navigation/tests/src/Functional/NavigationLogoTest.php
Due: üßπ CSS linting (stylelint), üìî Validatable config
