Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/package.json, core/yarn.lock, **/*.css
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module

Issue #3463440 by mstrelan, smustgrave, quietone, longwave: Fix param docs identified by phpstan
  composer/Plugin/Scaffold/Handler.php
  composer/Plugin/VendorHardening/VendorHardeningPlugin.php
  core/lib/Drupal/Component/DependencyInjection/Dumper/OptimizedPhpArrayDumper.php
  core/lib/Drupal/Component/Gettext/PoHeader.php
  core/lib/Drupal/Component/Gettext/PoItem.php
  core/lib/Drupal/Core/Ajax/InsertCommand.php
  core/lib/Drupal/Core/Block/Attribute/Block.php
  core/lib/Drupal/Core/Config/ConfigInstallerInterface.php
  core/lib/Drupal/Core/Extension/ModuleInstaller.php
  core/lib/Drupal/Core/Test/FunctionalTestSetupTrait.php
  core/modules/rest/tests/src/Functional/ResourceTestBase.php
  core/tests/Drupal/Tests/Core/Utility/UnroutedUrlAssemblerTest.php
Due: none

Issue #3467599 by Spokje, hossein.daliran, longwave, smustgrave: Update NPM packages flagged by yarn audit
  core/yarn.lock
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint)

Issue #3464595 by quietone: Fix DrupalPractice.Objects.GlobalFunction in ListBuilders
  core/modules/comment/src/CommentTypeListBuilder.php
  core/modules/contact/src/ContactFormListBuilder.php
  core/modules/image/src/ImageStyleListBuilder.php
  core/modules/language/src/LanguageListBuilder.php
  core/modules/menu_ui/src/MenuListBuilder.php
  core/modules/node/src/NodeTypeListBuilder.php
  core/modules/responsive_image/src/ResponsiveImageStyleListBuilder.php
  core/modules/taxonomy/src/VocabularyListBuilder.php
  core/modules/user/src/RoleListBuilder.php
  core/modules/user/src/UserListBuilder.php
  core/phpcs.xml.dist
Due: none

Issue #3342700 by quietone, pooja_sharma, AdamPS, jonathanshaw: Reinstate important testing NodeDisplayConfigurableTest
  core/modules/node/tests/modules/node_display_configurable_test/node_display_configurable_test.info.yml
  core/modules/node/tests/modules/node_display_configurable_test/node_display_configurable_test.module
  core/modules/node/tests/src/Functional/NodeDisplayConfigurableTest.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #3469580 by catch, smustgrave: Speed up UpdateSemverTestSecurityAvailabilityTrait
  core/modules/update/tests/src/Functional/UpdateSemverContribSecurityAvailabilityTest.php
  core/modules/update/tests/src/Functional/UpdateSemverCoreSecurityAvailabilityTest.php
  core/modules/update/tests/src/Functional/UpdateSemverTestSecurityAvailabilityTrait.php
Due: none

Issue #3469623 by catch, smustgrave: Speed up ExposedFormTest
  core/modules/views/tests/src/Functional/Plugin/ExposedFormTest.php
Due: none

Issue #3469716 by catch, smustgrave: Optimize dblog tests
  core/modules/dblog/tests/src/Functional/DbLogTest.php
  core/modules/dblog/tests/src/Functional/DbLogViewsTest.php
Due: none

Issue #3467599 by Spokje, hossein.daliran, smustgrave, longwave, nod_: Update NPM packages flagged by yarn audit
  core/package.json
  core/yarn.lock
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint)

Issue #3468781 by Spokje, catch, mondrake: AssetResolverTest should use ::willReturnMap() for mocking
  core/tests/Drupal/Tests/Core/Asset/AssetResolverTest.php
Due: none

Issue #2938920 by quietone, pooja_sharma, gabesullice, berdir: Convert EntityTypeDataTest to use EntityTestWithBundle
  core/tests/Drupal/KernelTests/Core/Entity/EntityTypedDataDefinitionTest.php
Due: none

Issue #2609432 by imalabya, quietone, immaculatexavier, Lars Toomre, bharath-kondeti, jhodgdon, smustgrave: Improve docblocks for views FieldHandlerInterface.php
  core/modules/views/src/Plugin/views/field/FieldHandlerInterface.php
Due: none

Issue #3451136 by quietone, gapple, ghost of drupal past: Improve documentation of AttachmentsInterface methods
  core/lib/Drupal/Core/Render/AttachmentsInterface.php
  core/lib/Drupal/Core/Render/AttachmentsResponseProcessorInterface.php
Due: none

Issue #2923168 by AJV009, Yujiman85, benjifisher, runeasgar: Rename ConstraintsTest to UuidValidatorTest
  core/tests/Drupal/KernelTests/Core/Validation/UuidValidatorTest.php
Due: none
