Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üìã PHPUnit Unit (PHPStan rules), üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üì¶ Yarn install on minimum Node.js version

üìã PHPUnit Unit (PHPStan rules):
  stage: ‚ö°Ô∏è Tests
  needs: []
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - docker-php-ext-enable pcov
  - cd core/tests/PHPStan
  - composer install
  - vendor/bin/phpunit tests --testdox --coverage-text --colors=always --coverage-cobertura=coverage.cobertura.xml --log-junit junit.xml
  artifacts:
  ...

üßπ JavaScript linting (eslint):
  before_script:
  - cd core
  - corepack enable
  - yarn install
  - cd ..
  cache:
    key:
    - .yarn-install-from-cache
    - cache
    - key
    paths:
    - .yarn-install-from-cache
    - cache
    - paths
    policy: pull-push
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
    CACHE_FILE: core/.eslintcache
  ...

üßπ CSS linting (stylelint):
  before_script:
  - cd core
  - corepack enable
  - yarn install
  - cd ..
  cache:
    key:
      files:
      - ./core/package.json
      - ./core/yarn.lock
    paths:
    - ./core/.yarn/cache
    policy: pull
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
    CACHE_FILE: core/.stylelintcache
  script:
  ...

üì¶ Yarn install on minimum Node.js version:
  stage: ü™Ñ Lint
  image: node:20
  variables:
    KUBERNETES_CPU_REQUEST: '1'
  script:
  - cd core
  - corepack enable
  - echo -e "Node version $(node --version)\nYarn version $(corepack yarn --version)"
  - yarn install

fix: #3614602 Modules required by an active theme can be uninstalled
  core/lib/Drupal/Core/Extension/ModuleRequiredByThemesUninstallValidator.php
  core/modules/system/src/Theme/SystemAdminThemePreprocess.php
  core/tests/Drupal/Tests/Core/Extension/ModuleRequiredByThemesUninstallValidatorTest.php
Due: none

task: #3594334 Add a module and theme install command
  core/lib/Drupal/Core/Command/Exception/UserAbortException.php
  core/lib/Drupal/Core/Extension/ModuleInstaller.php
  core/lib/Drupal/Core/Extension/ModuleInstallerInterface.php
  core/lib/Drupal/Core/Extension/ThemeInstaller.php
  core/lib/Drupal/Core/Extension/ThemeInstallerInterface.php
  core/misc/cspell/drupal-dictionary.txt
  core/modules/system/src/Command/ExtensionInstallCommand.php
  core/modules/system/src/Form/ModulesListForm.php
  core/modules/system/tests/modules/console_test/console_test.permissions.yml
  core/modules/system/tests/modules/console_test/src/Hook/ConsoleTestHooks.php
  core/modules/system/tests/src/Kernel/Command/ExtensionInstallCommandTest.php
Due: üßπ JavaScript linting (eslint)

task: #3620912 Deprecate user.module cancel methods
  core/modules/jsonapi/src/Controller/EntityResource.php
  core/modules/user/src/AccountCancellation.php
  core/modules/user/src/AccountSettingsForm.php
  core/modules/user/src/Controller/UserController.php
  core/modules/user/src/Form/UserCancelForm.php
  core/modules/user/src/Form/UserMultipleCancelConfirm.php
  core/modules/user/src/Plugin/Validation/Constraint/UserCancelMethodsConstraint.php
  core/modules/user/tests/src/Functional/UserCancelTest.php
  core/modules/user/user.api.php
  core/modules/user/user.module
  core/modules/user/user.services.yml
  core/modules/workspaces/tests/src/Functional/WorkspaceTest.php
Due: üßπ JavaScript linting (eslint)

fix: #2660338 Deprecate locale_get_plural
  core/core.services.yml
  core/lib/Drupal/Core/StringTranslation/PluralTranslatableMarkup.php
  core/lib/Drupal/Core/StringTranslation/TranslatableMarkup.php
  core/lib/Drupal/Core/StringTranslation/TranslationInterface.php
  core/lib/Drupal/Core/StringTranslation/TranslationManager.php
  core/modules/comment/tests/src/Unit/CommentLinkBuilderTest.php
  core/modules/locale/locale.module
  core/modules/locale/src/LocaleServiceProvider.php
  core/modules/locale/src/PluralFormulaInterface.php
  core/modules/locale/src/TranslationManager.php
  core/modules/locale/tests/src/Functional/LocalePluralFormatTest.php
  core/modules/locale/tests/src/Kernel/LocaleGetPluralDeprecationTest.php
  core/modules/user/tests/src/Unit/PermissionHandlerTest.php
  core/modules/views/tests/src/Unit/Plugin/views/field/LinkBaseTest.php
  core/tests/Drupal/Tests/Core/Datetime/DateTest.php
  core/tests/Drupal/Tests/Core/StringTranslation/ByteSizeMarkupTest.php
  core/tests/Drupal/Tests/Core/StringTranslation/PluralTranslatableMarkupTest.php
  core/tests/Drupal/Tests/Core/StringTranslation/StringTranslationTraitTest.php
  core/tests/Drupal/Tests/Core/StringTranslation/TranslationManagerTest.php
  core/tests/Drupal/Tests/UnitTestCase.php
Due: üßπ JavaScript linting (eslint)

task: #3620747 Remove deprecated method arguments tagged for 12.0.0
  core/lib/Drupal/Core/Asset/LibraryDiscoveryParser.php
  core/lib/Drupal/Core/Extension/ModuleInstaller.php
  core/lib/Drupal/Core/Menu/LocalActionManager.php
  core/lib/Drupal/Core/Menu/LocalTaskManager.php
  core/lib/Drupal/Core/Menu/MenuLinkManager.php
  core/lib/Drupal/Core/Render/HtmlResponseAttachmentsProcessor.php
  core/lib/Drupal/Core/Routing/YamlRouteDiscovery.php
  core/lib/Drupal/Core/Update/UpdateRegistry.php
  core/modules/big_pipe/src/Render/BigPipeResponseAttachmentsProcessor.php
  core/modules/block/src/BlockListBuilder.php
  core/modules/block/src/Form/BlockDeleteForm.php
  core/modules/ckeditor5/src/LanguageMapper.php
  core/modules/ckeditor5/src/Plugin/CKEditor5Plugin/Image.php
  core/modules/content_translation/src/Access/ContentTranslationOverviewAccess.php
  core/modules/content_translation/src/ContentTranslationManager.php
  core/modules/editor/src/EditorController.php
  core/modules/editor/src/Element.php
  core/modules/field_ui/src/Form/FieldConfigDeleteForm.php
  core/modules/field_ui/src/Form/FieldConfigEditForm.php
  core/modules/filter/src/FilterFormatListBuilder.php
  core/modules/filter/src/Plugin/Filter/FilterHtmlImageSecure.php
  core/modules/filter/src/Plugin/Filter/FilterUrl.php
  core/modules/locale/src/LocaleImportBatch.php
  core/modules/node/src/Cache/NodeAccessGrantsCacheContext.php
  core/modules/node/src/NodeGrantDatabaseStorage.php
  core/modules/options/src/Plugin/views/argument/NumberListField.php
  core/modules/options/src/Plugin/views/argument/StringListField.php
  core/modules/options/src/Plugin/views/filter/ListField.php
  core/modules/responsive_image/src/Plugin/Field/FieldFormatter/ResponsiveImageFormatter.php
  core/modules/user/src/Controller/UserAuthenticationController.php
  core/modules/user/src/Controller/UserController.php
  core/modules/user/src/Form/UserCancelForm.php
  core/modules/user/src/Form/UserLoginForm.php
  core/modules/user/src/Form/UserLogoutConfirm.php
  core/modules/user/src/Form/UserPasswordForm.php
  core/modules/user/src/Plugin/rest/resource/UserRegistrationResource.php
  core/modules/user/src/RegisterForm.php
  core/modules/views/src/Plugin/views/area/Text.php
  core/modules/views/src/Plugin/views/exposed_form/InputRequired.php
  core/tests/Drupal/Tests/Core/Update/UpdateRegistryTest.php
Due: none

task: #3620746 Remove deprecated methods and functions tagged for 12.0.0
  core/.phpstan-baseline.php
  core/lib/Drupal/Core/Command/ServerCommand.php
  core/lib/Drupal/Core/Entity/Sql/SqlContentEntityStorage.php
  core/lib/Drupal/Core/Routing/RouteBuilder.php
  core/modules/block/src/BlockListBuilder.php
  core/modules/block/src/Controller/BlockController.php
  core/modules/block/src/Form/BlockDeleteForm.php
  core/modules/system/src/Controller/SystemController.php
  core/modules/system/tests/src/Functional/System/AdminTest.php
  core/modules/user/src/Controller/UserController.php
  core/modules/views/src/ViewsData.php
Due: none

task: #3585957 Prevent the navigation sidebar being rendered via big pipe
  core/modules/navigation/src/NavigationRenderer.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/MultipleRequestsPerformanceTestAssertions/umamiNodeAddEditor.yml
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryPerformanceTestAssertions/administratorNodePage.yml
Due: üßπ JavaScript linting (eslint)

task: #3620912 Deprecate user.module cancel methods
  core/modules/jsonapi/jsonapi.services.yml
  core/modules/jsonapi/src/Controller/EntityResource.php
  core/modules/user/src/AccountCancellation.php
  core/modules/user/src/AccountSettingsForm.php
  core/modules/user/src/Controller/UserController.php
  core/modules/user/src/Form/UserCancelForm.php
  core/modules/user/src/Form/UserMultipleCancelConfirm.php
  core/modules/user/src/Plugin/Validation/Constraint/UserCancelMethodsConstraint.php
  core/modules/user/tests/src/Functional/UserCancelTest.php
  core/modules/user/user.api.php
  core/modules/user/user.module
  core/modules/user/user.services.yml
  core/modules/workspaces/tests/src/Functional/WorkspaceTest.php
Due: üßπ JavaScript linting (eslint)

fix: #2660338 Deprecate locale_get_plural
  core/core.services.yml
  core/lib/Drupal/Core/StringTranslation/PluralTranslatableMarkup.php
  core/lib/Drupal/Core/StringTranslation/TranslatableMarkup.php
  core/lib/Drupal/Core/StringTranslation/TranslationInterface.php
  core/lib/Drupal/Core/StringTranslation/TranslationManager.php
  core/modules/comment/tests/src/Unit/CommentLinkBuilderTest.php
  core/modules/history/tests/src/Unit/HistoryCommentLinkBuilderTest.php
  core/modules/locale/locale.module
  core/modules/locale/src/LocaleServiceProvider.php
  core/modules/locale/src/PluralFormulaInterface.php
  core/modules/locale/tests/src/Functional/LocalePluralFormatTest.php
  core/modules/user/tests/src/Unit/PermissionHandlerTest.php
  core/modules/views/tests/src/Unit/Plugin/views/field/LinkBaseTest.php
  core/tests/Drupal/Tests/Core/Datetime/DateTest.php
  core/tests/Drupal/Tests/Core/StringTranslation/ByteSizeMarkupTest.php
  core/tests/Drupal/Tests/Core/StringTranslation/PluralTranslatableMarkupTest.php
  core/tests/Drupal/Tests/Core/StringTranslation/StringTranslationTraitTest.php
  core/tests/Drupal/Tests/Core/StringTranslation/TranslationManagerTest.php
  core/tests/Drupal/Tests/UnitTestCase.php
Due: üßπ JavaScript linting (eslint)

task: #3620812 Move toolbar support from Workspaces to Toolbar
  core/modules/navigation/src/NavigationServiceProvider.php
  core/modules/navigation/src/WorkspacesLazyBuilder.php
  core/modules/toolbar/css/toolbar.workspaces_ui.css
  core/modules/toolbar/css/toolbar.workspaces_ui.pcss.css
  core/modules/toolbar/icons/000000/workspaces.svg
  core/modules/toolbar/src/Hook/ToolbarHooks.php
  core/modules/toolbar/src/WorkspacesUiToolbarLinkBuilder.php
  core/modules/toolbar/toolbar.libraries.yml
  core/modules/toolbar/toolbar.services.yml
  core/modules/workspaces_ui/workspaces_ui.libraries.yml
  core/modules/workspaces_ui/workspaces_ui.services.yml
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint)

fix: #2660338 Add missing classes
  core/modules/locale/src/TranslationManager.php
  core/modules/locale/tests/src/Kernel/LocaleGetPluralDeprecationTest.php
Due: none

task: #3617584 Change tests using Olivero
  core/modules/block/tests/src/Functional/BlockAdminThemeTest.php
  core/modules/block/tests/src/Functional/NonDefaultBlockAdminTest.php
  core/modules/block/tests/src/FunctionalJavascript/BlockDragTest.php
  core/modules/block/tests/src/Kernel/ConfigActionsTest.php
  core/modules/breakpoint/tests/src/Kernel/BreakpointDiscoveryTest.php
  core/modules/breakpoint/tests/themes/breakpoint_theme_test/breakpoint_theme_test.info.yml
  core/modules/config/tests/src/Functional/ConfigImportUITest.php
  core/modules/filter/tests/src/Kernel/FilterKernelTest.php
  core/modules/image/tests/src/Kernel/ImageThemeFunctionTest.php
  core/modules/package_manager/tests/src/Kernel/StagedDBUpdateValidatorTest.php
  core/modules/page_cache/tests/src/Functional/PageCacheTagsIntegrationTest.php
  core/modules/system/tests/modules/image_lazy_load_test/src/Controller/ImageLazyLoadController.php
  core/modules/system/tests/src/Functional/Batch/PageTest.php
  core/modules/system/tests/src/Functional/Condition/ConditionFormTest.php
  core/modules/system/tests/src/Functional/System/ThemeTest.php
  core/modules/system/tests/src/FunctionalJavascript/Batch/ProcessingTest.php
  core/modules/system/tests/src/Kernel/Theme/TwigNamespaceTest.php
  core/modules/taxonomy/tests/src/Functional/ThemeTest.php
  core/modules/views/tests/modules/views_test_config/test_views/views.view.test_area_order.yml
  core/modules/views/tests/src/Kernel/Handler/AreaOrderTest.php
  core/tests/Drupal/FunctionalTests/Installer/DistributionProfileExistingSettingsTest.php
  core/themes/olivero/tests/src/Functional/OliveroTest.php
Due: üßπ JavaScript linting (eslint)

task: #3618449 Change uses of Olivero in core/tests and core/profiles
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTest.php
  core/profiles/tests/nightwatch_a11y_testing/config/install/system.theme.yml
  core/profiles/tests/nightwatch_a11y_testing/nightwatch_a11y_testing.info.yml
  core/tests/Drupal/BuildTests/Command/GenerateThemeTest.php
  core/tests/Drupal/FunctionalTests/Installer/StandardInstallerTest.php
  core/tests/Drupal/KernelTests/Core/Theme/ThemeInstallerTest.php
  core/tests/Drupal/Nightwatch/Tests/a11yTestDefault.js
  core/tests/Drupal/Tests/WebAssert.php
  core/tests/README.md
Due: üßπ JavaScript linting (eslint)

task: #3621981 Remove admin-custom.css
  core/themes/default_admin/default_admin.libraries.yml
  core/themes/default_admin/src/Hook/ThemeHooks.php
Due: üßπ JavaScript linting (eslint)

task: #3618971 Use Admin theme in installer
  core/assets/scaffold/files/default.settings.php
  core/includes/install.core.inc
  core/includes/theme.maintenance.inc
  core/lib/Drupal/Core/Installer/InstallerKernel.php
  core/lib/Drupal/Core/Render/HtmlResponseAttachmentsProcessor.php
  core/modules/system/tests/themes/test_installer_theme/src/Hook/TestInstallerThemeHooks.php
  core/tests/Drupal/FunctionalTests/Core/Recipe/StandardRecipeInstallTest.php
  core/tests/Drupal/FunctionalTests/Installer/DistributionProfileTest.php
  core/tests/Drupal/FunctionalTests/Installer/InstallerTest.php
  core/tests/Drupal/FunctionalTests/Installer/StandardInstallerTest.php
  core/tests/Drupal/Tests/RequirementsPageTrait.php
  core/themes/default_admin/src/Hook/PreprocessHooks.php
  core/themes/default_admin/src/Settings.php
  sites/default/default.settings.php
Due: none

task: #941970 Rebuild router only when something related to routing changes
  core/modules/rest/src/Plugin/views/style/Serializer.php
  core/modules/views/src/Entity/View.php
  core/modules/views/src/Plugin/views/display/Block.php
  core/modules/views/src/Plugin/views/display/Page.php
  core/modules/views/src/Plugin/views/display/PathPluginBase.php
  core/modules/views/src/PostSaveProcess.php
  core/modules/views/src/PostSaveViewInterface.php
  core/modules/views/src/Views.php
  core/modules/views/tests/modules/views_test_config/test_views/views.view.test_views_save_process.yml
  core/modules/views/tests/src/Functional/Entity/BaseFieldAccessTest.php
  core/modules/views/tests/src/Functional/Plugin/AccessTest.php
  core/modules/views/tests/src/Functional/Plugin/DisabledDisplayTest.php
  core/modules/views/tests/src/Functional/Plugin/DisplayTest.php
  core/modules/views/tests/src/Kernel/ViewsSaveProcessTest.php
  core/modules/views/tests/src/Unit/PostSaveProcessTest.php
  core/modules/views/views.api.php
  core/modules/views/views.module
  core/modules/views_ui/src/Form/AdvancedSettingsForm.php
Due: üßπ JavaScript linting (eslint)

Revert "feat: #3586688 Add support for generated columns to the DB Schema Definition API"
  core/lib/Drupal/Core/Database/SchemaDefinition/Column.php
  core/lib/Drupal/Core/Database/SchemaDefinition/GeneratedColumnExpression.php
  core/lib/Drupal/Core/Database/SchemaDefinition/GeneratedColumnStorage.php
  core/lib/Drupal/Core/Database/SchemaDefinition/Table.php
  core/lib/Drupal/Core/Database/database.api.php
  core/modules/mysql/src/Driver/Database/mysql/Schema.php
  core/modules/mysql/tests/src/Kernel/mysql/SchemaTest.php
  core/modules/pgsql/src/Driver/Database/pgsql/Schema.php
  core/modules/pgsql/tests/src/Kernel/pgsql/SchemaTest.php
  core/modules/sqlite/src/Driver/Database/sqlite/Schema.php
  core/modules/sqlite/tests/src/Kernel/sqlite/SchemaTest.php
  core/tests/Drupal/KernelTests/Core/Database/DriverSpecificSchemaTestBase.php
  core/tests/Drupal/Tests/Core/Database/SchemaDefinitionConversionTest.php
  core/tests/Drupal/Tests/Core/Database/SchemaDefinitionTest.php
Due: none

fix: #3613607 Add RecipeRunner::isApplying() to determine if a recipe is being applied, without confusing it with a config sync
  core/lib/Drupal/Core/Config/ConfigInstaller.php
  core/lib/Drupal/Core/Recipe/RecipeRunner.php
  core/modules/system/tests/modules/recipe_is_applying_test/config/schema/recipe_is_applying_test.schema.yml
  core/modules/system/tests/modules/recipe_is_applying_test/recipe_is_applying_test.info.yml
  core/modules/system/tests/modules/recipe_is_applying_test/recipe_is_applying_test.services.yml
  core/modules/system/tests/modules/recipe_is_applying_test/src/EventSubscriber/RecipeIsApplyingTestSubscriber.php
  core/modules/system/tests/modules/recipe_is_applying_test/src/Hook/RecipeIsApplyingTestHooks.php
  core/tests/Drupal/FunctionalTests/Core/Recipe/RecipeCommandTest.php
  core/tests/Drupal/KernelTests/Core/Recipe/RecipeRunnerTest.php
  core/tests/fixtures/recipes/recipe_is_applying_test/config/recipe_is_applying_test.settings.yml
  core/tests/fixtures/recipes/recipe_is_applying_test/content/entity_test/290a8baa-837f-4a81-8a37-1c54ae407080.yml
  core/tests/fixtures/recipes/recipe_is_applying_test/recipe.yml
Due: üßπ JavaScript linting (eslint)

fix: #3407067 message.js should work with whitespace in empty message wrappers
  core/misc/message.js
  core/modules/system/tests/src/FunctionalJavascript/Batch/ProcessingTest.php
  core/tests/Drupal/FunctionalJavascriptTests/Core/JsMessageWhitespaceTest.php
Due: üßπ JavaScript linting (eslint)

fix: #3608184 Load multiple cardinality fields with a smaller result set
  core/lib/Drupal/Core/Entity/Sql/SqlContentEntityStorage.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryAuthenticatedPerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryFrontPagePerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryNodePagePerformanceTest.php
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTest.php
  core/tests/Drupal/KernelTests/Core/Entity/MultiCardinalitySpineTest.php
Due: none

feat: #3586688 Add support for generated columns to the DB Schema Definition API
  core/lib/Drupal/Core/Database/Connection.php
  core/lib/Drupal/Core/Database/SchemaDefinition/Column.php
  core/lib/Drupal/Core/Database/SchemaDefinition/GeneratedColumnExpression.php
  core/lib/Drupal/Core/Database/SchemaDefinition/GeneratedColumnStorage.php
  core/lib/Drupal/Core/Database/SchemaDefinition/Table.php
  core/lib/Drupal/Core/Database/database.api.php
  core/modules/mysql/src/Driver/Database/mysql/Schema.php
  core/modules/mysql/tests/src/Kernel/mysql/SchemaTest.php
  core/modules/pgsql/src/Driver/Database/pgsql/Connection.php
  core/modules/pgsql/src/Driver/Database/pgsql/Schema.php
  core/modules/pgsql/tests/src/Kernel/pgsql/SchemaTest.php
  core/modules/sqlite/src/Driver/Database/sqlite/Schema.php
  core/modules/sqlite/tests/src/Kernel/sqlite/SchemaTest.php
  core/tests/Drupal/KernelTests/Core/Database/DriverSpecificSchemaTestBase.php
  core/tests/Drupal/Tests/Core/Database/SchemaDefinitionConversionTest.php
  core/tests/Drupal/Tests/Core/Database/SchemaDefinitionTest.php
Due: none

task: #3621326 Update to PHPStan 2.2.13
  composer.json
  composer.lock
  composer/Metapackage/DevDependencies/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  core/.phpstan-baseline.php
  core/tests/PHPStan/composer.json
Due: üìã PHPUnit Unit (PHPStan rules)

fix: #3621016 text_update_12001 fails to load text_with_summary
  core/modules/system/src/Hook/SystemRequirementsHooks.php
  core/modules/system/tests/fixtures/update/add-text-with-summary-storage.php
  core/modules/system/tests/src/Functional/Update/TextWithSummaryUpdatePathTest.php
Due: none

fix: #3621016 text_update_12001 fails to load text_with_summary
  core/modules/text/tests/fixtures/update/add-unused-text-with-summary-storage.php
  core/modules/text/tests/src/Functional/Update/TextWithSummaryUnusedStorageUpdatePathTest.php
  core/modules/text/text.install
Due: none

fix: #3616720 Fix change record links
  core/lib/Drupal/Core/Asset/LibraryDiscoveryParser.php
  core/lib/Drupal/Core/Extension/ModuleInstaller.php
  core/lib/Drupal/Core/Render/HtmlResponseAttachmentsProcessor.php
  core/lib/Drupal/Core/Routing/YamlRouteDiscovery.php
  core/modules/big_pipe/src/Render/BigPipeResponseAttachmentsProcessor.php
  core/modules/help/src/Plugin/Search/HelpSearch.php
Due: none

task: #3620407 Add missing HTMX 4 morph attributes
  core/lib/Drupal/Core/Htmx/Htmx.php
  core/tests/Drupal/Tests/Core/Htmx/HtmxAttributesTest.php
Due: none

fix: #3622031 Content Translation shows a confusing set of warnings even when config is syncing
  core/modules/content_translation/content_translation.install
Due: none

Path conditions:
  üìã PHPUnit Unit (PHPStan rules): any of: core/tests/PHPStan/**/*, composer/Metapackage/PinnedDevDependencies/composer.json
  üßπ JavaScript linting (eslint): any of: core/.eslint*, core/.prettier*, core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/.stylelintrc.json, core/.prettier*, core/package.json, core/yarn.lock, **/*.css
  üì¶ Yarn install on minimum Node.js version: any of: core/package.json, core/yarn.lock
