Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

üßπ JavaScript linting (eslint):
  needs:
  - üì¶Ô∏è Yarn
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - cd core
  - corepack enable
  - yarn run check:ckeditor5
  - yarn run lint:core-js-passing --format gitlab
  artifacts:
    reports:
      codequality: eslint-quality-report.json

üßπ CSS linting (stylelint):
  needs:
  - üì¶Ô∏è Yarn
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - corepack enable
  - cd core
  - yarn run build:css --check
  - yarn run lint:css --color --custom-formatter=node_modules/stylelint-formatter-gitlab
  artifacts:
    reports:
      codequality: stylelint-quality-report.json

üìî Validatable config:
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  artifacts:
    expire_in: 1 week
    expose_as: validatable-config
    paths:
    - HEAD.json
    - MR.json
  allow_failure:
    exit_codes:
    - 100
    - 101
    - 1
  script:
  - git checkout -f $CI_MERGE_REQUEST_DIFF_BASE_SHA
  ...

Issue #3443835 by Gauravvvv, aronm, m4olivei, finnsky, dalin, javi-er: 'Help' tooltip is obstructed behind the navigation toolbar border
  core/modules/navigation/css/components/admin-toolbar.css
  core/modules/navigation/css/components/admin-toolbar.pcss.css
  core/modules/navigation/css/components/toolbar-popover.css
  core/modules/navigation/css/components/toolbar-popover.pcss.css
Due: üßπ CSS linting (stylelint)

Issue #3446340 by finnsky, rkoller: Fix z-index
  core/modules/navigation/css/components/admin-toolbar.css
  core/modules/navigation/css/components/admin-toolbar.pcss.css
Due: üßπ CSS linting (stylelint)

Issue #3446378 by mglaman, catch: [random test failure] NavigationBlockUiTest::testNavigationBlockAdminUiPage failing
  core/modules/navigation/tests/src/FunctionalJavascript/NavigationBlockUiTest.php
Due: none

Issue #3446403 by edutrul, jnicola, mradcliffe: [name]: This field is missing for example recipe
  core/recipes/example/recipe.yml
Due: üßπ JavaScript linting (eslint)

Issue #3425692 by msandoval, bember, KarimB, Amirez, Lenenba, joachim, mradcliffe, julieelman, Farnoosh: development.services.yml should document that parameters are only shallow-merged
  core/assets/scaffold/files/development.services.yml
  sites/development.services.yml
Due: üßπ JavaScript linting (eslint)

Issue #3443461 by Gauravvvv, Mithun S, finnsky, ckrina: escapeAdmin.js functionality should be removed(it not used anymore)
  core/modules/navigation/js/escapeAdmin.js
  core/modules/navigation/navigation.libraries.yml
Due: üßπ JavaScript linting (eslint)

Issue #3445274 by Gauravvvv, smustgrave: Navigation module offsets the Olivero skip link element
  core/themes/olivero/css/components/skip-link.css
  core/themes/olivero/css/components/skip-link.pcss.css
Due: üßπ CSS linting (stylelint)

Issue #3091003 by sukr_s, smustgrave, RaphaelBriskie, FeyP, borisson_: Changing a display's machine name while an attachment exist breaks Views
  core/modules/views_ui/src/ViewEditForm.php
  core/modules/views_ui/tests/src/Functional/DisplayAttachmentTest.php
Due: none

Issue #3445950 by alexpott, tim.plunkett: \Drupal\Core\Plugin\DefaultLazyPluginCollection::setInstanceConfiguration() assumes that $configuration results in the same plugin instance
  core/lib/Drupal/Core/Plugin/DefaultLazyPluginCollection.php
  core/tests/Drupal/Tests/Core/Plugin/DefaultLazyPluginCollectionTest.php
Due: none

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/package.json, core/yarn.lock, **/*.css
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module
