Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), ‚úÖÔ∏è PHPStan rules tests, üìî Validatable config

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/.eslint*, core/.prettier*, core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/.stylelintrc.json, core/.prettier*, core/package.json, core/yarn.lock, **/*.css
  ‚úÖÔ∏è PHPStan rules tests: any of: core/tests/PHPStan/**/*, composer/Metapackage/PinnedDevDependencies/composer.json
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module

fix: #3524163 [regression] Empty slot definitions give incorrect validation message
  core/lib/Drupal/Core/Theme/Component/ComponentValidator.php
  core/modules/system/tests/modules/sdc_test/components/my-banner/my-banner.component.yml
Due: üßπ JavaScript linting (eslint)

task: #3560397 Deprecate node.admin.inc
  core/modules/node/node.admin.inc
Due: none

task: #3536191 Remove RainbowArray as maintainer for Breakpoint and Responsive Image
  core/MAINTAINERS.txt
Due: none

task: #3534589 Autowire services in file module
  core/modules/file/file.services.yml
  core/modules/file/src/EventSubscriber/FileEventSubscriber.php
  core/modules/file/src/FileRepository.php
  core/modules/file/src/Upload/FileUploadHandler.php
  core/modules/file/src/Validation/FileValidator.php
Due: üßπ JavaScript linting (eslint)

task: #3490713 Return the correct typehint when Drupal::service() is called with a class string
  core/lib/Drupal.php
Due: none

docs: #3513561 Fix LongLineDeclaration in KernelTests
  core/phpcs.xml.dist
  core/tests/Drupal/KernelTests/AssertContentTrait.php
  core/tests/Drupal/KernelTests/Config/Schema/MappingTest.php
  core/tests/Drupal/KernelTests/Config/TypedConfigTest.php
  core/tests/Drupal/KernelTests/Core/Config/Action/ConfigActionTest.php
  core/tests/Drupal/KernelTests/Core/Config/ConfigDependencyTest.php
  core/tests/Drupal/KernelTests/Core/Config/ConfigEntityNormalizeTest.php
  core/tests/Drupal/KernelTests/Core/Config/ConfigImporterMissingContentTest.php
  core/tests/Drupal/KernelTests/Core/Config/ConfigInstallTest.php
  core/tests/Drupal/KernelTests/Core/Database/DriverSpecificSchemaTestBase.php
  core/tests/Drupal/KernelTests/Core/Database/LoggingTest.php
  core/tests/Drupal/KernelTests/Core/Database/QueryTest.php
  core/tests/Drupal/KernelTests/Core/Datetime/DatelistElementFormTest.php
  core/tests/Drupal/KernelTests/Core/Datetime/DatetimeElementFormTest.php
  core/tests/Drupal/KernelTests/Core/DrupalKernel/DrupalKernelTest.php
  core/tests/Drupal/KernelTests/Core/Element/PathElementFormTest.php
  core/tests/Drupal/KernelTests/Core/Entity/ContentEntityCloneTest.php
  core/tests/Drupal/KernelTests/Core/Entity/ContentEntityNullStorageTest.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityDefinitionUpdateMultipleTypesTest.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityDisplayBaseTest.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityQueryAggregateTest.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityQueryTest.php
  core/tests/Drupal/KernelTests/Core/Entity/EntitySchemaTest.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityTranslationTest.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityViewBuilderTest.php
  core/tests/Drupal/KernelTests/Core/Entity/FieldSqlStorageTest.php
  core/tests/Drupal/KernelTests/Core/Extension/ModuleInstallerTest.php
  core/tests/Drupal/KernelTests/Core/Image/ToolkitGdTest.php
  core/tests/Drupal/KernelTests/Core/Menu/MenuLinkTreeTest.php
  core/tests/Drupal/KernelTests/Core/Menu/MenuTreeStorageTest.php
  core/tests/Drupal/KernelTests/Core/Plugin/Discovery/AnnotatedClassDiscoveryTest.php
  core/tests/Drupal/KernelTests/Core/Recipe/WildcardConfigActionsTest.php
  core/tests/Drupal/KernelTests/Core/Theme/ConfigImportThemeInstallTest.php
  core/tests/Drupal/KernelTests/Core/Theme/TwigMarkupInterfaceTest.php
Due: none

ci: #3546517 Show node/yarn version output in core's CI
  .gitlab-ci.yml
  .gitlab-ci/pipeline.yml
Due: üßπ JavaScript linting (eslint)

fix: #3518992 Config overrides are loaded for English even when translate_english is false
  core/modules/language/language.services.yml
  core/modules/language/src/Config/LanguageConfigFactoryOverride.php
  core/modules/locale/locale.services.yml
  core/modules/locale/src/EventSubscriber/ConfigSubscriber.php
  core/modules/locale/src/LocaleServiceProvider.php
  core/modules/views/tests/src/Functional/Plugin/NumericFormatPluralTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryAuthenticatedPerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryFrontPagePerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryNodePagePerformanceTest.php
  core/tests/Drupal/KernelTests/Core/Config/ConfigLanguageOverrideTest.php
Due: üßπ JavaScript linting (eslint)

task: #3530453 Remove deprecated use of Assert::isType()
  core/.phpstan-baseline.php
  core/modules/migrate/tests/src/Unit/MigrateSourceTest.php
  core/tests/Drupal/Tests/Core/Access/CsrfTokenGeneratorTest.php
  core/tests/Drupal/Tests/Core/Asset/CssCollectionRendererUnitTest.php
  core/tests/Drupal/Tests/Core/Asset/CssOptimizerUnitTest.php
  core/tests/Drupal/Tests/Core/Enhancer/ParamConversionEnhancerTest.php
  core/tests/Drupal/Tests/Core/Form/FormCacheTest.php
  core/tests/Drupal/Tests/Core/Form/FormValidatorTest.php
  core/tests/Drupal/Tests/Core/ParamConverter/ParamConverterManagerTest.php
  core/tests/Drupal/Tests/Core/Utility/LinkGeneratorTest.php
Due: none

fix: #3479427 Single Directory Components incompatible with Windows
  core/lib/Drupal/Core/Template/TwigPhpStorageCache.php
Due: none

docs: #3560570 Fix documenation URLs that are 404, part 2
  core/INSTALL.txt
  core/lib/Drupal/Core/Render/Element/Tableselect.php
  core/lib/Drupal/Core/Render/ElementInfoManagerInterface.php
  core/lib/Drupal/Core/Session/AccountProxy.php
  core/modules/system/src/Controller/SystemInfoController.php
  core/modules/system/tests/src/Unit/SecurityAdvisories/SecurityAdvisoryTest.php
  core/modules/update/tests/src/Functional/UpdateSemverContribTestBase.php
Due: none

task: #3559318 Exclude htmx from aggregation
  core/core.libraries.yml
Due: üßπ JavaScript linting (eslint)

task: #3536726 Use CallableResolver for form callbacks
  core/core.services.yml
  core/lib/Drupal/Core/Entity/EntityForm.php
  core/lib/Drupal/Core/Form/FormAjaxResponseBuilder.php
  core/lib/Drupal/Core/Form/FormBuilder.php
  core/lib/Drupal/Core/Form/FormSubmitter.php
  core/lib/Drupal/Core/Form/FormValidator.php
  core/modules/file/src/Hook/FileFormHooks.php
  core/tests/Drupal/Tests/Core/Form/FormAjaxResponseBuilderTest.php
  core/tests/Drupal/Tests/Core/Form/FormBuilderTest.php
  core/tests/Drupal/Tests/Core/Form/FormSubmitterTest.php
  core/tests/Drupal/Tests/Core/Form/FormTestBase.php
  core/tests/Drupal/Tests/Core/Form/FormValidatorTest.php
Due: üßπ JavaScript linting (eslint)

task: #3535734 Make block.settings.inline_block:* fully validatable
  core/lib/Drupal/Core/TypedData/Validation/RecursiveContextualValidator.php
  core/lib/Drupal/Core/Validation/ConstraintFactory.php
  core/lib/Drupal/Core/Validation/Plugin/Validation/Constraint/MappingCollectionConstraint.php
  core/lib/Drupal/Core/Validation/Plugin/Validation/Constraint/MappingCollectionConstraintValidator.php
  core/lib/Drupal/Core/Validation/Plugin/Validation/Constraint/OptionalConstraint.php
  core/lib/Drupal/Core/Validation/Plugin/Validation/Constraint/RequiredConstraint.php
  core/lib/Drupal/Core/Validation/Plugin/Validation/Constraint/SerializedConstraint.php
  core/lib/Drupal/Core/Validation/Plugin/Validation/Constraint/SerializedConstraintValidator.php
  core/modules/config/tests/config_test/config/install/config_test.validation.yml
  core/modules/config/tests/config_test/config/schema/config_test.schema.yml
  core/modules/config/tests/config_test/src/ConfigValidation.php
  core/modules/config/tests/config_test/tests/src/Kernel/ConfigValidationTest.php
  core/modules/layout_builder/config/schema/layout_builder.schema.yml
  core/tests/Drupal/KernelTests/Config/TypedConfigTest.php
  core/tests/Drupal/KernelTests/Core/Validation/MappingCollectionConstrainTest.php
  core/tests/Drupal/Tests/Core/Validation/Plugin/Validation/Constraint/SerializedConstraintValidatorTest.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

task: #3546105 Automatically manage _wrapper_format for HTMX requests and clean up ajax_page_state in urls
  core/lib/Drupal/Core/Htmx/Htmx.php
  core/misc/htmx/htmx-assets.js
  core/modules/config/src/Form/ConfigSingleExportForm.php
  core/modules/system/tests/modules/test_htmx/src/Controller/HtmxTestAttachmentsController.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/AssetAggregationAcrossPagesTest.php
  core/tests/Drupal/KernelTests/Core/Htmx/HtmxRequestTest.php
  core/tests/Drupal/Tests/Core/Htmx/HtmxAttributesTest.php
Due: üßπ JavaScript linting (eslint)

task: #3490846 Deprecate hook_requirements
  core/includes/install.inc
  core/lib/Drupal/Core/Hook/Attribute/LegacyRequirementsHook.php
  core/lib/Drupal/Core/Hook/HookCollectorPass.php
  core/modules/system/tests/modules/module_install_requirements/module_install_requirements.install
  core/modules/system/tests/modules/module_install_requirements/src/Install/Requirements/ModuleInstallRequirements.php
  core/modules/system/tests/modules/module_runtime_requirements/module_runtime_requirements.install
  core/modules/system/tests/modules/module_update_requirements/module_update_requirements.install
  core/modules/system/tests/src/Kernel/Module/RequirementsTest.php
Due: none

task: #3561139 Deprecate update include files that contain only deprecated functions
  core/modules/update/update.authorize.inc
  core/modules/update/update.manager.inc
Due: none
