Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

üßπ JavaScript linting (eslint):
  needs:
  - üì¶Ô∏è Yarn
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - cd core
  - corepack enable
  - yarn run check:ckeditor5
  - yarn run lint:core-js-passing --format gitlab
  artifacts:
    reports:
      codequality: eslint-quality-report.json

üßπ CSS linting (stylelint):
  needs:
  - üì¶Ô∏è Yarn
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - corepack enable
  - cd core
  - yarn run build:css --check
  - yarn run lint:css --color --custom-formatter=node_modules/stylelint-formatter-gitlab
  artifacts:
    reports:
      codequality: stylelint-quality-report.json

üìî Validatable config:
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  artifacts:
    expire_in: 1 week
    expose_as: validatable-config
    paths:
    - HEAD.json
    - MR.json
  allow_failure:
    exit_codes:
    - 100
    - 101
    - 1
  script:
  - git checkout -f $CI_MERGE_REQUEST_DIFF_BASE_SHA
  ...

Issue #3444745 by catch: Navigation Top Bar hides entity local tasks even if the user has no access to the bar - follow-up to fix new test
  core/modules/navigation/tests/src/FunctionalJavascript/PerformanceTest.php
Due: none

Issue #3495531 by berdir: BC layer missing __isset()/__unset() for $entity->original property
  core/lib/Drupal/Core/Entity/ContentEntityBase.php
  core/lib/Drupal/Core/Entity/EntityBase.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityOriginalDeprecationTest.php
Due: none

Issue #3489380 by mondrake, anish.ir, quietone: Method getMockForAbstractClass() is deprecated - replace in class ContentEntityBaseUnitTest
  core/.phpstan-baseline.php
  core/tests/Drupal/Tests/Core/Entity/ContentEntityBaseUnitTest.php
  core/tests/Drupal/Tests/Core/Entity/StubFieldItemBase.php
Due: none

Issue #3488109 by mstrelan, quietone: Add AccessResultInterface return type to hook_entity_access (and friends) implementations
  core/.phpstan-baseline.php
  core/lib/Drupal/Core/Entity/entity.api.php
  core/modules/content_moderation/src/Hook/ContentModerationHooks.php
  core/modules/content_translation/tests/modules/content_translation_test/src/Hook/ContentTranslationTestHooks.php
  core/modules/field/tests/modules/field_test/src/Hook/FieldTestFieldHooks.php
  core/modules/field/tests/modules/field_test_boolean_access_denied/src/Hook/FieldTestBooleanAccessDeniedHooks.php
  core/modules/field_ui/tests/modules/field_ui_test/src/Hook/FieldUiTestHooks.php
  core/modules/image/tests/modules/image_access_test_hidden/src/Hook/ImageAccessTestHiddenHooks.php
  core/modules/jsonapi/tests/modules/jsonapi_test_field_access/src/Hook/JsonapiTestFieldAccessHooks.php
  core/modules/language/src/Hook/LanguageHooks.php
  core/modules/language/tests/language_entity_field_access_test/src/Hook/LanguageEntityFieldAccessTestHooks.php
  core/modules/layout_builder/src/Hook/LayoutBuilderHooks.php
  core/modules/media/src/Hook/MediaHooks.php
  core/modules/media/tests/modules/media_test_embed/src/Hook/MediaTestEmbedHooks.php
  core/modules/media_library/src/Hook/MediaLibraryHooks.php
  core/modules/media_library/tests/modules/media_library_test/src/Hook/MediaLibraryTestHooks.php
  core/modules/node/src/Hook/NodeHooks1.php
  core/modules/node/tests/modules/node_access_test/src/Hook/NodeAccessTestHooks.php
  core/modules/rest/tests/modules/config_test_rest/src/Hook/ConfigTestRestHooks.php
  core/modules/rest/tests/modules/rest_test/src/Hook/RestTestHooks.php
  core/modules/system/tests/modules/entity_test/src/Hook/EntityTestHooks.php
  core/modules/user/tests/modules/user_access_test/src/Hook/UserAccessTestHooks.php
  core/modules/views/tests/modules/views_entity_test/src/Hook/ViewsEntityTestHooks.php
  core/modules/workflows/tests/modules/workflow_type_test/src/Hook/WorkflowTypeTestHooks.php
  core/modules/workspaces/src/Hook/WorkspacesHooks.php
  core/modules/workspaces/tests/modules/workspace_access_test/src/Hook/WorkspaceAccessTestHooks.php
Due: none

Issue #3495429 by nikolay shapovalov: Move helpers in options_test.module and delete it
  core/.phpstan-baseline.php
  core/modules/options/options.api.php
  core/modules/options/options.module
  core/modules/options/tests/options_test/options_test.module
  core/modules/options/tests/options_test/src/OptionsAllowedValues.php
  core/modules/options/tests/src/Functional/OptionsDynamicValuesTestBase.php
  core/modules/options/tests/src/Functional/OptionsWidgetsTest.php
  core/modules/options/tests/src/Kernel/OptionsDynamicValuesApiTest.php
  core/modules/options/tests/src/Kernel/OptionsDynamicValuesValidationTest.php
  core/modules/options/tests/src/Kernel/Views/ViewsDataTest.php
Due: üìî Validatable config

Issue #3494212 by godotislate, alexpott, larowlan: Modules that provide fields for entities of other modules can't be installed
  core/lib/Drupal/Core/Extension/ModuleInstaller.php
  core/modules/system/tests/modules/field_storage_entity_type_dependency_test/field_storage_entity_type_dependency_test.info.yml
  core/modules/system/tests/modules/field_storage_entity_type_dependency_test/src/Hook/FieldStorageEntityTypeDependencyTestHook.php
  core/tests/Drupal/KernelTests/Core/Extension/ModuleInstallerTest.php
Due: üßπ JavaScript linting (eslint)

Issue #3395212 by nicxvan, deborahblessy, murilohp, smustgrave, fabianx, kristiaanvandeneynde: Ensure invalid items are not written to FastBackend in ChainedFast
  core/lib/Drupal/Core/Cache/ChainedFastBackend.php
  core/tests/Drupal/Tests/Core/Cache/ChainedFastBackendTest.php
Due: none

Issue #3482691 by james.williams, arunkumark, kristiaanvandeneynde, smustgrave: BreadcrumbManager ignores cacheability when no builders apply
  core/lib/Drupal/Core/Breadcrumb/BreadcrumbManager.php
  core/modules/system/tests/modules/menu_test/menu_test.routing.yml
  core/modules/system/tests/modules/menu_test/src/MenuTestServiceProvider.php
  core/modules/system/tests/modules/menu_test/src/SkippablePathBasedBreadcrumbBuilder.php
  core/modules/system/tests/src/Functional/Menu/BreadcrumbTest.php
Due: üßπ JavaScript linting (eslint)

Revert "Issue #3482691 by james.williams, arunkumark, kristiaanvandeneynde, smustgrave: BreadcrumbManager ignores cacheability when no builders apply"
  core/lib/Drupal/Core/Breadcrumb/BreadcrumbManager.php
  core/modules/system/tests/modules/menu_test/menu_test.routing.yml
  core/modules/system/tests/modules/menu_test/src/MenuTestServiceProvider.php
  core/modules/system/tests/modules/menu_test/src/SkippablePathBasedBreadcrumbBuilder.php
  core/modules/system/tests/src/Functional/Menu/BreadcrumbTest.php
Due: üßπ JavaScript linting (eslint)

Issue #3478628 by oily, alexpott, catch, sheshsharma, osopolar, dunx, shane birley, joegl: Fatal error: Uncaught TypeError: Drupal\Core\Extension\ThemeHandler::addTheme()
  core/lib/Drupal/Core/Extension/ThemeHandler.php
  core/tests/Drupal/Tests/Core/Extension/ThemeHandlerTest.php
Due: none

Issue #3494130 by oily, nicxvan, nikolay shapovalov: Move helpers in field_test.module and delete it
  core/.phpstan-baseline.php
  core/modules/field/tests/modules/field_test/field_test.entity.inc
  core/modules/field/tests/modules/field_test/field_test.field.inc
  core/modules/field/tests/modules/field_test/field_test.module
  core/modules/field/tests/modules/field_test/src/FieldTestHelper.php
  core/modules/field/tests/modules/field_test/src/Hook/FieldTestEntityHooks.php
  core/modules/field/tests/modules/field_test/src/Hook/FieldTestHooks.php
  core/modules/field/tests/modules/field_test/src/Plugin/Field/FieldType/TestItem.php
  core/modules/field/tests/src/Functional/TranslationWebTest.php
  core/modules/field/tests/src/Kernel/BulkDeleteTest.php
  core/modules/field/tests/src/Kernel/FieldAttachStorageTest.php
  core/modules/field/tests/src/Kernel/FieldStorageCrudTest.php
  core/modules/field/tests/src/Kernel/TranslationTest.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityQueryTest.php
Due: üìî Validatable config

Issue #3495642 by mondrake, deepali sardana: Method getMockForAbstractClass() is deprecated - replace in class SqlContentEntityStorageTest
  core/.phpstan-baseline.php
  core/tests/Drupal/Tests/Core/Entity/Sql/SqlContentEntityStorageTest.php
Due: none

Issue #3493279 by jvbrian, xamount, lavanyatalwar, yujiman85, nicxvan, smustgrave, mondrake: Remove references to Drupal CI in comments
  core/modules/package_manager/src/Validator/PhpExtensionsValidator.php
  core/modules/package_manager/tests/src/Build/TemplateProjectTestBase.php
  core/phpstan.neon.dist
  core/tests/Drupal/FunctionalJavascriptTests/JSWebAssert.php
Due: none

Issue #3489287 by akulsaxena, mondrake, daffie: Method getMockForAbstractClass() is deprecated - replace in class EntityStorageBaseTest
  core/.phpstan-baseline.php
  core/tests/Drupal/Tests/Core/Entity/EntityStorageBaseTest.php
  core/tests/Drupal/Tests/Core/Entity/StubEntityStorageBase.php
Due: none

Issue #3495499 by nicxvan, nikolay shapovalov: Move helpers in file_test.module and delete it
  core/.phpstan-baseline.php
  core/modules/file/tests/file_test/file_test.module
  core/modules/file/tests/file_test/src/FileTestCdn.php
  core/modules/file/tests/file_test/src/FileTestHelper.php
  core/modules/file/tests/file_test/src/Hook/FileTestHooks.php
  core/modules/file/tests/modules/file_validator_test/src/EventSubscriber/FileValidationTestSubscriber.php
  core/modules/file/tests/src/Functional/DownloadTest.php
  core/modules/file/tests/src/Functional/FileManagedTestBase.php
  core/modules/file/tests/src/Functional/SaveUploadFormTest.php
  core/modules/file/tests/src/Functional/SaveUploadTest.php
  core/modules/file/tests/src/Kernel/DeleteTest.php
  core/modules/file/tests/src/Kernel/FileManagedUnitTestBase.php
  core/modules/file/tests/src/Kernel/LoadTest.php
  core/modules/file/tests/src/Kernel/SaveTest.php
  core/modules/file/tests/src/Kernel/Validation/FileValidatorTest.php
  core/tests/Drupal/KernelTests/Core/File/FileUrlGeneratorTest.php
  core/tests/Drupal/KernelTests/Core/File/ScanDirectoryTest.php
Due: üìî Validatable config

Issue #3492286 by catch: Mark ConfigTranslationUiTest slow
  core/modules/config_translation/tests/src/Functional/ConfigTranslationUiTest.php
Due: none

Issue #3495514 by nikolay shapovalov, nicxvan: Move helpers in form_test.module and delete it
  core/.phpstan-baseline.php
  core/modules/system/tests/modules/form_test/form_test.module
  core/modules/system/tests/modules/form_test/src/Callbacks.php
  core/modules/system/tests/modules/form_test/src/Form/FormTestTableSelectColspanForm.php
  core/modules/system/tests/modules/form_test/src/Form/FormTestTableSelectFormBase.php
  core/modules/system/tests/modules/form_test/src/Hook/FormTestHooks.php
  core/modules/system/tests/src/Functional/Form/ElementsTableSelectTest.php
Due: üìî Validatable config

Issue #3486713 by ptmkenny, mondrake, spokje: Bump PHPStan to version 2.0.4
  composer.json
  composer.lock
  composer/Metapackage/DevDependencies/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  core/.phpstan-baseline.php
  core/phpstan.neon.dist
  core/tests/Drupal/KernelTests/Core/Theme/Icon/IconPackManagerKernelTest.php
  core/tests/Drupal/Tests/Core/Layout/LayoutPluginManagerTest.php
  core/tests/Drupal/Tests/Core/State/StateTest.php
  core/tests/PHPStan/composer.json
Due: none

Issue #3476175 by daffie, rajneeshb, smustgrave, dagmar: Change the filter in the overview page of the dblog module to a condition object
  core/modules/dblog/dblog.admin.inc
  core/modules/dblog/src/Controller/DbLogController.php
Due: none

Issue #3495574 by nikolay shapovalov, nicxvan: Move helpers in hold_test.module and delete it
  core/.phpstan-baseline.php
  core/modules/media_library/tests/src/FunctionalJavascript/MediaLibraryTestBase.php
  core/modules/system/tests/modules/hold_test/hold_test.install
  core/modules/system/tests/modules/hold_test/hold_test.module
  core/modules/system/tests/modules/hold_test/src/HoldTestHelper.php
  core/tests/Drupal/FunctionalJavascriptTests/Ajax/ThrobberTest.php
Due: üìî Validatable config

Issue #3487371 by spokje, dww: [random test failure] ImageStylesPathAndUrlTest
  core/modules/image/tests/modules/image_module_test/src/Hook/ImageModuleTestHooks.php
  core/modules/image/tests/src/Functional/ImageStylesPathAndUrlTest.php
Due: none

Issue #3487371 by spokje, dww: [random test failure] ImageStylesPathAndUrlTest
  core/modules/image/tests/modules/image_module_test/image_module_test.module
  core/modules/image/tests/src/Functional/ImageStylesPathAndUrlTest.php
Due: üìî Validatable config

Issue #3495638 by nikolay shapovalov, smustgrave, nicxvan: Move helpers in workflow_type_test.module and delete it
  core/.phpstan-baseline.php
  core/modules/workflows/tests/modules/workflow_type_test/workflow_type_test.module
  core/modules/workflows/tests/src/Kernel/WorkflowAccessControlHandlerTest.php
Due: üìî Validatable config

Issue #3495630 by nikolay shapovalov, smustgrave: Move helpers in views_test_config.module, views_test_query_access.module and delete them
  core/.phpstan-baseline.php
  core/modules/views/tests/modules/views_test_config/src/Hook/ViewsTestConfigHooks.php
  core/modules/views/tests/modules/views_test_config/views_test_config.module
  core/modules/views/tests/modules/views_test_query_access/src/Hook/ViewsTestQueryAccessHooks.php
  core/modules/views/tests/modules/views_test_query_access/views_test_query_access.module
Due: üìî Validatable config

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/package.json, core/yarn.lock, **/*.css
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module
