Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Unit tests PHPStan rules, üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

Unit tests PHPStan rules:
  stage: ‚ö°Ô∏è Unit tests
  needs: []
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - docker-php-ext-enable pcov
  - cd core/tests/PHPStan
  - composer install
  - vendor/bin/phpunit tests --testdox --coverage-text --colors=always --coverage-cobertura=coverage.cobertura.xml --log-junit junit.xml
  ...

üßπ JavaScript linting (eslint):
  before_script:
  - cd core
  - corepack enable
  - yarn install
  - cd ..
  cache:
    key:
    - .yarn-install-from-cache
    - cache
    - key
    paths:
    - .yarn-install-from-cache
    - cache
    - paths
    policy: pull-push
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
    CACHE_FILE: core/.eslintcache
  ...

üßπ CSS linting (stylelint):
  before_script:
  - cd core
  - corepack enable
  - yarn install
  - cd ..
  cache:
    key:
      files:
      - ./core/package.json
      - ./core/yarn.lock
    paths:
    - ./core/.yarn/cache
    policy: pull
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
    CACHE_FILE: core/.stylelintcache
  script:
  ...

üìî Validatable config:
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  artifacts:
    expire_in: 1 week
    expose_as: validatable-config
    paths:
    - HEAD.json
    - MR.json
  allow_failure:
    exit_codes:
    - 100
    - 101
    - 1
  script:
  - git checkout -f $CI_MERGE_REQUEST_DIFF_BASE_SHA
  ...

fix: #3550787 [random test failure] CKEditor5Test::testLanguageOfPartsPlugin
  core/modules/ckeditor5/tests/src/FunctionalJavascript/CKEditor5Test.php
Due: none

fix: #3560202 UserCreationTrait::create* methods can never return false
  core/modules/user/tests/src/Traits/UserCreationTrait.php
  core/modules/workspaces/tests/src/FunctionalJavascript/WorkspacesMediaLibraryIntegrationTest.php
Due: none

Revert "fix: #3560202 UserCreationTrait::create* methods can never return false"
  core/modules/user/tests/src/Traits/UserCreationTrait.php
  core/modules/workspaces/tests/src/FunctionalJavascript/WorkspacesMediaLibraryIntegrationTest.php
Due: none

fix: #3177977 Form state storage changes in #process callbacks are not cached during form rebuild.
  core/lib/Drupal/Core/Form/FormBuilder.php
  core/modules/system/tests/src/Kernel/Form/FormStatePersistTest.php
Due: none

test: #3520036 [random test failure] CKEditor5MarkupTest
  core/modules/ckeditor5/tests/src/FunctionalJavascript/CKEditor5MarkupTest.php
Due: none

test: #3550292 Test cleanup for PHPUnit 12 - round 2
  core/.phpstan-baseline.php
  core/modules/block_content/tests/src/Unit/Menu/BlockContentLocalTasksTest.php
  core/modules/content_moderation/tests/src/Unit/ContentModerationRouteSubscriberTest.php
  core/modules/content_moderation/tests/src/Unit/ModerationInformationTest.php
  core/modules/contextual/tests/src/Kernel/ContextualUnitTest.php
  core/modules/image/tests/src/Kernel/ImageStyleCustomStreamWrappersTest.php
  core/modules/jsonapi/tests/src/Kernel/Normalizer/JsonApiTopLevelResourceNormalizerTest.php
  core/modules/layout_builder/tests/src/Kernel/Plugin/ConfigAction/AddComponentTest.php
  core/modules/layout_builder/tests/src/Unit/LayoutEntityHelperTraitTest.php
  core/modules/package_manager/tests/src/Kernel/ComposerPatchesValidatorTest.php
  core/modules/user/tests/src/Kernel/UserMailNotifyTest.php
  core/tests/Drupal/KernelTests/Scripts/TestSiteApplicationTest.php
  core/tests/Drupal/Tests/Core/Config/ConfigTest.php
  core/tests/Drupal/Tests/Core/Entity/Sql/DefaultTableMappingTest.php
  core/tests/Drupal/Tests/Core/Form/FormStateDecoratorBaseTest.php
  core/tests/Drupal/Tests/Core/Menu/LocalTaskIntegrationTestBase.php
  core/tests/Drupal/Tests/Core/Menu/MenuActiveTrailTest.php
  core/tests/Drupal/Tests/Core/Render/RendererPlaceholdersTest.php
  core/tests/Drupal/Tests/Core/Routing/RouteMatchTestBase.php
  core/tests/Drupal/Tests/Core/Theme/Component/ComponentLoaderTest.php
  core/tests/Drupal/Tests/Core/Theme/Component/ComponentMetadataTest.php
  core/tests/Drupal/Tests/Core/Theme/Component/ComponentValidatorTest.php
  core/tests/Drupal/Tests/Core/UnroutedUrlTest.php
  core/tests/Drupal/Tests/UnitTestCaseTest.php
Due: none

fix: #3401726 MediaLibraryUiBuilder service does not properly allow additional contextual filter arguments
  core/modules/media_library/src/MediaLibraryUiBuilder.php
  core/modules/media_library/tests/src/FunctionalJavascript/MediaLibraryContextualFilterTest.php
Due: none

task: #3563647 Remove unneeded patterns from deprecation-ignore.txt
  core/.deprecation-ignore.txt
Due: none

fix: #3419203 ckeditor5_post_update_code_block() throws an error for format using CKE5 but with CKE4 settings
  core/modules/ckeditor5/ckeditor5.module
  core/modules/ckeditor5/ckeditor5.post_update.php
Due: üìî Validatable config

task: #3557211 Move the remaining UI bits to the workspaces_ui module
  core/.phpstan-baseline.php
  core/modules/content_moderation/tests/src/Functional/WorkspaceContentModerationIntegrationTest.php
  core/modules/navigation/src/NavigationServiceProvider.php
  core/modules/navigation/src/WorkspacesLazyBuilder.php
  core/modules/workspaces/src/Entity/Workspace.php
  core/modules/workspaces/tests/src/Functional/Rest/WorkspaceResourceTestBase.php
  core/modules/workspaces/tests/src/Functional/WorkspaceFormValidationTest.php
  core/modules/workspaces/tests/src/Kernel/WorkspaceAccessTest.php
  core/modules/workspaces/tests/src/Kernel/WorkspacePublisherTest.php
  core/modules/workspaces/workspaces.services.yml
  core/modules/workspaces_ui/css/workspaces.off-canvas.css
  core/modules/workspaces_ui/css/workspaces.off-canvas.pcss.css
  core/modules/workspaces_ui/css/workspaces.overview.css
  core/modules/workspaces_ui/css/workspaces.overview.pcss.css
  core/modules/workspaces_ui/css/workspaces.toolbar.css
  core/modules/workspaces_ui/css/workspaces.toolbar.pcss.css
  core/modules/workspaces_ui/icons/000000/workspaces.svg
  core/modules/workspaces_ui/icons/81c071/ws_icon.svg
  core/modules/workspaces_ui/icons/f0a100/ws_icon.svg
  core/modules/workspaces_ui/src/Form/SwitchToLiveForm.php
  core/modules/workspaces_ui/src/Form/WorkspaceActivateForm.php
  core/modules/workspaces_ui/src/Form/WorkspaceDeleteForm.php
  core/modules/workspaces_ui/src/Form/WorkspaceForm.php
  core/modules/workspaces_ui/src/Form/WorkspaceMergeForm.php
  core/modules/workspaces_ui/src/Form/WorkspacePublishForm.php
  core/modules/workspaces_ui/src/Form/WorkspaceSwitcherForm.php
  core/modules/workspaces_ui/src/Hook/WorkspacesUiHooks.php
  core/modules/workspaces_ui/src/Plugin/Block/WorkspaceSwitcherBlock.php
  core/modules/workspaces_ui/src/Routing/RouteSubscriber.php
  core/modules/workspaces_ui/src/WorkspaceListBuilder.php
  core/modules/workspaces_ui/src/WorkspaceViewBuilder.php
  core/modules/workspaces_ui/src/WorkspacesUiLazyBuilders.php
  core/modules/workspaces_ui/workspaces_ui.libraries.yml
  core/modules/workspaces_ui/workspaces_ui.links.action.yml
  core/modules/workspaces_ui/workspaces_ui.links.menu.yml
  core/modules/workspaces_ui/workspaces_ui.links.task.yml
  core/modules/workspaces_ui/workspaces_ui.routing.yml
  core/modules/workspaces_ui/workspaces_ui.services.yml
  core/tests/Drupal/KernelTests/Core/Theme/Stable9LibraryOverrideTest.php
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

task: #3567650 Remove history from profiles and recipes
  core/profiles/demo_umami/demo_umami.info.yml
  core/profiles/demo_umami/tests/src/FunctionalJavascript/AssetAggregationAcrossPagesTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryAuthenticatedPerformanceTest.php
  core/profiles/standard/standard.info.yml
  core/recipes/standard/recipe.yml
Due: üßπ JavaScript linting (eslint)

fix: #2940605 Can only intentionally re-render an entity with references 20 times
  core/lib/Drupal/Core/Entity/EntityViewBuilder.php
  core/lib/Drupal/Core/Field/Plugin/Field/FieldFormatter/EntityReferenceEntityFormatter.php
  core/modules/field/tests/src/Functional/EntityReference/EntityReferenceAutoCreateTest.php
  core/modules/field/tests/src/Kernel/EntityReference/EntityReferenceFormatterTest.php
  core/modules/media/src/Plugin/Filter/MediaEmbed.php
  core/modules/media/tests/src/Kernel/MediaEmbedFilterTest.php
  core/tests/Drupal/Tests/EntityViewTrait.php
Due: none

refactor: #3436855 Remove the views-align-* CSS classes
  core/modules/views/css/views.module.css
  core/modules/views/src/Hook/ViewsThemeHooks.php
Due: üßπ CSS linting (stylelint), üìî Validatable config

Revert "fix: #3516264 CKEditor 5 loads all plugin translations on AJAX operations"
  core/modules/ckeditor5/src/Hook/Ckeditor5Hooks.php
  core/modules/ckeditor5/tests/src/Unit/CKEditor5Test.php
Due: üìî Validatable config

task: #3568027 Move views.view.test_history to history module
  core/modules/history/tests/modules/history_test_views/test_views/views.view.test_history.yml
  core/modules/history/tests/src/Kernel/Views/HistoryTimestampTest.php
  core/modules/views/tests/src/Kernel/TestViewsTest.php
Due: üßπ JavaScript linting (eslint)

fix: #3567086 Alias case sensitivity after the removal of the preload cache
  core/modules/path_alias/src/AliasManager.php
  core/modules/path_alias/tests/src/Kernel/AliasTest.php
  core/modules/path_alias/tests/src/Unit/AliasManagerTest.php
Due: none

fix: Performance tests broke due to revert and #3436855 Remove the views-align-* CSS classes
  core/profiles/demo_umami/tests/src/FunctionalJavascript/AssetAggregationAcrossPagesTest.php
Due: none

Path conditions:
  Unit tests PHPStan rules: any of: core/tests/PHPStan/**/*, composer/Metapackage/PinnedDevDependencies/composer.json
  üßπ JavaScript linting (eslint): any of: core/.eslint*, core/.prettier*, core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/.stylelintrc.json, core/.prettier*, core/package.json, core/yarn.lock, **/*.css
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module, **/src/Hook/*.php
