Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üìã PHPUnit Unit (PHPStan rules), üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üì¶ Yarn install on minimum Node.js version

üìã PHPUnit Unit (PHPStan rules):
  stage: ‚ö°Ô∏è Tests
  needs: []
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - docker-php-ext-enable pcov
  - cd core/tests/PHPStan
  - composer install
  - vendor/bin/phpunit tests --testdox --coverage-text --colors=always --coverage-cobertura=coverage.cobertura.xml --log-junit junit.xml
  artifacts:
  ...

üßπ JavaScript linting (eslint):
  before_script:
  - cd core
  - corepack enable
  - yarn install
  - cd ..
  cache:
    key:
    - .yarn-install-from-cache
    - cache
    - key
    paths:
    - .yarn-install-from-cache
    - cache
    - paths
    policy: pull-push
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
    CACHE_FILE: core/.eslintcache
  ...

üßπ CSS linting (stylelint):
  before_script:
  - cd core
  - corepack enable
  - yarn install
  - cd ..
  cache:
    key:
      files:
      - ./core/package.json
      - ./core/yarn.lock
    paths:
    - ./core/.yarn/cache
    policy: pull
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
    CACHE_FILE: core/.stylelintcache
  script:
  ...

üì¶ Yarn install on minimum Node.js version:
  stage: ü™Ñ Lint
  image: node:20
  variables:
    KUBERNETES_CPU_REQUEST: '1'
  script:
  - cd core
  - corepack enable
  - echo -e "Node version $(node --version)\nYarn version $(corepack yarn --version)"
  - yarn install

docs: #3618255 FormValidator refers to self::METHODS() which don't exist
  core/lib/Drupal/Core/Form/FormValidator.php
Due: none

fix: #3536795 "Only file JavaScript/CSS assets can be optimized" errors in logs
  core/modules/system/src/Controller/AssetControllerBase.php
  core/modules/system/tests/modules/common_test/common_test.libraries.yml
  core/tests/Drupal/FunctionalTests/Asset/AssetOptimizationTest.php
  core/tests/Drupal/KernelTests/Core/Asset/AssetControllerTest.php
Due: üßπ JavaScript linting (eslint)

fix: #2638250 The label "Member for" on user profiles is hardcoded markup that is different from other user fields
  core/modules/layout_builder/tests/src/Kernel/FieldBlockDeriverTest.php
  core/modules/locale/tests/modules/locale_test/src/Hook/LocaleTestHooks.php
  core/modules/locale/tests/src/Functional/LocaleLocaleLookupTest.php
  core/modules/locale/tests/src/Functional/LocalePluralFormatTest.php
  core/modules/system/tests/modules/test_user_config/config/install/core.entity_view_display.user.user.compact.yml
  core/modules/system/tests/modules/test_user_config/config/install/core.entity_view_display.user.user.default.yml
  core/modules/user/src/Entity/User.php
  core/modules/user/src/Hook/UserHooks.php
  core/modules/user/src/UserListBuilder.php
  core/modules/user/tests/src/Functional/UserAdminListingTest.php
  core/modules/user/tests/src/Functional/UserCreatedFieldDisplayUpgradeTest.php
  core/modules/user/tests/src/Functional/UserLoginTest.php
  core/modules/user/tests/src/Functional/UserRegistrationTest.php
  core/modules/user/user.post_update.php
  core/modules/views/tests/src/Kernel/Plugin/RowEntityTest.php
  core/profiles/demo_umami/config/install/core.entity_view_display.user.user.compact.yml
  core/profiles/demo_umami/config/install/core.entity_view_display.user.user.default.yml
  core/profiles/standard/config/install/core.entity_view_display.user.user.compact.yml
  core/profiles/standard/config/install/core.entity_view_display.user.user.default.yml
  core/recipes/user_picture/config/core.entity_view_display.user.user.compact.yml
  core/recipes/user_picture/config/core.entity_view_display.user.user.default.yml
  core/tests/Drupal/KernelTests/Core/Entity/EntityViewDisplayValidationTest.php
Due: üßπ JavaScript linting (eslint)

task: #3575587 Remove Search from tests, easy ones
  core/modules/block/tests/src/Functional/BlockHiddenRegionTest.php
  core/modules/field_ui/tests/src/Functional/ManageDisplayTest.php
  core/modules/node/tests/src/Functional/NodeAccessBaseTableTest.php
  core/modules/views/tests/src/Functional/DefaultViewsTest.php
  core/modules/views/tests/src/Kernel/Entity/ViewEntityDependenciesTest.php
  core/tests/Drupal/FunctionalJavascriptTests/Ajax/AjaxFormCacheTest.php
Due: none

fix: #2865710 Dependencies from only one instance of a widget are used in display modes
  core/lib/Drupal/Core/Entity/Entity/EntityFormDisplay.php
  core/lib/Drupal/Core/Entity/Entity/EntityViewDisplay.php
  core/modules/field/field.post_update.php
  core/modules/field/tests/fixtures/update/display_dependency_update_test.php
  core/modules/field/tests/modules/field_dynamic_dependencies_test/config/schema/field_dynamic_dependencies_test.schema.yml
  core/modules/field/tests/modules/field_dynamic_dependencies_test/field_dynamic_dependencies_test.info.yml
  core/modules/field/tests/modules/field_dynamic_dependencies_test/src/Plugin/Field/FieldFormatter/TestFieldDynamicDependenciesFormatter.php
  core/modules/field/tests/modules/field_dynamic_dependencies_test/src/Plugin/Field/FieldType/TestFieldDynamicDependenciesItem.php
  core/modules/field/tests/modules/field_dynamic_dependencies_test/src/Plugin/Field/FieldWidget/TestFieldDynamicDependenciesWidget.php
  core/modules/field/tests/src/Functional/Update/RecalculateDependenciesUpdateTest.php
  core/modules/field_ui/tests/src/Kernel/EntityDisplayDependenciesTest.php
Due: üßπ JavaScript linting (eslint)

fix: #3611957 Improve InvalidComponentException by including the parent/calling Twig template path
  core/lib/Drupal/Core/Template/ComponentsTwigExtension.php
  core/tests/Drupal/KernelTests/Components/ComponentRenderTest.php
Due: none

fix: #3615455 Address test mysqli test failures
  core/modules/system/tests/src/Functional/Module/GenericModuleTestBase.php
  core/tests/Drupal/FunctionalTests/Installer/InstallerConfigDirectoryTestBase.php
Due: none

Revert "fix: #2865710 Dependencies from only one instance of a widget are used in display modes"
  core/lib/Drupal/Core/Entity/Entity/EntityFormDisplay.php
  core/lib/Drupal/Core/Entity/Entity/EntityViewDisplay.php
  core/modules/field/field.post_update.php
  core/modules/field/tests/fixtures/update/display_dependency_update_test.php
  core/modules/field/tests/modules/field_dynamic_dependencies_test/config/schema/field_dynamic_dependencies_test.schema.yml
  core/modules/field/tests/modules/field_dynamic_dependencies_test/field_dynamic_dependencies_test.info.yml
  core/modules/field/tests/modules/field_dynamic_dependencies_test/src/Plugin/Field/FieldFormatter/TestFieldDynamicDependenciesFormatter.php
  core/modules/field/tests/modules/field_dynamic_dependencies_test/src/Plugin/Field/FieldType/TestFieldDynamicDependenciesItem.php
  core/modules/field/tests/modules/field_dynamic_dependencies_test/src/Plugin/Field/FieldWidget/TestFieldDynamicDependenciesWidget.php
  core/modules/field/tests/src/Functional/Update/RecalculateDependenciesUpdateTest.php
  core/modules/field_ui/tests/src/Kernel/EntityDisplayDependenciesTest.php
Due: üßπ JavaScript linting (eslint)

task: #3620800 Update to Yarn 4.18.0
  core/.yarnrc.yml
  core/package.json
  core/yarn.lock
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üì¶ Yarn install on minimum Node.js version

fix: #3120298 Add test coverage of alter hooks when there is no base alter
  core/modules/system/tests/modules/HookOrder/aaa_hook_order_test/src/Hook/AAlterHooks.php
  core/modules/system/tests/modules/HookOrder/ddd_hook_order_test/src/Hook/DAlterHooks.php
  core/tests/Drupal/KernelTests/Core/Hook/HookAlterOrderTest.php
Due: none

fix: #3556506 Respect allowed_formats settings in \Drupal\text\Plugin\Field\FieldType\TextItemBase::applyDefaultValue
  core/modules/field/tests/src/Kernel/FieldKernelTestBase.php
  core/modules/menu_ui/tests/src/Kernel/MenuUiNodeTypeTest.php
  core/modules/migrate/tests/src/Kernel/MigrateLookupTest.php
  core/modules/migrate/tests/src/Kernel/Plugin/EntityRevisionTest.php
  core/modules/migrate/tests/src/Kernel/Plugin/source/ContentEntityTest.php
  core/modules/system/tests/src/Kernel/Entity/EntityReferenceSelection/EntityReferenceSelectionAccessTest.php
  core/modules/taxonomy/tests/src/Kernel/PendingRevisionTest.php
  core/modules/taxonomy/tests/src/Kernel/TaxonomyRevisionVersionHistoryTest.php
  core/modules/taxonomy/tests/src/Kernel/TermEntityReferenceTest.php
  core/modules/text/src/Plugin/Field/FieldType/TextItemBase.php
  core/modules/text/tests/src/Kernel/TextItemBaseTest.php
Due: none

task: #3621275 Update Composer dependencies for 12.0.0-beta1
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  core/lib/Drupal/Component/DependencyInjection/composer.json
Due: üìã PHPUnit Unit (PHPStan rules)

test: #3608939 Move/split remaining parts of StandardPerformanceTest and StandardJavascriptTest
  core/profiles/standard/tests/src/FunctionalJavascript/StandardJavascriptTest.php
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTest.php
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTestAssertions/standardFrontPage.sql
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTestAssertions/standardFrontPage.yml
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTestAssertions/standardNodePage.sql
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTestAssertions/standardNodePage.yml
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTestAssertions/standardUserPage.sql
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTestAssertions/standardUserPage.yml
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTestAssertions/testAdmin.sql
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTestAssertions/testAdmin.yml
Due: üßπ JavaScript linting (eslint)

task: #3561302 Register equivalent updates on site install
  core/includes/update.inc
  core/lib/Drupal/Core/Extension/ModuleInstaller.php
  core/lib/Drupal/Core/Extension/module.api.php
  core/lib/Drupal/Core/Update/Attribute/MarkFutureUpdateEquivalent.php
  core/lib/Drupal/Core/Update/UpdateHookRegistry.php
  core/modules/system/src/Hook/SystemRequirementsHooks.php
  core/modules/system/tests/modules/equivalent_update_test/equivalent_update_test.install
  core/modules/system/tests/modules/equivalent_update_test_attribute_install/equivalent_update_test_attribute_install.info.yml
  core/modules/system/tests/modules/equivalent_update_test_attribute_install/equivalent_update_test_attribute_install.install
  core/modules/system/tests/src/Functional/UpdateSystem/EquivalentUpdateTest.php
Due: üßπ JavaScript linting (eslint)

fix: #3612458 Show all dependent modules on module confirm form for each chosen module
  core/modules/system/src/Form/ModulesListConfirmForm.php
  core/modules/system/src/Form/ModulesListForm.php
  core/modules/system/tests/src/Functional/Module/DependencyTest.php
Due: none

fix: #3621016 text_update_12001 fails to load text_with_summary
  core/modules/text/tests/fixtures/update/add-unused-text-with-summary-storage.php
  core/modules/text/tests/src/Functional/Update/TextWithSummaryUnusedStorageUpdatePathTest.php
  core/modules/text/text.install
Due: none

Revert "fix: #3621016 text_update_12001 fails to load text_with_summary"
  core/modules/text/tests/fixtures/update/add-unused-text-with-summary-storage.php
  core/modules/text/tests/src/Functional/Update/TextWithSummaryUnusedStorageUpdatePathTest.php
  core/modules/text/text.install
Due: none

task: #3619804 Remove unused templates from the Admin theme
  core/themes/default_admin/templates/form/input--submit--paragraph-action.html.twig
  core/themes/default_admin/templates/navigation/menu-region--bottom.html.twig
  core/themes/default_admin/templates/navigation/menu-region--middle.html.twig
  core/themes/default_admin/templates/navigation/menu-region--top.html.twig
  core/themes/default_admin/templates/page/page--clone.html.twig
  core/themes/default_admin/templates/page/page--group.html.twig
Due: none

fix: #3613607 Add RecipeRunner::isApplying() to determine if a recipe is being applied, without confusing it with a config sync
  core/lib/Drupal/Core/Config/ConfigInstaller.php
  core/lib/Drupal/Core/Recipe/RecipeRunner.php
  core/modules/system/tests/modules/recipe_is_applying_test/config/schema/recipe_is_applying_test.schema.yml
  core/modules/system/tests/modules/recipe_is_applying_test/recipe_is_applying_test.info.yml
  core/modules/system/tests/modules/recipe_is_applying_test/recipe_is_applying_test.services.yml
  core/modules/system/tests/modules/recipe_is_applying_test/src/EventSubscriber/RecipeIsApplyingTestSubscriber.php
  core/modules/system/tests/modules/recipe_is_applying_test/src/Hook/RecipeIsApplyingTestHooks.php
  core/tests/Drupal/FunctionalTests/Core/Recipe/RecipeCommandTest.php
  core/tests/Drupal/KernelTests/Core/Recipe/RecipeRunnerTest.php
  core/tests/fixtures/recipes/recipe_is_applying_test/config/recipe_is_applying_test.settings.yml
  core/tests/fixtures/recipes/recipe_is_applying_test/content/entity_test/290a8baa-837f-4a81-8a37-1c54ae407080.yml
  core/tests/fixtures/recipes/recipe_is_applying_test/recipe.yml
Due: üßπ JavaScript linting (eslint)

Path conditions:
  üìã PHPUnit Unit (PHPStan rules): any of: core/tests/PHPStan/**/*, composer/Metapackage/PinnedDevDependencies/composer.json
  üßπ JavaScript linting (eslint): any of: core/.eslint*, core/.prettier*, core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/.stylelintrc.json, core/.prettier*, core/package.json, core/yarn.lock, **/*.css
  üì¶ Yarn install on minimum Node.js version: any of: core/package.json, core/yarn.lock
