Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/package.json, core/yarn.lock, **/*.css
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module

Issue #3497325 by berdir, smustgrave: Config entity static cache is not cleared correctly when multiple language overrides are used
  core/.phpstan-baseline.php
  core/lib/Drupal/Core/Config/Entity/ConfigEntityStorage.php
  core/modules/user/src/Hook/UserHooks.php
  core/modules/user/user.module
  core/tests/Drupal/KernelTests/Core/Config/ConfigEntityStaticCacheTest.php
Due: üìî Validatable config

Issue #3508028 by markconroy: Offer to become maintainer of Stable9
  core/MAINTAINERS.txt
Due: none

Issue #3491081 by plopesc, penyaskito, larowlan: Allow other modules to include their own Navigation blocks during installation
  core/modules/navigation/navigation.api.php
  core/modules/navigation/navigation.install
  core/modules/navigation/src/Hook/NavigationHooks.php
  core/modules/navigation/tests/navigation_test_block/navigation_test_block.info.yml
  core/modules/navigation/tests/navigation_test_block/src/Hook/NavigationTestBlockHooks.php
  core/modules/navigation/tests/navigation_test_block/src/Plugin/Block/NavigationTestBlock.php
  core/modules/navigation/tests/src/Functional/NavigationDefaultBlockDefinitionTest.php
Due: üßπ JavaScript linting (eslint)

Issue #3480135 by daniel.j, plopesc, adwivedi008: Enforce return types to non-inheritable navigation methods
  core/.phpstan-baseline.php
  core/modules/navigation/navigation.post_update.php
  core/modules/navigation/src/Form/LayoutForm.php
  core/modules/navigation/src/Form/SettingsForm.php
  core/modules/navigation/src/NavigationContentLinks.php
  core/modules/navigation/tests/src/Kernel/NavigationMenuBlockTest.php
Due: none

Issue #3490948 by rowrowrowrow, bbrala: Change hardcoded entity key 'uid' to getKey in ResourceTestBase
  core/modules/jsonapi/tests/src/Functional/ResourceTestBase.php
Due: none

Issue #3496485 by annmarysruthy, wombatbuddy, thejimbirch, smustgrave: example recipe.yml has incorrect comment above "actions" section
  core/recipes/example/recipe.yml
Due: üßπ JavaScript linting (eslint)

Issue #3487851 by mondrake, daffie: Replace \PDO::FETCH_* constants to indicate fetch mode with an enumeration
  core/lib/Drupal/Core/Database/Connection.php
  core/lib/Drupal/Core/Database/Statement/FetchAs.php
  core/lib/Drupal/Core/Database/Statement/PdoTrait.php
  core/lib/Drupal/Core/Database/StatementInterface.php
  core/lib/Drupal/Core/Database/StatementPrefetchIterator.php
  core/lib/Drupal/Core/Database/StatementWrapperIterator.php
  core/lib/Drupal/Core/Entity/Sql/SqlContentEntityStorage.php
  core/lib/Drupal/Core/Menu/MenuTreeStorage.php
  core/lib/Drupal/Core/Routing/RouteProvider.php
  core/modules/migrate/src/Plugin/migrate/id_map/Sql.php
  core/modules/migrate/src/Plugin/migrate/source/SqlBase.php
  core/modules/migrate/tests/src/Kernel/SqlBaseTest.php
  core/modules/migrate_drupal/src/MigrationConfigurationTrait.php
  core/modules/node/tests/src/Kernel/Migrate/d6/MigrateNodeCompleteTest.php
  core/modules/node/tests/src/Kernel/Migrate/d7/MigrateNodeCompleteTest.php
  core/modules/path_alias/src/AliasRepository.php
  core/modules/sqlite/src/Driver/Database/sqlite/Connection.php
  core/modules/sqlite/src/Driver/Database/sqlite/Statement.php
  core/modules/system/tests/modules/database_test/database_test.install
  core/modules/views/src/Plugin/views/query/Sql.php
  core/tests/Drupal/KernelTests/Core/Database/FetchLegacyTest.php
  core/tests/Drupal/KernelTests/Core/Database/FetchTest.php
  core/tests/Drupal/KernelTests/Core/Database/SelectComplexTest.php
  core/tests/Drupal/KernelTests/Core/Database/SelectOrderedTest.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityDefinitionUpdateProviderTest.php
  core/tests/Drupal/KernelTests/Core/Entity/FieldSqlStorageTest.php
  core/tests/Drupal/KernelTests/Core/Menu/MenuTreeStorageTest.php
  core/tests/Drupal/Tests/Core/Database/ConnectionTest.php
Due: none

Issue #3493858 by vidorado, xavier.masson, smustgrave: Extend ViewsBlockBase to merge cache metadata from display handler
  core/modules/views/src/Plugin/Block/ViewsBlockBase.php
  core/modules/views/tests/src/Unit/Plugin/Block/ViewsBlockTest.php
Due: none

Issue #3246454 by anish.a, kobe wright, AmaraSAU: Add weekly granularity to views date sort
  core/modules/views/src/Plugin/views/sort/Date.php
  core/modules/views/tests/src/Kernel/Handler/SortDateTest.php
Due: none

Issue #3504745 by catch: Move cspell, build, and w3c legacy jobs around to optimise gitlab job order
  .gitlab-ci.yml
  .gitlab-ci/pipeline.yml
Due: üßπ JavaScript linting (eslint)

Issue #3487014 by liam morland, nod_, smustgrave, quietone: Fix documentation for optional params in MessengerInterface
  core/lib/Drupal/Core/Messenger/MessengerInterface.php
Due: none

Issue #3483411 by catch: Increase composer-stager constraint to the current stable release
  composer.lock
  core/composer.json
Due: none

Issue #3202016 by mondrake, andypost, acbramley, mstrelan, hestenet, benmorss, smustgrave, catch, alexpott, xjm, Mixologic: Let GDToolkit support AVIF image format
  .gitattributes
  core/misc/cspell/dictionary.txt
  core/modules/system/src/Plugin/ImageToolkit/GDToolkit.php
  core/modules/system/src/Plugin/ImageToolkit/Operation/gd/CreateNew.php
  core/tests/Drupal/FunctionalTests/Image/ToolkitSetupFormTest.php
  core/tests/Drupal/KernelTests/Core/Image/ToolkitGdTest.php
  core/tests/fixtures/files/img-test.avif
Due: none

Issue #3202016 follow-up by alexpott: Let GDToolkit support AVIF image format
  core/assets/scaffold/files/gitattributes
Due: none

Issue #289240 by oily, vomitHatSteve, smustgrave, darvanen, Ryan Palmer, seanb, larowlan, quietone, catch, coredumperror: Allow #type 'button' that aren't form submits
  core/lib/Drupal/Core/Render/Element/Button.php
  core/modules/system/tests/modules/form_test/form_test.routing.yml
  core/modules/system/tests/modules/form_test/src/Form/FormTestSubmitButtonAttributeForm.php
  core/modules/system/tests/src/Functional/Form/ElementTest.php
Due: üßπ JavaScript linting (eslint)

Issue #293295 by smustgrave, jwilson3, acbramley, pameeela, lendude, nicxvan, daniel korte, izmeez: Pager pagination results should increment ordered list <ol> numbers
  core/modules/views/tests/modules/views_test_config/test_views/views.view.test_style_html_list_ordered.yml
  core/modules/views/tests/src/Functional/ViewStyleHtmlListTest.php
  core/modules/views/views.theme.inc
Due: üßπ JavaScript linting (eslint)

Issue #3502882 by catch, alexpott, godotislate: Add a classloader that can handle class moves
  core/core.services.yml
  core/includes/bootstrap.inc
  core/lib/Drupal/Core/ClassLoader/BackwardsCompatibilityClassLoader.php
  core/lib/Drupal/Core/CoreServiceProvider.php
  core/lib/Drupal/Core/DependencyInjection/Compiler/BackwardsCompatibilityClassLoaderPass.php
  core/lib/Drupal/Core/DrupalKernel.php
  core/modules/system/tests/modules/module_autoload_test/module_autoload_test.services.yml
  core/tests/Drupal/KernelTests/Core/ClassLoader/BackwardsCompatibilityClassLoaderTest.php
  core/tests/Drupal/Tests/Core/StringTranslation/TranslationWrapperTest.php
Due: üßπ JavaScript linting (eslint)

Issue #3509244 by berdir: Remove TestXSSTitleBlock, update block XSS tests
  core/modules/block/tests/modules/block_test/src/Plugin/Block/TestXSSTitleBlock.php
  core/modules/block/tests/src/Functional/BlockUiTest.php
  core/modules/block/tests/src/Functional/BlockXssTest.php
Due: none

Issue #3510498 by nexusnovaz, danrod, frondeau, ankitv18, borisson_: Fix parentheses mistake in sample code documentation
  core/includes/form.inc
Due: none

Issue #3508601 by quietone: Fix LongLineDeclaration in module tests
  core/modules/big_pipe/tests/modules/big_pipe_test/src/BigPipeTestController.php
  core/modules/field/tests/modules/field_test/src/Form/NestedEntityTestForm.php
  core/modules/field/tests/modules/field_test/src/Plugin/Field/FieldFormatter/TestFieldDefaultFormatter.php
  core/modules/field/tests/modules/field_test/src/Plugin/Field/FieldFormatter/TestFieldMultipleFormatter.php
  core/modules/field/tests/modules/field_test/src/Plugin/Field/FieldFormatter/TestFieldPrepareViewFormatter.php
  core/modules/field/tests/modules/field_test/src/Plugin/Field/FieldType/TestItem.php
  core/modules/field/tests/modules/field_test/src/Plugin/Field/FieldWidget/TestFieldWidget.php
  core/modules/field/tests/modules/field_test/src/Plugin/Field/FieldWidget/TestFieldWidgetMultiple.php
  core/modules/help/tests/modules/help_topics_test/src/Hook/HelpTopicsTestHooks.php
  core/modules/package_manager/tests/modules/fixture_manipulator/src/FixtureManipulator.php
  core/modules/search/tests/modules/search_extra_type/src/Plugin/Search/SearchExtraTypeSearch.php
  core/modules/system/tests/modules/ajax_forms_test/src/Callbacks.php
  core/modules/system/tests/modules/ajax_test/src/Form/AjaxTestMessageCommandForm.php
  core/modules/system/tests/modules/batch_test/src/BatchTestCallbacks.php
  core/modules/system/tests/modules/entity_reference_test/src/Hook/EntityReferenceTestHooks.php
  core/modules/system/tests/modules/entity_test/src/EntityTestForm.php
  core/modules/system/tests/modules/entity_test/src/Hook/EntityTestHooks.php
  core/modules/system/tests/modules/form_test/src/Callbacks.php
  core/modules/system/tests/modules/form_test/src/Form/FormTestValidateForm.php
  core/modules/system/tests/modules/render_placeholder_message_test/src/RenderPlaceholderMessageTestController.php
  core/modules/system/tests/modules/session_test/src/Controller/SessionTestController.php
  core/modules/system/tests/modules/system_test/src/Controller/SystemTestController.php
  core/modules/system/tests/modules/theme_test/src/Hook/ThemeTestHooks.php
  core/modules/system/tests/modules/twig_extension_test/src/TwigExtension/TestExtension.php
  core/modules/user/tests/modules/user_access_test/src/Hook/UserAccessTestHooks.php
  core/modules/views/tests/modules/views_entity_test/src/Hook/ViewsEntityTestHooks.php
  core/modules/views/tests/modules/views_test_entity_reference/src/Hook/ViewsTestEntityReferenceHooks.php
  core/phpcs.xml.dist
Due: none

Issue #3507068 by quietone: Change @Plugin references not in tests
  core/modules/views/src/Plugin/views/PluginBase.php
  core/modules/views/src/Plugin/views/access/AccessPluginBase.php
Due: none

Issue #3508410 by quietone, borisson_: Fix 'Drupal.Commenting.DocComment.ShortNotCapital' coding standard except for callbacks
  core/.phpstan-baseline.php
  core/lib/Drupal/Core/Cache/DatabaseBackend.php
  core/modules/content_translation/content_translation.admin.inc
  core/modules/editor/tests/src/Kernel/EditorValidationTest.php
  core/modules/locale/locale.module
  core/modules/media/src/Annotation/MediaSource.php
  core/modules/search/tests/src/Kernel/SearchMatchTest.php
  core/modules/system/tests/modules/ajax_forms_test/src/Form/AjaxFormsTestCommandsForm.php
  core/modules/views/src/Annotation/ViewsAccess.php
  core/modules/views/src/Annotation/ViewsArgumentDefault.php
  core/modules/views/src/Annotation/ViewsArgumentValidator.php
  core/modules/views/src/Annotation/ViewsCache.php
  core/modules/views/src/Annotation/ViewsDisplay.php
  core/modules/views/src/Annotation/ViewsDisplayExtender.php
  core/modules/views/src/Annotation/ViewsExposedForm.php
  core/modules/views/src/Annotation/ViewsPager.php
  core/modules/views/src/Annotation/ViewsQuery.php
  core/modules/views/src/Annotation/ViewsRow.php
  core/modules/views/src/Annotation/ViewsStyle.php
  core/modules/views/src/Annotation/ViewsWizard.php
  core/modules/views_ui/tests/src/Functional/CustomBooleanTest.php
  core/tests/Drupal/FunctionalTests/Libraries/JqueryUiLibraryAssetsTest.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityQueryRelationshipTest.php
  core/tests/Drupal/Tests/Core/Entity/Sql/SqlContentEntityStorageSchemaTest.php
  core/tests/Drupal/Tests/Core/Render/RendererPlaceholdersTest.php
  core/tests/Drupal/Tests/Core/Render/RendererRecursionTest.php
Due: üìî Validatable config

Issue #2714815 by quietone, mile23, alexpott, klausi, jhodgdon: Enable 'Drupal.Semantics.ConstantName.ConstantStart' coding standard
  core/phpcs.xml.dist
Due: none

Issue #3508199 by plopesc, m4olivei, finnsky, katannshaw: Navigation Top Bar accessibility issues found by Nightwatch tests
  core/modules/navigation/templates/top-bar-page-actions.html.twig
  core/modules/navigation/templates/top-bar.html.twig
Due: none
