Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

üßπ JavaScript linting (eslint):
  needs:
  - üì¶Ô∏è Yarn
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - cd core
  - corepack enable
  - yarn run check:ckeditor5
  - yarn run lint:core-js-passing --format gitlab
  artifacts:
    reports:
      codequality: eslint-quality-report.json

üßπ CSS linting (stylelint):
  needs:
  - üì¶Ô∏è Yarn
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - corepack enable
  - cd core
  - yarn run build:css --check
  - yarn run lint:css --color --custom-formatter=node_modules/stylelint-formatter-gitlab
  artifacts:
    reports:
      codequality: stylelint-quality-report.json

üìî Validatable config:
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  artifacts:
    expire_in: 1 week
    expose_as: validatable-config
    paths:
    - HEAD.json
    - MR.json
  allow_failure:
    exit_codes:
    - 100
    - 101
    - 1
  script:
  - git checkout -f $CI_MERGE_REQUEST_DIFF_BASE_SHA
  ...

Issue #3117410 by jungle, longwave, alexpott, andypost, Kristen Pol, daffie: Use an optimised autoloader in testing
  .gitlab-ci.yml
Due: üßπ JavaScript linting (eslint)

Issue #3117410 by jungle, longwave, alexpott, andypost, Kristen Pol, daffie: Use an optimised autoloader in testing (follow-up)
  core/tests/Drupal/Tests/Composer/Plugin/Scaffold/fixtures/composer-plugin-implements-scaffold-events/src/ComposerPluginImplementsScaffoldEvents.php
Due: none

Issue #3437783 by mfb, catch, pradhumanjain2311, longwave: Use standardized SPDX license identifiers
  core/core.libraries.yml
  core/lib/Drupal/Core/Asset/LibraryDiscoveryParser.php
  core/package.json
  core/tests/Drupal/Tests/Core/Asset/CssCollectionOptimizerLazyUnitTest.php
  core/tests/Drupal/Tests/Core/Asset/CssCollectionOptimizerUnitTest.php
  core/tests/Drupal/Tests/Core/Asset/LibraryDiscoveryParserTest.php
  core/tests/Drupal/Tests/Core/Asset/css_test_files/css_input_with_import.css.optimized.aggregated.css
  core/tests/Drupal/Tests/Core/Asset/css_test_files/css_license.css.optimized.aggregated.css
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint)

Issue #3402713 by mstrelan, smustgrave, dww: Fix strict type errors: miscellaneous fixes in core Kernel tests
  core/modules/filter/tests/src/Kernel/FilterKernelTest.php
  core/modules/link/tests/src/Kernel/LinkItemSerializationTest.php
  core/modules/mysql/tests/src/Kernel/mysql/TemporaryQueryTest.php
  core/modules/node/tests/src/Kernel/Views/PathPluginTest.php
  core/modules/node/tests/src/Kernel/Views/RowPluginTest.php
  core/modules/user/tests/src/Kernel/WhoIsOnlineBlockTest.php
  core/modules/views/tests/src/Kernel/Handler/ComputedBundleFieldTest.php
  core/tests/Drupal/KernelTests/Core/Path/PathValidatorTest.php
  core/tests/Drupal/KernelTests/Core/Theme/ClaroTableTest.php
Due: none

Issue #3402713 by mstrelan, smustgrave, dww: Fix strict type errors: miscellaneous fixes in core Kernel tests
  core/modules/link/tests/src/Kernel/LinkItemSerializationTest.php
  core/modules/mysql/tests/src/Kernel/mysql/TemporaryQueryTest.php
  core/modules/node/tests/src/Kernel/Views/PathPluginTest.php
  core/modules/node/tests/src/Kernel/Views/RowPluginTest.php
  core/modules/user/tests/src/Kernel/WhoIsOnlineBlockTest.php
  core/tests/Drupal/KernelTests/Core/Path/PathValidatorTest.php
  core/tests/Drupal/KernelTests/Core/Theme/ClaroTableTest.php
Due: none

Issue #3427172 by mondrake, longwave: Replace calls to ::expectWarning*() from Drupal\KernelTests\Core\Config\ConfigInstallTest
  core/.phpstan-baseline.php
  core/lib/Drupal/Core/Config/ConfigInstaller.php
  core/tests/Drupal/KernelTests/Core/Config/ConfigInstallTest.php
Due: none

Issue #3439922 by amateescu, vensires: Fix Workspaces tests that rely on UID1's super user behavior
  core/modules/workspaces/tests/src/Functional/PathWorkspacesTest.php
  core/modules/workspaces/tests/src/Functional/WorkspaceTest.php
  core/modules/workspaces/tests/src/Functional/WorkspacesUninstallTest.php
Due: none

Issue #3439493 by mondrake: Change remaining Forum module test dataproviders to static
  core/modules/forum/tests/src/Unit/Breadcrumb/ForumListingBreadcrumbBuilderTest.php
  core/modules/forum/tests/src/Unit/Breadcrumb/ForumNodeBreadcrumbBuilderTest.php
Due: none

Issue #3420974 by andypost, quietone, dimitriskr, catch: Add testing wtih Maria DB 10.6
  .gitlab-ci.yml
Due: üßπ JavaScript linting (eslint)

Issue #3439647 by catch: Skip query string compression if zlib extension isn't available
  core/lib/Drupal/Component/Utility/UrlHelper.php
Due: none

Issue #3427178 by mondrake, longwave: Replace calls to ::expectWarning*() from Drupal\Tests\Core\Security\DoTrustedCallbackTraitTest
  core/.phpstan-baseline.php
  core/lib/Drupal/Core/Security/DoTrustedCallbackTrait.php
  core/lib/Drupal/Core/Security/StaticTrustedCallbackHelper.php
  core/lib/Drupal/Core/Security/TrustedCallbackInterface.php
  core/tests/Drupal/Tests/Core/Security/DoTrustedCallbackTraitTest.php
Due: none

Issue #3437623 by alexpott, kim.pepper, sakthi_dev: \Drupal\file\Upload\FileUploadHandler::handleFileUpload() should alway check that the uploaded file is valid
  core/modules/file/file.module
  core/modules/file/file.services.yml
  core/modules/file/src/Upload/FileUploadHandler.php
  core/modules/file/src/Upload/FormUploadedFile.php
  core/modules/file/src/Upload/UploadedFileInterface.php
  core/modules/file/src/Validation/UploadedFileValidator.php
  core/modules/file/src/Validation/UploadedFileValidatorInterface.php
  core/modules/file/tests/src/Kernel/FileUploadHandlerTest.php
  core/modules/file/tests/src/Kernel/Validation/UploadedFileConstraintValidatorTest.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #3439829 by thebumik, dimitriskr, vensires: Fix Blocks tests that rely on UID1's super user behavior
  core/modules/block/tests/src/Functional/BlockHtmlTest.php
  core/modules/block/tests/src/Functional/BlockXssTest.php
  core/modules/block/tests/src/FunctionalJavascript/BlockContextualLinksTest.php
Due: none

Issue #3440087 by dww: Update CacheTagOperation enum to use UpperCamelCase
  core/modules/system/tests/modules/performance_test/src/Cache/CacheTagOperation.php
  core/modules/system/tests/modules/performance_test/src/Cache/CacheTagsChecksumDecorator.php
  core/tests/Drupal/Tests/PerformanceTestTrait.php
Due: none

Issue #3000749 by amateescu, s_leu, dragos-dumi, tim.plunkett, jeremylichtman, smithmilner, velocis: Layout builder overrides on a single content item not allowed in a workspace
  core/modules/layout_builder/config/schema/layout_builder.schema.yml
  core/modules/layout_builder/src/Form/ConfigureBlockFormBase.php
  core/modules/layout_builder/src/Form/ConfigureSectionForm.php
  core/modules/layout_builder/src/Form/DiscardLayoutChangesForm.php
  core/modules/layout_builder/src/Form/LayoutBuilderDisableForm.php
  core/modules/layout_builder/src/Form/LayoutRebuildConfirmFormBase.php
  core/modules/layout_builder/src/Form/MoveBlockForm.php
  core/modules/layout_builder/src/Form/OverridesEntityForm.php
  core/modules/layout_builder/src/Form/RevertOverridesForm.php
  core/modules/layout_builder/src/Form/WorkspaceSafeFormTrait.php
  core/modules/layout_builder/src/InlineBlockEntityOperations.php
  core/modules/layout_builder/src/Plugin/Block/InlineBlock.php
  core/modules/layout_builder/tests/src/FunctionalJavascript/InlineBlockTestBase.php
  core/modules/workspaces/tests/src/FunctionalJavascript/WorkspacesLayoutBuilderIntegrationTest.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Issue #3272629 by kelly.m.jacobs, alexpott, Abhijith S, imclean, heni_deepak, azinck: Media Library widget display doesn't return to first page on applying filters
  core/modules/media_library/media_library.module
  core/modules/media_library/tests/src/FunctionalJavascript/WidgetViewsTest.php
Due: üìî Validatable config

Issue #3440112 by catch: 10.3.x performance tests are failing
  core/profiles/demo_umami/tests/src/FunctionalJavascript/AssetAggregationAcrossPagesTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryAuthenticatedPerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryFrontPagePerformanceTest.php
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTest.php
Due: none

Issue #3439446 by Gábor Hojtsy, nod_, ckrina, justafish: Promote Cristina Chumillas, Sally Young and Théodore Biadala from provisional to full Drupal Core Frontend Framework Managers
  core/MAINTAINERS.txt
Due: none

Issue #3303557 by Binoli Lalani, quietone, catch, Tom Konda, smustgrave: Deprecate and remove the AJAX replace method
  core/lib/Drupal/Core/Render/Element/RenderElementBase.php
  core/modules/system/tests/modules/ajax_forms_test/src/Form/AjaxFormsTestValidationForm.php
  core/modules/system/tests/modules/form_test/src/Form/FormTestMachineNameValidationForm.php
Due: none

Issue #3439766 by markusVJH, quietone: Removed unused update test fixtures
  core/modules/action/tests/fixtures/update/action.settings_3022401.yml
  core/modules/jsonapi/tests/fixtures/update/jsonapi.settings.yml
Due: üßπ JavaScript linting (eslint)

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/package.json, core/yarn.lock, **/*.css
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module
