Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), ‚úÖÔ∏è PHPStan rules tests, üìî Validatable config

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/.eslint*, core/.prettier*, core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/.stylelintrc.json, core/.prettier*, core/package.json, core/yarn.lock, **/*.css
  ‚úÖÔ∏è PHPStan rules tests: any of: core/tests/PHPStan/**/*, composer/Metapackage/PinnedDevDependencies/composer.json
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module

Revert "Issue #3115759 by dpi, neclimdul, danielveza, acbramley, smustgrave, damienmckenna, alexpott, longwave, mstrelan, codebymikey, chrisolof: Prevent auto-adding new fields to LB layouts"
  core/.deprecation-ignore.txt
  core/modules/block_content/tests/src/Functional/BlockContentThemeSuggestionsTest.php
  core/modules/content_moderation/tests/src/Functional/LayoutBuilderContentModerationIntegrationTest.php
  core/modules/layout_builder/layout_builder.post_update.php
  core/modules/layout_builder/modules/layout_builder_add_new_fields_to_layout/layout_builder_add_new_fields_to_layout.info.yml
  core/modules/layout_builder/modules/layout_builder_add_new_fields_to_layout/src/Hook/LayoutBuilderAddNewFieldsToLayoutHooks.php
  core/modules/layout_builder/src/Entity/LayoutBuilderEntityViewDisplay.php
  core/modules/layout_builder/src/LayoutEntityHelperTrait.php
  core/modules/layout_builder/tests/src/Functional/LayoutBuilderDefaultValuesTest.php
  core/modules/layout_builder/tests/src/Functional/LayoutBuilderFieldBlockEntityReferenceCacheTagsTest.php
  core/modules/layout_builder/tests/src/Functional/LayoutBuilderNewFieldsTest.php
  core/modules/layout_builder/tests/src/Functional/LayoutBuilderOverridesTest.php
  core/modules/layout_builder/tests/src/Functional/LayoutBuilderTest.php
  core/modules/layout_builder/tests/src/Functional/LayoutBuilderThemeSuggestionsTest.php
  core/modules/layout_builder/tests/src/Functional/LayoutBuilderTranslationTest.php
  core/modules/layout_builder/tests/src/Functional/LayoutBuilderViewModeTest.php
  core/modules/layout_builder/tests/src/Functional/LayoutSectionTest.php
  core/modules/layout_builder/tests/src/FunctionalJavascript/AjaxBlockTest.php
  core/modules/layout_builder/tests/src/FunctionalJavascript/ContentPreviewToggleTest.php
  core/modules/layout_builder/tests/src/FunctionalJavascript/ContextualLinksTest.php
  core/modules/layout_builder/tests/src/FunctionalJavascript/LayoutBuilderDisableInteractionsTest.php
  core/modules/layout_builder/tests/src/FunctionalJavascript/LayoutBuilderOptInTest.php
  core/modules/layout_builder/tests/src/FunctionalJavascript/LayoutBuilderTest.php
  core/modules/layout_builder/tests/src/FunctionalJavascript/LayoutBuilderUiTest.php
  core/modules/layout_builder/tests/src/Kernel/LayoutBuilderFieldLayoutCompatibilityTest.php
  core/modules/layout_builder/tests/src/Kernel/LayoutBuilderInstallTest.php
  core/modules/layout_builder/tests/src/Kernel/LayoutEntityHelperTraitTest.php
Due: üßπ JavaScript linting (eslint)

Issue #3535173 by fathershawn, nod_, catch, larowlan: Support dynamic forms using HTMX
  core/lib/Drupal/Core/Form/FormBuilder.php
  core/lib/Drupal/Core/Form/FormBuilderInterface.php
  core/lib/Drupal/Core/Htmx/Htmx.php
  core/misc/htmx/htmx-assets.js
  core/modules/system/tests/modules/js_testing_ajax_request_test/js/js_testing_ajax_request_test.js
  core/modules/system/tests/modules/test_htmx/src/Controller/HtmxTestAttachmentsController.php
  core/modules/system/tests/modules/test_htmx/src/Form/HtmxTestForm.php
  core/modules/system/tests/modules/test_htmx/test_htmx.routing.yml
  core/tests/Drupal/FunctionalJavascriptTests/Core/Htmx/HtmxDynamicFormTest.php
Due: üßπ JavaScript linting (eslint)

Issue #3522597 by fathershawn, larowlan, catch, longwave, andypost, nod_: Return only main content for selected htmx requests
  core/core.services.yml
  core/lib/Drupal/Core/Render/MainContent/HtmxRenderer.php
  core/modules/system/tests/modules/test_htmx/src/Controller/HtmxTestAttachmentsController.php
  core/modules/system/tests/modules/test_htmx/test_htmx.routing.yml
  core/tests/Drupal/FunctionalTests/Htmx/HtmxRendererCacheTest.php
  core/tests/Drupal/KernelTests/Core/Htmx/HtmxRendererTest.php
  core/tests/Drupal/Nightwatch/Tests/htmx/htmxTest.js
Due: üßπ JavaScript linting (eslint)

Issue #3532951 by phenaproxima, murz, berdir, thejimbirch, wim leers, penyaskito, larowlan: Support exporting content and its dependencies to a folder structure on disk
  core/.phpstan-baseline.php
  core/core.services.yml
  core/lib/Drupal/Core/DefaultContent/ContentExportCommand.php
  core/lib/Drupal/Core/DefaultContent/ExportMetadata.php
  core/lib/Drupal/Core/DefaultContent/ExportResult.php
  core/lib/Drupal/Core/DefaultContent/Exporter.php
  core/lib/Drupal/Core/DefaultContent/PreExportEvent.php
  core/modules/file/file.services.yml
  core/modules/file/src/EventSubscriber/DefaultContentSubscriber.php
  core/tests/Drupal/FunctionalTests/Core/Recipe/RecipeTestTrait.php
  core/tests/Drupal/FunctionalTests/DefaultContent/ContentExportTest.php
  core/tests/fixtures/default_content/file/2b8e0616-3ef0-4a91-8cfb-b31d9128f9f8.yml
Due: üßπ JavaScript linting (eslint)

Issue #3546171 by fathershawn, cilefen: Fix typo in Htmx class comment
  core/lib/Drupal/Core/Htmx/Htmx.php
Due: none

Issue #3075308 by acbramley, sam152, mortona2k, smustgrave: Inline blocks shouldn't be editable via the normal block content UI
  core/modules/block_content/block_content.routing.yml
  core/modules/block_content/block_content.services.yml
  core/modules/block_content/src/Access/BlockContentIsReusableAccessCheck.php
  core/modules/block_content/tests/src/Functional/BlockContentRouteAccessTest.php
  core/modules/layout_builder/tests/src/FunctionalJavascript/InlineBlockTest.php
Due: üßπ JavaScript linting (eslint)

Issue #3526249 by prudloff, ishani patel, longwave: Move the access logic in FormBuilder::handleInputElement() to its own protected method
  core/lib/Drupal/Core/Form/FormBuilder.php
Due: none

Issue #3539537 by drunken monkey: Deprecation warning in DefaultPluginManager::__construct() is too unspecific
  core/lib/Drupal/Core/Plugin/DefaultPluginManager.php
Due: none

Issue #3075308: by godotislate - followup to fix deprecated annotation issue.
  core/modules/block_content/tests/src/Functional/BlockContentRouteAccessTest.php
Due: none

Issue #3519726 by jcontreras, smustgrave, kim.pepper, quietone: FileUploadResource declares a non-existent deprecated property service "mime_type.guesser"
  core/modules/file/src/Plugin/rest/resource/FileUploadResource.php
Due: none

Issue #3269890 by prudloff, smustgrave, catch, shalini_jha, alexpott, oily: #date_year_range is not validated server-side
  core/lib/Drupal/Core/Datetime/Element/Datetime.php
  core/tests/Drupal/KernelTests/Core/Datetime/DatetimeElementFormTest.php
Due: none

Issue #3546266 by mondrake: Bump PHPUnit to ^11.5.39 with all dependencies for testing with PHP 8.5
  composer.lock
  composer/Metapackage/PinnedDevDependencies/composer.json
Due: ‚úÖÔ∏è PHPStan rules tests

Issue #3533282 by mondrake: Ensure base test classes don't have class level phpunit metadata
  core/.phpstan-baseline.php
  core/phpstan.neon.dist
  core/tests/PHPStan/Rules/NoClassMetadataOnAbstractTestClasses.php
  core/tests/PHPStan/composer.json
  core/tests/PHPStan/fixtures/abstract-test-classes.php
  core/tests/PHPStan/tests/NoClassMetadataOnAbstractTestClassesTest.php
Due: ‚úÖÔ∏è PHPStan rules tests

Issue #3543997 by mondrake: Remove class metadata from abstract test class MTimeProtectedFileStorageBase
  core/.phpstan-baseline.php
  core/tests/Drupal/Tests/Component/PhpStorage/MTimeProtectedFastFileStorageTest.php
  core/tests/Drupal/Tests/Component/PhpStorage/MTimeProtectedFileStorageBase.php
  core/tests/Drupal/Tests/Component/PhpStorage/MTimeProtectedFileStorageTest.php
Due: none

Issue #3542967 by dcam, smustgrave, mondrake: Bad test in LinkNotExistingInternalConstraintValidatorTest
  core/modules/link/tests/src/Unit/Plugin/Validation/Constraint/LinkNotExistingInternalConstraintValidatorTest.php
Due: none

Issue #3537382 by jurgenhaas, smustgrave: Link attributes in top bar are lost for featured links
  core/modules/navigation/templates/top-bar-page-actions.html.twig
  core/modules/navigation/tests/navigation_test_top_bar/navigation_test_top_bar.info.yml
  core/modules/navigation/tests/navigation_test_top_bar/src/Plugin/TopBarItem/TopBarItemLinkAttribute.php
  core/modules/navigation/tests/src/Functional/NavigationTopBarTest.php
Due: üßπ JavaScript linting (eslint)

Issue #3543939 by penyaskito, grimreaper, catch: SDC `ComponentRenderTest` is error-prone
  core/tests/Drupal/KernelTests/Components/ComponentRenderTest.php
Due: none

Issue #3532741 by amateescu, smustgrave, catch, plach: Switching workspaces shouldn't clear the persistent entity cache
  core/lib/Drupal/Core/Entity/ContentEntityStorageBase.php
  core/modules/workspaces/src/WorkspaceManager.php
  core/modules/workspaces/tests/src/Functional/WorkspaceSwitcherTest.php
Due: none

Issue #2943436 by almaudoh, nicxvan, luismagr, quietone, mstrelan: Review all tests where system module is the only dependency
  core/modules/field/tests/src/Kernel/DisplayApiTest.php
  core/modules/link/tests/src/Kernel/Plugin/migrate/field/d7/LinkFieldTest.php
  core/modules/migrate/tests/src/Kernel/process/DownloadTest.php
  core/modules/shortcut/tests/src/Kernel/ShortcutClaroIntegrationTest.php
  core/modules/system/tests/src/Kernel/Installer/InstallTranslationFilePatternTest.php
  core/modules/system/tests/src/Kernel/Migrate/d7/MigrateGlobalThemeSettingsTest.php
  core/modules/system/tests/src/Kernel/System/InfoAlterTest.php
  core/modules/system/tests/src/Kernel/Theme/TwigIncludeTest.php
  core/modules/system/tests/src/Kernel/Token/TokenReplaceKernelTestBase.php
  core/modules/views/tests/src/Kernel/Handler/FieldUrlTest.php
  core/modules/views/tests/src/Kernel/Handler/FilterBooleanOperatorStringTest.php
  core/modules/views/tests/src/Kernel/Handler/FilterBooleanOperatorTest.php
  core/modules/views/tests/src/Kernel/Handler/FilterEqualityTest.php
  core/modules/views/tests/src/Kernel/Handler/FilterInOperatorTest.php
  core/modules/views/tests/src/Kernel/Handler/FilterNumericTest.php
  core/modules/views/tests/src/Kernel/Handler/FilterStringTest.php
  core/modules/views/tests/src/Kernel/Plugin/StyleMappingTest.php
  core/modules/views/tests/src/Kernel/TokenReplaceTest.php
  core/tests/Drupal/FunctionalTests/Asset/AssetOptimizationTest.php
  core/tests/Drupal/KernelTests/Core/Cache/DatabaseBackendTagTest.php
  core/tests/Drupal/KernelTests/Core/Cache/DatabaseBackendTest.php
  core/tests/Drupal/KernelTests/Core/Config/ConfigCRUDTest.php
  core/tests/Drupal/KernelTests/Core/Datetime/Element/TimezoneTest.php
  core/tests/Drupal/KernelTests/Core/Entity/Sql/SqlContentEntityStorageTest.php
  core/tests/Drupal/KernelTests/Core/Extension/ExtensionExistsConstraintValidatorTest.php
  core/tests/Drupal/KernelTests/Core/Extension/ExtensionNameConstraintTest.php
  core/tests/Drupal/KernelTests/Core/Extension/ModuleImplementsAlterTest.php
  core/tests/Drupal/KernelTests/Core/File/FileSystemTempDirectoryTest.php
  core/tests/Drupal/KernelTests/Core/File/FileSystemTest.php
  core/tests/Drupal/KernelTests/Core/File/HtaccessTest.php
  core/tests/Drupal/KernelTests/Core/KeyValueStore/DatabaseStorageExpirableTest.php
  core/tests/Drupal/KernelTests/Core/KeyValueStore/GarbageCollectionTest.php
  core/tests/Drupal/KernelTests/Core/Render/Element/ActionsTest.php
  core/tests/Drupal/KernelTests/Core/Render/Element/MachineNameTest.php
  core/tests/Drupal/KernelTests/Core/StreamWrapper/StreamWrapperManagerTest.php
  core/tests/Drupal/KernelTests/Core/TempStore/AnonymousPrivateTempStoreTest.php
  core/tests/Drupal/KernelTests/Core/Theme/BaseThemeMissingTest.php
Due: none

Issue #3537235 by mondrake: Update PHPStan to 2.1.26, phpstan-drupal to 2.0.9
  composer.json
  composer.lock
  composer/Metapackage/DevDependencies/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  core/.phpstan-baseline.php
  core/tests/PHPStan/composer.json
Due: ‚úÖÔ∏è PHPStan rules tests

Issue #3524872 by nicxvan: Document and exclude some additional hooks.
  core/core.api.php
  core/lib/Drupal/Core/Extension/module.api.php
  core/lib/Drupal/Core/Hook/Attribute/Hook.php
  core/lib/Drupal/Core/Hook/HookCollectorPass.php
Due: none

Issue #3541499 by quietone: Move field_layout tests to field_layout module
  core/modules/field_layout/tests/src/Kernel/LayoutBuilderFieldLayoutCompatibilityTest.php
Due: none

Issue #3545212 by mfb: Actually add service alias for Symfony\Component\EventDispatcher\EventDispatcherInterface
  core/core.services.yml
Due: üßπ JavaScript linting (eslint)

Issue #3524058 by nicxvan, berdir, mstrelan: Move olivero_drupal_alter_alter to an actual test theme
  core/modules/system/tests/src/Kernel/Common/AlterTest.php
  core/modules/system/tests/themes/test_theme_alter/test_theme_alter.info.yml
  core/modules/system/tests/themes/test_theme_alter/test_theme_alter.theme
Due: üßπ JavaScript linting (eslint)

Issue #3545592 by mondrake, ankitv18: Use #[IgnoreDeprecations] instead of #[Group('legacy')] - again
  core/modules/package_manager/tests/src/Unit/ExecutableFinderTest.php
Due: none

Issue #3543386 by godotislate, nicxvan, berdir, mstrelan: Use service closure for form builder in node module hook classes
  core/modules/node/src/Hook/NodeThemeHooks.php
Due: none

Issue #3536742 by kim.pepper, nicxvan, berdir: Convert template_preprocess functions in file module
  core/modules/file/file.module
  core/modules/file/src/Hook/FileHooks.php
  core/modules/file/src/Hook/FileThemeHooks.php
  core/modules/file/templates/file-link.html.twig
  core/modules/file/templates/file-managed-file.html.twig
  core/modules/file/templates/file-upload-help.html.twig
  core/modules/file/templates/file-widget-multiple.html.twig
  core/profiles/demo_umami/themes/umami/templates/classy/content-edit/file-managed-file.html.twig
  core/profiles/demo_umami/themes/umami/templates/components/field/file-link.html.twig
  core/themes/claro/templates/content-edit/file-managed-file.html.twig
  core/themes/claro/templates/content-edit/file-widget-multiple.html.twig
  core/themes/claro/templates/field/file-link.html.twig
  core/themes/stable9/templates/content-edit/file-managed-file.html.twig
  core/themes/stable9/templates/content-edit/file-upload-help.html.twig
  core/themes/stable9/templates/content-edit/file-widget-multiple.html.twig
  core/themes/stable9/templates/field/file-link.html.twig
  core/themes/starterkit_theme/templates/content-edit/file-managed-file.html.twig
  core/themes/starterkit_theme/templates/content-edit/file-upload-help.html.twig
  core/themes/starterkit_theme/templates/content-edit/file-widget-multiple.html.twig
  core/themes/starterkit_theme/templates/field/file-link.html.twig
Due: üìî Validatable config

Issue #3540271 by amateescu, plach: Refactor workspace association tracking to use a dedicated revision table
  core/.phpstan-baseline.php
  core/modules/workspaces/src/WorkspaceAssociation.php
  core/modules/workspaces/src/WorkspaceMerger.php
  core/modules/workspaces/tests/fixtures/update/workspaces-10.3.0.php
  core/modules/workspaces/tests/fixtures/update/workspaces.php
  core/modules/workspaces/tests/src/Functional/Update/WorkspaceAssociationRevisionTableUpdateTest.php
  core/modules/workspaces/tests/src/Functional/Update/WorkspaceAssociationStringIdsUpdatePathTest.php
  core/modules/workspaces/tests/src/Kernel/EntityWorkspaceConflictConstraintValidatorTest.php
  core/modules/workspaces/tests/src/Kernel/WorkspaceAccessTest.php
  core/modules/workspaces/tests/src/Kernel/WorkspaceAssociationTest.php
  core/modules/workspaces/tests/src/Kernel/WorkspaceCRUDTest.php
  core/modules/workspaces/tests/src/Kernel/WorkspaceContentTranslationTest.php
  core/modules/workspaces/tests/src/Kernel/WorkspaceEntityDeleteTest.php
  core/modules/workspaces/tests/src/Kernel/WorkspaceEntityRepositoryTest.php
  core/modules/workspaces/tests/src/Kernel/WorkspaceInformationTest.php
  core/modules/workspaces/tests/src/Kernel/WorkspacePublisherTest.php
  core/modules/workspaces/tests/src/Kernel/WorkspaceQueryParameterNegotiatorTest.php
  core/modules/workspaces/tests/src/Kernel/WorkspaceTestTrait.php
  core/modules/workspaces/tests/src/Kernel/WorkspaceViewsIntegrationTest.php
  core/modules/workspaces/tests/src/Kernel/WorkspacesFileItemTest.php
  core/modules/workspaces/workspaces.install
Due: none

Issue #3546545 by mondrake: [CI] add 'when: always' to artifacts upload for cache warming
  .gitlab-ci.yml
Due: üßπ JavaScript linting (eslint)

Issue #3546531 by andypost, mondrake: Use specific PDO drivers instead of PDOConnection
  .gitlab-ci.yml
  core/modules/mysql/src/Driver/Database/mysql/Connection.php
  core/modules/mysql/tests/src/Kernel/mysql/MysqlDriverTest.php
  core/modules/mysql/tests/src/Unit/ConnectionTest.php
  core/modules/pgsql/src/Driver/Database/pgsql/Connection.php
  core/modules/sqlite/src/Driver/Database/sqlite/Connection.php
  core/modules/sqlite/tests/src/Unit/ConnectionTest.php
Due: üßπ JavaScript linting (eslint)

Issue #3515506 by pdureau, dipakmdhrm, goz, grimreaper, smustgrave: Process #attributes render property for SDCs
  core/lib/Drupal/Core/Render/Element/ComponentElement.php
  core/tests/Drupal/KernelTests/Components/ComponentRenderTest.php
Due: none
