Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Unit tests PHPStan rules, üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

Unit tests PHPStan rules:
  stage: ‚ö°Ô∏è Unit tests
  needs: []
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - docker-php-ext-enable pcov
  - cd core/tests/PHPStan
  - composer install
  - vendor/bin/phpunit tests --testdox --coverage-text --colors=always --coverage-cobertura=coverage.cobertura.xml --log-junit junit.xml
  ...

üßπ JavaScript linting (eslint):
  before_script:
  - cd core
  - corepack enable
  - yarn install
  - cd ..
  cache:
    key:
    - .yarn-install-from-cache
    - cache
    - key
    paths:
    - .yarn-install-from-cache
    - cache
    - paths
    policy: pull-push
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
    CACHE_FILE: core/.eslintcache
  ...

üßπ CSS linting (stylelint):
  before_script:
  - cd core
  - corepack enable
  - yarn install
  - cd ..
  cache:
    key:
      files:
      - ./core/package.json
      - ./core/yarn.lock
    paths:
    - ./core/.yarn/cache
    policy: pull
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
    CACHE_FILE: core/.stylelintcache
  script:
  ...

üìî Validatable config:
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  artifacts:
    expire_in: 1 week
    expose_as: validatable-config
    paths:
    - HEAD.json
    - MR.json
  allow_failure:
    exit_codes:
    - 100
    - 101
    - 1
  script:
  - git checkout -f $CI_MERGE_REQUEST_DIFF_BASE_SHA
  ...

fix: #3572084 Dotfiles cannot be ignored cia *.starterkit.yml file
  core/lib/Drupal/Core/Command/GenerateTheme.php
  core/tests/Drupal/BuildTests/Command/GenerateThemeTest.php
Due: none

fix: #3568566 Olivero's secondary menus inoperable when authenticated & BigPipe present
  core/themes/olivero/js/second-level-navigation.js
Due: üßπ JavaScript linting (eslint)

fix: #3511047 Navigation sidebar Logo / Close / Back button spacing issues
  core/modules/navigation/css/components/admin-toolbar.css
  core/modules/navigation/css/components/admin-toolbar.pcss.css
Due: üßπ CSS linting (stylelint)

fix: #3554220 Claro's libraries don't enforce the variables.css dependency
  core/themes/claro/claro.libraries.yml
Due: üßπ JavaScript linting (eslint)

refactor: #3560851 Convert test_theme to OOP
  core/.phpstan-baseline.php
  core/modules/system/tests/modules/theme_test/src/Hook/ThemeTestHooks.php
  core/modules/system/tests/modules/theme_test/src/ThemeTestController.php
  core/modules/system/tests/modules/theme_test/templates/theme-test-theme-class.html.twig
  core/modules/system/tests/modules/theme_test/theme_test.routing.yml
  core/modules/system/tests/src/Functional/Theme/ThemeSuggestionsAlterTest.php
  core/modules/system/tests/src/Functional/Theme/ThemeTest.php
  core/modules/system/tests/themes/test_theme/src/Hook/TestThemeHooks.php
  core/modules/system/tests/themes/test_theme/src/ThemeClass.php
  core/modules/system/tests/themes/test_theme/test_theme.theme
  core/tests/Drupal/FunctionalTests/Installer/InstallerTestBase.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

test: #3570175 Update gadget chain tests
  core/tests/Drupal/KernelTests/Core/Database/TransactionTest.php
Due: none

test: #3570173 Update tests for cache poisoning protection
  core/tests/Drupal/FunctionalTests/HttpKernel/RequestSanitizerTest.php
  core/tests/Drupal/Tests/Core/Security/RequestSanitizerTest.php
Due: none

docs: #3552759 Fix more incorrect phpdoc type hints (part 1)
  core/lib/Drupal/Component/Annotation/Plugin/Discovery/AnnotatedClassDiscovery.php
  core/lib/Drupal/Component/Transliteration/PhpTransliteration.php
  core/lib/Drupal/Core/Database/Query/PagerSelectExtender.php
  core/lib/Drupal/Core/Field/FieldInputValueNormalizerTrait.php
  core/lib/Drupal/Core/Render/Element.php
  core/lib/Drupal/Core/Site/Settings.php
  core/lib/Drupal/Core/Test/TestDiscovery.php
  core/lib/Drupal/Core/Transliteration/PhpTransliteration.php
  core/modules/field_ui/tests/src/Traits/FieldUiTestTrait.php
  core/modules/layout_builder/tests/src/FunctionalJavascript/InlineBlockPrivateFilesTest.php
  core/modules/migrate_drupal/src/Tests/StubTestTrait.php
  core/modules/system/tests/modules/entity_test/src/EntityTestHelper.php
  core/modules/system/tests/src/Functional/Entity/Traits/EntityDefinitionTestTrait.php
  core/tests/Drupal/Tests/Composer/Plugin/ExecTrait.php
  core/tests/Drupal/Tests/Core/Entity/KeyValueStore/KeyValueEntityStorageTest.php
  core/tests/Drupal/Tests/PerformanceData.php
Due: none

test: #3561844 Refactor tests to use stubs instead of mocks where mocks do not configure expectations - in component tests
  core/tests/Drupal/Tests/Component/Datetime/TimeTest.php
  core/tests/Drupal/Tests/Component/Plugin/Context/ContextTest.php
  core/tests/Drupal/Tests/Component/Plugin/DefaultFactoryTest.php
  core/tests/Drupal/Tests/Component/Plugin/Discovery/AttributeBridgeDecoratorTest.php
  core/tests/Drupal/Tests/Component/Plugin/Discovery/DiscoveryCachedTraitTest.php
  core/tests/Drupal/Tests/Component/Plugin/Discovery/StaticDiscoveryDecoratorTest.php
  core/tests/Drupal/Tests/Component/Plugin/Factory/ReflectionFactoryTest.php
  core/tests/Drupal/Tests/Component/Utility/ArgumentsResolverTest.php
Due: none

refactor: #3559980 Make file module Hook class properties protected instead of private
  core/modules/file/src/Hook/CronHook.php
  core/modules/file/src/Hook/FileDownloadHook.php
  core/modules/file/src/Hook/TokenHooks.php
Due: üìî Validatable config

refactor: #3571351 Only get the css/js query string when necessary
  core/lib/Drupal/Core/Asset/CssCollectionRenderer.php
  core/lib/Drupal/Core/Asset/JsCollectionRenderer.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryAuthenticatedPerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryFrontPagePerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryNodePagePerformanceTest.php
  core/tests/Drupal/Tests/Core/Asset/CssCollectionRendererUnitTest.php
Due: none

task: #3520470 Deprecate the Contact module
  core/modules/contact/contact.info.yml
  core/modules/contact/tests/src/Functional/ConfigTranslationListUiTest.php
  core/modules/contact/tests/src/Functional/ConfigTranslationUiTest.php
  core/modules/contact/tests/src/Functional/ContactLanguageTest.php
  core/modules/contact/tests/src/Functional/ContactPersonalTest.php
  core/modules/contact/tests/src/Functional/ContactSitewideTest.php
  core/modules/contact/tests/src/Functional/ContactStorageTest.php
  core/modules/contact/tests/src/Functional/GenericTest.php
  core/modules/contact/tests/src/Functional/Jsonapi/ContactFormTest.php
  core/modules/contact/tests/src/Functional/Jsonapi/MessageTest.php
  core/modules/contact/tests/src/Functional/Rest/ContactFormJsonAnonTest.php
  core/modules/contact/tests/src/Functional/Rest/ContactFormJsonBasicAuthTest.php
  core/modules/contact/tests/src/Functional/Rest/ContactFormJsonCookieTest.php
  core/modules/contact/tests/src/Functional/Rest/ContactFormXmlAnonTest.php
  core/modules/contact/tests/src/Functional/Rest/ContactFormXmlBasicAuthTest.php
  core/modules/contact/tests/src/Functional/Rest/ContactFormXmlCookieTest.php
  core/modules/contact/tests/src/Functional/Rest/MessageJsonAnonTest.php
  core/modules/contact/tests/src/Functional/Rest/MessageJsonBasicAuthTest.php
  core/modules/contact/tests/src/Functional/Rest/MessageJsonCookieTest.php
  core/modules/contact/tests/src/Functional/Rest/MessageXmlAnonTest.php
  core/modules/contact/tests/src/Functional/Rest/MessageXmlBasicAuthTest.php
  core/modules/contact/tests/src/Functional/Rest/MessageXmlCookieTest.php
  core/modules/contact/tests/src/Functional/Views/ContactLinkTest.php
  core/modules/contact/tests/src/Kernel/ConfigActionsTest.php
  core/modules/contact/tests/src/Kernel/ContactFormValidationTest.php
  core/modules/contact/tests/src/Kernel/MessageEntityTest.php
  core/modules/contact/tests/src/Kernel/Migrate/MigrateContactCategoryTest.php
  core/modules/contact/tests/src/Kernel/Migrate/d6/MigrateContactSettingsTest.php
  core/modules/contact/tests/src/Kernel/Migrate/d7/MigrateContactSettingsTest.php
  core/modules/contact/tests/src/Kernel/Plugin/migrate/source/ContactCategoryTest.php
  core/modules/contact/tests/src/Kernel/Plugin/migrate/source/d6/ContactSettingsTest.php
  core/modules/contact/tests/src/Kernel/Views/ContactFieldsTest.php
Due: üßπ JavaScript linting (eslint)

task: #3340978 Remove uses of “illegal” from core
  core/.cspell.json
  core/lib/Drupal/Component/Transliteration/PhpTransliteration.php
  core/lib/Drupal/Core/Entity/Controller/EntityViewController.php
  core/lib/Drupal/Core/Entity/Query/QueryAggregateInterface.php
  core/lib/Drupal/Core/Entity/Sql/SqlContentEntityStorageSchema.php
  core/lib/Drupal/Core/Utility/CallableResolver.php
  core/modules/field/tests/src/Kernel/FieldStorageCrudTest.php
  core/modules/menu_ui/src/Hook/MenuUiHooks.php
  core/modules/migrate/tests/src/Kernel/MigrateEntityContentValidationTest.php
  core/modules/responsive_image/responsive_image.module
  core/modules/responsive_image/src/ResponsiveImageBuilder.php
  core/modules/user/src/Plugin/Validation/Constraint/UserNameConstraint.php
  core/modules/user/src/Plugin/Validation/Constraint/UserNameConstraintValidator.php
  core/modules/user/tests/src/Kernel/UserNameValidatorTest.php
  core/modules/views/src/Plugin/views/filter/FilterPluginBase.php
  core/modules/views/src/Plugin/views/sort/SortPluginBase.php
  core/modules/views/tests/src/Functional/Plugin/ExposedFormTest.php
  core/modules/views/tests/src/Kernel/Handler/FilterStringTest.php
  core/modules/views_ui/tests/src/Functional/ExposedFormUITest.php
  core/modules/views_ui/tests/src/Functional/FilterUITest.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityDefinitionUpdateMultipleTypesTest.php
  core/tests/Drupal/KernelTests/Core/Render/RenderTest.php
  core/tests/Drupal/Tests/Component/DrupalComponentTest.php
  core/tests/Drupal/Tests/Component/Transliteration/PhpTransliterationTest.php
  core/tests/Drupal/Tests/Composer/Plugin/Scaffold/Functional/ScaffoldTest.php
  core/tests/Drupal/Tests/Composer/Plugin/Scaffold/fixtures/project-with-invalid-dir-scaffold/assets/README.md
  core/tests/Drupal/Tests/Composer/Plugin/Scaffold/fixtures/project-with-invalid-dir-scaffold/composer.json
  core/tests/Drupal/Tests/Core/Config/ConfigTest.php
Due: üìî Validatable config

feat: #3331158 Support full-screen editing in CKEditor
  core/core.libraries.yml
  core/modules/ckeditor5/ckeditor5.ckeditor5.yml
  core/modules/ckeditor5/ckeditor5.libraries.yml
  core/modules/ckeditor5/css/fullscreen.admin.css
  core/modules/ckeditor5/icons/fullscreen-enter.svg
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint)

fix: #3567146 Top bar background color should use CSS variable
  core/modules/navigation/css/components/top-bar.css
  core/modules/navigation/css/components/top-bar.pcss.css
Due: üßπ CSS linting (stylelint)

fix: #2722307 Move translation based conditions into database query on revisions overview page
  core/lib/Drupal/Core/Entity/Controller/VersionHistoryController.php
  core/modules/node/src/Controller/NodeController.php
  core/modules/node/tests/src/Functional/NodeRevisionsUiTest.php
  core/modules/system/tests/modules/entity_test/src/Entity/EntityTestMulRev.php
  core/tests/Drupal/FunctionalTests/Entity/RevisionVersionHistoryTest.php
Due: none

task: #3572325 Remove non-W3C compliant browser tests
  .gitlab-ci/pipeline.yml
  core/tests/Drupal/FunctionalJavascriptTests/WebDriverTestBase.php
  core/tests/Drupal/Tests/Core/Test/WebDriverTestBaseTest.php
Due: üßπ JavaScript linting (eslint)

task: #3571065 Remove deprecated code from lib/Entity and lib/Field
  core/.phpstan-baseline.php
  core/core.services.yml
  core/lib/Drupal/Core/Entity/ContentEntityBase.php
  core/lib/Drupal/Core/Entity/ContentEntityStorageBase.php
  core/lib/Drupal/Core/Entity/Controller/EntityController.php
  core/lib/Drupal/Core/Entity/EntityBase.php
  core/lib/Drupal/Core/Entity/EntityRepository.php
  core/lib/Drupal/Core/Entity/EntityRepositoryInterface.php
  core/lib/Drupal/Core/Entity/EntityTypeBundleInfo.php
  core/lib/Drupal/Core/Entity/EntityTypeBundleInfoInterface.php
  core/lib/Drupal/Core/Entity/Query/Sql/pgsql/Condition.php
  core/lib/Drupal/Core/Entity/Query/Sql/pgsql/QueryFactory.php
  core/lib/Drupal/Core/Entity/TypedData/EntityDataDefinition.php
  core/lib/Drupal/Core/Field/BaseFieldDefinition.php
  core/lib/Drupal/Core/Field/FieldConfigBase.php
  core/lib/Drupal/Core/Field/FieldStorageDefinitionInterface.php
  core/modules/field/src/Entity/FieldStorageConfig.php
  core/modules/pgsql/tests/src/Kernel/EntityQueryServiceDeprecationTest.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityOriginalDeprecationTest.php
  core/tests/Drupal/KernelTests/Core/Field/FieldStorageGetPropertyDefinitionTest.php
  core/tests/Drupal/Tests/Core/Entity/EntityTypeBundleInfoTest.php
Due: üßπ JavaScript linting (eslint)

Path conditions:
  Unit tests PHPStan rules: any of: core/tests/PHPStan/**/*, composer/Metapackage/PinnedDevDependencies/composer.json
  üßπ JavaScript linting (eslint): any of: core/.eslint*, core/.prettier*, core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/.stylelintrc.json, core/.prettier*, core/package.json, core/yarn.lock, **/*.css
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module, **/src/Hook/*.php
