Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), ‚úÖÔ∏è PHPStan rules tests, üìî Validatable config

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/.eslint*, core/.prettier*, core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/.stylelintrc.json, core/.prettier*, core/package.json, core/yarn.lock, **/*.css
  ‚úÖÔ∏è PHPStan rules tests: any of: core/tests/PHPStan/**/*, composer/Metapackage/PinnedDevDependencies/composer.json
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module

test: #3397420 Add a way to capture mails sent through the mailer transport service during tests
  core/lib/Drupal/Core/Test/MailerCaptureTrait.php
  core/modules/mailer/tests/modules/mailer_capture/mailer_capture.info.yml
  core/modules/mailer/tests/modules/mailer_capture/src/MailerCaptureServiceProvider.php
  core/modules/mailer/tests/modules/mailer_capture/src/Transport/CaptureTransport.php
  core/modules/mailer/tests/modules/mailer_capture_test/mailer_capture_test.info.yml
  core/modules/mailer/tests/modules/mailer_capture_test/mailer_capture_test.routing.yml
  core/modules/mailer/tests/modules/mailer_capture_test/src/Form/MailerCaptureTestForm.php
  core/modules/mailer/tests/src/Functional/MailerCaptureTest.php
Due: üßπ JavaScript linting (eslint)

fix: #3554801 The exception thrown by AutowiredInstanceTrait::createInstanceAutowired() uses the wrong name for the constructor
  core/lib/Drupal/Core/DependencyInjection/AutowiredInstanceTrait.php
  core/tests/Drupal/KernelTests/Core/Block/AutowireBlockTest.php
  core/tests/Drupal/KernelTests/Core/Controller/ControllerBaseTest.php
Due: none

task: #3540788 CI: replace postgresql 17 with 18 for PHP 8.5 jobs
  .gitlab-ci.yml
Due: üßπ JavaScript linting (eslint)

fix: #3557917 Remove stale implementations of WorkspaceNegotiatorInterface::getActiveWorkspace()
  core/.phpstan-baseline.php
  core/modules/workspaces/src/Negotiator/SessionWorkspaceNegotiator.php
  core/modules/workspaces/tests/modules/workspace_update_test/src/Negotiator/TestWorkspaceNegotiator.php
  core/modules/workspaces/workspaces.services.yml
Due: üßπ JavaScript linting (eslint)

task: #3559573 Replace TrustedCallbackInterface with TrustedCallback attribute in Drupal\navigation\ShortcutLazyBuilder
  core/modules/navigation/src/ShortcutLazyBuilder.php
Due: none

fix: #3520188 Do not try to load date format when custom date format is provided but not declared
  core/lib/Drupal/Core/Datetime/DateFormatter.php
  core/lib/Drupal/Core/Datetime/DateFormatterInterface.php
  core/tests/Drupal/Tests/Core/Datetime/DateTest.php
Due: none

fix: #3060985 Layout Builder attempts to builds sections to determine if it is disabled
  core/modules/layout_builder/src/DefaultsSectionStorageInterface.php
  core/modules/layout_builder/src/Entity/LayoutBuilderEntityViewDisplay.php
  core/modules/layout_builder/src/OverridesSectionStorageInterface.php
  core/modules/layout_builder/src/Plugin/SectionStorage/DefaultsSectionStorage.php
  core/modules/layout_builder/src/Plugin/SectionStorage/OverridesSectionStorage.php
  core/modules/layout_builder/src/SectionStorage/SectionStorageManager.php
  core/modules/layout_builder/src/SectionStorage/SupportAwareSectionStorageManagerInterface.php
  core/modules/layout_builder/src/SupportAwareSectionStorageInterface.php
  core/modules/layout_builder/tests/src/Kernel/DefaultsSectionStorageTest.php
  core/modules/layout_builder/tests/src/Kernel/LayoutBuilderEntityViewDisplayTest.php
  core/modules/layout_builder/tests/src/Kernel/OverridesSectionStorageTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryFrontPagePerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryNodePagePerformanceTest.php
Due: none

fix: #3349434 docs for ViewsDataHelper::fetchFields() don't explain how global works
  core/modules/views/src/ViewsDataHelper.php
Due: none

task: #3555526 Update to Symfony 7.4.0
  composer.json
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/DevDependencies/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  core/composer.json
  core/lib/Drupal/Component/DependencyInjection/composer.json
  core/lib/Drupal/Component/EventDispatcher/composer.json
  core/lib/Drupal/Component/HttpFoundation/composer.json
  core/lib/Drupal/Component/Plugin/composer.json
  core/lib/Drupal/Component/Serialization/composer.json
  core/tests/Drupal/BuildTests/Composer/Template/ComposerProjectTemplatesTest.php
  core/tests/PHPStan/composer.json
Due: ‚úÖÔ∏è PHPStan rules tests

task: #3498540 Deprecate unused ImageStyle::getReplacementID()
  core/.phpstan-baseline.php
  core/modules/image/src/Entity/ImageStyle.php
Due: none

fix: #3556315 Current approach to ensuring RunTestsInSeparateProcesses is added does not work
  core/modules/system/tests/src/Kernel/Theme/ThemeEngineTest.php
  core/phpstan.neon.dist
  core/tests/Drupal/Tests/Core/Test/BrowserTestBaseTest.php
  core/tests/Drupal/Tests/Core/Test/WebDriverTestBaseTest.php
  core/tests/PHPStan/Rules/TestClassClassMetadata.php
  core/tests/PHPStan/fixtures/test-classes-missing-attributes.php
  core/tests/PHPStan/fixtures/test-classes-with-metadata.php
  core/tests/PHPStan/tests/ComponentTestDoesNotExtendCoreTestTest.php
  core/tests/PHPStan/tests/EnsurePHPStanVersionsMatchTest.php
  core/tests/PHPStan/tests/TestClassClassMetadataTest.php
  core/tests/PHPStan/tests/TestClassMethodMetadataTest.php
Due: ‚úÖÔ∏è PHPStan rules tests

fix: #3033516 Revision log message field missing from layout overrides entity form
  core/modules/layout_builder/src/Form/OverridesEntityForm.php
  core/modules/layout_builder/tests/src/Functional/LayoutBuilderRevisionTest.php
Due: none

fix: #3554919 Stop discovering theme preprocess twice for theme engine discovered templates
  core/lib/Drupal/Core/Theme/Registry.php
Due: none

docs: #3517501 Fix 'DocComment.MissingShort' in KernelTest tests
  core/phpcs.xml.dist
  core/tests/Drupal/KernelTests/Component/Render/FormattableMarkupKernelTest.php
  core/tests/Drupal/KernelTests/Core/Config/Action/ConfigActionTest.php
  core/tests/Drupal/KernelTests/Core/Config/Storage/ConfigStorageTestBase.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityDuplicateTest.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityFieldTest.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityQueryTest.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityValidationTest.php
  core/tests/Drupal/KernelTests/Core/Entity/FieldSqlStorageTest.php
  core/tests/Drupal/KernelTests/Core/Extension/ModuleConfigureRouteTest.php
  core/tests/Drupal/KernelTests/Core/Field/FieldItemTest.php
  core/tests/Drupal/KernelTests/Core/Field/FieldMissingTypeTest.php
  core/tests/Drupal/KernelTests/Core/File/ScanDirectoryTest.php
  core/tests/Drupal/KernelTests/Core/Form/FormCacheTest.php
  core/tests/Drupal/KernelTests/Core/Hook/HookOrderTestTrait.php
  core/tests/Drupal/KernelTests/Core/Queue/QueueSerializationTest.php
  core/tests/Drupal/KernelTests/Core/Test/Comparator/MarkupInterfaceComparatorTest.php
  core/tests/Drupal/KernelTests/Core/Theme/TwigMarkupInterfaceTest.php
  core/tests/Drupal/KernelTests/Core/Validation/UriHostValidatorTest.php
  core/tests/Drupal/KernelTests/Core/Validation/UuidValidatorTest.php
  core/tests/Drupal/KernelTests/Core/Validation/ValidSequenceKeysValidatorTest.php
  core/tests/Drupal/KernelTests/KernelTestBase.php
Due: none

task: #3551738 Remove create method from controllers that use autowire trait
  core/lib/Drupal/Core/Entity/Controller/VersionHistoryController.php
  core/modules/ckeditor5/src/Controller/CKEditor5ImageController.php
  core/modules/config/tests/config_test/src/SchemaListenerController.php
  core/modules/config_translation/src/Controller/ConfigTranslationController.php
  core/modules/content_translation/src/Controller/ContentTranslationController.php
  core/modules/help/src/Controller/HelpController.php
  core/modules/image/src/Controller/ImageStyleDownloadController.php
  core/modules/jsonapi/src/Controller/EntryPoint.php
  core/modules/system/src/Controller/LinksetController.php
  core/modules/system/src/Controller/SystemController.php
  core/modules/system/tests/modules/csrf_race_test/src/Controller/TestController.php
  core/modules/system/tests/modules/database_test/src/Controller/DatabaseTestController.php
  core/modules/system/tests/modules/destructable_test/src/Controller/CallsDestructableServiceController.php
  core/modules/system/tests/modules/early_rendering_controller_test/src/EarlyRenderingTestController.php
  core/modules/system/tests/modules/menu_test/src/Controller/MenuTestController.php
  core/modules/system/tests/modules/nightwatch_theme_install_utility/src/Controller/ThemeInstallController.php
  core/modules/system/tests/modules/pager_test/src/Controller/PagerTestController.php
  core/modules/system/tests/modules/router_test_directory/src/TestContent.php
  core/modules/system/tests/modules/token_test/src/Controller/TestController.php
Due: none

task: #3555535 Since symfony/validator 7.4: Support for passing the choices as the first argument to Symfony\Component\Validator\Constraints\Choice is deprecated.
  core/.deprecation-ignore.txt
  core/lib/Drupal/Core/Recipe/Recipe.php
  core/modules/ckeditor5/config/schema/ckeditor5.schema.yml
  core/modules/datetime_range/config/schema/datetime_range.schema.yml
  core/modules/file/config/schema/file.schema.yml
  core/modules/language/config/schema/language.schema.yml
  core/modules/navigation/config/schema/navigation.schema.yml
  core/modules/node/config/schema/node.schema.yml
  core/modules/system/config/schema/system.schema.yml
  core/modules/system/tests/modules/form_test/config/schema/form_test.schema.yml
  core/modules/update/config/schema/update.schema.yml
  core/modules/update/src/ProjectRelease.php
  core/tests/Drupal/KernelTests/Core/TypedData/AllowedValuesConstraintValidatorTest.php
  core/tests/Drupal/KernelTests/Core/TypedData/ComplexDataConstraintValidatorTest.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

Revert "task: #3555535 Since symfony/validator 7.4: Support for passing the choices as the first argument to Symfony\Component\Validator\Constraints\Choice is deprecated."
  core/.deprecation-ignore.txt
  core/lib/Drupal/Core/Recipe/Recipe.php
  core/modules/ckeditor5/config/schema/ckeditor5.schema.yml
  core/modules/datetime_range/config/schema/datetime_range.schema.yml
  core/modules/file/config/schema/file.schema.yml
  core/modules/language/config/schema/language.schema.yml
  core/modules/navigation/config/schema/navigation.schema.yml
  core/modules/node/config/schema/node.schema.yml
  core/modules/system/config/schema/system.schema.yml
  core/modules/system/tests/modules/form_test/config/schema/form_test.schema.yml
  core/modules/update/config/schema/update.schema.yml
  core/modules/update/src/ProjectRelease.php
  core/tests/Drupal/KernelTests/Core/TypedData/AllowedValuesConstraintValidatorTest.php
  core/tests/Drupal/KernelTests/Core/TypedData/ComplexDataConstraintValidatorTest.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

task: #3555535 Since symfony/validator 7.4: Support for passing the choices as the first argument to Symfony\Component\Validator\Constraints\Choice is deprecated.
  core/.deprecation-ignore.txt
  core/config/schema/core.data_types.schema.yml
  core/lib/Drupal/Core/Recipe/Recipe.php
  core/modules/ckeditor5/config/schema/ckeditor5.schema.yml
  core/modules/datetime_range/config/schema/datetime_range.schema.yml
  core/modules/file/config/schema/file.schema.yml
  core/modules/language/config/schema/language.schema.yml
  core/modules/navigation/config/schema/navigation.schema.yml
  core/modules/node/config/schema/node.schema.yml
  core/modules/system/config/schema/system.schema.yml
  core/modules/system/tests/modules/form_test/config/schema/form_test.schema.yml
  core/modules/update/config/schema/update.schema.yml
  core/modules/update/src/ProjectRelease.php
  core/tests/Drupal/KernelTests/Core/TypedData/AllowedValuesConstraintValidatorTest.php
  core/tests/Drupal/KernelTests/Core/TypedData/ComplexDataConstraintValidatorTest.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

fix: #3524163 [regression] Empty slot definitions give incorrect validation message
  core/lib/Drupal/Core/Theme/Component/ComponentValidator.php
  core/modules/system/tests/modules/sdc_test/components/my-banner/my-banner.component.yml
Due: üßπ JavaScript linting (eslint)
