Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), ‚úÖÔ∏è PHPStan rules tests, üìî Validatable config

üßπ JavaScript linting (eslint):
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - - mkdir /build;
    - cp -Ria $CI_PROJECT_DIR/* /build/
    - cd /build
  ...

üßπ CSS linting (stylelint):
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - - mkdir /build;
    - cp -Ria $CI_PROJECT_DIR/* /build/
    - cd /build
  ...

‚úÖÔ∏è PHPStan rules tests:
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - docker-php-ext-enable pcov
  - cd core/tests/PHPStan
  - composer install
  - vendor/bin/phpunit tests --testdox --coverage-text --colors=always --coverage-cobertura=coverage.cobertura.xml --log-junit junit.xml
  artifacts:
    when: always
  ...

üìî Validatable config:
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
    _TARGET_PHP: 8.3-ubuntu
  artifacts:
    expire_in: 1 week
    expose_as: validatable-config
    paths:
    - HEAD.json
    - MR.json
  allow_failure:
    exit_codes:
    - 100
    - 101
    - 1
  script:
  - git checkout -f $CI_MERGE_REQUEST_DIFF_BASE_SHA
  ...

docs: #3517609 Remove broken link in MenuTreeStorageInterface
  core/lib/Drupal/Core/Menu/MenuTreeStorageInterface.php
Due: none

Drupal 10.5.7
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: ‚úÖÔ∏è PHPStan rules tests

Back to dev.
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: ‚úÖÔ∏è PHPStan rules tests

Drupal 11.2.9
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: ‚úÖÔ∏è PHPStan rules tests

task: #3561087 Add equivalent updates hook to prevent downgrades from 10.6 to 11.2
  core/modules/system/system.install
Due: none

Drupal 11.3.0-rc1
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: ‚úÖÔ∏è PHPStan rules tests

Drupal 10.6.0-rc1
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: ‚úÖÔ∏è PHPStan rules tests

docs: #3549662 Fix LongLineDeclaration in module Form directories
  core/modules/config/src/Form/ConfigSingleImportForm.php
  core/modules/config/src/Form/ConfigSync.php
  core/modules/config_translation/src/Form/ConfigTranslationDeleteForm.php
  core/modules/content_moderation/src/Form/ContentModerationConfigureEntityTypesForm.php
  core/modules/content_moderation/src/Form/ContentModerationConfigureForm.php
  core/modules/field_ui/src/Form/EntityDisplayFormBase.php
  core/modules/field_ui/src/Form/EntityDisplayModeAddForm.php
  core/modules/field_ui/src/Form/EntityDisplayModeFormBase.php
  core/modules/field_ui/src/Form/FieldStorageAddForm.php
  core/modules/field_ui/src/Form/FieldStorageConfigEditForm.php
  core/modules/image/src/Form/ImageEffectDeleteForm.php
  core/modules/language/src/Form/LanguageAddForm.php
  core/modules/language/src/Form/LanguageDeleteForm.php
  core/modules/language/src/Form/LanguageEditForm.php
  core/modules/language/src/Form/NegotiationUrlForm.php
  core/modules/layout_builder/src/Form/MoveBlockForm.php
  core/modules/locale/src/Form/LocaleSettingsForm.php
  core/modules/locale/src/Form/TranslateEditForm.php
  core/modules/node/src/Form/NodeDeleteForm.php
  core/modules/node/src/Form/NodeForm.php
  core/modules/node/src/Form/NodeRevisionDeleteForm.php
  core/modules/node/src/Form/NodeRevisionRevertForm.php
  core/modules/node/src/Form/NodeRevisionRevertTranslationForm.php
  core/modules/system/src/Form/CronForm.php
  core/modules/system/src/Form/PrepareModulesEntityUninstallForm.php
  core/modules/system/src/Form/RegionalForm.php
  core/modules/system/src/Form/SiteMaintenanceModeForm.php
  core/modules/system/src/Form/ThemeSettingsForm.php
  core/modules/user/src/Form/UserCancelForm.php
  core/modules/user/src/Form/UserPasswordResetForm.php
  core/modules/views_ui/src/Form/Ajax/ConfigHandler.php
  core/modules/views_ui/src/Form/Ajax/ConfigHandlerExtra.php
  core/modules/views_ui/src/Form/Ajax/ConfigHandlerGroup.php
  core/modules/views_ui/src/Form/Ajax/ViewsFormBase.php
  core/modules/workflows/src/Form/WorkflowEditForm.php
  core/modules/workflows/src/Form/WorkflowStateDeleteForm.php
  core/modules/workflows/src/Form/WorkflowTransitionDeleteForm.php
  core/phpcs.xml.dist
Due: none

task: #3559074 Mark ScaffoldUpgradeTest #slow
  core/tests/Drupal/Tests/Composer/Plugin/Scaffold/Functional/ScaffoldUpgradeTest.php
Due: none

docs: #3555621 Wrong type for \Drupal\Tests\UiHelperTrait::$loggedInUser
  core/tests/Drupal/Tests/UiHelperTrait.php
Due: none

docs: #3554909 Narrowed typing regression for plugins
  core/lib/Drupal/Core/Plugin/PluginBase.php
Due: none

fix: #3555974 HttpExceptionNormalizer sets cache-max to 0 unnecessarily sometimes
  core/modules/jsonapi/src/Normalizer/HttpExceptionNormalizer.php
  core/modules/jsonapi/tests/src/Functional/BlockTest.php
  core/modules/jsonapi/tests/src/Functional/ResourceTestBase.php
  core/modules/jsonapi/tests/src/Functional/UserTest.php
  core/modules/jsonapi/tests/src/Unit/Normalizer/HttpExceptionNormalizerTest.php
Due: none

ci: #3559601 [CI] Group DB jobs differently to improve UI
  .gitlab-ci.yml
Due: üßπ JavaScript linting (eslint)

Issue #3557393 by longwave, alexpott, xjm, catch: Update Symfony to 7.3.7 / 6.4.29
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  core/lib/Drupal/Component/DependencyInjection/composer.json
  core/lib/Drupal/Component/EventDispatcher/composer.json
Due: ‚úÖÔ∏è PHPStan rules tests

fix: #3560833 Create better way to manage theme setting alters
  core/lib/Drupal/Core/Hook/ThemeHookCollectorPass.php
  core/modules/system/src/Form/ThemeSettingsForm.php
  core/modules/system/tests/themes/test_theme_theme/src/Hook/TestThemeThemeHooks.php
  core/modules/system/tests/themes/test_theme_theme/test_theme_theme.theme
Due: none

fix: #3561574 [regression] Symfony dependencies downgraded in 10.5.7 and 11.2.9
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  core/lib/Drupal/Component/DependencyInjection/composer.json
  core/lib/Drupal/Component/EventDispatcher/composer.json
Due: ‚úÖÔ∏è PHPStan rules tests

Drupal 10.5.8
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: ‚úÖÔ∏è PHPStan rules tests

fix: #3561574 [regression] Symfony dependencies downgraded in 10.5.7 and 11.2.9
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  core/lib/Drupal/Component/DependencyInjection/composer.json
Due: ‚úÖÔ∏è PHPStan rules tests

Drupal 11.2.10
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: ‚úÖÔ∏è PHPStan rules tests

task: #3549629 Fix LongLineDeclaration in Tests/Component
  core/phpcs.xml.dist
  core/tests/Drupal/Tests/Component/Datetime/DateTimePlusTest.php
  core/tests/Drupal/Tests/Component/Diff/DiffOpOutputBuilderTest.php
  core/tests/Drupal/Tests/Component/Discovery/YamlDirectoryDiscoveryTest.php
  core/tests/Drupal/Tests/Component/Plugin/Attribute/AttributeClassDiscoveryCachedTest.php
  core/tests/Drupal/Tests/Component/Plugin/Factory/ReflectionFactoryTest.php
  core/tests/Drupal/Tests/Component/Render/FormattableMarkupTest.php
  core/tests/Drupal/Tests/Component/Render/HtmlEscapedTextTest.php
  core/tests/Drupal/Tests/Component/Render/PlainTextOutputTest.php
  core/tests/Drupal/Tests/Component/Utility/HtmlTest.php
  core/tests/Drupal/Tests/Component/Utility/UrlHelperTest.php
Due: none

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/.eslint*, core/.prettier*, core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/.stylelintrc.json, core/.prettier*, core/package.json, core/yarn.lock, **/*.css
  ‚úÖÔ∏è PHPStan rules tests: any of: core/tests/PHPStan/**/*, composer/Metapackage/PinnedDevDependencies/composer.json
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module
