Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üìã PHPUnit Unit (PHPStan rules), üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üì¶ Yarn install on minimum Node.js version

üìã PHPUnit Unit (PHPStan rules):
  stage: ‚ö°Ô∏è Tests
  needs: []
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - docker-php-ext-enable pcov
  - cd core/tests/PHPStan
  - composer install
  - vendor/bin/phpunit tests --testdox --coverage-text --colors=always --coverage-cobertura=coverage.cobertura.xml --log-junit junit.xml
  artifacts:
  ...

üßπ JavaScript linting (eslint):
  before_script:
  - cd core
  - corepack enable
  - yarn install
  - cd ..
  cache:
    key:
    - .yarn-install-from-cache
    - cache
    - key
    paths:
    - .yarn-install-from-cache
    - cache
    - paths
    policy: pull-push
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
    CACHE_FILE: core/.eslintcache
  ...

üßπ CSS linting (stylelint):
  before_script:
  - cd core
  - corepack enable
  - yarn install
  - cd ..
  cache:
    key:
      files:
      - ./core/package.json
      - ./core/yarn.lock
    paths:
    - ./core/.yarn/cache
    policy: pull
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
    CACHE_FILE: core/.stylelintcache
  script:
  ...

üì¶ Yarn install on minimum Node.js version:
  stage: ü™Ñ Lint
  image: node:20
  variables:
    KUBERNETES_CPU_REQUEST: '1'
  script:
  - cd core
  - corepack enable
  - echo -e "Node version $(node --version)\nYarn version $(corepack yarn --version)"
  - yarn install

fix: #3566351 Throwing AccessDeniedException without a route causes PHP errors
  core/lib/Drupal/Core/EventSubscriber/CsrfExceptionSubscriber.php
  core/tests/Drupal/Tests/Core/EventSubscriber/CsrfExceptionSubscriberTest.php
Due: none

fix: #3581434 Entity serialization issue in Layout Builder due to content moderation
  core/lib/Drupal/Core/Entity/ContentEntityBase.php
  core/tests/Drupal/KernelTests/Core/Entity/ContentEntityCloneTest.php
Due: none

feat: #2954834 Add poster image to HTML5 media videos
  core/.phpstan-baseline.php
  core/misc/cspell/dictionary.txt
  core/modules/file/config/schema/file.schema.yml
  core/modules/file/src/Plugin/Field/FieldFormatter/FileVideoFormatter.php
  core/modules/file/tests/src/Functional/Formatter/FileVideoFormatterTest.php
  core/modules/file/tests/src/Functional/Formatter/FileVideoPosterFormatterTest.php
Due: üßπ JavaScript linting (eslint)

perf: #3561960 Combine the database queries in ::loadFromSharedTables() and ::loadFromDedicatedTables()
  core/lib/Drupal/Core/Entity/Sql/SqlContentEntityStorage.php
  core/modules/jsonapi/tests/src/FunctionalJavascript/JsonApiPerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryAuthenticatedPerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryFrontPagePerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryNodePagePerformanceTest.php
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTest.php
Due: none

fix: #3578477 CKEditor 5 should respect <textarea disabled> dynamically
  core/modules/ckeditor5/js/ckeditor5.js
  core/modules/ckeditor5/tests/modules/ckeditor5_read_only_mode/src/Hook/Ckeditor5ReadOnlyModeHooks.php
  core/modules/ckeditor5/tests/src/FunctionalJavascript/CKEditor5ReadOnlyModeTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/AssetAggregationAcrossPagesTest.php
Due: üßπ JavaScript linting (eslint)

perf: #3184242 Support brotli compression of assets
  .htaccess
  core/assets/scaffold/files/htaccess
  core/lib/Drupal/Core/Asset/AssetDumper.php
  core/modules/system/config/install/system.performance.yml
  core/modules/system/config/schema/system.schema.yml
  core/modules/system/system.post_update.php
  core/modules/system/tests/src/Functional/Update/AssetCompressUpdatePathTest.php
  core/tests/Drupal/FunctionalTests/Asset/AssetOptimizationTest.php
  core/tests/Drupal/FunctionalTests/Asset/UnversionedAssetTest.php
  core/tests/fixtures/config_install/multilingual/system.performance.yml
  core/tests/fixtures/config_install/testing_config_install/system.performance.yml
Due: üßπ JavaScript linting (eslint)

perf: #3587415 Avoid querying for last installed schema definitions twice
  core/lib/Drupal/Core/Entity/EntityLastInstalledSchemaRepository.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryAuthenticatedPerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryFrontPagePerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryNodePagePerformanceTest.php
Due: none

task: #2907780 Add a field purger service
  core/core.services.yml
  core/lib/Drupal/Core/Field/FieldPurger.php
  core/lib/Drupal/Core/Field/FieldStorageDefinitionListener.php
  core/modules/comment/tests/src/Kernel/CommentUninstallTest.php
  core/modules/config/tests/src/Functional/ConfigImportAllTest.php
  core/modules/field/config/install/field.settings.yml
  core/modules/field/config/schema/field.schema.yml
  core/modules/field/field.api.php
  core/modules/field/field.post_update.php
  core/modules/field/field.purge.inc
  core/modules/field/src/ConfigImporterFieldPurger.php
  core/modules/field/src/Entity/FieldConfig.php
  core/modules/field/src/Entity/FieldStorageConfig.php
  core/modules/field/src/Hook/FieldHooks.php
  core/modules/field/tests/src/Functional/FieldImportDeleteUninstallUiTest.php
  core/modules/field/tests/src/Kernel/BulkDeleteTest.php
  core/modules/field/tests/src/Kernel/FieldDataCountTest.php
  core/modules/field/tests/src/Kernel/FieldImportDeleteTest.php
  core/modules/field/tests/src/Kernel/FieldImportDeleteUninstallTest.php
  core/modules/field_ui/src/Form/FieldConfigDeleteForm.php
  core/modules/system/src/Hook/SystemHooks.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityBundleFieldTest.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityDefinitionUpdateMultipleTypesTest.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityDefinitionUpdateProviderTest.php
Due: üßπ JavaScript linting (eslint)

fix: #3567230 Only overwrite mapped field values on media items when source field original value was non-empty
  core/modules/media/src/Entity/Media.php
  core/modules/media/tests/src/Kernel/MediaSourceTest.php
Due: none

task: #3502993 Convert Navigation messages component to SDC
  core/modules/navigation/components/message/message.component.yml
  core/modules/navigation/components/message/message.css
  core/modules/navigation/components/message/message.pcss.css
  core/modules/navigation/components/message/message.twig
  core/modules/navigation/navigation.libraries.yml
  core/modules/navigation/src/Hook/NavigationThemeHooks.php
  core/modules/navigation/templates/navigation--messages.html.twig
  core/profiles/demo_umami/src/Hook/DemoUmamiHooks.php
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint)

fix: #3578444 Date filter doesn't apply default offset values
  core/modules/views/src/Plugin/views/filter/Date.php
  core/modules/views/tests/src/Functional/Handler/FilterDateTest.php
Due: none

perf: follow-up #3184242 Support brotli compression of assets
  core/modules/system/tests/src/Kernel/Migrate/d6/MigrateSystemConfigurationTest.php
  core/modules/system/tests/src/Kernel/Migrate/d7/MigrateSystemConfigurationTest.php
Due: none

task: #3586616 Remove search from olivero_test module
  core/modules/search/tests/src/Nightwatch/Tests/Olivero/TestSiteOliveroInstallTestScript.php
  core/modules/search/tests/src/Nightwatch/Tests/Olivero/oliveroRemoveBlockConsoleTest.js
  core/modules/search/tests/src/Nightwatch/Tests/Olivero/oliveroSearchFormTest.js
  core/modules/system/tests/modules/olivero_test/olivero_test.info.yml
Due: üßπ JavaScript linting (eslint)

fix: follow-up #3502993 to adjust AssetAggregationAcrossPagesTest.
  core/profiles/demo_umami/tests/src/FunctionalJavascript/AssetAggregationAcrossPagesTest.php
Due: none

task: #2699565 Refactor Basic Auth kernel tests to use dependency injection
  core/modules/basic_auth/tests/modules/basic_auth_test/src/BasicAuthTestController.php
  core/modules/basic_auth/tests/src/Functional/BasicAuthTest.php
Due: none

task: #3586606 Improve performance of HelpTopicsSyntaxTest
  core/.phpstan-baseline.php
  core/modules/help/tests/modules/help_topics_twig_tester/help_topics_twig_tester.info.yml
  core/modules/help/tests/modules/help_topics_twig_tester/help_topics_twig_tester.services.yml
  core/modules/help/tests/modules/help_topics_twig_tester/src/HelpTestTwigExtension.php
  core/modules/help/tests/modules/help_topics_twig_tester/src/HelpTestTwigNodeVisitor.php
  core/modules/help/tests/src/Kernel/HelpTopicsSyntaxTest.php
Due: üßπ JavaScript linting (eslint)

feat: #3514072 SDC slots can set expectations and cardinality
  core/assets/schemas/v1/metadata-full.schema.json
  core/assets/schemas/v1/metadata.schema.json
Due: none

task: #3587725 Use ConfigImporterFactory in RecipeCommand
  core/lib/Drupal/Core/Recipe/RecipeCommand.php
Due: none

task: #3582169 Cleanup cspell ignores in Admin
  core/themes/default_admin/css/components/autocomplete-loading.module.css
  core/themes/default_admin/css/components/autocomplete-loading.module.pcss.css
  core/themes/default_admin/default_admin.info.yml
  core/themes/default_admin/js/autocomplete.js
Due: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint)

task: #3533299 Deprecate node access rebuild functions
  core/modules/comment/tests/src/Functional/CommentNodeAccessTest.php
  core/modules/content_moderation/tests/src/Functional/NodeAccessTest.php
  core/modules/field_ui/tests/src/Functional/ManageFieldsFunctionalTestBase.php
  core/modules/file/tests/src/Functional/FilePrivateTest.php
  core/modules/jsonapi/tests/src/Functional/JsonApiRegressionTest.php
  core/modules/jsonapi/tests/src/Functional/NodeTest.php
  core/modules/menu_ui/tests/src/Functional/MenuUiNodeTest.php
  core/modules/node/node.api.php
  core/modules/node/node.module
  core/modules/node/node.services.yml
  core/modules/node/src/Form/RebuildPermissionsForm.php
  core/modules/node/src/Hook/NodeHelpHooks.php
  core/modules/node/src/Hook/NodeModuleHooks.php
  core/modules/node/src/NodeAccessRebuild.php
  core/modules/node/tests/src/Functional/NodeAccessBaseTableTest.php
  core/modules/node/tests/src/Functional/NodeAccessCacheRedirectWarningTest.php
  core/modules/node/tests/src/Functional/NodeAccessCacheabilityTest.php
  core/modules/node/tests/src/Functional/NodeAccessFieldTest.php
  core/modules/node/tests/src/Functional/NodeAccessGrantsCacheContextTest.php
  core/modules/node/tests/src/Functional/NodeAccessJoinTest.php
  core/modules/node/tests/src/Functional/NodeAccessLanguageFallbackTest.php
  core/modules/node/tests/src/Functional/NodeAccessPagerTest.php
  core/modules/node/tests/src/Functional/NodeAccessRebuildNodeGrantsTest.php
  core/modules/node/tests/src/Functional/NodeAdminTest.php
  core/modules/node/tests/src/Functional/NodeQueryAlterTest.php
  core/modules/node/tests/src/Functional/Views/BulkFormAccessTest.php
  core/modules/node/tests/src/Functional/Views/FilterNodeAccessTest.php
  core/modules/node/tests/src/Functional/Views/StatusExtraTest.php
  core/modules/node/tests/src/Kernel/NodeAccessLanguageAwareCombinationTest.php
  core/modules/node/tests/src/Kernel/NodeAccessLanguageAwareTest.php
  core/modules/node/tests/src/Kernel/NodeAccessLanguageTest.php
  core/modules/node/tests/src/Kernel/NodeAccessTest.php
  core/modules/path/tests/src/Functional/PathWithNodeAccessGrantsTest.php
  core/modules/search/tests/src/Functional/SearchNodeDiacriticsTest.php
  core/modules/search/tests/src/Functional/SearchNodePunctuationTest.php
  core/modules/system/tests/src/Functional/Module/PrepareUninstallTest.php
  core/modules/user/tests/src/Functional/UserCancelTest.php
  core/modules/views/tests/src/Functional/Plugin/AccessTest.php
  core/modules/workspaces/tests/src/Kernel/WorkspaceIntegrationTest.php
Due: üßπ JavaScript linting (eslint)

task: #3581109 Move HelpSearch to Search sub-module
  core/.phpstan-baseline.php
  core/modules/help/help.install
  core/modules/help/help.post_update.php
  core/modules/help/help.services.yml
  core/modules/help/src/HelpSectionManager.php
  core/modules/help/src/Hook/HelpHooks.php
  core/modules/help/tests/fixtures/uninstall-search.php
  core/modules/help/tests/src/Functional/HelpNoSearchUpgradeTest.php
  core/modules/help/tests/src/Functional/HelpSearchHelpUpgradeTest.php
  core/modules/search/modules/search_help/config/optional/block.block.claro_help_search.yml
  core/modules/search/modules/search_help/config/optional/search.page.help_search.yml
  core/modules/search/modules/search_help/config/schema/search_help.schema.yml
  core/modules/search/modules/search_help/search_help.info.yml
  core/modules/search/modules/search_help/search_help.install
  core/modules/search/modules/search_help/src/Hook/SearchHelpHooks.php
  core/modules/search/modules/search_help/src/Plugin/Search/SearchHelpSearch.php
  core/modules/search/modules/search_help/tests/src/Functional/HelpTopicSearchTest.php
  core/modules/search/modules/search_help/tests/src/Kernel/HelpSearchPluginTest.php
  core/modules/search/tests/src/Functional/SearchAdminThemeTest.php
  core/modules/system/system.install
Due: üßπ JavaScript linting (eslint)

task: #3530640 Disable the user.login.http route by default and move to REST
  core/.phpstan-baseline.php
  core/modules/jsonapi/tests/src/Functional/UserTest.php
  core/modules/rest/rest.info.yml
  core/modules/rest/rest.routing.yml
  core/modules/rest/rest.services.yml
  core/modules/rest/src/Controller/RestAuthenticationController.php
  core/modules/rest/src/EventSubscriber/DeprecatedUserRoutesSubscriber.php
  core/modules/rest/tests/src/Functional/CookieResourceTestTrait.php
  core/modules/rest/tests/src/Functional/RestLoginHttpTest.php
  core/modules/serialization/src/EventSubscriber/UserRouteAlterSubscriber.php
  core/modules/user/tests/src/Functional/Rest/UserResourceTestBase.php
  core/modules/user/user.routing.yml
Due: üßπ JavaScript linting (eslint)

task: #3557461 Deprecate EntityTypeInterface::getOriginalClass
  core/lib/Drupal/Core/Entity/EntityType.php
  core/lib/Drupal/Core/Entity/EntityTypeInterface.php
  core/tests/Drupal/Tests/Core/Entity/EntityTypeRepositoryTest.php
  core/tests/Drupal/Tests/Core/Entity/EntityTypeTest.php
Due: none

task: #3582228 add $options and $headers parameters to HttpKernelUiHelperTrait::drupalGet()
  core/tests/Drupal/KernelTests/KernelTestHttpRequestTest.php
  core/tests/Drupal/Tests/HttpKernelUiHelperTrait.php
Due: none

task: #3583587 Convert some functional tests in system module to kernel tests
  core/modules/system/tests/src/Kernel/Datetime/TimeZoneAbbreviationRouteTest.php
  core/modules/system/tests/src/Kernel/DrupalKernel/ContentNegotiationTest.php
  core/modules/system/tests/src/Kernel/Form/ElementsContainerTest.php
  core/modules/system/tests/src/Kernel/Page/DefaultMetatagsTest.php
  core/modules/system/tests/src/Kernel/Render/RenderArrayNonHtmlSubscriberTest.php
  core/modules/system/tests/src/Kernel/ServiceProvider/ServiceProviderWebTest.php
  core/modules/system/tests/src/Kernel/System/AdminMetaTagTest.php
  core/modules/system/tests/src/Kernel/System/DefaultMobileMetaTagsTest.php
  core/modules/system/tests/src/Kernel/Theme/EngineNyanCatTest.php
  core/modules/system/tests/src/Kernel/Theme/ImageLoadingAttributeTest.php
  core/modules/system/tests/src/Kernel/Theme/TwigEnvironmentTest.php
Due: none

task: #3191278 Use plugin id to make help section headers HTML IDs
  core/modules/help/src/Controller/HelpController.php
  core/modules/help/src/Hook/HelpHooks.php
  core/modules/help/templates/help-section.html.twig
  core/modules/help/tests/src/Functional/HelpTest.php
  core/modules/help/tests/src/Functional/HelpTopicTest.php
  core/profiles/demo_umami/themes/umami/templates/classy/misc/help-section.html.twig
  core/themes/claro/templates/classy/misc/help-section.html.twig
  core/themes/stable9/templates/admin/help-section.html.twig
Due: none

task: #3585708 Preload fonts in admin theme
  core/themes/default_admin/default_admin.libraries.yml
Due: üßπ JavaScript linting (eslint)

task: #3581569 Remove user_cookie_save() and user_cookie_delete()
  core/modules/system/src/Controller/SystemController.php
  core/modules/user/user.module
Due: none

task: #3584823 Convert system module routes to use attributes
  core/modules/system/src/Controller/AdminController.php
  core/modules/system/src/Controller/Http4xxController.php
  core/modules/system/src/Controller/PerformanceController.php
  core/modules/system/src/Controller/SystemController.php
  core/modules/system/src/Controller/SystemInfoController.php
  core/modules/system/src/Controller/ThemeController.php
  core/modules/system/system.routing.yml
Due: üßπ JavaScript linting (eslint)

task: #3581802 Add kentr to the MAINTAINERS.txt
  core/MAINTAINERS.txt
Due: none

fix: #3574506 Sorting by Views result counter causes ORDER BY unknown
  core/modules/views/src/Hook/ViewsViewsHooks.php
  core/modules/views/views.post_update.php
Due: none

refactor: #3125013 Refactor update.fetch.inc into a MailHandler
  core/modules/update/src/Hook/UpdateCronHooks.php
  core/modules/update/src/Hook/UpdateHooks.php
  core/modules/update/src/Hook/UpdateRequirements.php
  core/modules/update/src/MailHandler.php
  core/modules/update/src/ProjectSecurityRequirement.php
  core/modules/update/update.fetch.inc
  core/modules/update/update.services.yml
Due: üßπ JavaScript linting (eslint)

task: #3588453 Drop unnecessary theme_preprocess_for_suggestions from keyvalue
  core/lib/Drupal/Core/Hook/HookCollectorKeyValueWritePass.php
Due: none

fix: #3579661 Call to a member function getPath() on null in EntityRouteHelper->isContentEntityRoute()
  core/modules/navigation/src/EntityRouteHelper.php
  core/modules/navigation/tests/src/Kernel/NavigationEntityRouteHelperTest.php
Due: none

Path conditions:
  üìã PHPUnit Unit (PHPStan rules): any of: core/tests/PHPStan/**/*, composer/Metapackage/PinnedDevDependencies/composer.json
  üßπ JavaScript linting (eslint): any of: core/.eslint*, core/.prettier*, core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/.stylelintrc.json, core/.prettier*, core/package.json, core/yarn.lock, **/*.css
  üì¶ Yarn install on minimum Node.js version: any of: core/package.json, core/yarn.lock
