Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Unit tests PHPStan rules, üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

Unit tests PHPStan rules:
  stage: ‚ö°Ô∏è Unit tests
  needs: []
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  script:
  - docker-php-ext-enable pcov
  - cd core/tests/PHPStan
  - composer install
  - vendor/bin/phpunit tests --testdox --coverage-text --colors=always --coverage-cobertura=coverage.cobertura.xml --log-junit junit.xml
  ...

üßπ JavaScript linting (eslint):
  before_script:
  - cd core
  - corepack enable
  - yarn install
  - cd ..
  cache:
    key:
    - .yarn-install-from-cache
    - cache
    - key
    paths:
    - .yarn-install-from-cache
    - cache
    - paths
    policy: pull-push
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
    CACHE_FILE: core/.eslintcache
  ...

üßπ CSS linting (stylelint):
  before_script:
  - cd core
  - corepack enable
  - yarn install
  - cd ..
  cache:
    key:
      files:
      - ./core/package.json
      - ./core/yarn.lock
    paths:
    - ./core/.yarn/cache
    policy: pull
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
    CACHE_FILE: core/.stylelintcache
  script:
  ...

üìî Validatable config:
  stage: ü™Ñ Lint
  variables:
    KUBERNETES_CPU_REQUEST: '2'
  artifacts:
    expire_in: 1 week
    expose_as: validatable-config
    paths:
    - HEAD.json
    - MR.json
  allow_failure:
    exit_codes:
    - 100
    - 101
    - 1
  script:
  - git checkout -f $CI_MERGE_REQUEST_DIFF_BASE_SHA
  ...

task: #3565630 Existing Safari workarounds for details element seems to be no longer needed
  core/themes/claro/css/components/details.css
  core/themes/claro/css/components/details.pcss.css
Due: üßπ CSS linting (stylelint)

refactor: #3565604 Remove an unnecessary isset() from Renderer::doRender()
  core/.phpstan-baseline.php
  core/lib/Drupal/Core/Render/Renderer.php
Due: none

refactor: #3559481 Let ImageToolkit and ImageToolkitOperations plugins be container aware and autowireable
  core/core.services.yml
  core/lib/Drupal/Core/ImageToolkit/ImageToolkitBase.php
  core/lib/Drupal/Core/ImageToolkit/ImageToolkitManager.php
  core/lib/Drupal/Core/ImageToolkit/ImageToolkitOperationBase.php
  core/lib/Drupal/Core/ImageToolkit/ImageToolkitOperationInterface.php
  core/lib/Drupal/Core/ImageToolkit/ImageToolkitOperationManager.php
  core/modules/system/src/Plugin/ImageToolkit/GDToolkit.php
  core/modules/system/tests/modules/image_test/src/Plugin/ImageToolkit/Operation/test/Autowiring.php
  core/tests/Drupal/KernelTests/Core/Image/ToolkitTest.php
  core/tests/Drupal/Tests/Core/Image/ImageDeprecationTest.php
  core/tests/Drupal/Tests/Core/Image/ImageTest.php
  core/tests/Drupal/Tests/Traits/Core/Image/ToolkitTestTrait.php
Due: üßπ JavaScript linting (eslint)

task: #3370326 Refine labels and descriptions for field types
  core/core.field_type_categories.yml
  core/lib/Drupal/Core/Field/FieldTypeCategory.php
  core/lib/Drupal/Core/Field/FieldTypeCategoryInterface.php
  core/lib/Drupal/Core/Field/FieldTypeCategoryManager.php
  core/lib/Drupal/Core/Field/Plugin/Field/FieldType/BooleanItem.php
  core/lib/Drupal/Core/Field/Plugin/Field/FieldType/DecimalItem.php
  core/lib/Drupal/Core/Field/Plugin/Field/FieldType/EmailItem.php
  core/lib/Drupal/Core/Field/Plugin/Field/FieldType/EntityReferenceItem.php
  core/lib/Drupal/Core/Field/Plugin/Field/FieldType/FloatItem.php
  core/lib/Drupal/Core/Field/Plugin/Field/FieldType/IntegerItem.php
  core/lib/Drupal/Core/Field/Plugin/Field/FieldType/StringItem.php
  core/lib/Drupal/Core/Field/Plugin/Field/FieldType/StringLongItem.php
  core/lib/Drupal/Core/Field/Plugin/Field/FieldType/TimestampItem.php
  core/lib/Drupal/Core/Field/PreconfiguredFieldUiOptionsInterface.php
  core/modules/comment/src/Plugin/Field/FieldType/CommentItem.php
  core/modules/datetime/src/Plugin/Field/FieldType/DateTimeItem.php
  core/modules/datetime_range/src/Plugin/Field/FieldType/DateRangeItem.php
  core/modules/field_ui/src/Form/FieldStorageAddForm.php
  core/modules/field_ui/tests/src/FunctionalJavascript/ManageFieldsTest.php
  core/modules/file/file.field_type_categories.yml
  core/modules/file/src/Plugin/Field/FieldType/FileItem.php
  core/modules/image/src/Plugin/Field/FieldType/ImageItem.php
  core/modules/link/src/Plugin/Field/FieldType/LinkItem.php
  core/modules/media/src/Hook/MediaHooks.php
  core/modules/media/tests/src/FunctionalJavascript/MediaTypeCreationTest.php
  core/modules/node/src/Hook/NodeFieldHooks.php
  core/modules/options/options.field_type_categories.yml
  core/modules/options/src/Plugin/Field/FieldType/ListIntegerItem.php
  core/modules/options/src/Plugin/Field/FieldType/ListStringItem.php
  core/modules/system/tests/src/Functional/UpdateSystem/UpdatePathTestBaseFilledTest.php
  core/modules/taxonomy/src/Hook/TaxonomyFieldHooks.php
  core/modules/telephone/src/Plugin/Field/FieldType/TelephoneItem.php
  core/modules/text/src/Hook/TextHooks.php
  core/modules/text/src/Plugin/Field/FieldType/TextItem.php
  core/modules/text/src/Plugin/Field/FieldType/TextLongItem.php
  core/modules/text/src/Plugin/Field/FieldType/TextWithSummaryItem.php
  core/modules/text/text.field_type_categories.yml
  core/modules/user/src/Hook/UserFieldHooks.php
  core/tests/Drupal/KernelTests/Core/Field/FieldItemTest.php
Due: üßπ JavaScript linting (eslint), üìî Validatable config

task: #3568370 Update PHPStan to 2.1.34
  composer.json
  composer.lock
  composer/Metapackage/DevDependencies/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  core/.phpstan-baseline.php
  core/tests/PHPStan/composer.json
Due: Unit tests PHPStan rules

feat: #3556794 preprocess_HOOK__candidates in themes can be assigned to module invoke maps
  core/lib/Drupal/Core/Hook/HookCollectorPass.php
  core/lib/Drupal/Core/Hook/ThemeHookCollectorPass.php
  core/lib/Drupal/Core/Theme/Registry.php
  core/tests/Drupal/KernelTests/Core/Theme/RegistryTest.php
Due: none

feat: #3566776 Move _block_content_has_reusable_condition() to a protected method
  core/modules/block_content/block_content.module
  core/modules/block_content/src/Hook/BlockContentHooks.php
Due: üìî Validatable config

perf: #3493290 Try to reduce the number of database queries in MenuTreeStorage::rebuild()
  core/lib/Drupal/Core/Menu/MenuTreeStorage.php
Due: none

feat: #3535230 Reverted revision is not listed on the version history when using Set as current revision
  core/modules/node/src/Form/NodeRevisionRevertForm.php
  core/modules/node/tests/src/Functional/NodeRevisionsTest.php
Due: none

Revert "feat: #3535230 Reverted revision is not listed on the version history when using Set as current revision"
  core/modules/node/src/Form/NodeRevisionRevertForm.php
  core/modules/node/tests/src/Functional/NodeRevisionsTest.php
Due: none

task: #3520472 Deprecate the History module
  core/modules/history/history.info.yml
  core/modules/history/tests/src/Functional/CommentCSSTest.php
  core/modules/history/tests/src/Functional/CommentEntityTest.php
  core/modules/history/tests/src/Functional/CommentFieldsTest.php
  core/modules/history/tests/src/Functional/CommentNewIndicatorTest.php
  core/modules/history/tests/src/Functional/CommentTokenReplaceTest.php
  core/modules/history/tests/src/Functional/CommentsHistoryTest.php
  core/modules/history/tests/src/Functional/GenericTest.php
  core/modules/history/tests/src/Functional/HistoryTest.php
  core/modules/history/tests/src/Kernel/Views/HistoryTimestampTest.php
  core/modules/history/tests/src/Unit/HistoryCommentLinkBuilderTest.php
  core/modules/history/tests/src/Unit/HistoryTokensHooksTest.php
Due: üßπ JavaScript linting (eslint)

task: #3557103 Change use of Contact in ajax_test test module
  core/modules/system/tests/modules/ajax_test/ajax_test.info.yml
  core/modules/system/tests/modules/ajax_test/src/Controller/AjaxTestController.php
  core/modules/system/tests/modules/dialog_test/dialog_test.info.yml
  core/modules/system/tests/modules/dialog_test/dialog_test.routing.yml
  core/modules/system/tests/modules/dialog_test/src/DialogTestEntityEditForm.php
  core/modules/system/tests/modules/dialog_test/src/Entity/DialogTestEntityForm.php
  core/tests/Drupal/FunctionalJavascriptTests/Ajax/DialogTest.php
Due: üßπ JavaScript linting (eslint)

docs: #3563727 Fix PHPStan missingType.generics for \ArrayIterator not specifying its types
  composer/Plugin/Scaffold/Operations/ScaffoldFileCollection.php
  core/.phpstan-baseline.php
  core/lib/Drupal/Core/Config/Schema/ArrayElement.php
  core/lib/Drupal/Core/Entity/ContentEntityBase.php
  core/lib/Drupal/Core/Entity/Plugin/DataType/ConfigEntityAdapter.php
  core/lib/Drupal/Core/Entity/Plugin/DataType/EntityAdapter.php
  core/lib/Drupal/Core/Template/Attribute.php
  core/lib/Drupal/Core/Template/AttributeArray.php
  core/lib/Drupal/Core/TypedData/Plugin/DataType/Map.php
  core/modules/jsonapi/src/JsonApiResource/Data.php
  core/modules/jsonapi/src/JsonApiResource/ErrorCollection.php
  core/modules/jsonapi/src/JsonApiResource/LinkCollection.php
  core/modules/jsonapi/src/Normalizer/Value/TemporaryArrayObjectThrowingExceptions.php
  core/modules/jsonapi/tests/modules/jsonapi_test_data_type/src/TraversableObject.php
Due: none

feat: #3566879 Deprecate comment_preview() logic to CommentForm
  core/modules/comment/comment.module
  core/modules/comment/src/CommentForm.php
Due: üìî Validatable config

perf: #3564689 Combine multiple cardinality field loading into a single database query
  core/lib/Drupal/Core/Entity/Sql/SqlContentEntityStorage.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryAuthenticatedPerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryFrontPagePerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryNodePagePerformanceTest.php
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTest.php
Due: none

Path conditions:
  Unit tests PHPStan rules: any of: core/tests/PHPStan/**/*, composer/Metapackage/PinnedDevDependencies/composer.json
  üßπ JavaScript linting (eslint): any of: core/.eslint*, core/.prettier*, core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/.stylelintrc.json, core/.prettier*, core/package.json, core/yarn.lock, **/*.css
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module, **/src/Hook/*.php
