Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üìî Validatable config

Path conditions:
  üßπ JavaScript linting (eslint): any of: core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/package.json, core/yarn.lock, **/*.css
  üìî Validatable config: any of: **/config/schema/*.schema.yml, **/*.module

Issue #3266160 by smustgrave, alex.skrypnyk, tannguyenhn, beatrizrodrigues, joachim, larowlan: Composer Scaffold plugin calls dispatch() instead of dispatchScript()
  composer/Plugin/Scaffold/Handler.php
  core/tests/Drupal/Tests/Composer/Plugin/Scaffold/fixtures/composer-plugin-implements-scaffold-events/src/ComposerPluginImplementsScaffoldEvents.php
Due: none

Issue #3427374 by danflanagan8, Vighneshh: taxonomy_tid ViewsArgumentDefault plugin doesn't add cache tags
  core/modules/taxonomy/src/Plugin/views/argument_default/Tid.php
  core/modules/taxonomy/tests/src/Kernel/Views/TaxonomyDefaultArgumentTest.php
Due: none

Issue #3444748 by kim.pepper, bbrala, andypost: Refactor JSON-API file uploads to use FileUploadHandler
  core/modules/jsonapi/jsonapi.services.yml
  core/modules/jsonapi/src/Controller/FileUpload.php
  core/modules/jsonapi/src/Controller/TemporaryJsonapiFileFieldUploader.php
  core/modules/jsonapi/tests/src/Functional/FileUploadTest.php
  core/modules/jsonapi/tests/src/Kernel/Controller/FileUploadTest.php
Due: üßπ JavaScript linting (eslint)

Issue #3446542 by mondrake: Replace @before*|@after* test annotations with attributes
  core/tests/Drupal/KernelTests/KernelTestBase.php
  core/tests/Drupal/TestTools/Extension/RequiresComposerTrait.php
Due: none

Issue #3443748 by NexusNovaz, smustgrave: Testcase creates false positive
  core/modules/system/tests/src/Functional/Menu/LocalTasksTest.php
Due: none

Issue #3071446 by marcvangend, Kirst25, dcam, guptahemant, Lendude, nod_: Remove invalid iframe attributes from oembed field formatter
  core/modules/media/css/oembed.formatter.css
  core/modules/media/src/Plugin/Field/FieldFormatter/OEmbedFormatter.php
  core/modules/media/tests/src/Functional/FieldFormatter/OEmbedFormatterTest.php
  core/themes/stable9/css/media/oembed.formatter.css
Due: üßπ CSS linting (stylelint)

Issue #3371937 by yash.rode, Abhijith S, smustgrave, fgm: Theme declaration and templates mismatch for feed_icon
  core/includes/theme.inc
  core/modules/system/tests/src/Kernel/Common/AddFeedTest.php
Due: none

Issue #3446577 by mondrake: Prepare test docblocks for annotation conversion to attributes
  core/modules/rest/tests/src/Unit/EventSubscriber/ResourceResponseSubscriberTest.php
  core/modules/system/tests/src/Unit/Menu/MenuLinkTreeTest.php
  core/modules/views/tests/src/Kernel/Plugin/SqlQueryTest.php
  core/tests/Drupal/FunctionalTests/Core/Recipe/RecipeCommandTest.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityBundleListenerTest.php
  core/tests/Drupal/Tests/Component/Annotation/Doctrine/DocParserTest.php
  core/tests/Drupal/Tests/Component/Annotation/Doctrine/Ticket/DCOM58Test.php
  core/tests/Drupal/Tests/Component/Datetime/TimeTest.php
  core/tests/Drupal/Tests/Component/DependencyInjection/ReverseContainerTest.php
  core/tests/Drupal/Tests/Component/Utility/XssTest.php
  core/tests/Drupal/Tests/Core/Access/AccessResultTest.php
  core/tests/Drupal/Tests/Core/Batch/PercentagesTest.php
  core/tests/Drupal/Tests/Core/Cache/CacheableMetadataTest.php
  core/tests/Drupal/Tests/Core/Entity/EntityUnitTest.php
  core/tests/Drupal/Tests/Core/Extension/ModuleHandlerTest.php
  core/tests/Drupal/Tests/Core/Form/ConfirmFormHelperTest.php
  core/tests/Drupal/Tests/Core/Render/BubbleableMetadataTest.php
  core/tests/Drupal/Tests/Core/Render/PlaceholderGeneratorTest.php
  core/tests/Drupal/Tests/Core/Routing/UrlGeneratorTest.php
  core/tests/Drupal/Tests/Core/Test/TestSetupTraitTest.php
  core/tests/Drupal/Tests/Core/Update/UpdateRegistryTest.php
  core/tests/Drupal/Tests/Scripts/TestSiteApplicationTest.php
Due: none

Issue #3446962 by kim.pepper: Remove incorrectly added InputStreamUploadedFile::supportsMoveUploadedFile()
  core/modules/file/src/Upload/InputStreamUploadedFile.php
Due: none

Issue #3446936 by xjm, longwave: Recommend PHP 8.3 in Drupal 10.3
  core/lib/Drupal.php
Due: none

Issue #3446967 by kim.pepper, alexpott: [11.x] Remove deprecated methods in InputStreamUploadedFile
  core/modules/file/src/Upload/InputStreamUploadedFile.php
Due: none

Issue #3445525 by alexpott, japerry, catch, mglaman, longwave: Add BC layer for contrib modules using ContainerAwareEventDispatcher as a typehint (BC fix for #2909185)
  core/core.services.yml
  core/lib/Drupal/Component/EventDispatcher/ContainerAwareEventDispatcher.php
  core/lib/Drupal/Core/CoreServiceProvider.php
  core/lib/Drupal/Core/DependencyInjection/Compiler/RegisterEventSubscribersPass.php
  core/modules/layout_builder/tests/src/Unit/SectionRenderTest.php
  core/tests/Drupal/Tests/Component/EventDispatcher/ContainerAwareEventDispatcherTest.php
  core/tests/Drupal/Tests/Core/EventSubscriber/RedirectResponseSubscriberTest.php
Due: üßπ JavaScript linting (eslint)
