Repository drupal/drupal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üìã PHPUnit Unit (PHPStan rules), üßπ JavaScript linting (eslint), üßπ CSS linting (stylelint), üì¶ Yarn install on minimum Node.js version

Path conditions:
  üìã PHPUnit Unit (PHPStan rules): any of: core/tests/PHPStan/**/*, composer/Metapackage/PinnedDevDependencies/composer.json
  üßπ JavaScript linting (eslint): any of: core/.eslint*, core/.prettier*, core/package.json, core/yarn.lock, **/*.js, **/*.yml
  üßπ CSS linting (stylelint): any of: core/.stylelintrc.json, core/.prettier*, core/package.json, core/yarn.lock, **/*.css
  üì¶ Yarn install on minimum Node.js version: any of: core/package.json, core/yarn.lock

task: #3592382 Update Twig to v3.27.0
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  core/composer.json
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: üìã PHPUnit Unit (PHPStan rules)

fix: #3592341 Fix dot-segment encoding for chained ../ and ./ in generated URLs
  core/lib/Drupal/Core/Routing/UrlGenerator.php
  core/tests/Drupal/Tests/Core/Routing/UrlGeneratorTest.php
Due: none

task: #3592421 Update Symfony routing and http-foundation versions
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  core/composer.json
  core/lib/Drupal/Component/HttpFoundation/composer.json
Due: none

fix: #3592341 Fix dot-segment encoding for chained "../" and "./" in generated URLs
  core/lib/Drupal/Core/Routing/UrlGenerator.php
  core/tests/Drupal/Tests/Core/Routing/UrlGeneratorTest.php
Due: none

task: #3581303 Convert locale batch callbacks
  core/modules/locale/src/Form/TranslationStatusForm.php
Due: none

Drupal 11.3.11
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: üìã PHPUnit Unit (PHPStan rules)

Back to dev.
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: üìã PHPUnit Unit (PHPStan rules)

Drupal 11.2.13
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: üìã PHPUnit Unit (PHPStan rules)

Drupal 10.6.10
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: üìã PHPUnit Unit (PHPStan rules)

Drupal 10.5.11
  composer.lock
  composer/Metapackage/CoreRecommended/composer.json
  composer/Metapackage/PinnedDevDependencies/composer.json
  composer/Template/LegacyProject/composer.json
  composer/Template/RecommendedProject/composer.json
  core/lib/Drupal.php
  core/lib/Drupal/Component/Annotation/composer.json
  core/lib/Drupal/Component/Datetime/composer.json
  core/lib/Drupal/Component/Discovery/composer.json
  core/lib/Drupal/Component/FrontMatter/composer.json
  core/lib/Drupal/Component/Gettext/composer.json
  core/lib/Drupal/Component/PhpStorage/composer.json
  core/lib/Drupal/Component/Render/composer.json
Due: üìã PHPUnit Unit (PHPStan rules)

task: #3503843 Remove automatic preloading of all "public" routes, cache routes in fast chained bin
  core/.phpstan-baseline.php
  core/core.services.yml
  core/lib/Drupal/Core/Routing/RoutePreloader.php
  core/lib/Drupal/Core/Routing/RouteProvider.php
  core/modules/jsonapi/tests/src/FunctionalJavascript/JsonApiPerformanceTest.php
  core/modules/system/system.post_update.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryAuthenticatedPerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryFrontPagePerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryNodePagePerformanceTest.php
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTest.php
  core/tests/Drupal/Tests/Core/Routing/RoutePreloaderTest.php
Due: üßπ JavaScript linting (eslint)

task: #3503843 Remove automatic preloading of all public routes, cache routes in fast chained bin
  core/.phpstan-baseline.php
  core/core.services.yml
  core/lib/Drupal/Core/Routing/RoutePreloader.php
  core/lib/Drupal/Core/Routing/RouteProvider.php
  core/modules/jsonapi/tests/src/FunctionalJavascript/JsonApiPerformanceTest.php
  core/modules/system/system.post_update.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryAuthenticatedPerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryFrontPagePerformanceTest.php
  core/profiles/demo_umami/tests/src/FunctionalJavascript/OpenTelemetryNodePagePerformanceTest.php
  core/profiles/standard/tests/src/FunctionalJavascript/StandardPerformanceTest.php
  core/tests/Drupal/Tests/Core/Routing/RoutePreloaderTest.php
Due: üßπ JavaScript linting (eslint)

docs: #3569674 Fix remaining PHPStan missingType.generics errors (level 1)
  core/.phpstan-baseline.php
  core/lib/Drupal/Component/Annotation/Doctrine/StaticReflectionClass.php
  core/lib/Drupal/Core/Config/TypedConfigManager.php
  core/lib/Drupal/Core/Config/TypedConfigManagerInterface.php
  core/lib/Drupal/Core/Entity/FieldableEntityInterface.php
  core/lib/Drupal/Core/Field/FormatterInterface.php
  core/lib/Drupal/Core/Field/FormatterPluginManager.php
  core/lib/Drupal/Core/Plugin/Discovery/DirectoryWithMetadataDiscovery.php
  core/lib/Drupal/Core/Routing/Enhancer/ParamConversionEnhancer.php
  core/lib/Drupal/Core/TypedData/Plugin/DataType/ItemList.php
  core/lib/Drupal/Core/TypedData/TypedDataInterface.php
  core/modules/layout_builder/src/Plugin/Block/FieldBlock.php
  core/modules/views/src/Plugin/views/field/EntityField.php
  core/tests/Drupal/Tests/Core/Entity/EntityFieldManagerTest.php
  core/tests/PHPStan/tests/ComponentTestDoesNotExtendCoreTestTest.php
Due: üìã PHPUnit Unit (PHPStan rules)

fix: #3585716 EntityQuery uses hard-coded langcode in revision-data joins, breaking translatable revisionable entities with custom langcode keys
  core/lib/Drupal/Core/Entity/Query/Sql/Tables.php
  core/tests/Drupal/KernelTests/Core/Entity/EntityQueryTest.php
Due: none

fix: #3280235 Calling code can not collect bubbled attachments from TextProcessed
  core/modules/text/src/TextProcessed.php
  core/modules/text/tests/src/Kernel/TextProcessedAttachmentsTest.php
  core/modules/text/tests/src/Unit/TextProcessedTest.php
Due: none

task: #3589208 Always use the file contents to determine asset aggregate filename hashes
  core/lib/Drupal/Core/Asset/AssetGroupSetHashTrait.php
Due: none

fix: #3584277 [random test failure] ComposerRequirementTest::testComposerInfoShown
  core/modules/package_manager/tests/modules/package_manager_test_validation/package_manager_test_validation.services.yml
  core/modules/package_manager/tests/modules/package_manager_test_validation/src/TestExecutableFinder.php
Due: üßπ JavaScript linting (eslint)
